.BBHSprintSectionIdboys .margin-top-190 {
    margin-top: 190px !important;
}

.BBHSprintSectionIdboys .width-172 {
    width: 172PX;
}

.BBHSprintSectionIdboys .width-237 {
    width: 237px;
}

.BBHSprintSectionIdboys .width-81 {
    width: 80px;
}

.BBHSprintSectionIdboys .width-191 {
    width: 191px;
}

.BBHSprintSectionIdboys .width-141 {
    width: 141px;
}

.BBHSprintSectionIdboys .width-86 {
    width: 86px;
}

.BBHSprintSectionIdboys .width-198 {
    width: 198px;
}

.BBHSprintSectionIdboys .width-86 {
    width: 86px;
}

.BBHSprintSectionIdboys .width-133 {
    width: 133px;
}

.BBHSprintSectionIdboys .width-230 {
    width: 230px;
}

.BBHSprintSectionIdboys .width-186 {
    width: 186px;
}

.BBHSprintSectionIdboys .width-114 {
    width: 114px;
}

.BBHSprintSectionIdboys .width-404 {
    width: 404px;
}

/*.BCOEStudentTc .table {
    width: 90%;
    margin: auto;
    border: none !important;
    text-align: left !important;
    font-weight: 500;
    font-size: 14px !important;
    margin-bottom: 15px;
}*/

.BBHSStudentTc table {
    table-layout: fixed;
    width: 100%;
    border: none !important;
}

.BBHSStudentTc .table {
    border: none !important;
    text-align: left !important;
    font-weight: 500;
}

.BBHSprintSectionIdboys {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-weight: 500;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 14px !important;
}

    /*.BGHsprintSectionIdgirls .table {
    border: none !important;
    width: 90%;
    margin: auto;
}*/

    .BBHSprintSectionIdboys .flower .flower-bracket {
        font-size: 0.8in !important;
        text-align: center;
    }

    .BBHSprintSectionIdboys .flower {
        padding-left: 15px;
    }

        .BBHSprintSectionIdboys .flower .label {
            font-size: 14px !important;
            color: #333;
            font-weight: normal;
            text-align: left;
            padding-top: 30px;
            line-height: 1.5;
        }

/*.BGHsprintSectionIdgirls .border-bottom {
    border-bottom: 1px solid #000 !important;
    text-align: center;
    font-family: lucida calligraphy;
}*/
