/*@media print {
    @page {
        size: 7.6in 10.5in;
        margin: 2.5in;
        margin-bottom: 0px !important;
        margin:auto;
    }

    body {
        margin-top: 1.5in !important;
        line-height: 1.8;
        margin:0.5in;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    label {
        font-size: 18px !important;
    }

    table {
        font-size: 18px !important;
    }

    .table {
        width: 40%;
        border: none !important;
        text-align: left !important;
        font-weight: 500;
        font-size: 15px !important;
        margin-bottom: 15px;
        line-height: 2;
    }

 
        #BBStudyCert p {
            line-height: 2;
            font-size: 18px;
            text-align: justify;
            text-justify: inter-word;
        }

        #BBStudyCert #studyimg img {
            width: 120px;
            height: 150px;
        }
}*/

@media print {
    @page {
        padding:0px !important;
        size: 7.6in 10.5in;
        /*margin: 3in;*/
        margin-bottom: 0px !important;
        margin: auto;
    }

    body {
        margin-top: 1.5in !important;
        line-height: 1.8;
        margin: 0.5in;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    label {
        font-size: 18px !important;
    }

    table {
        font-size: 18px !important;
    }

    .table {
        width: 40%;
        border: none !important;
        text-align: left !important;
        font-weight: 500;
        font-size: 15px !important;
        margin-bottom: 15px;
        line-height: 2;
    }


    #BBStudyCert p {
        line-height: 2;
        font-size: 18px;
        text-align: justify;
        text-justify: inter-word;
    }

    #BBStudyCert #studyimg img {
        width: 120px;
        height: 150px;
    }
}
