<section class="content" ng-init="loaddata()">
    <div data-ng-init="">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    COE Report
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
                    <div class="row text-center">
                        <div class="col-sm-6 col-sm-offset-3">

                            <div class="text-center well" ng-show="labeldisable">
                                <label class="text-danger">Please Select Radio Button to Proceed</label>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="well">
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" value="1" name="all1" data-ng-model="all1" ng-click="onradiobuttonSelect(all1)" required>
                                        <span class="lbl padding-8">Monthly</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="2" name="all1" data-ng-model="all1" ng-click="onradiobuttonSelect(all1)" required>
                                        <span class="lbl padding-8">Classwise</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="3" name="all1" data-ng-model="all1" ng-click="onradiobuttonSelect(all1)" required>
                                        <span class="lbl padding-8">Between Date</span>
                                    </label>
                                </div>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.all1)" ng-messages="myForm.all1.$error">
                                <div ng-message="required">Select any one of the radio button</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="all1==1 || all1==2 || all1==3">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year: <span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="Year" name="acd" required>
                                        <option value="">--Select-- </option>
                                        <option ng-repeat="option in year" value="{{option.hrmlY_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.hrmlY_LeaveYear}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.acd)" ng-messages="myForm.acd.$error">
                                        <div ng-message="required">Select Academic Year</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group" ng-show="all1==1">
                                <label class="control-label col-sm-4">Month: <span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="month" name="mnth" ng-required="all1==1">
                                        <option value="">--Select-- </option>
                                        <option value="01">JANUARY</option>
                                        <option value="02">FEBRUARY</option>
                                        <option value="03">MARCH</option>
                                        <option value="04">APRIL</option>
                                        <option value="05">MAY</option>
                                        <option value="06">JUNE</option>
                                        <option value="07">JULY</option>
                                        <option value="08">AUGUST</option>
                                        <option value="09">SEPTEMBER</option>
                                        <option value="10">OCTOBER</option>
                                        <option value="11">NOVEMBER</option>
                                        <option value="12">DECEMBER</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.mnth)" ng-messages="myForm.mnth.$error">
                                        <div ng-message="required">Select Month</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="all1==2">
                                <label class="control-label col-sm-4">Class: <span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="ASMCL_Id" ng-required="all1==2" name="clsname">
                                        <option value="">--Select--</option>
                                        <option ng-repeat="option in classDrpdwn" value="{{option.asmcL_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.asmcL_ClassName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.clsname)" ng-messages="myForm.clsname.$error">
                                        <div ng-message="required">Select Class</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-show="all1==3">
                                <label class="control-label col-sm-4">From Date:<strong style="color:red;">*</strong></label>
                                <md-datepicker name="sch_date" onkeydown="return false" ng-model="fromdate"  md-placeholder="Enter From date" ng-required="all1==3"></md-datepicker>

                                <div class="error-messages" ng-if="interacted(myForm.sch_date)" ng-messages="myForm.sch_date.$error">
                                    <div ng-message="required">Select Date</div>
                                    <div ng-message="valid">The entered value is not a date!</div>
                                </div>
                            </div>

                            <div class="form-group" ng-show="all1==3">
                                <label class="control-label col-sm-4">To Date:<strong style="color:red;">*</strong></label>
                                <md-datepicker name="sch_date2" onkeydown="return false" ng-model="enddate" md-placeholder="Enter To date" ng-required="all1==3"></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.sch_date2) " ng-messages="myForm.sch_date2.$error">
                                    <div ng-message="required">Select Date</div>
                                    <div ng-message="valid">The entered value is not a date!</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <hr />
                <div class="text-center">
                    <md-button type="button" class="md-raised md-primary" id="submit" ng-click="getReport()">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Report
                    </md-button>
                    <!--<md-button type="button" class="md-raised md-primary"  id="exp-btn" ng-disabled="true">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        Export to Excel
                    </md-button>
                    <md-button type="button" class="md-raised md-primary" id="prnt-btn" ng-disabled="true">
                        <i class="fa fa-print" aria-hidden="true"></i>
                     Print
                    </md-button>-->

                    <md-button type="button" class="md-raised md-warn" ng-click="clear()" id="clr-btn">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Clear
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="!grid_view" ng-click="exportToExcel('#printrcp')">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Export
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="!grid_view" ng-click="printToCart()">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Print
                    </md-button>
                </div>
            </div>
        </div>
        <div class="box box-primary" ng-show="grid_view">
            <div class="box-header with-border">
                <h3 class="box-title">COE REPORT</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" ng-if="count > 0">
                <div ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination class="grid text-center" style="height: 270px;"></div><!--  ui-grid-edit-->
            </div>
            <table class="table table-hover table-responsive table-bordered text-center" id="printrcp1" ng-show="false">
                <thead>
                    <tr>
                        <th>
                            <a>SL NO</a>
                        </th>
                        <th>
                            <a>Event Name</a>
                        </th>
                        <th><a>Event Description</a> </th>
                        <th><a>Event Start Date</a> </th>
                        <th><a>Event End Date</a> </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in gridOptions.data">
                        <!--<tr ng-repeat="user in studentsdata | orderBy:predicate:default | filter:paginate| filter:search" ng-class-odd="'odd'">-->
                        <td>{{$index+1}}</td>
                        <td>{{ user.eventName}}</td>
                        <td>{{ user.eventDesc}}</td>
                        <td>{{ user.coeE_EStartDate |date:'dd-MM-yyyy'}}</td>
                        <td>{{ user.coeE_EEndDate |date:'dd-MM-yyyy'}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div id="printrcp" ng-show="printsection">
        <div class="">
            <div class="baldwin text-center"  ng-hide="exportflag==true">
                <img src="{{imgname}}" class="img-responsive" >
            </div>
        </div>
        <center> <h4><u>COE REPORT</u></h4></center>
        <table class="table table-responsive" id="table" border="1">
            <thead>
                <tr>
                    <th>SL.NO</th>
                    <th>Event Name</th>
                    <th>Event Description</th>
                    <th>Event Start Date</th>
                    <th>Event End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in gridOptions.data">
                    <td>{{$index+1}}</td>
                    <td>{{ user.eventName}}</td>
                    <td>{{ user.eventDesc}}</td>
                    <td>{{ user.coeE_EStartDate |date:'dd-MM-yyyy'}}</td>
                    <td>{{ user.coeE_EEndDate |date:'dd-MM-yyyy'}}</td>
                </tr>
            </tbody>
            <tfoot class="text-center" style="border:none;">
                <tr>
                    <td>
                        Date:{{ddate|date:'dd/MM/yyyy'}} UserName: {{usrname}}  {{coptyright}}
                    </td>
                </tr>

            </tfoot>
        </table>

    </div>


</section>