<section class="content">
    <div data-ng-init="loadData()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">COE</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Event Name: <span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select ng-model="COEME_Id" class="form-control" name="event" ng-change="getEvents()" required>
                                        <option value="">--Select--</option>
                                        <option ng-repeat="e in Events" value="{{e.coemE_Id}}">{{e.coemE_EventName}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.event)" ng-messages="myForm.event.$error">
                                        <div ng-message="required"> Select Event Name</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div ng-show="EventsDetails.length > 0">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">To Whom: <span style="color:Red">*</span></label>
                                    <div class="col-sm-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="optradio_stud" ng-model="stud_chk" /> <!--ng-required="stud_chk==false && stf_chk==false && oth_chk==false"-->
                                            <span class="lbl padding-8">Student</span>
                                        </label>
                                        <!--<label class="checkbox-inline">
                                            <input type="checkbox" name="optradio_oldstud" ng-model="oldstud_chk">
                                            <span class="lbl padding-8">Old Student</span>
                                        </label>-->
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="optradio_stf" ng-model="stf_chk" /><!--ng-required="stf_chk==false && stud_chk==false && oth_chk==false"-->
                                            <span class="lbl padding-8">Staff</span>
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="optradio_oth" ng-model="oth_chk" /> <!--ng-required="oth_chk==false && stf_chk==false  && stud_chk==false">-->
                                            <span class="lbl padding-8">Others</span>
                                        </label>
                                    </div>
                                    <!--<div class="col-sm-8 error-messages" ng-if="interacted(myForm.optradio_select)" ng-messages="myForm.optradio_select.$error">
                                        <div ng-message="required">Select Atleast One Check Box</div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" ng-show="stud_chk">
                                <!--ng-if="stud_chk=='1'"-->

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Class :<span style="color:Red">*</span></label>
                                    <div class="multiselect col-sm-8">
                                        <label>
                                            <input name="classes" value="usercheck" ng-model="usercheck" type="checkbox" data-ng-click="all_check(usercheck)">
                                            <span class="lbl padding-8">
                                                All
                                            </span>
                                        </label>
                                        <label ng-model="class" ng-repeat="option in classList" value="{{option.asmcL_Id}}" ng-click="binddata(class_list)">
                                            <input name="classes" value="class" data-ng-model="option.class" type="checkbox" ng-required="isOptionsRequired();" ng-click="togchkbx();">
                                            <span class="lbl padding-8">
                                                {{option.asmcL_ClassName}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-sm-8 error-messages" ng-if="interacted(myForm.classes)" ng-messages="myForm.classes.$error">
                                        <div ng-message="required">Select Atleast one Checkbox</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-show="stf_chk">
                                <!--ng-if="stf_chk=='1'"-->
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Staff :<span style="color:Red">*</span></label>
                                    <div class="multiselect col-sm-8">
                                        <label>
                                            <input name="sections" value="1" ng-model="usercheck1" type="checkbox" data-ng-click="all_check1()">
                                            <span class="lbl padding-8">
                                                All
                                            </span>
                                        </label>
                                        <label data-ng-model="sec" ng-repeat="group in groupTypeList" value="{{group.hrmgT_Id}}" ng-click="binddata(groupTypeList)">
                                            <input name="groups" value="{{group.hrmgT_Id}}" data-ng-model="group.Selected" type="checkbox" ng-required="isOptionsRequired1();" ng-click="togchkbx1();">
                                            <span class="lbl padding-8">
                                                {{group.hrmgT_EmployeeGroupType}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-sm-8 error-messages" ng-if="interacted(myForm.groups)" ng-messages="myForm.groups.$error">
                                        <div ng-message="required">Select Atleast one Checkbox</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-show="oth_chk">
                                <div class="form-group">


                                    <label class="control-label col-sm-4">Name: <span style="color:Red">*</span></label>
                                    <div class="col-sm-8">
                                        <!--ng-pattern="/^[7-9]{1,1}[0-9]{9,9}?$/"-->
                                        <input class="form-control" type="text" data-ng-model="Oters_Name" allow-pattern="[a-zA-Z ]" name="oth_nam" placeholder="Enter Name" ng-required="oth_chk=='1' && mobilecount==0">
                                        <div class="error-messages" ng-if="interacted(myForm.oth_nam)" ng-messages="myForm.oth_nam.$error">
                                            <div ng-message="required">Please Enter Atleast One Name</div>
                                        </div>
                                    </div>

                                    <br />

                                    <label class="control-label col-sm-4">Mobile No: <span style="color:Red">*</span></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" ng-pattern="/^[7-9]{1,1}[0-9]{0,}?$/" allow-pattern="\d" maxlength="10" ng-minlength="10" data-ng-model="Oters_Mob_No" name="mobile_no" placeholder="Enter Mobile No." ng-required="oth_chk=='1' && mobilecount==0">
                                        <div class="error-messages" ng-if="interacted(myForm.mobile_no)" ng-messages="myForm.mobile_no.$error">
                                            <div ng-message="pattern">Mobile No. Should Starts From 7 Or 8 or 9</div>
                                            <div ng-message="required">Please  Enter Atleast One Mobile No</div>
                                            <div ng-message="minlength">Please Enter 10 Digit Mobile No</div>
                                        </div>
                                    </div>

                                    <br />

                                    <label class="control-label col-sm-4">Email-Id: <span style="color:Red">*</span></label>
                                    <div class="col-sm-8">
                                        <!--ng-pattern="/^[7-9]{1,1}[0-9]{9,9}?$/"-->
                                        <input type="text" class="form-control" ng-model="Oters_Mail_Id"  name="email_id" placeholder="Enter Email Id" ng-required="oth_chk=='1' && mobilecount==0" ng-pattern="/^[A-Za-z]+[A-Za-z0-9._]+@[A-Za-z]+\.[A-Za-z.]{2,5}$/">
                                        <div class="error-messages" ng-if="interacted(myForm.email_id)" ng-messages="myForm.email_id.$error">
                                            <div ng-message="required">Please Enter Atleast One Email-Id</div>
                                            <div ng-message="pattern">Enter Valid email-id</div>
                                        </div>
                                    </div>
                                    <md-button type="button" ng-disabled="myForm.oth_nam.$invalid || myForm.mobile_no.$invalid || myForm.email_id.$invalid ||Oters_Name == '' || Oters_Mob_No == '' || Oters_Mail_Id == ''" class="md-raised md-primary" ng-click="add_mobile_nos()">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </md-button>
                                    <md-tooltip md-direction="top" style="padding-right:40px">
                                        Added Mobile No's Count : {{mobilecount}}
                                    </md-tooltip>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="box-header" ng-show="Others_list.length > 0">
                                    <h5><u>Added Email Id and Mobile No. Details.</u></h5>
                                </div>
                                <div class="col-sm-6" ng-repeat="mob_no in Others_list track by $index">
                                    <div class="form-group">
                                        <div>
                                            <label class="control-label col-sm-3">{{mob_no.COEEO_Name}}</label>
                                            <label class="control-label col-sm-3">{{mob_no.COEEO_MobileNo}}</label>
                                            <label class="control-label col-sm-3">{{mob_no.COEEO_Emailid}}</label>
                                            <b><i class="fa fa-times  col-sm-3" aria-hidden="true" style="color:red" ng-click="remove_mob_no(mob_no)"></i></b>
                                        </div>
                                    </div>
                                    <!--<label class="control-label col-sm-6" style="text-align:left">{{mob_no}}</label>-->

                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="well">
                                <label>Please Select Check Box:<span style="color:red;">*</span></label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="sms" value="sms" ng-model="sms">
                                    <span class="lbl padding-8">SMS</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="email" value="email" ng-model="email">
                                    <span class="lbl padding-8">EMAIL</span>
                                </label>
                            </div>
                        </div>

                        <div class="text-center" ng-show="EventsDetails.length > 0 && stud_chk==true ||stf_chk==true || oth_chk==true">
                            <md-button type="button" class="md-raised md-primary" ng-click="send()" ng-disabled="disablebtn" ng-show="sms==true || email==true">
                                <i class="fa fa-save" aria-hidden="true"></i> Send Message
                            </md-button>
                            <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </md-button>
                        </div>

                        <div class="text-center" ng-if="msgConfirmed">
                            <md-button type="button" class="md-raised md-primary" ng-if="msgConfirmed" ng-disabled="disableotpbtn" ng-click="sendOTP()">
                                Send OTP
                            </md-button>
                            <md-button type="button" class="md-raised md-primary" ng-show="resendbtn" ng-click="sendOTP()">
                                Resend OTP
                            </md-button>
                            <span class="glyphicon glyphicon glyphicon-ok" ng-show="verified" style="color:green;"> Verified</span>
                            <span class="glyphicon glyphicon-remove" ng-show="failedVerification" style="color:red;"> Not Verified</span>
                        </div>

                        <div class="row" ng-show="mobileOtpfield">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 text-center">Enter OTP :</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" placeholder="ENTER OTP NUMBER"  ng-model="otp">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <md-button type="button" class="md-raised md-primary" ng-click="verifyOTP()">
                                            Submit
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <p class="control-label col-sm-4 text-center">Note: OTP number will be expired within 15 min.If it get expired please click on resend OTP button.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="box box-primary" ng-show="EventsDetails.length > 0">
        <div class="box-header with-border">
            <h3 class="box-title">Event Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">

            <table class="table table-hover table-responsive table-bordered text-center" id="tabel1">
                <thead>
                    <tr>
                        <th>
                            SL.NO.
                        </th>
                        <th>
                            Event Name
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>End Date</th>
                        <th>Sms Content</th>
                        <th>Email Content</th>
                        <th>Remainder Date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in EventsDetails" ng-class-odd="'odd'">
                        <td>{{$index+1}}</td>
                        <td>{{user.coemE_EventName}}</td>
                        <td>{{user.coeE_EStartDate|date:'dd-MM-yyyy'}}</td>
                        <td>{{user.coeE_EEndDate|date:'dd-MM-yyyy'}}</td>
                        <td>{{user.coeE_SMSMessage}}</td>
                        <td>{{user.coeE_Mail_Message}}</td>
                        <td>{{user.coeE_ReminderDate | date:'dd-MM-yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>