.BGPUC {
    width: 90%;
    margin: auto;
}

    .BGPUC .table {
        width: 100%;
        margin: auto;
        table-layout: fixed;
        text-align: left;
        border: 0px !important;
        font-family: 'Times New Roman';
        font-style: normal;
    }

    .BGPUC .table-bordered {
        width: 100%;
        table-layout: fixed;
        text-align: left;
        font-family: 'Times New Roman';
        font-style: normal;
    }

    .BGPUC .border-none {
        border: none !important;
    }

    .BGPUC .border-top {
        border-top: 1px solid #000 !important;
    }
