
.BBSBonafideCert .table {
    width: 100%;
    margin: auto;
    border: 0px !important;
    text-align: left !important;
    font-weight: 700;
    font-size: 15px !important;
    margin-bottom: 10px;
    line-height: .4;
 
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.padding-left-34 {
    padding-left: 34px;
}
.BBSBonafideCert{
    border:1px solid #000;
    padding:0px;
      width: 80%;
         margin: auto;
}