.HHChallan .modal-body{  
 font-size:10px !important;
}

.HHChallan .head{
     font-weight: 600;
}

.HHChallan .modal{
    padding-right:0px !important;
}
.HHChallan .modal .modal-body{
    margin:1%;
}
.HHChallan .modal-lg{
    width:100%;
   
}
.HHChallan .challan-box{
       border: 1px solid #000 !important;
    padding: 1% !important;
    font-weight: 600;
    margin-right: 2px;
}
.HHChallan .table thead {
    background: #fff;
    color: #000 !important;
    text-align: center;
    border-top: 1px solid #ddd;
}
.HHChallan .table {
    border: 0px;
     font-weight: 600;
     font-size:12px !important;
       text-align:left;
}
.HHChallan .table tr:last-child{
     border-bottom: 1px solid #ddd;
}
.HHChallan .table>tbody>tr>td, .HHChallan .table>tbody>tr>th, .HHChallan .table>tfoot>tr>td, .HHChallan .table>tfoot>tr>th, .HHChallan .table>thead>tr>td, .HHChallan .table>thead>tr>th {
    padding: 8px;
    line-height: .5;
    vertical-align: top;
    border-top: 1px solid #ddd;
      text-align:left;
}
