
@media print {
    @page {
        /*size: landscape;*/
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    #HHChallan1 {
        font-size: 12px !important;
        font-family: 'Source Sans Pro', sans-serif;
    }


    .HHChallan1 .modal-body {
        font-size: 12px !important;
    }
    h6 {
        font-size: 12px !important;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 0px !important;
        margin: 0px !important;
    }
    h5 {
        font-size: 13px !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    .padclass {
        padding: 0px !important;
    }
    label {
        padding: 0px !important;
    }
    .table {
        font-size: 11px !important;
        width: 100%;
        /*border: 1px solid #ddd !important;*/
        font-family: 'Source Sans Pro', sans-serif;
        text-align: left !important;
        border: 0px  !important;
    }

    .challan-box {
        /*border: 1px solid #000 !important;*/
        padding: 0px !important;
        font-weight: 400;
        font-size: 12px !important;
        margin-right: 2px;
        /*line-height: .9;*/
    }

    .img-responsive {
        /*display: block;*/
        width: 100% !important;
        height: auto;
        margin: auto !important;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 2px;
        /*line-height: .9;*/
        vertical-align: top;
        /*border-top: 1px solid #ddd;*/
        text-align: left;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 11px !important;
    }
}
