.HHChallan1 .modal-body{  
 font-size:12px !important;
}

.HHChallan1 .head{
     font-weight: 600;
}

.HHChallan1 .modal{
    padding-right:0px !important;
}
.HHChallan1 .modal .modal-body{
    margin:1%;
}
.HHChallan1 .modal-lg{
    width:100%;
   
}
.HHChallan1 .challan-box{
       border: 1px solid #000 !important;
    padding: 1% !important;
    font-weight: 600;
    margin-right: 2px;
}
.HHChallan1 .table thead {
    background: #fff;
    color: #000 !important;
    text-align: center;
    border-top: 1px solid #ddd;
}
.HHChallan1 .table {
    border: 0px;
     font-weight: 600;
     font-size:12px !important;
       text-align:left;
}
.HHChallan1 .table tr:last-child{
     border-bottom: 1px solid #ddd;
}
.HHChallan1 .table>tbody>tr>td, .HHChallan1 .table>tbody>tr>th, .HHChallan1 .table>tfoot>tr>td, .HHChallan1 .table>tfoot>tr>th, .HHChallan1 .table>thead>tr>td, .HHChallan1 .table>thead>tr>th {
    padding: 2px;
    /*line-height: 1;*/
    vertical-align: top;
    border-top: 1px solid #ddd;
      text-align:left;
}
