<link href="/css/print/Fees/MonthEndReport.css" rel="stylesheet" />
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="ShowReportdata()" name="myForm" data-ng-init="loadData()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">FrontOffice Month End Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Year:<span style="color:red;">*</span></label>
                            <div class="col-sm-6">
                                <select class="form-control" name="year1" ng-model="year" ng-disabled="disabledate2" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in fillyear" value="{{option.hrmlY_LeaveYear}}" ng-selected="{{option.Selected == true}}">
                                        {{option.hrmlY_LeaveYear}}
                                    </option>
                                    <!--hrmlY_Id-->
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd_year)" ng-messages="myForm.acd_year.$error">
                                    <div ng-message="required">Please Select the Academic Year</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Month :<span style="color:red;">*</span></label>
                            <div class="col-sm-6">
                                <select class="form-control" name="month1" ng-model="month" ng-disabled="disabledate3" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in fillmonth" value="{{option.monthid}}" ng-selected="{{option.Selected == true}}">
                                        {{option.monthname}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.month)" ng-messages="myForm.month.$error">
                                    <div ng-message="required">Please Select the month</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">IE Name :<span style="color:red;">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="iename" ng-model="FullName" required />
                                <span class="error-messages" ng-if="interacted(myForm.iename)" ng-messages="myForm.iename.$error">
                                    <span ng-message="required">Enter IE Name</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="form-group">
                    <label class="control-label col-sm-4">From Date:<strong style="color:red;">*</strong></label>

                    <div class="col-sm-6">
                        <md-datepicker ng-model="FMCB_fromDATE" onkeydown="return false" name="From_Date" id="date1" md-placeholder="Enter  date" required></md-datepicker>


                        <div class="error-messages" ng-if="interacted(myForm.From_Date)" ng-messages="myForm.From_Date.$error">
                            <div ng-message="required">Please Select From Date</div>
                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <label class="control-label col-sm-4">To Date:<strong style="color:red;">*</strong></label>

                    <div class="col-sm-6">
                        <md-datepicker ng-model="FMCB_toDATE" onkeydown="return false" name="To_Date" id="date2" md-placeholder="Enter  date" required></md-datepicker>

                        <div class="error-messages" ng-if="interacted(myForm.To_Date)" ng-messages="myForm.To_Date.$error">
                            <div ng-message="required">Please Select To Date</div>
                        </div>

                    </div>
                </div>-->
                <div class="row">
                    <div class="text-center">
                        <md-button type="submit" class="md-raised md-primary" id="save-btn">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Report
                        </md-button>
                        <md-button type="button" ng-click="Clear_Details();" target="_blank" class="md-raised md-warn">
                            <i class="fa fa-times" aria-hidden="true"></i> Clear
                        </md-button>
                        <md-button type="button" ng-show="report" class="md-raised md-primary" id="excel-btn" ng-click="exportToExcel()">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Export to Excel
                        </md-button>

                        <md-button type="button" class="md-raised md-primary" id="print-btn" ng-show="report" ng-click="printData();">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            Print
                        </md-button>

                    </div>

                </div>

                <hr />

            </div>
        </div>
        <div class="box box-primary" ng-show="report==true">
            <div class="box-header with-border">
                <h3 class="box-title">MONTH END REPORT</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="MonthEndReport" id="tablegrp">
                    <div class="baldwin text-center">
                        <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                        <!--<img src="images/Boldwin Boys.png" class="img-responsive" />-->
                    </div>
                    <h3 class="text-center">FRONT OFFICE MONTH END REPORT</h3>
                    <table class="table text-center">
                        <tr>
                            <td class="text-center">
                                {{month1 | uppercase}} MONTH REPORT
                            </td>
                        </tr>

                    </table>
                    <br />
                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td>{{FullName}}</td>
                            <td>Date</td>
                            <td>{{today | date}}</td>
                        </tr>
                        <tr>
                            <td>Designation</td>
                            <td>{{designation}}</td>
                            <td>Academic Year</td>
                            <td>{{year}}</td>
                        </tr>
                        <tr>
                            <td>Module</td>
                            <td>Front Office</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <br /><br />
                    <div class="">
                        <table class="table-bordered">
                            <thead>
                                <tr style="text-align:center;">
                                    <th>SL.NO</th>
                                    <th>No.of Employee Joined</th>
                                    <th>SMS Count</th>
                                    <th>Email Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center;">
                                    <td>1</td>
                                    <td>{{totalCount}}</td>
                                    <td>{{smsCount}}</td>
                                    <td>{{emailCount}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br /><br />
                    </div>

                    <!--<div id="imageContainer">
        <img id="chartImage" width="100%" height="360px">
    </div>-->
                    <div>
                        <h3 class="box-title"> FrontOffice Month End Report </h3>
                        <div id="rangeBarChat" style="height: 250px; width: 100%;"></div>
                        <div id="imageContainer" ng-show="false">
                            <img id="chartImage" width="800px;" height="300px;">
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">Implementation Engineer:_______________</div>
                                <div class="col-sm-6">Nodal Officer:_______________</div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-sm-6">End User:_______________</div>
                                <div class="col-sm-6">Seal</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <!--<div class="row" id="datagraph">
                    <div class="col-sm-12" ng-show="showGrafh">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"> FrontOffice Month End Report </h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="rangeBarChat" style="height: 260px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </form>
</section>