<style>
    .table-wrap {
        height: 300px;
        overflow-y: auto;
    }
</style>
<section class="content" ng-init="loadgrid()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">BMI Calculation</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="asmaY_Id" name="acdYear" required ng-change="get_class();">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="val in academicYear" value="{{val.asmaY_Id}}" ng-selected="val.Selected==true">
                                        {{val.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acdYear)" ng-messages="myForm.acdYear.$error">
                                    <div ng-message="required">Select Academic Year</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="asmcL_Id" name="classss" ng-change="get_section()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="val in classlist" value="{{val.asmcL_Id}}" ng-selected="val.asmcL_Id==asmcL_Id">
                                        {{val.asmcL_ClassName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.classss)" ng-messages="myForm.classss.$error">
                                    <div ng-message="required">Select Class Name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="asmS_Id" name="section" ng-change="getStudent()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="obj in sectionList" value="{{obj.asmS_Id}}" ng-selected="obj.asmS_Id==asmS_Id">
                                        {{obj.asmC_SectionName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.section)" ng-messages="myForm.section.$error">
                                    <div ng-message="required">Select Section Name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Date:<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <md-datepicker name="sch_date" onkeydown="return false" ng-model="spccshW_AsOnDate" md-placeholder="Enter date..." ng-disabled="dateflag" required ng-change="filterStudeDateWise();"></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.sch_date)" ng-messages="myForm.sch_date.$error">
                                    <div ng-message="required" style="color:red">Please Select Date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-center">
                            <md-button type="button" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="get_student_info()">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Student Details
                            </md-button>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="showstdtable">
                    <div class="col-sm-12">
                        <table class="table table-responsive table-bordered text-left table-fixed" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>
                                        <label>
                                            <input name="stdd" ng-true-value="true" ng-false-value="false" ng-model="userselect" type="checkbox" ng-click="check_allbox()">
                                            <span class="lbl padding-8">
                                            </span>
                                        </label>
                                    </th>
                                    <th>SL.No</th>
                                    <th><a href="" ng-click="sortTableData('studentName')">Student Name</a></th>
                                    <th><a href="" ng-click="sortTableData('amsT_AdmNo')">Adm No.</a></th>
                                    <th><a href="" ng-click="sortTableData('spccshW_Weight')">Weight(kg)</a></th>
                                    <th><a href="" ng-click="sortTableData('spccshW_Height')">Height(cm)</a></th>
                                    <th><a href="" ng-click="sortTableData('spccshW_BMI')">BMI Calculation</a></th>
                                    <th><a href="" ng-click="sortTableData('spccshW_BMIRemark')">Remark</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in studentList">
                                    <td>
                                        <label style="margin-left:5px;">
                                            <input type="checkbox" ng-model="user.selected" ng-true-value="true" ng-false-value="false" ng-change="get_studlistt(user)">
                                            <span class="lbl padding-8"></span>
                                        </label>
                                    </td>
                                    <td class="text-left">{{$index+1}}</td>
                                    <td class="text-left">{{user.studentName}}</td>
                                    <td class="text-left">{{user.amsT_AdmNo}} </td>
                                    <td>
                                        <input name="t1_weight_{{$index}}" type="text" ng-model="user.spccshW_Weight" ng-required="user.selected==true" 
                                               allow-pattern="[0-9.]"/>
                                        <div class="error-messages" ng-if="interacted(myForm['t1_weight_'+$index])" ng-messages="myForm['t1_weight_'+$index].$error">
                                            <div ng-message="required"> Enter The Weight For Selected Student </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input name="t1_height_{{$index}}" type="text" ng-model="user.spccshW_Height" ng-blur="getBMI(user)" 
                                               ng-required="user.selected==true" ng-disabled="!user.spccshW_Weight" allow-pattern="[0-9.]"/>
                                        <div class="error-messages" ng-if="interacted(myForm['t1_height_'+$index])" ng-messages="myForm['t1_height_'+$index].$error">
                                            <div ng-message="required"> Enter The Height For Selected Student </div>
                                        </div>
                                    </td>
                                    <td><input type="text" ng-model="user.spccshW_BMI |number:2" ng-disabled="true" /></td>
                                    <td><input type="text" ng-model="user.spccshW_BMIRemark" ng-disabled="true" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="row" >
                    <div class="col-sm-12" ng-show="showstdtable">
                        <div class="text-center" >
                            <input type="hidden" ng-model="spccshW_Id" value="{{spccshW_Id}}" />
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="saveRecord()" >
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </md-button>
                            <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="box box-primary" ng-show="studentrecord.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">BMI CALCULATION LIST</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{studentrecord.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" type="text" ng-model="searchValue" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sl.No.</th>
                        <th><a href="" ng-click="sort('asmaY_Year')">Year</a></th>
                        <th><a href="" ng-click="sort('studentName')"> Student Name</a></th>
                        <th><a href="" ng-click="sort('amsT_AdmNo')"> Adm No.</a></th>
                        <th><a href="" ng-click="sort('asmcL_ClassName')"> Class </a></th>
                        <th><a href="" ng-click="sort('asmC_SectionName')"> Section</a></th>
                        <th><a href="" ng-click="sort('asondate')"> As On Date</a></th>
                        <th><a href="" ng-click="sort('spccshW_Height')"> Height</a></th>
                        <th><a href="" ng-click="sort('spccshW_Weight')"> Weight</a></th>
                        <th><a href="" ng-click="sort('spccshW_BMI')"> BMI</a></th>
                        <th><a href="" ng-click="sort('spccshW_BMIRemark')"> Remark</a></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="newuser1 in filterValue1 = (studentrecord | filter : searchValue) | orderBy:sortKey:sortReverse  | itemsPerPage:itemsPerPage" current-page="currentPage">
                        <td class="text-center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>                      
                        <td class="text-left">{{newuser1.asmaY_Year}}</td>
                        <td class="text-left">{{newuser1.studentName}}</td>
                        <td class="text-left">{{newuser1.amsT_AdmNo}}</td>
                        <td class="text-left">{{newuser1.asmcL_ClassName}}</td>
                        <td class="text-left">{{newuser1.asmC_SectionName}}</td>
                        <td class="text-center">{{newuser1.asondate}}</td>
                        <td class="text-center">{{newuser1.spccshW_Height}}</td>
                        <td class="text-center">{{newuser1.spccshW_Weight}}</td>
                        <td class="text-l">{{newuser1.spccshW_BMI}}</td>
                        <td class="text-left">{{newuser1.spccshW_BMIRemark}}</td>
                        <td class="text-center">
                            <a href="javascript:void(0)" ng-click="editdata(newuser1)" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i></a>

                            <span ng-if="!newuser1.spccmhW_ActiveFlag">
                                <a href="" ng-click="deactivate(newuser1)" class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    Activate
                                </a>
                            </span>
                            <span ng-if="newuser1.spccmhW_ActiveFlag">
                                <a href="" ng-click="deactivate(newuser1)" class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    De-Activate
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
</section>