
<section class="content" ng-init="loadgrid()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate ng-submit="saveRecord()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Master SportsCC Name</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Group/Main Event :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="SPCCMSCCG_Id" name="group" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="val in gropList" value="{{val.spccmsccG_Id}}" ng-selected="val.spccmsccG_Id==SPCCMSCCG_Id">
                                        {{val.spccmsccG_SportsCCGroupName}}
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.group)" ng-messages="myForm.group.$error">
                                    <div ng-message="required">Please Select Group Name</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Description:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <textarea type="text" name="details" ng-model="SPCCMSCC_SportsCCDesc" class="form-control" maxlength="250" placeholder="Enter Description..." required />
                                <div class="error-messages" ng-if="interacted(myForm.details)" ng-messages="myForm.details.$error">
                                    <div ng-message="required">Please fill Description</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">No.Of Members:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="member" ng-model="SPCCMSCC_NoOfMembers" class="form-control" maxlength="2" allow-pattern="\d" placeholder="Enter No.Of Members..." required />
                                <div class="error-messages" ng-if="interacted(myForm.member)" ng-messages="myForm.member.$error">
                                    <div ng-message="required">Please fill No.Of Members</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="well">
                                <label>SG Flag:<span style="color:red;">*</span></label>
                                <label class="radio-inline">
                                    <input type="radio" id="1" value="Single" name="radioption" ng-model="SPCCMSCC_SGFlag" ng-change="get_value()" required />
                                    <span class="lbl padding-8">Single</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="2" value="Group" name="radioption" ng-model="SPCCMSCC_SGFlag" ng-change="get_value()" required />
                                    <span class="lbl padding-8">Group</span>
                                </label>
                                <div class="error-messages" ng-if="interacted(myForm.radioption)" ng-messages="myForm.radioption.$error">
                                    <div ng-message="required">Please Select SG Flag</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="well">
                                <label>High/Low Flag:<span style="color:red;">*</span></label>
                                <label class="radio-inline">
                                    <input type="radio" id="1" value="High" name="radioption1" ng-model="SPCCMSCC_RecHighLowFlag" required />
                                    <span class="lbl padding-8">High</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="2" value="Low" name="radioption1" ng-model="SPCCMSCC_RecHighLowFlag" required />
                                    <span class="lbl padding-8">Low</span>
                                </label>
                                <div class="error-messages" ng-if="interacted(myForm.radioption1)" ng-messages="myForm.radioption1.$error">
                                    <div ng-message="required">Please Select High/Low Flag</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Rec Info:</label>
                            <div class="col-sm-8">
                                <input type="text" name="info" ng-model="SPCCMSCC_RecInfo" class="form-control" placeholder="Rec Info" />
                                <div class="error-messages" ng-if="interacted(myForm.info)" ng-messages="myForm.info.$error">
                                    <div ng-message="required">Please fill Rec Info</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Sports Name / Sub Event  :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="ccname" ng-model="SPCCMSCC_SportsCCName" class="form-control" placeholder="Enter Sports Name..." required>
                                <div class="error-messages" ng-if="interacted(myForm.ccname)" ng-messages="myForm.ccname.$error">
                                    <div ng-message="required">Please Fill Sports Name / Sub Event </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="control-label col-sm-5">Number Of Attempts?  :</label>-->
                            <div class="col-sm-5">
                                <input type="checkbox" ng-model="SPCCMSCC_MultiAttemptFlg" />
                                <span class="lbl padding-8">Number Of Attempts?</span>
                            </div>                         
                            <div class="col-sm-7" ng-if="SPCCMSCC_MultiAttemptFlg==true">
                                <input type="text" name="ccnamssse" ng-model="obj.spccmscC_NoOfAttempts" maxlength="1" allow-pattern="\d" class="form-control" placeholder="Enter Number Of Attempts..." ng-required="SPCCMSCC_MultiAttemptFlg==true">
                                <div class="error-messages" ng-if="interacted(myForm.ccnamssse)" ng-messages="myForm.ccnamssse.$error">
                                    <div ng-message="required">Number Of Attempts</div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="form-group">
                            <table class="table table-responsive table-bordered clearfix" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Sl.No.</th>
                                        <th>Sub Sub Event</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="materal in Budgetupload">
                                        <td class="text-center">
                                            {{$index+1}}
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Sub Sub Event" ng-model="materal.SPCCMSCCG_Under" />

                                        </td>

                                        <td>
                                            <span>
                                                <a href="" ng-show="$last" ng-click="addBudget()">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </span>
                                            <span class="" id="remove" ng-hide="Budgetupload.length ==1">
                                                <a href="" ng-click="removeBudget($index,objg)">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="form-group">
        <label class="control-label col-sm-4">Sub Sub Event   :</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Sub Sub Event" ng-model="obj.SPCCMSCCG_Under" />
        </div>
    </div>-->
                    </div>
                </div>

               
                <div class="row">


                    <!--<div class="col-sm-6" ng-if="SPCCMSCC_SGFlag=='Single'">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Sub Sub Event   :</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="obj.SPCCMSCCG_Under" name="groupName">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="val in gropListtwo" value="{{val.spccmsccG_Id}}" ng-selected="val.spccmsccG_Id==SPCCMSCCG_Under">
                                        {{val.spccmsccG_SportsCCGroupName}}
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.groupName)" ng-messages="myForm.groupName.$error">
                                    <div ng-message="required">Please Select Group Name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-if="SPCCMSCC_SGFlag=='Group'">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Under / Group Name :</label>
                            <div class="multiselect col-sm-8">
                                <input class="form-control" ng-model="searchchkbxhoss23" type="text" placeholder="search here...">
                                <label>
                                    <input name="hous23"  ng-model="obj.usercheckhouss23" type="checkbox" data-ng-click="all_checkhouss23()" >
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </label>
                                <label ng-repeat="val in gropListtwo |filter:searchchkbxhoss23" value="{{val.spccmsccG_Id}}">
                                    <input name="house23" data-ng-model="val.housselectt23" type="checkbox" ng-click="togchkbxhouses23();" />
                                    <span class="lbl padding-8">
                                        {{val.spccmsccG_SportsCCGroupName}}
                                    </span>
                                </label>
                            </div>

                        </div>
                    </div>-->
                </div>

                <hr />
                <div class="text-center">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>

            </div>
        </div>

    </form>
    <div class="box box-primary" ng-show="sportsCCNameList.length > 0">
        <div class="box-header with-border">
            <h3 class="box-title">SportsCC Name List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>

        </div>


        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{presentCountgrid}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            SL.NO.
                        </th>
                        <th>
                            <a href="" ng-click="sort('groupName')">Group Name </a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmscC_SportsCCName')">Sports Name</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmscC_SportsCCDesc')">Description</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmscC_SGFlag')">SG Flag</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmscC_NoOfMembers')">No.Of Members</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmscC_RecHighLowFlag')">High/Low Flag</a>
                        </th>
                        <!--<th>
                            <a href="" ng-click="sort('spccmscC_RecInfo')">Rec Info</a>
                        </th>-->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="sports in filterValue1 = (sportsCCNameList | filter : searchValue) |orderBy:sortKey:sortReverse  |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{sports.groupName}}</td>
                        <td>{{sports.spccmscC_SportsCCName}}</td>
                        <td>{{sports.spccmscC_SportsCCDesc}}</td>
                        <td>{{sports.spccmscC_SGFlag}}</td>
                        <td>{{sports.spccmscC_NoOfMembers}}</td>
                        <td>{{sports.spccmscC_RecHighLowFlag}}</td>
                        <!--<td>{{sports.spccmscC_RecInfo}}</td>-->
                        <td class="text-center">
                            <a href="javascript:void(0)" ng-click="edit(sports.spccmscC_Id)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            |
                            <span ng-if="sports.spccmscC_ActiveFlag === true">
                                <a href="" ng-click="deactive(sports)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    Deactivate
                                </a>
                            </span>
                            <span ng-if="sports.spccmscC_ActiveFlag===false">
                                <a href="" ng-click="deactive(sports)"
                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    Activate
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

</section>