
<section class="content" ng-init="loadgrid()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate ng-submit="saveRecord()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Master SportsCC Group</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Group Name :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="name" ng-model="SPCCMSCCG_SportsCCGroupName" class="form-control" placeholder="Enter Sports Group Name..." maxlength="100" required />
                                <div class="error-messages" ng-if="interacted(myForm.name)" ng-messages="myForm.name.$error">
                                    <div ng-message="required">Please fill Sports Group Name</div>
                                    <div ng-message="pattern">Sports Group Name will accept only alphabates. </div>
                                    <div ng-message="minlength">Too short!</div>
                                    <div ng-message="maxlength">Too long!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Description:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <textarea type="text" name="details" ng-model="SPCCMSCCG_SportsCCGroupDesc" class="form-control" maxlength="250" placeholder="Enter Description..." required />
                                <div class="error-messages" ng-if="interacted(myForm.details)" ng-messages="myForm.details.$error">
                                    <div ng-message="required">Please fill Description</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                       <div class="well text-center">
                                    <label>SCC Flag:<span style="color:red;">*</span></label>
                                    <label class="radio-inline">
                                        <input type="radio" id="1" value="Sports" name="radioption" ng-model="SPCCMSCCG_SCCFlag" required />
                                        <span class="lbl padding-8">Sports</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="2" value="Co-Curricular" name="radioption" ng-model="SPCCMSCCG_SCCFlag" required />
                                        <span class="lbl padding-8">Co-Curricular</span>
                                    </label>
                                    <div class="error-messages" ng-if="interacted(myForm.radioption)" ng-messages="myForm.radioption.$error">
                                        <div ng-message="required">Please Select Radio Button</div>
                                    </div>
                      </div>
                        </div>
                    </div>
                <div class="row" style="display:none !important">
                    <div class="col-sm-12">
                        <table class="table table-responsive table-bordered clearfix" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Sl.No.</th>
                                    <th>Sub Event</th>

                                    <th> Order </th>
                                    <th>Description </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="materal in materaldocuupload">
                                    <td class="text-center">
                                        {{$index+1}}
                                    </td>

                                    <td>
                                        <input type="text" class="form-control" placeholder="Sub Event" ng-model="materal.SPCCMSCCG_Under" />
                                    </td>


                                    <td>
                                        <input type="text" class="form-control" placeholder="Order " ng-model="materal.SPCCMSCCG_Level" />
                                    </td>
                                    <td>
                                        <textarea type="text" name="details" ng-model="materal.SportsCCGroupDesc" class="form-control" maxlength="250" placeholder="Enter Description..." />

                                    </td>
                                    <td>
                                        <span>
                                            <a href="" ng-show="$last" ng-click="addgrnrows()">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </span>
                                        <span class="" id="remove" ng-hide="materaldocuupload.length ==1">
                                            <a href="" ng-click="removegrnrows($index,objg)">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                        <hr />
                        <div class="text-center">
                            <input type="hidden" ng-model="SPCCMSCCG_Id" value="{{SPCCMSCCG_Id}}" />
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </md-button>
                            <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                        </div>

                    </div>
                </div>

    </form>
    <div class="box box-primary" ng-show="groupNameList.length > 0">
        <div class="box-header with-border">
            <h3 class="box-title">SportsCC Group Name List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>

        </div>


        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{presentCountgrid}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            SL.NO.
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmsccG_SportsCCGroupName')">Group Name </a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmsccG_SportsCCGroupDesc')">Description</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmsccG_SCCFlag')">SCC Flag</a>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="groupname in filterValue1 = (groupNameList | filter : searchValue) |orderBy:sortKey:sortReverse  |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{groupname.spccmsccG_SportsCCGroupName}}</td>
                        <td>{{groupname.spccmsccG_SportsCCGroupDesc}}</td>
                        <td>{{groupname.spccmsccG_SCCFlag}}</td>
                        <td class="text-center">
                            <a href="javascript:void(0)" ng-click="edit(groupname.spccmsccG_Id)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            |
                            <span ng-if="groupname.spccmsccG_ActiveFlag">
                                <a href="" ng-click="deactive(groupname)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    Deactivate
                                </a>
                            </span>
                            <span ng-if="!groupname.spccmsccG_ActiveFlag">
                                <a href="" ng-click="deactive(groupname)"
                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    Activate
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

</section>