<link href="css/print/EligibilityCert/Eligibilitycert.css" rel="stylesheet" />
<link href="css/print/EligibilityCert/PuEligibilitycert.css" rel="stylesheet" />
<style>
    .indemnity input {
        border: 0;
        border-bottom: 1px solid black;
        outline: 0;
    }
</style>
<section class="content">

    <form class="form-horizontal ng-pristine ng-valid" name="myForm" data-ng-submit="saveddata()" role="form" novalidate>
        <div data-ng-init="BindData()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">PU Eligiblility Certificate</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sm" name="yeardd" ng-model="asmaY_Id" ng-change="get_class()" required>
                                        <option value="">Select Academic Year</option>
                                        <option ng-repeat="year in yearlt" value="{{year.asmaY_Id}}" ng-selected="year.Selected == true">{{year.asmaY_Year}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.yeardd)" ng-messages="myForm.yeardd.$error">
                                        <div ng-message="required">Please Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Class:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="ASMCL_Id" ng-change="get_section()" name="cls" required>
                                        <option value="">Select Class:</option>
                                        <option ng-repeat="class in classDropdown" value="{{class.asmcL_Id}}">{{class.asmcL_ClassName}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.cls)" ng-messages="myForm.cls.$error">
                                        <div ng-message="required" style="color:red">Select Class</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Section :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel12" data-ng-model="ASMS_Id" data-ng-change="get_student()" name="sec" required>
                                        <option value="">Select Section:</option>
                                        <option ng-repeat="class in sectionDropdown" value="{{class.asmS_Id}}">{{class.asmC_SectionName}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.sec)" ng-messages="myForm.sec.$error">
                                        <div ng-message="required" style="color:red">Select Section</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Student Name :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel231" data-ng-model="AMST_Id" data-ng-change="get_age()" name="stu" required>
                                        <option value="">Select Student:</option>
                                        <option ng-repeat="student in stuDropdown" value="{{student.amsT_Id}}" ng-selected="student.amsT_Id==AMST_Id">{{student.studentname}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.stu)" ng-messages="myForm.stu.$error">
                                        <div ng-message="required" style="color:red">Select Student</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Event Name:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel11" data-ng-model="SPCCME_Id" name="eve" required>
                                        <option value="">Select Event Name:</option>
                                        <option ng-repeat="event in eventList" value="{{event.spccmE_Id}}">
                                            {{event.spccmE_EventName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.eve)" ng-messages="myForm.eve.$error">
                                        <div ng-message="required" style="color:red">Select Event Name</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Age Till Date :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="meet" ng-disabled="true" ng-model="SPCCSH_Age">
                                    <!--ng-model="year + 'years '+ month + 'months '+day + 'days'"-->
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr />
                    <div class="">
                        <div class="">
                            <div class="text-center">

                                <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="get_certificate()" id="save-btn">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i>
                                    Report
                                </md-button>
                                <md-button type="submit" class="md-raised md-warn" ng-click="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Cancel
                                </md-button>
                                <md-button type="button" ng-click="printToCart('Baldwin')" class="md-raised md-primary">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                    Print
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>





    <div class="box box-primary" ng-show="reportpart">
        <div class="box-header with-border">
            <h3 class="box-title">PU Eligibility Certificate</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <form class="form-horizontal ng-pristine ng-valid" name="myForm_new" role="form" data-ng-submit="saveData()" novalidate>
            <div class="box-body">
                <div class="PrintCert" id="Baldwin" ng-repeat="obj in datareport">
                    <div class="form-1">
                        <div class="header">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="col-sm-9">
                                            <h3 class="text-center">
                                                STATE/UT/UNIT : COMMISSIONER OF PUBLIC INSTRUCTION,<br />
                                                BANGALORE, KARNATAKA
                                            </h3>

                                            <p class="text-center">
                                                {{obj.spccpM_Name}} &nbsp; : &nbsp; {{academicyear}}<br />
                                            </p>
                                            <h3 class="text-center">
                                                CERTIFICATE OF THE ELIGIBILITY
                                            </h3>
                                            <p class="text-center"><b>State/UT/Unit: KARNATAKA</b></p>
                                            <p class="text-center"><b>Age Group Under 19 Boys/Girls</b></p>

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="pull-right">
                                                <img src="{{obj.amsT_Photoname}}" class="thumbnail img-responsive" style="margin:0px;padding:0px;" />
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="">
                            <table class="table-bordered">
                                <tr>
                                    <td width="50">1</td>
                                    <td>Name of the participants(In Block Letters)</td>
                                    <td>{{obj.studentname |uppercase}}</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Father Name (In Block Letters)</td>
                                    <td>{{obj.amsT_FatherName | uppercase}}</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Mother Name (In Block Letters)</td>
                                    <td>{{obj.amsT_MotherName | uppercase}}</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Name of the Institution(In Block Letters)</td>
                                    <td>{{obj.mI_Name | uppercase}}</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Institutional Full Address (In Block Letters)</td>
                                    <td>{{obj.mI_Address | uppercase}}</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Institution Phone No, with Code No</td>
                                    <td>{{obj.mimN_MobileNo}}<br />{{obj.miE_EmailId}}</td>
                                </tr>

                                <tr>
                                    <td>7</td>
                                    <td>Last year Registration No. SGFI</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">8</td>
                                    <td rowspan="2">
                                        Date of birth
                                        1) In fig<br />
                                        2) In words
                                    </td>
                                    <td>{{obj.amsT_DOB | date:'dd/MM/yyyy'}}</td>
                                </tr>

                                <tr>
                                    <td>{{obj.amsT_DOB_Words}}</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Aadhaar No .</td>
                                    <td>{{obj.amsT_AadharNo}}</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Pass Port No . (If available)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Discipline</td>
                                    <td>
                                        <!--{{obj.spccpM_Name}}-->
                                    </td>
                                </tr>

                                <tr>
                                    <td>12</td>
                                    <td>Age in Completed years as on 31st December</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td class="col-sm-3">Year</td>
                                                <td class="col-sm-3">Month</td>
                                                <td class="col-sm-3">Days</td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-3">{{year}}</td>
                                                <td class="col-sm-3">{{month}}</td>
                                                <td class="col-sm-3">{{day}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">13</td>
                                    <td rowspan="2">
                                        Permanent Address & Phone/Mobile No (In Block Letters)
                                        <br />Parents Mobile No
                                    </td>
                                    <td>{{obj.address | uppercase}}</td>
                                </tr>
                                <tr>
                                    <td style="height:25px;">{{obj.amsT_FatherMobleNo}}</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Admission No.& Year</td>
                                    <td>{{obj.amsT_AdmNo}}</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Date of Joining the College</td>
                                    <td>{{obj.amsT_Date | date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Standard & Section studying this year</td>
                                    <td>{{obj.asmcL_ClassName}}&nbsp;{{obj.asmC_SectionName}}</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Standard studied last year</td>
                                    <td>{{}}</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">18</td>
                                    <td rowspan="4"> Bank Detail of participant (If no then mention Mother/Father A/C No.)</td>
                                    <td>Name : {{obj.amsT_MotherName}}</td>
                                </tr>
                                <tr>
                                    <td>Name of Bank : </td>
                                </tr>
                                <tr>
                                    <td>A/C No. : {{obj.amsT_MotherBankAccNo}}</td>
                                </tr>
                                <tr>
                                    <td>IFSC Code : {{obj.amsT_MotherBankIFSC_Code}}</td>
                                </tr>

                                <tr>
                                    <td rowspan="2">19</td>
                                    <td rowspan="2">Personal identification marks</td>
                                    <td>1.</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>Signature of the Participants</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="margin-top-10">
                            <h5>Certificate</h5>
                            <ol>
                                <li>Certified that the above participant is a bonafied student of this Institution for this academic year.</li>
                                <li>Certified that I have personally verified the Admission records maintained in the school and found correct.</li>
                                <li>Certified that it is understood in the event of information furnished above found to be partly or wholly untrue, the above students is liable to be disqualified for a period of two years, in case the student is a member of the team, then the school team is liable to be disqualified as a whole.</li>
                            </ol>
                        </div>
                        <div class="margin-top-10" style="padding-top:40px;">
                            <div class="col-sm-3">
                                <span> Signature With Seal Manager/Coach Post/Desn.......</span>
                            </div>
                            <div class="col-sm-3">
                                <span> Signature With Seal of the Head of Institution/<br />Principal</span>
                            </div>
                            <div class="col-sm-3">
                                <span> Signature With Seal of the DDPU,Mysore</span>
                            </div>
                            <div class="col-sm-3">
                                <span>
                                    Signature of Competent Authority of State /UT/Unit with Seal
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-2 margin-top-100">
                        <div class="text-center">
                            <h3>INDEMNITY BOND</h3>
                            <h5>(Parents Willingness Certification)</h5>
                        </div>
                        <div class="form-group margin-to-50">
                            <label class="col-sm-1">Sri/Smt</label>
                            <input type="text" value="{{obj.amsT_MotherName |uppercase}}" class="col-sm-8">
                            <label class="col-sm-3">(Name of the parents/guardian) </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">have no objection in sending my ward </label>
                            <input type="text" value="{{obj.studentname |uppercase}}" class="col-sm-7">
                            <label class="col-sm-1">(Name of </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3"> the Participant)to participate in the</label>
                            <input type="text" value=" {{obj.spccpM_Name |uppercase}}" class="col-sm-8">
                            <label class="col-sm-1">to be held </label>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-1">at</label>
                            <input type="text" class="col-sm-4">
                            <label class="col-sm-1">from</label>
                            <input type="text" class="col-sm-5">
                            <label class="col-sm-1">to  </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="col-sm-5" style="margin-left: 17px; /* padding-right: 12px; */">
                            <label class="col-sm-5">  I am aware of the risks involved in sending my ward </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">
                                outstation. I assure that Department of Pre University education will not resposible for any eventually that may happen in this regard and
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">
                                regard and   I will not  put forth any  eventually that may happen in this regard and I will not put forth any claim whatsover from the
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">
                                department of pre university education and the college in which he/she is studying, on account of any  happenings during his/her travel,
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">
                                or participation in any activities and his/her involvement in any other affairs whatsover may be the nature.
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">
                                Adress
                            </label>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="text" value="{{obj.address | uppercase}}" class="col-sm-6"><br />
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="text" class="col-sm-6"><br />
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1">
                                Date:
                            </label>
                            <input type="text" class="col-sm-2">
                            <label class="col-sm-2" style="margin-left:200px;">
                                Mobile number
                            </label>
                            <input type="text" value="{{obj.amsT_FatherMobleNo}}" class="col-sm-3">
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>


</section>