<link href="/css/print/Fees/MonthEndReport.css" rel="stylesheet" />

<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="GetReport()" data-ng-init="loadData()" name="myForm" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Sports Month End Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="row">

                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:red;">*</span></label>
                            <div class="col-sm-6">
                                <select class="form-control" name="year1" ng-model="asmaY_Id" ng-disabled="disabledate2" ng-required="datedata1=='monthwise'">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in fillyear" value="{{option.asmaY_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{option.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd_year)" ng-messages="myForm.acd_year.$error">
                                    <div ng-message="required">Please Select the Academic Year</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Month :<span style="color:red;">*</span></label>
                            <div class="col-sm-6">
                                <select class="form-control" name="month1" ng-model="month_id" ng-disabled="disabledate3" ng-required="datedata1=='monthwise'">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in fillmonth" value="{{option.month}}" ng-selected="{{option.month == month_id}}">
                                        {{option.monthname}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.month1)" ng-messages="myForm.month1.$error">
                                    <div ng-message="required">Please Select the month</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Implementation Name :</label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="iename" class="form-control" />
                                <div class="error-messages" ng-if="interacted(myForm.meryr)" ng-messages="myform.meryr.$error">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6 col-sm-offset-3">


                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" id="save-btn">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                            <md-button type="button" ng-click="Clear_Details();" target="_blank" class="md-raised md-warn">
                                <i class="fa fa-times" aria-hidden="true"></i> Clear
                            </md-button>
                            <md-button type="button" ng-show="report" class="md-raised md-primary" id="excel-btn" ng-click="exportToExcel()">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                Export to Excel
                            </md-button>

                            <md-button type="button" class="md-raised md-primary" id="print-btn" ng-show="report" ng-click="printData();">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                Print
                            </md-button>

                        </div>

                    </div>

                    <hr />

                </div>
            </div>


            <div class="box box-primary" ng-show="report">

                <div class="box-header with-border">
                    <h3 class="box-title">SPORTS MONTH END REPORT</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="MonthEndReport" id="tablegrp">
                        <div class="baldwin text-center">
                            <img src="{{imgname}}" class="img-responsive" alt="baldwin">

                        </div>
                        <br />
                        <!--<h3 class="text-center">SPORTS  REPORT</h3>-->
                        <table class="table text-center">
                            <tr>
                                <td class="text-center" style="font-size:20px">
                                    SPORTS {{mnthname | uppercase}} MONTH REPORT
                                </td>
                            </tr>
                        </table>
                        <table class="table table-bordered">
                            <tr>
                                <td>Name</td>
                                <td>{{iename}}</td>
                                <td>Date</td>
                                <td>{{today | date}}</td>
                            </tr>
                            <tr>
                                <td>Designation</td>
                                <td>{{designation}}</td>
                                <td>Academic Year</td>
                                <td>{{yearname}}</td>
                            </tr>
                            <tr>
                                <td>Module</td>
                                <td colspan="3">Sports</td>

                            </tr>
                        </table>
                        <div class="">
                            <table class="table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">SL.NO</th>
                                        <th style="text-align:center">Strength</th>
                                        <th style="text-align:center">
                                            Total
                                        </th>
                                        <th style="text-align:center">
                                            Non Position Holders
                                        </th>
                                        <th style="text-align:center">
                                            Position Holders
                                        </th>
                                        <th style="text-align:center">
                                            Winners
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td style="text-align:center">Student Strength</td>
                                        <td style="text-align:center">{{total_count_student}}</td>
                                        <td style="text-align:center">{{not_patr_std}}</td>
                                        <td style="text-align:center">{{total_partic_student}}</td>
                                        <td style="text-align:center">{{total_winner_student}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                        </div>

                        <div id="imageContainer" ng-show="tttttt">
                            <img id="chartImage" width="100%" height="360px">
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">Implementation Engineer:_____________________</div>
                                <div class="col-sm-6">End User Signature :_______________________</div>

                            </div>
                            <br /> <br />
                            <div class="col-sm-12">
                                <div class="col-sm-6">Nodal Officer:______________________</div>
                                <div class="col-sm-6">With Seal:______________________</div>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="row" id="datagraph">
                        <div class="col-sm-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"> SPORTS Month End Report </h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="rangeBarChat" style="height: 260px; width: 100%;"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </form>
</section>