<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" data-ng-submit="saveddata()" role="form" novalidate>
        <div data-ng-init="BindData()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">House Committee Report</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-sm-6 col-sm-offset-3">

                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year:<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="asmaY_Id" name="acdYear" ng-change="get_House()" required>
                                        <option value="">--Select Year--</option>
                                        <option ng-repeat="val in asmay_list" value="{{val.asmaY_Id}}" ng-selected="val.asmaY_Id==asmaY_Id">
                                            {{val.asmaY_Year}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.acdYear)" ng-messages="myForm.acdYear.$error">
                                        <div ng-message="required">Select Academic Year</div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="form-group">
                                <label class="control-label col-sm-4">House Name:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="SPCCMH_Id" name="des" required>
                                        <option value="">--Select House--</option>
                                        <option ng-repeat="Designation in houseList" value="{{Designation.spccmH_Id}}">
                                            {{Designation.spccmH_HouseName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.des)" ng-messages="myForm.des.$error">
                                        <div ng-message="required" style="color:red">Select House Name</div>
                                    </div>
                                </div>
                            </div>-->


                            <div class="form-group">
                                <label class="control-label col-sm-4">House Name :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="multiselect col-sm-8">
                                    <input class="form-control" ng-model="searchchkbx" type="text" placeholder="search here...">
                                    <label>
                                        <input name="stdd" value="1" ng-model="usercheck" type="checkbox" data-ng-click="all_check()">
                                        <span class="lbl padding-8">
                                            All
                                        </span>
                                    </label>
                                    <label data-ng-model="SPCCMH_Id" ng-repeat="House in houseList |filter:filterchkbx" value="{{House.spccmH_Id}}">
                                        <input name="hous" value="1" data-ng-model="House.select" type="checkbox" ng-click="togchkbx();" ng-required="isOptionsRequired()">
                                        <span class="lbl padding-8">
                                            {{House.spccmH_HouseName}}
                                        </span>
                                    </label>
                                </div>
                                <div class="error-messages" ng-if="interacted(myForm.hous)" ng-messages="myForm.hous.$error">
                                    <div ng-message="required" style="color:red">Select House</div>
                                </div>
                            </div>


                        </div>


                    </div>


                    <hr />
                    <div class="">
                        <div class="">
                            <div class="text-center">

                                <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="showdetails()" id="save-btn">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i>
                                    Report
                                </md-button>
                                <md-button type="submit" class="md-raised md-warn" ng-click="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Cancel
                                </md-button>
                                <md-button type="button" class="md-raised md-primary" id="print-btn" ng-show="screport" ng-click="Print()">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                    Print
                                </md-button>
                                <md-button type="submit" class="md-raised md-primary" ng-show="export" ng-click="exportToExcel('#printSectionId')">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="box box-primary" ng-show="Cumureport">
        <div class="box-header with-border">
            <h3 class="box-title">House Committee Report  {{yearname}}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="StudentBook2" id="Baldwin">
            <div style="padding-top:20px">


                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{newuser.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="searchValue" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered text-center" id="datatable">
                    <thead>
                        <tr>
                            <th style="text-align:center">
                                SL. No.
                            </th>
                            <!--<td>
                                <a href="" ng-click="sort('asmaY_Year')">Year</a>
                            </td>-->
                            <th style="text-align:center">
                                <a href="" ng-click="sort('spccmhD_DesignationName')"> House Designation Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('spccmH_HouseName')"> House Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('studentname')"> Student Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('amsT_AdmNo')"> Adm No.</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('asmcL_ClassName')"> Class</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('asmC_SectionName')"> Section</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('spccmhC_ContactNo')"> Contact No</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('spccmhC_EmailId')"> Email Id</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="newuser1 in filterValue1 = (newuser | filter : searchValue)  |orderBy:sortKey:sortReverse  |itemsPerPage:itemsPerPage" current-page="currentPage">
                            <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                            <!--<td>{{newuser1.asmaY_Year}}</td>-->
                            <td>{{newuser1.spccmhD_DesignationName}}</td>
                            <td>{{newuser1.spccmH_HouseName}}</td>
                            <td>{{newuser1.studentname}}</td>
                            <td>{{newuser1.amsT_AdmNo}}</td>
                            <td>{{newuser1.asmcL_ClassName}}</td>
                            <td>{{newuser1.asmC_SectionName}}</td>
                            <td>{{newuser1.spccmhC_ContactNo}}</td>
                            <td>{{newuser1.spccmhC_EmailId}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>

    <!--print Export data starts-->
    <div id="printSectionId" ng-show="table_flag">
        <div class="baldwin text-center">
            <img src="{{imgname}}" class="img-responsive" alt="baldwin">
        </div>
        <!--<h4 style="text-align:center">House Committee Report</h4>-->
        <!--<table class="table margin-top-10">
        <tr>
            <td colspan="4" class="text-right" style="font-size:large"><b>House Committee Report</b> </td>
            <td></td>
            <td></td>
            <td> </td>
        </tr>
    </table>-->

        <h2 class="text-center">HOUSE COMMITTEE REPORT  {{yearname}}</h2>

        <table class="table-bordered" id="table">
            <thead>
                <tr>
                    <th style="text-align:center">
                        SL. No.
                    </th>
                    <!--<td>
                      Year
                    </td>-->
                    <th style="text-align:center">
                        House Designation Name
                    </th>
                    <th style="text-align:center">
                         House Name
                    </th>
                    <th style="text-align:center">
                         Student Name
                    </th>
                    <th style="text-align:center">
                     Adm No.
                    </th>
                    <th style="text-align:center">
                      Class
                    </th>
                    <th style="text-align:center">
                      Section
                    </th>
                    <th>
                       Contact No
                    </th>
                    <th style="text-align:center;width:20%">
                         Email Id
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in filterValue1">
                    <td>{{$index+1}}</td>
                    <!--<td>{{user.asmaY_Year}}</td>-->
                    <td>{{user.spccmhD_DesignationName}}</td>
                    <td>{{user.spccmH_HouseName}}</td>
                    <td>{{user.studentname}}</td>
                    <td>{{user.amsT_AdmNo}}</td>
                    <td>{{user.asmcL_ClassName}}</td>
                    <td>{{user.asmC_SectionName}}</td>
                    <td>{{user.spccmhC_ContactNo}}</td>
                    <td>{{user.spccmhC_EmailId}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <label>

                            Date:{{ddate|date:'dd/MM/yyyy'}} &nbsp;&nbsp; UserName: {{usrname}}  {{coptyright}}
                        </label>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


    <!--print Export data end-->
</section>