<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" data-ng-submit="saveddata()" role="form" novalidate>
        <div data-ng-init="BindData()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sport  Point And Record Report</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="well">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="qualification_type" ng-change="onselectradio()" value="eca" name="radio1" id="radio4">
                                    <span class="lbl padding-8">Extra Curricular Activities</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="qualification_type" ng-change="onselectradio()" value="cca" name="radio1" id="radio5">
                                    <span class="lbl padding-8">Co Curricular Activities</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="qualification_type" ng-change="onselectradio()" value="ih" name="radio1" id="radio5">
                                    <span class="lbl padding-8">Interhouse</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="qualification_type" ng-change="onselectradio()" value="others" name="radio1" id="radio5">
                                    <span class="lbl padding-8">Others</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sm" name="yeardd" ng-model="asmaY_Id" ng-change="get_class()" required>
                                        <option value="">Select Academic Year</option>
                                        <option ng-repeat="year in yearlt" value="{{year.asmaY_Id}}" ng-selected="year.Selected == true">{{year.asmaY_Year}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.yeardd)" ng-messages="myForm.yeardd.$error">
                                        <div ng-message="required">Please Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4">House Name:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="SPCCMH_Id" name="des" required>
                                        <option value="">Select House Name:</option>
                                        <option ng-repeat="Designation in houseList" value="{{Designation.spccmH_Id}}">{{Designation.spccmH_HouseName}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.des)" ng-messages="myForm.des.$error">
                                        <div ng-message="required" style="color:red">Select House Name</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Program Master:<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="SPCCE_Id" name="event" required>
                                        <option value="">Select Program Name</option>
                                        <option ng-repeat="val in events" value="{{val.spccE_Id}}" ng-selected="val.Selected==true">{{val.spccpM_Name}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.event)" ng-messages="myForm.event.$error">
                                        <div ng-message="required">Select Program Master</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Event Name:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="SPCCME_Id" name="eve" required>
                                        <option value="">Select Event Name:</option>
                                        <option ng-repeat="event in eventList" value="{{event.spccmE_Id}}">{{event.spccmE_EventName}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.eve)" ng-messages="myForm.eve.$error">
                                        <div ng-message="required" style="color:red">Select Event Name</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Division Name:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="SPCCMD_Id" name="des" required>
                                        <option value="">Select Division Name:</option>
                                        <option ng-repeat="Designation in DesignationList" value="{{Designation.spccmD_Id}}">{{Designation.spccmD_DivisionName}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.des)" ng-messages="myForm.des.$error">
                                        <div ng-message="required" style="color:red">Select Division Name</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr />
                    <div class="">
                        <div class="">
                            <div class="text-center">

                                <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="showdetails()" id="save-btn">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i>
                                    Report
                                </md-button>
                                <md-button type="submit" class="md-raised md-warn" ng-click="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Cancel
                                </md-button>
                                <md-button type="button" class="md-raised md-primary" id="print-btn" ng-show="screport" ng-click="Print()">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                    Print
                                </md-button>
                                <md-button type="submit" class="md-raised md-primary" ng-show="export" ng-click="exportToExcel('#datatable')">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="box box-primary" ng-show="Cumureport">
        <div class="box-header with-border">
            <h3 class="box-title">Sport Point And Record Report</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="StudentBook2" id="Baldwin">
            <div style="padding-top:20px">


                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <!--<label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{presentCountgrid}}
                                </label>
                            </label>-->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <!--<label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>-->
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="searchValue" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered text-center" id="datatable">
                    <thead>
                        <tr>
                            <th style="text-align:center">

                                SL. No.

                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('adm_no')"> Adm. No.</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('studentname')"> Student Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href=""> Place</a>
                            </th>
                            <th style="text-align:center">
                                <a href=""> Points</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('spccmD_DivisionName')"> Division Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('spccmH_HouseName')"> House Name</a>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="newuser1 in filterValue1 = (newuser | filter : searchValue)  |orderBy:sortKey:sortReverse  |itemsPerPage:itemsPerPage" current-page="currentPage">
                            <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                            <td>{{newuser1.adm_no}}</td>
                            <td>{{newuser1.studentname}}</td>
                            <td>{{newuser1.spccestR_Place}}</td>
                            <td>{{newuser1.spccestR_Points}}</td>
                            <td>{{newuser1.spccmD_DivisionName}}</td>
                            <td>{{newuser1.spccmH_HouseName}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <!--print Export data starts-->
    <div id="printSectionId" ng-show="table_flag">
        <div class="baldwin text-center">
            <img src="{{imgname}}" class="img-responsive" alt="baldwin">
        </div>
        <h4 style="text-align:center">Sport Point And Record Report</h4>       
       <br /><br />
             <table class="table-bordered" id="table">
                 <thead>
                     <tr>
                         <th class="text-center">Adm. No.</th>
                         <th class="text-center">Student Name</th>
                         <th class="text-center">Place </th>
                         <th class="text-center">Points</th>
                         <th class="text-center">Division Name</th>
                         <th class="text-center">Home Name</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr ng-repeat="user in newuser">
                         <td>{{user.adm_no}}</td>
                         <td>{{user.studentname}}</td>
                         <td>{{user.spccestR_Place}}</td>
                         <td>{{user.spccestR_Points}}</td>
                         <td>{{user.spccmD_DivisionName}}</td>
                         <td>{{user.spccmH_HouseName}}</td>
                     </tr>
                 </tbody>
                 <tfoot>
                     <tr>
                         <td colspan="6" class="text-center">
                             <label>

                                 Date:{{ddate|date:'dd/MM/yyyy'}} &nbsp;&nbsp; UserName: {{usrname}}  {{coptyright}}
                             </label>
                         </td>
                     </tr>
                 </tfoot>
             </table>
    </div>


    <!--print Export data end-->
</section>