

<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" ng-init="BindData()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Student House Mapping</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

                </div>
            </div>
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="asmaY_Id" name="acdYear" ng-change="get_class()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="val in yearlist" value="{{val.asmaY_Id}}" ng-selected="val.Selected==true">
                                        {{val.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acdYear)" ng-messages="myForm.acdYear.$error">
                                    <div ng-message="required">Please Select Academic Year</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section :<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" data-ng-model="asmS_Id" data-ng-change="get_student()" name="sec" required>
                                    <option value="">Select Section:</option>
                                    <option ng-repeat="section in sectionDropdown" value="{{section.asmS_Id}}" ng-selected="section.asmS_Id==asmS_Id">{{section.asmC_SectionName}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.sec)" ng-messages="myForm.sec.$error">
                                    <div ng-message="required" style="color:red">Please Select Section</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">House :<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" ng-model="spccmH_Id" name="hou" required>
                                    <option value="">Select House:</option>
                                    <option ng-repeat="house in houseList" value="{{house.spccmH_Id}}">
                                        {{house.spccmH_HouseName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.hou)" ng-messages="myForm.hou.$error">
                                    <div ng-message="required" style="color:red">Please Select House</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Date:<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <md-datepicker name="sch_date" onkeydown="return false" ng-model="spccsH_Date" md-placeholder="Enter date..." required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.sch_date)" ng-messages="myForm.sch_date.$error">
                                    <div ng-message="required" style="color:red">Please Select Date</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Remarks :</label>
                            <div class="col-sm-8">
                                <textarea type="text" name="rmrk" ng-model="spccsH_Remarks" class="form-control" maxlength="250" rows="3" />
                                <div class="error-messages" ng-if="interacted(myForm.rmrk)" ng-messages="myForm.rmrk.$error">
                                    <div ng-message="required">Please fill Remarks</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-4">Class Name:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" data-ng-model="asmcL_Id" ng-change="get_section()" name="cls" required>
                                    <option value="">Select Class:</option>
                                    <option ng-repeat="class in classList" value="{{class.asmcL_Id}}" ng-selected="class.asmcL_Id==asmcL_Id">
                                        {{class.asmcL_ClassName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.cls)" ng-messages="myForm.cls.$error">
                                    <div ng-message="required" style="color:red">Please Select Class</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Student Name :<span style="color:red">*</span></label>
                            <div class="multiselect col-sm-8">
                                <input class="form-control" ng-model="searchchkbx" type="text" placeholder="search here...">
                                <label>
                                    <input name="stdd" value="1" ng-model="usercheck" type="checkbox" ng-click="all_check()">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </label>
                                <label data-ng-model="amsT_Id" ng-repeat="student in studentList |filter:searchchkbx" value="{{student.amsT_Id}}">
                                    <input name="stdt" ng-model="student.stud" type="checkbox" ng-click="togchkbx();" ng-required="isOptionsRequired();">

                                    <span class="lbl padding-8">
                                        {{student.studentname}} &nbsp; : &nbsp; {{student.amsT_AdmNo}}
                                    </span>
                                </label>
                            </div>
                            <div class="error-messages col-sm-offset-4" ng-if="interacted(myForm.stdt)" ng-messages="myForm.stdt.$error">
                                <div ng-message="required">Please Select Any One Student</div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="text-center">
                        <input type="hidden" ng-model="spccsH_Id" value="{{spccsH_Id}}" />
                        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="savedata()">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancel
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="box box-primary" ng-show="alldata.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">Student House Mapping List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{alldata.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" type="text" ng-model="searchValue" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            SL. No.
                        </th>
                        <td>
                            <a href="" ng-click="sort('asmaY_Year')">Year</a>
                        </td>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('spccmH_HouseName')"> House Name</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('studentname')">Student Name</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('amsT_AdmNo')"> Adm No.</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('asmcL_ClassName')"> Class </a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('asmC_SectionName')"> Section</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('spccsH_Remarks')"> Remark</a>
                        </th>
                        <!--<th>
        View Students
    </th>-->

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="newuser1 in filterValue1 = (alldata | filter : searchValue) | orderBy:sortKey:sortReverse  | itemsPerPage:itemsPerPage" current-page="currentPage">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{newuser1.asmaY_Year}}</td>
                        <td>{{newuser1.spccmH_HouseName}}</td>
                        <td>{{newuser1.studentname}}</td>
                        <td>{{newuser1.amsT_AdmNo}}</td>
                        <td>{{newuser1.asmcL_ClassName}}</td>
                        <td>{{newuser1.asmC_SectionName}}</td>
                        <td>{{newuser1.spccsH_Remarks}}</td>
                        <!--<td>
                            <span>
                                <a href="javascript:void(0)" class="text-primary" data-placement="bottom" data-toggle="modal" title="Student details" data-target="#myModalstuddetails" ng-click="onmodelclick(newuser1)">
                                    <i class="fa fa-eye fa-1x" aria-hidden="true"> View Students</i>
                                </a>
                            </span>

                        </td>-->
                        <td>
                            <a href="javascript:void(0)" ng-click="EditRecord(newuser1)" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i></a>
                            <span ng-if="!newuser1.spccmH_ActiveFlag">
                                <a href="" ng-click="deactivate(newuser1)" class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    Activate
                                </a>
                            </span>
                            <span ng-if="newuser1.spccmH_ActiveFlag">
                                <a href="" ng-click="deactivate(newuser1)" class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    De-Activate
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>


    <!--<div id="myModalstuddetails" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg" style="width: 80%;">
            <div class="modal-content">
                <div class="model-header custom-header">
                    <center><h4 class="modal-title custom">Staff Details</h4></center>
                </div>
                <div class="modal-body">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{clssslist.length}}
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group" ng-if="search3!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue3.length}}
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="search3" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">

                        <table class="table table-bordered table-hover table-responsive text-center">
                            <thead>
                                <tr>
                                    <th style="text-align:center">
                                        SL. No.
                                    </th>
                                    <th style="text-align:center">
                                        <a href="" ng-click="sort('spccmH_HouseName')"> House Name</a>
                                    </th>
                                    <th style="text-align:center">
                                        <a href="" ng-click="sort('studentname')"> Student Name</a>
                                    </th>
                                    <th style="text-align:center">
                                        <a href="" ng-click="sort('studentname')"> Adm No.</a>
                                    </th>
                                    <th style="text-align:center">
                                        <a href="" ng-click="sort('asmcL_ClassName')"> Class </a>
                                    </th>
                                    <th style="text-align:center">
                                        <a href="" ng-click="sort('asmC_SectionName')"> Section</a>
                                    </th>
                                    <th style="text-align:center">
                                        <a href="" ng-click="sort('spccsH_Remarks')"> Remark</a>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr dir-paginate="user in filterValue3=(clssslist | filter : search3) | orderBy:sortKey:reverse3 | temsPerPage:itemsPerPage3" current-page="currentPage3">
                                    <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td>{{user.spccmH_HouseName}}</td>
                                    <td>{{user.studentname}}</td>
                                    <td>{{user.studentname}}</td>
                                    <td>{{user.asmcL_ClassName}}</td>
                                    <td>{{user.asmC_SectionName}}</td>
                                    <td>{{user.spccsH_Remarks}}</td>
                                    <td style="text-align:center">
                                        <input type="hidden" ng-model="spccmsP_Id" value="{{spccmsP_Id}}" />
                                        <span ng-if="!user.llC_ActiveFlg">
                                            <a href="" ng-click="deactivclsdata(user)" class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                Activate
                                            </a>
                                        </span>
                                        <span ng-if="user.llC_ActiveFlg">
                                            <a href="" ng-click="deactivclsdata(user)" class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                De-Activate
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 boundary-links="true" id="currentPage3">
                        </dir-pagination-controls>

                    </div>


                    <div class="modal-footer custom-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->



</section>








<!--<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" ng-init="BindData()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Student House Mapping</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

                </div>
            </div>
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="asmaY_Id" name="acdYear" ng-change="get_class()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="val in yearlist" value="{{val.asmaY_Id}}" ng-selected="val.Selected==true">
                                        {{val.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acdYear)" ng-messages="myForm.acdYear.$error">
                                    <div ng-message="required">Please Select Academic Year</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section :<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" data-ng-model="asmS_Id" data-ng-change="get_student()" name="sec" required>
                                    <option value="">Select Section:</option>
                                    <option ng-repeat="section in sectionDropdown" value="{{section.asmS_Id}}" ng-selected="section.asmS_Id==asmS_Id">{{section.asmC_SectionName}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.sec)" ng-messages="myForm.sec.$error">
                                    <div ng-message="required" style="color:red">Please Select Section</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Date:<span style="color:red">*</span></label>
                            <div class="col-sm-8">
                                <md-datepicker name="sch_date" onkeydown="return false" ng-model="spccsH_AsOnDate" md-placeholder="Enter date..." required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.sch_date)" ng-messages="myForm.sch_date.$error">
                                    <div ng-message="required" style="color:red">Please Select Date</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-4">Class:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" data-ng-model="asmcL_Id" ng-change="get_section()" name="cls" required>
                                    <option value="">Select Class:</option>
                                    <option ng-repeat="class in classList" value="{{class.asmcL_Id}}" ng-selected="class.asmcL_Id==asmcL_Id">
                                        {{class.asmcL_ClassName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.cls)" ng-messages="myForm.cls.$error">
                                    <div ng-message="required" style="color:red">Please Select Class</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Student Name :<span style="color:red">*</span></label>
                            <div class="multiselect col-sm-8">
                                <input class="form-control" ng-model="searchchkbx" type="text" placeholder="search here...">
                                <label>
                                    <input name="stdd" value="1" ng-model="usercheck" type="checkbox" ng-click="all_check()">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </label>
                                <label data-ng-model="amsT_Id" ng-repeat="student in studentList |filter:searchchkbx" value="{{student.amsT_Id}}">
                                    <input name="stdt" ng-model="student.stud" type="checkbox" ng-click="togchkbx();" ng-required="isOptionsRequired();">

                                    <span class="lbl padding-8">
                                        {{student.studentname}}
                                    </span>
                                </label>
                            </div>
                            <div class="error-messages col-sm-offset-4" ng-if="interacted(myForm.stdt)" ng-messages="myForm.stdt.$error">
                                <div ng-message="required">Please Select Any One Student</div>
                            </div>
                        </div>

                        <div class="form-group text-left">
                            <md-button type="button" class="md-warn md-raised md-hue-2" ng-disabled="form.$invalid" ng-click="get_student_info()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Add
                            </md-button>
                        </div>



                    </div>

                </div>

                <div class="row" ng-show="studentlsitdata.length>0">
                    <div class="col-sm-12">
                        <div style="width:100%;">

                            <table class="table table-responsive table-bordered text-left" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            <label>
                                                <input name="stdd" ng-true-value="true" ng-false-value="false" ng-model="userselect" type="checkbox" ng-click="check_allbox()">
                                                <span class="lbl padding-8">
                                                </span>
                                            </label>
                                        </th>
                                        <th>SL.No</th>
                                        <th><a href="" ng-click="sortTableData('studentname')">Student Name</a></th>
                                        <th><a href="" ng-click="sortTableData('amsT_AdmNo')">Adm No.</a></th>
                                        <th><a href="" ng-click="sortTableData('weight')">Weight(kg)</a></th>
                                        <th><a href="" ng-click="sortTableData('height')">Height(cm)</a></th>
                                        <th><a href="" ng-click="sortTableData('spccmhD_BMI')">BMI Calculation</a></th>
                                        <th><a href="" ng-click="sortTableData('spccmhD_BMI_Remark')">Remark</a></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="user in studentlsitdata">
                                        <td>
                                            <label style="margin-left:5px;">
                                                <input type="checkbox" ng-model="user.selected" ng-true-value="true" ng-false-value="false" ng-change="get_studlistt(user)">
                                                <span class="lbl padding-8"></span>
                                            </label>
                                        </td>
                                        <td class="text-left">{{$index+1}}</td>
                                        <td class="text-left">{{user.studentname}}</td>
                                        <td class="text-left">{{user.amsT_AdmNo}} </td>
                                        <td><input type="text" ng-model="user.weight" /></td>
                                        <td><input type="text" ng-model="user.height" ng-blur="getBMI(user)" /></td>
                                        <td><input type="text" ng-model="user.spccmhD_BMI |number:2" ng-disabled="true" /></td>
                                        <td><input type="text" ng-model="user.spccmhD_BMI_Remark" ng-disabled="true" /></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">House :<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" ng-model="spccmH_Id" name="hou" required>
                                    <option value="">Select House:</option>
                                    <option ng-repeat="house in houseList" value="{{house.spccmH_Id}}">
                                        {{house.spccmH_HouseName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.hou)" ng-messages="myForm.hou.$error">
                                    <div ng-message="required" style="color:red">Please Select House</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <input type="hidden" ng-model="spccsH_Id" value="{{spccsH_Id}}" />
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="savedata()">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </div>
        </div>

    </form>


    <div class="box box-primary" ng-show="alldata.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">Student House Mapping List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{alldata.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" type="text" ng-model="searchValue" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th style="text-align:center">

                            SL. No.

                        </th>

                        <th style="text-align:center">
                            <a href="" ng-click="sort('spccmH_HouseName')"> House Name</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('studentname')"> Student Name</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('asmcL_ClassName')"> Class </a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('asmC_SectionName')"> Section</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('spccsH_Age')"> Age</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('spccsH_Height')"> Height</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('spccsH_Weight')"> Weight</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('spccsH_BMI')"> BMI</a>
                        </th>
                        <th style="text-align:center">
                            <a href="" ng-click="sort('spccsH_BMIRemarks')"> Remark</a>
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="newuser1 in filterValue1 = (alldata | filter : searchValue) | orderBy:sortKey:sortReverse  | itemsPerPage:itemsPerPage" current-page="currentPage">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{newuser1.spccmH_HouseName}}</td>
                        <td>{{newuser1.studentname}}</td>
                        <td>{{newuser1.asmcL_ClassName}}</td>
                        <td>{{newuser1.asmC_SectionName}}</td>
                        <td>{{newuser1.spccsH_Age}}</td>
                        <td>{{newuser1.spccsH_Height}}</td>
                        <td>{{newuser1.spccsH_Weight}}</td>
                        <td>{{newuser1.spccsH_BMI}}</td>
                        <td>{{newuser1.spccsH_BMIRemarks}}</td>
                        <td>
                            <a href="javascript:void(0)" ng-click="EditRecord(newuser1)" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i></a>
                            <span ng-if="!newuser1.spccmH_ActiveFlag">
                                <a href="" ng-click="deactivate(newuser1)" class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    Activate
                                </a>
                            </span>
                            <span ng-if="newuser1.spccmH_ActiveFlag">
                                <a href="" ng-click="deactivate(newuser1)" class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    De-Activate
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

</section>-->





