
<section class="content" ng-init="Onload()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate ng-submit="getReport()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Year End Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <div class="radio text-center well" ng-init="Type='AY'">
                                <label>
                                    <input name="optradio4" type="radio" value="AY" data-ng-model="Type" ng-change="changeRadiobtn()" required>
                                    <span class="lbl padding-8">Academic Year</span>
                                </label>

                                <label>
                                    <input name="optradio4" type="radio" value="CS" data-ng-model="Type" ng-change="changeRadiobtn()" required>
                                    <span class="lbl padding-8">By Class/Section</span>
                                </label>

                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.optradio4)" ng-messages="myForm.optradio4.$error">
                                <div ng-message="required">Select any one of the radio button</div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6 col-lg-offset-2">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="ASMAY_Id" name="acdYear" required>
                                    <option value="">--Select Year--</option>
                                    <option ng-repeat="val in academicYear" value="{{val.asmaY_Id}}" ng-selected="val.Selected==true">
                                        {{val.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acdYear)" ng-messages="myForm.acdYear.$error">
                                    <div ng-message="required">Please Select Academic Year</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6" ng-show="Type=='CS'">

                        <!--<div class="form-group">
                <label class="control-label col-sm-4">Class Name:<span style="color:Red">*</span></label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="ASMCL_Id" name="classs" ng-required="Type=='CS'">
                        <option value="">--Select Class--</option>
                        <option ng-repeat="val in classList" value="{{val.asmcL_Id}}" ng-selected="val.Selected==true">{{val.className}}</option>
                    </select>
                    <div class="error-messages" ng-if="interacted(myForm.classs)" ng-messages="myForm.classs.$error">
                        <div ng-message="required">Please Select Class</div>
                    </div>
                </div>
            </div>-->

                        <div class="form-group">
                            <label class="control-label col-sm-4">Class Name :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                            <div class="multiselect col-sm-8">
                                <input class="form-control" ng-model="searchchkbx" type="text" placeholder="search here...">
                                <label>
                                    <input name="stdd" value="1" ng-model="usercheck" type="checkbox" data-ng-click="all_check()">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </label>
                                <label data-ng-model="ASMCL_Id" ng-repeat="class in classList |filter:filterchkbx" value="{{class.asmcL_Id}}">
                                    <input name="clsss" value="1" data-ng-model="class.select" type="checkbox" ng-click="togchkbx();" ng-required="Type=='CS' && isOptionsRequired()">
                                    <!--ng-required="isOptionsRequired()"-->
                                    <span class="lbl padding-8">
                                        {{class.className}}
                                    </span>
                                </label>
                            </div>

                            <div class="error-messages" ng-if="interacted(myForm.clsss)" ng-messages="myForm.clsss.$error">
                                <div ng-message="required" style="color:red">Select Class</div>
                            </div>

                        </div>


                    </div>


                    <div class="col-sm-6" ng-show="Type=='CS'">

                        <!--<div class="form-group">
                <label class="control-label col-sm-4">Section Name:<span style="color:Red">*</span></label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="ASMS_Id" name="section" ng-required="Type=='CS'">
                        <option value="">--Select Section--</option>
                        <option ng-repeat="val in sectionList" value="{{val.asmS_Id}}" ng-selected="val.Selected==true">{{val.sectionName}}</option>
                    </select>
                    <div class="error-messages" ng-if="interacted(myForm.section)" ng-messages="myForm.section.$error">
                        <div ng-message="required">Please Select Section</div>
                    </div>
                </div>
            </div>-->

                        <div class="form-group">
                            <label class="control-label col-sm-4">Section Name :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 1px;">*</strong></label>
                            <div class="multiselect col-sm-8">
                                <input class="form-control" ng-model="searchchkbx23" type="text" placeholder="search here...">
                                <label>
                                    <input name="stdd" value="1" ng-model="usercheck23" type="checkbox" data-ng-click="all_check23()">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </label>
                                <label data-ng-model="ASMS_Id" ng-repeat="sectn in sectionList |filter:filterchkbx23" value="{{sectn.asmS_Id}}">
                                    <input name="sectionnam" value="1" data-ng-model="sectn.select" type="checkbox" ng-click="togchkbx23();" ng-required="Type=='CS' && isOptionsRequired23()">
                                    <!--ng-required="isOptionsRequired23()"-->
                                    <span class="lbl padding-8">
                                        {{sectn.sectionName}}
                                    </span>
                                </label>
                            </div>

                            <div class="error-messages" ng-if="interacted(myForm.sectionnam)" ng-messages="myForm.sectionnam.$error">
                                <div ng-message="required" style="color:red">Select Section</div>
                            </div>

                        </div>

                    </div>

                </div>
                <hr />
                <div class="text-center">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="report-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Report
                    </md-button>
                    <md-button type="button" class="md-raised md-primary" ng-disabled="form.$invalid" id="excel-btn" ng-click="ExportToExcel('#printSectionId')" ng-show="export">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        Export to Excel
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="print-btn" ng-click="Print()" ng-show="screport">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        Print
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>

            </div>
        </div>

    </form>
    <div class="box box-primary" ng-show="Cumureport">
       
        <div class="box-header with-border">
            <h3 class="box-title">Year End Report  {{yearname}}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>

        </div>
        <!--<div class="baldwin text-center">
            <img src="{{imgname}}" class="img-responsive" alt="image" height="350" width="350" style="margin-left:25%">
        </div>-->

        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{presentCountgrid}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <!--<th class="hdTH">
        <label>
            <input type="checkbox" data-ng-model="checkall" ng-click="toggleAll()">
            <span class="lbl padding-8"></span><span style="color:lightgreen;font-size:20px;"></span>
        </label>
    </th>-->
                        <th>
                            SL.NO.
                        </th>
                        <!--<td>
                            <a href="" ng-click="sort('asmaY_Year')">Year</a>
                        </td>-->
                        <th>
                            <a href="" ng-click="sort('houseName')">House</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('studentName')">Student Name</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('admNo')">Adm.No. </a>
                        </th>

                        <th>
                            <a href="" ng-click="sort('className')">Class </a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('sectionName')">Section </a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmE_EventName')">Event </a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmeV_EventVenue')">Venue </a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccmscC_SportsCCName')">SportsName </a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccE_StartDate')">Event Date </a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('points')">Points </a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('spccestR_Rank')">Place </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in filterValue1 = (yearEndReport | filter : searchValue) |orderBy:sortKey:sortReverse  |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <!--<td>
        <input type="checkbox" ng-model="yearend.checked" ng-checked="checkall" ng-change="optionToggled(yearend,itemsPerPage *(currentPage-1)+$index)">
        <span class="lbl padding-8"></span><span style="color:lightgreen;font-size:20px;"></span>
    </td>-->
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <!--<td>{{user.asmaY_Year}}</td>-->
                        <td>{{user.houseName}}</td>
                        <td>{{user.studentName}}</td>
                        <td>{{user.admNo}}</td>
                        <td>{{user.className}}</td>
                        <td>{{user.sectionName}}</td>
                        <td>{{user.spccmE_EventName}}</td>
                        <td>{{user.spccmeV_EventVenue}}</td>
                        <td>{{user.spccmscC_SportsCCName}}</td>
                        <td>{{user.spccE_StartDate|date:'dd/MM/yyyy'}}</td>
                        <td>{{user.points}}</td>
                        <td>
                            {{user.spccestR_Rank}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
    <div id="printSectionId" ng-show="table_flag">
        <div class="baldwin text-center">
            <img src="{{imgname}}" class="img-responsive" alt="baldwin">
        </div>
        <!--<h4 style="text-align:center">Year End Report</h4>-->
        <!--<table class="table margin-top-10">
        <tr>
            <td colspan="4" class="text-right" style="font-size:large"><b>Year End Report</b> </td>
            <td></td>
            <td></td>
            <td> </td>
        </tr>
    </table>-->

        <h3 class="text-center">YEAR END REPORT {{yearname}}</h3>

        <table class="table-bordered" id="table">
            <thead>
                <tr>
                    <th style="text-align:center">
                        SL.NO.
                    </th>
                    <!--<td>
                        Year
                    </td>-->
                    <th style="text-align:center">
                       House
                    </th>
                    <th style="text-align:center;width:13%">
                       Student Name
                    </th>
                    <th style="text-align:center">
                      Adm.No.
                    </th>

                    <th style="text-align:center">
                      Class 
                    </th>
                    <th style="text-align:center">
                     Section 
                    </th>

                    <th style="text-align:center">
                       Event 
                    </th>
                    <th style="text-align:center">
                        Venue 
                    </th>
                    <th style="text-align:left;width:9%">
                        SportsName 
                    </th>
                    <th style="text-align:center">
                      Event Date 
                    </th>
                    <th style="text-align:center">
                        Points
                    </th>
                    <th>
                       Place 
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in filterValue1">
                    <td class="text-center">{{$index+1}}</td>
                    <!--<td>{{user.asmaY_Year}}</td>-->
                    <td>{{user.houseName}}</td>
                    <td>{{user.studentName}}</td>
                    <td>{{user.admNo}}</td>
                    <td>{{user.className}}</td>
                    <td>{{user.sectionName}}</td>
                    <td>{{user.spccmE_EventName}}</td>
                    <td>{{user.spccmeV_EventVenue}}</td>
                    <td>{{user.spccmscC_SportsCCName}}</td>
                    <td>{{user.spccE_StartDate| date:'dd/MM/yyyy'}}</td>
                    <td>{{user.points}}</td>
                    <td>{{user.spccestR_Rank}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12" class="text-center">
                        <label>

                            Date:{{ddate|date:'dd/MM/yyyy'}} &nbsp;&nbsp; UserName: {{usrname}}  {{coptyright}}
                        </label>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>