<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" novalidate>
        <div data-ng-init="BindData()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Final Cumulative Report With Promotion</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year :<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sm" name="yeardd" ng-model="ASMAY_Id" ng-change="get_classes()" required>
                                        <option value="">Select Academic Year</option>
                                        <option ng-repeat="year in year_list" value="{{year.asmaY_Id}}" ng-selected="year.Selected == true">{{year.asmaY_Year}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.yeardd)" ng-messages="myForm.yeardd.$error">
                                        <div ng-message="required">Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Class :<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="classssss" id="sel1" ng-model="ASMCL_Id" ng-change="get_sections()" required>
                                        <option value="">Select Class</option>
                                        <option ng-repeat="cls in class_list" value="{{cls.asmcL_Id}}" ng-selected="{{cls.Selected == true}}">
                                            {{cls.asmcL_ClassName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.classssss)" ng-messages="myForm.classssss.$error">
                                    <div ng-message="required">Select Class</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Section :<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="secionnnnn" ng-model="ASMS_Id" ng-change="get_students()" required>
                                        <option value="">Select Section</option>
                                        <option ng-repeat="sec in section_list" value="{{sec.asmS_Id}}" ng-selected="{{sec.Selected == true}}">
                                            {{sec.asmC_SectionName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.secionnnnn)" ng-messages="myForm.secionnnnn.$error">
                                    <div ng-message="required">Select Section</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="">
                        <div class="">
                            <div class="text-center">
                                <!--<input type="hidden" ng-model="AMST_Id" />-->
                                <md-button type="button" class="md-raised md-primary" ng-click="get_report()" id="save-btn">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    Report
                                </md-button>
                                <md-button type="button" class="md-raised md-warn" ng-click="clear()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Cancel
                                </md-button>
                                <md-button type="button" class="md-raised md-warn" ng-click="Print()" ng-show="exam_list.length>0 && subject_list.length>0">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    Print
                                </md-button>
                                <md-button type="button" class="md-raised md-warn" ng-click="exportToExcel('#table786')" ng-show="exam_list.length>0 && subject_list.length>0">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                    Export
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary" ng-show="exam_list.length>0 && subject_list.length>0">
            <div class="box-header with-border">
                <h3 class="box-title">Final Cumulative Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body" id="Final_Report" style="overflow:scroll;">
                <!--<div class="baldwin text-center">
                    <img src="{{imgname}}" class="img-responsive logo" alt="baldwin">
                    <div class="header text-center">
                        <h4>
                            CUMULATIVE REPORT<br />
                            ACADEMIC YEAR : {{Year_Name}}
                        </h4>
                    </div>
                </div>-->
                <div ng-if="ExmConfig_PromotionFlag && EMP_MarksPerFlg=='P'">
                    <!--<table class="table table-hover table-responsive table-bordered text-center" id="tre">
                        <thead>
                            <tr>
                                <th colspan="2" style="width:150px;"><b>Class {{Class_Name}}-{{Section_Name}} {{Year_Name}}</b></th>
                                <th colspan="{{colspan_e}}" ng-repeat="sub in subject_list" ng-if="sub.flag"><b>{{sub.ismS_SubjectName|uppercase}}</b></th>
                                <th colspan="{{colspan_e}}" ng-repeat="sub in subject_list" ng-if="!sub.flag"><b>{{sub.ismS_SubjectName|uppercase}}</b></th>
                            </tr>
                            <tr>
                                <th><b>SL NO</b></th>
                                <th><b>NAME</b></th>
                                <th ng-repeat="header in Final_temp_headers track by $index"  ng-if="header.subj_flag">{{header.Name}}</th>
                                <th ng-repeat="header in Final_temp_headers track by $index" ng-if="!header.subj_flag">{{header.Name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stud in student_list">
                                <td>{{$index+1}}</td>
                                <td>{{stud.amsT_FirstName}}</td>
                                <td ng-repeat="header in Final_temp_headers track by $index" ng-if="header.subj_flag">
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id && !header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.flag!='F' && header.flag!=undefined"><label ng-repeat="g_marks in temp_student_marks" ng-if="g_marks.ismS_Id==header.ismS_Id && g_marks.amsT_Id==stud.amsT_Id">{{g_marks.grp_marks_o|number:2}}</label></span>
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id && header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.flag=='F' && header.flag!=undefined"><label ng-repeat="g_marks in temp_student_marks" ng-if="g_marks.ismS_Id==header.ismS_Id && g_marks.amsT_Id==stud.amsT_Id">{{g_marks.grp_marks_f|number:2}}</label></span>                                    
                                    <span ng-if="header.type=='Total'"><label ng-repeat="prom_mks in promotion_student_marks" ng-if="prom_mks.ismS_Id==header.ismS_Id && prom_mks.amsT_Id==stud.amsT_Id">{{prom_mks.estmppS_ObtainedMarks}}</label></span>
                                    
                                </td>
                                <td ng-repeat="header in Final_temp_headers track by $index" ng-if="!header.subj_flag">                                 
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id  && !header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.flag!='F' && header.flag!=undefined"><label ng-repeat="g_marks in temp_student_marks" ng-if="g_marks.ismS_Id==header.ismS_Id && g_marks.amsT_Id==stud.amsT_Id">{{g_marks.grp_marks_o|number:2}}</label></span>
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id  && header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.flag=='F' && header.flag!=undefined"><label ng-repeat="g_marks in temp_student_marks" ng-if="g_marks.ismS_Id==header.ismS_Id && g_marks.amsT_Id==stud.amsT_Id">{{g_marks.grp_marks_f|number:2}}</label></span>
                                    <span ng-if="header.type=='Total'"><label ng-repeat="prom_mks in promotion_student_marks" ng-if="prom_mks.ismS_Id==header.ismS_Id && prom_mks.amsT_Id==stud.amsT_Id">{{prom_mks.estmppS_ObtainedMarks}}</label></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>-->

                    <table class="table table-hover table-responsive table-bordered text-center" id="table786">
                        <thead>
                            <tr>
                                <th colspan="2" style="width:220px;"><b>Class {{Class_Name}}-{{Section_Name}} {{Year_Name}}</b></th>
                                <th colspan="{{sub.col_span}}" ng-repeat="sub in subject_list"><b>{{sub.ismS_SubjectName|uppercase}}</b></th> <!--ng-if="sub.flag"-->
                                <!--<th colspan="{{colspan_e}}" ng-repeat="sub in subject_list" ng-if="!sub.flag"><b>{{sub.ismS_SubjectName|uppercase}}</b></th>-->
                            </tr>
                            <tr>
                                <th><b>SL NO</b></th>
                                <th style="width:200px;"><b>NAME</b></th>
                                <th ng-repeat="header in Final_temp_headers track by $index" ng-if="!header.equal_flag">{{header.Name}}</th><!--header.subj_flag &&--> 
                                <!--<th ng-repeat="header in Final_temp_headers track by $index" ng-if="!header.subj_flag && !header.equal_flag">{{header.Name}}</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stud in student_list">
                                <td style="text-align:center">{{$index+1}}</td>
                                <td>{{stud.amsT_FirstName}}</td>
                                <td ng-repeat="marks in stud.sub_list" style="text-align:center">{{marks.estmpS_ObtainedMarks}}</td>
                            </tr>
                            <!--<tr ng-repeat="stud in student_list">
                                <td>{{$index+1}}</td>
                                <td>{{stud.amsT_FirstName}}</td>
                                <td ng-repeat="header in Final_temp_headers track by $index" ng-if="header.subj_flag">
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id && !header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.flag!='F' && header.flag!=undefined"><label ng-repeat="g_marks in temp_student_marks" ng-if="g_marks.ismS_Id==header.ismS_Id && g_marks.amsT_Id==stud.amsT_Id">{{g_marks.grp_marks_o|number:2}}</label></span>
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id && header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.flag=='F' && header.flag!=undefined"><label ng-repeat="g_marks in temp_student_marks" ng-if="g_marks.ismS_Id==header.ismS_Id && g_marks.amsT_Id==stud.amsT_Id">{{g_marks.grp_marks_f|number:2}}</label></span>
                                    <span ng-if="header.type=='Total'"><label ng-repeat="prom_mks in promotion_student_marks" ng-if="prom_mks.ismS_Id==header.ismS_Id && prom_mks.amsT_Id==stud.amsT_Id">{{prom_mks.estmppS_ObtainedMarks}}</label></span>

                                </td>
                                <td ng-repeat="header in Final_temp_headers track by $index" ng-if="!header.subj_flag">
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id  && !header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.flag!='F' && header.flag!=undefined"><label ng-repeat="g_marks in temp_student_marks" ng-if="g_marks.ismS_Id==header.ismS_Id && g_marks.amsT_Id==stud.amsT_Id">{{g_marks.grp_marks_o|number:2}}</label></span>
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id  && header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.flag=='F' && header.flag!=undefined"><label ng-repeat="g_marks in temp_student_marks" ng-if="g_marks.ismS_Id==header.ismS_Id && g_marks.amsT_Id==stud.amsT_Id">{{g_marks.grp_marks_f|number:2}}</label></span>
                                    <span ng-if="header.type=='Total'"><label ng-repeat="prom_mks in promotion_student_marks" ng-if="prom_mks.ismS_Id==header.ismS_Id && prom_mks.amsT_Id==stud.amsT_Id">{{prom_mks.estmppS_ObtainedMarks}}</label></span>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>

                </div>

                <div ng-if="ExmConfig_PromotionFlag && (EMP_MarksPerFlg=='F' ||EMP_MarksPerFlg=='T')">
                    <table class="table table-hover table-responsive table-bordered text-center" id="table786">
                        <thead>
                            <tr>
                                <th colspan="2" style="width:220px;"><b>Class {{Class_Name}}-{{Section_Name}} {{Year_Name}}</b></th>
                                <th colspan="{{exam_list.length+1}}" ng-repeat="sub in subject_list"><b>{{sub.ismS_SubjectName|uppercase}}</b></th> <!--ng-if="sub.flag"-->
                                <!--<th colspan="{{exam_list.length+1}}" ng-repeat="sub in subject_list" ng-if="!sub.flag"><b>{{sub.ismS_SubjectName|uppercase}}</b></th>-->
                            </tr>
                            <tr>
                                <th><b>SL NO</b></th>
                                <th style="width:200px;"><b>NAME</b></th>
                                <th ng-repeat="header in Final_temp_headers track by $index">{{header.Name}}</th><!--ng-if="header.subj_flag "-->
                                <!--<th ng-repeat="header in Final_temp_headers track by $index" ng-if="!header.subj_flag">{{header.Name}}</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stud in student_list">
                                <td style="text-align:center">{{$index+1}}</td>
                                <td>{{stud.amsT_FirstName}}</td>
                                <td ng-repeat="marks in stud.sub_list" style="text-align:center">{{marks.estmpS_ObtainedMarks}}</td>
                                <!--<td ng-repeat="header in Final_temp_headers track by $index">ng-if="header.subj_flag"
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id && !header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id && header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.type=='Total'"><label ng-repeat="prom_mks in promotion_student_marks" ng-if="prom_mks.ismS_Id==header.ismS_Id && prom_mks.amsT_Id==stud.amsT_Id">{{prom_mks.estmppS_ObtainedMarks}}</label></span>&& header.type!=undefined

                                </td>-->
                                <!--<td ng-repeat="header in Final_temp_headers track by $index" ng-if="!header.subj_flag">
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id  && !header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-repeat="marks in student_marks" ng-if="marks.amsT_Id==stud.amsT_Id && marks.ismS_Id==header.ismS_Id && marks.emE_Id==header.emE_Id  && header.emE_FinalExamFlag"><label ng-if="marks.estmpS_PassFailFlg=='AB' || marks.estmpS_PassFailFlg=='M' || marks.estmpS_PassFailFlg=='L'"> {{marks.estmpS_PassFailFlg}}</label><label ng-if="marks.estmpS_PassFailFlg!='AB' && marks.estmpS_PassFailFlg!='M' && marks.estmpS_PassFailFlg!='L'">{{marks.estmpS_ObtainedMarks}}</label></span>
                                    <span ng-if="header.type=='Total'"><label ng-repeat="prom_mks in promotion_student_marks" ng-if="prom_mks.ismS_Id==header.ismS_Id && prom_mks.amsT_Id==stud.amsT_Id">{{prom_mks.estmppS_ObtainedMarks}}</label></span>&& header.type!=undefined
                                </td>-->
                            </tr>
                        </tbody>
                    </table>

                </div>



            </div>
        </div>
    </form>
</section>