
<link href="../css/print/hutchings/ProgressReport/HHS02/HHSIIVReportCard.css" rel="stylesheet" />
<section class="content">
    <!--<div class="box box-primary" data-ng-init="BindData()">-->
    <!--<div class="box-header with-border">
        <h3 class="box-title">HHS Progress Card 1st to 4th</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>-->
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" novalidate>
        <!-- Selection -->
        <div data-ng-init="BindData()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cumulative Report </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year :<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sm" name="yeardd" ng-model="asmaY_Id" ng-change="OnAcdyear(asmaY_Id)" required>
                                        <option value="">Select Academic Year</option>
                                        <option ng-repeat="year in yearlt" value="{{year.asmaY_Id}}" ng-selected="year.Selected == true">{{year.asmaY_Year}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.yeardd)" ng-messages="myForm.yeardd.$error">
                                        <div ng-message="required">Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Class :<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="cls" ng-model="asmcL_Id" data-ng-change="OnClass(asmcL_Id)" required>
                                        <option value="" label="Select Class"> </option>
                                        <option ng-repeat="option in classarray" value="{{option.asmcL_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.asmcL_ClassName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.cls)" ng-messages="myForm.cls.$error">
                                    <div ng-message="required">Select Class</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Section :<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="sec" ng-model="asmS_Id" required>
                                        <option value="" label="Select Section"> </option>
                                        <option ng-repeat="option in section" value="{{option.asmS_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.asmC_SectionName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.sec)" ng-messages="myForm.sec.$error">
                                    <div ng-message="required">Select Section</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Grade Group :<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="gr" ng-model="emgR_Id" required>
                                        <option value="" label="Select Grade"> </option>
                                        <option ng-repeat="option in grade_list" value="{{option.emgR_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.emgR_GradeName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.gr)" ng-messages="myForm.gr.$error">
                                    <div ng-message="required">Grade Group</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr />
                    <div class="">
                        <div class="">
                            <div class="text-center">
                                <input type="hidden" ng-model="EME_ID" />
                                <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="saveddata()">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i>
                                    Report
                                </md-button>
                                <md-button type="submit" class="md-raised md-warn" ng-click="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Cancel
                                </md-button>
                                <md-button type="button" class="md-raised md-primary" ng-click="printToCart()" ng-disabled="printbtn==false">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    Print
                                </md-button>
                                <!--<md-button type="submit" class="md-raised md-primary" id="excel-btn" aria-disabled="false" ng-click="exportToExcel('#table1')" ng-disabled="exclbtn==false">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                    Excel
                                </md-button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Student Details -->
        <div class="box box-primary" ng-show="HHS_I_IV_grid">
            <div class="box-body" style="overflow:scroll">
                <div class="ProgressReport-HH03" id="HHS02">
                    <section class="section01" style="page-break-after:always;">
                        <div class="padding-50">
                            <div id="Baldwin" class="CumulativeReportBB">

                                <h3 class="text-center">
                                    {{inst_name | uppercase}}
                                </h3>
                                <h6 class="text-center">
                                    {{add}},{{city}}-{{pin}}
                                </h6>
                                <h5 class="text-center">
                                    CUMULATIVE MARKS SHEET
                                </h5>
                                <h5 class="text-center">
                                    ACADEMIC YEAR : {{yr}}
                                </h5>

                                <h5 class="text-center">
                                    CLASS & SEC : {{cla}} - {{sec}}
                                </h5>
                                <table class="table table-hover table-responsive table-bordered text-center" style="font-size:{{size}} !important" id="table1">


                                    <thead>


                                        <tr>
                                            <th>
                                                <b><a href="">Sl No</a> </b>
                                            </th>
                                            <th>
                                                <b><a href="" ng-click="sort('amsT_FirstName')">STUDENT NAME</a></b>
                                            </th>
                                            <th>
                                                <b><a href="" ng-click="sort('amsT_AdmNo')">ADM.NO</a> </b>
                                            </th>
                                            <th>
                                                <b><a href="" ng-click="sort('amaY_RollNo')">Caste</a> </b>
                                            </th>
                                            <th>
                                                <b><a href="" ng-click="sort('amaY_RollNo')">Term</a> </b>
                                            </th>
                                            <th>
                                                <b><a href="" ng-click="sort('amaY_RollNo')">Valauation</a> </b>
                                            </th>
                                            <th>
                                                <a href="" ng-click="sort('estmP_TotalObtMarks')">Perc</a>
                                            </th>

                                            <th ng-repeat="col1 in sublist" colspan="2" ng-if="col1.EMPS_AppToResultFlg==true">
                                                {{col1.ISMS_SubjectName}}
                                            </th>
                                            <th>Total</th>
                                            <th ng-repeat="col1 in sublist" colspan="2" ng-if="col1.EMPS_AppToResultFlg==false">
                                                {{col1.ISMS_SubjectName}}
                                            </th>
                                            <th>working Days</th>
                                            <th>Pressent days</th>
                                            <th>Result</th>
                                        </tr>


                                    </thead>
                                    <tbody style="font-size:{{size}} !important" ng-repeat=" mn in mainlist">
                                        <tr>
                                            <td style="font-size:{{size}} !important" rowspan="{{mn.terms.length + 2 + mn.group.length}}">{{ $index+1}}</td>
                                        </tr>
                                        <tr ng-repeat="user in mn.studdetails" style="font-size:{{size}} !important" ng-if="user.AMST_Id==mn.AMST_Id">
                                            <!--<td style="font-size:{{size}} !important" rowspan="3">{{ $index+1}} </td>-->
                                            <td class="text-center" style="font-size:{{size}} !important" rowspan="{{mn.terms.length + 2 + mn.group.length}}">{{ user.StudentName }} </td>
                                            <td class="text-center" style="font-size:{{size}} !important" rowspan="{{mn.terms.length + 2 + mn.group.length}}">{{ user.AMST_AdmNo }} </td>
                                            <td class="text-center" style="font-size:{{size}} !important" rowspan="{{mn.terms.length + 2 + mn.group.length}}">{{ user.IMC_CasteName }} </td>
                                            <!--</tr>
                                            <tr ng-repeat="xx in mn.terms" class="text-center" style="font-size:{{size}} !important">
                                                <td rowspan="4">{{xx.ECT_TermName}}</td> rowspan="3"
                                            </tr>-->
                                            <!--<tr ng-repeat="xx in mn.terms" class="text-center" style="font-size:{{size}} !important">
                                                <td>{{xx.ECT_TermName}}</td> rowspan="3"
                                            </tr>-->
                                        <tr ng-repeat="gg in mn.group" class="text-center" style="font-size:{{size}} !important">
                                            <td>{{gg.ECT_TermName}}</td>
                                            <td><b ng-if="gg.EMPSG_GroupName=='FTotal'" class="text-center" style="font-size:{{size}} !important">{{gg.EMPSG_GroupName1}}</b> <label ng-if="gg.EMPSG_GroupName !='FTotal'" class="text-center" style="font-size:{{size}} !important">{{gg.EMPSG_GroupName}}</label></td>
                                            <td>{{gg.EMPSG_PercentValue}}</td>
                                            <td ng-repeat="col11 in sublist " colspan="2" class="text-center" style="font-size:{{size}} !important" ng-if="col11.EMPS_AppToResultFlg==true">
                                                <span ng-repeat="mr in mn.marks" class="text-center" style="font-size:{{size}} !important">
                                                    <label ng-if="gg.EMPSG_GroupName==mr.EMPSG_GroupName && col11.ISMS_Id==mr.ISMS_Id && gg.ECT_Id==mr.ECT_Id && col11.EMPS_AppToResultFlg==true" class="text-center" style="font-size:{{size}} !important">
                                                        {{mr.ESTMPPSG_GroupObtMarks |number:2}}&nbsp;&nbsp;({{mr.ESTMPPSG_GroupObtGrade}})
                                                    </label>
                                                    <label ng-if="gg.EMPSG_GroupName==mr.EMPSG_GroupName && col11.ISMS_Id==mr.ISMS_Id && mr.EMPSG_GroupName=='FTotal' && col11.EMPS_AppToResultFlg==true" class="text-center" style="font-size:{{size}} !important">
                                                        {{mr.ESTMPPSG_GroupObtMarks |number:2}}&nbsp;&nbsp;({{mr.ESTMPPSG_GroupObtGrade}})
                                                    </label>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-repeat="mr1 in mn.marks" ng-if="mr1.ISMS_SubjectName=='subttl'">
                                                    <label ng-if="gg.EMPSG_GroupName==mr1.EMPSG_GroupName && gg.displayname==mr1.displayname" class="text-center" style="font-size:{{size}} !important">                                                       
                                                        {{mr1.ESTMPPSG_GroupObtMarks |number:2}}
                                                    </label>
                                                </span>
                                            </td>
                                            <td ng-repeat="col11 in sublist " colspan="2" class="text-center" style="font-size:{{size}} !important" 
                                                ng-if="col11.EMPS_AppToResultFlg==false">
                                                <span ng-repeat="mr in mn.marks" class="text-center" style="font-size:{{size}} !important">
                                                    <label ng-if="gg.EMPSG_GroupName==mr.EMPSG_GroupName && col11.ISMS_Id==mr.ISMS_Id && gg.ECT_Id==mr.ECT_Id 
                                                           && col11.EMPS_AppToResultFlg==false" class="text-center" style="font-size:{{size}} !important">
                                                        {{mr.ESTMPPSG_GroupObtGrade}}
                                                    </label>
                                                    <label ng-if="gg.EMPSG_GroupName==mr.EMPSG_GroupName && col11.ISMS_Id==mr.ISMS_Id && mr.EMPSG_GroupName=='FTotal' 
                                                           && col11.EMPS_AppToResultFlg==false" class="text-center" style="font-size:{{size}} !important">
                                                        {{mr.ESTMPPSG_GroupObtGrade}}
                                                    </label>
                                                </span>
                                            </td>
                                            <td>{{gg.ASA_ClassHeld}}</td>
                                            <td>{{gg.ASA_Classpresent}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <hr />
            </div>
        </div>
    </form>
    <!--</div>-->
</section>
