
<section class="content twocoloumn">
    <div class="box box-primary" data-ng-init="BindData()">
        <div class="box-header with-border">
            <h3 class="box-title">Promotion Remarks </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal" role="form" name="myForm" novalidate>
                <!--<div class="row">
                    <div class="col-sm-12 text-center well" ng-init="examtype=1">
                        <label class="radio-inline">
                            <input name="optradio" ng-model="examtype" value="0" type="radio" ng-click="getlist()" disabled required>
                            <span class="lbl padding-8">Individual Exam</span>
                        </label>
                        <label class="radio-inline">
                            <input name="optradio" ng-model="examtype" value="1" type="radio" ng-click="getlist()" disabled required>
                            <span class="lbl padding-8">promotion Exam</span>
                        </label>
                        <div class="error-messages" ng-if="interacted(myForm.optradio)" ng-messages="myForm.optradio.$error">
                            <div ng-message="required">Select Radio Type</div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" name="year" id="sel1" ng-model="ASMAY_Id" data-ng-change="get_class()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in year_list" value="{{option.asmaY_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{option.asmaY_Year}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.year)" ng-messages="myForm.year.$error">
                                <div ng-message="required">Select Academic Year</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="sec" data-ng-change="get_group()" ng-model="ASMS_Id" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in sectionlist" value="{{option.asmS_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{option.asmC_SectionName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.sec)" ng-messages="myForm.sec.$error">
                                <div ng-message="required">Select Section</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="category" ng-model="ASMCL_Id" data-ng-change="get_section()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in classlist" value="{{option.asmcL_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{option.asmcL_ClassName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.category)" ng-messages="myForm.category.$error">
                                <div ng-message="required">Select Class</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Group :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="Group" ng-model="EMPSG_GroupName"  required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="group in getexamgroupname" value="{{group.EMPSG_GroupName}}" ng-selected="{{group.Selected == true}}">
                                        {{group.EMPSG_GroupName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.Group)" ng-messages="myForm.Group.$error">
                                <div ng-message="required">Select Group</div>
                            </div>
                        </div>
                        <!--<div class="form-group">
        <label for="sel2" class="control-label col-sm-4">Exam: <span style="color:Red">*</span></label>
        <div class="col-sm-8">
            <select class="form-control" id="sel1" name="exa" ng-model="EME_Id" ng-required="examtype==0" ng-disabled="examtype==1">
                <option value="">--Select--</option>
                <option ng-repeat="exam in exam_list" value="{{exam.emE_Id}}" ng-selected="{{exam.Selected == true}}">
                    {{exam.emE_ExamName}}
                </option>
            </select>
            <div class="error-messages" ng-if="interacted(myForm.exa)" ng-messages="myForm.exa.$error">
                <div ng-message="required">Select Exam</div>
            </div>
        </div>
    </div>-->
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <md-button type="button" class="md-raised md-primary" ng-click="search_student()">
                        <i class="fa fa-search" aria-hidden="true"></i> Search
                    </md-button>
                </div>
            </form>
            <form class="form-horizontal" role="form" name="myForm1" novalidate>
                <div ng-show="select_cat">
                    <table class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th><a href="">SLNO</a></th>
                                <th>
                                    <label>
                                        <input type="checkbox" data-ng-model="checkall" ng-click="toggleAll_S()">
                                        <span class="lbl padding-8"></span><span style="color:lightgreen;font-size:20px;"></span>
                                    </label>
                                </th>
                                <th><a href="">Student Name</a></th>
                                <th><a href="">Adm.No</a></th>
                                <th><a href="">Roll.No</a></th>
                                <th><a href="">Marks </a></th>
                                <th ng-if="examtype==1"><a href="">Conduct</a></th>
                                <th><a href="">Remarks</a></th>
                                <!--<th ng-if="examtype==1"><a href="">Class</a></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in student | orderBy:sortKey:sortReverse | filter:paginate| filter:search" ng-class-odd="'odd'" ng-form="myformdtable">
                                <td>{{ $index + 1}}</td>
                                <td class="text-center">
                                    <label>
                                        <input type="checkbox" name="adcheckt" value="{{user.amsT_Id}}" ng-model="user.checkedvalue" ng-change="optionToggled()">
                                        <span class="lbl padding-8"></span>
                                    </label>
                                </td>
                                <td class="text-left">{{user.studentname}}</td>
                                <td class="text-left">{{user.amsT_Admno}}</td>
                                <td class="text-left">{{user.amaY_RollNo}}</td>
                                <td class="text-left">
                                    <div class="row">
                                        <div class="col-sm-6 text-bold">
                                            Obtained Marks
                                        </div>
                                        <div class="col-sm-6 text-bold">
                                            : {{user.obtainedmarks}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-bold">
                                            Max Marks
                                        </div>
                                        <div class="col-sm-6 text-bold">
                                            : {{user.totalmaxmarks}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-bold">
                                            Percentage
                                        </div>
                                        <div class="col-sm-6 text-bold">
                                            : {{user.percentage}}
                                        </div>
                                    </div>
                                </td>
                                <td ng-if="examtype==1" class="text-center">
                                    <input class="form-control" type="text" data-ng-model="user.esgpcR_Conduct" ng-required="examtype==1 && (user.checkedvalue==true)" name="prom" />
                                    <div class="error-messages" ng-if="interacted1(myformdtable.prom)" ng-messages="myformdtable.prom.$error">
                                        <div ng-message="required">Enter PromotionName</div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <select class="form-control" id="sel1" ng-model="user.model" data-ng-change="get_Remarks(user)">
                                        <option value="">--Select--</option>
                                        <option value="Has made good academic and/or social progress has been made this semester.">Has made good academic and/or social progress has been made this semester.</option>
                                        <option value="Puts evident effort into his work as he completes assignments.">Puts evident effort into his work as he completes assignments.</option>
                                        <option value="Must try to complete his assignments in time.">Must try to complete his assignments in time.</option>
                                        <option value="Requires to persevere to improve his academic performance.">Requires to persevere to improve his academic performance.</option>
                                        <option value="Needs to refine his social behavioural pattern.">Needs to refine his social behavioural pattern.</option>
                                        <option value="Needs to pay attention to personal grooming.">Needs to pay attention to personal grooming.</option>
                                        <option value="Should try for greater academic heights, given that he is a high achiever.">Should try for greater academic heights, given that he is a high achiever.</option>
                                        <option value="Should work up to his potential in order to secure better grades.">Should work up to his potential in order to secure better grades.</option>
                                        <option value="Should improve his English Language skills by reading story Books.">Should improve his English Language skills by reading story Books.</option>
                                        <option value="Needs to improve in English/Mathematics to augment his grades.">Needs to improve in English/Mathematics to augment his grades.</option>
                                        <option value="Must aim at improving his grades as he has immense potential.">Must aim at improving his grades as he has immense potential.</option>
                                        <option value="Must focus on   subject  and  subject   in order to improve his performance in class.">Must focus on   subject  and  subject   in order to improve his performance in class.</option>
                                    </select>
                                    <textarea class="form-control" data-ng-model="user.esgpcR_Remarks"
                                              ng-required="(examtype==0 || examtype==1) && (user.checkedvalue==true)" rows="3"
                                              name="t1_{{user.amsT_Id}}" style="resize:none"></textarea>
                                    <div class="error-messages" ng-if="interacted1(myformdtable['t1_'+user.amsT_Id])"
                                         ng-messages="myformdtable['t1_'+user.amsT_Id].$error">
                                        <div ng-message="required"> Enter The Remarks For Selected Student </div>
                                    </div>
                                </td>
                                <!--<td ng-if="examtype==1" class="text-center">
                                    <input class="form-control" type="text" data-ng-model="user.eprD_ClassPromoted" ng-required="examtype==1 && (user.checkedvalue==true)" name="classpro" />
                                    <div class="error-messages" ng-if="interacted1(myformdtable.classpro)" ng-messages="myformdtable.classpro.$error">
                                        <div ng-message="required">Enter ClassPromoted</div>
                                    </div>
                                </td>-->
                                <td hidden="hidden">{{user.esgpcR_Id }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <div class="text-center">
                        <md-button type="button" class="md-raised md-primary" ng-click="save_details()">
                            <i class="fa fa-save" aria-hidden="true"></i> Save
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" ng-click="clear()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>