<section class="content twocoloumn">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" novalidate>
        <div data-ng-init="BindData()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Login Privilages</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="">
                        <div class="">
                            <div class="well" ng-init="all='ct'">
                                <div class="text-center">
                                    <label class="radio-inline">
                                        <input value="ct" type="radio" ng-model="all" ng-click="classteacher()" ng-disabled="dis==true">
                                        <span class="lbl padding-8">Entry By Class teacher</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input value="st" type="radio" ng-model="all" ng-click="subjectteacher()" ng-disabled="dis==true">
                                        <span class="lbl padding-8">Entry By Subject Teacher</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input value="others" type="radio" ng-model="all" ng-click="others()" ng-disabled="dis==true">
                                        <span class="lbl padding-8">Entry By Others</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year :<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sm" name="yeardd" ng-model="asmaY_Id" ng-change="OnAcdyear()" required ng-disabled="dis==true">
                                        <option value="">Select</option>
                                        <option ng-repeat="year in yearlt" value="{{year.asmaY_Id}}" ng-selected="year.Selected == true">{{year.asmaY_Year}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.yeardd)" ng-messages="myForm.yeardd.$error">
                                        <div ng-message="required">Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">User Name :<span style="color:Red">*</span></label>
                                <div class="col-sm-8">                                    
                                    <ui-select id="sel1" name="usrnm" ng-model="obj123.ivrmulF_Id" theme="bootstrap" ng-change="selectemp(obj123,all)"
                                               ng-keyup="searchfilter($select,user.status);" title="Select User" ng-disabled="dis==true" required>
                                        <ui-select-match ng-trim="false" placeholder="Select User Name">{{$select.selected.hrmE_EmployeeFirstName}}</ui-select-match>
                                        <ui-select-choices repeat="optionun in usrlt | filter: $select.search" value="{{optionun.ivrmulF_Id}}"
                                                           ng-selected="{{optionun.Selected == true}}">
                                            <div ng-bind-html="optionun.hrmE_EmployeeFirstName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-messages" ng-if="interacted(myForm.usrnm)" ng-messages="myForm.usrnm.$error">
                                        <div ng-message="required">
                                            Select User Name
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Employee Name :<span style="color:Red">*</span></label>
                                <div class="col-sm-8">                                   
                                    <ui-select id="sel12" name="empname" ng-model="obj1234.hrmE_Id" theme="bootstrap" ng-change="selectemp1(obj1234,all)"
                                               ng-keyup="searchfilter($select,user.status);" title="Select Employee Name" ng-disabled="dis==true" required>
                                        <ui-select-match ng-trim="false" placeholder="Select Employee Name">{{$select.selected.hrmE_EmployeeFirstName}}</ui-select-match>
                                        <ui-select-choices repeat="emp in emplt | filter: $select.search" value="{{emp.hrmE_Id}}"
                                                           ng-selected="{{emp.Selected == true}}">
                                            <div ng-bind-html="emp.hrmE_EmployeeFirstName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-messages" ng-if="interacted(myForm.empname)" ng-messages="myForm.empname.$error">
                                        <div ng-message="required">Select Employee Name</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Class :<span style="color:Red">*</span></label>
                                    <div class="col-sm-7">
                                        <div class="multiselect col-sm-8">
                                            <label data-ng-model="asmcL_Id" ng-repeat="clss in clslist | filter:filterValue" value="{{clss.asmcL_Id}}">
                                                <input name="classoption" value="" ng-disabled="clldis==true" ng-model="clss.checked" type="checkbox" ng-required="isOptionsRequired1()">
                                                <span class="lbl padding-8">                                                
                                                    {{clss.asmcL_ClassName}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="error-messages" ng-if="interacted(myForm.classoption)" ng-messages="myForm.classoption.$error">
                                            <div ng-message="required">Select Class</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Section :<span style="color:Red">*</span></label>
                                    <div class="col-sm-7">
                                        <div class="multiselect col-sm-8">
                                            <label data-ng-model="asmS_Id" ng-repeat="sec in seclist | filter:filterValue" value="{{sec.asmS_Id}}" ng-disable="dissection">
                                                <input name="Sectionoption" value="" ng-disabled="clldis==true" ng-model="sec.checked" type="checkbox" ng-required="isOptionsRequired2()">
                                                <span class="lbl padding-8">
                                                    {{sec.asmC_SectionName}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="error-messages" ng-if="interacted(myForm.Sectionoption)" ng-messages="myForm.Sectionoption.$error">
                                            <div ng-message="required">Select section</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="sel2" class="control-label col-sm-4">Subjects: <span style="color:Red">*</span></label>
                                    <div class="col-sm-7">
                                        <div class="multiselect col-sm-8">
                                            <input class="form-control" ng-model="searchchkbx" type="text" placeholder="search here..." style="margin:1%;">
                                            <label data-ng-model="ismS_Id" ng-repeat="sub in subjectlt | filter:filterchkbx" value="{{sub.ismS_Id}}">
                                                <input name="Subjectoption" value="" ng-model="sub.checkedsub" type="checkbox" ng-required="isOptionsRequired3()">
                                                <span class="lbl padding-8">
                                                    {{sub.ismS_SubjectName}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="error-messages" ng-if="interacted(myForm.Subjectoption)" ng-messages="myForm.Subjectoption.$error">
                                            <div ng-message="required">Select Subject</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="sel2" class="control-label col-sm-4">Sub Subjects: </label> <!--<span style="color:Red">*</span>-->
                                    <div class="col-sm-7">
                                        <div class="multiselect col-sm-8">
                                            <input class="form-control" ng-model="subsubjectsrch" type="text" placeholder="search here..." style="margin:1%;">
                                            <label data-ng-model="emsS_Id" ng-repeat="ssub in subsubjlt | filter:searchsubsub" value="{{ssub.emsS_Id}}">
                                                <input name="Studentoption" value="" ng-model="ssub.checked" type="checkbox"> <!--ng-required="isOptionsRequired4()"-->
                                                <span class="lbl padding-8">
                                                    {{ssub.emsS_SubSubjectName}}
                                                </span>
                                            </label>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="text-center">
                            <input type="hidden" ng-model="ivrmstauL_Id" value="{{ivrmstauL_Id}}" />
                            <md-button type="submit" class="md-raised md-primary" ng-click="Mapsubject()">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add
                            </md-button>
                            <md-button type="submit" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="box box-primary" ng-show="selectedclass.length>0">
        <!--ng-hide="details"-->
        <div class="box-header with-border">
            <h3 class="box-title">Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">            
            <table class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>SLNO</th>
                        <th>Academic Year</th>
                        <th>user_Id</th>
                        <th>Employee Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Subject</th>
                        <th>Sub Subject</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody ng-sortable="configA">
                    <tr ng-repeat="cls in selectedclass ">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-left">{{cls.year}}</td>
                        <td class="text-center">{{cls.user_id}}</td>
                        <td class="text-left">{{cls.emp_name}}</td>
                        <td class="text-left">{{cls.clas.asmcL_ClassName}}</td>                        
                        <td class="text-left">{{cls.secs.asmC_SectionName}}</td>
                        <td class="text-left">
                            <table>
                                <tr ng-repeat="sub in cls.sub ">
                                    <td class="text-left">{{sub.ismS_SubjectName}}</td>
                                </tr>
                            </table>
                        </td>
                        <td class="text-left">
                            <table>
                                <tr ng-repeat="ssubj in cls.ssub">
                                    <td class="text-left">{{ssubj.emsS_SubSubjectName}}</td>
                                </tr>
                            </table>
                        </td>
                        <td class="text-center">
                            <span class="">                               
                                <a href="javascript:void(0)" ng-click="edit(cls,$index);">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </span>
                            <span class="">                               
                                <a href="javascript:void(0)" ng-click="delete(cls,$index);">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <md-button type="submit" class="md-raised md-primary" ng-click="saveddata()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </md-button>
            </div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Grid View</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-edit class="grid text-center" id="style-4" style="height: 270px;"></div>
        </div>
    </div>
    <div class="modal fade  modal-large" id="popup" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i></button>
                <h4 class="modal-title text-white"> Group Subjects</h4>
            </div>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">                    
                    <table class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th><a href="" ng-click="sort('')">SLNO</a></th>
                                <th><a href="" ng-click="sort('asmcL_ClassName')">Class Name</a></th>
                                <th><a href="" ng-click="sort('asmC_SectionName')">Section Name</a></th>
                                <th><a href="" ng-click="sort('ismS_SubjectName')"> Subject Name</a></th>
                                <th><a href="" ng-click="sort('emsS_SubSubjectName')"> SubSubject Name</a></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in viewrecordspopupdisplay" current-page="currentPage">
                                <td class="text-center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td class="text-left">{{ user.asmcL_ClassName}}</td>
                                <td class="text-left">{{ user.asmC_SectionName}}</td>
                                <td class="text-left">{{ user.ismS_SubjectName}}</td>
                                <td class="text-left">{{ user.emsS_SubSubjectName}}</td>
                                <td class="text-center" ng-if="user.elpsS_Id > 0">
                                    <a ng-if="user.elPss_ActiveFlg === false" href="javascript:void(0)" style="color:green;" ng-click="deactive(user);"> <md-tooltip md-direction="down">Activate Now</md-tooltip> <i class="fa fa-toggle-off text-red" aria-hidden="true"></i></a>

                                    <a href="javascript:void(0)" style="color:red;" ng-if="user.elPss_ActiveFlg === true" ng-click="deactive(user);">  <md-tooltip md-direction="down">Deactivate Now</md-tooltip> <i class="fa fa-toggle-on text-green" aria-hidden="true"></i></a>
                                </td>
                                <td class="text-center" ng-if="user.elpsS_Id==0">
                                    <a ng-if="user.elPs_ActiveFlg === false" href="javascript:void(0)" style="color:green;" ng-click="deactive(user);"> <md-tooltip md-direction="down">Activate Now</md-tooltip> <i class="fa fa-toggle-off text-red" aria-hidden="true"></i></a>

                                    <a href="javascript:void(0)" style="color:red;" ng-if="user.elPs_ActiveFlg === true" ng-click="deactive(user);">  <md-tooltip md-direction="down">Deactivate Now</md-tooltip> <i class="fa fa-toggle-on text-green" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="clearpopupgrid()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
