<style>
    .trclass {
        border: 0.5px solid black !important;
    }

    .box-body {
        padding: 5px !important;
    }
</style>

<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" novalidate>
        <div data-ng-init="BindData()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Progress Card Report</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Academic Year:<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="acd1" ng-model="ASMAY_Id" ng-disabled="selected_temp.length>0"
                                            ng-change="onyearchange()" required>
                                        <option value="">--Select--</option>
                                        <option ng-repeat="acd in year_list" value="{{acd.asmaY_Id}}" ng-selected="{{acd.Selected==true}}">
                                            {{acd.asmaY_Year}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.acd1)" ng-messages="myForm.acd1.$error">
                                        <div ng-message="required">Select Academic Year</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Section:<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="cat" ng-model="ASMS_Id" ng-disabled="selected_temp.length>0"
                                            required>
                                        <option value="">--Select--</option>
                                        <option ng-repeat="section in section_list" value="{{section.asmS_Id}}" ng-selected="{{section.Selected==true}}">
                                            {{section.asmC_SectionName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.cat)" ng-messages="myForm.cat.$error">
                                        <div ng-message="required">Select Section</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3"> </label>
                                <div class="col-sm-8">
                                    <input type="checkbox" ng-model="OverAlltotal" />
                                    <span class="lbl padding-8"> OverAll Total Grade ?</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3"> </label>
                                <div class="col-sm-8">
                                    <input type="checkbox" ng-model="OverAlClass" />
                                    <span class="lbl padding-8"> OverAll Class-Section  Rank  ?</span>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="control-label col-sm-3"> </label>
                                <div class="col-sm-8">
                                    <input type="checkbox" ng-model="ECTEX_NotApplToTotalFlg" />
                                    <span class="lbl padding-8"> Exam Wise Remarks  ?</span>
                                </div>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Class:<span style="color:Red">*</span></label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" name="class" ng-model="ASMCL_Id" ng-change="onclasschange()" required>
                                            <option value="">--Select--</option>
                                            <option ng-repeat="clas in class_list" value="{{clas.asmcL_Id}}" ng-selected="{{clas.Selected==true}}">
                                                {{clas.asmcL_ClassName}}
                                            </option>
                                        </select>
                                        <div class="error-messages" ng-if="interacted(myForm.class)" ng-messages="myForm.class.$error">
                                            <div ng-message="required">Select Class</div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="control-label col-sm-4">Reopen Date:<span style="color:red;">*</span></label>
                                    <div class="col-sm-8">
                                        <md-datepicker ng-model="Reopen_Date" onkeydown="return false" name="From_Date" id="date1" md-placeholder="Date" required></md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.From_Date)" ng-messages="myForm.From_Date.$error">
                                            <div ng-message="required"> Reopen Date</div>
                                        </div>
                                    </div>

                                </div>-->

                            </div>
                        </div>
                        <div class="text-center">
                            <div class="form-group">
                                <div class="text-center">
                                    <input type="hidden" ng-model="EME_ID" />
                                    <md-button type="button" ng-click="BBHS_IX_20202021()" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">
                                        <i class="fa fa-list-alt " aria-hidden="true"></i>
                                        Report
                                    </md-button>
                                    <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        Cancel
                                    </md-button>
                                    <md-button type="button" class="md-raised md-primary" ng-click="printToCart()">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        Print
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </form>

    <div class="box box-primary" ng-show="JSHSReport">
        <div class="box-header with-border">
            <h3 class="box-title">Progress Card Report</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="BBIIPROGRESREPORT" id="Baldwin">
                <div class="margin-top-10" ng-repeat="report in studentdetails" style="page-break-before:always;">
                    <div class="header text-center margin-bottom-10">
                        <h4>
                            <img src="{{imgname}}" class="img-responsive" style="width:100%;" />

                        </h4>
                    </div>
                    <section class="content">
                        <div class="sect1">
                            <div class="row margin-bottom-10">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"><b>NAME</b></label>
                                        <label class="control-label col-sm-8">
                                            : <b>{{report.studentname}}</b>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"><b>CLASS TEACHER </b></label>
                                        <label class="control-label col-sm-8">
                                            : <b>{{clastechname | uppercase}}</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"><b>CLASS</b></label>
                                        <label class="control-label col-sm-8">
                                            : <b>{{report.classname}}</b>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"><b>SECTION </b></label>
                                        <label class="control-label col-sm-8">
                                            : <b>{{report.sectionname}}</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"><b>ADM.NO </b></label>
                                        <label class="control-label col-sm-8">
                                            : <b>{{report.admno}}</b>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"><b>D.O.B </b></label>
                                        <label class="control-label col-sm-8">
                                            : <b>{{report.dob|date:'dd-MMM-yyyy'}}</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-sm-12">
                                <table class="table-bordered table">
                                    <thead>
                                        <tr class="trclass">
                                            <th width="100" class="text-center" rowspan="2"><b>Subject Name</b></th>
                                            <td ng-repeat="grp in getgroupdetails" colspan="{{grp.groupewiseexam.length-1}}">
                                                <b>{{grp.empG_DistplayName}}  ({{grp.empsG_MarksValue}} Marks)</b>
                                            </td>
                                            <td class="text-center" rowspan="2" ng-if="OverAlltotal==true"><b>Grand Total</b></td>
                                            <td class="text-center" rowspan="2" ng-if="OverAlltotal==true"><b>Grade</b></td>

                                        </tr>
                                        <tr>
                                            <th class="text-center" style="word-wrap :break-word!important" width="150" ng-repeat="grpexam in groupwiseexamlist" ng-if="grpexam.examnamedisplay!='Total'">
                                                <b>{{grpexam.examnamedisplay}} </b> <br />
                                                <b ng-if="grpexam.examnamedisplay!='Grade'">({{grpexam.EMPSGE_ForMaxMarkrs}})</b>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="subj in report.studentsubjects" ng-if="subj.EMPS_AppToResultFlg">
                                            <td class="text-left" style="word-wrap:break-word"><b>{{subj.ISMS_SubjectName}}</b></td>
                                            <td class="text-center" ng-repeat="grpexam in groupwiseexamlist" ng-if="grpexam.examnamedisplay!='Total'">
                                                <span ng-repeat="mrks in report.studentmarks"
                                                      ng-if="subj.ISMS_Id==mrks.ISMS_Id && grpexam.EME_Id==mrks.EME_Id
                                                      && mrks.EMPSG_DisplayName==grpexam.EMPG_DistplayName">


                                                    <label ng-if="mrks.PassFailFlag!='AB' && mrks.PassFailFlag!='M' && mrks.PassFailFlag !='L'
                                                           && grpexam.EME_ExamName!='Grade' ">
                                                        <b ng-if="mrks.eyceS_MarksDisplayFlg=='1'">{{mrks.ObtainedMarks}}</b>
                                                        <b ng-if="mrks.eyceS_GradeDisplayFlg=='1'">{{mrks.ObtainedGrade}}</b>
                                                    </label>
                                                    <label ng-if="mrks.PassFailFlag=='AB' && mrks.ObtainedMarks==0">
                                                        <b>  {{mrks.PassFailFlag}}</b>

                                                    </label>
                                                    <label ng-if="mrks.PassFailFlag!='AB' && mrks.PassFailFlag!='M' && mrks.PassFailFlag !='L'
                                                           && grpexam.EME_ExamName=='Grade'">
                                                        <b>  {{mrks.ObtainedGrade}}</b>
                                                    </label>
                                                </span>
                                            </td>
                                            <td class="text-center" ng-if="OverAlltotal==true"><b ng-if="subj.EYCES_MarksDisplayFlg==true">{{subj.ESTMPPS_ObtainedMarks}}</b></td>
                                            <td class="text-center" ng-if="OverAlltotal==true"><b>{{subj.ESTMPPS_ObtainedGrade}}</b></td>

                                        </tr>
                                        <tr>
                                            <td class="text-left"><b>TOTAL</b></td>
                                            <td class="text-center" ng-repeat="grpexam in groupwiseexamlist" ng-if="grpexam.examnamedisplay!='Total'">
                                                <span ng-repeat="mrks in report.student_marks"
                                                      ng-if="grpexam.EME_Id==mrks.EME_Id && mrks.EMPSG_DisplayName==grpexam.EMPG_DistplayName && grpexam.EME_Id!=9800001">
                                                    <label>

                                                        <b>{{mrks.ObtainedMarks}}</b>

                                                    </label>
                                                </span>
                                                <!--<span ng-repeat="mrks in report.student_marks"
                                                      ng-if="grpexam.EME_Id==mrks.EME_Id && mrks.EMPSG_DisplayName==grpexam.EMPG_DistplayName  && grpexam.EME_Id !=9800000">
                                                    <label>

                                                        <b>{{mrks.EMGD_Name}}</b>

                                                    </label>
                                                </span>-->
                                            </td>

                                            <td class="text-center" ng-if="OverAlltotal==true">
                                                <b> {{report.TotalMarks}}</b>
                                            </td>
                                            <td ng-if="OverAlltotal==true">
                                                <span ng-if="report.ESTMPP_TotalGrade !=''">
                                                    {{report.ESTMPP_TotalGrade}}
                                                </span>


                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><b>PERCENTAGE </b></td>
                                            <td class="text-center" ng-repeat="grpexam in groupwiseexamlist" ng-if="grpexam.examnamedisplay!='Total'">
                                                <span ng-repeat="mrks in report.student_marks"
                                                      ng-if="grpexam.EME_Id==mrks.EME_Id && mrks.EMPSG_DisplayName==grpexam.EMPG_DistplayName && grpexam.EME_Id!=9800001">
                                                    <label><b>{{mrks.TotalPercentage}}</b></label>
                                                </span>
                                                <!--<span ng-repeat="mrks in report.student_marks"
                                                      ng-if="grpexam.EME_Id==mrks.EME_Id && mrks.EMPSG_DisplayName==grpexam.EMPG_DistplayName  && grpexam.EME_Id !=9800000">
                                                    <label>

                                                        <b>{{mrks.EMGD_Name}}</b>

                                                    </label>
                                                </span>-->
                                            </td>
                                            <td class="text-center" ng-if="OverAlltotal==true">
                                                <b> {{report.TotalPercentage}}</b>
                                            </td>
                                            <td ng-if="OverAlltotal==true">&nbsp;</td>
                                        </tr>
                                        <tr ng-if="OverAlClass==true">
                                            <td class="text-left"><b>RANK IN SECTION</b></td>

                                            <td class="text-center" colspan="{{groupwiseexamlist.length+3}}">
                                                <b>  {{report.SectionRank}} </b>
                                            </td>


                                        </tr>
                                        <tr ng-if="OverAlClass==true">
                                            <td class="text-left"><b>RANK IN CLASS</b></td>
                                            <td class="text-center" colspan="{{groupwiseexamlist.length+3}}">
                                                <b>  {{report.ClassRank}} </b>
                                            </td>

                                        </tr>


                                        <tr ng-repeat="subj in report.studentsubjects" ng-if="!subj.EMPS_AppToResultFlg">
                                            <td class="text-left" style="word-wrap:break-word"><b>{{subj.ISMS_SubjectName}}</b></td>
                                            <td class="text-center" ng-repeat="grpexam in groupwiseexamlist" ng-if="grpexam.examnamedisplay!='Total'">
                                                <span ng-repeat="mrks in report.studentmarks"
                                                      ng-if="subj.ISMS_Id==mrks.ISMS_Id && grpexam.EME_Id==mrks.EME_Id
                                                      && mrks.EMPSG_DisplayName==grpexam.EMPG_DistplayName">

                                                    <label ng-if="mrks.PassFailFlag=='AB'||mrks.PassFailFlag=='M'||mrks.PassFailFlag=='L'">
                                                        <b>  {{marks.PassFailFlag}}</b>
                                                        <b ng-if="marks.ObtainedMarks>0 && grpexam.EME_ExamName!='Grade'">

                                                            <b ng-if="mrks.eyceS_MarksDisplayFlg=='1'">{{mrks.ObtainedMarks}}</b>
                                                            <b ng-if="mrks.eyceS_GradeDisplayFlg=='1'">{{mrks.ObtainedGrade}}</b>
                                                        </b>
                                                    </label>
                                                    <label ng-if="mrks.PassFailFlag!='AB' && mrks.PassFailFlag!='M' && mrks.PassFailFlag !='L'
                                                           && grpexam.EME_ExamName!='Grade'">

                                                        <b ng-if="mrks.eyceS_MarksDisplayFlg=='1'">{{mrks.ObtainedMarks}}</b>
                                                        <b ng-if="mrks.eyceS_GradeDisplayFlg=='1'">{{mrks.ObtainedGrade}}</b>
                                                    </label>
                                                    <label ng-if="mrks.PassFailFlag=='AB' && mrks.ObtainedMarks==0">
                                                        <b>  {{mrks.PassFailFlag}}</b>

                                                    </label>
                                                    <label ng-if="mrks.PassFailFlag!='AB' && mrks.PassFailFlag!='M' && mrks.PassFailFlag !='L'
                                                           && grpexam.EME_ExamName=='Grade'">
                                                        <b>  {{mrks.ObtainedGrade}}</b>
                                                    </label>
                                                </span>
                                            </td>
                                            <td class="text-center" ng-if="OverAlltotal==true"><b ng-if="subj.EYCES_MarksDisplayFlg==true"><!--{{subj.ESTMPPS_ObtainedMarks}}--></b></td>
                                            <td class="text-center" ng-if="OverAlltotal==true"><b>{{subj.ESTMPPS_ObtainedGrade}}</b></td>

                                        </tr>




                                </table>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6" ng-repeat="skill in skilllist_temp">
                                    <table class="table table-bordered" style="font-family: system-ui!important;width:100% !important">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    CO-SCHOLASTIC AREAS [ ON A 3-POINT(A-C) C
                                                    GRADING SCALE]
                                                </td>
                                                
                                                <td ng-repeat="cos in  gettermdetails" class="text-center" style="background-color:gray">

                                                    {{cos.ecT_TermName}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat="skillx in activitylist_temp" ng-if="skill.ECS_Id==skillx.ECS_Id">
                                                <td>{{skillx.ECSA_SkillArea}}</td>

                                                <td ng-repeat="cosx in  gettermdetails">
                                                    <span ng-repeat="gradex in getstudentwiseskillslist" ng-if="cosx.ecT_Id ==gradex.ECT_Id && gradex.AMST_Id==report.AMST_Id && skillx.ECSA_Id==gradex.ECSA_Id ">{{gradex.EMGD_Name}}</span>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="table table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Attendance
                                                </th>
                                                <th>
                                                    {{yearname}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Percentage of days present
                                                </td>
                                                <td ng-repeat="att in stud_present_attendence" ng-if="report.AMST_Id==att.AMST_Id"><b>{{att.Total_Percentage}} %</b></td>


                                            </tr>
                                            <tr>
                                                <td>
                                                    Days present/Working days
                                                </td>
                                                <td ng-repeat="att in stud_present_attendence" ng-if="report.AMST_Id==att.AMST_Id"><b>{{att.TotalPresentDays}} /  {{att.TotalSchoolDays}}</b></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered table-condensed margin-top-20">
                                        <tr>
                                            <td style="text-align:left !important">Remarks:&nbsp; {{report.remarks}}</td>

                                        </tr>
                                    </table>
                                    <table class="table table-bordered table-condensed margin-top-20">
                                        <tr>
                                            <td style="text-align:left !important">Result:&nbsp; {{report.promotedclass}}</td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <td class="text-center">
                                                <b>HEALTH</b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td ng-repeat="sp in sportsdetails" ng-if="sp.AMST_Id==report.AMST_Id" class="text-left">
                                                Height & Weight:   {{sp.SPCCSHW_Height}}  & &nbsp;  {{sp.SPCCSHW_Weight}}
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row col-sm-12 padding-top-60">
                            <div class="col-sm-4 text-center">
                                <span><b>Signature of Class Teacher</b></span>
                            </div>

                            <div class="col-sm-4 text-center">
                                <span><b>Instiution Seal</b></span>
                            </div>

                            <div class="col-sm-4 text-center">
                                <span><b>Principal's Signature</b></span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


   
</section>
