
<section class="content" ng-init="BindData()">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" ng-submit="savedata()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Master Slab Details</h3>
               
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <center>  <h2 style="color:red !important ; font-size:19px !important ;"> Note: This is One Time Entry </h2></center>

                        <!--<marquee attribute_name="attribute_value" ....more attributes>
                            <h4 style="color:red !important ; font-size:14px !important ;">Note:- This is one time setting and has to be saved once. </h4>
                        </marquee>-->
                    </div>
                </div>
                <table class="table table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th>SL NO</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Grade Points</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rows track by $index" ng-form="myForm2">
                            <td>{{$index + 1}}</td>
                            <td>
                                <input type="text" ng-model="row.EMGD_From" name="from_s" ng-pattern="/^[0-9]{0,4}\.?[0-9]{1,}?$/" allow-pattern="[0-9.]" ng-blur="valid_from(row)" class="form-control" ng-paste="$event.preventDefault()" required />
                                <div class="error-messages" ng-if="interacted2(myForm2.from_s)" ng-messages="myForm2.from_s.$error">
                                    <div ng-message="pattern">Enter valid Format[For Example 100.00,99.97,......]</div>
                                    <div ng-message="required">Enter From[Range]</div>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="to_s" ng-model="row.EMGD_To" ng-pattern="/^[0-9]{0,4}\.?[0-9]{1,}?$/" allow-pattern="[0-9.]" ng-blur="valid_to(row)" class="form-control" ng-paste="$event.preventDefault()" required />
                                <div class="error-messages" ng-if="interacted2(myForm2.to_s)" ng-messages="myForm2.to_s.$error">

                                    <div ng-message="pattern">Enter valid Format[For Example 100.00,99.97,......]</div>
                                    <div ng-message="required">Enter To[Range]</div>
                                </div>
                            </td>
                            <td>
                                <input type="text" ng-model="row.EMGD_GradePoints" name="gradepoints_s" maxlength="2" ng-blur="valid_point(row)" class="form-control" ng-paste="$event.preventDefault()" required />
                                <div class="error-messages" ng-if="interacted2(myForm2.gradepoints_s)" ng-messages="myForm2.gradepoints_s.$error">
                                    <div ng-message="required">Enter Grade Points</div>
                                </div>
                            </td>
                            <td>
                                <span class="">
                                    <a href="" ng-click="addNew(rows,$index)" style="color:#000;">
                                        <i class="fa fa-plus text-green"></i>
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span class="i" id="remove" ng-hide="rows.length==1">
                                    <a href="" ng-click="removerow(rows,$index)" style="color:#000;">
                                        <i class="fa fa-minus text-danger"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <md-button type="submit" class="md-raised md-primary" id="save-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" data-ng-click="clear()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </div>
        </div>
    </form>
</section>

