
<link href="../css/print/hutchings/ProgressReport/HHS02/HHSIIVReportCard.css" rel="stylesheet" />
<section class="content">

    <form class="form-horizontal ng-pristine ng-valid" name="myForm" data-ng-submit="saveddata()" role="form" novalidate>
        <!-- Selection -->
        <div data-ng-init="BindData()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Progress Card Report</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year :<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sm" name="yeardd" ng-model="asmaY_Id" data-ng-change="onyearchange()" required>
                                        <option value="">Select Academic Year</option>
                                        <option ng-repeat="year in yearlt" value="{{year.asmaY_Id}}" ng-selected="year.Selected == true">{{year.asmaY_Year}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.yeardd)" ng-messages="myForm.yeardd.$error">
                                        <div ng-message="required">Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">class :<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="cls" ng-model="asmcL_Id" data-ng-change="onclasschange()" required>
                                        <option value="" label="Select class"> </option>
                                        <option ng-repeat="option in clslist" value="{{option.asmcL_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.asmcL_ClassName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.cls)" ng-messages="myForm.cls.$error">
                                    <div ng-message="required">Select Class </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Section :<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="sec" ng-model="asmS_Id"  required>
                                        <option value="" label="Select Section"> </option>
                                        <option ng-repeat="option in seclist" value="{{option.asmS_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.asmC_SectionName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.sec)" ng-messages="myForm.sec.$error">
                                    <div ng-message="required">Select Section</div>
                                </div>
                            </div>
                        </div>
                       

                    </div>
                    <hr />
                    <div class="">
                        <div class="">
                            <div class="text-center">
                                <input type="hidden" ng-model="EME_ID" />
                                <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i>
                                    Report
                                </md-button>
                                <md-button type="submit" class="md-raised md-warn" ng-click="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Cancel
                                </md-button>
                                <md-button type="button" class="md-raised md-primary" ng-click="print_HHS02();">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    Print
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Student Details -->
        <div class="box box-primary" ng-show="HHS_I_IV_grid" style="overflow:scroll">
         
              
                    <div class="box-body" >
                        <div id="HHS02">
                           <div class="row" ng-repeat="stud in details" style="page-break-before:always;">
                                <div class="col-sm-12" id="">
                                    <div class="baldwin text-center">
                                        <!--<img src="{{imgname}}" class="img-responsive logo" alt="baldwin">-->
                                        <div class="header text-center">
                                            <h2>

                                                {{inst_name}}
                                            </h2>
                                            <label>{{add}}{{city}}-{{pin}}</label>
                                        </div>
                                    </div>
                                    <br />
                                    <div id="name">
                                        <div class="col-sm-12 text-center">
                                            <div class="form-group text-center">
                                                <label class="control-label col-sm-12 text-center"><b>PROGRESS CARD REPORT - {{yr}}</b></label>

                                            </div>
                                        </div>
                                        <div class="sect1">
                                            <div class="row margin-bottom-10" style="padding:5px">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12"><b>STUDENT NAME   : {{stud.amsT_FirstName}}</b></label>
                                                        <!--<label class="control-label col-sm-8">
                                : <b>{{stud.amsT_FirstName}}</b>
                            </label>-->
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12"><b>FATHER NAME  : {{stud.amsT_FatherName}}</b></label>
                                                        <!--<label class="control-label col-sm-8">
                                : <b>{{stud.amsT_FatherName}}</b>
                            </label>-->
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="text-align:center">
                                                    <div class="form-group" style="text-align:center">
                                                        <label class="control-label col-sm-12" style="text-align:center"><b>CLASS   : {{cla}}</b></label>
                                                        <!--<label class="control-label col-sm-8">
                                : <b>{{cla}}</b>
                            </label>-->
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4"><b> </b></label>
                                                        <label class="control-label col-sm-8">
                                                            <b></b>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5" style="text-align:right;">
                                                    <div class="form-group" style="text-align:right;margin-right:5px">
                                                        <!--<label class="control-label col-sm-4"><b>ADM. NO </b></label>-->
                                                        <label class="control-label col-sm-12" style="text-align:right;">
                                                            <b> ADM. NO  : {{stud.amsT_AdmNo}}</b>
                                                        </label>
                                                    </div>
                                                    <div class="form-group" style="text-align:right;margin-right:5px">
                                                        <!--<label class="control-label col-sm-4"><b>ROLL NO </b></label>-->
                                                        <label class="control-label col-sm-12" style="text-align:right;">
                                                            <b> ROLL NO   : {{stud.amaY_RollNo}}</b>
                                                        </label>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12" style="text-align:center">
                                                    <div class="form-group" style="text-align:center">
                                                        <label class="control-label col-sm-12" style="text-align:center"><b>PART-A </b></label>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-responsive table-bordered text-center" id="tre">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" width="100"><b>Exam</b></th><!--Subjects / Exams-->
                                                    <th ng-repeat="sub in mainsubjects" ng-if="sub.eyceS_AplResultFlg==true" colspan="{{subexamlist.length}}"><b>{{sub.ismS_SubjectName}}</b></th>
                                                    <th rowspan="2"><b>Grand Total</b></th>
                                                    <th rowspan="2"><b>Grade</b></th>
                                                    <th rowspan="2"><b>Percentage</b></th>


                                                </tr>
                                                <tr>

                                                    <th ng-repeat="subexm in tempsubexmlist" width="50">
                                                        <b>{{subexm.emsE_SubExamName}}</b>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="exm in exmstdlist">
                                                    <td>
                                                        <b> {{exm.emE_ExamName}}</b>
                                                    </td>

                                                    <td ng-repeat="subexm in tempsubexmlist">
                                                        <span ng-repeat="mrk in stud.stmrklist" ng-if="subexm.emsE_Id==mrk.emsE_Id && exm.emE_Id==mrk.emE_Id && subexm.ismS_Id==mrk.ismS_Id">

                                                            <span ng-if="mrk.estmpS_PassFailFlg!='AB' && mrk.estmpS_PassFailFlg!='M' && mrk.estmpS_PassFailFlg !='L'">
                                                                {{mrk.estmpS_ObtainedMarks}}


                                                            </span>
                                                            <span ng-if="(mrk.estmpS_PassFailFlg=='AB'||mrk.estmpS_PassFailFlg=='M'||mrk.estmpS_PassFailFlg=='L')&& mrk.emsE_SubExamName!='Total'">
                                                                {{mrk.estmpS_PassFailFlg}}
                                                            </span>
                                                            <span ng-if="(mrk.estmpS_PassFailFlg=='AB'||mrk.estmpS_PassFailFlg=='M'||mrk.estmpS_PassFailFlg=='L')&& mrk.emsE_SubExamName=='Total'">
                                                                {{mrk.estmpS_PassFailFlg}}({{mrk.estmpS_ObtainedMarks}})
                                                            </span>
                                                            <!--<b>{{mrk.estmpS_ObtainedMarks}}</b>-->
                                                        </span>
                                                    </td>

                                                    <!--ng-if="subexm.emsE_Id==mrk.emsE_Id && exm.emE_Id==mrk.emE_Id  && subexm.ismS_Id==mrk.ismS_Id"-->

                                                    <td>

                                                        <span ng-repeat="rnk in stud.totalmrklist" ng-if="rnk.emE_Id==exm.emE_Id">
                                                            {{rnk.estmP_TotalObtMarks}}
                                                        </span>
                                                       
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="rnk in stud.totalmrklist" ng-if="rnk.emE_Id==exm.emE_Id">
                                                            {{rnk.estmP_TotalGrade}}
                                                        </span>
                                                       
                                                    </td>
                                                    <td >
                                                        <span ng-repeat="rnk in stud.totalmrklist" ng-if="rnk.emE_Id==exm.emE_Id">
                                                            {{rnk.estmP_Percentage}}
                                                        </span>
                                                       
                                                    </td>



                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-12" style="text-align:center">
                                            <div class="form-group" style="text-align:center">
                                                <label class="control-label col-sm-12" style="text-align:center"><b>PART-B </b></label>

                                            </div>

                                        </div>
                                        <table class="table table-hover table-responsive table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th>
                                                      <b>SUBJECTS
                                                        </b>  

                                                    </th>
                                                    <th><b>GRADE</b></th>
                                                </tr>

                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="sub1 in mainsubjects" ng-if="sub1.eyceS_AplResultFlg==false">
                                                    <td>
                                                        <b> {{sub1.ismS_SubjectName}}</b>
                                                    </td>

                                                    <td>
                                                       
                                                       
                                                        
                                                         <span ng-repeat="mrk in stud.elmrklist" ng-if="finalexid==mrk.emE_Id && sub1.ismS_Id==mrk.ismS_Id">

                                                            <span ng-if="mrk.estmpS_PassFailFlg!='AB' && mrk.estmpS_PassFailFlg!='M' && mrk.estmpS_PassFailFlg !='L'">
                                                                {{mrk.estmpS_ObtainedGrade}}


                                                            </span>
                                                            <span ng-if="(mrk.estmpS_PassFailFlg=='AB'||mrk.estmpS_PassFailFlg=='M'||mrk.estmpS_PassFailFlg=='L')">
                                                                {{mrk.estmpS_PassFailFlg}}
                                                            </span>

                                                        </span>
                                                    </td>




                                                </tr>

                                            </tbody>
                                        </table>



                                        <!--<table class="table table-hover table-responsive table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Exam

                                                    </th>
                                                    <th ng-repeat="sub1 in mainsubjects" ng-if="sub1.eyceS_AplResultFlg==false"><b>{{sub1.ismS_SubjectName}}</b></th>
                                                </tr>

                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="exm in exmstdlist">
                                                    <td>
                                                        <b> {{exm.emE_ExamName}}</b>
                                                    </td>

                                                    <td ng-repeat="sub1 in mainsubjects" ng-if="sub1.eyceS_AplResultFlg==false">
                                                        <span ng-repeat="mrk in stud.elmrklist" ng-if="finalexid==mrk.emE_Id && sub1.ismS_Id==mrk.ismS_Id">

                                                            <span ng-if="mrk.estmpS_PassFailFlg!='AB' && mrk.estmpS_PassFailFlg!='M' && mrk.estmpS_PassFailFlg !='L'">
                                                                {{mrk.estmpS_ObtainedGrade}}


                                                            </span>
                                                            <span ng-if="(mrk.estmpS_PassFailFlg=='AB'||mrk.estmpS_PassFailFlg=='M'||mrk.estmpS_PassFailFlg=='L')">
                                                                {{mrk.estmpS_PassFailFlg}}
                                                            </span>

                                                        </span>
                                                    </td>




                                                </tr>

                                            </tbody>
                                        </table>-->

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-12" style="text-align:center">
                                            <div class="form-group" style="text-align:center">
                                                <label class="control-label col-sm-12" style="text-align:center"><b>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  </b></label>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-5">

                                        <div class="col-sm-12" style="text-align:center">
                                            <div class="form-group" style="text-align:center">
                                                <label class="control-label col-sm-12" style="text-align:center"><b>REMARKS </b></label>

                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control"></textarea>
                                        </div>

                                    </div>
                                   

                                </div>
                              
                              
                               <div class="row">
                                   <div class="col-sm-12 margin-top-50">
                                       <table class="table table-responsive lsttable" style="border:none !important">
                                           <tr><td style="border-top:1px solid !important"><b>TEACHER SIGNATURE</b></td>
                                               <td width="10"></td>
                                               <td><b>ANNUAL RESULT : &nbsp;{{stud.annualresult |uppercase}}</b></td>
                                               <td width="10"></td>
                                               <td><b>ATTENDENCE(%): &nbsp; {{stud.attt}} </b></td>
                                               <td width="10"></td>
                                               <td style="border-top:1px solid !important"><b>PRINCIPAL SIGNATURE</b></td>
                                              

                                           </tr>
                                       </table>

                                   </div>

                                   <!--<div class="col-lg-12">
                                       <div class="col-sm-4">
                                           <div class="form-group">
                                               <label class="control-label col-sm-4">ANNUAL RESULT</label>
                                               <div class="col-sm-8">
                                                   <input class="form-control" type="text">

                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-4">
                                           <div class="form-group">
                                               <label class="control-label col-sm-4">ATTENDENCE</label>
                                               <div class="col-sm-8">
                                                   <input class="form-control" type="text">

                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-4">
                                           <div class="form-group">
                                               <label class="control-label col-sm-4">CLASS TEACHER</label>
                                               <div class="col-sm-8">
                                                   <input class="form-control" type="text">

                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-4">
                                           <div class="form-group">
                                               <label class="control-label col-sm-4">PRINCIPAL SIGNATURE</label>
                                               <div class="col-sm-8">
                                                   <input class="form-control" type="text">

                                               </div>
                                           </div>
                                       </div>
                                   </div>-->

                               </div>
                            </div>
                        </div>

               

                    </div>
               
            
        </div>
    </form>
    <!--</div>-->
</section>
