<script src="js/jquery.min.js"></script>
<script src="js/kendo.all.min.js"></script>
<div data-ng-init="loaddata()">

    <section class="content">
        <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Academic Year Wise Collection Graph</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">

                    <div class="row">

                        <div class="col-sm-6 col-sm-offset-4">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Academic Year:<span style="color:red;">*</span></label>
                                <div class="col-sm-6 multiselect">

                                   
                                    <input class="form-control" ng-model="checkallhrd" type="checkbox" ng-change="hrdallcheck()" />
                                    <span class="lbl padding-8"> ALL </span>

                                    <label ng-repeat="role in arrlist6" value="{{role.asmaY_Id}}">
                                        <input ng-model="role.selected" type="checkbox" name="fee_group" ng-selected="{{option.selected == true}}" ng-required="isOptionsRequired();" ng-change="onselectyear()">
                                        <span class="lbl padding-8">
                                            {{role.asmaY_Year}}
                                        </span>
                                    </label>
                                </div>

                            </div>
                        </div>
            
                    </div>


                    <hr />
                    <div class="text-center">
                        <md-button type="button" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="ShowReport()">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                            Report
                        </md-button>

                        <md-button type="button" class="md-raised md-warn" id="clear-btn" ng-click="Clearid()">Clear</md-button>
                        <md-button type="button" class="md-raised md-primary" ng-click="exportToExcel()" target="_blank" ng-if="showbutton == true">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Export to Excel
                        </md-button>

                        <md-button type="button" class="md-raised md-primary" ng-if="showbutton == true" id="print-btn" ng-click="printData();">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            Print
                        </md-button>
                        <!--<md-button type="button" class="md-raised md-primary" data-toggle="modal" data-target="#myModal3" data-backdrop="static">Display</md-button>-->
                    </div>





                </div>

            </div>


            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Academic Year Wise Fee Collection</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">

                    


                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th> Academic Year</th>
                                    <th>Payable</th>
                                    <th>Paid</th>
                                    <th>Pending</th>
                                    <!--<th>Total</th>-->
                                   

                                </tr>
                            </thead>
                            <tbody>
                            <tbody>
                               

    <tr ng-repeat="user in feedetails">
        <td>{{$index+1}}</td>
        <td>{{user.ASMAY_Year}}</td>
        <td>{{user.Payable}}</td>
        <td>{{user.Paid}}</td>
        <td>{{user.Pending}}</td>
      

    </tr>






                            </tbody>
                        </table>
                   



                    <div class="demo-section k-content wide">
                        <div id="chart1" style="height: 600px;"></div>
                    </div>

                    <div class="demo-section k-content wide" >
                        <div id="chart2" style="height:600px;"></div>
                    </div>


                </div>
            </div>



        </form>




    </section>
</div>