<section class="content">
    <div data-ng-init="loaddata();">
        <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="savepages()" name="myForm" novalidate>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Competition Category</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="well">
                                <div class="text-center">
                                    <input type="checkbox" ng-model="obj.VBSCMCC_CCAgeFlag" />
                                    <span class="lbl padding-8">Age Flag ?</span>
                                    <input type="checkbox" ng-model="obj.VBSCMCC_CCWeightFlag" />
                                    <span class="lbl padding-8">Weight Flag ?</span>
                                    <input type="checkbox" ng-model="obj.VBSCMCC_CCClassFlg" />
                                    <span class="lbl padding-8">Class Flag ?</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <br />
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Trust :<strong style="color:red;">*</strong></label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" name="Trust" data-ng-model="obj.MT_Id" required>
                                            <option value="">--Select To Trust--</option>
                                            <option ng-repeat="Year in Master_trust" value="{{Year.mT_Id}}" ng-selected="{{Year.mT_Id == obj.MT_Id}}">
                                                {{Year.mO_Name}}
                                            </option>
                                        </select>
                                        <div class="error-messages" ng-if="interacted(myForm.Trust)" ng-messages="myForm.Trust.$error">
                                            <div ng-message="required">Select  Trust</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4"> Competition Category :<span style="color:Red">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="mppn" data-ng-model="obj.VBSCMCC_CompetitionCategory" maxlength="40" allow-pattern="(\s|[a-zA-Z])" autocomplete="off" placeholder="Competition Category" ng-paste="$event.preventDefault()" required>
                                        <div class="error-messages" ng-if="interacted(myForm.mppn)" ng-messages="myForm.mppn.$error">
                                            <div ng-message="required">Enter Competition Category</div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Description :</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="4" id="comment" name="ccc" ng-model="obj.VBSCMCC_CCDesc" placeholder="Description"></textarea>
                                        <div class="error-messages" ng-if="interacted(myForm.ccc)" ng-messages="myForm.ccc.$error">
                                            <div ng-message="required">Enter Description</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" ng-if="obj.VBSCMCC_CCAgeFlag==true">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"> Age Criteria</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Age From Year:<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="ageyear" ng-model="obj.VBSCMCC_CCAgeFromYear" placeholder="Age From Year" class="form-control" maxlength="2" allow-pattern="\d" ng-change="get_fromage();" ng-paste="$event.preventDefault()" autocomplete="off" required />
                                                    <div class="error-messages" ng-if="interacted(myForm.ageyear)" ng-messages="myForm.ageyear.$error">
                                                        <div ng-message="required">Please fill Age From Year</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Age From Month :<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="agemonth" ng-model="obj.VBSCMCC_CCAgeFromMonth" autocomplete="off" placeholder="Age From Month" class="form-control" maxlength="2" allow-pattern="\d" ng-change="get_frommonth();" ng-paste="$event.preventDefault()" required />
                                                    <div class="error-messages" ng-if="interacted(myForm.agemonth)" ng-messages="myForm.agemonth.$error">
                                                        <div ng-message="required">Please fill Age From Month</div>
                                                        <div ng-message="max">Month should between 1 to 12</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Age From Days:<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" max="31" name="agedays" autocomplete="off" ng-model="obj.VBSCMCC_CCAgeFromDays" placeholder="Age From Days" class="form-control" maxlength="3" allow-pattern="\d" ng-change="get_fromday();" ng-paste="$event.preventDefault()" required />
                                                    <div class="error-messages" ng-if="interacted(myForm.agedays)" ng-messages="myForm.agedays.$error">
                                                        <div ng-message="required">Please fill Age From Days</div>
                                                        <div ng-message="max">Days should between 1 to 31</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Age To Year:<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="ageyear1" autocomplete="off" ng-model="obj.VBSCMCC_CCAgeToYear" placeholder="Age To Year" class="form-control" maxlength="2" ng-disabled="!obj.VBSCMCC_CCAgeFromYear" allow-pattern="\d" ng-paste="$event.preventDefault()" ng-change="get_toage();" ng-blur="get_change();" required />

                                                    <div class="error-messages" ng-if="interacted(myForm.ageyear1)" ng-messages="myForm.ageyear1.$error">
                                                        <div ng-message="required">Please fill Age To Year</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Age To Month :<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="agemonth3" autocomplete="off" placeholder="Age To Month" ng-model="obj.VBSCMCC_CCAgeToMonth" class="form-control" maxlength="2" allow-pattern="\d" ng-change="get_tomonth();" ng-paste="$event.preventDefault()" ng-disabled="!obj.VBSCMCC_CCAgeFromMonth" required />

                                                    <div class="error-messages" ng-if="interacted(myForm.agemonth3)" ng-messages="myForm.agemonth3.$error">
                                                        <div ng-message="required">Please fill Age To Month</div>
                                                        <div ng-message="max">Month should between 1 to 12</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Age To Days:<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" max="31" autocomplete="off" placeholder="Age To Days" name="agedays2" ng-model="obj.VBSCMCC_CCAgeToDays" class="form-control" maxlength="3" allow-pattern="\d" ng-change="get_todays();" ng-paste="$event.preventDefault()" ng-disabled="!obj.VBSCMCC_CCAgeFromDays" required />
                                                    <!--ng-blur="get_change4();"-->
                                                    <div class="error-messages" ng-if="interacted(myForm.agedays2)" ng-messages="myForm.agedays2.$error">
                                                        <div ng-message="required">Please fill Age To Days</div>
                                                        <div ng-message="max">Days should between 1 to 31</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>



                        </div>
                        <br />
                        <div class="col-sm-12" ng-if="obj.VBSCMCC_CCWeightFlag==true">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"> Weight  Criteria</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">From Weight:<span style="color:red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" autocomplete="off" name="Weight" class="form-control active" placeholder="From Weight" ng-model="obj.VBSCMCC_CCFromWeight" allow-pattern="[0-9]" ng-paste="$event.preventDefault()" maxlength="2" ng-change="get_weight();" required />
                                                    <div class="error-messages" ng-if="interacted(myForm.Weight)" ng-messages="myForm.Weight.$error">
                                                        <div ng-message="required">From  Weight</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">To Weight:<span style="color:red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="TWeight" class="form-control active" placeholder="To Weight" ng-model="obj.VBSCMCC_CCToWeight" allow-pattern="[0-9]" autocomplete="off" ng-paste="$event.preventDefault()" ng-change="Onchange()" maxlength="2" required />
                                                    <div class="error-messages" ng-if="interacted(myForm.TWeight)" ng-messages="myForm.TWeight.$error">
                                                        <div ng-message="required">To  Weight</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="">
                        <div class="text-center">
                            <input type="hidden" ng-model="obj.VBSCMCC_Id" />
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">

                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </md-button>

                            <md-button class="md-raised md-warn" data-ng-click="clear()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="box box-primary" ng-if="getreport.length > 0">
            <div class="box-header with-border">
                <h3 class="box-title">Competition Category </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{getreport.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="overflow:auto !important">
                    <table class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>

                                <th style="text-align:center">
                                    SL.NO
                                </th>
                                <th>
                                    Category Name
                                </th>
                                <th>Trust Name</th>
                                <th>Class Flag</th>
                                <th>Age Flag?  </th>
                                <th>From Year</th>
                                <th>From Month</th>
                                <th>From Days</th>
                                <th>To Year</th>
                                <th> To Month </th>
                                <th>
                                    Weight Flag ?
                                </th>
                                <th>
                                    From  Weight
                                </th>
                                <th>
                                    To Weight
                                </th>
                                <th style="text-align:center">Action</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr dir-paginate="user in filterValue1 = (getreport | filter : searchValue)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'" pagination-id="xyz">

                                <td style="text-align:center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td>
                                    {{user.VBSCMCC_CompetitionCategory}}
                                </td>
                                <td>
                                    {{user.MO_Name}}
                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCClassFlg ==true">
                                        <i class="fa fa-check  text-green"></i>

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCClassFlg ==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>

                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==true">
                                        <i class="fa fa-check  text-green"></i>

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>

                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==true">
                                        {{user.VBSCMCC_CCAgeFromYear}}

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==false">
                                        ---

                                    </span>

                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==true">
                                        {{user.From_Month}}

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==false">
                                        ---

                                    </span>

                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==true">
                                        {{user.VBSCMCC_CCAgeFromDays}}

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==false">
                                        ---

                                    </span>

                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==true">
                                        {{user.VBSCMCC_CCAgeToYear}}

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==false">
                                        ---

                                    </span>

                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==true">
                                        {{user.To_Month}}

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCAgeFlag ==false">
                                        ---

                                    </span>

                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCWeightFlag ==true">
                                        <i class="fa fa-check  text-green"></i>

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCWeightFlag ==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>

                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCWeightFlag ==true">
                                        {{user.VBSCMCC_CCFromWeight}}

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCWeightFlag ==false">
                                        ---
                                    </span>

                                </td>
                                <td>
                                    <span ng-if="user.VBSCMCC_CCWeightFlag ==true">
                                        {{user.VBSCMCC_CCToWeight}}

                                    </span>
                                    <span ng-if="user.VBSCMCC_CCWeightFlag ==false">
                                        ---
                                    </span>

                                </td>
                                <td class="text-center">
                                    <span ng-if="user.VBSCMCC_ActiveFlag == true">
                                        <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a href="" ng-click="Deletedata(user)"
                                           class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                            <i> Deactivate</i>
                                        </a>
                                    </span>
                                    <span ng-if="user.VBSCMCC_ActiveFlag == false">
                                        <a href="" ng-click="Deletedata(user)"
                                           class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                            <i> Activate </i>
                                        </a>
                                    </span>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true" pagination-id="xyz">
                    </dir-pagination-controls>
                </div>


            </div>
        </div>

    </div>


</section>