<SCRIPT language=Javascript>
            <!--
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    //-->
</SCRIPT>
<style>
    .ccc {
        margin-left: 10px;
    }

    .ccc1 {
        margin-left: -11px;
        width: 308px;
    }

    .form-control {
        display: block;
        width: 89%;
        height: 30px;
        padding: 3px 12px;
        font-size: 13px;
        line-height: 1.42857143;
        background-color: #fff;
        background-image: none;
        border: 1px solid #5cb7ff;
        border-radius: 0px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        margin-left: 9%;
    }

    .error-messages.ng-active {
        color: red;
        margin-left: 9%;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary" data-ng-init="loaddata()">
                <div class="box-header with-border">
                    <h3 class="box-title">ChiefCoordinator Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <form class="form-horizontal ng-pristine ng-valid" name="myForm" method="post" role="form" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Academic Year <span style="color:red">*</span>:</label>
                                    <div class="col-sm-8">
                                        <div>
                                            <select class="form-control" id="sel1year" ng-model="ASMAY_Id" name="academic_year" required>
                                                <option value="">--Select Year--</option>
                                                <option ng-repeat="options in yearlst" value="{{options.asmaY_Id}}" ng-selected="{{options.asmaY_Id == ASMAY_Id}}">{{options.asmaY_Year}}</option>
                                            </select>
                                        </div>
                                        <div class="error-messages" ng-if="interacted(myForm.academic_year)" ng-messages="myForm.academic_year.$error">
                                            <div ng-message="required">Select Academic Year</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Exam Name <span style="color:red">*</span> :</label>
                                    <div class="col-sm-8">
                                        <div>
                                            <select class="form-control" id="sel1year" ng-model="EME_Id" name="exam" required>
                                                <option value="">--Select Exam Name--</option>
                                                <option ng-repeat="exm in examlist" value="{{exm.emE_Id}}" ng-selected="{{exm.emE_Id == EME_Id}}">{{exm.emE_ExamName}}</option>
                                                
                                            </select>
                                        </div>
                                        <div class="error-messages" ng-if="interacted(myForm.exam)" ng-messages="myForm.exam.$error">
                                            <div ng-message="required">Select Exam Name</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">University Exam Name <span style="color:red">*</span>:</label>
                                    <div class="col-sm-8">
                                        <div>
                                            <select class="form-control" ng-model="ESAUE_Id" name="uexam" required>
                                                <option value="">--Select University Exam Name--</option>
                                                <option ng-repeat="uexm in university_examlist" value="{{uexm.esauE_Id}}" ng-selected="{{uexm.esauE_Id == ESAUE_Id}}">{{uexm.esauE_ExamName}}</option>

                                            </select>
                                        </div>
                                        <div class="error-messages" ng-if="interacted(myForm.uexam)" ng-messages="myForm.uexam.$error">
                                            <div ng-message="required">Select University Exam Name</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Chief Coordinator Name <span style="color:red">*</span>:</label>
                                    <div class="col-sm-8" style="">
                                        <input class="form-control active" placeholder="Enter Chief Coordinator Name" ng-paste="$event.preventDefault()" allow-pattern="([a-zA-Z])" name="Chief" ng-model="ESACHCRD_ChiefCordName" type="text" required>
                                        <div class="error-messages" ng-if="interacted(myForm.Chief)" ng-messages="myForm.Chief.$error">
                                            <div ng-message="required">Enter Chief Coordinator Name</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Address 1 :</label>
                                    <div class="col-sm-8" style="">
                                        <input class="form-control" type="text" name="ad1" placeholder="Enter Address 1" ng-model="ESACHCRD_Add1" />

                                    </div>
                                </div>




                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Address 2 :</label>
                                    <div class="col-sm-8" style="">
                                        <input class="form-control" type="text" name="ad2" placeholder="Enter Address 2" ng-model="ESACHCRD_Add2" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Address 3 :</label>
                                    <div class="col-sm-8" style="">
                                        <input class="form-control" type="text" name="ad3" placeholder="Enter Address 3" ng-model="ESACHCRD_Add3" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Address 4 :</label>
                                    <div class="col-sm-8" style="">
                                        <input class="form-control" type="text" name="ad4" placeholder="Enter Address 4" ng-model="ESACHCRD_Add4" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Address 5 :</label>
                                    <div class="col-sm-8" style="">
                                        <input class="form-control" type="text" name="ad5" placeholder="Enter Address 5" ng-model="ESACHCRD_Add5" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Address 6 :</label>
                                    <div class="col-sm-8" style="">
                                        <input class="form-control" type="text" name="ad6" placeholder="Enter Address 6" ng-model="ESACHCRD_Add6" />

                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="row">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <hr />
                                    <div class="text-center">
                                        <input type="hidden" ng-model="ESACHCRD_Id" />
                                        <md-button type="submit" class="md-raised md-primary" id="save-btn" aria-disabled="false" ng-click="saveData()">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            Save
                                        </md-button>
                                        <md-button type="button" class="md-raised md-warn" data-ng-click="cleardata()">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Cancel


                                        </md-button>


                                    </div>
                                </div>
                            </div>
                        </div>




                    </form>

                </div>


            </div>
        </div>

    </div>


    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">ChiefCoordinator List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">
                        <b> Total Grid Records :</b>
                        <label class="badge">
                            {{chiefcoordinatorlist.length}}
                        </label>
                    </label>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-if="search!=''">
                    <label class="control-label">
                        <b>Total Records Searched : </b>
                        <label class="badge">
                            {{chief.length}}
                        </label>
                    </label>
                </div>
            </div>

            <div class="col-sm-4 pull-right">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input class="form-control" style="margin-left: -1%;" type="text" ng-model="search" placeholder="search here...">
                    </div>
                </div>
            </div>

            <table class="table table-hover table-responsive table-bordered text-center">
               
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>Chief Cordinator Name</th>
                        <th>Exam Name</th>
                        <th>University Exam</th>
                        <th>Status</th>
                        <th>Action</th>

                    </tr>
                </thead>

                <tbody>
                    <tr dir-paginate="user in chief =(chiefcoordinatorlist | filter : search) | orderBy :sortKey:reverse |itemsPerPage:itemsPerPage" current-page="currentPage">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>

                        <td style="text-align:left">{{ user.ESACHCRD_ChiefCordName}}</td>
                        <td style="text-align:left">{{ user.EME_ExamName}}</td>
                        <td style="text-align:left">{{ user.ESAUE_ExamName}}</td>

                        <td>
                            <span ng-if="user.ESACHCRD_ActiveFlg === false">
                                <a href="" ng-click="deactive(user)"
                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    <i> Activate </i>
                                </a>
                            </span>
                            <span ng-if="user.ESACHCRD_ActiveFlg === true">
                                <a href="" ng-click="deactive(user)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    <i> Deactivate</i>
                                </a>
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" ng-click="Edit(user)"
                               data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o text-black" aria-hidden="true"></i>
                            </a>
                        </td>

                    </tr>
                </tbody>

            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>

    </div>

</section>


