.JSHSExamTerm h1 {
    font-family: 'renfrew';
    text-transform: none;
    color: red !important;
    font-weight: 700;
}
.JSHSExamTerm h2, .JSHSExamTerm .JSHSExamTerm h3, .JSHSExamTerm h4, .JSHSExamTerm h5, .JSHSExamTerm h6 {
    font-family: 'renfrew';
    text-transform: none;
    color: black !important;
    font-weight: 700;
}

.JSHSExamTerm .section01 {
}

.JSHSExamTerm .body-section {
}

.JSHSExamTerm .footer-section {
}

.JSHSExamTerm .Monotype {
    font-family: Monotype Corsiva, Times, Serif;
    text-transform: capitalize;
}

.JSHSExamTerm .letter-spacing-4 {
    letter-spacing: 4px !important;
}

.JSHSExamTerm h4 {
    text-transform: none !important;
}


.JSHSExamTerm .table {
    border: 0px !important;
    font-weight: 600;
    text-align: left !important;
    font-size: 15px;
    line-height: 0.2;
    margin-bottom: 0px;
}

.JSHSExamTerm thead a {
    color: #000 !important;
}

/*.JSHSExamTerm thead {
    background: yellow;
    color: #000 !important;
    text-align: center;
}*/

.JSHSExamTerm tdclass {
    background: #ffefd5;
    color: #000 !important;
    text-align: center;
}

.JSHSExamTerm tdclassnew {
    background: #fabf8f;
    color: #000 !important;
}

.JSHSExamTerm .table > thead > tr > th, .JSHSExamTerm .table > tbody > tr > th,
.JSHSExamTerm .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #f4f4f4;
    font-size: 14px;
    font-weight: bold !important;
    font-family: "Times New Roman", Times, serif;
    line-height: 0.2;
}

.JSHSExamTerm .table-bordered > thead > tr > th, .JSHSExamTerm .table-bordered > tbody > tr > th, .JSHSExamTerm .table-bordered > tfoot > tr > th,
.JSHSExamTerm .table-bordered > thead > tr > td, .JSHSExamTerm .table-bordered > tbody > tr > td, .JSHSExamTerm .table-bordered > tfoot > tr > td {
    border: 0.8px solid #cad4de;
    padding: 8px;
    vertical-align: middle;
}

.JSHSExamTerm .table-bordered {
    font-weight: 600;
    text-align: left !important;
    font-size: 16px;
    width: 100%;
}

.JSHSExamTerm h1, .JSHSExamTerm h2, .JSHSExamTerm h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: xx-large !important;
}


.JSHSExamTerm .padding-top-60 {
    padding-top: 60px !important;
}

.JSHSExamTerm .padding-0 {
    padding: 0px !important;
}

.JSHSExamTerm .margin-top-5 {
    margin-top: 5px !important;
}

.JSHSExamTerm .margin-top-10 {
    margin-top: 10px !important;
}

.JSHSExamTerm .margin-top-28 {
    margin-top: 30% !important;
}

.JSHSExamTerm .margin-top-30 {
    margin-top: 30px !important;
}

.JSHSExamTerm .margin-top-50 {
    margin-top: 50px !important;
}

.JSHSExamTerm .margin-top-70 {
    margin-top: 70px !important;
}

.JSHSExamTerm .margin-top-100 {
    margin-top: 100px !important;
}

.JSHSExamTerm .margin-top-150 {
    margin-top: 150px !important;
}

.JSHSExamTerm .margin-top-200 {
    margin-top: 200px !important;
}

.JSHSExamTerm .margin-left-33 {
    margin-left: 33px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.JSHSExamTerm label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 700;
    color: #000;
    font-size: 20px !important;
}

.JSHSExamTerm padding-left-400 {
    padding-left: 400px !important;
}

.padding-left-400 {
    padding-left: 400px !important;
}

.borderbox {
    width: 1050px;
    height: 60px;
    border: 1px solid black;
    padding-top: 10px !important;
    padding-left: 5px !important;  
}
.wordwrap {   
    word-wrap: break-word;
}
