@media print {
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .jshtudyCert {
        width: 55%;
        margin: auto;
        border: none !important;
        text-align: left !important;
        font-weight: bold;
        font-size: 16px !important;
        margin-bottom: 15px;
    }

    .jshspstyle {
        font-weight: bold !important
    }
}
