
@media print {

    @page {
        size: a4 portrait;
    }

    .bonafide {
        width: 70%;
        margin: auto;
    }

    .remo {
        float: none !important;
    }

    .border-bottom {
        border-bottom: 1px solid #000 !important;
        text-align: left !important;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        color: #3a5999 !important;
        font-weight: 700;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    table {
        table-layout: fixed;
        width: 100%;
        margin-bottom: 15px;
        border: 0px !important;
    }

    .table {
        border: 0px !important;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 0px;
        font-size: 13px !important;
        line-height: 1.4;
    }


    .hutchings .table, .hutchings .table > tbody > tr > td, .hutchings .table > tbody > tr > th, .hutchings .table > tfoot > tr > td, .hutchings .table > tfoot > tr > th, .hutchings .table > thead > tr > td, .hutchings .table > thead > tr > th {
        padding: 4px;
        text-align: left !important;
        border: 0px !important;
    }


    .img-style {
        width: 200px;
        height: 90px;
        border: 1px solid #ddd;
        float: right;
    }

    .office-use-box {
        width: 400px;
        margin: auto;
        border: 1px solid #000;
        padding: 10px;
    }


    .table1 {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }

        .table1 td, .table1 th {
            border: 1px solid rgba(0, 0, 0, 0.5);
            padding: 5px;
            text-align: left;
        }

    .lb1 {
        color: #000000;
    }

    .th1 {
        background-color: rgba(221, 221, 221, 0.72);
    }

    .img-style1 {
        width: 90px;
        height: 90px;
        border: 1px solid #ddd;
        float: right;
    }

    .rounded-corner {
        border: 1px solid #000;
        width: 106px;
        margin-top: 10px;
        padding: 15px;
        border-radius: 20px;
        background-color: #f0f0f0;
    }

    h3 {
        font-size: 10px;
        color: black;
        margin-bottom: 10px;
    }
}
