/*.CunductCertificateBBHS {
    width: 80%;
    margin: auto;  
  
}

.CunductCertificateBBHS h1, .CunductCertificateBBHS h2, .CunductCertificateBBHS h3, .CunductCertificateBBHS h4, .CunductCertificateBBHS h5, .CunductCertificateBBHS h6,
 .CunductCertificateBBHS .h1, .CunductCertificateBBHS .h2, .CunductCertificateBBHS .h3, .CunductCertificateBBHS .h4, .CunductCertificateBBHS .h5, .CunductCertificateBBHS .h6 {
    
    text-transform: none ;
    color: #3a5999 !important;
    font-weight: 700;
}

.CunductCertificateBBHS .table {
    width:100%;
    border: 0px;
     font-size: 16px;
    font-weight: 400;
    text-align: left !important;
    
}
.CunductCertificateBBHS table {
    table-layout: fixed;
    width: 100%;  
    margin-bottom: 16px; 
 
}
.CunductCertificateBBHS .table>tbody>tr>td, .CunductCertificateBBHS .table>tbody>tr>th, .CunductCertificateBBHS .table>tfoot>tr>td, .CunductCertificateBBHS .table>tfoot>tr>th, .CunductCertificateBBHS .table>thead>tr>td, 
.CunductCertificateBBHS .table>thead>tr>th {
    padding: 8px;
    line-height: 1.0;
    vertical-align: bottom !important;
    border: 0px;
   
    font-size: 16px;
    
}
.CunductCertificateBBHS .width-125{
    width:125px !important;
}
 .CunductCertificateBBHS .width-151{
    width:151px !important;
}
 .CunductCertificateBBHS .width-57{
    width:57px !important;
}
 .CunductCertificateBBHS .width-88{
    width:88px !important;
}
 
.CunductCertificateBBHS .width-284{
    width:284px !important;
}
 .CunductCertificateBBHS .width-131{
    width:131px !important;
}
 .CunductCertificateBBHS .width-426{
    width:426px !important;
}
 .CunductCertificateBBHS .border-top{
        border-top:1px solid #000 !important;
    }*/

/*.CunductCertificateBBHS .margin-top-190 {
    margin-top: 190px !important;
}

.CunductCertificateBBHS .width-172 {
    width: 172PX;
}

.CunductCertificateBBHS .width-237 {
    width: 237px;
}

.CunductCertificateBBHS .width-81 {
    width: 80px;
}

.CunductCertificateBBHS .width-191 {
    width: 191px;
}

.CunductCertificateBBHS .width-141 {
    width: 141px;
}

.CunductCertificateBBHS .width-86 {
    width: 86px;
}

.CunductCertificateBBHS .width-198 {
    width: 198px;
}

.CunductCertificateBBHS .width-86 {
    width: 86px;
}

.CunductCertificateBBHS .width-133 {
    width: 133px;
}

.CunductCertificateBBHS .width-230 {
    width: 230px;
}

.CunductCertificateBBHS .width-186 {
    width: 186px;
}

.CunductCertificateBBHS .width-114 {
    width: 114px;
}

.CunductCertificateBBHS .width-404 {
    width: 404px;
}


.CunductCertificateBBHS table {
    table-layout: fixed;
    width: 100%;
    border: none !important;
}

.CunductCertificateBBHS .table {
    border: none !important;
    text-align: left !important;
    font-weight: 500;
}

.CunductCertificateBBHS {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-weight: 500;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 14px !important;
}

    .CunductCertificateBBHS .flower .flower-bracket {
        font-size: 0.8in !important;
        text-align: center;
    }

    .CunductCertificateBBHS .flower {
        padding-left: 15px;
    }

        .CunductCertificateBBHS .flower .label {
            font-size: 14px !important;
            color: #333;
            font-weight: normal;
            text-align: left;
            padding-top: 30px;
            line-height: 1.5;
        }*/
.CunductCertificateBBHS {
    width: 80%;
    margin: auto;
    /*font-family: 'Monotype Corsiva', sans-serif;*/
}

    .CunductCertificateBBHS h1, .CunductCertificateBBHS h2, .CunductCertificateBBHS h3, .CunductCertificateBBHS h4, .CunductCertificateBBHS h5, .CunductCertificateBBHS h6,
    .CunductCertificateBBHS .h1, .CunductCertificateBBHS .h2, .CunductCertificateBBHS .h3, .CunductCertificateBBHS .h4, .CunductCertificateBBHS .h5, .CunductCertificateBBHS .h6 {
        /*font-family: 'Source Sans Pro', sans-serif;*/
        text-transform: none;
        color: #3a5999 !important;
        font-weight: 700;
    }

    .CunductCertificateBBHS .table {
        width: 100%;
        border: 0px;
        font-size: 16px;
        font-weight: 400;
        text-align: left !important;
        margin-bottom: 10px;
        /*font-family: 'Monotype Corsiva', sans-serif;*/
        /* background: #95c7ef; */
    }

    .CunductCertificateBBHS table {
        table-layout: fixed;
        width: 100%;
        margin-bottom: 16px;
        /*font-family: 'Monotype Corsiva', sans-serif;*/
    }

    .CunductCertificateBBHS .table > tbody > tr > td, .CunductCertificateBBHS .table > tbody > tr > th, .CunductCertificateBBHS .table > tfoot > tr > td, .CunductCertificateBBHS .table > tfoot > tr > th, .CunductCertificateBBHS .table > thead > tr > td,
    .CunductCertificateBBHS .table > thead > tr > th {
        padding: 8px;
        line-height: 1.0;
        vertical-align: bottom !important;
        border: 0px;
        /*text-align: left !important;*/
        font-size: 16px;
        /*font-family: 'Monotype Corsiva', sans-serif;*/
    }

    .CunductCertificateBBHS .width-125 {
        width: 125px !important;
    }

    .CunductCertificateBBHS .width-151 {
        width: 151px !important;
    }

    .CunductCertificateBBHS .width-57 {
        width: 57px !important;
    }

    .CunductCertificateBBHS .width-88 {
        width: 88px !important;
    }

    .CunductCertificateBBHS .width-284 {
        width: 284px !important;
    }

    .CunductCertificateBBHS .width-131 {
        width: 131px !important;
    }

    .CunductCertificateBBHS .width-426 {
        width: 426px !important;
    }

    .CunductCertificateBBHS .border-top {
        border-top: 1px solid #000 !important;
    }

    .CunductCertificateBBHS .width-356 {
        width: 356px !important;
    }

.border-bottom-dotted-label {
    font-size: 20px !important;
    text-transform: capitalize !important;
}
