.JSHSExam h1 {
    font-family: 'renfrew';
    text-transform: none;
    color: red !important;
    font-weight: 700;
}

.JSHSExam h2, .JSHSExam .JSHSExam h4, .JSHSExam h5, .JSHSExam h6 {
    font-family: 'renfrew';
    text-transform: none;
    color: black !important;
    font-weight: 700;
}

.JSHSExam .section01 {
}

.JSHSExam .body-section {
}

.JSHSExam .footer-section {
}

.JSHSExam .Monotype {
    font-family: Monotype Corsiva, Times, Serif;
    text-transform: capitalize;
}

.JSHSExam .letter-spacing-4 {
    letter-spacing: 4px !important;
}

.JSHSExam h4 {
    text-transform: none !important;
}


.JSHSExam .table {
    border: 0px !important;
    font-weight: 600;
    text-align: left !important;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 0px;
}

.JSHSExam thead a {
    color: #000 !important;
}

.JSHSExam tdclass {
    background: #ffefd5;
    color: #000 !important;
    text-align: center;
}

.JSHSExam tdclassnew {
    background: yellow;
    color: #000 !important;
    text-align: center;
}

.JSHSExam .table > thead > tr > th, .JSHSExam .table > tbody > tr > th,
.JSHSExam .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #f4f4f4;
    font-size: 14px;
    font-weight: bold !important;
    font-family: "Times New Roman", Times, serif;
    line-height: 1;
}

.JSHSExam .table-bordered > thead > tr > th, .JSHSExam .table-bordered > tbody > tr > th, .JSHSExam .table-bordered > tfoot > tr > th,
.JSHSExam .table-bordered > thead > tr > td, .JSHSExam .table-bordered > tbody > tr > td, .JSHSExam .table-bordered > tfoot > tr > td {
    border: 0.8px solid #cad4de;
    padding: 8px;
    vertical-align: middle;
}

.JSHSExam .table-bordered {
    font-weight: 600;
    text-align: left !important;
    font-size: 16px;
    width: 100%;
}

.JSHSExam h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}


.JSHSExam .padding-top-60 {
    padding-top: 60px !important;
}

.JSHSExam .padding-0 {
    padding: 0px !important;
}

.JSHSExam .margin-top-5 {
    margin-top: 5px !important;
}

.JSHSExam .margin-top-10 {
    margin-top: 10px !important;
}

.JSHSExam .margin-top-28 {
    margin-top: 30% !important;
}

.JSHSExam .margin-top-30 {
    margin-top: 30px !important;
}

.JSHSExam .margin-top-50 {
    margin-top: 50px !important;
}

.JSHSExam .margin-top-70 {
    margin-top: 70px !important;
}

.JSHSExam .margin-top-100 {
    margin-top: 100px !important;
}

.JSHSExam .margin-top-150 {
    margin-top: 150px !important;
}

.JSHSExam .margin-top-200 {
    margin-top: 200px !important;
}

.JSHSExam .margin-left-33 {
    margin-left: 33px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.JSHSExam label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 500;
    color: #000;
    font-size: 14px !important;
}

.JSHSExam padding-left-400 {
    padding-left: 400px !important;
}

.padding-left-400 {
    padding-left: 400px !important;
}

.borderbox {
    width: 1050px;
    height: 60px;
    border: 1px solid black;
    padding-top: 10px !important;
    padding-left: 5px !important;
}

.wordwrap {
    word-wrap: break-word;
}

.divpadding-20 {
    padding-left: 20% !important;
    padding-right: 20% !important;
}

thead {
    background: #fabf8f !important;
    color: #000 !important;
    text-align: center;
}

.tdclassgrand {
    background: #fabf8f !important;
    color: #000 !important;   
}
