.ProgressReport-janaseva h1, .ProgressReport-janaseva h2, .ProgressReport-janaseva .ProgressReport-janaseva h3, .ProgressReport-janaseva h4, .ProgressReport-janaseva h5, .ProgressReport-janaseva h6 {
    font-family: 'Times New Roman', 'Times New Roman';
    text-transform: none;
    color: #3a5999 !important;
    font-weight: 700;
}

.ProgressReport-janaseva .section01 {
}

.ProgressReport-janaseva .body-section {
}

.ProgressReport-janaseva .footer-section {
}

.ProgressReport-janaseva .Monotype {
    font-family: 'Times New Roman', 'Times New Roman';
    text-transform: capitalize;
}

.ProgressReport-janaseva .letter-spacing-4 {
    letter-spacing: 4px !important;
}

.ProgressReport-janaseva h4 {
    text-transform: none !important;
}


.ProgressReport-janaseva .table {
    border: 0px !important;
    font-weight: 600;
    text-align: left !important;
    font-size: 15px;
    line-height: 1.5;
}

.ProgressReport-janaseva thead a {
    color: #fff !important;
}

.ProgressReport-janaseva thead {
    background: #0463c2;
    color: #fff !important;
    text-align: center;
    line-height: 1 !important;
}

.ProgressReport-janaseva .table > thead > tr > th, .ProgressReport-janaseva .table > tbody > tr > th,
.ProgressReport-janaseva .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #f4f4f4;
}

.ProgressReport-janaseva .table-bordered > thead > tr > th, .ProgressReport-janaseva .table-bordered > tbody > tr > th, .ProgressReport-janaseva .table-bordered > tfoot > tr > th,
.ProgressReport-janaseva .table-bordered > thead > tr > td, .ProgressReport-janaseva .table-bordered > tbody > tr > td, .ProgressReport-janaseva .table-bordered > tfoot > tr > td {
    border: 0.8px solid #cad4de;
    padding: 8px;
    vertical-align: middle;
}

.ProgressReport-janaseva .table-bordered {
    font-weight: 600;
    text-align: left !important;
    font-size: 16px;
    width: 120%;
    line-height: 0.75 !important;
}

.ProgressReport-janaseva .image {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 88em;
}


.ProgressReport-janaseva .box {
    border: 1px solid #000;
    width: 200px !important;
    border-radius: 4px;
    padding: 10px;
    margin: auto;
}

.ProgressReport-janaseva .box1 {
    border: 1px solid #000;
    width: 32% !important;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
}

.ProgressReport-janaseva .box2 {
    border: 1px solid #000;
    width: 95% !important;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
}

.ProgressReport-janaseva h1, .ProgressReport-janaseva h2, .ProgressReport-janaseva h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ProgressReport-janaseva .t1 {
    width: 14% !important;
    margin: auto;
}

.ProgressReport-janaseva .t2 {
    width: 17% !important;
    margin: auto;
}

.body-section .t3 {
    width: 55% !important;
    margin: auto;
}

.ProgressReport-janaseva .t4 {
    width: 30%;
    line-height: 0.1px;
}

.ProgressReport-janaseva .padding-top-60 {
    padding-top: 60px !important;
}

.ProgressReport-janaseva .padding-0 {
    padding: 0px !important;
}

.ProgressReport-janaseva .margin-top-5 {
    margin-top: 5px !important;
}

.ProgressReport-janaseva .margin-top-10 {
    margin-top: 10px !important;
}


.ProgressReport-janaseva .margin-top-30 {
    margin-top: 30px !important;
}

.ProgressReport-janaseva .margin-top-28 {
    margin-top: 30% !important;
}

.ProgressReport-janaseva .margin-left-33 {
    margin-left: 33px !important;
}

.ProgressReport-janaseva label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 600;
    color: #000;
    font-size: 15px;
}

.ProgressReport-janaseva .grade-box {
    list-style-type: none;
    border-radius: 3px;
    border: solid 1px;
    position: relative;
    margin-top: 24px;
    padding-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
}

    .ProgressReport-janaseva .grade-box:before {
        position: absolute;
        top: -20px;
        padding-left: 45%;
    }

.ProgressReport-janaseva .border-radius {
    border: 1px solid #ccc;
    padding: 10px 0px 0px 0px;
    border-collapse: collapse;
    border-radius: 10px;
}

.table-curved tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table-curved {
    border-collapse: separate;
}

.table-curved {
    border: solid #ccc 1px;
    border-radius: 10px;
    border-left: 0px;
}

.subjectclass {
    width: 10px !important;
}

.borderdiv {
    border: 1px solid black !important;
    font-family: times new roman !important;
    font-size: 20px !important;
    margin-bottom: 35px !important;
}

.padding-left53 {
    padding-left: 53px !important;
}

.padding-left42 {
    padding-left: 42px !important;
}

.text-right {
    text-align: right !important;
}

.margin-footer {
    margin-bottom: 30px !important;
    margin-top: 20px !important;
}
