@media print {
    /*.my-header { position: fixed; top: 0px; left: 0px; right: 0px; }
    .my-footer { position: fixed; bottom: 0px; left: 0px; right: 0px;}*/
    .my-header { position: fixed; top: 0px; left: 0px; right: 0px; }
    .Monotype {
        font-family: Monotype Corsiva, Times, Serif;
        text-transform: capitalize;
    }
    a{
        color:#000;
        text-decoration:none;
    }
    h4 {
        text-transform: none !important;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    .table {
        table-layout: fixed;
        border: 0px !important;
        font-weight: 400;
        text-align: left !important;
        font-size: 14px;
        padding: 0px !important;
        width: 100%;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 0.8px solid #cad4de;
        padding: 8px;
        vertical-align: middle;
        word-break:break-all;
         font-size: 14px;
            font-weight: 200;
    }

    .table-bordered {
        border: 0px !important;       
        text-align: left !important;      
        width: 100%;
        padding-left: 10px;
    }
    /*.table-bordered tr td label{
        display:none;
    }*/
    .image {
        background: url(/images/Clients/Hutchings/ProgressReports/01/0001.png)no-repeat 0px 0px;
        background-size: cover;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        height: 62em;
    }

    .c01 {
        width: 100px;
        height: 80px;
        margin: auto;
        margin-top: 8%;
        margin-right: 5%;
    }

    .c02 {
        width: 47px;
        height: 40px;
        margin: auto;
        margin-left: 30px;
    }

    .c03 {
        width: 80%;
        margin: auto;
        margin-top: 45%;
    }

    .box1 {
        margin: auto;
        padding: 10px;
        border: 1px solid #000;
        width: 200px !important;
        border-radius: 4px;
    }

    .box2 {
        border: 1px solid #fff;
        width: 150px !important;
        height: 140px !important;
        background: #fff;
        border-radius: 4px;
        position: relative;
        margin: auto;
    }

    .box3 {
        padding: 15px;
        border: 1px solid #000;
        padding-bottom: 30px;
    }

    h1, h2, h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .t1 {
        width: 72% !important;
        margin: auto;
    }

    .t2 {
        width: 65% !important;
        margin: auto;
    }

    .t3 {
        width: 55% !important;
        margin: auto;
    }

    .t4 {
        width: 40%;
        line-height: 1.6;
    }

    .padding-top-60 {
        padding-top: 60px !important;
    }

    .padding-top-5 {
        padding-top: 5px !important;
    }

    .padding-left-30 {
        padding-left: 30% !important;
    }

    .padding-left-60 {
        padding-left: 60% !important;
    }

    .margin-top-5 {
        margin-top: 5px !important;
    }

    .margin-top-10 {
        margin-top: 10px !important;
    }

    .margin-top-28 {
        margin-top: 29% !important;
    }

    .margin-top-80 {
        margin-top: 80px !important;
    }

    .margin-top-30p {
        margin-top: 30% !important;
    }

    .margin-left-33 {
        margin-left: 33px !important;
    }

    .box {
        border: 1px solid #000;
        width: 110px !important;
        height: 30px;
        border-radius: 4px;
        padding: 5px;
        margin-right:5px !important;
    }

    .index{
          width:10px !important;
    }
    .pull-right {
        float: right !important;
    }

    .pull-left {
        float: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-left {
        text-align: left !important;
    }

    .text-center {
        text-align: center !important;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 0px;
        font-weight: 600;
        color: #000;
        font-size: 15px;
    }

    ol {
        line-height: 2.0;
        font-weight: 600;
    }

        ol li label {
            font-size: 15px !important;
        }
}
