.HHS01 .Monotype {
    font-family: Monotype Corsiva, Times, Serif;
    text-transform: capitalize;
}

.HHS01 h4 {
    text-transform: none !important;
}

.HHS01 .table {
    border: 0px !important;
    font-weight: 600;
    text-align: left !important;
    font-size: 15px;
    line-height: 1.5;
}
.HHS01 .table-bordered > thead > tr > th, .HHS01 .table-bordered > tbody > tr > th, .HHS01 .table-bordered > tfoot > tr > th, 
.HHS01 .table-bordered > thead > tr > td, .HHS01 .table-bordered > tbody > tr > td, .HHS01 .table-bordered > tfoot > tr > td {
    border: 0.8px solid #cad4de;
    padding: 8px;
    vertical-align: middle;
}
.HHS01 .table-bordered {
    border: 0px !important;
    font-weight: 600;
    text-align: left !important;
    font-size: 16px;
    /*line-height: 2.5;*/
    width:100%
}
 /*.HHS01 .table-bordered  label{
        display:none !important;
    }*/
 .HHS01 .image {
    background: url(/images/Clients/Hutchings/ProgressReports/01/0001.png)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 88em;
}
.HHS01 .c01{
        width: 120px;height: 100px;margin:auto;margin-top: 11%;
    }
 .HHS01 .c02{
       width: 47px;
    height: 40px;
    margin: auto;
       margin-left:10px;
    }
  .HHS01 .c03{
      width: 113%;margin: auto;margin-top: 45%;
  }
 
.HHS01 .box1 {
    margin: auto;  
     padding: 10px;
    border: 1px solid #000;
    width: 200px !important;
    height: 40px;
    border-radius: 4px;
  
}
.HHS01 .box {
        border: 1px solid #000;
        width: 200px !important;
        height: 40px;
        border-radius: 4px;
        padding: 5px;

    }
.HHS01 .box2 {
    border: 1px solid #fff;
    width: 150px !important;
    height: 150px;
    background: #fff;
    border-radius: 4px;
    padding: 5px;
}
.HHS01 .box3{
        padding:15px;
         border: 1px solid #000;
         padding-bottom:30px;
    }

.HHS01 h1, .HHS01 h2, .HHS01 h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.HHS01 .body-section .t1 {
    width: 72% !important;
    margin: auto;
}

.HHS01 .body-section .t2 {
    width: 65% !important;
    margin: auto;
}

.HHS01 .body-section .t3 {
    width: 55% !important;
    margin: auto;
}
 .HHS01 .t4{
        width:30%;line-height:1.6;
    }
.HHS01 .padding-top-60 {
    padding-top: 60px !important;
}

.HHS01 .margin-top-5 {
    margin-top: 5px !important;
}

.HHS01 .margin-top-10 {
    margin-top: 10px !important;
}

.HHS01 .margin-top-28 {
    margin-top: 30% !important;
}
.HHS01 .margin-left-33{
    margin-left: 33px !important;
}
.HHS01 label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 600;
    color: #000;
    font-size: 15px;
}
.HHS01 ol{
        line-height: 2.2;
        font-weight:600;
        font-size:15px;
}
.HHS01 .text-right{
    text-align:right!important;
}