<link href="css/print/baldwin/BBHS/BBHSBUSSFORM/BBHSBUSSFORM.css" rel="stylesheet" />
<link href="css/print/Smartcard/BaldwinSmartcard.css" rel="stylesheet" />
<link href="css/print/Smartcard/BaldwinSmartcardPdf.css" rel="stylesheet" />


<section class="content" data-ng-init="loaddata()">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">SMART CARD DETAILS UPDATE FORM </h3>
        </div>
        <div class="box-body">
            <form class="form-horizontal" role="form" method="post" name="myForm" novalidate>
                <div class="row" ng-show="rolename!='Student'">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Search Student:<span style="color:Red">*</span></label>

                            <div class="col-sm-8">
                                <ui-select id="sel1" name="studentname" ng-model="$parent.Amst_Id" ng-disabled="accchange" theme="bootstrap" ng-keyup="searchfilter($select);" ng-change="onchange($parent.Amst_Id)" title="Select Student">

                                    <ui-select-match ng-trim="false" placeholder="Select or search Student in the list...">{{$select.selected.amsT_FirstName}}</ui-select-match>

                                    <ui-select-choices repeat="option in studentlst | filter: $select.search " value="{{option.amst_Id}}" ng-selected="{{option.Selected == true}}">
                                        <div ng-bind-html="option.amsT_FirstName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <label id="upnme" ng-show="updateshowlabel">{{updatename}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <div class="well">
                                    <label><b class="box-title">Update Details For : </b></label>
                                    <label class="radio-inline">
                                        <input type="radio" value="S" data-ng-model="parent" ng-change="radio_g()" name="defalt">
                                        <span class="lbl padding-8">STUDENT</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="F" data-ng-model="parent" ng-change="radio_g()" name="sgl">
                                        <span class="lbl padding-8">FATHER</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="M" data-ng-model="parent" ng-change="radio_g()" name="gar">
                                        <span class="lbl padding-8">MOTHER</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Name :</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="pname" ng-disabled="true" ng-model="NameoftheCandidate" id="usr" type="text"
                                       placeholder="Enter Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Mobile Number:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="fmob" ng-model="Mobilenumber" id="usr" type="text" ng-pattern="/^[6-9]{1,1}[0-9]{9,9}?$/" minlength="10" allow-pattern="\d" placeholder="Enter MobileNumber" maxlength="10" required>

                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.fmob)" ng-messages="myForm.fmob.$error">
                                <div ng-message="pattern">Enter valid Mobile NO</div>
                                <div ng-message="required">Enter Mobile number</div>
                                <div ng-message="minlength">Mobile number must contain 10 digits</div>
                                <div ng-message="maxlength">Mobile number must contain 10 digits</div>
                                <div ng-message="pattern">Mobile number must be numeric</div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="control-label col-sm-4">Phone Number:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="pmob" ng-model="Phonenumber" id="usr" type="text" ng-pattern="/^{1,1}[0-9]{9,9}?$/" minlength="10" allow-pattern="\d" placeholder="Enter Phone Number" maxlength="10" required>

                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.pmob)" ng-messages="myForm.pmob.$error">
                                <div ng-message="pattern">Enter valid Phone No.</div>
                                <div ng-message="required">Enter Phone number</div>
                                <div ng-message="minlength">Phone number must contain 10 digits</div>
                                <div ng-message="maxlength">Phone number must contain 10 digits</div>
                                <div ng-message="pattern">Phone number must be numeric</div>
                            </div>
                        </div>-->
                        <div class="form-group" ng-show="parent=='S'">
                            <label class="control-label col-sm-4">Blood Group:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="stubloodgrp" ng-model="Bloodgroup" id="sel111">
                                    <option value="">--Select--</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="A1+ve">A1+ve</option>
                                    <option value="A1-ve">A1-ve</option>
                                    <option value="B1+ve">B1+ve</option>
                                    <option value="B1-ve">B1-ve</option>
                                    <option value="A2+ve">A2+ve</option>
                                    <option value="A1B+ve">A1B+ve</option>
                                    <option value="A2B+ve">A2B+ve</option>
                                    <option value="A1B2">A1B2</option>
                                    <option value="A1B-ve">A1B-ve</option>

                                </select>

                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-sm-4">Email ID:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Femail" placeholder="Enter Email ID" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="EmailidforCandidate" required />
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.Femail)" ng-messages="myForm.Femail.$error">
                                <div ng-message="required">Enter Email</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <!-- Right side Fields-->
                        <table class="table border-none" style="border:0px;">
                            <tr>
                                <td>
                                    <div style="width:160px;height:120px;border:1px solid #5cb7ff;margin:auto;">
                                        <img style="width:160px;height:120px;" id="blahF">
                                    </div>
                                    <label class="custom-file-input file-blue" style="width:160px;margin:auto;">
                                        <input type="file" name="stufileF" accept="image/*" data-ng-model="image" onchange="angular.element(this).scope().uploadStudentProfilePicF(this)">
                                    </label>
                                    <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.stufileF)" ng-messages="myForm.stufileF.$error">
                                        <div ng-message="required">Upload  Photo</div>
                                    </div>
                                </td>

                            </tr>
                        </table>

                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box-header">
                            <b class="box-title">Residential Address : </b>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Street:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="street" id="usr" type="text" ng-model="Resstreet" ng-disabled="parent=='F' || parent=='M'" placeholder="Enter Street" required>

                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.street)" ng-messages="myForm.street.$error">
                                <div ng-message="required">Enter Street</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Area:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="ara" id="usr" type="text" ng-model="ResArea" ng-disabled="parent=='F' || parent=='M'" placeholder="Enter Area" required>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.ara)" ng-messages="myForm.ara.$error">
                                <div ng-message="required">Enter Area</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">City:</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="usr" name="addcity" ng-model="Rescity" ng-disabled="parent=='F' || parent=='M'" type="text" placeholder="City" required>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.addcity)" ng-messages="myForm.addcity.$error">
                                <div ng-message="required">Enter City</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Country:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="country" ng-disabled="parent=='F' || parent=='M'" ng-model="Rescountry" ng-change="onSelectGetState1(Rescountry)">
                                    <option value="">Country</option>
                                    <option ng-repeat="obj in countrydrop" value="{{obj.ivrmmC_Id}}" ng-selected="obj.ivrmmC_Id==Rescountryy">
                                        {{obj.ivrmmC_CountryName}}
                                    </option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">State:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel12" name="addstate" ng-disabled="parent=='F' || parent=='M'" ng-model="Resstate">
                                    <option value="">State</option>
                                    <option ng-repeat="obj in statedrop" value="{{obj.ivrmmS_Id}}" ng-selected="obj.ivrmmS_Id==Resstatee">
                                        {{obj.ivrmmS_Name}}
                                    </option>
                                </select>


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Pincode</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="usr" name="addpin" ng-model="ResPincode" ng-disabled="parent=='F' || parent=='M'" type="text" placeholder="Pincode" required>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.addpin)" ng-messages="myForm.addpin.$error">
                                <div ng-message="required">Enter Pincode</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box-header">
                            <b class="box-title">Permanent Address : </b>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Street:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="perstreet" id="usr" type="text" ng-disabled="parent=='F' || parent=='M'" ng-model="Perstreett" placeholder="Enter Street" required>

                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.perstreet)" ng-messages="myForm.perstreet.$error">
                                <div ng-message="required">Enter Street</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Area:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="Perara" id="usr" type="text" ng-disabled="parent=='F' || parent=='M'" ng-model="PerArea" placeholder="Enter Area" required>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.Perara)" ng-messages="myForm.Perara.$error">
                                <div ng-message="required">Enter Area</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">City:</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="usr" name="Peraddcity" ng-model="Percity" ng-disabled="parent=='F' || parent=='M'" type="text" placeholder="City" required>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.Peraddcity)" ng-messages="myForm.Peraddcity.$error">
                                <div ng-message="required">Enter City</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Country:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel13" name="Percountry" ng-disabled="parent=='F' || parent=='M'" ng-change="onSelectGetState2(PerCountry)" ng-model="PerCountry">
                                    <option value="">Country</option>
                                    <option ng-repeat="obj in countrydrop" value="{{obj.ivrmmC_Id}}" ng-selected="obj.ivrmmC_Id==PerCountryy">
                                        {{obj.ivrmmC_CountryName}}
                                    </option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">State:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel14" name="Peraddstate" ng-disabled="parent=='F' || parent=='M'" ng-model="PerState">
                                    <option value="">State</option>
                                    <option ng-repeat="obj in statedropp" value="{{obj.ivrmmS_Id}}" ng-selected="obj.ivrmmS_Id==PerStatee">
                                        {{obj.ivrmmS_Name}}
                                    </option>
                                </select>


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Pincode</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="usr" name="Peraddpin" ng-model="PerPincode" ng-disabled="parent=='F' || parent=='M'" type="text" placeholder="Pincode" required>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.Peraddpin)" ng-messages="myForm.Peraddpin.$error">
                                <div ng-message="required">Enter Pincode</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">

                    <md-button type="submit" ng-click="savedata()" ng-show="rolename=='Student'" class="md-raised md-primary">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i> Submit
                    </md-button>
                    <md-button type="submit" ng-click="savedataadmin()" ng-show="rolename!='Student'" class="md-raised md-primary">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i> Approve
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </md-button>
                </div>
            </form>
        </div>

    </div>

    <!-- Grid -->
    <div class="box box-primary" ng-if="showgrid==true">
        <div class="box-header with-border">
            <h3 class="box-title">UPDATED DATA</h3>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-sm-3 col-sm-offset-9">
                    <div class="input-group">
                        <!--<div class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </div>-->
                        <!--<input class="form-control" ng-model="search1" type="text" placeholder="search here">-->
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr style="text-align:center">
                        <th style="text-align:center">
                            SL.NO
                        </th>
                        <th style="text-align:center">
                            <a href="" hi ng-click="order('amsT_FirstName')">NAME</a>
                        </th>
                        <th style="text-align:center"><a href="" hi ng-click="order('asmaY_Year')">CLASS</a> </th>
                        <th style="text-align:center"><a href="" hi ng-click="order('TRMR_PickRouteName')">ADMISSION NO.</a> </th>
                        <th style="text-align:center"> <a href="" hi ng-click="order('TRMR_DropRouteName')">FATHER DETAILS</a>  </th>
                        <th style="text-align:center"><a href="" hi ng-click="order('trmL_PickLocationName')">MOTHER DETAILS</a> </th>
                        <th style="text-align:center"><a href="" hi ng-click="order('trmL_DropLocationName')">STUDENT DETAILS</a> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in Griddata |orderBy:sortKey:reverse |filter:search |itemsPerPage:itemsPerPage" current-page="currentPage">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{user.studentname}}</td>
                        <td>{{user.ASMCL_ClassName}}</td>
                        <td>{{user.AMST_AdmNo}}</td>

                        <td class="text-center">
                            <span>
                                <a href="javascript:void(0)" class="text-primary" data-placement="bottom" data-toggle="modal" title="Print Smart Card" data-ng-model="buspassdetails" data-target="#myModalFather" data-ng-click="onformclickfather()">
                                    <i class="fa fa-eye fa-1x" aria-hidden="true">View SmartCard</i>
                                </a>
                            </span>
                        </td>
                        <td class="text-center">
                            <span>
                                <a href="javascript:void(0)" class="text-primary" data-placement="bottom" data-toggle="modal" title="Print Smart Card" data-ng-model="buspassdetails" data-target="#myModalMother" data-ng-click="onformclickmother()">
                                    <i class="fa fa-eye fa-1x" aria-hidden="true">View SmartCard</i>
                                </a>
                            </span>
                        </td>
                        <td class="text-center">
                            <span>
                                <a href="javascript:void(0)" class="text-primary" data-placement="bottom" data-toggle="modal" title="Print Smart Card" data-ng-model="buspassdetails" data-target="#myModalstudent" data-ng-click="onformclickstudent()">
                                    <i class="fa fa-eye fa-1x" aria-hidden="true">View SmartCard</i>
                                </a>
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="15" pagination-id="page1"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
    <!---model Azure-->
    <div class="smartcard">
        <div id="test">

        </div>
    </div>
    <!-- ======================================== -->
    <!---model Azure-->



</section>
