<link href="../css/print/hutchings/Bonafide_Cert/BonafideCert.css" rel="stylesheet" />
<link href="../css/print/Portals/FeeReceipt.css" rel="stylesheet" />
<form class="form-horizontal ng-pristine ng-valid" name="myForm" data-ng-submit="saveddata()" role="form" novalidate>
    <section class="content" data-ng-init="loaddata()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> Student Fee Receipt</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year :<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" ng-model="asmaY_Id" data-ng-change="onyearchange123(asmaY_Id)" name="acd_year" required>
                                    <option value="">Select Year </option>
                                    <option ng-repeat="option in yearlst" value="{{option.asmaY_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{option.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd_year)" ng-messages="myForm.acd_year.$error">
                                    <div ng-message="required">Select the Academic Year</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Receipt No :<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" ng-model="fyP_Id" data-ng-change="onreceiptchange(fyP_Id)" name="rec_no" required>
                                    <option value="">Select Receipt No. </option>
                                    <option ng-repeat="option in recnolst" value="{{option.fyP_Receipt_No}}" ng-selected="{{option.Selected == true}}">
                                        {{option.fyP_Receipt_No}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.rec_no)" ng-messages="myForm.rec_no.$error">
                                    <div ng-message="required">Select the Academic Year</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <button class="btn btn-primary" ng-click="printToCart()" ng-show="getfeereceiptlst.length>0">Print</button>

                        <button class="btn btn-primary" ng-click="Clear()" ng-show="getfeereceiptlst.length>0">Clear</button>
                    </div>
                </div>



                <div class="FeeReceipt" id="printreceipt" ng-show="hide_FeeReceipt">
                    <div class="text-center">
                        <img src={{imgname}} class="img-responsive" style="width: 60%; margin:auto;" />
                    </div>
                    <h4 class="text-center">
                        Student Fee Receipt
                    </h4>
                    <hr />

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4"> Student Name  </label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{FirstName}} </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Receipt No. </label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{receiptno}} </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Class</label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{class}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Admission No.</label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{admno}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Date</label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{recdate | date:'dd/MM/yyyy'}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year</label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{academicyear}}</label>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Installment </label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{}} </label>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">PARTICULARS</th>
                                <th class="text-center">PAYABLE AMOUNT</th>
                                <th class="text-center">CONESSION</th>
                                <th class="text-center">NET AMOUNT</th>
                                <th class="text-center">TOTAL AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="value in getfeereceiptlst">
                                <td>{{value.particulars}}</td>
                                <td>{{value.paidAmt}}</td>
                                <td>{{value.concessionAmt}}</td>
                                <td>{{value.netAmount}}</td>
                                <td>{{value.totalAmount}}</td>
                            </tr>
                            <tr>
                                <td colspan="4"><b>Total</b></td>
                                <td><b>{{totoalamt}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-if="transid.lenght>0">
                                <label class="control-label col-sm-4">Transction ID </label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{transid}} </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Payment Details </label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{paytype}} </label>
                                </div>
                            </div>
                          
                                <div class="form-group" ng-if="!bankdetails">
                                    <label class="control-label col-sm-4">Bank Name </label>
                                    <div class="col-sm-8">
                                        <label class="control-label">: {{bankname}} </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="!bankdetails">
                                    <label class="control-label col-sm-4">Cheque No. </label>
                                    <div class="col-sm-8">
                                        <label class="control-label">: {{chequeno}} </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="!bankdetails">
                                    <label class="control-label col-sm-4">Cheque Date </label>
                                    <div class="col-sm-8">
                                        <label class="control-label">: {{chequedate | date:"dd/MM/yyyy"}} </label>
                                    </div>
                                </div>
                        
                            <div class="form-group">
                                <label class="control-label col-sm-4">Fee Received </label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{totoalamt}} </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Amount In Words</label>
                                <div class="col-sm-8">
                                    <label class="control-label">: {{amtinwords}} </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h4 class="text-center">Its Computer Generated Fee Receipt Stamp & Signs Not Required</h4>
                </div>
            </div>
        </div>

        </div>
        <hr />


    </section>
</form>