<link href="../css/print/hutchings/Bonafide_Cert/BonafideCert.css" rel="stylesheet" />
<link href="../css/print/Portals/FeeReceipt.css" rel="stylesheet" />
<form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form"  novalidate>
    <section class="content" data-ng-init="loaddata()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">SMS EMAIL  REPORT</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <br />
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="text-center well" ng-init="optionflag='SMS'">
                            <label class="radio-inline">
                                <input name="Options" type="radio" value="SMS" ng-model="optionflag" ng-change="radioChange()">
                                <span class="lbl padding-8"> SMS</span>
                            </label>
                            <label class="radio-inline">
                                <input name="Options" type="radio" value="EMAIL" ng-model="optionflag" ng-change="radioChange()">
                                <span class="lbl padding-8">
                                    EMAIL
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                                           
                <div class="col-md-12 col-sm-12 col-md-offset-2">
                    <br />
                    <!--<div class="row">
                        <label class="control-label col-sm-2">Academic Year :<span style="color:red;">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control" id="sel1" data-ng-model="asmaY_Id" name="acd_year" required>
                                <option value="">-Select Year- </option>
                                <option ng-repeat="option in studetiallist" value="{{option.asmaY_Id}}" ng-selected="{{option.asmaY_Id == asmaY_Id}}">
                                    {{option.asmaY_Year}}
                                </option>
                            </select>
                            <div class="error-messages" ng-if="interacted(myForm.acd_year)" ng-messages="myForm.acd_year.$error">
                                <div ng-message="required">Select Academic Year</div>
                            </div>
                        </div>
                    </div>-->
                   
                    <div class="row">
                        <label class="control-label col-sm-2">From Date:<span style="color:red;">*</span></label>
                        <div class="col-sm-10">
                            <md-datepicker ng-model="startdate" name="startdate" id="date1" md-placeholder="From Date" md-min-date="plMaxdate" md-max-date="newdate" required></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.startdate)" ng-messages="myForm.startdate.$error">
                                <div ng-message="required">From Date</div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label class="control-label col-sm-2">To Date:<span style="color:red;">*</span></label>
                        <div class="col-sm-10">
                            <md-datepicker ng-model="enddate" name="endatediff" md-min-date="startdate" md-placeholder="To Date" md-max-date="newdate" required></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.endatediff)" ng-messages="myForm.endatediff.$error">
                                <div ng-message="required">To Date</div>
                            </div>
                        </div>
                    </div>                                       
                </div>                
                <div class="col-md-12 col-sm-12">
                    <br />
                    <br />
                    <div class="row">
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="getreport()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                            <md-button type="submit" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                            <md-button type="button" ng-click="exportToExcel()" target="_blank" class="md-raised md-primary" ng-show="studlist.length>0">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                Export to Excel
                            </md-button>

                            <md-button type="button" ng-click="printData()" class="md-raised md-primary" ng-show="studlist.length>0">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                print
                            </md-button>
                        </div>
                    </div>
                </div>             
            </div>

        </div>
        <div class="box box-primary" ng-show="studlist.length>0" >
            <div class="box-header with-border">
                <h3 class="box-title">SMS EMAIL  REPORT</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{studlist.length}}
                            </label>
                        </label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group" ng-if="search!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue.length}}
                            </label>
                        </label>
                    </div>
                </div>

                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" ng-if="optionflag=='EMAIL'">
                    <table class="table table-hover table-responsive table-bordered text-center">
                        <thead>
                            <tr>
                                <th>
                                    SL.No.
                                </th>
                                <th>
                                    <a href="" ng-click="sort('EmpName')">Student Name</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sort('Email_Id')">Email-Id</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sort('Datetime')">Date</a>
                                </th>
                                
                                <th>
                                    <a href="" ng-click="sort('Module_Name')">Module</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="user in filterValue = (studlist | filter : search)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'" pagination-id="xyz">

                                <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td>
                                    {{user.EmpName}}
                                </td>
                                <td>
                                    {{user.Email_Id}}
                                </td>
                                <td>
                                    {{user.Datetime |date:'dd/MM/yyyy'}}
                                </td>
                               
                                <td>
                                    {{user.Module_Name}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12" ng-if="optionflag=='SMS'">
                    <table class="table table-hover table-responsive table-bordered text-center">
                        <thead>
                            <tr>
                                <th>
                                    SL.No.
                                </th>
                                <th>
                                    <a href="" ng-click="sort('EmpName')">Student Name</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sort('Mobile_no')">Mobile Number</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sort('Datetime')">Date</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sort('Message')">Message</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sort('Module_Name')">Module Name</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="user in filterValue = (studlist | filter : search)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'" pagination-id="xyz">

                                <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td>{{user.EmpName}}</td>
                                <td>
                                    {{user.Mobile_no}}
                                </td>
                                <td>
                                    {{user.Datetime |date:'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{user.Message}}
                                </td>
                                <td>
                                    {{user.Module_Name}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true" pagination-id="xyz">
                </dir-pagination-controls>
            </div>
        </div>
    </section>

    <div id="tablegrp_print" style="display:none;">
        <div class="col-sm-12" ng-if="optionflag=='EMAIL'">
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            SL.No.
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                           Email-Id
                        </th>
                        <th>
                            Date
                        </th>

                        <th>
                            Module
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in studlist">
                        <td>{{$index+1}}</td>
                        <td>
                            {{user.EmpName}}
                        </td>
                        <td>
                            {{user.Email_Id}}
                        </td>
                        <td>
                            {{user.Datetime |date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{user.Module_Name}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-sm-12" ng-if="optionflag=='SMS'">
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            SL.No.
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                           Mobile Number
                        </th>
                        <th>
                           Date
                        </th>
                        <th>
                           Message
                        </th>
                        <th>
                            Module Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in studlist">

                        <td>{{$index+1}}</td>
                        <td>{{user.EmpName}}</td>
                        <td>
                            {{user.Mobile_no}}
                        </td>
                        <td>
                            {{user.Datetime |date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{user.Message}}
                        </td>
                        <td>
                            {{user.Module_Name}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</form>

