<style>
    html, body {
        height: 100%;
    }
</style>
<section class="content" data-ng-init="loaddata()">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Student Library</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SL.No.</th>
                            <th>Accession No.</th>
                            <th>Book</th>
                            <th>Issued Date </th>
                            <th>Status</th>
                            <th>Due Date </th>
                            <th>Returned Date </th>
                            <th>Total Fine</th>
                            <th>Fine Collected</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in librarydetails">
                            <td>{{$index+1}}</td>
                            <td>{{user.LMBANO_AccessionNo}}</td>
                            <td>{{user.LMB_BookTitle}}</td>
                            <td>{{user.LBTR_IssuedDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{user.LBTR_Status}}</td>
                            <td>{{user.LBTR_DueDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{user.LBTR_ReturnedDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{user.LBTR_TotalFine}}</td>
                            <td>{{user.LBTR_FineCollected}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="10"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
                <div>
                </div>
            </div>
        </div>


    </div>


</section>