@media print {
    body{
        margin:0px;
    }
    a{
        text-decoration:none;
        color:#000;
    }
    .Monotype {
        font-family: Monotype Corsiva, Times, Serif;
        text-transform: capitalize;
    }

    h4 {
        text-transform: none !important;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    .table {
        table-layout: fixed;
        border: 0px !important;
        font-weight: 600;
        text-align: left !important;
        font-size: 16px;
        padding: 0px !important;
        width: 100%;
    }
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 0.8px solid #cad4de;
    padding: 8px;
    vertical-align: middle;
    text-align: left !important;
        word-break: break-all;
}
    .table-bordered {
        border: 0px !important;
        font-weight: 600;
        text-align: left !important;
        font-size: 16px;
        /*line-height: 1.8;*/
        width: 100%;
        padding-left: 10px;
        
    }
    /*.table-bordered tr td label{
        display:none;
    }*/
    .image {
        background: url(/images/Clients/Hutchings/ProgressReports/01/0001.png)no-repeat 0px 0px;
        background-size: cover;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        height: 58em !important;
    }

 h1, h2, h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .t11 {
        width: 72% !important;
        margin: auto;
    }

    .t22 {
        width: 65% !important;
        margin: auto;
    }

    .t3 {
        width: 55% !important;
        margin: auto;
    }
    .t4{
        width:40%;line-height:1.6;
    }
    .padding-top-60 {
        padding-top: 60px !important;
    }

    .padding-top-5 {
        padding-top: 5px !important;
    }

    .padding-left-30 {
        padding-left: 30% !important;
    }

    .padding-left-60 {
        padding-left: 60% !important;
    }

    .margin-top-5 {
        margin-top: 5px !important;
    }

    .margin-top-10 {
        margin-top: 10px !important;
    }

    .margin-top-28 {
        margin-top: 28% !important;
    }
    .margin-top-80{
        margin-top: 80px !important;
    }
    .margin-top-30p{
        margin-top: 30% !important;
    }
     .margin-left-33{
    margin-left: 33px !important;
}
    .box {
        border: 1px solid #000;
        width: 150px !important;
       margin:auto;
        border-radius: 4px;
        padding: 10px;
    }

    .pull-right {
        float: right !important;
    }

    .pull-left {
        float: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-left {
        text-align: left !important;
    }

    .text-center {
        text-align: center !important;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 0px;
        font-weight: 600;
        color: #000;
        font-size: 15px;
    }

    /*parveen*/
.border-radius {
        border: 1px solid #000;
        padding: 10px 0px 0px 0px;
        border-collapse: collapse;
        border-radius: 10px;
    }

.box1 {
        border: 1px solid #000;
        width: 95% !important;
        border-radius: 15px;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
    }
/*parveen*/
 .grade-box {
    list-style-type: none;
    border-radius: 3px;
    border: solid 1px;
    position: relative;
    margin-top: 24px;
    padding-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
}

  .grade-box:before {
        content: url('/images/Clients/Hutchings/ProgressReports/03/04.png');
        position: absolute;
        top: -20px;
        padding-left: 45%;
    }
}
