@media print {
    body {
        margin: 20px !important;
    }

    @page {
        size: portrait;
        margin: 10px;
    }

    .custom {
        margin: 0px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        color: #3a5999 !important;
        font-weight: 700;
    }

    h5, h6 {
        line-height: 5px !important;
    }

    .h3, h3 {
        font-size: 20px;
    }

    h1, h2, h3, h4 {
        margin-top: 2px;
        margin-bottom: 5px;
    }

    .text-center {
        text-align: center !important;
    }

    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    img {
        margin: 0px;
        padding: 0px;
        width: 80%;
        margin-top: 18% !important;
        margin-left: 22% !important;
    }

    .thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    .table {
        table-layout: fixed;
        border: 0px !important;
        font-weight: 400;
        text-align: left !important;
        font-size: 14px;
        padding: 0px !important;
        width: 100%;
    }

    .table-bordered {
        table-layout: fixed;
        width: 100%;
    }

        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 0.8px solid #cad4de;
            padding: 3px;
            vertical-align: middle;
            word-break: break-all;
            font-size: 16px;
            font-weight: 600;
            word-break: break-word !important;
        }

    .secondpage li {
        font-size: 20px;
        line-height: 150%;
    }

    p {
        font-size: 16px !important;
    }

    #Printid {
        font-weight: 600;
    }

    .form-1 {
        page-break-after: always !important;
    }
}
