.SSVNStudyCertificate {
    width: 80%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}
    .table-bordered {
        width: 100%;
        table-layout: auto;
        outline: 5px solid #444;
        outline-offset: 5px;
    }
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 0.8px solid #333;
    padding: 4px;
    vertical-align: middle;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px !important;
}
.table {
    border-top: 0px !important;
    width: 100%;
    table-layout: auto;
    border: 0px !important;
    font-weight: 600;
    text-align: left !important;
    margin-bottom: 10px;
    /* background: #95c7ef; */
}
    .table > tr > td {
        border-top: 0px !important;
    }
