
@media print {
    #ADMNReport3{
          width: 100% !important;   
          margin:auto;
    }
   table{
      
         width: 100% !important;    
   }
     .table{
      
         width: 100% !important;    
   }
  p{
    font-size:20px !important;
}
#ADMNReport5{
    padding-top:100px;
    width:80%;
    margin:auto;
}
   .vikasafont{
       line-height:2 !important;
       font-size:20px !important;
   }
}
