
@media print {
    body{
        margin:30px;
    }

    table {
        table-layout: fixed;
        width: 100%;
        margin-bottom: 15px;
        border: 0px !important;
    }

    .table {
        font-family: 'Source Sans Pro', sans-serif;
        border: 0px !important;
        font-weight: 400;
        text-align: left !important;
        margin-bottom: 10px !important;
        line-height: 2;
        font-size: 16px;
        font-family: 'Monotype Corsiva', sans-serif;
    }


    .BGHSAPP .table, .BGHSAPP .table > tbody > tr > td, .BGHSAPP .table > tbody > tr > th, .BGHSAPP .table > tfoot > tr > td, .BGHSAPP .table > tfoot > tr > th, .BGHSAPP .table > thead > tr > td, .BGHSAPP .table > thead > tr > th {
        padding: 8px;
        text-align: left !important;
        border: 0px !important;
        font-size: 16px;
        font-family: 'Monotype Corsiva', sans-serif;
         line-height: 2;
    }
}
