.CunductCertificateBGHS {
    width: 90%;
    margin: auto;  
  font-family: 'Monotype Corsiva', sans-serif;
}

.CunductCertificateBGHS h1, .CunductCertificateBGHS h2, .CunductCertificateBGHS h3, .CunductCertificateBGHS h4, .CunductCertificateBGHS h5, .CunductCertificateBGHS h6,
 .CunductCertificateBGHS .h1, .CunductCertificateBGHS .h2, .CunductCertificateBGHS .h3, .CunductCertificateBGHS .h4, .CunductCertificateBGHS .h5, .CunductCertificateBGHS .h6 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: none ;
    color: #3a5999 !important;
    font-weight: 700;
}

.CunductCertificateBGHS .table {
    width:100%;
    border: 0px;
     font-size: 16px;
    font-weight: 400;
    text-align: left !important;
    margin-bottom: 10px;
     font-family: 'Monotype Corsiva', sans-serif;
    /* background: #95c7ef; */
}
.CunductCertificateBGHS table {
    table-layout: fixed;
    width: 100%;  
    margin-bottom: 15px; 
  font-family: 'Monotype Corsiva', sans-serif;
}
.CunductCertificateBGHS .table>tbody>tr>td, .CunductCertificateBGHS .table>tbody>tr>th, .CunductCertificateBGHS .table>tfoot>tr>td, .CunductCertificateBGHS .table>tfoot>tr>th, .CunductCertificateBGHS .table>thead>tr>td, 
.CunductCertificateBGHS .table>thead>tr>th {
    padding: 8px;
    line-height: 1.0;
    vertical-align: bottom !important;
    border: 0px;
    /*text-align: left !important;*/
    font-size: 16px;
     font-family: 'Monotype Corsiva', sans-serif;
}
