@media print {

    @page {
        /*size: portrait;*/
        margin-top: 2cm;
        margin-left: 10px;
        margin-right: 10px;       
        /*margin: 2px;*/
        /* margin-top: 2.2cm;*/
    }

    body {
        margin-top: 0px !important;
    }

    .Studentempdetails .logo img {
        display: none;
    }

    .Studentempdetails .margin-top-150 {
        margin-top: 0px !important;
    }

    .Studentempdetails .user-image > img {
        width: 120px;
        height: 120px;
        border: 1px solid #0463c2;
    }

    .box-body {
        height: 235px !important;
        font-weight: 400;
        font-size: 12px;
    }

    .box-header .border-bottom {
        border: 1px !important;
    }

    .Studentempdetails .footer {
        display: none;
    }
    .box {
        border: 1px solid #000;
        margin: 2px;
        padding: 5px;
        word-break: break-word;
    }

    .Studentempdetails .table {
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        font-size: 12px;
        text-align: left;
        line-height: 1.2;
        font-weight: 400;
    }
}
