

.BGHSStudentTc table {
    table-layout: fixed;
    width: 100%;
    border: none !important;
}

.BGHSStudentTc .table {
    border: none !important;
    text-align: left !important;
    font-weight: 500;
}


.BGHSprintSectionIdgirls .table {
    border: none !important;
    width: 90%;
    margin: auto;
}
.BGHSprintSectionIdgirls .border-bottom {
    border-bottom: 1px solid #000 !important;
    text-align: center;
    font-family: lucida calligraphy;
}
