@media print {
    .challan .head{
     font-weight: 600;
}

.challan .modal{
    padding-right:0px !important;
}
.challan .modal .modal-body{
    margin:1%;
}
.challan .modal-lg{
    width:100%;
   
}
.challan-box{
    border:1px solid #ddd !important;
    padding:1% !important;
    font-weight: 600;
}
.challan .table thead {
    background: #fff;
    color: #000 !important;
    text-align: center;
    border-top: 1px solid #ddd;
}
.challan .table {
    border: 0px;
     font-weight: 600;
}
.challan .table tr:last-child{
     border-bottom: 1px solid #ddd;
}
.challan .table>tbody>tr>td, .challan .table>tbody>tr>th, .challan .table>tfoot>tr>td, .challan .table>tfoot>tr>th, .challan .table>thead>tr>td, .challan .table>thead>tr>th {
    padding: 8px;
    line-height: .5;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.challan label{
    font-weight: 600;
}
}
