.md-datepicker-calendar-pane{
z-index: 1200}
/*.md-datepicker-calendar-pane {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1151;
  border-width: 1px;
  border-style: solid;
  background: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .md-datepicker-calendar-pane.md-pane-open {
    -webkit-transform: scale(1);
            transform: scale(1); }*/
.custom-file-input {
	display: inline-block;
	position: relative;
	color: #533e00;
}
.custom-file-input input {
	visibility: hidden;
	width: 100px
}
.custom-file-input:before {
	content: 'Choose File';
	display: block;
	background: -webkit-linear-gradient( -180deg, #ffdc73, #febf01);
	background: -o-linear-gradient( -180deg, #ffdc73, #febf01);
	background: -moz-linear-gradient( -180deg, #ffdc73, #febf01);
	background: linear-gradient( -180deg, #ffdc73, #febf01);
	border: 3px solid #dca602;
	border-radius: 0px;
	margin-top: 0px;
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	text-shadow: 1px 1px rgba(255,255,255,0.7);
	font-weight: bold;
	text-align: center;
	font-size: 10pt;
	position: absolute;
	left: 0;
	right: 0;
}
.ivrscustom-file-input:before {
    content: 'Choose Excel File Of Mobile No.';
    display: block;
    background: -webkit-linear-gradient( -180deg, #ffdc73, #febf01);
    background: -o-linear-gradient( -180deg, #ffdc73, #febf01);
    background: -moz-linear-gradient( -180deg, #ffdc73, #febf01);
    background: linear-gradient( -180deg, #ffdc73, #febf01);
    border: 3px solid #dca602;
    border-radius: 0px;
    margin-top: 0px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px rgba(255,255,255,0.7);
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    position: absolute;
    left: 0;
    right: 0;
}
.custom-file-input:hover:before {
	border-color: #febf01;
}
.custom-file-input:active:before {
	background: #2757a6;
}
/*login page upload style*/
.login-file .file-blue:before {
	content: 'Upload Photo';
	background:#2757a6;
	border-color: #2757a6;
	color: #FFF;
	text-shadow: 1px 1px rgba(000,000,000,0.5);
}
/*login page upload style*/
.UploadPhoto .file-blue:before {
	content: 'Upload Photo';
	 font-size:12px;
}
.UploadEmpPhoto .file-blue:before {
	content: 'Upload Employee Photo';
	 font-size:12px;
}

.UploadEmpDoc .file-blue:before {
	content: 'Upload Employee Document';
	 font-size:12px;
}


/*application page upload style*/
.student-photo .file-blue:before {
	content: 'Upload Student Photo';
	background:#2757a6;
	border-color: #2757a6;
	color: #FFF;
	text-shadow: 1px 1px rgba(000,000,000,0.5);
    font-size:13px;
}

/*documents  upload style*/
.documents .file-blue:before {
	content: 'Upload Document';
	background:#2757a6;
	border-color: #2757a6;
	color: #FFF;
	text-shadow: 1px 1px rgba(000,000,000,0.5);
    
}

/*application page upload style*/
.student-photoadm .file-blue:before {
	content: 'Upload Student Photo';	
    font-size:13px;
}
/*application page upload style*/
.father-photo .file-blue:before {
	content: 'Upload Father Photo';	
    font-size:13px;
}
/*application page upload style*/
.fathersign-photo .file-blue:before {
	content: 'Upload Father Signature';	
    font-size:13px;
}
/*application page upload style*/
.fatherfringer-photo .file-blue:before {
	content: 'Upload Father Fringer Print';	
    font-size:13px;
}

/*application page upload style*/
.mother-photo .file-blue:before {
	content: 'Upload Mother Photo';	
    font-size:13px;
}
/*application page upload style*/
.vehicle-photo .file-blue:before {
	content: 'Upload Vehicle Photo';	
    font-size:13px;
}
/*application page upload style*/
.mothersign-photo .file-blue:before {
	content: 'Upload Mother Signature';	
    font-size:12px;
}
/*application page upload style*/
.motherfinger-photo .file-blue:before {
	content: 'Upload Mother Fringer Print';	
    font-size:12px;
}


.file-blue:before {
	content: 'Upload Photo';
	background:#2757a6;
	border-color: #2757a6;
	color: #FFF;
	text-shadow: 1px 1px rgba(000,000,000,0.5);
}

.file-bluenew:before {
    content: 'Browse';
    background: #2757a6;
    border-color: #2757a6;
    color: #FFF;
    text-shadow: 1px 1px rgba(000,000,000,0.5);
}


    .alumnistudent:before {
        content: 'Upload Profile Photo';
        background: #2757a6;
        border-color: #2757a6;
        color: #FFF;
        text-shadow: 1px 1px rgba(000,000,000,0.5);
        font-size: 13px;
    }
.alumnifamily:before {
    content: 'Upload Family Photo';
    background: #2757a6;
    border-color: #2757a6;
    color: #FFF;
    text-shadow: 1px 1px rgba(000,000,000,0.5);
    font-size: 13px;
}
.uploadhomework:before {
    content: 'Upload Homework';
    background: #2757a6;
    border-color: #2757a6;
    color: #FFF;
    text-shadow: 1px 1px rgba(000,000,000,0.5);
    font-size: 13px;
}
.uploadclasswork:before {
    content: 'Upload Classwork';
    background: #2757a6;
    border-color: #2757a6;
    color: #FFF;
    text-shadow: 1px 1px rgba(000,000,000,0.5);
    font-size: 13px;
}



.import .file-blue1:before {
	content: 'Import File';
	background:#2757a6;
	border-color: #2757a6;
	color: #FFF;
	text-shadow: 1px 1px rgba(000,000,000,0.5);
}
.file-blue:hover:before {
	border-color: #02b0e6;
}
.file-blue:active:before {
	background: #2757a6;
}


/*navbar-md-input*/
md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    
    padding-left: 8px;
 
}
.navbar md-input-container {
    display: inline-block;
    position: relative;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    height: 10px;
    width:20%;
    margin-top: 1%;
}
.navbar md-input-container input{
    color:#fff;
}
.navbar md-input-container .md-input {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: 0 0;
    padding: 2px 12px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    border-color:#fff;
    width: 100%;
    box-sizing: border-box;
    float: left;
}
.navbar md-input-container .md-input:focus{
     border-style: solid;
    border-color:#fff;
}
.navbar md-input-container label{
    color:#fff;
}


/*content md-input-container*/
 .content md-input-container{
     width:100%;
 }
 .content md-input-container md-select {
color: #000000;
border-bottom: 1px solid #673AB7;
}
 .content md-input-container .md-input {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: 0 0;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
     border-color:#673AB7;
    width: 100%;
    box-sizing: border-box;
    float: left;
}
 .content md-input-container label{
     color:#000;
 }
 .inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; 

}