@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(http://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(http://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(http://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 17px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding-top: 6px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.box-body .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /*border: 0px ;*/
    border-radius: 0;
}
.cursor-none .md-button{
    cursor:default !important;
}
.btn-default {
    background-color: #0463c2;
    color: #fff;
    border-color: #0463c2;
}
.color1{
    background-color: rgb(40, 177, 45) !important;
    color: rgb(255,255,255);
}
.color2{
    background-color: #c158f3 !important;
    color: rgb(255,255,255);
}
.color3{
    background-color: #f38b58 !important;
    color: rgb(255,255,255);
}
.color4{
    background-color: #9c27b0 !important;
    color: rgb(255,255,255);
}
.color5{
    background-color: #ea643a !important;
    color: rgb(255,255,255);
}
.color6{
    background-color: #06c7e2 !important;
    color: rgb(255,255,255);
}
.color7{
    background-color: #41b05f !important;
    color: rgb(255,255,255);
}
.color8{
    background-color: #529405 !important;
    color: rgb(255,255,255);
}
.color9{
    background-color:#772aff !important;
    color: rgb(255,255,255);
}
.color10{
    background-color: #f358e2 !important;
    color: rgb(255,255,255);
}
.color11{
    background-color: #c158f3 !important;
    color: rgb(255,255,255);
}
.color12{
    background-color: #f3db58 !important;
    color: rgb(255,255,255);
}

.color13 {
    background-color: #FFFF99 !important;
    color: rgb(255,255,255);
}

.color14 {
    background-color: #FFCC99 !important;
    color: rgb(255,255,255);
}

.color15 {
    background-color: #666699 !important;
    color: rgb(255,255,255);
}

.color16 {
    background-color: #CCFFCC !important;
    color: rgb(255,255,255);
}

.color17 {
    background-color: #CCFFFF !important;
    color: rgb(255,255,255);
}

.color18 {
    background-color: #C0C0C0 !important;
    color: rgb(255,255,255);
}

.color19 {
    background-color: #99CC00 !important;
    color: rgb(255,255,255);
}

.color20 {
    background-color: #F79F1F !important;
    color: rgb(255,255,255);
}

.color21 {
    background-color: #1289A7 !important;
    color: rgb(255,255,255);
}

.color22 {
    background-color: #772aff !important;
    color: rgb(255,255,255);
}

.color23 {
    background-color: #9980FA !important;
    color: rgb(255,255,255);
}

.color24 {
    background-color: #EE5A24 !important;
    color: rgb(255,255,255);
}

.color25 {
    background-color: #FDA7DF !important;
    color: rgb(255,255,255);
}


.color26 {
    background-color: #58B19F !important;
    color: rgb(255,255,255);
}

.color27 {
    background-color: #182C61 !important;
    color: rgb(255,255,255);
}

.color28 {
    background-color: #CAD3C8 !important;
    color: rgb(255,255,255);
}

.color29 {
    background-color: #92ce95 !important;
    color: rgb(255,255,255);
}

.color30 {
    background-color: #9eb0f7 !important;
    color: rgb(255,255,255);
}
