
    .header-top-coedu {
    text-align: center;
    padding: 3%;
}
    .content-print{
    padding-top:30%;   
}
    .header-coedu {
    position: absolute;
    right: 5%;
}
   
  .printSectionIdcoedu  label{
          font-size:18px; 
    }
    .co-label{
        font-weight:bold;
        padding-left:5%;
    }
    .flex-footer label{
         font-size:20px !important; 
         float:right !important;
    }
.printSectionIdcoedu-content{  
     font-size:18px !important; 
    line-height:35px !important;
    padding:5% 2% 10% 2%;   
}
.printSectionIdcoedu-content label{  
     font-size:18px !important;    
}
.printSectionIdcoedu-content label{
     font-size:18px !important;   
}
.label-right-top {
    width: 100px;   
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
}


