.StudentProfile .form-group .control-label {
    font-family: Roboto,sans-serif;
    font-size: 14px;
}
.StudentProfile .border-bottom-5 {
    border-bottom: 5px solid #00b8ff;
    width: 500px;
}
.StudentProfile .text-justify {
    text-align: justify !important;
}
.StudentProfile .form-group {
    /*border-bottom: 2px solid #dee2e6;*/
    padding: 1rem;
}
.StudentProfile label.control-label {
    color: #00c0ef !important;
}
.StudentProfile .modal-lg {
    width: 80%;
}

.StudentProfile .padding-left-none, .col-sm-5 {
    padding-left: 0px !important;
}
.StudentProfile .margin-left-none {
    padding-left: 0px !important;
}
.StudentProfile  img{
    width:50%;
    height:auto;
    margin:auto;

}
.StudentProfile .padding-left-6{
    padding-left:6px !important;
}