.fourcolmn_multiselect .multiselect {
       width: 17em;
       height: 10em;
       border: solid 1px #5cb7ff;
       overflow: auto;
       margin-left: 0px !important;
       margin-bottom: 1%;
       padding: 2%;
}

.twocoloumn .multiselect {
       width: 24.1em;
       height: 10em;
       border: solid 1px #5cb7ff;
       overflow: auto;
       margin-left: 0px !important;
       margin-bottom: 1%;
       padding: 2%;
}
.btn-default {
    background-color: #ffffff !important;
    color: #000 !important;
  
}
.multiselect {
       width: 24.1em;
       height: 10em;
       border: solid 1px #5cb7ff;
       overflow: auto;
       margin-left: 2.7%;
       margin-bottom: 1%;
       padding: 2%;
}
.feetransaction .multiselect {
     width:19.2em;margin-left: -0.3%;
    height: 9em;
}


.sinfo{
    line-height: 32px !important;
}
.paddingrignt-10 .radio-inline{
   padding-right: 10% !important;
}
.padding-rignt-6 .radio-inline{
   padding-right: 3% !important;
}
.padding-10{
    padding:10px !important;
}
.padding-left-15{
    padding-left: 15px !important;
}
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color:#ffffff;
    background-color:#000099;
}
 .error-messages {
        color: red;
    }
  .error-messages-preadmission {
        color: #ff0000c9;
        font-weight:600;
    }
/*===padding styles=====*/
.padding-none{
    padding:0px!important;
}
.padding-left-none{
    padding-left:0px!important;
}
.padding-right-none{
    padding-right:0px!important;
}
.padding-top-none{
    padding-top:0px!important;
}
.padding-bottom-none{
    padding-bottom:0px!important;
}
.padding-top-bottom-none{
    padding-top:0px!important;
    padding-bottom:0px!important;
}
.padding-left-right-none{
    padding-left:0px!important;
    padding-right:0px!important;
}

/*====margin styles====*/
.margin-none{
    margin:0px!important;
}
.margin-left-none{
    margin-left:0px!important;
}
.margin-right-none{
    margin-right:0px!important;
}
.margin-top-none{
    margin-top:0px!important;
}
.margin-bottom-none{
    margin-bottom:0px!important;
}
.margin-top-bottom-none{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.margin-left-right-none {
    margin-left: 0px !important;
    margin-right:0px!important;
}
.margin-bottom-5{
    margin-bottom:5px!important;
}
.padding-bottom-5{
    padding-bottom:5px!important;
}
.margin-top-5{
    margin-top:5px!important;
}
.margin-bottom-10{
    margin-bottom:10px!important;
}
.padding-bottom-10{
    padding-bottom:10px!important;
}
.margin-top-10{
    margin-top:10px!important;
}
.margin-top-20{
    margin-top:20px!important;
}
.margin-top-80{
    margin-top:80px!important;
}
.loginpage .border-bottom{
    border-bottom: 1px solid #337ab7 !important;
    padding:5px;
    clear:both;
}

.loginpage .border-top{
    border-top: 1px solid #337ab7 !important;
     padding:5px;
        clear:both;
}
/*============ng-click style============*/

[ng-click],[data-ng-click],a{
    cursor:pointer;
}

a{
    text-decoration:none!important;
}
ul{
    list-style:none;
}
.feetransaction ul{
    list-style:none;
    padding:2%;
}
.feetransaction ul li{  
    padding:2%;
}
.feetransaction ul li a{  
   color:aqua;
}
.text-white{
    color:#fff!important;
}
.shadow{
background-color: #f7f7f7;
    /*padding: 20px 25px 30px;*/
    margin: 0 auto 25px;
    width: 304px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.banner {
    text-align: center;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px !important; 
  
}

/*table styles*/

/*.tablestyle .box-body{
    padding-left:5%;padding-right:5%;
}*/
.tablestyle h5{
    color:#0463c2;font-weight:700;
}
.tablestyle .paginationstyle{
    background:#0463c2;height:33px;
}
.tablestyle .paginationstyle a:hover{
    color:#000;
}
.tablestyle .paginationstyle .form-group{
    margin-bottom:0px !important;
}
.tablestyle .paginationstyle .form-group .input-group{
    margin-top: 2px;
}
.tablestyle .paginationstyle .form-group .input-group .form-control{
    border-radius: 10px;height:26px;
}
.tablestyle .paginationstyle .form-group .input-group .input-group-addon{
    background: #040404;color: #fff;border-radius: 10px;border:0px;

}
.tablescroll{
    overflow:scroll;width:100%;margin-bottom: 5px;
}
.pagination > li > a {
    background: #0463c2;
    color: #fff;
    border: 0px;
}
.table {
    border: 0.8px solid #cad4de;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    /*background: #95c7ef;*/
}
td .fa{
    padding-right:5%;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.8px solid #cad4de;
   padding:5px;
   vertical-align: middle;
}
.tablenobody{
       border: 0px solid #ffffff;
   padding:5px;
   vertical-align: middle;
}
.table,th{
    text-align: center;
    vertical-align: middle;
}
.table {

    max-width: 100% !important;
    margin-bottom: 20px;
}
thead {
    background: #0463c2;
    color: #fff !important;
    text-align: center;
}
/*.table>tbody>tr:nth-child(even)>td, 
.table>tbody>tr:nth-child(even)>th {
   background-color:#b5daff; // Choose your own color here
 }*/
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #fff;
    cursor: not-allowed;
    background-color: #0463c2;
    border-color: #0463c2;
    border-radius:0px !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #040404;
    border-color: #040404;
}
.ecampus img{
    display:inline;
    width:80%
}
.content-header > .breadcrumb > li + li:before {
    content: none;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: none;
}

/*angualrjs animate*/
.slide {
    -webkit-transition: -webkit-transform 15s ease-in-out;
    -moz-transition: -moz-transform .7s ease-in-out;
    -o-transition: -o-transform .7s ease-in-out;
    transition: transform 15s ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.ng-enter {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
/*buttons*/
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #56b1ff;
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.feetransaction .modal-lg {
    width: 95%;
}
.modal-large .modal-lg {
    width: 95%;
}

.modal-medium .modal-md {
    width: 70%;
}
.modal-medium .modal-lg {
    width: 85%;
}
.modal-small .modal-sm {
    width: 50%;
}


.user-image>img {
   width:120px;
   height:120px;
    border: 1px solid #0463c2;
}
#Admission-useritems .box-body{
        min-height: 420px !important;
            line-height: 1.8;
    font-weight: 600;
}

.homepage h2{
      font-family: 'Monotype Corsiva', sans-serif;
}
.homepage .jumbotron {
    background-color: rgba(19, 17, 17, 0.59);
    padding: 2rem;
     margin-bottom: 2px;
}

.jumbotron h1,.jumbotron h2, .jumbotron h3, .jumbotron h4,.jumbotron  h5, .jumbotron h6{
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: none;
    color: #f8fbff !important;
    font-weight: 700;
}
.homepage .jumbotron span{
    font-weight:600;    
}
.font-monotype{
     font-family: 'Monotype Corsiva', sans-serif;
     font-size: 25px;
         font-weight: 600;
}
input:hover, select:hover, textarea:hover {
   color:#000 !important;
}