#BBoysStudyCert {
    width: 80% !important;
}

#BBoysStudyCert {
    width: 80% !important;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    line-height: 2;
}

    #BBoysStudyCert p {
        line-height: 2;
        font-size: 16px;
    }

    #BBoysStudyCert #studyimg img {
        width: 120px;
        height: 150px;
    }
.content1 {
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 30%;
    font-size: 16px;
    padding-right: 15px;
}

.content2 {
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 30%;
    font-size: 14px;
    /*padding-right: 15px;*/
}

.content3 {
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 35%;
    font-size: 16px;
    /*padding-right: 15px;*/
}


.printSectionIdboys table {
    table-layout: fixed;
    width: 100%;
    font-size: 16px !important;
    margin-bottom: 15px;
}

.printSectionIdgirls table {
    table-layout: fixed;
    width: 100%;
    font-size: 16px !important;
    margin-bottom: 15px;
}



.content3 table {
    table-layout: fixed;
    width: 100%;
    font-size: 16px !important;
    margin-bottom: 15px;
}

.border-bottom {
    border-bottom: 1px dotted #000 !important;
    text-align: center;
}

.border-bottom-line {
    border-bottom: 1px solid #000 !important;
    text-align: center;
    font-style: italic;
}

.border-bottom-line-girls {
    border-bottom: 1px solid #000 !important;
    text-align: center;
    font-family: lucida calligraphy;
}

.text-bold {
    font-weight: bold;
}

.padding-left-50 {
    padding-left: 50px;
}


.width-20 {
    width: 20px;
}

.width-40 {
    width: 40px;
}

.width-60 {
    width: 60px;
}

.width-80 {
    width: 80px;
}

.width-90 {
    width: 90px;
}

.width-100 {
    width: 100px;
}

.width-110 {
    width: 110px;
}

.width-120 {
    width: 120px;
}

.width-130 {
    width: 130px;
}

.width-140 {
    width: 140px;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 160px;
}

.width-180 {
    width: 150px;
}

.width-280 {
    width: 280px;
}

.width-220 {
    width: 220px;
}

.width-225 {
    width: 225px;
}

.width-250 {
    width: 250px;
}

.width-200 {
    width: 200px;
}

.width-260 {
    width: 260px;
}

.width-270 {
    width: 270px;
}

.width-300 {
    width: 300px;
}

.width-320 {
    width: 320px;
}

.width-340 {
    width: 340px;
}

.width-360 {
    width: 360px;
}

.width-380 {
    width: 380px;
}

.width-400 {
    width: 400px;
}

.width-480 {
    width: 480px;
}

.width-520 {
    width: 520px;
}

.width-600 {
    width: 600px;
}

.margin-top-4 {
    margin-top: 4% !important;
}

.margin-top-8 {
    margin-top: 8% !important;
}

.margin-top-6 {
    margin-top: 6% !important;
}

.margin-top-6 {
    margin-top: 6% !important;
}

.text-left {
    text-align: left !important;
}

.flower .flower-bracket {
    font-size: 0.8in !important;
    text-align: center;
}

.flower .label {
    font-size: 18px !important;
    color: #333;
    font-weight: normal;
    text-align: left;
    padding-top: 30px;
}
