<section class="content">
    <div data-ng-init="loadData()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Master HOD</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
          
            <div class="box-body">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="HOD Creation">
                             
                                <md-content class="md-padding">
                                    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Type: <span style="color:Red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control"  name="falg" ng-model="ihoD_Flg" required>
                                                            <option value="">--Select--</option>
                                                            <option value="HOD">HOD </option>
                                                            <option value="AS">Academic Supervisor</option>
                                                            <option value="EC">Exam Coordinator</option>
                                                        </select>
                                                        <div class="error-messages" ng-if="interacted(myForm.falg)" ng-messages="myForm.falg.$error">
                                                            <div ng-message="required">Please Select Type</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">

                                                <div class="form-group">
                                                    <label for="sel2" class="control-label col-sm-4">Employee Name : <span style="color:red;">*</span></label>
                                                    <div class="multiselect col-sm-8">
                                                        <input class="form-control" ng-model="search233" type="text" placeholder="search here...">
                                                        <label>
                                                            <input type="checkbox" name="ckeckempl" ng-model="empl" data-ng-click="all_check_empl(empl)">
                                                            <span class="lbl padding-8">
                                                                All
                                                            </span>
                                                        </label>
                                                        <label data-ng-model="emplist" ng-repeat="emp in employee | filter:search233" value="{{emp.hrmE_Id}}">
                                                            <input name="emp1" value="1" ng-model="emp.emple" type="checkbox" ng-required="isOptionsRequired23()" ng-click="addColumn3()" ng-change="CheckedempName(emp)" ng-disabled="FOEST_Id>0">
                                                            <span class="lbl padding-8"> {{emp.hrmE_EmployeeFirstName}} </span>
                                                        </label>
                                                    </div>
                                                    <div class="error-messages col-sm-offset-4" ng-if="interacted(myForm.emp1)" ng-messages="myForm.emp1.$error">
                                                        <div ng-message="required">Please Select any one checkbox</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <hr />
                                        <div class="text-center">
                                            <input type="hidden" ng-model="IHOD_Id" value="{{IHOD_Id}}" />
                                            <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary" ng-click="savemasterHOD()">
                                                <i class="fa fa-save" aria-hidden="true"></i> Save
                                            </md-button>
                                            <md-button type="button" class="md-raised md-warn" ng-click="clear1()">
                                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                            </md-button>

                                        </div>
                                    </form>


                                    <!--<table class="table table-hover table-responsive table-bordered text-center" id="tabel1">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SL.NO.
                                                </th>
                                                <th ng-click="sort('hrme_employeeCode')">
                                                    Employee Code
                                                </th>
                                                <th ng-click="sort('hrmE_EmployeeFirstName')">
                                                    Employee Name
                                                </th>

                                                <th>
                                                    Status
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="user in filterValue = (hod | filter:search) | orderBy:sortKey:sortReverse |itemsPerPage:itemsPerPage" current-page="currentPage">
                                                <td>{{itemsPerPage*(currentPage-1)+$index+1}}</td>
                                                <td>{{user.hrme_employeeCode}}</td>
                                                <td>{{user.hrmE_EmployeeFirstName}}</td>
                                                <td class="text-center">
                                                    <span ng-if="!user.ihoD_ActiveFlag">
                                                        <a href="" ng-click="deactiveY(user)"
                                                           class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                            <i> Activate </i>
                                                        </a>
                                                    </span>
                                                    <span ng-if="user.ihoD_ActiveFlag">
                                                        <a href="" ng-click="deactiveY(user)"
                                                           class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                            <i> Deactivate</i>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>-->



                                    <div class="box box-primary" ng-show="hod.length>0">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">HOD LIST</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                            </div>
                                        </div>

                                        <div class="box-body">

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        <b> Total Grid Records :</b>
                                                        <label class="badge">
                                                            {{hod.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group" ng-if="search!=''">
                                                    <label class="control-label">
                                                        <b>Total Records Searched : </b>
                                                        <label class="badge">
                                                            {{filterValue.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 pull-right">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                        <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="table table-hover table-responsive table-bordered text-center" id="tabel1">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            SL.NO.
                                                        </th>
                                                        <th ng-click="sort('hrme_employeeCode')">
                                                            Employee Code
                                                        </th>
                                                        <th ng-click="sort('hrmE_EmployeeFirstName')">
                                                            Employee Name
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="user in filterValue = (hod | filter:search) | orderBy:sortKey:sortReverse |itemsPerPage:itemsPerPage" current-page="currentPage">
                                                        <td>{{itemsPerPage*(currentPage-1)+$index+1}}</td>
                                                        <td>{{user.hrme_employeeCode}}</td>
                                                        <td>{{user.hrmE_EmployeeFirstName}} :[{{user.ihoD_Flg}}]</td>
                                                     
                                                        <td class="text-center">

                                                            <!--<a href="javascript:void(0)" ng-click="EditData(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </a>-->

                                                            <span ng-if="!user.ihoD_ActiveFlag">
                                                                <a href="" ng-click="deactiveY(user)"
                                                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                                    <i> Activate </i>
                                                                </a>
                                                            </span>
                                                            <span ng-if="user.ihoD_ActiveFlag">
                                                                <a href="" ng-click="deactiveY(user)"
                                                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                                    <i> Deactivate</i>
                                                                </a>
                                                            </span>


                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <dir-pagination-controls max-size="5"
                                                                     direction-links="true"
                                                                     boundary-links="true">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="HOD Mapping">
                                <md-content class="md-padding">
                                    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm2" novalidate>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Hod List: <span style="color:Red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="sel1" name="acd" ng-model="ihod_Id" required>
                                                            <option value="">--Select--</option>
                                                            <option ng-repeat="coe in hod" value="{{coe.ihoD_Id}}" ng-selected="{{coe.Selected == true}}">
                                                            {{coe.hrmE_EmployeeFirstName}}  :[{{coe.ihoD_Flg}}]
                                                            </option>
                                                        </select>
                                                        <div class="error-messages" ng-if="interacted2(myForm2.acd)" ng-messages="myForm2.acd.$error">
                                                            <div ng-message="required">Please Select HOD Name</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="sel2" class="control-label col-sm-4">Class Name : <span style="color:red;">*</span></label>
                                                    <div class="multiselect col-sm-8">
                                                        <input class="form-control" ng-model="searchcls" type="text" placeholder="search here..." />
                                                        <label>
                                                            <input type="checkbox" name="clsoption" value="all" ng-model="listclass" data-ng-click="all_check_cls(listclass)">
                                                            <span class="lbl padding-8">
                                                                All
                                                            </span>
                                                        </label>
                                                        <label data-ng-model="class" ng-repeat="cls in classes | filter:searchcls" value="{{cls.asmcL_ID}}">
                                                            <input name="clas32s01" value="1" ng-model="cls.class" type="checkbox" ng-required="isOptionsRequired113()" ng-click="addColumn5()" ng-change="CheckedClassName(cls)" ng-disabled="FOEST_Id>0">
                                                            <span class="lbl padding-8"> {{cls.classname}} </span>
                                                        </label>
                                                    </div>
                                                    <div class="error-messages col-sm-offset-4" ng-if="interacted2(myForm2.clas32s01)" ng-messages="myForm2.clas32s01.$error">
                                                        <div ng-message="required">Please Select any one Class</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="sel2" class="control-label col-sm-4">Employee Name : <!--<span style="color:red;">*</span>--></label>
                                                    <div class="multiselect col-sm-8">
                                                        <input class="form-control" ng-model="search2" type="text" placeholder="search here...">
                                                        <label>
                                                            <input type="checkbox" name="ckeckempl2" ng-model="listemp" data-ng-click="all_check_empl2(listemp)">
                                                            <span class="lbl padding-8">
                                                                All
                                                            </span>
                                                        </label>
                                                        <label data-ng-model="PASR_Id" ng-repeat="emp in employee | filter:search2" value="{{emp.hrmE_Id}}">
                                                            <input name="emp13223" value="1" ng-model="emp.emple2" type="checkbox" ng-click="addColumn4()" ng-change="CheckedempName(emp)" ng-disabled="FOEST_Id>0">
                                                            <!-- ng-required="isOptionsRequired243()"-->
                                                            <span class="lbl padding-8"> {{emp.hrmE_EmployeeFirstName}} </span>
                                                        </label>
                                                    </div>
                                                    <div class="error-messages col-sm-offset-4" ng-if="interacted2(myForm2.emp13223)" ng-messages="myForm2.emp13223.$error">
                                                        <div ng-message="required">Please Select any one checkbox</div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                        <hr />
                                        <div class="text-center">
                                            <input type="hidden" ng-model="IHODC_ID" value="{{IHODC_ID}}" />
                                            <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary" ng-click="mapHOD()">
                                                <i class="fa fa-save" aria-hidden="true"></i> Save
                                            </md-button>
                                            <md-button type="button" class="md-raised md-warn" ng-click="clear2()">
                                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                            </md-button>
                                        </div>
                                    </form>

                                    <!--<table class="table table-hover table-responsive table-bordered text-center" id="t1">
                                        <thead>
                                            <tr>
                                                <th>SLNO</th>
                                                <th>HOD NAME</th>
                                                <th>STAFF</th>
                                                <th>CLASS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="hod_det in saved_HODS">
                                                <td>{{ $index+1}}</td>
                                                <td>{{hod_det.hrmE_EmployeeFirstName}}</td>
                                                <td><span ng-repeat="h_stf in saved_HODS_STF" ng-if="h_stf.ihoD_Id==hod_det.ihoD_Id">{{h_stf.hrmE_EmployeeFirstName}}<br /></span></td>
                                                <td><span ng-repeat="h_cls in saved_HODS_CLS" ng-if="h_cls.ihoD_Id==hod_det.ihoD_Id">{{h_cls.classname}}<br /></span></td>
                                                <td>{{stf_cls.ihodS_ActiveFlag}}</td>
                                            </tr>
                                        </tbody>
                                    </table>-->


                                    <div class="box box-primary" ng-show="saved_HODS.length>0">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">HOD Mapping LIST</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                            </div>
                                        </div>

                                        <div class="box-body">

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        <b> Total Grid Records :</b>
                                                        <label class="badge">
                                                            {{saved_HODS.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group" ng-if="search2!=''">
                                                    <label class="control-label">
                                                        <b>Total Records Searched : </b>
                                                        <label class="badge">
                                                            {{filterValue2.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 pull-right">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                        <input class="form-control" type="text" ng-model="search2" placeholder="search here...">
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="table table-hover table-responsive table-bordered text-center" id="t1">
                                                <thead>
                                                    <tr>
                                                        <th>SLNO</th>
                                                        <th>Employee NAME</th>
                                                        <th>STAFF</th>
                                                        <th>CLASS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--<tr ng-repeat="hod_det in saved_HODS">
                                                    <td>{{ $index+1}}</td>-->
                                                    <tr dir-paginate="hod_det in filterValue2=(saved_HODS | filter : search2) | orderBy:sortKey:reverse2 |itemsPerPage:itemsPerPage2" current-page="currentPage2">
                                                        <td>{{itemsPerPage2 *(currentPage2-1)+$index+1}}</td>
                                                        <td>{{hod_det.hrmE_EmployeeFirstName}} :[{{hod_det.ihoD_Flg}}]</td>
                                                        <td><span ng-repeat="h_stf in saved_HODS_STF" ng-if="h_stf.ihoD_Id==hod_det.ihoD_Id">
                                                            {{h_stf.hrmE_EmployeeFirstName}}<br />
                                                            </span></td>
                                                        <td><span ng-repeat="h_cls in saved_HODS_CLS" ng-if="h_cls.ihoD_Id==hod_det.ihoD_Id">
                                                            {{h_cls.classname}}<br />
                                                            </span></td>
                                                        <!--<td>{{stf_cls.ihodS_ActiveFlag}}</td>-->
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <dir-pagination-controls max-size="5"
                                                                     direction-links="true"
                                                                     boundary-links="true" id="ttttas">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>

                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>

            </div>


        </div>

    </div>
</section>