.stjames h4 {
    text-transform: none !important;
}

.stjames .table {
    border: 0px !important;
    font-weight: 500;
    text-align: left !important;
    font-size: 15px;
    line-height: 1.5;
}

.stjames .table-bordered > thead > tr > th {
    /*border: 4px black;
    padding: 8px;
    vertical-align: middle;
    border-style: double;*/
    border: 1px solid black !important;
}

.stjames tr:last-child {
    border-bottom: 1px solid black !important;
}

.stjames tr:first-child {
    border-top: 1px solid black !important;
}

.stjames .table-bordered > tbody > tr > td {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-top: 0px !important;
    border-bottom: 0px solid black !important;
}


.stjames .table-bordered {
    border: 1px !important;
    font-weight: 500;
    text-align: left !important;
    font-size: 14px;
    width: 100%;
    line-height: 1.5;
}

.stjames .c01 {
    width: 120px;
    height: 100px;
    margin: auto;
    margin-top: 11%;
}

.stjames .c02 {
    width: 47px;
    height: 40px;
    margin: auto;
    margin-left: 10px;
}

.stjames .c03 {
    width: 113%;
    margin: auto;
    margin-top: 45%;
}

.stjames .box1 {
    margin: auto;
    padding: 10px;
    border: 1px solid #000;
    width: 200px !important;
    height: 40px;
    border-radius: 4px;
}

.stjames .box {
    border: 1px solid #000;
    width: auto !important;
    height: auto;
    border-radius: 4px;
    padding: 5px;
}

.stjames .box2 {
    border: 1px solid #fff;
    width: 150px !important;
    height: 150px;
    background: #fff;
    border-radius: 4px;
    padding: 5px;
}

.stjames .box3 {
    padding: 15px;
    border: 1px solid #000;
    padding-bottom: 30px;
}

.stjames h1, .stjames h2, .stjames h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.stjames .body-section .t1 {
    width: 72% !important;
    margin: auto;
}

.stjames .body-section .t2 {
    width: 65% !important;
    margin: auto;
}

.stjames .body-section .t3 {
    width: 55% !important;
    margin: auto;
}

.stjames .t4 {
    width: 30%;
    line-height: 1.6;
}

.stjames .padding-top-60 {
    padding-top: 60px !important;
}

.stjames .margin-top-5 {
    margin-top: 5px !important;
}

.stjames .margin-top-10 {
    margin-top: 10px !important;
}

.stjames .margin-top-28 {
    margin-top: 30% !important;
}

.stjames .margin-left-33 {
    margin-left: 33px !important;
}

.stjames label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 600;
    color: #000;
    font-size: 15px;
}

.stjames ol {
    line-height: 2.2;
    font-weight: 600;
    font-size: 15px;
}

.stjames .text-right {
    text-align: right !important;
}

.stjames thead {
    background: white !important;
    color: black !important;
    text-align: center !important;
}
.stjames.padding-left-25 {
    padding-left: 25px !important;
}
.stjames.padding-right-40 {
    padding-right: 40px !important;
}
