/*@media print {
    @page {
        size: a5 landscape;
        margin: 0;
    }
} 

#page {
    width: 20.4cm;
    height: 15.4cm;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffacd;
}

.img-container {
    text-align: center;
}

p.a {
    font: 12px Calibri;
}


h4 {
    text-align: center;
}

h5 {
    font: 12px Calibri;
}

#main {
    width: 3.2px;
    height: 7px;
}

.tab {
    display: inline-block;
    margin-left: 110px;
}

.tab1 {
    display: inline-block;
    margin-left: 30px;
}

.tab2 {
    display: inline-block;
    margin-left: 30px;
}*/

/*@media print {
    @page {
        size: a5 landscape;
        margin: 0;
    }
}*/ 

/*body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font: 12pt calibri, sans-serif
}

p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#certificate-of-migration {
    width: 177mm;
    height: 152mm;
    margin: 6mm 12mm 0 13mm;
    background-color: white;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

header {
    font-size: 12px;
    width: 100%;
    height: 24mm;
}

    header p {
        line-height: 6mm;
    }

    header .hh1 {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    header .hmc .hmc-h {
        margin-left: 40mm;
        font-size: 14px;
        font-weight: 600;
        font-family: math;
        margin-top: 6mm;
    }

    header .hmc .hmc-number {
        margin-left: 1mm;
        font-family: math;
        font-size: 14px;
        margin-top: 6mm;
    }

#certificate-of-migration div.mcc {
    font-size: 14px;
    margin-left: 6mm;
}

.mcch1 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.mcp1, .mcp2, .mcp3 {
    margin-top: 6mm;
    margin-left: 100px;
}

.mcp3-uid {
    width: 60mm;
    display: inline-block;
}

.mcp4 {
    margin-top: 11mm;
}

.mcp5, .mcp6 {
    margin-top: 5mm;
}

footer {
    margin-top: 28mm;
    margin-left: 6mm;
    height: 24mm;
    font-size: 14px;
}

.fmcp2 {
    margin-top: 5mm;
    margin-left: 100px;
}

.fmcp3 {
    margin-top: 5mm;
    margin-left: 100px;
}

@page {
    size: A5 landscape;
    size: 846.61417323px  582.04724409px ;
    size : 22.4cm 15.4cm;
    margin: 0;
}

.divshade {
    width: 17.8cm !important;
    height :14.1cm !important;
    margin : 0.3cm 1.2cm 0.3cm 1.3cm !important;
}

.divof{
    padding-top: 0.5cm !important
}
.divcerified {
    padding-top: 4.6cm !important
}
.divuid {
    padding-top: 0.5cm !important
}
.divexam{
    padding-top: 1.1cm !important
}
.divpricipal {
    padding-top: 3.8cm !important
}


@media print {
    .btn-print {
        display: none;
    }
}*/

/*body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font: 12pt calibri, sans-serif
}

p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#certificate-of-migration {
    width: 177mm;
    height: 152mm;
    margin: 6mm 12mm 0 13mm;
    background-color: white;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

header {
    font-size: 12px;
    width: 100%;
    height: 24mm;
}

    header p {
        line-height: 6mm;
    }

    header .hh1 {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    header .hmc .hmc-h {
        margin-left: 40mm;
        font-size: 14px;
        font-weight: 600;
        font-family: math;
    }

    header .hmc .hmc-number {
        margin-left: 1mm;
        font-family: math;
        font-size: 14px;
    }

#certificate-of-migration div.mcc {
    font-size: 14px;
    margin-left: 6mm;
}

.mcch1 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.mcp1 {
    margin-top: 6mm;
    margin-left: 98px;
}

.mcp2 {
    margin-top: 6mm;
    margin-left: 75px;
}

.mcp3 {
    margin-top: 6mm;
    margin-left: 60px;
}

.mcp3-uid {
    width: 60mm;
    display: inline-block;
}

.mcp4 {
    margin-top: 11mm;
}

.mcp5, .mcp6 {
    margin-top: 5mm;
}

footer {
    margin-top: 35mm;
    margin-left: 6mm;
    height: 24mm;
    font-size: 14px;
}

.fmcp2 {
    margin-top: 5mm;
}

.fmcp3 {
    margin-top: 5mm;
}

page[size="A5"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}

@page {
    size: A5 landscape;
    margin: 0;
}

@media print {
    .btn-print {
        display: none;
    }
}*/



body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #FAFAFA;*/
    font: 12pt calibri, sans-serif
}

p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#certificate-of-migration {
    width: 177mm;
    height: 152mm;
    margin: 6mm 12mm 0 13mm;
    /*background-color: #fffacd;*/
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

header {
    font-size: 12px;
    width: 100%;
    height: 24mm;
}

    header p {
        line-height: 6mm;
    }

    header .hh1 {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    header .hmc .hmc-h {
        margin-left: 40mm;
        font-size: 14px;
        font-weight: 600;
        font-family: math;
    }

    header .hmc .hmc-number {
        margin-left: 1mm;
        font-family: math;
        font-size: 14px;
    }

#certificate-of-migration div.mcc {
    font-size: 14px;
    margin-left: 6mm;
}

.mcch1 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.mcp1 {
    margin-top: 7.5mm;
    margin-left: 98px;
}

.mcp2 {
    margin-top: 6mm;
    margin-left: 75px;
}

.mcp3 {
    margin-top: 6mm;
    margin-left: 60px;
}

.mcp3-uid {
    width: 60mm;
    display: inline-block;
}

.mcp4 {
    margin-top: 11mm;
}

.mcp5, .mcp6 {
    margin-top: 5mm;
}

footer {
    margin-top: 28mm;
    margin-left: 6mm;
    height: 24mm;
    font-size: 14px;
}

.fmcp2 {
    margin-top: 3.8cm;
}

.fmcp3 {
    margin-top: 5mm;
}

page[size="A5"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}

@page {
    size: A5;
    margin: 0;
}

@media print {
    .btn-print {
        display: none;
    }
}


      