
@media print {
    @page {
        size: landscape;
    }

    .text-left {
        text-align: left !important;
    }

    .stjames {
        margin-top: 10px;
        font-size: 10px !important;
        font-weight: 700 !important;
    }

    table {
        width: 100%;
        border: 0px !important;
    }

    thead {
        background: #ddd5d5 !important;
        color: #000 !important;
        text-align: center;
    }

    th {
        text-align: left;
        vertical-align: middle;
    }

    .border-bottom {
        border-bottom: 1px solid #000;
    }

    .border-top {
        border-top: 1px solid #000;
    }

    .table {
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        font-size: 10px !important;
        font-weight: 600;
    }

    .table-bordered {
        table-layout: fixed;
        width: 100%;
        text-align: left !important;
        font-size: 10px !important;
    }

        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
            border: 0.4px solid #000000 !important;
            font-size: 10px !important;
            padding: 2px !important;
            padding-bottom: 0.2px !important;
        }

        .table-bordered > tbody > tr > td {
            border: 0.4px solid #000000 !important;
            font-size: 10px !important;
            padding: 2px !important;
            padding-bottom: 0.2px !important;
            line-height: 1.42857143
        }

    .margin-top-30 {
        margin-top: 30px !important;
    }

    .margin-top-40 {
        margin-top: 40px !important;
    }

    .margin-top-50 {
        margin-top: 50px !important;
    }

    .margin-top-60 {
        margin-top: 60px !important;
    }

    .margin-top-15 {
        margin-top: 15px !important;
    }

    .margin-top-25 {
        margin-top: 25px !important;
    }

    .width-1 {
        width: 1px !important
    }

    .borderdiv {
        border: 1px solid black;
        width: 30%;
        height: 95px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 10px !important;
    }
    .my-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
    } 
}
