

.STJAMESSTUDY table {
    table-layout: fixed;
    width: 100%;
    border: none !important;
}

.STJAMESSTUDY .table {
    border: none !important;
    text-align: left !important;
    font-weight: 500;
}


.STJAMESSTUDY .table {
    border: none !important;
    width: 100%;
    margin: auto;
}

.STJAMESSTUDY .border-bottom {
    border-bottom: 1px solid #000 !important;
    text-align: center;
}
