
@media print {

    @page {
        size: A4 landscape;
    }

    /*.table {
        width: 100%;
        border: 0px !important;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 10px;
        font-size: 16px !important;
        line-height: 1.5;
        font-family: 'Times New Roman', Times, serif
    }*/

    .border-bottom-dotted {
        border-bottom: 1px dotted #000 !important;
        text-align: left !important;
    }

    .italic {
        font-size: 18px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
    }

    .margin-top-10 {
        margin-top: 10px;
    }

    .margin-top-20 {
        margin-top: 20px;
    }

    .margin-top-30 {
        margin-top: 30px;
    }

    .margin-top-40 {
        margin-top: 40px;
    }

    .vl {
        border-left: 2px solid green;
        height: auto !important;
    }

    .tcCss {
        display: block;
        width: 100%;
        float: left;
    }

    .imgTc img {
        width: 100%;
        height: 102px;
        margin-bottom: 10px;
    }

    .certificateCss {
        margin-top: 1px;
        font-size: 13px !important;
        font-weight: bold !important
    }

    .borderLeft table {
        margin-top: 12px;
    }

    table {
        margin-top: 19px;
        width: 100%;
    }

    .signature {
        width: 100%;
    }

    .marginPx {
        margin-top: 0px !important;
    }

    .signature tr > td {
        float: right;
    }

    .stjamesReportCss {
        display: block;
        width: 100%;
        float: left;
        background-color: #fff;
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 16px !important;
        font-weight: bold !important;
    }

    .borderLeft {
        padding-right: 10px;
    }

    .paddingLeftCss {
        border-left: #000 dotted;
        padding-left: 10px;
    }

    .imgTableCss {
        margin-top: 5px !important;
    }

    .postionCss {
        position: relative;
        bottom: 7px;
        padding-bottom: 4px;
    }

        .postionCss b {
            position: relative;
            top: 7px;
        }

    .margin-top-20 {
        margin-top: 20px !important;
    }
}
