@media print {
    @page {size: landscape}
    .BBIIPROGRESREPORT {
        margin-top: 10px;
       font-size: 8px !important;
        font-weight: 700 !important;
    }

    table {
        width: 100%;
        border: 0px !important;
        font-size: 6px !important;
    }

    thead {
        background: #ffffff;
        color: #000 !important;
        text-align: center;
    }

    .table-bordered, th {
          font-size: 10px !important;
        text-align: left;
        vertical-align: middle;
    }

    .border-bottom {
        border-bottom: 1px solid #000;
    }

    .border-top {
        border-top: 1px solid #000;
    }

    .table {
        font-size: 10px !important;
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        font-weight: 700 !important;
        line-height: .8;
    }
    td label{
          font-size:8px !important;
    }
    .table-bordered {
        font-size:8px !important;
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        font-weight: 900 !important;  
         line-height: .6;     
    }
}
