

@media print {
   
    h4 {
        margin: 0px;
        padding: 0px;
        background: #f2e9e9;
    }

    thead, th {
        background: #f2e9e9;
        color: #000 !important;
        text-align: center;
    }

    .table, th {
        text-align: left;
        vertical-align: middle;
    }

    .border-bottom {
        border-bottom: 1px solid #000;
    }


    .border-top {
        border-top: 1px solid #000;
    }

    .table {
        font-size: 13px !important;
        table-layout: fixed;
        width: 100%;
        margin: auto;
        border: 0px !important;
        text-align: left !important;
        font-weight: 700 !important;
        line-height: 1.4;
    }

    .table-bordered {
        font-size: 13px !important;
        table-layout: fixed;
        width: 100%;
        margin: auto;
        font-weight: 700 !important;
        padding: 8px !important;
        line-height: 2.4;
    }

    .form-group {
        padding-bottom: 2px !important;
        font-size: 11px !important;
    }

    .margin-top-180 {
        margin-top: 180px !important;
    }

    .border {
        border: 1px solid #000 !important;
        /*margin: 5px !important;*/
        outline-offset: 5px !important;
        outline: 1px solid #000 !important;
        padding-bottom: 10px;
    }

    .padding-bottom-150 {
        padding-bottom: 150px !important;
    }

    .padding-bottom-100 {
        padding-bottom: 100px !important;
    }

    .padding-bottom-80 {
        padding-bottom: 80px !important;
    }

    .padding-bottom-30 {
        padding-bottom: 30px !important;
    }

    .padding-left-none {
        padding-left: 0px !important;
    }
}
