@media print {
    @page {
        size: A4
    }

    body {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 12px !important;
    }

    .img-responsive{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .table{
        table-layout:auto;
        width:100%;
        border:0px !important;
    }
    .table-bordered {
        table-layout: auto;
        width: 100%;
        border: 0px !important;
    }
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 0.8px solid #cad4de;
        padding: 10px;
        vertical-align: middle;
    }
}
