@media print {

    .BCOEDIREPORT {
        margin-top: 10px;
        font-size: 12px !important;
        font-weight: 700 !important;
    }

    table {
        width: 100%;
        border: 0px !important;
    }

    thead {
        background: #ffffff;
        color: #000 !important;
        text-align: center;
    }

    .table, th {
        text-align: left;
        vertical-align: middle;
    }

    .border-bottom {
        border-bottom: 1px solid #000;
    }

    .border-top {
        border-top: 1px solid #000;
    }

    .table {
        font-size: 12px !important;
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        font-weight: 700 !important;
        line-height: 1;
    }

    .table-bordered {
        font-size: 12px !important;
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        font-weight: 900 !important;       
    }
}
