
@media print {
    @page {
        size: landscape;
    }

    .text-left {
        text-align: left !important;
    }

    .BCOEDIIIREPORT {
        margin-top: 10px;
        font-size: 12px !important;
        font-weight: 700 !important;
    }

    table {
        width: 100%;
        border: 0px !important;
    }

    thead {
        background: #ddd5d5 !important;
        color: #000 !important;
        text-align: center;
    }

    th {
        text-align: left;
        vertical-align: middle;
    }

    .border-bottom {
        border-bottom: 1px solid #000;
    }

    .border-top {
        border-top: 1px solid #000;
    }

    .table {
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        font-size: 10px !important;
    }

    .table-bordered {
        table-layout: fixed;
        width: 100%;
        text-align: left !important;
        font-size: 10px !important;
    }

        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 0.4px solid #000000 !important;
            font-size: 10px !important;
            padding: 2px !important;
            padding-bottom: 0.2px !important;
        }
}
