
@media print {

    .BGIPROGRESREPORT {
        margin-top: 10px;
        font-size: 12px !important;
        font-weight: 700 !important;
    }

    table {
        width: 100%;
        border: 0px !important;
    }

    thead {
        background: #ffffff;
        color: #000 !important;
        text-align: center;
    }

    .table, th {
        text-align: left;
        vertical-align: middle;
    }

    .border-bottom {
        border-bottom: 1px solid #000;
    }

    .border-top {
        border-top: 1px solid #000;
    }

    .table {
        font-size: 12px !important;
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        font-weight: 700 !important;
        line-height: 1.4;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 0.5px solid #808080 !important;
        line-height: 1.4;
        padding: 5px;
    }

    .table-bordered {
        font-size: 12px !important;
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        font-weight: 900 !important;
    }

    .width-160 {
        width: 150px !important;
    }
}
