
<section class="content">
    <div data-ng-init="loaddata()">
        <!--<form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-submit="savepages()" novalidate>-->
        <!--<div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div ng-cloak>

                </div>
            </div>
        </div>-->

        <div class="box box-primary" ng-if="rowdata.length>0">
            <div class="box-header with-border">
                <h3 class="box-title">Dashboard Mapping</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <md-content>

                    <md-tabs md-dynamic-height md-border-bottom>

                        <md-tab label="Azure Storage Details">
                            <md-content class="md-padding">

                                <div class="box-body">


                                    <form class="form-horizontal ng-pristine ng-valid" role="form" method="post" name="myForm" novalidate>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">Access Name:<span style="color:Red">*</span></label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="ename" name="ename" class="form-control" minlength="1" maxlength="25" data-ng-model="IVRM_SD_Access_Name" required>
                                                            <div class="error-messages" ng-if="interacted(myForm.ename)" ng-messages="myForm.ename.$error">
                                                                <div ng-message="required">Enter Access Name</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">Access Key:<span style="color:Red">*</span></label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="acckey" name="acckey" class="form-control" data-ng-model="IVRM_SD_Access_Key" required>
                                                            <div class="error-messages" ng-if="interacted(myForm.acckey)" ng-messages="myForm.acckey.$error">
                                                                <div ng-message="required">Enter Access Key</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">VMS Subscription URL:<span style="color:Red">*</span></label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="ename" name="vmsurl" class="form-control" data-ng-model="IVRM_VMS_Subscription_URL" required>
                                                            <div class="error-messages" ng-if="interacted(myForm.vmsurl)" ng-messages="myForm.vmsurl.$error">
                                                                <div ng-message="required">Enter Subscription URL</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="text-center">
                                    <input type="hidden" ng-model="IVRM_DBID" />
                                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="savepages()">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Save
                                    </md-button>
                                    <md-button type="button" class="md-raised md-warn" data-ng-click="clearfields()">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        Clear
                                    </md-button>

                                </div>

                                <div class="box box-primary" ng-if="rowdata.length>0">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Azure Storage Details</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div style="overflow:auto !important">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            <b> Total Grid Records :</b>
                                                            <label class="badge">
                                                                {{rowdata.length}}
                                                            </label>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group" ng-if="searchValue!=''">
                                                        <label class="control-label">
                                                            <b>Total Records Searched : </b>
                                                            <label class="badge">
                                                                {{filterValue1.length}}
                                                            </label>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 pull-right">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-search"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="table table-hover table-responsive table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>SL.No</th>
                                                        <th><a href="" ng-click="sort('amcexM_CompetitiveExams')">Access Name</a></th>
                                                        <th><a href="" ng-click="sort('amcexM_CompulsoryFlg')">Acess Key</a></th>
                                                        <th><a href="" ng-click="sort('amcexM_CompetitiveExams')">VMS Url</a></th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="user in filterValue1 = (rowdata | filter : searchValue) |itemsPerPage:itemsPerPage" pagination-id="page1" current-page="currentPage" ng-class-odd="'odd'">
                                                        <td class="text-center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>

                                                        <td class="text-center">{{ user.ivrM_SD_Access_Name}}</td>
                                                        <td class="text-center">
                                                            {{ user.ivrM_SD_Access_Key}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{ user.ivrM_VMS_Subscription_URL}}
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="javascript:void(0)" ng-click="getorgvalue(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <dir-pagination-controls max-size="5" pagination-id="page1"
                                                                     direction-links="true"
                                                                     boundary-links="true">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>

                            </md-content>

                        </md-tab>




                        <md-tab label="Dashboard Mapping Role Wise">
                            <!--<div class="box box-primary">-->
                            <md-content class="md-padding">


                                <form class="form-horizontal ng-pristine ng-valid" role="form" method="post" name="myForm" novalidate>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Role:<span style="color:Red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="rolenamesec" ng-model="obj.IVRMRT_Role" required>
                                                            <option value="">--Select--</option>
                                                            <option ng-repeat="role in roledata" value="{{role.ivrmrT_Role}}" ng-selected="role.ivrmrT_Role==obj.IVRMRT_Role">
                                                                {{role.ivrmrT_Role}}
                                                            </option>
                                                        </select>

                                                        <div class="error-messages" ng-if="interactedsec(myForm.rolenamesec)" ng-messages="myForm.rolenamesec.$error">
                                                            <div ng-message="required">Enter The Role</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Dashboard PageName:<span style="color:Red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="ename" name="dashpage" class="form-control" ng-model="obj.IVRMP_Dashboard_PageName" required>
                                                        <div class="error-messages" ng-if="interactedsec(myForm.dashpage)" ng-messages="myForm.dashpage.$error">
                                                            <div ng-message="required">Enter Dashboard PageName</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" ng-model="IVRM_DBID" value="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">

                                        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="saveSecondtab()" id="save-btn">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            Save
                                        </md-button>
                                        <md-button type="button" class="md-raised md-warn" data-ng-click="clearfields_sub()">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Clear
                                        </md-button>
                                        <md-button type="button" class="md-raised md-warn" data-ng-click="clearall()">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Clear All
                                        </md-button>
                                    </div>
                                </form>

                                <div class="box box-primary" ng-if="mappingdata.length>0">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Dashboard Mapping</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        <b> Total Grid Records :</b>
                                                        <label class="badge">
                                                            {{mappingdata.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group" ng-if="searchValue1!=''">
                                                    <label class="control-label">
                                                        <b>Total Records Searched : </b>
                                                        <label class="badge">
                                                            {{filterValue2.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 pull-right">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" ng-model="searchValue1" type="text" placeholder="search here...">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-hover table-responsive table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>SL.No</th>
                                                    <th><a href="" ng-click="sort('IVRMP_Dasboard_PageName')">Dashboard Page</a></th>
                                                    <th><a href="" ng-click="sort('IVRMRT_Role')">Role</a></th>
                                                    <th><a href="" ng-click="sort('returnMsg')">Institution Name</a></th>

                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="user in filterValue2 = (mappingdata | filter : searchValue1) |itemsPerPage:itemsPerPage1" pagination-id="page2" current-page="currentPage1" ng-class-odd="'odd'">

                                                    <!--<tr dir-paginate="user in mappingdata  |itemsPerPage:itemsPerPage1" current-page="currentPage1" pagination-id="page2" ng-class-odd="'odd'">-->
                                                    <td class="text-center">{{itemsPerPage1 *(currentPage1-1)+$index+1}}</td>

                                                    <td class="text-center">{{ user.ivrmP_Dasboard_PageName}}</td>
                                                    <td class="text-center">{{user.ivrmrT_Role}}</td>
                                                    <td class="text-center">{{user.returnMsg}}</td>

                                                    <td class="text-center">
                                                        <a href="javascript:void(0)" ng-click="getorgvaluesec(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" ng-click="deletedatasec(user)"
                                                           class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <dir-pagination-controls max-size="5" pagination-id="page2"
                                                                 direction-links="true"
                                                                 boundary-links="true">
                                        </dir-pagination-controls>
                                    </div>
                                </div>

                            </md-content>
                        </md-tab>


                        <md-tab label="RoleWise Institution Mapping">
                            <md-content class="md-padding">


                                <form class="form-horizontal ng-pristine ng-valid" role="form" method="post" name="myForm" novalidate>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">

                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">Role:<span style="color:Red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="userrolename" name="userrolename" ng-model="obj.ivrmrT_Id" ng-change="getuser(obj.ivrmrT_Id)">
                                                            <option value="">--Select--</option>
                                                            <option ng-repeat="user in userdata" value="{{user.ivrmrT_Id}}" ng-selected="user.ivrmrT_Id==obj.ivrmrT_Id">
                                                                {{user.ivrmrT_Role}}
                                                            </option>
                                                        </select>
                                                        <div class="error-messages" ng-messages="myForm.userrolename.$error" ng-if="interactedthird(myForm.userrolename)">
                                                            <div ng-message="required">Enter The Role </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">User:<span style="color:Red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="username" name="username" ng-model="obj.userid" ng-change="getinstitution(UserName)">
                                                            <option value="">--Select--</option>
                                                            <option ng-repeat="usr in userlist" value="{{usr.Id}}" ng-selected="usr.Id==obj.userid">
                                                                {{usr.UserName}}
                                                            </option>
                                                        </select>
                                                        <div class="error-messages" ng-messages="myForm.username.$error" ng-if="interactedthird(myForm.username)">
                                                            <div ng-message="required">Enter The user </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">


                                                    <label for="sel2" class="control-label col-sm-4">Institution: <span style="color:red;">*</span></label>
                                                    <div class="multiselect col-sm-8">
                                                        <input class="form-control" ng-model="searchchkbx1" type="text" placeholder="search here..." />
                                                        <label>
                                                            <input name="instoption" ng-model="obj.usercheckCC" type="checkbox" ng-click="al_checkinst(obj.usercheckCC)">
                                                            <span class="lbl padding-8">
                                                                All
                                                            </span>
                                                        </label>
                                                        <label ng-repeat="inst in institutionlist | filter:searchchkbx1" value="{{MI_Id}}">
                                                            <input type="checkbox" ng-model="inst.selected" ng-required="isOptionsRequiredinst()" name="instname" ng-click="Onclickinst()" />

                                                            <span class="lbl padding-8">{{inst.MI_Name}} </span>
                                                        </label>

                                                    </div>
                                                    <div class="error-messages" ng-if="interactedthird(myForm.instname)" ng-messages="myForm.instname.$error">
                                                        <div ng-message="required">Select Institution</div>
                                                    </div>
                                                </div>



                                                <!--<div class="form-group">
                                <label class="control-label col-sm-3">Institution  :<strong style="color:red;">*</strong></label>
                                <div class="multiselect col-sm-6">
                                    <input class="form-control" ng-model="searchchkbx1" type="text" placeholder="search Batch here..." >
                                    <label>
                                        <input name="instoption" ng-model="obj.usercheckCC" type="checkbox" ng-click="al_checkinst(obj.usercheckCC)">
                                        <span class="lbl padding-8">
                                            All
                                        </span>
                                    </label>
                                    <label ng-model="MI_Id" ng-repeat="inst in institutionlist| filter : searchchkbx1">
                                        <input name="mid" ng-model="inst.selected" type="checkbox" ng-required="isOptionsRequiredinst()">
                                        <span class="lbl padding-8">
                                            {{inst.MI_Name}}
                                        </span>
                                    </label>

                                </div>
                                <div class="error-messages text-center" ng-if="interactedthird(myForm.instname)" ng-messages="myForm.instname.$error">
                                    <div ng-message="required"> Select Atleast One checkbox</div>
                                </div>
                            </div>-->



                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <input type="hidden" ng-model="IVRMULI_Id" />
                                        <md-button type="submit" class="md-raised md-primary" ng-disabled="form3.$invalid" ng-click="addtocart()" id="save-btn">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            Add to cart
                                        </md-button>
                                        <md-button type="button" class="md-raised md-warn" data-ng-click="clearthirdtab()">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Clear
                                        </md-button>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="box box-primary" ng-if="cartdataarray.length>0">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Unmapped Institutions</h3>
                                                    <div class="box-tools pull-right">
                                                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                                    </div>
                                                </div>

                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    <b> Total Grid Records :</b>
                                                                    <label class="badge">
                                                                        {{cartdataarray.length}}
                                                                    </label>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group" ng-if="searchValue1!=''">
                                                                <label class="control-label">
                                                                    <b>Total Records Searched : </b>
                                                                    <label class="badge">
                                                                        {{filterValue2.length}}
                                                                    </label>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 pull-right">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input class="form-control" ng-model="searchValue1" type="text" placeholder="search here...">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-search"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table table-hover table-responsive table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>SL.No</th>
                                                                <th>
                                                                    <label>
                                                                        <input type="checkbox" value="" ng-click="toggleAll(all2)" ng-model="all2" ng-disabled="ondropdown">
                                                                        <span class="lbl padding-8"></span>
                                                                    </label>
                                                                </th>
                                                                <th>Role</th>
                                                                <th>User</th>
                                                                <th>Institution</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr dir-paginate="user in cartdataarray  |itemsPerPage:itemsPerPage3" current-page="currentPage3" pagination-id="page3" ng-class-odd="'odd'">
                                                                <td class="text-center">{{itemsPerPage3 *(currentPage3-1)+$index+1}}</td>
                                                                <td class="text-center">
                                                                    <label>
                                                                        <input type="checkbox" ng-model="user.selected" ng-change="selected($index,user)">
                                                                        <span class="lbl padding-8"></span>
                                                                    </label>
                                                                </td>
                                                                <td class="text-center">{{ user.roleName}}</td>
                                                                <td class="text-center">{{user.userName}}</td>
                                                                <td class="text-center">{{user.miName}}</td>
                                                                <td>
                                                                    <a href="javascript:void(0)" ng-click="deletecartdata($index,user)"
                                                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <dir-pagination-controls max-size="5" pagination-id="page3"
                                                                             direction-links="true"
                                                                             boundary-links="true">
                                                    </dir-pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="box box-primary" ng-if="institutionMappedData.length>0">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Mapped Institutions</h3>
                                                    <div class="box-tools pull-right">
                                                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                                    </div>
                                                </div>

                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    <b> Total Grid Records :</b>
                                                                    <label class="badge">
                                                                        {{institutionMappedData.length}}
                                                                    </label>
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <table class="table table-hover table-responsive table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>SL.No</th>

                                                                <th>Role</th>
                                                                <th>User</th>
                                                                <th>Institution</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr dir-paginate="user in institutionMappedData  |itemsPerPage:itemsPerPage4" current-page="currentPage4" pagination-id="page4" ng-class-odd="'odd'">
                                                                <td class="text-center">{{itemsPerPage4 *(currentPage4-1)+$index+1}}</td>


                                                                <td class="text-center">{{ user.IVRMRT_Role}}</td>
                                                                <td class="text-center">{{user.UserName}}</td>
                                                                <td class="text-center">{{user.MI_Name}}</td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <dir-pagination-controls max-size="5" pagination-id="page4"
                                                                             direction-links="true"
                                                                             boundary-links="true">
                                                    </dir-pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center" ng-if="gridflg==true">

                                        <md-button type="submit" class="md-raised md-primary" ng-disabled="form3.$invalid" ng-click="savethirdData()" id="save-btn">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            Save
                                        </md-button>


                                    </div>


                                </form>




                                <div>


                                    <div ng-if="institutionMappedData.length>0">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Mapped Institutions</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                            </div>
                                        </div>

                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            <b> Total Grid Records :</b>
                                                            <label class="badge">
                                                                {{institutionMappedData.length}}
                                                            </label>
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                            <table class="table table-hover table-responsive table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>SL.No</th>

                                                        <th>Role</th>
                                                        <th>User</th>
                                                        <th>Institution</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="user in institutionMappedData  |itemsPerPage:itemsPerPage5" current-page="currentPage5" pagination-id="page5" ng-class-odd="'odd'">
                                                        <td class="text-center">{{itemsPerPage5 *(currentPage5-1)+$index+1}}</td>


                                                        <td class="text-center">{{ user.IVRMRT_Role}}</td>
                                                        <td class="text-center">{{user.UserName}}</td>
                                                        <td class="text-center">{{user.MI_Name}}</td>
                                                        <td>
                                                            <a href="javascript:void(0)" ng-click="deletegriddata(user)"
                                                               class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <dir-pagination-controls max-size="5" pagination-id="page5"
                                                                     direction-links="true"
                                                                     boundary-links="true">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>

                            </md-content>
                        </md-tab>



                        <md-tab label="Preadmission Dashboard Mapping">
                            <!--<div class="box box-primary">-->
                            <md-content class="md-padding">


                                <form class="form-horizontal ng-pristine ng-valid" role="form" method="post" name="myForm" novalidate>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div class="form-group">
                                                    <!--added by a-->
                                                    <label class="control-label col-sm-4">Institution:<span style="color:Red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="rolenamesec" ng-model="obj.mI_Id" required>
                                                            <option value="">--Select--</option>
                                                            <option ng-repeat="inst in institutionlist" value="{{inst.mI_Id }} ">
                                                                {{inst.mI_Name }}
                                                            </option>
                                                        </select>

                                                        <div class="error-messages" ng-if="interactedsec(myForm.rolenamesec)" ng-messages="myForm.rolenamesec.$error">
                                                            <div ng-message="required">Enter The Institution</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">PageName:<span style="color:Red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="ename" name="dashpage" class="form-control" ng-model="obj.PAPG_PAGENAME" required>
                                                        <div class="error-messages" ng-if="interactedsec(myForm.dashpage)" ng-messages="myForm.dashpage.$error">
                                                            <div ng-message="required">Enter Dashboard PageName</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" ng-model="PAPG_MIID" value="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">

                                        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="saveFourthtab()" id="save-btn">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            Save
                                        </md-button>
                                        <md-button type="button" class="md-raised md-warn" data-ng-click="clearfields_sub()">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Clear
                                        </md-button>

                                    </div>
                                </form>

                                <div class="box box-primary" ng-if="mappingdata.length>0">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Dashboard Mapping</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        <b> Total Grid Records :</b>
                                                        <label class="badge">
                                                            {{mappingdata.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group" ng-if="searchValue1!=''">
                                                    <label class="control-label">
                                                        <b>Total Records Searched : </b>
                                                        <label class="badge">
                                                            {{filterValue3.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 pull-right">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" ng-model="searchValue1" type="text" placeholder="search here...">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-hover table-responsive table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>SL.No</th>
                                                    <th><a href="" ng-click="sort('user.papG_PAGENAME')"> Page Name</a></th>
                                                    <th><a href="" ng-click="sort('inst.mI_Name ')">Institution Name</a></th>
                                                    <th>Action</th>
                                                </tr>




                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="user in filterValue3 = (preadmissionmapping | filter : searchValue1) |itemsPerPage:itemsPerPage1" pagination-id="page2" current-page="currentPage1" ng-class-odd="'odd'">

                                                    <!--<tr dir-paginate="user in mappingdata  |itemsPerPage:itemsPerPage1" current-page="currentPage1" pagination-id="page2" ng-class-odd="'odd'">-->
                                                    <td class="text-center">{{itemsPerPage1 *(currentPage1-1)+$index+1}}</td>

                                                    <td class="text-center">{{user.papG_PAGENAME}}</td>
                                                    <td class="text-center">{{user.mI_Name}}</td>
                                                    <td class="text-center" ng-hide="{{user.papG_ID}}"></td>

                                                    <td class="text-center">
                                                        <a href="javascript:void(0)" ng-click="getorgvaluesecc(user.papG_ID)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" ng-click="deletedatasecc(user.papG_ID)"
                                                           class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <dir-pagination-controls max-size="5" pagination-id="page2"
                                                                 direction-links="true"
                                                                 boundary-links="true">
                                        </dir-pagination-controls>
                                    </div>
                                </div>

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>


            </div>
        </div>
    </div>
</section>