
<section class="content">

    <div class="box box-primary" ng-init="loaddata()">
        <div class="box-header with-border">
            <h3 class="box-title">Points Calculations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <div class="">
                                    <select class="form-control" id="sel1year" data-ng-model="ASMAY" name="academic_year" required>
                                        <option value="">Select</option>
                                        <option ng-repeat="options in yearlst" value="{{options.asmaY_Id}}" ng-selected="{{option.Selected == true}}">{{options.asmaY_Year}}</option>
                                    </select>
                                </div>
                                <div class="error-messages" ng-if="interacted(myForm.academic_year)" ng-messages="myForm.academic_year.$error">
                                    <div ng-message="required" style="margin-left:-1px;margin-top:-16px;color:red">{{errMessage_Year}}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4"> Class : <span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <div class="">
                                    <select class="form-control" id="sellclass" name="sbrclass" data-ng-model="ASMCL" required>
                                        <option value="">Select</option>
                                        <option ng-repeat="options in classlist" value="{{options.asmcL_Id}}" ng-selected="{{option.Selected == true}}">{{options.asmcL_ClassName}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.sbrclass)" ng-messages="myForm.sbrclass.$error">
                                        <div ng-message="required">Please Select Class</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <md-button type="button" class="md-raised md-primary" ng-click="BindGrid()" ng-disabled="form.$invalid" id="search-btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>




            </form>

        </div>
    </div>

    <div class="box box-primary" ng-show="IsHiddendown">
        <div class="box-header with-border">
            <h3 class="box-title">Points Calculations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div style="overflow:auto;">
                <table class="table table-responsive table-bordered text-center clearfix" style="width:1500px;">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="order('Sno')">Sno</a></th>
                            <th width="200">
                                <label>
                                    <input name="option[]" value="1" type="checkbox" ng-click="toggleAll(all)" ng-model="all" ng-disabled="allcheck">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </th>
                            <th width="200"><a href="" ng-click="order('pasR_FirstName')">StudentName</a></th>
                            <th width="200"> <a href="" ng-click="order('Age')">Age</a> </th>
                            <th width="200"><a href="" ng-click="order('Father')">Father Qual</a></th>
                            <th width="200"> <a href="" ng-click="order('Mother')">Mother Qual</a></th>
                            <th width="200"><a href="" ng-click="order('Total')">Total Income</a> </th>
                            <th width="200"><a href="" ng-click="order('Area')">Area(Address)</a> </th>
                            <th width="200"> <a href="" ng-click="order('Caste')">Caste</a></th>
                            <th rowspan="2"><a href="" ng-click="order('P1')">P1(Age)</a> </th>
                            <th width="200"><a href="" ng-click="order('P2')">P2(Qual)</a> </th>
                            <th width="200"><a href="" ng-click="order('P3')">P3(Income)</a> </th>
                            <th width="200"><a href="" ng-click="order('P4')">P4(Address)</a> </th>
                            <th width="200"><a href="" ng-click="order('P5')">P5(Caste)</a> </th>
                            <th width="200"><a href="" ng-click="order('Total')">Total</a> </th>
                            <th style="width: 9%;"><a href="" ng-click="order('Status')">Status</a> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in datapages track by $index | orderBy:predicate:default | filter:paginate| filter:search" ng-class-odd="'odd'">
                            <td>{{$index+1}}</td>

                            <td>
                                <label>
                                    <input name="option[]" value="1" type="checkbox" ng-change="selected(user)" ng-model="user.isSelected" ng-disabled="allcheck">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </td>
                            <td>
                                {{user.pasR_FirstName + " " }}<span ng-if="user.pasR_MiddleName !== null">
                                    {{ user.pasR_MiddleName }}
                                </span>{{user.pasR_LastName}}
                            </td>
                            <td>{{user.pasR_Age}}</td>
                            <td hidden="hidden">{{user.pasR_Id}}</td>
                            <td>{{user.pasR_FatherEducation}}</td>
                            <td>{{user.pasR_MotherEducation}}</td>
                            <td>{{user.pasR_TotalIncome}}</td>
                            <td>{{user.pasR_ConArea}}</td>
                            <td>{{user.caste_Name}}</td>
                            <td>{{user.pasaP_AGE}}</td>
                            <td>
                                <input class="form-control" type="text" data-ng-model="user.pasaP_QA" ng-change="calculatetotal()" value="{{user.pasaP_QA}}">
                            </td>
                            <td>{{user.pasaP_INCOME}}</td>
                            <td>
                                <input class="form-control" type="text" data-ng-model="user.pasaP_ADRESS" ng-change="calculatetotal()" value="{{user.pasaP_ADRESS}}">
                            </td>
                            <td>{{user.pasaP_CASTE}}</td>
                            <td>{{user.pasaP_TOTAL}}</td>
                            <td>
                                <select class="form-control" id="sel233" ng-model="user.pasrapS_ID">
                                    <option value="787926">APP WAITING</option>
                                    <option value="787927">APP REJECTED</option>
                                    <option value="787928">APP ACCEPTED</option>
                                    <!--<option ng-repeat="status in statuslist" value="{{status.pasrapS_ID}}" ng-selected="{{abc==status.pasrapS_ID}}">{{status.pamsT_Status}}</option>-->
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <md-button type="button" class="md-raised md-primary" ng-click="SaveGridData(datapages)" ng-disabled="form.$invalid" id="search-btn">
                    <i class="fa owl-fade-in" aria-hidden="true"></i>

                    Update
                </md-button>
                <md-button type="button" class="md-raised md-warn" ng-click="cancelAll()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Cancel
                </md-button>
            </div>
        </div>

    </div>
</section>