<link href="/css/print/Fees/MonthEndReport.css" rel="stylesheet" />

<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-init="loadData()" name="myForm" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">VISITOR MONTH END REPORT</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:red;">*</span></label>
                            <div class="col-sm-6">
                                <select class="form-control" name="year1" ng-model="academicyr" ng-disabled="disabledate2" data-ng-change="onselectAcdYear()" required>
                                    <option value="">--Select Academic Year--</option>
                                    <option ng-repeat="option in fillyear" value="{{option.asmaY_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{option.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd_year)" ng-messages="myForm.acd_year.$error">
                                    <div ng-message="required">Please Select the Academic Year</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Month :<span style="color:red;">*</span></label>
                            <div class="col-sm-6">
                                <select class="form-control" name="month1" ng-model="IVRM_Month_Id" ng-disabled="disabledate3" required>
                                    <option value="">--Select Month--</option>
                                    <option ng-repeat="option in fillmonth" value="{{option.month}}" ng-selected="{{option.month == IVRM_Month_Id}}">
                                        {{option.monthname}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.month1)" ng-messages="myForm.month1.$error">
                                    <div ng-message="required">Please Select the month</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Year :<strong style="color:red;">*</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="seluse" name="Year" data-ng-model="yearmodel" required>
                                        <option value="">Select Year</option>
                                        <option ng-repeat="option in years" value="{{option.asmaY_Year}}"
                                                ng-selected="{{option.Selected == true}}">
                                            {{option.asmaY_Year}}
                                        </option>
                                    </select>

                                    <div class="error-messages" ng-if="interacted(myForm.Year)" ng-messages="myForm.Year.$error">
                                        <div ng-message="required">Select Year</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                   
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Implementation Name :</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="iename" class="form-control" name="meryr"/>
                                    <div class="error-messages" ng-if="interacted(myForm.meryr)" ng-messages="myform.meryr.$error">

                                    </div>
                                </div>
                            </div>
                        </div>
                    

                <div class="row">

                    <div class="col-sm-6 col-sm-offset-3">


                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" id="save-btn" ng-click="GetReport();">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                            <md-button type="button" ng-click="Clear_Details();" target="_blank" class="md-raised md-warn">
                                <i class="fa fa-times" aria-hidden="true"></i> Clear
                            </md-button>
                            <md-button type="button" ng-show="report" class="md-raised md-primary" id="excel-btn" ng-click="exportToExcel()">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                Export to Excel
                            </md-button>

                            <md-button type="button" class="md-raised md-primary" id="print-btn" ng-show="report" ng-click="printData();">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                Print
                            </md-button>

                        </div>

                    </div>

                    <hr />

                </div>
            </div>


            <div class="box box-primary" ng-show="report">

                <div class="box-header with-border">
                    <h3 class="box-title">VISITOR MONTH END REPORT</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="MonthEndReport" id="tablegrp">
                        <div class="baldwin text-center">
                            <img src="{{imgname}}" class="img-responsive" alt="baldwin">

                        </div>
                        <br />
                        <!--<h3 class="text-center">Visitor Management  REPORT</h3>-->
                        <table class="table text-center">
                            <tr>
                                <td class="text-center" style="font-size:20px">
                                    VISITOR {{month1 | uppercase}} MONTH REPORT
                                </td>
                            </tr>
                        </table>
                        <table class="table table-bordered">
                            <tr>
                                <td>Name</td>
                                <td>
                                    {{iename}}</td>
                                <td>Date</td>
                                <td>{{ today | date }}
                                </td>
                            </tr>
                            <tr>
                                <td>Designation</td>
                                <td>{{designation}}</td>
                                <td>Academic Year</td>
                                <td>{{Year_Name}}</td>
                            </tr>
                            <tr>
                                <td>Module</td>
                                <td colspan="3" style="text-align:center">Visitor Management</td>

                            </tr>
                        </table>
                        <div class="">
                            <table class="table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">SL.NO</th>
                                        <th style="text-align:center">Content Name</th>
                                        <th style="text-align:center">
                                            Total Count
                                        </th>
                                        <!--<th style="text-align:center">
                                            Total Outwards
                                        </th>
                                        <th style="text-align:center">
                                            Total Student GatePass
                                        </th>
                                        <th style="text-align:center">
                                            Total Staff GatePass
                                        </th>-->
                                    </tr>
                                </thead>
                                  <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td style="text-align:center">Total Visitors</td>
                                        <td style="text-align:center">{{total_visitors}}</td>

                                    </tr>
                                    <!--<tr>
                                        <td>2</td>
                                        <td style="text-align:center">Total Visitors(CheckIn or CheckOut)</td>
                                        <td style="text-align:center">{{total_visitors_checkinout}}</td>
                                    </tr>-->
                                    <tr>
                                        <td>3</td>
                                        <td style="text-align:center"> Total Inwards</td>
                                        <td style="text-align:center">{{total_inwards}}</td>

                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td style="text-align:center"> Total Outwards</td>

                                        <td style="text-align:center">{{total_outwards}}</td>

                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td style="text-align:center">Total Student GatePass</td>
                                        <td style="text-align:center">{{total_student_gatepass}}</td>

                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td style="text-align:center">  Total Staff GatePass</td>

                                        <td style="text-align:center">{{total_staff_gatepass}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                        </div>

                        <div id="imageContainer" ng-show="tttttt">
                            <img id="chartImage" width="100%" height="360px">
                        </div>

                        
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">Implementation Engineer:_____________________</div>
                                <div class="col-sm-6">End User Signature :_______________________</div>

                            </div>
                            <br /> <br />
                            <div class="col-sm-12">
                                <div class="col-sm-6">Nodal Officer:______________________</div>
                                <div class="col-sm-6">With Seal:______________________</div>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="row" id="datagraph">
                        <div class="col-sm-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"> VISITOR Month End Report </h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="rangeBarChat" style="height: 260px; width: 100%;"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
            </div>
    </form>
</section>
