<link href="../css/print/hutchings/Bonafide_Cert/BonafideCert.css" rel="stylesheet" />
<link href="../css/print/Portals/FeeReceipt.css" rel="stylesheet" />
<form class="form-horizontal ng-pristine ng-valid" name="myForm" data-ng-submit="saveddata()" role="form" novalidate>
    <section class="content" data-ng-init="LoadData();">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Salary Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">   
                <div class="row">                
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Financial Year :</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" ng-model="hrmlY_LeaveYear" ng-change="onselectgroup(hrmlY_LeaveYear)" name="yeardd" required>
                                    <option value="" label="">Select Financial Year</option>
                                    <option ng-repeat="option in yearL" value="{{option.hrmlY_LeaveYear}}" ng-selected="{{option.hrmlY_LeaveYear == hrmlY_LeaveYear}}">
                                        {{option.hrmlY_LeaveYear}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.yeardd)" ng-messages="myForm.yeardd.$error">
                                    <div ng-message="required">Please Select Financial Year</div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                 
                  
                </div>
               
               
            </div>
        </div>
        <div class="box box-primary" ng-show="salaryD">
            <div class="box-header with-border">
                <h3 class="box-title">Monthwise Salary details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
               
                    <!--<div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">
                    <b> Total Grid Records :</b>
                    <label class="badge">
                        {{leavedetails.length}}
                    </label>
                </label>
            </div>
        </div>-->
                    <!--<div class="col-sm-4">
            <div class="form-group" ng-if="searchValue!=''">
                <label class="control-label">
                    <b>Total Records Searched : </b>
                    <label class="badge">
                        {{filterValue1.length}}
                    </label>
                </label>
            </div>
        </div>-->
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover table-responsive table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="text-center"> Sl. No.</th>
                                <th class="text-center"><a href="" ng-click="sort('monthName')"> Month</a></th>
                                <th class="text-center"><a href="" ng-click="sort('salary')"> Net Salary</a></th>
                                <th class="text-center"> View Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Salary in  filterValue1=(salary_list  | filter:searchValue) |orderBy:sortKey:reverse">
                                <td>{{$index+1}}</td>
                                <td>{{Salary.monthName | uppercase}}</td>
                                <td>{{Salary.salary |number}}</td>
                                <td>
                                    <a href="" data-toggle="modal" data-target="#myModal3" data-backdrop="static" data-ng-click="showSalaryGrid(Salary.monthName)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                
            </div>
        </div>
     
        <div class="box box-primary" ng-show="salaryD">
            <div class="box-header with-border">
                <h3 class="box-title">Graph</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div id="columnchart" style="height: 350px; width: 100%;"></div>
            </div>
        </div>

    </section>
    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">                      
                            <i class="fa fa-times text-white" aria-hidden="true"></i>                       
                    </button>
                    <h4 class="modal-title text-white">Salary</h4>
                </div>
                <div class="modal-body">
                   
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th class="text-center">SL. NO</th>
                                <th class="text-center">DEPARTMENT NAME</th>
                                <th class="text-center">Amount</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sl in deptsalary">
                                <td>{{$index+1}}</td>
                                <td>{{sl.departmentname}}</td>
                                <td>{{sl.salary |number}}</td>                               
                            </tr>
                          
                        </tbody>
                    </table>
                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</form>