
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" data-ng-submit="showreport()" role="form" novalidate>
        <div data-ng-init="BindData()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Class-wise exam result</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sm" name="yeardd" ng-model="asmaY_Id" ng-change="OnAcdyear(asmaY_Id)" required>
                                        <option value="">Select Academic Year</option>
                                        <option ng-repeat="year in yearlt" value="{{year.asmaY_Id}}" ng-selected="year.Selected == true">{{year.asmaY_Year}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.yeardd)" ng-messages="myForm.yeardd.$error">
                                        <div ng-message="required">Please Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Category :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="sec" ng-model="emcA_Id" data-ng-change="onselectcategory(emcA_Id)" required>
                                        <option value="" label="Select Category"> </option>
                                        <option ng-repeat="option in fillcategory" value="{{option.emcA_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.emcA_CategoryName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.sec)" ng-messages="myForm.sec.$error">
                                    <div ng-message="required">Enter category</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">class :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="cls" ng-model="asmcL_Id"  required>
                                        <option value="" label="Select class"> </option>
                                        <option ng-repeat="option in classlist" value="{{option.asmcL_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.asmcL_ClassName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.cls)" ng-messages="myForm.cls.$error">
                                    <div ng-message="required">Enter Class Name</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Exam Name :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="exmnae" ng-model="emE_Id"  required>
                                        <option value="" label="Select Exam Name"> </option>
                                        <option ng-repeat="option in exmstdlist" value="{{option.emE_Id}}" ng-selected="{{option.Selected == true}}">
                                            {{option.emE_ExamName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.exmnae)" ng-messages="myForm.exmnae.$error">
                                    <div ng-message="required">Enter Exam name</div>
                                </div>
                            </div>
                        </div>
                       
                    </div>


                    <hr />
                    <div class="">
                        <div class="">
                            <div class="text-center">
                             
                                <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" >
                                    <i class="fa fa-list-alt " aria-hidden="true"></i>
                                    Report
                                </md-button>
                                <!--<md-button type="submit" class="md-raised md-warn" ng-click="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Cancel
                                </md-button>-->
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="box box-primary"  ng-show="graphgrd">
        <div class="box-header with-border">
            <h3 class="box-title">Total pass-Fail count For Class- {{clsname}}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body"  >
            <table class="table  table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th>SL. NO.</th>
                        <th>TOTAL STUDENT</th>
                        <th>PASS</th>
                        <th>FAIL</th>
                        <th>VIEW SECTION COUNT</th>

                    </tr>

                </thead>

                <tr ng-repeat="table in studlist">
                    <!--<tr ng-repeat="table in leavedetails">-->
                    <td>{{$index+1}}</td>
                    <td>{{table.total_Count}}</td>
                    <td>{{table.pass_Count}} </td>
                    <td>{{table.fail_Count}}</td>
                    <td>
                       <a href="" data-toggle="modal"  data-target="#myModal3" data-backdrop="static" data-ng-click="showstudentGrid()" >
    <i class="fa fa-eye" aria-hidden="true"></i>
</a>
                    </td>



                </tr>

            </table>
           
        </div>
    </div>

    <div class="row" ng-show="graph">

        <div class="col-sm-6" >
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">ALL  CLASS STUDENT EXAM RESULT </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="rangeBarChat" style="height: 350px; width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">ALL CLASS STUDENT EXAM RESULT Percentage</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="chartContainer" style="height: 350px; width: 100%;"></div>
                </div>
            </div>
        </div>
     
    </div>
</section>
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times text-white" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title text-white">SECTIONWISE count For Class- {{clsname}}</h4>
            </div>
            <div class="modal-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">SL. NO</th>
                            <th class="text-center">SECTION NAME</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center">PASS</th>
                            <th class="text-center">FAIL</th>
                         

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="st in sectionlist">
                            <td>{{$index+1}}</td>
                            <td>{{st.sec}}</td>
                            <td>{{st.total}}</td>
                            <td>{{st.pass}}</td>
                            <td>{{st.fail}}</td>
                          

                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>