<style>
    .ui-grid-sort-priority-number {
        font-size: 0;
    }
</style>
<section class="content">
    <div class="box box-primary" data-ng-init="onLoadGetData()">
        <div class="box-header with-border">
            <h3 class="box-title">MASTER QUARTER</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <form class="form-horizontal" role="form" name="myForm" data-ng-submit="saveData()" novalidate>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Quarter Name:<span style="color:red;">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" name="BankName" class="form-control active" allow-pattern="(\s|[a-zA-Z0-9])" data-ng-model="Bank.hrmQ_QuarterName" id="BankName" maxlength="100" required>
                            <div class="error-messages" ng-if="interacted(myForm.BankName)" ng-messages="myForm.BankName.$error">
                                <div ng-message="required">Enter Bank Name</div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label class="control-label col-sm-4"> From Date:<span style="color:red;">*</span></label>
                        <div class="col-sm-6">
                            <md-datepicker name="AppliedDate" data-ng-model="Bank.hrmQ_FromDay" onkeydown="return false" md-placeholder="Select Date" ng-change="setMonthAndyear(Bank.hrmQ_FromDay)" required></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.AppliedDate)" ng-messages="myForm.AppliedDate.$error">
                                <div ng-message="required">Select Date Entry</div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-4">From Month:<strong style="color:red;">*</strong></label>
                        <div class="col-sm-6">

                            <select class="form-control" name="mnth" id="sel12" data-ng-model="Bank.hrmQ_FromMonth" ng-disabled="monthDis" required>
                                <option value="">--Select--</option>
                                <option ng-repeat="month in monthdropdown" value="{{month.ivrM_Month_Name}}" ng-selected="{{month.Selected===true}}">
                                    {{month.ivrM_Month_Name}}
                                </option>
                            </select>

                            <div class="error-messages" ng-if="interacted(myForm.mnth)" ng-messages="myForm.mnth.$error">
                                <div ng-message="required">Select Month Name</div>
                            </div>
                        </div>
                    </div>

                    </div>
                    
   

                <div class="col-sm-6">

                    <div class="form-group">
                        <!--<label class="control-label col-sm-4">To Date:<span style="color:red;">*</span></label>-->
                        <div class="col-sm-6">
                            <!--<md-datepicker name="AppliedDates" data-ng-model="Bank.hrmQ_ToDay" onkeydown="return false" md-placeholder="Select Date" ng-change="setMonthAndyears(Bank.hrmQ_ToDay)" required></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.AppliedDates)" ng-messages="myForm.AppliedDates.$error">
                                <div ng-message="required">Select Date Entry</div>
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">To Date:<span style="color:red;">*</span></label>
                        <div class="col-sm-6">
                            <md-datepicker name="AppliedDates" data-ng-model="Bank.hrmQ_ToDay" onkeydown="return false" md-placeholder="Select Date" ng-change="setMonthAndyears(Bank.hrmQ_ToDay)" required></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.AppliedDates)" ng-messages="myForm.AppliedDates.$error">
                                <div ng-message="required">Select Date Entry</div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-4">To Month:<strong style="color:red;">*</strong></label>
                        <div class="col-sm-6">

                            <select class="form-control" name="mnth" id="sel12" data-ng-model="Bank.hrmQ_ToMonth" ng-disabled="monthDis" required>
                                <option value="">--Select--</option>
                                <option ng-repeat="month in monthdropdown" value="{{month.ivrM_Month_Name}}" ng-selected="{{month.Selected===true}}">
                                    {{month.ivrM_Month_Name}}
                                </option>
                            </select>

                            <div class="error-messages" ng-if="interacted(myForm.mnth)" ng-messages="myForm.mnth.$error">
                                <div ng-message="required">Select Month Name</div>
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="col-sm-12" style="margin-top:10px;">
                            <div class="form-group">
                                <div class="text-center">
                                    <input type="hidden" ng-model="Bank.hrmQ_Id" />
                                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Save
                                    </md-button>
                                    <md-button type="button" class="md-raised md-warn" data-ng-click="cancel()">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        Cancel
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
</form>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Master Quarter List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!--<div ui-grid="gridOptions" ui-grid-pagination class="grid"></div>-->
            <div class="box-body">
                <div class="from-group">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <div class="from-group">
                                <input class="form-control" ng-model="search.hrmQ_QuarterName" type="text" placeholder="Search QuarterName" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="from-group">
                                <input class="form-control" ng-model="search.hrmQ_FromDay" type="text" placeholder="Search FromDay" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="from-group">
                                <input class="form-control" ng-model="search.hrmQ_FromMonth" type="text" placeholder="Search FromMonth" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="from-group">
                                <input class="form-control" ng-model="search.hrmQ_ToDay" type="text" placeholder="Search ToDay" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="from-group">
                                <input class="form-control" ng-model="search.hrmQ_ToMonth" type="text" placeholder="Search ToMonth" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th><a href="" ng-click="order('sno')">SNO</a></th>
                        <th><a href="" ng-click="sort('hrmQ_QuarterName')">Quarter Name</a></th>
                        <th><a href="" ng-click="sort('hrmQ_FromDay')">From Date</a></th>
                        <th><a href="" ng-click="sort('hrmQ_FromMonth')">From Month</a></th>
                        <th><a href="" ng-click="sort('hrmQ_ToDay')">To Date</a></th>
                        <th><a href="" ng-click="sort('hrmQ_ToMonth')">To Month</a></th>
                        <th>Actions</></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in filterValue=(gridOptions | filter : search) | orderBy:sortKey:reverse |itemsPerPage:itemsPerPage" current-page="currentPage">
                        <td>{{$index+1}}</td>
                        <td>{{user.hrmQ_QuarterName}}</td>
                        <td>{{user.hrmQ_FromDay|date:'dd/MM/yyyy'}}</td>
                        <td>{{user.hrmQ_FromMonth}}</td>
                        <td>{{user.hrmQ_ToDay|date:'dd/MM/yyyy'}}</td>
                        <td>{{user.hrmQ_ToMonth}}</td>
                        <td class="text-center">
                            <span>
                                <a href="javascript:void(0)" ng-click="EditData(user);"
                                   data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o" style="color:blue;" aria-hidden="true"></i></a>
                            </span>
                            <span ng-if="user.hrmQ_ActiveFlg === true">
                                <a href="javascript:void(0)" style="color:red;" ng-click="DeletRecord(user)" data-toggle="tooltip" title="Deactivate">
                                    Deactivate
                                </a>
                            </span>
                            <span ng-if="user.hrmQ_ActiveFlg === false">
                                <a href="javascript:void(0)" style="color:green;" ng-click="DeletRecord(user)" data-toggle="tooltip" title="Activate">
                                    Activate
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>

        </div>
    </div>
</section>