<div data-ng-init="loaddata()">
    <section class="content">
        <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">HR Master Leaving Reason</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class=" col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                LeavingReason:<span style="color:red;">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" data-ng-model="HRMLREA_LeavingReason" name="lreason" maxlength="100" required>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.lreason)" ng-messages="myForm.lreason.$error">
                                <div ng-message="required" class="col-sm-10 col-sm-offset-4">Please Enter  Leaving Reason </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                TransferredFlg:<span style="color:red;">*</span>
                            </label>
                            <div>
                                <input type="checkbox" value="all" data-ng-model="HRMLREA_TransferredFlg" name="app">
                                <span class="lbl padding-right-30" align="center"> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <input type="hidden" ng-model="HRMLREA_Id" value="{{HRMLREA_Id}}" />
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="savedata();" id="save-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="Clearid();">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </div>
        </form>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">HR Master  Leaving Reason Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{get_master}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="search!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover table-responsive table-bordered text-center" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>
                                        SL.No.
                                    </th>
                                    <th>
                                        <a href="" ng-click="sort('hrmlreA_LeavingReason')">Leaving Reason </a>
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="user in filterValue=(alldata | filter : search) | orderBy:sortKey:reverse |itemsPerPage:itemsPerPage" current-page="currentPage">
                                    <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td style="text-align:left">{{user.hrmlreA_LeavingReason}}</td>
                                    <td style="text-align:left">
                                        <a class="text-aqua" href="" ng-click="EditData(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <span ng-if="user.hrmlreA_ActiveFlg==false">
                                            <a href="" ng-click="masterDecative(user);" class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                Activate
                                            </a>
                                        </span>
                                        <span ng-if="user.hrmlreA_ActiveFlg==true">
                                            <a href="" ng-click="masterDecative(user);" class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                De-Activate
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
