<style>
    .classborder {
        border: 1px solid black !important;
        border-radius: 10px !important;
        padding-left: 20px;
    }

    .classtextarea {
        resize: none;
    }

    .file-blue:before {
        content: 'Browse';
        background: #2757a6;
        border-color: #2757a6;
        color: #FFF;
        text-shadow: 1px 1px rgba(000,000,000,0.5);
    }

    .wordwrap {
        word-break: break-word !important;
    }

    .padding {
        padding-bottom: 12px;
    }
</style>
<section class="content" data-ng-init="loaddata()">
    <form class="form-horizontal ng-pristiline ng-valid" role="form" name="myForm" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">HEALTH CARD MASTER</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-12 col-md-12">
                    <br />
                    <div class="col-md-6 col-sm-6">
                        <div class="row padding">
                            <label class="control-label col-sm-4">Staff Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <ui-select id="sel1" name="studentname" ng-model="$parent.HRME_Id" theme="bootstrap" ng-keyup="searchfilter($select);" title="Select Student" required ng-change="OnChangeEmployee($parent.HRME_Id)" ng-disabled="HMTPD_Id > 0">
                                    <ui-select-match ng-trim="false" placeholder="Select or search staff">
                                        {{$select.selected.hrmE_EmployeeFirstName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="option in getemployeelist | filter: $select.search " value="{{option.hrmE_Id}}"
                                                       ng-selected="{{option.Selected == true}}">
                                        <div ng-bind-html="(option.hrmE_EmployeeFirstName)| highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="error-messages" ng-if="interacted(myForm.studentname)" ng-messages="myForm.studentname.$error">
                                    <div ng-message="required">Select staff name </div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding">
                            <label class="control-label col-sm-4">Member Id:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="Member"  class="form-control active" ng-model="HMTPD_MemberId" placeholder="Member Id" allow-pattern="[0-9.]" maxlength="50" autocomplete="off" />
                                <div class="error-messages" ng-if="interacted(myForm.Member)" ng-messages="myForm.Member.$error">
                                    <div ng-message="required">Enter "></div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding">
                            <label class="control-label col-sm-4">Policy Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="policy" class="form-control active" ng-model="HMTPD_PolicyName" allow-pattern="(\s|[a-zA-Z])" placeholder="Policy Name" maxlength="50"  autocomplete="off" />
                                <div class="error-messages" ng-if="interacted(myForm.policy)" ng-messages="myForm.policy.$error">
                                    <div ng-message="required">Enter policy name</div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding">
                            <label class="control-label col-sm-4">Plan Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="plan" class="form-control active" ng-model="HMTPD_PlanName" allow-pattern="(\s|[a-zA-Z])" placeholder="Plan Name" maxlength="50"  autocomplete="off" />
                                <div class="error-messages" ng-if="interacted(myForm.plan)" ng-messages="myForm.plan.$error">
                                    <div ng-message="required">Enter plan name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="row padding">
                            <label class="control-label col-sm-4">PolicyProvider:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="provider" class="form-control active" ng-model="HMTPD_PolicyProvider" allow-pattern="(\s|[a-zA-Z])" placeholder="Plan Name" maxlength="50"  autocomplete="off" />
                                <div class="error-messages" ng-if="interacted(myForm.provider)" ng-messages="myForm.provider.$error">
                                    <div ng-message="required">Enter policy Provider</div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding">
                            <label class="control-label col-sm-4">Plan Start Date:<span style="color:Red">*</span></label>
                            <div class="col-sm-8" style="padding-left: 0px !important;">
                                <md-datepicker ng-model="HMTPD_PlanStartDate" name="startdate" id="date1" md-placeholder="Enter date" md-min-date="plMaxdate" required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.startdate)" ng-messages="myForm.startdate.$error">
                                    <div ng-message="required">Select plan start Date</div>
                                </div>
                            </div>
                        </div>
                        <div class="row padding">
                            <label class="control-label col-sm-4">Plan End Date:<span style="color:Red">*</span></label>
                            <div class="col-sm-8" style="padding-left: 0px !important;">
                                <md-datepicker ng-model="HMTPD_PlanEndDate" name="endatediff" md-min-date="startdate" md-placeholder="Enter Date" required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.endatediff)" ng-messages="myForm.endatediff.$error">
                                    <div ng-message="required"> Select Plan End Date</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <br />
                        <div class="text-center">
                            <input type="hidden" ng-model="HMTPD_Id" value="{{HMTPD_Id}}"  autocomplete="off" />
                            <md-button type="submit" class="md-raised md-primary" id="save-btn" aria-disabled="false" ng-click="SaveDetails()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>Save
                            </md-button>
                            <md-button type="button" class="md-raised md-warn" data-ng-click="Clearid()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div class="box box-primary" ng-if="getreport.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">HEALTH CARD MASTER DETAILS</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box box-body">
            <div class="row">
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Sl.No.</th>
                        <th>Staff Name</th>
                        <th>Staff Code</th>
                        <th>MemberId</th>
                        <th>Policy Name</th>
                        <th>Plan Name</th>
                        <th>Plan start Date</th>
                        <th>Plan End Date</th>
                        <th>Policy Provider</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in filterValue1 = (getreport | filter : search)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{user.hrmE_EmployeeFirstName}}</td>
                        <td>{{user.hrmE_EmployeeCode}}</td>
                        <td>{{user.hmtpD_MemberId}}</td>
                        <td>{{user.hmtpD_PolicyName}}</td>
                        <td>{{user.hmtpD_PlanName}}</td>
                        <td>{{user.hmtpD_PlanStartDate |date:'dd/MM/yyyy'}}</td>
                        <td>{{user.hmtpD_PlanEndDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{user.hmtpD_PolicyProvider}}</td>
                        <td class="text-center">
                            <span ng-if="user.hmtpD_ActiveFlag == true">
                                <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a href="" ng-click="Deletedata(user)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    <i> Deactivate</i>
                                </a>
                            </span>
                            <span ng-if="user.hmtpD_ActiveFlag == false">
                                <a href="" ng-click="Deletedata(user)"
                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    <i> Activate </i>
                                </a>
                            </span>
                        </td>
                        <td class="hidden">
                            {{user.hmtpD_Id}}
                        </td>
                        <td class="hidden">
                            {{user.hrmE_Id}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
</section>

