
@media print {
    #BCOESAPP {
        width: 100%;
        margin: auto;
        font-size: 13px !important;
    }
    @page {
        size: a4 portrait;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        color: #3a5999 !important;
        font-weight: 700;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
        padding-bottom: 2px !important;
        padding-bottom: 2px !important;
    }

    .header p {
        margin-top: 0px !important;
        padding-top: 0px !important;
        font-size: 15px !important;
    }

    /*table {
        width: 100%;
        border: 0px !important;
        font-size: 1rem !important;
        line-height: 2;
    }*/

    .table {
        width: 100%;
        border: 0px !important;
        font-weight: 500;
        text-align: left !important;
        margin-bottom: 10px;
        font-size: 0.9rem !important;
        line-height: 1.5;
    }
    /* The standalone checkbox square*/
    .checkbox {
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        display: inline-block;
    }

        /* This is what simulates a checkmark icon */
        .checkbox.checked:after {
            content: '';
            display: block;
            width: 4px;
            height: 7px;
            /* "Center" the checkmark */
            position: relative;
            top: 4px;
            left: 7px;
            border: solid #000;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

    /*.BGHSAPP .table, .BGHSAPP .table > tbody > tr > td, .BGHSAPP .table > tbody > tr > th, .BGHSAPP .table > tfoot > tr > td, .BGHSAPP .table > tfoot > tr > th, .BGHSAPP .table > thead > tr > td, .BGHSAPP .table > thead > tr > th {
        padding: 10px;
        text-align: left !important;
        border: 0px !important;
        font-size: 1rem !important;
        line-height:1.5;
    }*/

    .border-bottom-dotted {
        border-bottom: 1px dotted #000 !important;
        text-align: left !important;
    }

    .box {
        margin: auto;
        padding: 10px;
        border: 1px solid #000;
    }

    .DOB-BOX {
        border: 1px solid #000;
        width: 25px;
        height: 22px;
        padding: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 6PX;
        margin: auto;
    }

    .img-style {
        width: 110px;
        height: 110px;
        border: 1px solid #ddd;
        margin: auto;
    }

    .d {
        width: 100px !important;
        margin: auto;
        text-align: center;
    }

    .m {
        width: 100px !important;
        margin: auto;
        text-align: center;
    }

    .y {
        width: 100px !important;
        margin: auto;
        text-align: center;
    }
}
