.BGHSTERM h1, .BGHSTERM h2, .BGHSTERM .BGHSTERM h3, .BGHSTERM h4, .BGHSTERM h5, .BGHSTERM h6 {
    font-family: "Times New Roman", Times, serif;
    text-transform: none;
    color: #000 !important;
    font-weight: 500;
}

.BGHSTERM .Monotype {
    font-family: Monotype Corsiva, Times, Serif;
    text-transform: capitalize;
}

.BGHSTERM .letter-spacing-4 {
    letter-spacing: 4px !important;
}

.BGHSTERM h4 {
    text-transform: none !important;
}


.BGHSTERM .table {
    border: 0px !important;
    font-weight: 500;
    text-align: left !important;
    font-size: 10px;
    line-height: 1.4;
}

.BGHSTERM thead a {
    color: #000 !important;
}

.BGHSTERM thead {
    background: #ffffff;
    color: #000 !important;
    text-align: center;
}

.BGHSTERM tdclass {
    background: #ffefd5;
    color: #000 !important;
    text-align: center;
}

.BGHSTERM .table > thead > tr > th, .BGHSTERM .table > tbody > tr > th,
.BGHSTERM .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #f4f4f4;
    font-size: 10px !important;
    font-weight: bold !important;
    font-family: "Times New Roman", Times, serif;
}

.BGHSTERM .table-bordered > thead > tr > th, .BGHSTERM .table-bordered > tbody > tr > th, .BGHSTERM .table-bordered > tfoot > tr > th,
.BGHSTERM .table-bordered > thead > tr > td, .BGHSTERM .table-bordered > tbody > tr > td, .BGHSTERM .table-bordered > tfoot > tr > td {
    border: 0.8px solid #cad4de;
    padding: 4px;
    vertical-align: bottom;
    line-height: 1.4 !important
}

.BGHSTERM .table-bordered {
    font-weight: 500;
    text-align: left !important;
    font-size: 10px;
    line-height: 2 !important;
    width: 100%;
}

.BGHSTERM h1, .BGHSTERM h2, .BGHSTERM h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: large !important;
}

.BGHSTERM .padding-top-60 {
    padding-top: 60px !important;
}

.BGHSTERM .padding-0 {
    padding: 0px !important;
}

.BGHSTERM .margin-top-5 {
    margin-top: 5px !important;
}

.BGHSTERM .margin-top-10 {
    margin-top: 10px !important;
}

.BGHSTERM .margin-top-20 {
    margin-top: 20px !important;
}

.BGHSTERM .margin-top-28 {
    margin-top: 30% !important;
}

.BGHSTERM .margin-top-30 {
    margin-top: 30px !important;
}

.BGHSTERM .margin-top-40 {
    margin-top: 40px !important;
}


.BGHSTERM .margin-top-50 {
    margin-top: 50px !important;
}

.BGHSTERM .margin-top-70 {
    margin-top: 70px !important;
}

.BGHSTERM .margin-top-100 {
    margin-top: 100px !important;
}

.BGHSTERM .margin-top-120 {
    margin-top: 120px !important;
}

.BGHSTERM .margin-top-150 {
    margin-top: 150px !important;
}


.BGHSTERM .margin-top-152 {
    margin-top: 152px !important;
}

.BGHSTERM .margin-top-160 {
    margin-top: 160px !important;
}

.BGHSTERM .margin-top-170 {
    margin-top: 170px !important;
}

.BGHSTERM .margin-top-192 {
    margin-top: 192px !important;
}

.BGHSTERM .margin-top-200 {
    margin-top: 200px !important;
}

.BGHSTERM .margin-left-33 {
    margin-left: 33px !important;
}

.BGHSTERM .margin-top-7 {
    margin-top: 7px !important;
}

.BGHSTERM label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    margin-top: -3px !important;
    font-weight: 300;
    color: #000;
    font-size: 12px !important;
}

.BGHSTERM.border-bottom {
    border-bottom: 1px solid #000;
}
