.margin-top-10 {
    margin-top: 10px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.padding-left-10 {
    padding-left: 10px;
}

.headerfixed {
    position: fixed;
    padding: 8em;
    left: 75%;
    top: 0%;
    width: 60%;
    transform: translateX(-50%);
}

.questionstyle {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Times New Roman !important;
}

.optionssytle {
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: Times New Roman !important;
}

.imgdisplay {
    height: 100px !important;
    width: 200px !important;
}

.imgdisplayoptions {
    height: 100px !important;
    width: 155px !important;
    border: 0.5px solid black;
}

.padding-left0px {
    padding-left: 0px;
}

.levelheading {
    font-size: 25px !important;
    font-weight: bold !important;
    color: black !important;
    text-transform: none;
    word-break: break-word;
}

.padding-left12px {
    padding-left: 12px;
}

.padding-left18px {
    padding-left: 18px !important;
}

.padding-left-35 {
    padding-left: 35px;
}
.styleborder {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px !important;
}
.padding-left12px {
    padding-left: 12px;
}