
	.letterhead-top-padding .content1{
	 width: 85%;
	 margin: auto;
	 font-size: 18px;
	 height: auto;
	margin-top: 35%;
    font-weight:bolder;
}
.letterhead-top-padding .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row; 
      line-height: 39px;   
   font-weight:normal;
}
.letterhead-top-padding .label1{
	padding-left: 10%;
}

.letterhead-top-padding .flex-header{
	 display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row;
 
  line-height: 20px; 
  margin-bottom:2%;
}
.letterhead-top-padding .flex-footer{
	 display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row;
 
  line-height: 39px;  
   padding-top: 4%; 
}
.letterhead-top-padding .flex-item1 {  
   width: 100px;
    border-bottom:solid thin #000;
     margin-left: 10px;
   margin-right: 10px;
     text-align: center;    
}
.letterhead-top-padding .flex-item2 {
      width: 308px;
      border-bottom:solid thin #000;
      text-align: center;
}
.letterhead-top-padding .flex-item3 {
      width: 308px;
      border-bottom:solid thin #000;
      text-align: center;
      clear: both;
}
.flex-right{
     border-bottom:solid thin #000;
      text-align: center;    
    position: absolute;
    right: 7%;
    padding-top: 3%;
    width: 17%;
    
}
.letterhead-top-padding .h1 {position: absolute;right: 9%;}
.letterhead-top-padding .c { position: absolute; right: 11%; }

.letterhead-top-padding .flex-item {
   border-bottom:solid thin #000;
   flex: 2;
   margin-left: 10px;
   margin-right: 10px;
     text-align: center;
}
.letterhead-top-padding .footer{
	
	margin-top:5%;
	text-align: center;
}
.letterhead-top-padding .label{
	clear: both;
}

/*baldwin code education*/
.letterhead-top-padding .l1{
    padding-left: 58%;
}
.letterhead-top-padding .l2{
    padding-left:48%;
}
.letterhead-top-padding .tc{
    border-bottom:dashed thin #000;
     margin-left: 2px;
 
}
.letterhead-top-padding .date {  
   width: 100px;   
     margin-left: 10px;
   margin-right: 10px;
     text-align: center;    
}
.letterhead-top-padding .co-label-start{
     flex: 1;
   margin-right: 10px;    
     font-weight:bold;   
}
.letterhead-top-padding .co-label{
     flex: 2;
      margin-left: 10px;
   margin-right: 10px;
     text-align: center;
     font-weight:bold;
    
}
/*print add by vishnu*/
.letterhead-top-padding .content{
	 width: 90%;
	 margin: auto;
	 font-size: 16px;
	 padding: 2%;	
	 height: auto;
}
.letterhead-top-padding .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row; 
      line-height: 39px;   
  
}
.letterhead-top-padding .label1{
	padding-left: 10%;
}
.letterhead-top-padding .flex-header{
	 display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row;
 
  line-height: 39px; 
  margin-bottom:2%;
}
.letterhead-top-padding .flex-footer{
	 display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row;
 
  line-height: 39px;  
   padding-top: 4%; 
}
.letterhead-top-padding .flex-item1 {  
   width: 100px;
    border-bottom:solid thin #000;
     margin-left: 10px;
   margin-right: 10px;
     text-align: center;    
}
.letterhead-top-padding.flex-item2 {
      width: 308px;
      border-bottom:solid thin #000;
      text-align: center;
}
.letterhead-top-padding.flex-item3 {
      width: 308px;
      border-bottom:solid thin #000;
      text-align: center;
      clear: both;
}

.letterhead-top-padding .h1 {position: absolute;right: 11%;}
.letterhead-top-padding .c { position: absolute; right: 11%; }

.letterhead-top-padding .sign{
    position: absolute;
    right: 25%;
}
.letterhead-top-padding .flex-item {
   border-bottom:solid thin #000;
   flex: 2;
   margin-left: 10px;
   margin-right: 10px;
     text-align: center;
}
.letterhead-top-padding .footer{
margin-top: 5%;
    text-align: center;
    margin-bottom: 1%;
}
.letterhead-top-padding .footer label{
    float:left;
}
.letterhead-top-padding .label{
	clear: both;
}
/*tc styles*/
.letterhead-top-padding header{
    text-align:center;
        padding: 3%;
}
.letterhead-top-padding h2{   
    font-weight:bold;
        margin-bottom: 0px;
}
.letterhead-top-padding .flex-tc-item { 
   flex: 2;
   margin-left: 10px;
   margin-right: 10px;
     text-align: center;
     font-weight:bold;
}
.letterhead-top-padding .flex-tc-item-left { 
   flex: 2; 
     text-align: left;
     font-weight:bold;

}
.letterhead-top-padding .flex-tc-item-center { 
   flex: 2; 
     
     font-weight:bold;
     padding-left:50px;
}
.letterhead-top-padding .flex-tc-item-right { 
   flex: 2;  
     text-align: right;
     font-weight:bold;
}
.letterhead-top-padding .flex-tc-label1 {  
   width: 100px;
    border-bottom:dotted thin #000;
     margin-left: 10px;
   margin-right: 10px;
     text-align: center; 
      font-weight:bold;   
}
.letterhead-top-padding .flex-tc-label2 {
      width: 308px;
      border-bottom:solid thin #000;
      text-align: center;
       font-weight:bold;
}
.letterhead-top-padding .flex-tc-item-date {  
   width: 100px;  
     margin-left: 10px;
   margin-right: 10px;
     text-align: center;    
}
/*certificate styles*/

.letterhead-top-padding .flex-c-header {position: absolute;right: 5%;}
.letterhead-top-padding .flex-c-label {  
   width: 100px;
    border-bottom:dotted;
     margin-left: 10px;
   margin-right: 10px;
     text-align: center; 
      font-weight:bold;   
}
.letterhead-top-padding .flex-c-item { 
   flex: 2;
     border-bottom:dotted thin #000;
   margin-left: 10px;
   margin-right: 10px;
     text-align: center;
     font-weight:bold;
}
.letterhead-top-padding .flex-c-item-sign {  
   width: 100px;  
     margin-left: 10px;
   margin-right: 10px;
     text-align: center;    
}
.letterhead-top-padding .flex-item-border { 
   flex: 2;
 
     border-bottom: 7px double;
     margin-bottom:1%;
     
}

.letterhead-top-padding{
    padding-top:15% !important ;
}


