@media print {
    .table-bordered tfoot > tr > td {
        border-top: 0px !important;
        border: 0px !important;
        position: fixed;
        bottom: -10px;
        font-size:8px !important;
      
    }

    .table-bordered tfoot {
        border: 0px !important;
        font-size: 8px !important;
    }

    .table-bordered thead > tr > th {
        font-weight: bold;
        font-size: 8px !important;
    }

    .table-bordered {
        table-layout: fixed;
        width: 100%;
        text-align: left !important;
        font-size: 8px !important;
    }

    .text-bold {
        font-weight: bold !important;
        font-size: 8px !important;
    }
}
