
@media print {
    .tablenew {
        font-size: 20px;
    }

    .border-top {
        border-top: 1px solid #000;
        width: 100%;
    }

    .margin-10 {
        margin: 10px !important;
    }

    .margin-top-5 {
        margin-top: 5px !important;
    }

    .margin-top-10 {
        margin-top: 10px !important;
    }

    .margin-top-15 {
        margin-top: 15px !important;
    }

    .margin-top-20 {
        margin-top: 20px !important;
    }

    .margin-top-30 {
        margin-top: 30px !important;
    }

    .margin-top-40 {
        margin-top: 40px !important;
    }

    .margin-top-45 {
        margin-top: 45px !important;
    }

    .margin-top-50 {
        margin-top: 50px !important;
    }

    .margin-top-55 {
        margin-top: 55px !important;
    }

    .margin-top-60 {
        margin-top: 60px !important;
    }


    .margin-top-80 {
        margin-top: 80px !important;
    }

    .margin-top-100 {
        margin-top: 100px !important;
    }

    .margin-top-120 {
        margin-top: 120px !important;
    }

    .margin-top-150 {
        margin-top: 150px !important;
    }

    .margin-top-180 {
        margin-top: 180px !important;
    }

    .margin-top-200 {
        margin-top: 200px !important;
    }

    .margin-top-220 {
        margin-top: 220px !important;
    }

    .margin-top-230 {
        margin-top: 230px !important;
    }

    .margin-top-240 {
        margin-top: 240px !important;
    }

    .margin-top-250 {
        margin-top: 250px !important;
    }

    .margin-top-260 {
        margin-top: 260px !important;
    }

    .margin-top-280 {
        margin-top: 280px !important;
    }

    .margin-top-300 {
        margin-top: 300px !important;
    }

    .margin-top-350 {
        margin-top: 350px !important;
    }

    .padding-10 {
        padding: 10px !important;
    }

    .padding-top-5 {
        padding-top: 5px !important;
    }

    .padding-top-10 {
        padding-top: 10px !important;
    }

    .padding-top-15 {
        padding-top: 15px !important;
    }

    .padding-top-20 {
        padding-top: 20px !important;
    }

    .padding-top-30 {
        padding-top: 30px !important;
    }

    .padding-top-40 {
        padding-top: 40px !important;
    }

    .padding-top-50 {
        padding-top: 50px !important;
    }

    .padding-top-60 {
        padding-top: 60px !important;
    }

    .padding-top-70 {
        padding-top: 70px !important;
    }


    .border-bottom-dotted {
        border-bottom: 1px dotted #000 !important;
        text-align: center;
    }

    .text-bold {
        font-weight: bold;
    }

    .padding-left-100 {
        padding-left: 100px !important;
    }

    .padding-left-50 {
        padding-left: 50px !important;
    }

    .text-center {
        text-align: center !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-uppercase {
        text-transform: uppercase !important;
    }

    .width-2 {
        width: 2px;
    }

    .width-5 {
        width: 5px;
    }

    .width-20 {
        width: 20px;
    }

    .width-40 {
        width: 40px;
    }

    .width-50 {
        width: 50px;
    }

    .width-60 {
        width: 60px;
    }

    .width-70 {
        width: 70px;
    }

    .width-80 {
        width: 80px;
    }

    .width-90 {
        width: 90px;
    }

    .width-100 {
        width: 100px;
    }

    .width-110 {
        width: 110px;
    }

    .width-120 {
        width: 120px;
    }

    .width-130 {
        width: 130px;
    }

    .width-140 {
        width: 140px;
    }

    .width-150 {
        width: 150px;
    }

    .width-160 {
        width: 160px;
    }

    .width-180 {
        width: 150px;
    }

    .width-280 {
        width: 280px;
    }

    .width-220 {
        width: 220px;
    }

    .width-225 {
        width: 225px;
    }

    .width-240 {
        width: 240px;
    }

    .width-250 {
        width: 250px;
    }

    .width-260 {
        width: 260px;
    }


    .width-200 {
        width: 200px;
    }

    .width-270 {
        width: 270px;
    }

    .width-300 {
        width: 300px;
    }

    .width-320 {
        width: 320px;
    }

    .width-340 {
        width: 340px;
    }

    .width-360 {
        width: 360px;
    }

    .width-380 {
        width: 380px;
    }

    .width-480 {
        width: 480px;
    }

    .width-400 {
        width: 400px;
    }

    .width-450 {
        width: 450px;
    }

    .width-500 {
        width: 500px;
    }

    .width-520 {
        width: 520px;
    }

    .width-580 {
        width: 580px;
    }

    .width-600 {
        width: 600px;
    }

    .width-700 {
        width: 700px;
    }

    .width-800 {
        width: 800px;
    }

    .width-1000 {
        width: 1000px;
    }
}

.table, th, td {
    font-size: 14px;
    line-height: 1.5 !important;
    *padding: 10px;
    /*padding: 5px !important;*/
}

.table3, th, td {
    font-size: 18px;
    line-height: 0.9;
    *padding: 8px;
}

.huva {
    font-size: 18px;
}


.Electives {
    margin-top: 25px;
}


.width100 {
    width: 100%;
}

.paddingLeftCss {
    border-left: #000 dotted;
    padding-left: 5px !important;
}

.borderright {
    padding-right: 5px;
}

.tabletc {
    width: 100%;
}
