
@media print {
    body{
        margin:0px;
        padding:0px;
    }
    @page{
        margin-top:90px;
    }
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid gray;
        font-size: 12px !important;
        text-align: center !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 8px;
      
    }

    .table-bordered {
        border: 1px solid gray;
        font-size: 12px !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        table-layout: auto;
        width: 100%;
        padding: 8px;
      
    }
    .table {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        table-layout: fixed;
        width: 100%;
        border: 1px solid gray;
        text-align: center !important;
        font-size: 12px !important;
        padding: 8px;
       
    }
    table {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        table-layout: auto;
        width: 100%;
        border: 1px solid gray;
        text-align: center !important;
        padding: 8px;
       
    }
    .text-right {
        text-align: right !important;
    }
    .margin-bottom-50{
            margin-bottom: 20px;
    }
}
