
@media print {
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border:1px solid gray;
        padding: 10px;
        text-align: center !important;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    }

 .table-bordered {
     border:1px solid gray;
          padding: 10px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        table-layout: auto;
        width: 100%;
        
    }
        .table {
             font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        table-layout: fixed;
        width: 100%;
       border:1px solid gray;
        text-align: center !important;
         font-size:14px !important;
              padding: 10px;
             
    }
    table {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        table-layout: auto;
        width: 100%;     
         border:1px solid gray;
        text-align:center !important; 
             padding: 10px;
             
    }
}
