@media print {
    @page {
        margin: 6mm 10mm;
    }

    body {
        margin: 0px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .box-profile {
        box-sizing: border-box;
        width: 150px;
        height: auto;
        border: 1px solid;
    }

    label {
        color: rgb(13, 64, 115);
        font-weight: 600;
        font-size: 12px !important;
    }

    .flex {
        display: flex !important;
    }

    .form-horizontal .control-label {
        padding-top: 5px;
        margin-bottom: 0;
        text-align: left;
        font-size: 12px !important;
    }

    .form-group {
        margin-bottom: 7px !important;
    }

    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: -15px;
    }

    .img-responsive {
        width: 100% !important;
        height: 150px !important;
    }

    input::-webkit-input-placeholder {
        color: red !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
        color: red !important;
    }

    input::-moz-placeholder { /* Firefox 19+ */
        color: red !important;
    }

    input[disabled], input:read-only, input:disabled {
        color: #000 !important;
    }

    input:-ms-input-placeholder {
        color: red !important;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        color: #000 !important;
    }

    label.form-control {
        display: block;
        width: 100%;
        height: 15px;
        padding-top: 6px !important;
        /*padding: 3px 3px;*/
        font-size: 12px !important;
        /*line-height: 0.4 !important;*/
        color: #000 !important;
        background-color: #fff;
        background-image: none;
        border: 1px solid #333;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .checkbox {
        width: 20px;
        height: 20px;
        /*border: 1px solid #000;*/
        display: inline-block;
    }

        /* This is what simulates a checkmark icon */
        .checkbox.checked:after {
            content: '';
            display: block;
            width: 4px;
            height: 7px;
            /* "Center" the checkmark */
            position: relative;
            top: 4px;
            left: 10px;
            border: solid #000;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }




    .mmb {
        border: 1px solid #ccc;
        background: linear-gradient(to left, #ccc 1px, transparent 0);
        background-size: 18px;
        width: 100%;
        font: 12px monaco, monospace;
        letter-spacing: 10.5px;
        text-indent: 5px;
        text-transform: uppercase;
    }
    .form-control {
        display: block;
        width: 100%;
        /*height: 20px;*/
        padding: 2px 12px;
        font-size: 13px !important;
        /*line-height: 0.2 !important;*/
        color: #000 !important;
        background-color: #fff;
        background-image: none;
        border: 1px solid #333;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .input-group-addon {
        padding: 2px 12px;
        font-size: 14px !important;
        font-weight: 400;
        /*line-height: 1;*/
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .newtable {
        width: 80%;
    }
    .input-group-addon, .input-group-btn {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    }

    .input-group .form-control, .input-group-addon, .input-group-btn {
        display: table-cell;
        font-size: 12px !important;
    }

    .input-group {
        position: relative !important;
        display: table !important;
        border-collapse: separate !important;
    }
    /*.input-group-addon:first-child {
        border-right: 0;
    }*/
    .input-group-addon {
        border-radius: 0 !important;
        border: 1px solid #333;
        background-color: #fff !important;
        color: #000 !important;
    }

    .table {
        text-align: left;
        border: 0px !important;
        table-layout: auto;
        width: 100%;
        margin: auto;
        /*line-height: 0.2 !important;*/
        font-size: 14px !important;
    }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 7px;
            line-height: 1.2 !important;
            vertical-align: top !important;
            border-top: 0px !important;
            border-bottom: none;
        }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 0.8px solid #cad4de;
        vertical-align: top !important;
    }

    .table-bordered {
        table-layout: auto;
        width: 100%;
        margin: auto;
        margin-top: 10px;
        border-bottom: none;
    }

        .table-bordered .table {
            padding: 0px;
        }

    .table .table .col-sm-4, .table .table .col-sm-8 {
        padding-left: 0px;
    }

    .margin-left-20 {
        margin-left: 20px !important;
    }

    .td-width .col-sm-12 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .table-bordered .col-sm-4, .table-bordered .col-sm-8,
    .table-bordered .col-sm-2, .table-bordered .col-sm-6,
    .table-bordered .col-sm-3, .table-bordered .col-sm-5, .table-bordered .col-sm-12,
    .table-bordered .col-sm-7, .table-bordered .col-sm-9 {
        padding-left: 30px;
        padding-right: 30px;
        border-bottom: none;
    }

    .table .form-group .control-label {
        font-weight: 600;
        text-align: left;
    }

    .table-bordered > thead > tr > td:nth-child(2) {
        padding: 10px;
        border-bottom: none;
    }
}
