#TeresianID1 label {
    color: rgb(13, 64, 115);
    font-weight: 600;
}
#TeresianID1 .teresian_Admission .form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cad4de;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#TeresianID1 .teresian_Admission .input-group .input-group-addon {
    border-radius: 0;
    border-color: #cad4de;
    background-color: #fff;
    color: #000;
}
#TeresianID1 .box-profile {
    box-sizing: border-box;
    width: 150px;
    height: auto;
    border: 1px solid;
}
#TeresianID1 .padding-2 .table > tbody > tr > td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
#TeresianID1 .table {
    text-align: left;
    border: 0px;
    table-layout: auto;
    width: 100%;
    margin: auto;
    line-height: 1.5;
    font-size: 12px !important;
}
#TeresianID1 .flex {
    display: flex !important;
}
#TeresianID1 .table > tbody > tr > td,
#TeresianID1 .table > tbody > tr > th, #TeresianID1 .table > tfoot > tr > td, #TeresianID1 .table > tfoot > tr > th,
#TeresianID1 .table > thead > tr > td, #TeresianID1 .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 0px !important;
    font-size: 12px !important;
}
#TeresianID1 .table-bordered {
    table-layout: auto;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    line-height: 1.5;
    font-size: 12px !important;
}

    #TeresianID1 .table-bordered .table {
        padding: 0px;
    }

#TeresianID1 .table .table .col-sm-4, .table .table .col-sm-8 {
    padding-left: 0px;
}

#TeresianID1 .margin-left-20 {
    margin-left: 20px !important;
}

#TeresianID1 .td-width .col-sm-12 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.table-bordered .col-sm-4, .table-bordered .col-sm-8,
.table-bordered .col-sm-2, .table-bordered .col-sm-6,
.table-bordered .col-sm-3, .table-bordered .col-sm-5, .table-bordered .col-sm-12,
.table-bordered .col-sm-7, .table-bordered .col-sm-9 {
    padding-left: 30px;
    padding-right: 30px;
}

#TeresianID1 .table .form-group .control-label {
    font-weight: 600;
    text-align: left;
}

#TeresianID1 .table-bordered > thead > tr > td:nth-child(2) {
    padding: 10px;
}
