
@media print {
    @page {
   size: 5.90in 8.26in;
   margin: 0mm 16mm 0mm 16mm;
   }
    /*.text-capitalize {
        text-transform: capitalize !important;
    }

    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .table {
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        font-weight: 500;
        text-align: left !important;
        margin-bottom: 10px;
        font-size: 19px !important;
        line-height: 1.5 !important;       
    }

    table {
        border: 0px !important;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 15px;
        font-size: 19px !important;
    }*/
    .headerLogo {
        width: 100% !important;
    }

        .headerLogo img {
            height: 115px;
        }

    .certificateHeader th {
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
    }

    .certificateHeader {
        width: 100%;
    }

        .certificateHeader tr {
            text-align: center;
        }

    .certificateIs {
        text-align: center;
    }

    .cerDetails b {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 16px;
    }


    .cerDetails td {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
    }

    .paddingCss {
        padding-left: 50px;
    }

    .signCss {
        margin-top: 120px;
        text-align: center;
    }

    .signCss {
        width: 100%;
    }

        .signCss p {
            margin-top: 0px;
        }

    .paddingZero {
        margin-top: 0px !important;
        width: 70%;
        margin: 0 auto;
    }

    .marginZero {
        margin-bottom: 19px;
    }

}
