


table {
    border: 0px !important;
    table-layout: auto;
    width: 100%;
    text-align: left !important;
    font-size: 14px;
    font-weight: 600;
}
.col-sm-6 {
    margin-bottom: 30px; min-height: 166px;
}