/*@media print {

    label {
        width: 200px !important;
        word-break: break-all !important;
    }

    body {
        margin: 0px !important;
    }

    table {
        border: 0px !important;
        table-layout: auto;
        width: 100%;
        text-align: left !important;
        font-size: 10px !important;
        font-weight: 500;
    }

        table td {
            padding-left: 20px;
        }
   
    .col-sm-6 {
        min-height: 180px;
    }
}*/
@media print {

    /*label {
        width: 200px !important;
        word-break: break-all !important;
    }*/

    @page {
        margin: 0px !important;
    }

    .page-break {
        display: block;
        page-break-before: always;
    }

    table {
        table-layout: auto;
        width: 100%;
        text-align: left !important;
        font-size: 15px !important;
        font-weight: 500;
    }

        table td {
            padding-left: 20px;
        }
    /*.SRKVSStudentAddressBook div:nth-child(4n) {
        page-break-after: always !important;
    }*/
    .col-sm-6 {
        min-height: 175px;
        margin-top: 2px;
        margin-bottom: 2px;
        float: left;
    }
}
