
<section class="content">
    <div data-ng-init="getpagesname()">
        <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Active Deactive Students</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="well text-center" ng-init="AMST_SOL='S'">
                            <label class="radio-inline">
                                <input name="optradio" type="radio" value="S" data-ng-model="AMST_SOL" ng-change="radiobtnchange()">
                                <span class="lbl padding-8">Active students</span>
                            </label>
                            <label class="radio-inline">
                                <input name="optradio" type="radio" value="D" data-ng-model="AMST_SOL" ng-change="radiobtnchange()">
                                <span class="lbl padding-8">Deactive Students</span>
                            </label>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<strong style="color:red;">*</strong></label>
                            <div class="col-sm-8">
                                <select name="ayear" class="form-control" id="sel1" ng-model="ASMAY_Id" ng-change="onacademicyearchange(yearlist)" required>
                                    <option value="">Select Academic Year</option>
                                    <option ng-repeat="option in yearlist" value="{{option.asmaY_Id}}" ng-selected="{{option.Selected == true}}">
                                        <!--ng-change="onacademicyearchange(yearlist)"-->
                                        {{option.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.ayear)" ng-messages="myForm.ayear.$error">
                                    <div ng-message="required">Select Academic Year</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class:<strong style="color:red;">*</strong></label>
                            <div class="col-sm-8">
                                <select name="adclass" class="form-control" id="sel1" ng-model="ASMCL_Id" required ng-change="classchange()">
                                    <option value="">Select Class </option>
                                    <option ng-repeat="option in classlist" value="{{option.asmcL_Id}}" ng-selected="{{option.Selected == true}}">
                                        <!--ng-change="onclasschange(classlist)"-->
                                        {{option.asmcL_ClassName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.adclass)" ng-messages="myForm.adclass.$error">
                                    <div ng-message="required">Select Class</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section:<strong style="color:red;">*</strong></label>
                            <div class="col-sm-8">
                                <select name="adsection" class="form-control" id="sel1" ng-model="ASMC_Id" ng-change="fillstudentlist()" required>
                                    <option value=""> Select Section</option>
                                    <option ng-repeat="option in sectionlist" value="{{option.asmS_Id}}" ng-selected="{{option.Selected == true}}">
                                        <!--ng-change="onsectionchange(sectionlist)"-->
                                        {{option.asmC_SectionName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.adsection)" ng-messages="myForm.adsection.$error">
                                    <div ng-message="required">Select Section</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="box box-primary" ng-hide="adtable">
                <div class="box-header with-border">
                    <h3 class="box-title">Activate Deactivate Students</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{presentCountgrid}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-responsive table-bordered text-center">
                        <thead>
                            <tr>
                                <th>
                                    <a href="" ng-click="sort('sno')">SL. No.</a>
                                </th>
                                <th>
                                    <label>
                                        <input type="checkbox" value="" ng-click="toggleAll()" ng-model="all">
                                        <span class="lbl padding-8"></span>
                                    </label>
                                </th>
                                <th>
                                    <a href="" ng-click="sortBy('regno')">Reg. No.</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortBy('admno')">Adm. No.</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortBy('name')">Student Name</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortBy('Reason')">Reason</a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortBy('remarks')">Remarks</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr dir-paginate="user in filterValue1 = (students | filter : searchValue)  |orderBy:propertyName:reverse|itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                                <!--<p style="color: red;" ng-show="myForm.adcheckt.$error.required">You must choose atleast 1 checkbox</p>-->
                                <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td class="text-center">
                                    <label>
                                        <input type="checkbox" name="adcheckt" value="{{user.amsT_Id}}" ng-model="user.checkedvalue" ng-change="optionToggled()" ng-required="isOptionsRequired()">
                                        <span class="lbl padding-8"></span>
                                    </label>
                                </td>
                                <td>{{ user.regno}}</td>
                                <td>{{ user.admno}}</td>
                                <td>{{ user.name}}</td>
                                <td>
                                    <div class="form-group">
                                        
                                        <div class="col-sm-8">
                                            <select name="t2_{{user.amsT_Id}}" class="form-control" id="sel1" ng-model="user.reason" ng-required="user.checkedvalue"  required>
                                                <option value=""> Select Reason</option>
                                                <option value="Fee Due">Fee Due</option>
                                                <option value="Long Absent">Long Absent</option>
                                                <option value="Medical">Medical</option>
                                            </select>
                                            <div class="error-messages" ng-if="interacted(myForm['t2_'+user.amsT_Id])" ng-messages="myForm['t2_'+user.amsT_Id].$error">
                                                <div ng-message="required">Select Reason</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="t1_{{user.amsT_Id}}"  ng-model="user.remarks" id="comment" allow-pattern="(\s|[a-zA-Z0-9]|,|-)" maxlength="100" ng-required="user.checkedvalue" />
                                    <div class="error-messages" ng-if="interacted(myForm['t1_'+user.amsT_Id])" ng-messages="myForm['t1_'+user.amsT_Id].$error">
                                        <div ng-message="required">Enter Remarks For Selected Student</div>
                                    </div>
                                </td>
                                <td hidden="hidden">{{user.amsT_Id}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="error-messages" ng-if="interacted(myForm.adcheckt)" ng-messages="myForm.adcheckt.$error">
                        <div ng-message="required">Select Atleast One Check Box</div>
                    </div>
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>

                 
                    <div class="well text-center">
                        <label class="radio-inline">
                            <input name="optradio" type="checkbox" value="S" disabled data-ng-model="AMST_SOL_activate">
                            <span class="lbl padding-8">Activate the Students</span>
                        </label>
                        <label class="radio-inline">
                            <input name="optradio" type="checkbox" value="D"  disabled data-ng-model="AMST_SOL_deactivate">

                            <span class="lbl padding-8">Deactivate the Students</span>
                        </label>
                    </div>
                    <hr />
                    <div class="text-center">
                        <md-button type="button" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="savedata(students)">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            Save
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" data-ng-click="Clearid()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Clear
                        </md-button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
