

<section class="content" data-ng-init="BindData()">


    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">School Competitive Exam</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Competitive Exam">
                            <md-content class="md-padding">
                                <form class="form-horizontal" role="form" name="myform1" novalidate>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-5">Competitive Exam Name:<span style="color:red">*</span> </label>
                                                <div class="col-sm-7">
                                                    <input class="form-control" type="text" ng-model="ASMCE_CEName" name="ASMCE_CEName" required />
                                                    <div class="error-messages" ng-if="interacted(myform1.ASMCE_CEName)" ng-messages="myform1.ASMCE_CEName.$error">
                                                        <div ng-message="required">Enter Competitive Exam Name</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-5">Competitive Exam Code:<span style="color:red">*</span> </label>
                                                <div class="col-sm-7">
                                                    <input class="form-control" type="text" name="ASMCE_CECode" ng-model="ASMCE_CECode" required />
                                                    <div class="error-messages" ng-if="interacted(myform1.ASMCE_CECode)" ng-messages="myform1.ASMCE_CECode.$error">
                                                        <div ng-message="required">Enter Competitive Exam Code</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="text-center">

                                        <input type="hidden" ng-model="ASMCE_Id" />
                                        <md-button type="submit" class="md-raised md-primary" ng-click="savedata()">
                                            <i class="fa fa-save" aria-hidden="true"></i> Save
                                        </md-button>
                                        <md-button type="button" class="md-raised md-warn" ng-click="clearid()">
                                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                        </md-button>
                                    </div>

                                </form>
                                <div class="box box-primary" ng-show="mastervehicle.length>0">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">School Competitive Exam</h3>

                                        <div class=""></div>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <div class="">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        <b> Total Grid Records :</b>
                                                        <label class="badge">
                                                            {{totcountfirst}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group" ng-if="searchValue!=''">
                                                    <label class="control-label">
                                                        <b>Total Records Searched : </b>
                                                        <label class="badge">
                                                            {{filterValue1.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 pull-right">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                        <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <table class="table table-hover table-responsive table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <a href="" ng-click="order('sno')">SLNO</a>
                                                    </th>
                                                    <th>
                                                        <a href="" ng-click="sort('asmcE_CEName')">Competitive Exam Name</a>
                                                    </th>
                                                    <th><a href="" ng-click="sort('asmcE_CECode')">Competitive Exam Code</a> </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="user in filterValue1=(mastervehicle  | filter : filterValue) |orderBy:sortKey:reverse  |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'" pagination-id="page1">
                                                    <td>{{ itemsPerPage *(currentPage-1)+$index+1}}</td>
                                                    <td style="text-align:left;">{{ user.asmcE_CEName}}</td>
                                                    <td style="text-align:left;">{{ user.asmcE_CECode}}</td>
                                                    <td style="display:none;">{{ user.asmcE_ActiveFlag}}</td>
                                                    <td class="text-center">
                                                        <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </a>
                                                        <span ng-if="user.asmcE_ActiveFlag ===false ">
                                                            <a href="" ng-click="deactive(user)"
                                                               class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                                Activate
                                                            </a>
                                                        </span>
                                                        <span ng-if="user.asmcE_ActiveFlag === true ">
                                                            <a href="" ng-click="deactive(user)"
                                                               class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                                Deactivate
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <dir-pagination-controls max-size="5" pagination-id="page1"
                                                                 direction-links="true"
                                                                 boundary-links="true">
                                        </dir-pagination-controls>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>


                        <md-tab label="Stream Class Competitve Exam">
                            <md-content class="md-padding">
                                <form class="form-horizontal" role="form" name="myform2" novalidate>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-5">Competitive Exam Name:<strong style="color:red">*</strong></label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" ng-model="ASMCE_Id" name="acdyr4" required>
                                                        <option value="">--Select--</option>
                                                        <option ng-repeat="option in cexamlist" value="{{option.asmcE_Id}}" ng-selected="{{option.asmcE_Id==ASMCE_Id}}">{{option.asmcE_CEName}}</option>
                                                    </select>
                                                    <div class="error-messages" ng-if="interacted2(myform2.acdyr4)" ng-messages="myform2.acdyr4.$error">
                                                        <div ng-message="required">Please Select Competitive Exam Name</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-5">Stream Name:<strong style="color:red">*</strong></label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" ng-model="ASMST_Id" name="acdyr" required>
                                                        <option value="">--Select--</option>
                                                        <option ng-repeat="option in streamlist" value="{{option.asmsT_Id}}" ng-selected="{{option.asmsT_Id==ASMST_Id}}">{{option.asmsT_StreamName}}</option>
                                                    </select>
                                                    <div class="error-messages" ng-if="interacted2(myform2.acdyr)" ng-messages="myform2.acdyr.$error">
                                                        <div ng-message="required">Please Select Stream Name</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-5">Class Name:<strong style="color:red">*</strong></label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" ng-model="ASMCL_Id" name="acdyr" required>
                                                        <option value="">--Select--</option>
                                                        <option ng-repeat="option in classlist" value="{{option.asmcL_Id}}" ng-selected="{{option.asmcL_Id==ASMCL_Id}}">{{option.asmcL_ClassName}}</option>
                                                    </select>
                                                    <div class="error-messages" ng-if="interacted2(myform2.acdyr2)" ng-messages="myform2.acdyr2.$error">
                                                        <div ng-message="required">Please Select Class Name</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" ng-model="ASSTCLCE_CompulsoryFlg">
                                                <span class="lbl padding-8">Compulsory Flag</span>
                                            </label>
                                        </div>
                                    </div>
                                 

                                    <hr />
                                    <div class="text-center">
                                        <input type="hidden" ng-model="ASSTCLCE_Id" />
                                        <md-button type="submit" class="md-raised md-primary" ng-click="savedata2()">
                                            <i class="fa fa-save" aria-hidden="true"></i> Save
                                        </md-button>
                                        <md-button type="button" class="md-raised md-warn" ng-click="clearid2()">
                                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                        </md-button>
                                    </div>
                                </form>
                                <div class="box box-primary" ng-show="mastervehicle2.length>0">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">School Stream Class Competitve Exam</h3>

                                        <div class=""></div>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <div class="">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        <b> Total Grid Records :</b>
                                                        <label class="badge">
                                                            {{totcountfirst2}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group" ng-if="searchValue2!=''">
                                                    <label class="control-label">
                                                        <b>Total Records Searched : </b>
                                                        <label class="badge">
                                                            {{filterValue3.length}}
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 pull-right">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                        <input class="form-control" ng-model="searchValue2" type="text" placeholder="search here...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-hover table-responsive table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th><a href="" ng-click="order('sno')">SLNO</a></th>
                                                    <th><a href="" ng-click="sort2('asmcE_CEName')">Competitive Exam Name</a></th>
                                                    <th><a href="" ng-click="sort2('asmsT_StreamName')">Stream Name</a></th>
                                                    <th><a href="" ng-click="sort2('asmcL_ClassName')">Class Name</a></th>
                                                    <!--<th>View</th>-->

                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="user1 in filterValue3=(mastervehicle2  | filter : filterValue2) |orderBy:sortKey:reverse  |itemsPerPage:itemsPerPage2" current-page="currentPage2" ng-class-odd="'odd'" pagination-id="page2">
                                                    <td>{{ itemsPerPage2 *(currentPage2-1)+$index+1}}</td>
                                                    <td style="text-align:left;">{{ user1.asmcE_CEName}}</td>
                                                    <td style="text-align:left;">{{ user1.asmsT_StreamName}}</td>
                                                    <td style="text-align:left;">{{ user1.asmcL_ClassName}}</td>
                                                    <!--<td>
                                                        <span>
                                                            <a href="javascript:void(0)" class="text-primary" data-placement="bottom" data-toggle="modal" title="Student details" data-target="#modalStudent" ng-click="get_MappedStudent(user1)">
                                                                <i class="fa fa-eye fa-1x" aria-hidden="true">View Deails</i>
                                                            </a>
                                                        </span>
                                                    </td>-->
                                                    <td class="text-center">
                                                        <a class="text-aqua" href="" ng-click="edit2(user1)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </a>
                                                        <span ng-if="user1.asstclcE_ActiveFlag ===false ">
                                                            <a href="" ng-click="deactive2(user1)"
                                                               class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                                Activate
                                                            </a>
                                                        </span>
                                                        <span ng-if="user1.asstclcE_ActiveFlag === true ">
                                                            <a href="" ng-click="deactive2(user1)"
                                                               class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                                Deactivate
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <dir-pagination-controls max-size="5" pagination-id="page2"
                                                                 direction-links="true"
                                                                 boundary-links="true">
                                        </dir-pagination-controls>
                                    </div>
                                </div>

                            </md-content>
                        </md-tab>





                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>

    <!--<div id="modalStudent" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg" style="width: 80%;">
            <div class="modal-content">
                <div class="model-header custom-header">
                    <center><h4 class="modal-title custom">Stream Details</h4></center>
                </div>
                <div class="modal-body">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{mappedstudentlist.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <table class="table table-bordered table-hover table-responsive text-center">
                            <thead>
                                <tr>
                                    <th>SL.No.</th>
                                    <th><a href="" ng-click="sort('asmsT_StreamName')">Stream Name</a></th>
                                    <th><a href="" ng-click="sort('asmcL_ClassName')">Class Name</a></th>
                                    <th><a href="" ng-click="sort('asmC_SectionName')">Section Name</a></th>


                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in mappedstudentlist">
                                    <td>{{$index+1}}</td>
                                    <td>{{user.asmsT_StreamName}}</td>
                                    <td>{{user.asmcL_ClassName}}</td>
                                    <td>{{user.asmC_SectionName}}</td>


                                    <td style="text-align:center">
                                        <input type="hidden" ng-model="asstcL_Id" value="{{asstcL_Id}}" />
                                        <span ng-if="user.asstcL_ActiveFlag==false">
                                            <a href="" ng-click="deactive_student(user)" class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                Activate
                                            </a>
                                        </span>
                                        <span ng-if="user.asstcL_ActiveFlag==true">
                                            <a href="" ng-click="deactive_student(user)" class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                De-Activate
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer custom-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->



</section>
