
<section class="content" data-ng-init="getAllDetails()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" method="post" name="myForm" novalidate>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Master Board</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">

                        <div class="form-group">
                            <label class="control-label col-sm-4">Board Name:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" maxlength="50" required data-ng-model="IVRMMB_Name" name="name" ng-paste="$event.preventDefault()" allow-pattern="(\s|[a-zA-Z])">
                                <div class="error-messages" ng-if="interacted(myForm.name)" ng-messages="myForm.name.$error">
                                    <div ng-message="required">Enter the field Board Name</div>
                                    <div ng-message="pattern">The field contains only alphabets</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Board Description:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="2" id="comment" data-ng-model="IVRMMB_Description" required name="desc" maxlength="100" ng-paste="$event.preventDefault()" allow-pattern="(\s|[a-zA-Z])"></textarea>
                                <div class="error-messages" ng-if="interacted(myForm.desc)" ng-messages="myForm.desc.$error">
                                    <div ng-message="required">Enter the field Board Description</div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <input type="hidden" ng-model="IVRMMB_Id" />
                    <md-button type="submit" class="md-raised md-primary" ng-click="saveboarddata()" ng-disabled="form.$invalid" id="save-btn">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" data-ng-click="clearid()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>

            </div>
        </div>
    </form>
    <div class="box box-primary" ng-show="count > 0">
        <div class="box-header with-border">
            <h3 class="box-title">Board list</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{presentCountgrid}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">

                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>SL.No</th>
                        <th><a href="" ng-click="sort('ivrmmB_Name')">Board Name</a></th>
                        <th><a href="" ng-click="sort('ivrmmB_Description')">Board Description</a> </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in  filterValue1 = (students | filter : filterValue) |orderBy:sortKey:sortReverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td class="text-center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td class="text-left">{{ user.ivrmmB_Name}}</td>
                        <td class="text-left">{{ user.ivrmmB_Description}}</td>
                        <td class="text-center">
                            <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a class="text-danger" href="" ng-click="delete(user)" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

</section>