
<style>
    /*.alert {
        position: relative;
         top: 50px;
        left: 25%;
        width: 50%;
        z-index: 999999;
    }*/
    /*.alert {
        position: relative;
        top: 35px;
        left: -7%;
        width: 99%;
        z-index: 999891;
    }*/
    .alert {
        padding-bottom: 5px;
        position: initial;
        top: 0px;
        left: 0%;
        width: 80%;
        z-index: 999891;
        padding-top: 2px;
        margin: 10px;
    }

    .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
        background-color: rgb(63, 81, 181) !important;
    }
</style>

<section class="content">
    <div class="box box-primary" data-ng-init="MasterSectionCl()">
        <div class="box-header with-border">
            <h3 class="box-title">Master Section</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="ShowHide1()" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <form class="form-horizontal" role="form" name="myForm" data-ng-submit="saveMasterdata()" novalidate>
            <div class="box-body" ng-show="IsHidden1">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section Name :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="Name" class="form-control active" data-ng-model="ASMC_SectionName" id="reservation" ng-paste="$event.preventDefault()" maxlength="40" allow-pattern="(\s|[a-zA-Z])" required>
                                <div class="error-messages" ng-if="interacted(myForm.Name)" ng-messages="myForm.Name.$error">
                                    <div ng-message="required">Enter the Section Name</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section Order :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="order" class="form-control active" data-ng-model="ASMC_Order" id="reservation1" ng-paste="$event.preventDefault()" maxlength="2" allow-pattern="\d" required>
                                <div class="error-messages" ng-if="interacted(myForm.order)" ng-messages="myForm.order.$error">
                                    <div ng-message="required">Enter the Section Order</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section Code : <span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="code" class="form-control active" data-ng-model="ASMC_SectionCode" ng-paste="$event.preventDefault()" allow-pattern="(\s|[a-zA-Z0-9])" maxlength="5" required>
                                <div class="error-messages" ng-if="interacted(myForm.code)" ng-messages="myForm.code.$error">
                                    <div ng-message="required">enter the section code</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section Capacity : <span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="capacity" class="form-control active" data-ng-model="ASMC_MaxCapacity" ng-paste="$event.preventDefault()" maxlength="5" allow-pattern="\d" required>
                                <div class="error-messages" ng-if="interacted(myForm.capacity)" ng-messages="myForm.capacity.$error">
                                    <div ng-message="required">Enter the Section Capacity</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <input type="hidden" ng-model="ASMC_Id" />
                    <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary"><i class="fa fa-check-square-o" aria-hidden="true"></i> Submit</md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="cance()">
                        <i class="fa fa-times" aria-hidden="true"></i> Clear
                    </md-button>
                    <md-button type="button" class="md-raised md-primary" data-toggle="modal" data-ng-click="getclassorder()" data-target="#myModalreadmit">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                        Set Order
                    </md-button>
                    <md-button type="button" class="md-raised md-primary" data-toggle="modal" data-ng-click="viewdetails()" data-target="#myModalreadmitview">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        View Details
                    </md-button>
                </div>


            </div>
        </form>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Section List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{presentCountgrid}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-3 pull-right">
                    <div class="form-group">
                        <div class="input-group">

                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">SL.No.</th>
                        <th class="text-center"><a href="" ng-click="sort('asmC_SectionName')">Section Name</a></th>
                        <th class="text-center"><a href="" ng-click="sort('asmC_MaxCapacity')">Section Capacity</a></th>
                        <th class="text-center"><a href="" ng-click="sort('asmC_SectionCode')">Section Code</a></th>
                        <th class="text-center"><a href="" ng-click="sort('asmC_Order')">Section Order</a></th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="students in filterValue1 = (masterse | filter : filterValue) |orderBy:sortKey:sortReverse   |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">

                        <td class="text-center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td class="text-left">{{students.asmC_SectionName}}</td>
                        <td class="text-center">{{students.asmC_MaxCapacity}}</td>
                        <td class="text-center">{{students.asmC_SectionCode}}</td>
                        <td class="text-center">{{students.asmC_Order}}</td>
                        <td class="text-center" ng-if="students.asmC_ActiveFlag==1">
                            <a href="javascript:void(0)" ng-click="EditMasterSectvalue(students)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a href="javascript:void(0)" ng-click="DeletRecord(students)"
                               class="text-danger" data-placement="bottom" data-toggle="tooltip" title="De-Activate">
                                De-Activate
                            </a>
                        </td>
                        <td class="text-center" ng-if="students.asmC_ActiveFlag==0">
                            <a href="javascript:void(0)" ng-click="EditMasterSectvalue(students)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a href="javascript:void(0)" ng-click="DeletRecord(students)"
                               class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                Activate
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
    <!--model content for exchange-->
    <div id="myModalreadmit" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-white">Class Order</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="bg"></div>
                            <div class="row">
                                <div class="multiselect col-sm-6" style="height:auto">
                                    <ul id="single" ui-sortable="sortableOptions" ng-model="newuser3">
                                        <li class="alert alert-info nomargin" style="cursor:pointer"
                                            ng-repeat="item in newuser3">{{item.asmC_SectionName}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="text-center">
                        <md-button type="button" class="btn btn-default" data-ng-click="save()" data-dismiss="modal">Save</md-button>
                        <md-button type="button" class="btn btn-default" data-dismiss="modal">Close</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="myModalreadmitview" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-white">Master Section List</h4>
                </div>
                <div class="modal-body">
                    <div id="printSectionId">
                        <div class="row">
                            <div class="col-sm-12">
                                <table style="width:100%">
                                    <tr>
                                        <td colspan="3" class="baldwin text-center">
                                            <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <center><h4>Master Section List Report</h4></center>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <table class="table table-hover table-responsive table-bordered" id="table5">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">SLNO</th>
                                            <th style="text-align:center">Section Name</th>
                                            <th style="text-align:center">Section Order</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in sectionlist">
                                            <td style="text-align:center">{{$index+1}}</td>
                                            <td style="text-align:left">{{user.asmC_SectionName}}</td>
                                            <td style="text-align:center">{{user.asmC_Order}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="text-center">
                        <md-button type="button" class="md-raised md-primary" id="print-btn" aria-disabled="false" ng-click="printData();">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            Print
                        </md-button>
                        <md-button type="button" class="md-raised md-primary" id="print-excel" aria-disabled="false" ng-click="exportToExcel('#printSectionId');">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Excel
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" aria-disabled="false" data-dismiss="modal">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Close
                        </md-button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>