
@media print {
    @page{
        size:A4;
        margin:3%;
    }
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    body{
        margin:0px;
    }
    .table {
        padding: 12px;
        border: 0px !important;
        border-top: 0px !important;
        font-weight: 600;
        font-size: 12px;
        width: 100%;
        table-layout: auto;
        line-height: 2.4;
    }
    .table-bordered {
        width: 100%;
        table-layout: auto;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 0.8px solid #cad4de;
        padding: 12px;
        vertical-align: top;
        font-size: 12px;
        line-height: 1.4;
    }

    .col, .col1 {
        flex: 1; /* additionally, equal width */
        padding: .2em;
        width: 15px;
        height: 15px;
        border: 1px solid #000;
    }

        .col:not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)) {
            margin-right: 10px;
        }
    


}
