<style>
    input[type="file"] {
        display: none !important;
    }

    .lessonplanner .file-blue:before {
        content: 'Upload File';
        font-size: 13px;
        text-align: center
    }

</style>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet" type="text/css">
<section class="content">
    <div data-ng-init="loadData()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">GUEST DETAILS</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Program Name: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <select class="form-control" id="sel1" name="acd" ng-model="pryR_Id" ng-change="getStudentBYYear(pryR_Id)" required>
                                        <option value="">--Select--</option>
                                        <option ng-repeat="user in programlist" value="{{user.pryR_Id}}">
                                            {{user.pryR_ProgramName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.acd)" ng-messages="myForm.acd.$error">
                                        <div ng-message="required">Please Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Guest Name: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <input type="text" ng-model="gname" name="gname" required class="form-control" />

                                    <div class="error-messages" ng-if="interacted(myForm.gname)" ng-messages="myForm.gname.$error">
                                        <div ng-message="required">Enter Guest Name</div>
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-4">Email Id: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <!--<input type="text" ng-model="emailid" required class="form-control" />-->

                                    <input name="stuemailid" type="email" id="reservation" class="form-control" data-ng-model="emailid"
                                           ng-pattern="/^[A-Za-z0-9]+[A-Za-z0-9._]+@[A-Za-z0-9]+\.[A-Za-z.]{2,5}$/">

                                    <div class="error-messages" ng-if="interacted(myForm.stuemailid)" ng-messages="myForm.stuemailid.$error">
                                        <div ng-message="required">Enter Email Id</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">

                                <label class="control-label col-sm-5">Images:</label>
                                <div class="col-sm-7">
                                    <label for="upload-I" class="btn btn-primary">Upload</label>
                                    <input id="upload-I" type="file" data-ng-model="Images" accept="image/png, image/jpeg" name="Images_name" ng-disabled="files_flag" multiple onchange="angular.element(this).scope().uploadStudentProfilePic(this)" />
                                    <md-tooltip ng-if="files_flag==false" md-direction="top" style="padding-right:40px">
                                        Don't Select Already selected Images
                                    </md-tooltip>
                                    <md-tooltip ng-if="files_flag==true" md-direction="top" style="padding-right:40px">
                                        You Can't Select/Edit Images While Editing Record
                                    </md-tooltip>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6" ng-repeat="imgt in images_temp">
                                            <div class="form-group">
                                                <label class="control-label col-sm-6" style="text-align:left">{{imgt.name}}</label>
                                                <button type="button" class="close" data-dismiss="modal" style="color:red;float:right"><b><i class="fa fa-times" aria-hidden="true" ng-click="remove_img(imgt)"></i></b></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="control-label col-sm-4">Guest Speech:</label>
                                <!--<div class="col-sm-8" style="padding-left:24px">
        <input type="text" name="Speech" ng-model="gspeech" required class="form-control" />

        <div class="error-messages" ng-if="interacted(myForm.Speech)" ng-messages="myForm.Speech.$error">

            <div ng-message="required">Enter Guest Name</div>
        </div>
    </div>-->
                                <div class="col-sm-8" style="padding-left:24px">
                                    <textarea class="form-control active" value="" id="reservation" name="waiveoffrema" type="text" data-ng-model="gspeech"></textarea>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label class="control-label col-sm-4">Guest Type: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <input type="text" name="Guest" ng-model="gtype" required class="form-control" />

                                    <div class="error-messages" ng-if="interacted(myForm.Guest)" ng-messages="myForm.Guest.$error">
                                        <div ng-message="required">Enter Guest Type</div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Phone No: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <!--<input type="text" ng-model="gno" required class="form-control" />-->

                                    <input name="stumobno" type="text" id="reservation" class="form-control" data-ng-model="gno" maxlength="10" ng-minlength="10" ng-pattern="/^[6-9]{1,1}[0-9]{9,9}?$/" allow-pattern="\d">

                                    <div class="error-messages" ng-if="interacted(myForm.stumobno)" ng-messages="myForm.stumobno.$error">
                                        <div ng-message="required">Enter Guest Type</div>
                                    </div>
                                </div>

                            </div>


                            <!--<div class="form-group">
        <label class="control-label col-sm-4">Guest Profile :</label>
        <div class="col-sm-8 photo">
            <label class="custom-file-input file-blue" style="width:100%;margin:auto;">
                <input type="file" name="phfile1" ng-model="gprofile" accept="image/*" onchange="angular.element(this).scope().uploadPhoto(this)">
            </label>
            <span ng-if="fatherphoto !=null && fatherphoto !=''">
                <a style="color:red;display:inline; font-weight: bolder;" data-toggle="modal" data-target="#myModal" data-ng-click="showfatherPhoto(fatherphoto)"> view</a>
            </span>
        </div>
    </div>-->
                            <div class="form-group">
                                <label class="control-label col-sm-4">Guest Profile(.PDF):</label>
                                <div class="col-sm-8 PDF">
                                    <!--<label class="custom-file-input file-blue lessonplanner" style="width:100%;margin:auto;">-->
                                        <label class="custom-file-input lessonplanner" style="width:100%;margin:auto;">
                                            <input type="file" name="phfile1" ng-model="gprofile" accept="application/pdf" onchange="angular.element(this).scope().uploadpdf(this)">
                                        </label>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="control-label col-sm-4">Videos:</label>
                                <div class="col-sm-8">
                                    <label for="upload-V" class="btn btn-primary">Upload</label>
                                    <input id="upload-V" type="file" data-ng-model="videos" accept="video/mp4,video/x-ms-wmv" name="videos_name" ng-disabled="files_flag" multiple onchange="angular.element(this).scope().uploadStudentProfileVideo(this)" />
                                    <md-tooltip ng-if="files_flag==false" md-direction="top" style="padding-right:40px">
                                        Don't Select Already selected Videos
                                    </md-tooltip>
                                    <md-tooltip ng-if="files_flag==true" md-direction="top" style="padding-right:40px">
                                        You Can't Select/Edit Videos While Editing Record
                                    </md-tooltip>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="col-sm-6" ng-repeat="vid in videos_temp">
                                            <div class="form-group">
                                                <label class="control-label col-sm-6" style="text-align:left">{{vid.name}}</label>
                                                <button type="button" class="close" data-dismiss="modal" style="color:red;float:right"><b><i class="fa fa-times" aria-hidden="true" style="color:red" ng-click="remove_video(vid)"></i></b></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <hr />
                    <div class="text-center">
                        <input type="hidden" ng-model="PRYRG_Id" value="{{PRYRG_Id}}" />
                        <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary" ng-click="submit()">
                            <i class="fa fa-save" aria-hidden="true"></i> Save
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" ng-click="clear2()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </md-button>
                    </div>
                </form>
            </div>

                <div class="box-body">
                    <table class="table table-responsive table-bordered clearfix" style="width:100%;">
                        <thead>
                            <tr>
                                <th>SL.NO.</th>
                                <th>Program Name</th>
                                <th>Guest Type</th>
                                <th>Guest Name</th>
                                <th>Phone No</th>
                                <th>Email Id</th>
                                <th>Images</th>
                                <th>Videos</th>
                                <th>Guest Profile</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in gridOptions2| orderBy:predicate:default | filter:paginate| filter:searchd" ng-class-odd="'odd'">
                                <td class="text-center">{{ $index + 1 }}</td>
                                <td>{{ user.programname}}</td>
                                <td>{{ user.pryrG_GuestType}}</td>
                                <td>{{ user.pryrG_GuestName}}</td>
                                <td>{{ user.pryrG_GuestPhoneNo}}</td>
                                <td>{{ user.pryrG_GuestEmailId}}</td>
                                <td>
                                    <a style="color:blue;display:inline;" data-toggle="modal" data-target="#myModal" title="Image"
                                       data-ng-click="showGuardianPhoto(user)">
                                        <i class="fa fa-file-image-o" style="font-size:21px"></i>
                                    </a>
                                </td>
                                <td>
                                    <a style="color:blue;display:inline;" data-toggle="modal" data-target="#myModal" title="Video(MP4)"
                                       data-ng-click="showGuardianPhotonew(user)">
                                        <i class="fa fa-video-camera" style="font-size:21px"></i>
                                    </a>
                                </td>
                                <td>
                                    <a style="color:blue;display:inline; " href="{{user.PRYRG_GuestProfile}}" target="_blank" title="Pdf" full-frame="">
                                        <i class="fa fa-file-pdf-o" style="font-size:21px"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:void(0)" ng-click="getorgvalue(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>

                                    <a class="text-danger padding-right-5" href="" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                        <i class="fa fa-trash" aria-hidden="true" ng-click="DeletRecord(user)"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

        </div>

    </div>
</section>



