
@media print {
    p, label{
      font-weight: 600;
     font-size:16px;
}
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        color: #3a5999 !important;
        font-weight: 700;
        margin-top: 2px !important;
    margin-bottom: 2px !important;
     padding-bottom:2px !important;
      padding-bottom:2px !important;
    }
   
    table {
        width: 100%;
        border: 0px !important;
         font-size:14px !important;
    }

    .table {
        width: 100%;
        table-layout:fixed;
        border: 0px !important;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 5px;
         font-size:14px !important;
        /* background: #95c7ef; */
    }
     
    .BussPass .table, .BussPass .table > tbody > tr > td, .BussPass .table > tbody > tr > th, .BussPass .table > tfoot > tr > td, .BussPass .table > tfoot > tr > th, .BussPass .table > thead > tr > td, .BussPass .table > thead > tr > th {
        padding: 8px;
        text-align: left !important;
        border: 0px !important;
        font-size:14px !important;
    }

   
}
