.BussPass {
    width: 90%;
    margin: auto;   
    font-family: 'Source Sans Pro', sans-serif;
}
 p, label{
      font-weight: 600;
     font-size:16px;
}
    .BussPass h1, .BussPass h2, .BussPass h3, .BussPass h4, .BussPass h5, .BussPass h6,
    .BussPass .h1, .BussPass .h2, .BussPass .h3, .BussPass .h4, .BussPass .h5, .BussPass .h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        color: #3a5999 !important;
        font-weight: 700;
        margin-top: 2px;
    margin-bottom: 2px;
    }

    .BussPass .table {
        width: 100%;
        border: 0px;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 10px;
        /* background: #95c7ef; */
    }

        .BussPass .table > tbody > tr > td, .BussPass .table > tbody > tr > th, .BussPass .table > tfoot > tr > td, .BussPass .table > tfoot > tr > th, .BussPass .table > thead > tr > td, .BussPass .table > thead > tr > th {
            padding: 8px;
            line-height: 1.0;
            vertical-align: top;
            border: 0px;
            font-size: 15px;
        }

    .BussPass .box {
        margin: auto;
        padding: 10px;
        border: 1px solid #000;
        border-radius:0px;
    }
    .BussPass .DOB-BOX {
        border: 1px solid #000;
        width: 22px;
        height: 22px;
        padding: 3px;
        padding-left: 6PX;
      
    }

    .BussPass .img-style {
        width: 200px;
        height: 150px;
        border: 1px solid #ddd;
            margin: auto;
     
    }

   /*p::first-letter {
  font-weight: bold;
  color: blue;
  font:small-caps;
  
}*/
