<style>
    .multiselect {
        width: 22.1em;
        height: 10em;
        border: solid 1px #5cb7ff;
        overflow: auto;
        margin-left: 2.7%;
        margin-bottom: 1%;
        padding: 2%;
    }
</style>
<section class="content" data-ng-init="loadData()">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Transfer Preadmission To Admission</h3>
            <a href="">
                <md-tooltip md-direction="right">
                    •	This function enables the admin to transfer a student from pre-admission to admission.<br />
                    •	Admin will select the Academic year and Class of the student and clicks on search icon
                </md-tooltip><i class="fa fa-question-circle-o text-orange"></i>
            </a>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-sm-12" >
                        <label class="control-label col-sm-2">Academic Year: <span style="color:Red">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control" id="sel1" name="tpaay" ng-model="obj.ASMAY_Id" required>
                                <!--ng-change="clear()"-->
                                <option value="">Select Academic year</option>
                                <option ng-repeat="option in academicdrp" value="{{option.asmaY_Id}}" ng-selected="option.Selected==true">
                                    {{option.asmaY_Year}}
                            </select>
                            <div class="error-messages" ng-if="interacted(myForm.tpaay)" ng-messages="myForm.tpaay.$error">
                                <div ng-message="required">Please Select Academic year</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year: <span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="tpaay" ng-model="obj.ASMAY_Id" required>
                                    <option value="">Select Academic year</option>
                                    <option ng-repeat="option in academicdrp" value="{{option.asmaY_Id}}" ng-selected="option.Selected==true">
                                        {{option.asmaY_Year}}
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.tpaay)" ng-messages="myForm.tpaay.$error">
                                    <div ng-message="required">Please Select Academic year</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class: <span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel2" name="tpaclass" ng-model="obj.ASMCL_Id" required>
                                    <option value="">Select class</option>
                                    <option value="0">All Class</option>
                                    <option ng-repeat="option in classdrpDwn" value="{{option.asmcL_Id}}" ng-selected="option.Selected==true">
                                        {{option.asmcL_ClassName}}
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.tpaclass)" ng-messages="myForm.tpaclass.$error">
                                    <div ng-message="required">Please Select class</div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-sm-4 padding-left-right-none">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">
                                        Course:<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                    </label>
                                    <input name="option[]" value="All" type="checkbox" ng-model="courseselectedAll" ng-true-value="true" ng-false-value="false" ng-change="GetCourseAll(courseselectedAll)">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </div>
                                <div class="multiselect col-sm-12">
                                    <label ng-repeat="option in courselist">
                                        <input type="checkbox" name="selclass" ng-model="option.selected" ng-true-value="true" ng-false-value="false" ng-change="GetCourse(option)">
                                        <span class="lbl padding-8">
                                            {{option.amcO_CourseName}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding-left-right-none">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">
                                        Branch:<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                    </label>
                                    <input name="option[]" value="All" type="checkbox" ng-model="branchAll" ng-true-value="true" ng-false-value="false" ng-change="GetBranchAll(branchAll)">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </div>
                                <div class="multiselect col-sm-12">
                                    <label ng-repeat="option in branchlist">
                                        <input type="checkbox" name="selclass" ng-model="option.selected" ng-true-value="true" ng-false-value="false" ng-change="Getbranch(option)">
                                        <span class="lbl padding-8">
                                            {{option.amB_BranchName}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding-left-right-none">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">
                                        Semester:<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                    </label>
                                    <input name="option[]" value="All" type="checkbox" ng-model="semesterAll" ng-true-value="true" ng-false-value="false" ng-change="GetSemesterAll(semesterAll)">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </div>
                                <div class="multiselect col-sm-12">
                                    <label ng-repeat="option in semesterlist">
                                        <input type="checkbox" name="selclass" ng-model="option.selected" ng-true-value="true" ng-false-value="false" ng-change="GetSemester(option)">
                                        <span class="lbl padding-8">
                                            {{option.amsE_SEMName}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <span>
                        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" aria-disabled="false" data-ng-click="searchdata(obj)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                           Search
                        </md-button>
                    </span>
                    <md-button type="submit" class="md-raised md-warn" ng-disabled="form.$invalid" id="save-btn" aria-disabled="false" data-ng-click="cleardata()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </div>
        </form>
    </div>

    <div class="box box-primary" ng-show="firstgrid">
        <div class="box-header with-border">
            <h3 class="box-title">List Of Students</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <form class="form-horizontal ng-pristine ng-valid" role="form" ng-if="preAdmtoAdmStuList.length>0">
            <div class="box-body">

                <div class="">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{presentCountgrid}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="search!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filter1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>

                                <input class="form-control" ng-model="search" type="text" placeholder="search here...">

                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-sm-4 pull-right">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                            <input class="form-control" ng-model="search" type="text" placeholder="Search Here..">
                        </div>
                    </div>
                </div>-->

                <div class="error-messages" ng-if="interacted1(myForm1.tpacheckbox)" ng-messages="myForm1.tpacheckbox.$error">
                    <div ng-message="required">Select atleast one Class</div>
                </div>
                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" value="" ng-model="obj.all2" ng-click="toggleAll()">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </th>
                            <th><a href="" ng-click="sort('AdmNo')">SL.NO</a> </th>


                            <th><a href="" ng-click="sort('studentname')">Student Name</a> </th>
                            <th><a href="" ng-click="sort('amcO_CourseName')">Course</a> </th>
                            <th><a href="" ng-click="sort('amB_BranchName')">Branch</a> </th>

                            <th><a href="" ng-click="sort('amsE_SEMName')">Semester</a> </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in filter1=(preAdmtoAdmStuList |filter:search)   | orderBy:sortKey:reverse|itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                            <p ng-show="myForm.tpacheckbox.$error"> Select Atleast one checkbox</p>
                            <td class="text-center">
                                <label>
                                    <input type="checkbox" name="tpacheckbox" ng-model="user.isSelected" value="{{user.pasR_Id}}" ng-change="optionToggled(user.isSelected)">
                                    <span class="lbl padding-8">{{user.pasR_FirstName}}</span>
                                </label>

                            </td>
                            <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                            <td style="text-align:left">
                                {{user.studentname}}
                            </td>
                            <td>{{ user.amcO_CourseName}}</td>
                            <td>{{ user.amB_BranchName}}</td>
                            <td>{{ user.amsE_SEMName}}</td>
                            <td hidden="hidden">{{ user.pacA_Id}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
                <hr />

                <div class="text-center">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" aria-disabled="false" data-ng-click="exporttoadmissiondata(preAdmtoAdmStuList)">
                        Export to Admission
                    </md-button>
                </div>

            </div>

        </form>
    </div>
</section>
