<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" ng-init="BindData()" novalidate>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Exam Time Table</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="Year" ng-model="ASMAY_Id" data-ng-change="onselectAcdYear(ASMAY_Id)" required>
                                    <option value="" label="Select Academic Year"> </option>
                                    <option ng-repeat="option1 in acdlist" value="{{option1.asmaY_Id}}" ng-selected="{{option1.Selected == option1.asmaY_Id}}">
                                        {{option1.asmaY_Year}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.Year)" ng-messages="myForm.Year.$error">
                                <div ng-message="required">Select Academic Year</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel2" name="cls" ng-model="ASMCL_Id" data-ng-change="onselectclass(ASMCL_Id,ASMAY_Id,EMCA_Id)" required>
                                    <option value="" label="Select Class"> </option>
                                    <option ng-repeat="option2 in ctlist" value="{{option2.asmcL_Id}}" ng-selected="{{ASMCL_Id == option2.asmcL_Id}}">
                                        {{option2.asmcL_ClassName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.cls)" ng-messages="myForm.cls.$error">
                                <div ng-message="required">Select Class</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel3" name="sec" ng-model="ASMS_Id" data-ng-change="onselectSection(ASMS_Id,ASMCL_Id,ASMAY_Id)" required>
                                    <option value="" label="Select Section"> </option>
                                    <option value="0" label="All"> </option>
                                    <option ng-repeat="option3 in seclist" value="{{option3.asmS_Id}}" ng-selected="{{ASMS_Id == option3.asmS_Id}}">
                                        {{option3.asmC_SectionName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.sec)" ng-messages="myForm.sec.$error">
                                <div ng-message="required">Select Section</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Exam Name :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel8" name="exm" ng-model="EME_Id" required>
                                    <option value="" label="Select Exam"> </option>
                                    <option ng-repeat="option8 in examlist" value="{{option8.emE_Id}}" ng-selected="{{EME_Id == option8.emE_Id}}">
                                        {{option8.emE_ExamName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.exm)" ng-messages="myForm.exm.$error">
                                <div ng-message="required">Select Exam</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Subject Group :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel7" name="sub" ng-model="EMG_Id" data-ng-change="onselectSubject()" required>
                                    <option value="" label="Select Subject"> </option>
                                    <option ng-repeat="option7 in subject_group" value="{{option7.emG_Id}}" ng-selected="{{EMG_Id == option7.emG_Id}}">
                                        {{option7.emG_GroupName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.sub)" ng-messages="myForm.sub.$error">
                                <div ng-message="required">Select Subject</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">From Date :<span style="color:Red">*</span></label>
                            <md-datepicker ng-model="myDate1" id="dat1" name="date1" md-placeholder="Enter date" md-min-date="minDatemf" md-max-date="maxDatemf" onkeydown="return false" required></md-datepicker>

                            <label class="control-label col-sm-4">To Date :<span style="color:Red">*</span></label>
                            <md-datepicker ng-model="myDate2" id="dat2" name="date2" md-placeholder="Enter date" md-min-date="minDatemf" md-max-date="maxDatemf" onkeydown="return false" required></md-datepicker>
                        </div>
                    </div>
                </div>
                <div class="box box-primary" ng-show="main_list.length>0">
                    <div class="box-header with-border">
                        <h3 class="box-title">Exam Time Table</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" id="table">
                        <div style="padding-bottom:50px;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><a href="">Select</a></th>
                                        <th><a href="">Exam Date</a></th>
                                        <th><a href="">Time Slot</a></th>
                                        <th><a href="">Subject</a></th>
                                        <!--<th><a href="">SubSubject</a></th>-->
                                    </tr>
                                </thead>
                                <tbody ng-repeat="exm in main_list">
                                    <tr>
                                        <td>
                                            <label>
                                                <input type="checkbox" ng-model="exm.check_save" ng-true-value="1" ng-false-value="0">
                                                <span class="lbl padding-8"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <md-datepicker ng-model="exm.exttS_Date" id="dat{{exm.ismS_Id}}" name="date_{{exm.ismS_Id}}" md-placeholder="Enter date" md-min-date="myDate1" md-max-date="myDate2" onkeydown="return false" ng-required="exm.check_save"></md-datepicker>
                                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm['date_'+exm.ismS_Id])" ng-messages="myForm['date_'+exm.ismS_Id].$error">
                                                <div ng-message="required">Enter Date</div>
                                            </div>
                                        </td>
                                        <td>
                                            <select class="form-control" id="sel13" name="slot_{{exm.ismS_Id}}" ng-model="exm.ettS_Id" ng-required="exm.check_save">
                                                <option value="">--Select Time Slot-- </option>
                                                <option ng-repeat="option13 in time_slot" value="{{option13.ettS_Id}}" ng-selected="{{exm.ettS_Id == option13.ettS_Id}}">
                                                    {{option13.ettS_SessionName}}
                                                </option>
                                            </select>
                                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm['slot_'+exm.ismS_Id])" ng-messages="myForm['slot_'+exm.ismS_Id].$error">
                                                <div ng-message="required">Enter TimeSlot</div>
                                            </div>
                                        </td>
                                        <td class="text-left padding-left-5">
                                            {{exm.ismS_SubjectName}}
                                            <!--<select class="form-control" id="sel7" name="sub1" ng-model="exm.ISMS_Id" ng-required="exm.check_save">
                                                <option value="" label="Select Subject"> </option>
                                                <option ng-repeat="option11 in subject_name" value="{{option11.ismS_Id}}" ng-selected="{{option11.Selected == true}}">
                                                    {{option11.ismS_SubjectName}}
                                                </option>
                                            </select>
                                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.sub1)" ng-messages="myForm.sub1.$error">
                                                <div ng-message="required">Enter Subject</div>
                                            </div>-->
                                        </td>
                                        <!--<td>
                                            <select class="form-control" id="sel12" name="subsubj" ng-model="exm.EMSS_Id" ng-required="exm.check_save && exm.subSubject.length>0">
                                                <option value="" label="Select SubSubject"> </option>
                                                <option ng-repeat="option12 in exm.subSubject" value="{{option12.emsS_Id}}" ng-selected="{{option12.Selected == true}}">
                                                    {{option12.emsS_SubSubjectName}}
                                                </option>
                                            </select>
                                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.subsubj)" ng-messages="myForm.subsubj.$error">
                                                <div ng-message="required">Enter SubSubject</div>
                                            </div>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="text-align:center">
                    <md-button type="button" class="md-raised md-primary" ng-click="savedetail()">
                        <i class="fa fa-save" aria-hidden="true"></i> Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-edit class="grid text-center" id="style-4" style="height: 270px;"></div>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i></button>
            <h4 class="modal-title text-white"> Details</h4>
        </div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <!--  <div ui-grid="gridOptionspopup" ui-grid-pagination class="grid text-center" style="height: 270px;"></div>-->
                <table class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="sort('sno')">SLNO</a></th>
                            <th><a href="" ng-click="sort('ExamName')">ExamName</a></th>
                            <th><a href="" ng-click="sort('Subject')">Subject</a></th>
                            <th><a href="" ng-click="sort('Slot')">Slot</a></th>
                            <th><a href="" ng-click="sort('Date')">Date</a></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in viewrecordspopupdisplay" current-page="currentPage">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="text-left padding-left-5">{{ user.examname}}</td>
                            <td class="text-left padding-left-5">{{ user.subjectName}}</td>
                            <td class="text-left padding-left-5">{{ user.slotname}}</td>
                            <td class="text-center">{{ user.slotdate  |date:'dd/MM/yyyy'}}</td>
                            <td class="text-left padding-left-5">
                                <span ng-if="user.exttS_ActiveFlag ===false ">
                                    <a href="" ng-click="deactive(user)"
                                       class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                        Activate
                                    </a>
                                </span>
                                <span ng-if="user.exttS_ActiveFlag === true ">
                                    <a href="" ng-click="deactive(user)"
                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                        Deactivate
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="clearpopupgrid()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>