
<section class="content">
    <div class="box box-primary" data-ng-init="BindData()">
        <div class="box-header with-border">
            <h3 class="box-title">Course Wise TimeTable</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="ShowHide1()" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <form class="form-horizontal" role="form" name="myForm"  novalidate>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel" name="acd" ng-model="ASMAY_Id" ng-change="get_category()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="year in year_list" value="{{year.asmaY_Id}}" ng-selected="{{year.Selected == true}}">
                                        {{year.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd)" ng-messages="myForm.acd.$error">
                                    <div ng-message="required"> Select Academic Year</div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label class="control-label col-sm-4">Course:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel11" name="acd111" ng-model="AMCO_Id" ng-change="getbranch_catg()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="crs in courselist" value="{{crs.amcO_Id}}" ng-selected="{{crs.Selected == true}}">
                                        {{crs.amcO_CourseName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd111)" ng-messages="myForm.acd111.$error">
                                    <div ng-message="required"> Select Course</div>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">Course :<span style="color:Red">*</span></label>
                            <div class="multiselect col-sm-8">
                                <input class="form-control" ng-model="searchchkbxvv" type="text" placeholder="search here...">
                                <label>
                                    <input name="classesW" value="1" ng-model="usercheckvv" type="checkbox" data-ng-click="all_checkvv()">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </label>
                                <label data-ng-model="class" ng-repeat="option in courselist |filter:filterchkbxvv" value="{{option.amcO_Id}}" ng-click="binddata(courselist)">

                                    <input name="classesW" value="1" data-ng-model="option.class" type="checkbox" ng-required="isOptionsRequiredvv();" ng-click="togchkbxvv();">
                                    <span class="lbl padding-8">
                                        {{option.amcO_CourseName}}
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-8 error-messages" ng-if="interacted(myForm.classesW)" ng-messages="myForm.classesW.$error" >
                                <div ng-message="required">Select Atleast one Checkbox</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Semester :<span style="color:Red">*</span></label>
                            <div class="multiselect col-sm-8">
                                <input class="form-control" ng-model="searchchkbx" type="text" placeholder="search here...">
                                <label>
                                    <input name="classes" value="1" ng-model="usercheck" type="checkbox" data-ng-click="all_check()">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </label>
                                <label data-ng-model="class" ng-repeat="option in semisterlist |filter:filterchkbx" value="{{option.amsE_Id}}" ng-click="binddata(semisterlist)">

                                    <input name="classes" value="1" data-ng-model="option.class" type="checkbox" ng-required="isOptionsRequired();" ng-click="togchkbx();">
                                    <span class="lbl padding-8">
                                        {{option.amsE_SEMName}}
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-8 error-messages" ng-if="interacted(myForm.classes)" ng-messages="myForm.classes.$error" >
                                <div ng-message="required">Select Atleast one Checkbox</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Category Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="cat" ng-model="TTMC_Id" ng-change="getcourse_catg()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="optlst in categorylst" value="{{optlst.ttmC_Id}}" ng-selected="{{optlst.Selected == true}}">
                                        {{optlst.ttmC_CategoryName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.cat)" ng-messages="myForm.cat.$error">
                                    <div ng-message="required"> Select Category</div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label class="control-label col-sm-4">Branch:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel111" name="ca11t" ng-model="AMB_Id" ng-change="get_semister()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="optlst in branchlist" value="{{optlst.amB_Id}}" ng-selected="{{optlst.Selected == true}}">
                                        {{optlst.amB_BranchName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.ca11t)" ng-messages="myForm.ca11t.$error">
                                    <div ng-message="required"> Select Branch</div>
                                </div>
                            </div>
                        </div>-->

                        <div class="form-group">
                            <label class="control-label col-sm-3">Branch :<span style="color:Red">*</span></label>
                            <div class="multiselect col-sm-8">
                                <input class="form-control" ng-model="searchchkbx15" type="text" placeholder="search here...">
                                <label>
                                    <input name="sections11" value="1" ng-model="usercheck15" type="checkbox" data-ng-click="all_check15()">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </label>
                                <label data-ng-model="sec" ng-repeat="section in branchlist |filter:filterchkbx15" value="{{section.amB_Id}}" ng-click="binddata(branchlist)">

                                    <input name="sections11" value="1" data-ng-model="section.sec" type="checkbox" ng-required="isOptionsRequired15();" ng-click="togchkbx15();">
                                    <span class="lbl padding-8">
                                        {{section.amB_BranchName}}
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-8 error-messages" ng-if="interacted1(myForm.sections11)" ng-messages="myForm.sections11.$error" >
                                <div ng-message="required">Select Atleast one Checkbox</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Section :<span style="color:Red">*</span></label>
                            <div class="multiselect col-sm-8">
                                <input class="form-control" ng-model="searchchkbx1" type="text" placeholder="search here...">
                                <label>
                                    <input name="sections" value="1" ng-model="usercheck1" type="checkbox" data-ng-click="all_check1()">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </label>
                                <label data-ng-model="sec" ng-repeat="section in section_list |filter:filterchkbx1" value="{{section.acmS_Id}}" ng-click="binddata(section_list)">

                                    <input name="sections" value="1" data-ng-model="section.sec" type="checkbox" ng-required="isOptionsRequired1();" ng-click="togchkbx1();">
                                    <span class="lbl padding-8">
                                        {{section.acmS_SectionName}}
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-8 error-messages" ng-if="interacted1(myForm.sections)" ng-messages="myForm.sections.$error" >
                                <div ng-message="required">Select Atleast one Checkbox</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="text-center">
                <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary" data-ng-click="GetReport()">
                    <i class="fa fa-file" aria-hidden="true"></i> Report
                </md-button>
                <md-button type="button" class="md-raised md-warn" ng-click="clearid()">
                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                </md-button>        
                <button type="button" ng-click="exptoex();" target="_blank" class="btn btn-info" ng-disabled="!grid_view">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    Export to Excel
                </button>
                <button type="button" class="btn btn-primary" ng-disabled="!grid_view" id="print-btn" aria-disabled="false" ng-click="printData();">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    Print
                </button>
            </div>
        </form>
    </div>
    <div class="box box-primary tt" ng-show="grid_view">
        <div class="box-header with-border">
            <h3 class="box-title">Report Grid View</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body" style="overflow:scroll">
            <br />

            <div id="table">


              
                <div style="padding-bottom:20px;page-break-after:always">
                    <div class="row">
                        <div class="col-sm-12" style="padding-left:30%">
                            <lable class="control-label text-bold" style="font-weight: bold;font-size:large;color:darkgreen"><b style="color:black">COURSE:</b>{{cname |uppercase}}</lable>
                        </div>
                        <div class="col-sm-12" style="padding-left:30%">
                            <lable class="control-label text-bold" style="font-weight: bold;font-size:large;color:darkgreen"><b style="color:black">BRANCH:</b>{{bname |uppercase}}</lable>
                        </div>
                        <div class="col-sm-12" style="padding-left:30%">
                            <lable class="control-label text-bold" style="font-weight: bold;font-size:large;color:darkgreen"><b style="color:black">SEM:</b>{{smname |uppercase}}</lable>
                        </div>
                        <div class="col-sm-12" style="padding-left:30%">
                            <lable class="control-label text-bold" style="font-weight: bold;font-size:large;color:darkgreen"><b style="color:black">SECTION:</b>{{scname |uppercase}}</lable>
                        </div>
                    </div>
                    <table class="table table-hover table-responsive table-bordered text-center" ng-show="grid_view" border="1" style="border-collapse:collapse">

                        <thead style="font-weight: bold;">
                            <tr>
                                <th>DAY / HOUR</th>
                                <th ng-repeat="ee in mainperiodlist">{{ee.TTMP_PeriodName}}<br />({{ee.START}}-{{ee.END}})</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dd in allday" ng-if="dd.ttmD_DayName!='saturday' && dd.ttmD_DayName!='SATURDAY'">
                                <td>{{dd.ttmD_DayName}}</td>
                                <td ng-repeat="ee in mainperiodlist">
                                    <span ng-repeat="gg in dd.timetable" ng-if="gg.TTMP_Id==ee.TTMP_Id && ee.TTMP_PeriodName!='BREAK' ">
                                        {{gg.DETAILS}}<br />
                                    </span>
                                    <span ng-repeat="gg in dd.timetable" ng-if="gg.TTMP_Id==ee.TTMP_Id && ee.TTMP_PeriodName=='BREAK' " style="color:red">
                                        {{gg.TTMP_Id}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        <thead style="font-weight: bold;">
                            <tr>
                                <th>DAY / HOUR</th>
                                <th ng-repeat="ee in mainperiodlist1">{{ee.TTMP_PeriodName}}<br />({{ee.START}}-{{ee.END}})</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dd in allday" ng-if="dd.ttmD_DayName=='saturday' || dd.ttmD_DayName=='SATURDAY'">
                                <td>{{dd.ttmD_DayName}}</td>
                                <td ng-repeat="ee in mainperiodlist1">
                                    <span ng-repeat="gg in dd.timetable" ng-if="gg.TTMP_Id==ee.TTMP_Id && ee.TTMP_PeriodName!='BREAK' ">
                                        {{gg.DETAILS}}<br />
                                    </span>

                                    <span ng-repeat="gg in dd.timetable" ng-if="gg.TTMP_Id==ee.TTMP_Id && ee.TTMP_PeriodName=='BREAK' " style="color:red">
                                        {{gg.TTMP_Id}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>


                    </table>
                    <br />
                    <br />

                </div>
    </div>
    </div>
    </div>
</section>