<section class="content">
    <form class="form-horizontal ng-pristiline ng-valid" role="form" name="myForm" novalidate>
        <div class="box box-primary" data-ng-init="loaddata();">
            <div class="box-header with-border ">
                <h3 class="box-title">Consolidated Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="ShowHide1()" data-widget="collapse"><i class="fa fa-minus"></i> </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year<span style="color:red">*</span> </label>
                            <div class="col-sm-8">
                                <select class="form-control" data-ng-model="asmay_Id" name="year" id="yearid" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="user in yearlist" value="{{user.asmaY_Id}}" ng-selected="user.selected==true">{{user.asmaY_Year}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.year)" ng-messages="myForm.year.$error">
                                    <div ng-message="required">Please Select Year</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Category Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="cat" ng-model="TTMC_Id" ng-change="getcourse()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="optlst in categorylst" value="{{optlst.ttmC_Id}}" ng-selected="{{optlst.Selected == true}}">
                                        {{optlst.ttmC_CategoryName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.cat)" ng-messages="myForm.cat.$error">
                                    <div ng-message="required"> Select Category</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Course<span style="color:red">*</span> </label>
                            <div class="col-sm-8">
                                <select class="form-control" data-ng-model="amcO_Id" id="courseid" name="course" ng-change="getbranch_catg()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="user1 in courselist" value="{{user1.amcO_Id}}" ng-selected="user1.selected==true">{{user1.amcO_CourseName}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.course)" ng-messages="myForm.course.$error">
                                    <div ng-message="required">Please Select Course</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Branch<span style="color:red">*</span> </label>
                            <div class="col-sm-8">
                                <select class="form-control" data-ng-model="amB_Id" id="branchid" name="branch" ng-change="get_semister()" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="user2 in branchlist" value="{{user2.amB_Id}}" ng-selected="user2.selected==true">{{user2.amB_BranchName}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.branch)" ng-messages="myForm.branch.$error">
                                    <div ng-message="required">Please Select Branch</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Semister<span style="color:red">*</span> </label>
                            <div class="col-sm-8">
                                <select class="form-control" data-ng-model="amsE_Id" id="semid" name="sem" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="user3 in semisterlist" value="{{user3.amsE_Id}}" ng-selected="user3.selected==true">{{user3.amsE_SEMName}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.sem)" ng-messages="myForm.sem.$error">
                                    <div ng-message="required">Please Select Semister</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section<span style="color:red">*</span> </label>
                            <div class="col-sm-8">
                                <select class="form-control" data-ng-model="acmS_Id" id="sectionid" name="section" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="user4 in sectionlist" value="{{user4.acmS_Id}}" ng-selected="user4.selected==true">{{user4.acmS_SectionName}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.section)" ng-messages="myForm.section.$error">
                                    <div ng-message="required">Please Enter Section</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <br />
                <br />
                <div class="row">
                    <div class="text-center">

                        <md-button type="submit" class="md-raised md-primary" data-ng-click="report()">
                            <i class="fa fa-file" aria-hidden="true"></i>Report
                        </md-button>


                        <md-button type="button" class="md-raised md-warn" ng-click="clearid()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </md-button>



                        <md-button type="button" class="md-raised md-primary" id="excel-btn" ng-click="exportToExcel()" ng-disabled="reportdata==true">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Export to Excel
                        </md-button>


                        <button type="button" class="btn btn-primary" id="print-btn" ng-click="printData();" aria-disabled="false" ng-disabled="reportdata==true">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            Print
                        </button>


                    </div>

                </div>
            </div>
        </div>

    </form>
    <div class="box box-primary" ng-show="mainarray.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">Classwise Consolidated Report</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="A">
                    <thead>
                        <tr>
                            <th>Subject/Day</th>
                            <th ng-repeat="tt in day">{{tt.ttmD_DayName}}</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in mainarray">
                            <td>{{user.subjectname}}</td>
                            <td ng-repeat="tt in day"><span ng-repeat="u in user.ttlist" ng-if="tt.ttmD_Id==u.TTMD_Id">{{u.PCOUNT}} </span> </td>
                            <td>{{user.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>






    <div id="printareaId" ng-show="tadprint">
        <div class="baldwin text-center">
            <img src="{{imgname}}" class="img-responsive" alt="baldwin">
        </div>
        <center> <h4>Coursewise Consolidated Report</h4></center>
        <br />
        <table class="table table-bordered table-responsive" id="A">
            <thead>
                <tr>
                    <th>Subject/Day</th>
                    <th ng-repeat="tt in day">{{tt.ttmD_DayName}}</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="user in mainarray">

                    <td>{{user.subjectname}}</td>
                    <td ng-repeat="tt in day"><span ng-repeat="u in user.ttlist" ng-if="tt.ttmD_Id==u.TTMD_Id">{{u.PCOUNT}} </span> </td>
                    <td>{{user.total}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="16" class="col-sm-12 text-center ">
                        <label>
                            Date:{{ddate|date:'dd/MM/yyyy'}} UserName: {{usrname}}  {{coptyright}}
                        </label>
                    </td>
                </tr>

            </tfoot>
        </table>
    </div>







</section>