<section class="content">
    <form class="form-horizontal ng-pristiline ng-valid" role="form" name="myForm" novalidate>
        <div class="box box-primary" data-ng-init="LoadData()">
            <div class="box-header with-border">
                <h3 class="box-title">TimeTable Constraint Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="ShowHide1()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-3">
                        <div class="well text-center" ng-init="ttconstrep==''">
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="ttconstrep" value="F" name="fix1" data-ng-click="onclickrdo" />
                                <span class="lbl padding-8">Fixing</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="fix1" value="R" data-ng-model="ttconstrep" data-ng-click="onclickrdo" />
                                <span class="lbl padding-8">Restriction</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="fix1" value="C" data-ng-model="ttconstrep" data-ng-click="onclickrdo" />
                                <span class="lbl padding-8">Consecutive</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="fix1" value="B" data-ng-model="ttconstrep" data-ng-click="onclickrdo" />
                                <span class="lbl padding-8">Bifurcation</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="fix1" value="L" data-ng-model="ttconstrep" data-ng-click="onclickrdo" />
                                <span class="lbl padding-8">Lab</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-3" ng-show="ttconstrep==='F'||ttconstrep==='R'">
                        <div class="well text-center" ng-init="fixing1=='DP'">
                            <label class="radio-inline">
                                <input type="radio" value="DP" data-ng-model="fixing1" name="type" data-ng-click="onclickrdo()" />
                                <span class="lbl padding-8">Day Period</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="DS" data-ng-model="fixing1" name="type" data-ng-click="onclickrdo()" />
                                <span class="lbl padding-8">Day Staff</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="type" value="DSUB" data-ng-model="fixing1" data-ng-click="onclickrdo()" />
                                <span class="lbl padding-8">Day Subject</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="type" value="PS" data-ng-model="fixing1" data-ng-click="onclickrdo()" />
                                <span class="lbl padding-8">Period Staff</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="type" value="PSUB" data-ng-model="fixing1" data-ng-click="onclickrdo()" />
                                <span class="lbl padding-8">Period Subject</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year<span style="color:red">*</span> </label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel" name="acd" ng-model="asmaY_Id">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="year in year_list" value="{{year.asmaY_Id}}" ng-selected="{{year.Selected == true}}">{{year.asmaY_Year}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd)" ng-messages="myForm.acd.$error">
                                    <div ng-message="required"> Select Academic Year</div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <hr />
                <div class="text-center">
                    <md-button type="submit" class="md-raised md-primary" ng-click="GetReport()">
                        <i class="fa fa-file" aria-hidden="true"></i> Report
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="Clearid()">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </md-button>
                    <md-button type="button" class="md-raised md-primary" id="excel-btn" ng-click="exportToExcel()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        Export to Excel
                    </md-button>
                    <!--<button type="button" class="btn btn-primary" id="print-btn" ng-click="printData();">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        Print
                    </button>-->






                    <!--<button type="button" ng-click="exptoex();" target="_blank" class="btn btn-info" ng-disabled="!grid_view">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
        Export to Excel
    </button>


    <md-button type="submit" class="md-raised md-primary" data-ng-click="exportToExcel()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        Export
    </md-button>-->
                    <!--<button ng-hide="true" type="button" class="btn btn-primary" id="print-btn" aria-disabled="false" ng-click="printData();">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        Print
                    </button>-->

                </div>
            </div>
        </div>
    </form>

    <div class="box box-primary" ng-show="ttconstrep==='F'&&fixing1==='DP'&&alldata1.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="A">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Categary Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Employee Name</th>
                            <th>Subject Name</th>
                            <th>Day Name</th>
                            <th>No of Period</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="user in alldata1">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata1 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.TTMC_CategoryName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMD_DayName}}</td>
                            <td>{{user.TTMP_PeriodName}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='F'&&fixing1==='DS'&&alldata2.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="B">
                    <thead>

                        <tr>
                            <th>Sl.No.</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Employee Name</th>
                            <th>Subject Name</th>
                            <th>Day Name</th>
                            <th>No. Of Periods</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata2">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata2 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMD_DayName}}</td>
                            <td>{{user.TTFPSCB_Periods}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='F'&&fixing1==='DSUB'&&alldata3.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="C">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Subject Name </th>
                            <th>Day Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Employee Name</th>
                            <th>No of Periods</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata3">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata3 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMD_DayName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.TTFDSUCB_Periods}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='F'&&fixing1==='PS'&&alldata4.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="D">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Staff Name</th>
                            <th>Period Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Subject Name</th>
                            <th>No of Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata4">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata4 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.TTMP_PeriodName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.ttfpscb_days}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='F'&&fixing1==='PSUB'&&alldata5.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="E">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Subject Name</th>
                            <th>Period Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Staff Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata5">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata5 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMP_PeriodName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='R'&&fixing1==='DP'&&alldata6.length>0" id="F">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="A">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Categary Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Employee Name</th>
                            <th>Subject Name</th>
                            <th>Day Name</th>
                            <th>No of Periods</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata6">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata6 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.TTMC_CategoryName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMD_DayName}}</td>
                            <td>{{user.TTMP_PeriodName}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='R'&&fixing1==='DS'&&alldata7.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="G">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Employee Name</th>
                            <th>Subject Name</th>
                            <th>Day Name</th>
                            <th>No of Periods</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata7">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata7 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMD_DayName}}</td>
                            <td>{{user.TTRPSCB_Periods}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='R'&&fixing1==='DSUB'&&alldata8.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table img-responsive" id="H">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Subject Name </th>
                            <th>Day Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Employee Name</th>
                            <th>Period Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata8">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata8 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMD_DayName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.TTMP_PeriodName}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='R'&&fixing1==='PS'&&alldata9.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="I">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Staff Name</th>
                            <th>Period Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Subject Name</th>
                            <th>No of Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata9">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata9 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.TTMP_PeriodName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTRPSCB_Days}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='R'&&fixing1==='PSUB'&&alldata10.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="J">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Subject Name</th>
                            <th>Period Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Staff Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata10">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata10 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMP_PeriodName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>

                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='C'&&alldata11.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="K">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Categary Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Staff Name</th>
                            <th>Subject Name</th>
                            <th>No of Periods</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata11">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata11 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.TTMC_CategoryName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMP_PeriodName}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='B'&&alldata12.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="L">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Categary Name</th>
                            <th>Bifurcaction Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Staff Name</th>
                            <th>Subject Name</th>
                            <th>No of Periods</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alldata12">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata12 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                            <td>{{user.TTMC_CategoryName}}</td>
                            <td>{{user.TTB_BifurcationName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.HRME_EmployeeFirstName}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                            <td>{{user.TTMP_PeriodName}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
    </div>
    <div class="box box-primary" ng-show="ttconstrep==='L'&&alldata13.length>0">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-responsive" id="M">
                    <thead>
                        <tr>
                            <th>Sl.No.</th>
                            <th>Categary Name</th>
                            <th>Lab Name</th>
                            <th>Course Name</th>
                            <th>Branch Name</th>
                            <th>Semester Name</th>
                            <th>Section Name</th>
                            <th>Subject Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr ng-repeat="user in alldata13 |itemsPerPage:itemsPerPage " page="currentPage" ng-class-odd="'odd'">-->
                        <tr ng-repeat="user in alldata13">
                            <!--<tr dir-paginate="user in filterValue1 = (alldata13 | filter : filterValue123)  | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">-->
                            <td>{{$index+1}}</td>
                          

                            <td>{{user.TTMC_CategoryName}}</td>
                            <td>{{user.TTLAB_LABLIBName}}</td>
                            <td>{{user.AMCO_CourseName}}</td>
                            <td>{{user.AMB_BranchName}}</td>
                            <td>{{user.AMSE_SEMName}}</td>
                            <td>{{user.ACMS_SectionName}}</td>
                            <td>{{user.ISMS_SubjectName}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>

    </div>
</section>