
<style>
    .row {
        margin-left: 0px !important;
    }

    md-datepicker {
        padding-left: 22px;
    }

    .textleft {
        padding-left: 22px;
    }
</style>
<section class="content" data-ng-init="loadData()">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Student Request/Confirm</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Request Status </label>
                            <div class="col-sm-8">
                                <label class="control-label">
                                    : {{HLHSREQC_BookingStatus}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="box-tools col-sm-3 pull-right">
                        <label>Date</label>
                        &nbsp;:&nbsp;&nbsp;
                        {{F2todates | date : 'dd/MM/yyyy'}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Student Name </label>
                            <div class="col-sm-8">
                                <label class="control-label">
                                    : {{studentName}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Course</label>
                            <div class="col-sm-8">
                                <label class="control-label">
                                    : {{AMCO_CourseName}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Adm No</label>
                            <div class="col-sm-8">
                                <label class="control-label">
                                    : {{AMCST_AdmNo}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Reg No.</label>
                            <div class="col-sm-8">
                                <label class="control-label">
                                    : {{AMCST_RegistrationNo}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Hostel Name.</label>
                            <div class="col-sm-8">
                                <label class="control-label">
                                    : {{HLMH_Name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Room Category</label>
                            <div class="col-sm-8">
                                <label class="control-label">
                                    : {{HLMRCA_RoomCategory}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Request Date<span style="color:Red">*</span></label>
                            <md-datepicker name="tdate" ng-model="HLHSREQC_RequestDate" onkeydown="return false" md-placeholder="Select date" ng-required ng-disabled="true"></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.tdate)" ng-messages="myForm.tdate.$error">
                                <div ng-message="required">Please Enter Date</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Room No:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="HRMRM_Id" name="romm" required ng-change="bedcapacity()">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="room in room_list" value="{{room.hrmrM_Id}}" ng-selected="room.hrmrM_Id==HRMRM_Id">
                                        {{room.hrmrM_RoomNo}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.romm)" ng-messages="myForm.romm.$error">
                                    <div ng-message="required">Select Room No.</div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group well text-center">
                            <label class="col-sm-4">Mess Type  :</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" data-ng-model="HLHSREQC_VegMessFlg" ng-disabled="true">
                                <span class="lbl padding-8">Veg</span>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" data-ng-model="HLHSREQC_NonVegMessFlg" ng-disabled="true">
                                <span class="lbl padding-8">Non-Veg</span>
                            </label>
                            <br />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group well text-center">
                            <label class="checkbox-inline" ng-if="acavailable='AC'">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" data-ng-model="HLHSREQC_ACRoomFlg" ng-disabled="true">
                                <span class="lbl padding-8">AC</span>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" data-ng-model="HLHSREQC_SingleRoomFlg" ng-disabled="true">
                                <span class="lbl padding-8">Single</span>
                            </label>
                            <br />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Request Remarks</label>
                            <div class="col-sm-8 textleft">
                                <textarea rows="2" ng-model="HLHSREQC_Remarks" style="width:100%;resize:none" ng-disabled="true"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Approved Remarks</label>
                            <div class="col-sm-8 textleft">
                                <textarea rows="2" ng-model="HLHSREQC_Remarks" style="width:100%;resize:none"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <input type="hidden" ng-model="HLHSREQC_Id" value="{{HLHSREQC_Id}}" />
                   
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form2.$invalid" ng-click="requestApproved()" id="save-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Approved
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form2.$invalid" ng-click="requestRejected()" id="save-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Rejected
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="Clearid()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </form>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Student Request List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">
                        <b> Total Grid Records :</b>
                        <label class="badge">
                            {{student_RequestList.length}} &nbsp; <label ng-show="student_RequestList.length==0"><b style="font-size:20px;color:red;padding-left:10px">Record Not Found!</b></label>
                        </label>
                    </label>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-if="search2!=''">
                    <label class="control-label">
                        <b>Total Records Searched : </b>
                        <label class="badge">
                            {{filterValue.length}}
                        </label>
                    </label>
                </div>
            </div>
            <div class="col-sm-4 pull-right">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input class="form-control" type="text" ng-model="search2" placeholder="search here...">
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            SL.No.
                        </th>
                        <th>
                            <a href="" ng-click="sort('studentName')">Student Name</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('ASMCL_ClassName')">Course</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('AMST_RegistrationNo')">Registration No</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HLMH_Name')">Hostel</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HLMRCA_RoomCategory')">Room Category</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HLHSREQC_RequestDate')">Request Date</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HLHSREQC_BookingStatus')">Status</a>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in filterValue=(student_RequestList | filter : search2) | orderBy:sortKey:reverse |itemsPerPage:itemsPerPage2" current-page="currentPage2">
                        <td>{{itemsPerPage2 *(currentPage2-1)+$index+1}}</td>
                        <td>{{user.studentName}}</td>
                        <td>{{user.AMCO_CourseName}}</td>
                        <td>{{user.AMCST_RegistrationNo}}</td>
                        <td>{{user.HLMH_Name}}</td>
                        <td>{{user.HLMRCA_RoomCategory}}</td>
                        <td>{{user.HLHSREQC_RequestDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{user.HLHSREQC_BookingStatus}}</td>
                        <td style="text-align:center">
                            <a href="javascript:void(0)" ng-click="editstudetLV(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
</section>