<section class="content">
    <div data-ng-init="loaddata()">
        <div class="box box-primary" ng-app="MyModule">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Student Logs Insertion
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form class="form-horizontal" role="form" name="myForm" data-ng-submit="saveddata()" novalidate>                  
                    <div class="row col-sm-12">

                        <div class="col-sm-6">
                            <label class="control-label col-sm-4">Student Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <ui-select id="sel" name="acd" ng-model="Obj.amcsT_Id" theme="bootstrap" title="Select Student" ng-change="Onshiftname()">
                                    <ui-select-match ng-trim="false" placeholder="Select(or)Search Student in the list">
                                        {{$select.selected.amcsT_FirstName}} {{$select.selected.amcsT_MiddleName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="option in employee | filter: $select.search" value="{{option.amcsT_Id}}" ng-selected="{{option.Selected == true}}">
                                        <div ng-bind-html="(option.amcsT_FirstName) | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <label id="upnme" ng-show="updateshowlabel">{{updatename}}</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Date: <strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <md-datepicker name="sch_date" data-ng-model="HLHSTBIO_PunchDate" onkeydown="return false" md-max-date="minDatef" required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.sch_date)" ng-messages="myForm.sch_date.$error">
                                        <div ng-message="required">Select Date</div>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                    <div class="row">
                        <div class="col-sm-6" ng-show="employeelist.length > 0">                          
                            <table class="table table-hover table-responsive table-bordered text-center">
                                <thead>
                                    <tr>

                                        <th>
                                            <a href="">SL. No.</a>
                                        </th>
                                        <th>
                                            <a href="">Times</a>
                                        </th>
                                        <th>
                                            <a href="">IN / OUT</a>
                                        </th>
                                        <th>
                                            <a href="">Action</a>
                                        </th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="user1 in employeelist">

                                        <td>{{ $index+1}}</td>
                                        <td>{{user1.hlhstbioD_PunchTime | date :'HH:mm'}}</td>
                                        <td>
                                            <span ng-if="user1.hlhstbioD_InOutFlg=='I'">IN</span>
                                            <span ng-if="user1.hlhstbioD_InOutFlg=='O'">OUT</span>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" ng-click="deletedata(user1)" data-toggle="tooltip" title="Delete"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>


                        <div class="col-sm-2" ng-show="showdepartment1">
                            <div class="col-sm-3">
                                <div uib-timepicker ng-show="showdepartment1" name="Ml_time" ng-model="timpic" show-meridian="ismeridian1" required></div>

                                <div class="error-messages" ng-if="interacted(myForm.Ml_time)" style="width: 100px;" ng-messages="myForm.Ml_time.$error">
                                    <div ng-message="required">Select Time</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 margin-top-15" ng-show="showdepartment1">

                            <select class="form-control" id="sedl" name="inout" ng-model="inout" required>
                                <option value="">--Select--</option>
                                <option value="I">In</option>
                                <option value="O">Out</option>
                            </select>
                            <div class="error-messages" ng-if="interacted(myForm.inout)" ng-messages="myForm.inout.$error">
                                <div ng-message="required">Select Display Type</div>
                            </div>
                        </div>


                    </div>


                    <hr />
                    <div class="text-center">
                        <input type="hidden" data-ng-model="HLHSTBIO_Id" value="{{HLHSTBIO_Id}}" />
                        <input type="hidden" ng-model="AMCST_Id" value="{{AMCST_Id}}" />
                        <input type="hidden" ng-model="HLHSTBIOD_Id" value="{{HLHSTBIOD_Id}}" />
                        <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary">
                            <i class="fa fa-save" aria-hidden="true"></i> Save
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" ng-click="clearid()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </md-button>

                    </div>
                </form>
            </div>
        </div>
    </div>
   
</section>