
<style>
    .row {
        margin-left: 0px !important;
    }

    md-datepicker {
        padding-left: 22px;
    }

    .textleft {
        padding-left: 15px;
    }
    .txtstyle {
        margin-left: 17px;
    }
</style>
<section class="content" data-ng-init="loadData()">


    <div class="box box-primary">

        <div class="box-header with-border">
            <h3 class="box-title">HOSTEL ALLOTMENT FOR STAFF</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Hostel Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="HLMH_Id" name="hostll" ng-change="get_studInfo();" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="hsl in hostel_list" value="{{hsl.hlmH_Id}}" ng-selected="hsl.Selected==true">
                                        {{hsl.hlmH_Name}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.hostll)" ng-messages="myForm.hostll.$error">
                                    <div ng-message="required">Select Hostel Name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Allotment Date<span style="color:Red">*</span></label>
                            <md-datepicker name="allotdate" ng-model="HLHSTALT_AllotmentDate" onkeydown="return false" md-placeholder="Select date" ng-required ng-disabled="true"></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.allotdate)" ng-messages="myForm.allotdate.$error">
                                <div ng-message="required">Please Enter Date</div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row">                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Employee Name :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="hrmE_Id" name="stdnt" required ng-change="get_studInfo(housewise_studentList) ">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="st in housewise_studentList" value="{{st.HRME_Id}}" ng-selected="st.HRME_Id==hrmE_Id">
                                        {{st.staffname}} &nbsp; : &nbsp;  {{st.HRME_EmployeeCode}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.stdnt)" ng-messages="myForm.stdnt.$error">
                                    <div ng-message="required">Select Employee Name</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Department Name :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="hrmD_Id" name="clsss" required ng-disabled="true" >
                                    <option value="">--Select--</option>
                                    <option ng-repeat="cls in deptlist" value="{{cls.hrmD_Id}}" ng-selected="cls.Selected==true">
                                        {{cls.hrmD_DepartmentName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.clsss)" ng-messages="myForm.clsss.$error">
                                    <div ng-message="required">Select Department Name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Designation Name :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="hrmdeS_Id" name="sction" required ng-disabled="true">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="sect in desglist" value="{{sect.hrmdeS_Id}}" ng-selected="sect.Selected==true">
                                        {{sect.hrmdeS_DesignationName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.sction)" ng-messages="myForm.sction.$error">
                                    <div ng-message="required">Select Designation Name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Room Category :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="hlmrcA_Id" name="romnocat" required ng-disabled="true">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="rom in roomcatgry_list" value="{{rom.hlmrcA_Id}}" ng-selected="rom.Selected==true">
                                        {{rom.hlmrcA_RoomCategory}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.romnocat)" ng-messages="myForm.romnocat.$error">
                                    <div ng-message="required">Select Room Category</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Room No :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="HRMRM_Id" name="romno" required ng-change="get_roomdetails();">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="rom in room_list" value="{{rom.hrmrM_Id}}" ng-selected="rom.Selected==true">
                                        {{rom.hrmrM_RoomNo}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.romno)" ng-messages="myForm.romno.$error">
                                    <div ng-message="required">Select Room No</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">No of Bed:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="nobed" ng-model="HRMRM_BedCapacity" class="form-control" maxlength="160" required placeholder="No of Bed..." ng-disabled="true" />
                                <div class="error-messages" ng-if="interacted(myForm.nobed)" ng-messages="myForm.nobed.$error">
                                    <div ng-message="required">Enter the No of Bed</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 txtstyle">
                        <div class="form-group well text-center">
                            <label class="col-sm-4">Mess Type  :</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" data-ng-model="HLHSTREQC_VegMessFlg" ng-disabled="true">
                                <span class="lbl padding-8">Veg</span>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" data-ng-model="HLHSTREQC_NonVegMessFlg" ng-disabled="true">
                                <span class="lbl padding-8">Non-Veg</span>
                            </label>
                            <br />
                        </div>

                        <div class="form-group well text-center">
                            <label class="col-sm-4">Room  Type:</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" data-ng-model="HLHSTREQC_ACRoomFlg" ng-disabled="true">
                                <span class="lbl padding-8">AC</span>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" data-ng-model="HLHSTREQC_SingleRoomFlg" ng-disabled="true">
                                <span class="lbl padding-8">Single</span>
                            </label>
                            <br />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Allot Remarks:</label>
                            <div class="col-sm-8 textleft">
                                <textarea rows="4" ng-model="HLHSTALT_AllotRemarks" style="width:100%;resize:none"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="false">
                    <div class="col-sm-6">
                        <div class="form-group well text-center">
                            <label class="col-sm-4"> Vacate Flag :</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" data-ng-model="HLHSTALT_VacateFlg">
                                <span class="lbl padding-8">Vacate</span>
                            </label>
                        </div>

                    </div>
                    <div class="col-sm-6" ng-show="HLHSTALT_VacateFlg=='1'">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Vacate Date<span style="color:Red">*</span></label>
                            <md-datepicker name="tdate" ng-model="HLHSTALT_VacatedDate" onkeydown="return false" md-placeholder="Select date" ng-required="HLHSTALT_VacateFlg=='1'"></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.tdate)" ng-messages="myForm.tdate.$error">
                                <div ng-message="required">Please Enter Date</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="HLHSTALT_VacateFlg=='1'">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Vacate Remarks<span style="color:Red">*</span></label>
                            <div class="col-sm-8 textleft">
                                <textarea rows="2" name="vacremark" ng-model="HLHSTALT_VacateRemarks" style="width:100%;resize:none" ng-required="HLHSTALT_VacateFlg=='1'"></textarea>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.vacremark)" ng-messages="myForm.vacremark.$error">
                                <div ng-message="required">Please Enter Vacate Remarks</div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="text-center">
                    <input type="hidden" ng-model="HLHSTALT_Id" value="{{HLHSTALT_Id}}" />
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="savedata()" id="save-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="Clearid()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>

            </form>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">LIST OF HOSTEL ALLOTMENT FOR STAFF</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">
                        <b> Total Grid Records :</b>
                        <label class="badge">
                            {{student_allotlist.length}} &nbsp; <label ng-show="student_allotlist.length==0"><b style="font-size:20px;color:red;padding-left:10px">Record Not Found!</b></label>
                        </label>
                    </label>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" ng-if="search2!=''">
                    <label class="control-label">
                        <b>Total Records Searched : </b>
                        <label class="badge">
                            {{filterValue.length}}
                        </label>
                    </label>
                </div>
            </div>

            <div class="col-sm-4 pull-right">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input class="form-control" type="text" ng-model="search2" placeholder="search here...">
                    </div>
                </div>
            </div>

            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            SL.No.
                        </th>
                        <th>
                            <a href="" ng-click="sort('staffName')">Staff Name</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HRMD_DepartmentName')">Department</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HRMDES_DesignationName')">Designation</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HLMH_Name')">Hostel Name</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HLMRCA_RoomCategory')">Room Category</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HLHSTREQ_RequestDate')">Request Date</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('HLHSTREQ_BookingStatus')">Status</a>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in filterValue=(student_allotlist | filter : search2) | orderBy:sortKey:reverse |itemsPerPage:itemsPerPage2" current-page="currentPage2">
                        <td>{{itemsPerPage2 *(currentPage2-1)+$index+1}}</td>
                        <td>{{user.staffName}}</td>
                        <td>{{user.HRMD_DepartmentName}}</td>
                        <td>{{user.HRMDES_DesignationName}}</td>
                        <td>{{user.HLMH_Name}}</td>
                        <td>{{user.HLMRCA_RoomCategory}}</td>
                        <td>{{user.HLHSTREQ_RequestDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{user.HLHSTREQ_BookingStatus}}</td>
                        <td style="text-align:center" ng-if="user.HLHSREQC_BookingStatus=='Waiting'">
                            <a href="javascript:void(0)" ng-click="editstudetLV(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <span ng-if="!user.HLHSTALT_ActiveFlag">
                                <a href="" ng-click="deactivYTab1(user)" class="text-green" data-placement="bottom" title="activate">
                                    Activate
                                </a>
                            </span>
                            <span ng-if="user.HLHSTALT_ActiveFlag">
                                <a href="" ng-click="deactivYTab1(user)" class="text-danger" data-placement="bottom" title="deactivate">
                                    Deactivate
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>

</section>