<section class="content" data-ng-init="onLoadGetData()">
    <form class="form-horizontal" role="form" name="myForm" data-ng-submit="saveData()" novalidate>
        <div class="box box-primary">
            <div class="well text-center" ng-hide="gridOptions.length > 0">
                <span style="color:red;font-weight:600">Records not available for approval</span>
            </div>
            <div class="box-body" ng-if="gridOptions.length > 0">
                <div class="row">
                    <hr />
                    <div class="col-sm-12">
                        <div class="well">
                            <di class="box-header with-border">
                                <h3 class="box-title">STUDENT GATEPASS APPROVAL</h3>
                            </di>
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-left">
                                                SL.No.
                                            </th>
                                            <th class="text-left"> Student Name</th>
                                            <th class="text-left"> Type</th>
                                            <th class="text-left">Out Date</th>
                                            <th class="text-left"> Out time</th>
                                            <th class="text-left">In Date </th>
                                            <th class="text-left">Reason</th>
                                            <!--<th class="text-left">Total Days</th>-->
                                            <th class="text-left">Actions </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="user in gridOptions">
                                            <td>{{$index+1}}</td>
                                            <td>{{user.Student_Name}}</td>
                                            <td>{{user.HLHSTGP_TypeFlg}}</td>
                                            <td>{{user.HLHSTGP_GoingOutDate | date:'dd/MM/yyyy'}}</td>
                                            <td>{{user.HLHSTGP_GoingOutTime}}</td>
                                            <td>{{user.HLHSTGP_ComingBackDate | date:'dd/MM/yyyy'}}</td>
                                            <td>{{user.HLHSTGP_Reason}}</td>
                                            <!--<td>{{user.HLHSTGP_TotalDays}}</td>-->                                            
                                             <td>
                                                <div class="grid-action-cell">
                                                    <a href="javascript:void(0)" data-toggle="modal" title="View Comments" ng-click="GetAllRelData(user)"> <i class="fa fa-arrow-down" aria-hidden="true"> </i></a>
                                                </div>
                                            </td>                                                                                   
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary" ng-if="getdata.length >0">
            <!--UP arrow Navigation-->
            <div class="box-header with-border">
                <h3 class="box-title">Student Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row" ng-repeat="stu in getdata">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <div class="img-area ">
                                                    <div class="inner-area">
                                                        <img src="{{stu.AMCST_StudentPhoto}}" width="100" height="200" ng-click="previewimg_new(stu.AMCST_StudentPhoto)">
                                                    </div>
                                                </div><br />
                                            </div>

                                            <div class="col-sm-8 ">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-left"><b>Student Name:</b></td>
                                                            <td>  {{stu.StudentName}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-left"><b>Date of Birth:</b></td>
                                                            <td>{{stu.AMCST_DOB|date:'dd/MM/yyyy'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-left"><b>Mobile No.:</b></td>
                                                            <td>{{stu.AMCST_MobileNo}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-left"><b>Aadhar No.:</b></td>
                                                            <td> {{stu.AMCST_AadharNo}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-left"><b>Email Id:</b></td>
                                                            <td>{{stu.AMCST_emailId}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label col-sm-4">Coming-Back Date:<strong style="color:red;">*</strong></label>
                            <md-datepicker name="CameBackDate" data-ng-model="obj.HLHSTGP_ComingBackDate" onkeydown="return false" required></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.CameBackDate)" ng-messages="myForm.CameBackDate.$error">
                                <div ng-message="required">Select Date </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label col-sm-4">Coming-Back Time:<span style="color:red;">*</span></label>
                            <div uib-timepicker name="time1" class="col-sm-2" data-ng-model="obj.HLHSTGP_ComingBackTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></div>
                            <div class="error-messages" ng-if="interacted(myForm.time1)" ng-messages="myForm.time1.$error">
                                <div ng-message="required">Select Time</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Remark:<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" style="height:100px;" type="text" name="Remarks" data-ng-model="obj.HLHSTGPAPP_Remarks" ng-pattern="/^[A-z\d_.#\,\:\-]*/" allow-pattern="(\s|[a-zA-Z0-9]|#|-|,|:|.)" id="Remarks" required maxlength="500" minlength="3">  </textarea>
                                    <div class="error-messages" ng-if="interacted(myForm.Remarks)" ng-messages="myForm.Remarks.$error">
                                        <div ng-message="required"> Enter  Remarks</div>
                                        <div ng-message="minlength">Field must contain atleast 6 characters</div>
                                        <div ng-message="maxlength">Field cannot take more than 500 characters</div>
                                        <div ng-message="pattern">Pattern does not match</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-push-0">
                <div class="form-group">
                    <label class="control-label col-sm-2">Remark:<strong style="color:red;">*</strong></label>
                    <div class="col-sm-3">
                        <textarea class="form-control" style="height:100px;" type="text" name="Remarks" data-ng-model="obj.HLHSTGPAPP_Remarks" ng-pattern="/^[A-z\d_.#\,\:\-]*/" allow-pattern="(\s|[a-zA-Z0-9]|#|-|,|:|.)" id="Remarks" required maxlength="500" minlength="3">  </textarea>
                        <div class="error-messages" ng-if="interacted(myForm.Remarks)" ng-messages="myForm.Remarks.$error">
                            <div ng-message="required"> Enter  Remarks</div>
                            <div ng-message="minlength">Field must contain atleast 6 characters</div>
                            <div ng-message="maxlength">Field cannot take more than 500 characters</div>
                            <div ng-message="pattern">Pattern does not match</div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="text-center">
                    <input type="hidden" data-ng-model="HLHSTGP_Id" value="{{HLHSTGP_Id}}" />
                    <input type="hidden" data-ng-model="AMCST_Id" value="{{stu.AMCST_Id}}" />
                    <input type="hidden" data-ng-model="HLHSTGPAPP_Id" value="{{HLHSTGPAPP_Id}}" />
                    <md-button type="button" class="md-raised md-primary"  ng-click="approvedreject('Approved')"  id="save-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        
                        Approve
                    </md-button>
                    <md-button type="button" class="md-raised md-primary"  ng-click="approvedreject('Rejected')" id="save-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Reject
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" data-ng-click="Clear()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </div>            
        </div>

            <div class="box box-primary" ng-show="getloaddata.length>0">
                <div class="box-header with-border">
                    <h3 class="box-title">Hostel GatePass Approve and Reject Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>SL.No.</th>
                                <th><a href="" ng-click="sortBy('Student_Name')"> Type</a></th>
                                <th><a href="" ng-click="sortBy('type')"> Type</a></th>
                                <th><a href="" ng-click="sortBy('HLHSTGP_GoingOutDate')">Out Date</a></th>
                                <th><a href="" ng-click="sortBy('HLHSTGP_GoingOutTime')">Out time</a></th>
                                <th><a href="" ng-click="sortBy('HLHSTGP_ComingBackDate')">In Date</a></th>
                                <th><a href="" ng-click="sortBy('HLHSTGP_ComingBackTime')">In Time</a></th>
                                <!--<th><a href="" ng-click="sortBy('HLHSTGP_TotalDays')">Total Days</a> </th>-->
                                <th><a href="" ng-click="sortBy('HLHSTGPAPP_Remarks')">Remark</a> </th>
                                <th><a href="" ng-click="sortBy('HLHSTGPAPP_Status')">Status</a> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user2 in getloaddata | filter : search">
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{user2.Student_Name}}</td>
                                <td>{{user2.HLHSTGP_TypeFlg}}</td>
                                <td>{{user2.HLHSTGP_GoingOutDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{user2.HLHSTGP_GoingOutTime}}</td>
                                <td>{{user2.HLHSTGP_ComingBackDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{user2.HLHSTGP_ComingBackTime}}</td>
                                <!--<td>{{user2.HLHSTGP_TotalDays}}</td>-->
                                <td>{{user2.HLHSTGPAPP_Remarks}}</td>
                                <td>{{user2.HLHSTGPAPP_Status}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
</form>
</section>



