<style>
    .multiselect {
        width: 24.1em;
        height: 10em;
        border: solid 1px #5cb7ff;
        overflow: auto;
        margin-left: 0;
        margin-bottom: 1%;
        padding: 2%;
    }

    .well {
        position: relative;
        border-radius: 40px;
        background: #ffffff !important;
        border-top: 0px solid #d2d6de !important;
        padding: 0px !important;
        margin-bottom: 5px !important;
        width: 100%;
        -webkit-box-shadow: 0 0px 5px rgb(0 0 0 / 20%) !important;
        box-shadow: 0 0px 5px rgb(0 0 0 / 20%) !important;
    }
</style>
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-init="loaddata()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Hostel Student Allotment Graphical Presentation</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year :</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="Year" ng-model="ASMAY_Id" required ng-change="OnChangeYear()">
                                    <option value="" label="Select Academic Year"> </option>
                                    <option ng-repeat="option1 in yearlist" value="{{option1.asmaY_Id}}" ng-selected="{{option1.asmaY_Id == ASMAY_Id}}">
                                        {{option1.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.Year)" ng-messages="myForm.Year.$error">
                                    <div ng-message="required">Select Year</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                <input name="allcheck" value="" ng-model="all_RoomCategory" type="checkbox" ng-click="OnClickAll_RoomCategory()">
                                <span class="lbl padding-8">
                                    Room Category :
                                </span><span style="color:Red">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="multiselect">
                                    <input class="form-control" ng-model="searchchkbx_RoomCategory" type="text" placeholder="search here..." style="margin:1%;">
                                    <label data-ng-model="HLMRCA_Id" ng-repeat="sub in roomcategorylist | filter:filterchkbx_RoomCategory" value="{{sub.hlmrcA_Id}}">
                                        <input name="Subjectoption" value="" ng-click="individual_RoomCategory()" ng-model="sub.checked_RoomCategory" type="checkbox"
                                               ng-required="isOptionsRequired_RoomCategory()">
                                        <span class="lbl padding-8">
                                            {{sub.hlmrcA_RoomCategory}}
                                        </span>
                                    </label>
                                </div>
                                <div class="error-messages" ng-if="interacted(myForm.Subjectoption)" ng-messages="myForm.Subjectoption.$error">
                                    <div ng-message="required">Select Room Category</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Hostel Name :</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel4" name="hostel" ng-model="HLMH_Id" required ng-change="OnChangeHostel()">
                                    <option value="" label="Select Hostel"> </option>
                                    <option ng-repeat="option4 in hostellist" value="{{option4.hlmH_Id}}" ng-selected="{{option4.Selected == true}}">
                                        {{option4.hlmH_Name}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.hostel)" ng-messages="myForm.hostel.$error">
                                    <div ng-message="required">Select Hostel</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                <input name="allcheck" value="" ng-model="all_FloorName" type="checkbox" ng-click="OnClickAll_FloorName()">
                                <span class="lbl padding-8">
                                    Floor Name :
                                </span><span style="color:Red">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="multiselect">
                                    <input class="form-control" ng-model="searchchkbx_FloorName" type="text" placeholder="search here..." style="margin:1%;">
                                    <label data-ng-model="HRMF_Id" ng-repeat="sub in floorlist | filter:filterchkbx_FloorName" value="{{sub.hrmF_Id}}">
                                        <input name="Subjectoption_floor" value="" ng-click="individual_FloorName()"
                                               ng-model="sub.checked_FloorName" type="checkbox" ng-required="isOptionsRequired_FloorName()">
                                        <span class="lbl padding-8">
                                            {{sub.hrmF_FloorName}}
                                        </span>
                                    </label>
                                </div>
                                <div class="error-messages" ng-if="interacted(myForm.Subjectoption_floor)" ng-messages="myForm.Subjectoption_floor.$error">
                                    <div ng-message="required">Select Floor Name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-sm-12">
                    <div class="text-center">
                        <md-button type="button" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" aria-disabled="false" ng-click="getreport()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Report
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </md-button>
                        <!--<md-button type="button" class="md-raised md-primary" ng-click="printData()" ng-show="printflag">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            Print
                        </md-button>-->
                        <!--<md-button type="button" class="md-raised md-primary" ng-disabled="form.$invalid" id="excel-btn" ng-click="ExportToExcel()" 
                                   ng-show="griddata1.length > 0">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Export to Excel
                        </md-button>-->
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div class="box box-primary" ng-if="griddata.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">Hostel Student Allotment Graphical Presentation</h3>
            <label class="control-label" style="padding-left: 10% !important;color: lightcoral !important;font-weight: bolder;font-size: 16px !important;">
                Note : Click On Room No. To View Alloted Student Details
            </label>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div ng-repeat="floor in Temp_Floor_List">
                <div class="row col-sm-12 margin-top-15">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{floor.HRMF_FloorName}}</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div ng-repeat="room in floor.room_details">
                                <div class="col-sm-4">
                                    <div class="form-group well" ng-click="ViewAllotedStudentDetails(room)"
                                         style="height: 150px !important; background-color : {{room.RoomBGColor}} !important">
                                        <h3 style="text-decoration:underline !important; text-transform:none !important; text-align:center ; color: white!important;">
                                            Room No. : {{room.HRMRM_RoomNo}}
                                        </h3>
                                        <label style="color: #fdfdfd !important" class="control-label col-sm-12"><b>Room Capacity : {{room.HRMRM_BedCapacity}}</b></label>
                                        <label style="color: #fdfdfd !important" class="control-label col-sm-12"><b>Alloted Capacity : {{room.AllotedBedsCount}}</b></label>
                                        <label style="color: #fdfdfd !important" class="control-label col-sm-12"><b>Available Capacity : {{room.AvailableBedsCount}}</b></label>
                                        <label style="color: #fdfdfd !important" class="control-label col-sm-12"><b>Room Status : {{room.RoomStatus}}</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade  modal-medium" id="mymodalviewstudentdetails" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i></button>
            <h4 class="modal-title text-white">Alloted Student Details</h4>
        </div>
        <div class="modal-content">
            <div class="box-body">
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <label class="col-sm-12 control-label">Hostel : {{hostelname}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-12 control-label">Floor : {{floorname}}</label>
                    </div>
                </div>

                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <label class="col-sm-12 control-label">Room Category : {{roomcategoryname}}</label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-12 control-label">Room No.: {{roonno}}</label>
                    </div>
                </div>

                <div class="row col-sm-12 margin-top-10">
                    <div style="overflow-x: auto">
                        <table class="table table-bordered" ng-if="institution_flag=='C'">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Student Name</th>
                                    <th>Admno</th>
                                    <th>Course</th>
                                    <th>Branch</th>
                                    <th>Semester</th>
                                    <th>Alloted Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in getstudentalloteddata">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-left">{{user.StudentName}}</td>
                                    <td class="text-left">{{user.AMCST_AdmNo}}</td>
                                    <td class="text-left">{{user.AMCO_CourseName}}</td>
                                    <td class="text-left">{{user.AMB_BranchName}}</td>
                                    <td class="text-left">{{user.AMSE_SEMName}}</td>
                                    <td class="text-center">{{user.HLHSALTC_AllotmentDate}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered" ng-if="institution_flag=='S'">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Student Name</th>
                                    <th>Admno</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Alloted Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in getstudentalloteddata">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-left">{{user.StudentName}}</td>
                                    <td class="text-left">{{user.AMST_AdmNo}}</td>
                                    <td class="text-left">{{user.ASMCL_ClassName}}</td>
                                    <td class="text-left">{{user.ASMC_SectionName}}</td>
                                    <td class="text-center">{{user.HLHSALT_AllotmentDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="row text-center">
                    <md-button type="button" class="md-raised md-warn" data-dismiss="modal">Close</md-button>
                </div>
            </div>
        </div>
    </div>
</div>