
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-init="loaddata()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Hostel Student and staff Confirm Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="">
                    <div class="">
                        <div class="well">
                            <div class="text-center">
                                <label class="radio-inline" ng-init="ctype='Student'">
                                    <input name="optradio3" type="radio" data-ng-model="ctype" value="Student" required ng-change="changedrdo()">
                                    <span class="lbl padding-8">Student</span>
                                </label>
                                <label class="radio-inline">
                                    <input name="optradio3" type="radio" data-ng-model="ctype" value="Staff" required ng-change="changedrdo()">
                                    <span class="lbl padding-8">Staff</span>
                                </label>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.optradio3)" ng-messages="myForm.optradio3.$error">
                                <div ng-message="required">Select any one of the radio button</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4"> From Date:<span style="color:Red">*</span></label>
                                <div class="col-sm-8 ol-sm-offset-4">
                                    <md-datepicker name="insto" ng-model="frmdate" onkeydown="return false" md-placeholder="Select date" required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.insto)" ng-messages="myForm.insto.$error">
                                        <div ng-message="required">Select Date</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4">  To Date::<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <md-datepicker name="insto1" ng-model="todate" onkeydown="return false" md-placeholder="Select date" required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.insto1)" ng-messages="myForm.insto1.$error">
                                        <div ng-message="required">Select Date</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="col-sm-12">
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" aria-disabled="false" ng-click="getconfirmreport()">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                            <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </md-button>
                            <md-button type="button" class="md-raised md-primary" ng-click="printData()" ng-show="printflag">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                Print
                            </md-button>
                            <md-button type="button" class="md-raised md-primary" ng-disabled="form.$invalid" id="excel-btn" ng-click="ExportToExcel()" ng-show="griddata.length > 0">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                Export to Excel
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="" ng-show="allgrid==true && ctype=='Student'">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Student Confirm Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{griddata.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-responsive table-bordered text-center" border="1" id="tabel11" style="border-collapse:collapse">
                        <thead>
                            <tr>
                                <th>
                                    SL.No.
                                </th>
                                <th><a href="" ng-click="sortBy('student')">Student Name</a> </th>
                                <th><a href="" ng-click="sortBy('AMST_AdmNo')">Admission NO</a> </th>
                                <th><a href="" ng-click="sortBy('HLMRCA_RoomCategory')">Room Category</a> </th>
                                <th><a href="" ng-click="sortBy('ASMCL_ClassName')">Class</a> </th>
                                <th><a href="" ng-click="sortBy('ASMC_SectionName')">Section</a> </th>
                                <th><a href="" ng-click="sortBy('HLMH_Name')">Hostel Name</a> </th>
                                <th><a href="" ng-click="sortBy('HLHSREQC_BookingStatus')">Status</a> </th>
                                <th><a href="" ng-click="sortBy('HLHSREQC_Remarks')">Remarks</a> </th>
                                <th><a href="" ng-click="sortBy('HLHSREQC_Date')">Confirm Date</a> </th>
                                <th><a href="" ng-click="sortBy('HRMRM_RoomNo')">Room No</a> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="user in filterValue1=(griddata | filter : searchValue) | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage">
                                <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>                               
                                <td style="text-align:left;">{{ user.StudentName}}</td>
                                <td>{{ user.AMST_AdmNo}}</td>
                                <td style="text-align:left;">{{ user.HLMRCA_RoomCategory}}</td>
                                <td style="text-align:left;">{{ user.ASMCL_ClassName}}</td>
                                <td style="text-align:left;">{{ user.ASMC_SectionName}}</td>
                                <td style="text-align:left;">{{ user.HLMH_Name}}</td>
                                <td style="text-align:left;">{{ user.HLHSREQC_BookingStatus}}</td>
                                <td style="text-align:left;">{{ user.HLHSREQC_Remarks}}</td>
                                <td>{{ user.HLHSREQC_Date|date:'dd/MM/yyyy'}}</td>
                                <td>{{ user.HRMRM_RoomNo}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div id="printtable1" ng-hide="true">
        <div class="box box-primary">
            <div class="box-header with-border">               
                <h4 class="text-center">Student Confirm Report</h4>
            </div>
            <div class="box-body">
                <div>
                    <table class="table table-bordered table-hover table-responsive text-center">
                        <thead>
                            <tr>
                                <th width="5%">
                                    SL.No.
                                </th>
                                <th style="width:12%">
                                    Student Name
                                </th>
                                <th style="width:12%">
                                    Admission NO
                                </th>
                                <th>
                                    Room Category
                                </th>
                                <th>
                                    Class
                                </th>
                                <th>
                                    Section
                                </th>
                                <th>
                                    Hostel Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Remarks
                                </th>
                                <th>
                                    Confirm Date
                                </th>
                                <th>
                                    Room No
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in griddata">
                                <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td style="text-align:left;">{{ user.StudentName}}</td>
                                <td>{{ user.AMST_AdmNo}}</td>
                                <td style="text-align:left;">{{ user.HLMRCA_RoomCategory}}</td>
                                <td style="text-align:left;">{{ user.ASMCL_ClassName}}</td>
                                <td style="text-align:left;">{{ user.ASMC_SectionName}}</td>
                                <td style="text-align:left;">{{ user.HLMH_Name}}</td>
                                <td style="text-align:left;">{{ user.HLHSREQC_BookingStatus}}</td>
                                <td style="text-align:left;">{{ user.HLHSREQC_Remarks}}</td>
                                <td>{{ user.HLHSREQC_Date|date:'dd/MM/yyyy'}}</td>
                                <td>{{ user.HRMRM_RoomNo}}</td>
                            </tr>
                        </tbody>                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="" ng-show="allgrid==true && ctype=='Staff'">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Staff Confirm Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{griddata.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-responsive table-bordered text-center" border="1" id="tabel11" style="border-collapse:collapse">
                        <thead>
                            <tr>
                                <th>
                                    SL.No.
                                </th>
                                <th><a href="" ng-click="sortBy('StaffName')">Staff Name</a> </th>
                                <th><a href="" ng-click="sortBy('HRMD_DepartmentName')">Department</a> </th>
                                <th><a href="" ng-click="sortBy('HRMDES_DesignationName')">Designation</a> </th>
                                <th><a href="" ng-click="sortBy('HRME_EmployeeCode')">Code</a> </th>
                                <th><a href="" ng-click="sortBy('HLMH_Name')">Hostel Name</a> </th>
                                <th><a href="" ng-click="sortBy('HLMRCA_RoomCategory')">Room Category</a> </th>
                                <th><a href="" ng-click="sortBy('HLHSTREQC_BookingStatus')">Status</a> </th>
                                <th><a href="" ng-click="sortBy('HLHSTREQC_Remarks')">Remarks</a> </th>
                                <th><a href="" ng-click="sortBy('HLHSTREQC_RequestDate')">Confirm Date</a> </th>
                                <th><a href="" ng-click="sortBy('HRMRM_RoomNo')">Room No</a> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="user in filterValue1=(griddata | filter : searchValue) | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage">
                                <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td style="text-align:left;">{{ user.StaffName}}</td>
                                <td style="text-align:left;">{{ user.HRMD_DepartmentName}}</td>
                                <td style="text-align:left;">{{ user.HRMDES_DesignationName}}</td>
                                <td>{{ user.HRME_EmployeeCode}}</td>
                                <td style="text-align:left;">{{ user.HLMH_Name}}</td>
                                <td style="text-align:left;">{{ user.HLMRCA_RoomCategory}}</td>
                                <td style="text-align:left;">{{ user.HLHSTREQC_BookingStatus}}</td>
                                <td style="text-align:left;">{{ user.HLHSTREQC_Remarks}}</td>
                                <td>{{ user.HLHSTREQC_RequestDate|date:'dd/MM/yyyy'}}</td>
                                <td>{{ user.HRMRM_RoomNo}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div id="printtable2" ng-hide="true">
        <div class="box box-primary">
            <div class="box-header with-border">
                <!--<div class="baldwin text-center">
                    <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                </div>-->
                <h4 class="text-center">Staff Confirm Report</h4>
            </div>
            <div class="box-body">
                <div>
                    <table class="table table-bordered table-hover table-responsive text-center">
                        <thead>
                            <tr>
                                <th width="5%">
                                    SL.No.
                                </th>
                                <th style="width:12%">
                                    Staff Name
                                </th>
                                <th style="width:12%">
                                    Department
                                </th>
                                <th>
                                    Designation
                                </th>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Hostel Name
                                </th>
                                <th>
                                    Room Category
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Remarks
                                </th>
                                <th>
                                    Confirm Date
                                </th>
                                <th>
                                    Room No
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in griddata">
                                <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td style="text-align:left;">{{ user.StaffName}}</td>
                                <td style="text-align:left;">{{ user.HRMD_DepartmentName}}</td>
                                <td style="text-align:left;">{{ user.HRMDES_DesignationName}}</td>
                                <td>{{ user.HRME_EmployeeCode}}</td>
                                <td style="text-align:left;">{{ user.HLMH_Name}}</td>
                                <td style="text-align:left;">{{ user.HLMRCA_RoomCategory}}</td>
                                <td style="text-align:left;">{{ user.HLHSTREQC_BookingStatus}}</td>
                                <td style="text-align:left;">{{ user.HLHSTREQC_Remarks}}</td>
                                <td>{{ user.HLHSTREQC_RequestDate |date:'dd/MM/yyyy'}}</td>
                                <td>{{ user.HRMRM_RoomNo}}</td>
                            </tr>
                        </tbody>
                        <!--<tfoot>
                            <tr>
                                <td colspan="14" class="text-center">
                                    <label>
                                        Date:{{ddate|date:'dd/MM/yyyy'}} &nbsp;&nbsp; UserName: {{usrname}}  {{coptyright}}
                                    </label>
                                </td>
                            </tr>
                        </tfoot>-->
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
