.BGHSAPP {
    width: 90%;
    margin: auto;  
 font-family: 'Source Sans Pro', sans-serif;
}
.BGHSAPP .border-bottom-3 {
        border-bottom: 3px solid #000 !important;
        text-align: left !important;
    }
.BGHSAPP .border-bottom {
    border-bottom: 1px solid #000 !important;
    text-align: left;
}
.BGHSAPP  .border-bottom-dotted {
    border-bottom: 1px dotted #000 !important;
    text-align: left !important;
}
.BGHSAPP h1, .BGHSAPP h2, .BGHSAPP h3, .BGHSAPP h4, .BGHSAPP h5, .BGHSAPP h6,
 .BGHSAPP .h1, .BGHSAPP .h2, .BGHSAPP .h3, .BGHSAPP .h4, .BGHSAPP .h5, .BGHSAPP .h6 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: none ;
    color: #3a5999 !important;
    font-weight: 700;
}

.BGHSAPP .table {
    width:100%;
    border: 0px;
    font-weight: 600;
    text-align: left !important;
    margin-bottom: 10px;
    /* background: #95c7ef; */
}
.BGHSAPP table {
    table-layout: fixed;
    width: 100%;  
    margin-bottom: 15px; 
 
}
.BGHSAPP .table>tbody>tr>td, .BGHSAPP .table>tbody>tr>th, .BGHSAPP .table>tfoot>tr>td, .BGHSAPP .table>tfoot>tr>th, .BGHSAPP .table>thead>tr>td, 
.BGHSAPP .table>thead>tr>th {
    padding: 8px;
    line-height: 1.0;
    vertical-align: bottom !important;
    border: 0px;
    /*text-align: left !important;*/
    font-size: 14px;
}
.BGHSAPP .box{
    border: 1px solid #000;
    padding: 5px;
}

.BGHSAPP .img-style{
    width:100px;
    height:100px;
    border:1px solid #ddd;
        float: right;
}
.BGHSAPP .office-use-box{
    width:400px;
    margin:auto;
    border:1px solid #000;
    padding:10px;
     font-size: 15px;
}
