
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-init="loaddata();" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Mobile App Download Report <label>
                    </label>

                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-8 col-lg-offset-2">
                        <div class="well">
                            <div class="text-center">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="optionflag" value="Download" name="Download">
                                    <span class="lbl padding-8">Download</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="optionflag" value="NotDownload" name="Download">
                                    <span class="lbl padding-8"> Not Download</span>
                                </label>
                            </div>
                        </div>

                        <!--<div class="well">
                            <div class="text-center">
                                <label class="radio-inline">
                                    <input type="radio" value="Download" name="Download" ng-model="optionflag" ng-change="optchange()">
                                    <span class="lbl padding-8"> Download </span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="NotDownload" name="Download" ng-model="optionflag" ng-change="optchange()">
                                    <span class="lbl padding-8">Not Download</span>
                                </label>

                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6 col-sm-offset-2">
                        <div class="form-group">
                            <label class="control-label lblcolor col-sm-4">Academic Year:<strong style="color:red;">*</strong></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel124" name="stdyearre" data-ng-model="ASMAY_Id" ng-change="getstudentlistre()" required>
                                    <option value="">--Select Year--</option>
                                    <option ng-repeat="stdyearre in yearlst" value="{{stdyearre.asmaY_Id}}" ng-selected="{{stdyearre.asmaY_Id == ASMAY_Id}}">
                                        {{stdyearre.asmaY_Year}}
                                    </option>
                                </select>


                                <div class="error-messages" ng-if="interacted(myForm.stdyearre)" ng-messages="myForm.stdyearre.$error">
                                    <div ng-message="required">Select Academic Year</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <div class="col-sm-5">
                                <span class="lbl padding-4">From Date<b style="color:red">*</b></span>
                                <md-datepicker ng-model="fromdate" name="sdate" md-placeholder="Start Date" required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.sdate)" ng-messages="myForm.sdate.$error">
                                    <div ng-message="required">Select Start Date</div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <span class="lbl padding-4">To Date<b style="color:red">*</b></span>
                                <md-datepicker ng-model="todate" md-min-date="fromdate" min-date="fromdate" name="ddate1" md-placeholder="End Date" required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.ddate1)" ng-messages="myForm.ddate1.$error">
                                    <div ng-message="required">Select End Date</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-4">
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                <input type="checkbox" ng-model="Active" ng-true-value="1" ng-false-value="0" />
                                <span class="lbl padding-8">Active</span>
                            </label>
                            <label class="control-label col-sm-4">
                                <input type="checkbox" ng-model="DeActive" ng-true-value="1" ng-false-value="0" />
                                <span class="lbl padding-8">De-Active</span>
                            </label>
                            <label class="control-label col-sm-4">
                                <input type="checkbox" ng-model="Left" ng-true-value="1" ng-false-value="0" />
                                <span class="lbl padding-8">Left</span>
                            </label>

                        </div>
                    </div>
                </div>


                <hr />
                <div class="">
                    <div class="text-center">
                        <span>
                            <md-button type="submit" class="md-raised md-primary" id="save-btn" ng-click="showreport()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                        </span>
                        <md-button type="submit" class="md-raised md-warn" data-ng-click="Clearid();">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancel
                        </md-button>
                        <md-button type="submit" class="md-raised md-primary" ng-click="exportToExcel('#tableexcell')" target="_blank" ng-show="mobapplist.length>0">
                            Export to Excel
                        </md-button>
                        <md-button type="submit" class="md-raised md-warn" ng-click="printData();" ng-show="mobapplist.length>0">
                            Print
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary" ng-show="mobapplist.length>0 && mobapplist.length!=null">
            <div class="box-header with-border">
                <h3 class="box-title" ng-show="optionflag=='Download'"> Mobile App Download Report</h3>
                <h3 class="box-title" ng-hide="optionflag=='Download'"> Mobile App Not Download Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label" style="color: green;">
                                <b> Total Records :</b>
                                <label class="badge">
                                    {{mobapplisttotalcount}}
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-3" ng-show="optionflag=='Download'">
                        <div class="form-group">
                            <label class="control-label" style="color: blue;">
                                <b>Total Download ({{total_Dp| number:2}} %) : </b>

                                <label class="badge">
                                    {{mobapplist.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-show="optionflag=='Download'">
                        <div class="form-group">
                            <label class="control-label" style="color: red;">
                                <b>Not Download ({{total_NDp | number:2}} %): </b>

                                <label class="badge">
                                    {{mobapplistnotcount}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-1" ng-if="searchValue!=''">
                        <div class="form-group">

                            <label class="control-label">
                                <b>Search : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-3 pull-right" style="width: 20%;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                            </div>
                        </div>
                    </div>

                </div>

                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="hdTH">
                                <label>
                                    <input type="checkbox" value="" ng-click="toggleAll();" ng-model="all">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </th>
                            <th>SL.NO</th>
                            <th>Student Name </th>
                            <th>AdmNo </th>
                            <th>Class Name</th>
                            <th>Section Name</th>
                            <th>Mobile No</th>
                            <th>Email Id</th>
                            <th>Status</th>


                        </tr>
                    </thead>
                    <tbody dir-paginate="user in filterValue1=(mobapplist  | filter:searchValue) | orderBy:sortKey:reverse |itemsPerPage:itemsPerPage1" current-page="currentPage1" pagination-id="paginate1">

                        <tr>

                            <td class="text-center hdTD">
                                <label>
                                    <input type="checkbox" ng-model="user.selected" ng-change="optionToggled(user)">

                                    <span class="lbl padding-8"></span>
                                </label>
                            </td>
                            <td>{{itemsPerPage1 *(currentPage1-1)+$index+1}}</td>
                            <td style="text-align:left">{{ user.studentname}}</td>
                            <td style="text-align:left">{{ user.AMST_AdmNo}}</td>
                            <td style="text-align:left">{{ user.ASMCL_ClassName}}</td>
                            <td style="text-align:left">{{ user.ASMC_SectionName}}</td>
                            <td style="text-align:left">{{ user.AMST_MobileNo}}</td>
                            <td style="text-align:left">{{ user.AMST_emailId}}</td>
                            <td>
                                <span ng-show="user.AMST_SOL=='S'">
                                    <i> Active</i>
                                </span>
                                <span ng-show="user.AMST_SOL=='D'">
                                    <i> Deactivate</i>
                                </span>
                                <span ng-show="user.AMST_SOL=='L'">
                                    <i> Left</i>
                                </span>

                            </td>
                        </tr>

                    </tbody>
                </table>


                <dir-pagination-controls max-size="5" pagination-id="paginate1" direction-links="true" boundary-links="true"></dir-pagination-controls>
                <hr />

            </div>
            <div id="printSectionId" ng-show="print_data" style="overflow:scroll">
                <div class="">
                    <div class="baldwin text-center">
                        <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                    </div>
                </div>
                <center ng-show="optionflag=='Download'"> <h4><u> Mobile App Download Report </u></h4></center>
                <center ng-hide="optionflag=='Download'"> <h4><u> Mobile App Not Download Report </u></h4></center>

                <table class="table-bordered" id="table">
                    <thead>
                        <tr>
                            <th>SL.NO</th>
                            <th>Student Name </th>
                            <th>AdmNo </th>
                            <th>Class Name</th>
                            <th>Section Name</th>
                            <th>Mobile No</th>
                            <th>Email Id</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody ng-repeat="user in printdatatable">
                        <tr>
                            <td>{{$index+1}}</td>
                            <td style="text-align:left">{{ user.studentname}}</td>
                            <td style="text-align:left">{{ user.AMST_AdmNo}}</td>
                            <td style="text-align:left">{{ user.ASMCL_ClassName}}</td>
                            <td style="text-align:left">{{ user.ASMC_SectionName}}</td>
                            <td style="text-align:left">{{ user.AMST_MobileNo}}</td>
                            <td style="text-align:left">{{ user.AMST_emailId}}</td>
                            <td>
                                <span ng-show="user.AMST_SOL=='S'">
                                    <i> Active</i>
                                </span>
                                <span ng-show="user.AMST_SOL=='D'">
                                    <i> Deactivate</i>
                                </span>
                                <span ng-show="user.AMST_SOL=='L'">
                                    <i> Left</i>
                                </span>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="margin-top-10">
                        <tr>
                            <td colspan="16" class="col-sm-12 text-center margin-top-2">
                                <label>
                                    Date:{{ddate|date:'dd/MM/yyyy'}} UserName: {{usrname}} {{coptyright}}
                                </label>

                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>


            <div id="tableexcell" ng-show="print_data_excell" class="table-bordered text-center" style="overflow:scroll">

                <!--<center> <h4><u> SCHEDULE REPORT </u></h4></center>-->
                <table class="table-bordered" id="table">
                    <thead>
                        <tr style="border : solid 0.5px black;background-color:bisque">
                            <th>SL.NO</th>
                            <th>Student Name </th>
                            <th>AdmNo </th>
                            <th>Class Name</th>
                            <th>Section Name</th>
                            <th>Mobile No</th>
                            <th>Email Id</th>
                            <!--<th>Status</th>-->


                        </tr>
                    </thead>


                    <tr ng-repeat="user in printdatatable" style="border : solid 0.5px black;">
                        <td>{{$index+1}}</td>
                        <td style="text-align:left">{{ user.studentname}}</td>
                        <td style="text-align:left">{{ user.AMST_AdmNo}}</td>
                        <td style="text-align:left">{{ user.ASMCL_ClassName}}</td>
                        <td style="text-align:left">{{ user.ASMC_SectionName}}</td>
                        <td style="text-align:left">{{ user.AMST_MobileNo}}</td>
                        <td style="text-align:left">{{ user.AMST_emailId}}</td>
                        <!--<td>
                            <span ng-show="user.AMST_SOL=='S'">
                                <i> Active</i>
                            </span>
                            <span ng-show="user.AMST_SOL=='D'">
                                <i> Deactivate</i>
                            </span>
                            <span ng-show="user.AMST_SOL=='L'">
                                <i> Left</i>
                            </span>

                        </td>-->
                    <tfoot class="margin-top-10">
                        <tr>
                            <td colspan="16" class="col-sm-12 text-center margin-top-2">
                                <label>
                                    Date:{{ddate|date:'dd/MM/yyyy'}} UserName: {{usrname}} {{coptyright}}
                                </label>

                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>

    </form>
</section>