<link href="/css/print/Fees/MonthEndReport.css" rel="stylesheet" />
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="showReportdata()" name="myForm" data-ng-init="clgloaddata()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Portal Month End Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year :<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="Year" ng-model="ASMAY_Id" data-ng-change="onselectYear()" required>
                                        <option value="" label="Select Academic Year"> </option>
                                        <option ng-repeat="option1 in acayyearbind" value="{{option1.asmaY_Id}}" ng-selected="{{option1.Selected == true}}">
                                            {{option1.asmaY_Year}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.Year)" ng-messages="myForm.Year.$error">
                                    <div ng-message="required">Please Select Academic Year</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Month :<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel4" name="mon" ng-model="IVRM_Month_Id" required>
                                        <option value="" label="Select Month"> </option>
                                        <option ng-repeat="option4 in monthlist" value="{{option4.ivrM_Month_Id}}" ng-selected="{{option4.Selected == true}}">
                                            {{option4.ivrM_Month_Name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.mon)" ng-messages="myForm.mon.$error">
                                    <div ng-message="required">Please Select Month</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Year :<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="seluse" name="meryr" data-ng-model="yearmodel" required>
                                        <option value="">Select Year</option>
                                        <option ng-repeat="option in years" value="{{option.asmaY_Year}}"
                                                ng-selected="{{option.Selected == true}}">
                                            {{option.asmaY_Year}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myform.meryr)" ng-messages="myform.meryr.$error">
                                        <div ng-message="required">Select Year</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Implementation Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="iename" class="form-control" />
                                    <div class="error-messages" ng-if="interacted(myform.meryr)" ng-messages="myform.meryr.$error">
                                        <div ng-message="required">Select Year</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="well">
                                    <div class="text-center">
                                        <label class="radio-inline">
                                            <input type="checkbox" value="1" name="all" ng-model="allcount" ng-change="allcountselect()">
                                            <span class="lbl padding-8">ALL </span>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="checkbox" value="1" name="uc" ng-model="countflaguc" >
                                            <span class="lbl padding-8">User Count </span>
                                        </label>

                                        <label class="radio-inline">
                                            <input type="checkbox" value="1" name="lc" ng-model="countflaglc" >
                                            <span class="lbl padding-8"> Login Count </span>
                                        </label>

                                    </div>
                                    <!--<div class="text-center" ng-init="countflag='UC'">
        <label class="radio-inline">
            <input type="radio" value="UC" name="uc" ng-model="countflag">
            <span class="lbl padding-8">User Count </span>
        </label>

        <label class="radio-inline">
            <input type="radio" value="LC" name="lc" ng-model="countflag">
            <span class="lbl padding-8"> Login Count </span>
        </label>

    </div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="well">
                                    <div class="text-center" ng-init="moduleflag='Portal'">
                                        <label class="radio-inline">
                                            <input type="radio" value="Portal" name="portal" ng-model="moduleflag" ng-change="modulechange()">
                                            <span class="lbl padding-8"> Portal </span>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="MobileApp" name="mobileapp" ng-model="moduleflag" ng-change="modulechange()">
                                            <span class="lbl padding-8">Mobile Application</span>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="Kiosk" name="kiosk" ng-model="moduleflag" ng-change="modulechange()">
                                            <span class="lbl padding-8">Kiosk</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="well">
                                    <div class="text-center" ng-init="roleflag='Student'">
                                        <label class="radio-inline">
                                            <input type="radio" value="Student" name="student" ng-model="roleflag" ng-change="showReportdata()">
                                            <span class="lbl padding-8"> Student </span>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="Staff" name="staff" ng-model="roleflag" ng-change="showReportdata()">
                                            <span class="lbl padding-8">Staff</span>
                                        </label>
                                        <label class="radio-inline" ng-hide="moduleflag=='Kiosk'">
                                            <input type="radio" value="Principal" name="principal" ng-model="roleflag" ng-change="showReportdata()">
                                            <span class="lbl padding-8">Principal</span>
                                        </label>
                                        <label class="radio-inline" ng-hide="moduleflag=='Kiosk'">
                                            <input type="radio" value="Chairman" name="chairman" ng-model="roleflag" ng-change="showReportdata()">
                                            <span class="lbl padding-8">Chairman</span>
                                        </label>
                                        <label class="radio-inline" ng-hide="moduleflag=='Manager'">
                                            <input type="radio" value="Manager" name="Manager" ng-model="roleflag" ng-change="showReportdata()">
                                            <span class="lbl padding-8">Manager</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="text-center">
                        <md-button type="submit" class="md-raised md-primary" id="save-btn">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Report
                        </md-button>
                        <md-button type="button" ng-click="Clear();" target="_blank" class="md-raised md-warn">
                            <i class="fa fa-times" aria-hidden="true"></i> Clear
                        </md-button>
                        <md-button type="button" ng-show="report" class="md-raised md-primary" id="excel-btn" ng-click="exportToExcel()">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Export to Excel
                        </md-button>
                        <md-button type="button" class="md-raised md-primary" id="print-btn" ng-show="report" ng-click="printData();">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            Print
                        </md-button>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <div ng-show="report">
            <div ng-show="moduleflag=='Portal'">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{roleflag}}Portal MONTH END REPORT</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="MonthEndReport" id="tablegrp">
                            <div class="baldwin text-center" ng-show="headerimg">
                                <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                            </div>
                            <!--<div class="text-center">
                                <h3 class=""> {{roleflag | uppercase}} PORTAL MONTH END REPORT</h3>
                            </div>-->
                            <div class="text-center">
                                <h3 class=""> {{roleflag | uppercase}} PORTAL {{monthmodelvalue | uppercase}} MONTH END REPORT</h3>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Name</label>
                                        <label class="control-label">
                                            : {{iename}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Designation</label>
                                        <label class="control-label">
                                            : {{designation}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Module</label>
                                        <label class="control-label">
                                            : {{roleflag}} Portal
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Month</label>
                                        <label class="control-label">
                                            : {{monthmodelvalue}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Year</label>
                                        <label class="control-label">
                                            : {{yearmodel}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br /><br />
                            <div class="">
                                <table class="table-bordered text-center">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th>SL.NO</th>
                                            <th>Portal</th>
                                            <!--<th ng-if="countflag=='UC'">USER COUNT</th>
                                            <th ng-if="countflag=='LC'">LOGIN COUNT</th>-->
                                            <th>USER COUNT</th>
                                            <th>LOGIN COUNT</th>
                                            <th>SMS</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{roleflag}}</td>
                                            <td>{{totalCountuc}}</td>
                                            <td>{{totalCountlc}}</td>

                                            <td>{{smsCount}}</td>
                                            <td>{{emailCount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br /><br />
                            </div>
                            <div id="imageContainer">
                                <img id="chartImage" style="height: 260px; width: 100%;" ng-show="imgdiv">
                                <div id="datagraph">
                                    <div id="rangeBarChat" style="height: 260px; width: 100%;"></div>
                                </div>
                            </div>
                            <br /><br />
                            <div>
                                <div>
                                    <div class="row">
                                        <div class="col-sm-6">Implementation Engineer:_______________</div>
                                        <div class="col-sm-6">Nodal Officer:_______________</div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-6">End User:_______________</div>
                                        <div class="col-sm-6">Seal</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="moduleflag=='MobileApp'">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{roleflag}} MOBILE APP MONTH END REPORT</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="MonthEndReport" id="tablegrpMA">
                            <div class="baldwin text-center" ng-show="headerimg">
                                <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                            </div>
                            <!--<div class="text-center">
                                <h3 class=""> {{roleflag | uppercase}} MOBILE APP MONTH END REPORT</h3>
                            </div>-->
                            <div class="text-center">
                                <h3 class=""> {{roleflag | uppercase}} MOBILE APP {{monthmodelvalue | uppercase}} MONTH END REPORT</h3>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Name</label>
                                        <label class="control-label">
                                            : {{iename}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Designation</label>
                                        <label class="control-label">
                                            : {{designation}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Module</label>
                                        <label class="control-label">
                                            : {{roleflag | uppercase}} MOBILE APP
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Month</label>
                                        <label class="control-label">
                                            : {{monthmodelvalue}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Year</label>
                                        <label class="control-label">
                                            : {{yearmodel}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br /><br />
                            <div class="">
                                <table class="table-bordered text-center">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th>SL.NO</th>
                                            <th>MOBILE APP</th>
                                            <!--ng-show="countflag=='UC'"-->
                                            <!--<th ng-if="countflag=='UC'">USER COUNT</th>
                                            <th ng-if="countflag=='LC'">LOGIN COUNT</th>-->
                                            <th>USER COUNT</th>
                                            <th>LOGIN COUNT</th>
                                            <th>SMS</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{roleflag}}</td>
                                            <!--<td>{{totalCount}}</td>-->

                                            <td>{{totalCountuc}}</td>
                                            <td>{{totalCountlc}}</td>
                                            <td>{{smsCount}}</td>
                                            <td>{{emailCount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br /><br />
                            </div>
                            <div id="imageContainer">
                                <img id="chartImageMA" style="height: 260px; width: 100%;" ng-show="imgdivMA">
                                <div id="datagraph">
                                    <div id="rangeBarChatMA" style="height: 260px; width: 100%;"></div>
                                </div>
                            </div>
                            <br /><br />
                            <div>
                                <div>
                                    <div class="row">
                                        <div class="col-sm-6">Implementation Engineer:_______________</div>
                                        <div class="col-sm-6">Nodal Officer:_______________</div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-6">End User:_______________</div>
                                        <div class="col-sm-6">Seal</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="moduleflag=='Kiosk'">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{roleflag}} KIOSK MONTH END REPORT</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="MonthEndReport" id="tablegrpK">
                            <div class="baldwin text-center" ng-show="headerimg">
                                <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                            </div>
                            <div class="text-center">
                                <h3 class=""> {{roleflag | uppercase}} KIOSK {{monthmodelvalue | uppercase}} MONTH END REPORT</h3>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Name</label>
                                        <label class="control-label">
                                            : {{iename}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Designation</label>
                                        <label class="control-label">
                                            : {{designation}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Module</label>
                                        <label class="control-label">
                                            : {{roleflag | uppercase}} KIOSK
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Month</label>
                                        <label class="control-label">
                                            : {{monthmodelvalue}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Year</label>
                                        <label class="control-label">
                                            : {{yearmodel}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br /><br />
                            <div class="">
                                <table class="table-bordered text-center">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th>SL.NO</th>
                                            <th>KIOSK</th>
                                            <!--<th ng-if="countflag=='UC'">USER COUNT</th>
    <th ng-if="countflag=='LC'">LOGIN COUNT</th>-->
                                            <th>USER COUNT</th>
                                            <th>LOGIN COUNT</th>
                                            <th>SMS</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{roleflag}}</td>
                                            <!--<td>{{totalCount}}</td>-->

                                            <td>{{totalCountuc}}</td>
                                            <td>{{totalCountlc}}</td>
                                            <td>{{smsCount}}</td>
                                            <td>{{emailCount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br /><br />
                            </div>
                            <div id="imageContainer">
                                <img id="chartImageK" style="height: 260px; width: 100%;" ng-show="imgdivK">
                                <div id="datagraph">
                                    <div id="rangeBarChatK" style="height: 260px; width: 100%;"></div>
                                </div>
                            </div>
                            <br /><br />
                            <div>
                                <div>
                                    <div class="row">
                                        <div class="col-sm-6">Implementation Engineer:_______________</div>
                                        <div class="col-sm-6">Nodal Officer:_______________</div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-6">End User:_______________</div>
                                        <div class="col-sm-6">Seal</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>