@media print {
    #EmpPaySlip:nth-of-type(2n) {
        page-break-after: always !important;
    }

    #EmpPaySlip {
        margin-bottom: 20px;
    }

    body {
        margin: 0px !important;
    }

    @page {
        margin-top: 50px;
        size: a4 portrait;
    }
    .watermark {
        width: 100%;
        height: auto;
        background: url('/images/clients/vikasa/images/vikasa water11.png') no-repeat center 45%;
        background-size: 40%;
    }


    .table > tbody > tr > td {
        border-top: 1px solid #000 !important;
        border: 1px solid #000 !important;
        color: #000;
        text-align: left !important;
        font-size: 16px;
    }


    .table {       
        width: 100%;
        table-layout: auto;
    }


    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #000;
        padding: 2px;
        vertical-align: middle;
        font-weight: 900;
        font-size: 16px;
    }

    .table-bordered thead {
        background: #ffffff !important;
        color: #000 !important;
        text-align: left;
        font-size: 20px;
        font-weight: 900;
    }

    .table-bordered {
        width: 100%;
        table-layout: auto;
    }

    .border-none .table > tbody > tr > td {
        border-top: 0px !important;
        border: 0px !important;
        color: #000;
        text-align: left !important;
        font-size: 16px;
    }

    .border-none .table {
        border: 0px !important;
        border: 0px !important;
        table-layout: fixed;
        width: 100%;
        text-align: left !important;
        font-size: 16px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase !important;
        font-weight: 700;
    }

    h3 {
        font-size: 20px !important;
    }

    h1, h2, h3 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}
