@media print {
    #EmpPaySlip {
        page-break-before: always;
    }

    @page {
        margin-top: 50px;
        margin-bottom: 50px;
        size: a4 portrait;
    }



    .watermark {
        width: 100%;
        height: auto;
        background: url('https://hutchingspreadmission.blob.core.windows.net/files/Letterhead.jpg') no-repeat center 45%;
        background-size: 40%;
    }


    thead {
        background: #ffffff !important;
        color: #060606 !important;
        text-align: left;
        font-size: 20px;
    }

    .table thead a {
        color: #000 !important;
    }

    .table > tbody > tr > td {
       /* border-top: 1px solid #000 !important;
        border: 1px solid #000 !important;*/
        color: #000;
        text-align: left !important;
        font-size: 15px;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #000;
        padding: 5px;
        vertical-align: middle;
        font-weight: 900;
        font-size: 18px;
    }

    .table-bordered {
        width: 100%;
        table-layout: auto;
    }

    .table {
        /*border-top: 1px solid #000 !important;
        border: 1px solid #000 !important;*/
        width: 100%;
        table-layout: auto;
    }

    #border-none .table, #table {
        border: 0px !important;
        border: 0px !important;
        table-layout: fixed;
        width: 100%;
        /*text-align: left !important;*/
        font-size: 15px;
    }

    .border-none .table > tbody > tr > td {
        border-top: 0px !important;
        border: 0px !important;
        color: #000;
        /*text-align: left !important;*/
        font-size: 15px;
    }

    .border-none .table {
        border: 0px !important;
        border: 0px !important;
        table-layout: fixed;
        width: 100%;
        text-align: left !important;
        font-size: 15px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase !important;
        font-weight: 700;
    }

    h3 {
        font-size: 25px !important;
    }

    h1, h2, h3 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}
