<section class="content">
    <div data-ng-init="loaddata();">
        <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="" name="myForm" novalidate>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Master Food Item's</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Select categeory:<strong style="color:red;">*</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="cmmcA_Id" name="catgry" required>
                                        <option value="">--Select-- </option>
                                        <option ng-repeat="catgry in categeorylist" value="{{catgry.cmmcA_Id}}" ng-selected="{{catgry.Selected == true}}">
                                            {{catgry.cmmcA_CategoryName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.catgry)" ng-messages="myForm.catgry.$error">
                                        <div ng-message="required">Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row" style="margin-top: 14px;">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="well text-center" style="margin-top: 14px;">
                                    <label>Category  :<span style="color:red;">*</span></label>
                                    <label class="radio-inline">
                                        <input type="radio" id="1" value="0" name="radioption" ng-model="CMMFI_FoodItemFlag" required />
                                        <span class="lbl padding-8">Veg</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="2" value="1" name="radioption" ng-model="CMMFI_FoodItemFlag" required />
                                        <span class="lbl padding-8">Non-Veg</span>
                                    </label>
                                    <div class="error-messages" ng-if="interacted(myForm.radioption)" ng-messages="myForm.radioption.$error">
                                        <div ng-message="required">Please Select Radio Button</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="col-sm-6 col-sm-offset-3">


                            <div class="form-group">
                                <label class="control-label col-sm-4">FoodItem Name:<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Name" data-ng-model="CMMFI_FoodItemName" maxlength="40" allow-pattern="(\s|[a-zA-Z])" autocomplete="off" placeholder="Food Item Name" required>
                                    <div class="error-messages" ng-if="interacted(myForm.Name)" ng-messages="myForm.Name.$error">
                                        <div ng-message="required">Enter FoodItem Name</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Food Item Description :<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Description" data-ng-model="CMMFI_FoodItemDescription" maxlength="40" placeholder="Food Item Description " autocomplete="off" required>

                                    <div class="error-messages" ng-if="interacted(myForm.Description)" ng-messages="myForm.Description.$error">
                                        <div ng-message="required">Enter Food Item Description</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Food Item Rate : <span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Item" data-ng-model="CMMFI_UnitRate" maxlength="40" placeholder="Food Item Rate " autocomplete="off" allow-pattern="([a-zA-Z0-9])" required>

                                    <div class="error-messages" ng-if="interacted(myForm.Item)" ng-messages="myForm.Item.$error">
                                        <div ng-message="required">Enter Food Item Rate</div>
                                    </div>
                                </div>
                            </div>


                            <table class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>SL NO</th>
                                        <th>Upload File</th>
                                        <th>File Name</th>
                                        <th>View</th>
                                        <th>Action </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="other in documentListOtherDetails track by $index" ng-form="myForm13">
                                        <td>{{$index+1}}</td>

                                        <td>
                                            <div class="col-sm-12 UploadEmpDoc1" style="padding-bottom: 5px;">
                                                <div class="form-group text-center">
                                                    <label class="custom-file-input file-bluenew" style="width:100%;margin:auto;margin-bottom: 13%;">
                                                        <input type="file" name="doc" accept="video/mp4,audio/*,video/x-ms-wmv,image/*, application/pdf, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.wordprocessingml.document" data-ng-model="documentListOtherDetails[$index].IHW_FilePath" onchange="angular.element(this).scope().selectFileforUploadzdOtherDetail(this, angular.element(this).scope().other)">
                                                    </label>
                                                    <div class="error-messages" ng-if="interacted13(myForm13.doc)" ng-messages="myForm13.doc.$error">
                                                        <div ng-message="required">Please upload the file</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="other.FileName" disabled />
                                        </td>
                                        <td>
                                            <a ng-if="other.IHW_FilePath  !=null && other.IHW_FilePath !=''" style="color:red;display:inline; font-weight: bolder;" data-ng-click="previewimg_new(other.IHW_FilePath)"> view</a>
                                        </td>
                                        <td>
                                            <span class="input-group-addon" ng-hide="documentListOtherDetails.length > 30">
                                                <a href="" ng-show="$last" ng-click="addNewDocumentOtherDetail()" style="color:#000;">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </span>
                                            <span class="input-group-addon" id="remove" ng-hide="documentListOtherDetails.length ==1">
                                                <a href="" ng-click="removeNewDocumentOtherDetail($index,other)" style="color:#000;">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </td>



                                    </tr>
                                </tbody>
                            </table>
                        </div>




                    </div>
                    <br />

                    <div class="">
                        <div class="text-center">
                            <input type="hidden" ng-model="obj.CMMFI_Id" value="{{obj.CMMFI_Id}}" />
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="submit()">

                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </md-button>

                            <md-button class="md-raised md-warn" data-ng-click="clear()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Master Food item</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{presentCountgrid}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="searchValue" placeholder="search here...">
                            </div>
                        </div>
                    </div>

                </div>
                <table class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>

                            <th style="text-align:center">
                                SL.NO
                            </th>
                            <th style="text-align:center">
                                Category
                            </th>
                            <th style="text-align:center">
                                Food Item Name
                            </th>
                            <th style="text-align:center">
                                FoodItemDescription
                            </th>
                            <th style="text-align:center">
                                FoodI Type
                            </th>
                            <th style="text-align:center">
                                Unit Rate
                            </th>
                            <th style="text-align:center">
                                Image
                            </th>
                            <th style="text-align:center">
                                Action
                            </th>
                            <th style="text-align:center">
                                Activate/Deactivate
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr dir-paginate="itm in  filterValue1 = (fooditeam | filter : searchValue) |orderBy:sortKey:sortReverse  |itemsPerPage:itemsPerPage" current-page="currentPage">
                            <!--<tr ng-repeat="itm in fooditeam">-->
                            <td>{{$index + 1 | number}}</td>
                            <td>{{itm.cmmcA_CategoryName}}</td>
                            <td>{{itm.cmmfI_FoodItemName}}</td>
                            <td>{{itm.cmmfI_FoodItemDescription}}</td>
                            <td>{{itm.cmmfI_UnitRate}}</td>
                            <td>
                                <span ng-if="itm.cmmfI_FoodItemFlag === true">
                                    <i class="fa fa-cloud" style="font-size:48px;color:red;"></i>
                                   
                                </span>
                                <span ng-if="itm.cmmfI_FoodItemFlag === false">
                                    <i class="fa fa-cloud" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>
                                </span>
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" ng-click="imagedata(itm)" data-toggle="tooltip" title="Edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0)" ng-click="Editdata(itm)" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <span ng-if="itm.cmmfI_ActiveFlg === false">
                                    <a href="" ng-click="deactive(itm)"
                                       class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                        <i> Activate </i>
                                    </a>
                                </span>
                                <span ng-if="itm.cmmfI_ActiveFlg === true">
                                    <a href="" ng-click="deactive(itm)"
                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                        <i> Deactivate</i>
                                    </a>
                                </span>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>

    </div>


</section>
<!--==================== Image Preview Model ===========================-->
<div id="myimagePreview" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:55%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i></button>
                <h3>{{filenames}}</h3>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="box-body">
                        <img id="preview" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==================== Image  Model ===========================-->
<div id="imagePreview" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:55%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i></button>
                <h3>{{filenames}}</h3>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="box-body">
                        <img src="{{icaI_Attachment}}" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>