

.BArrearReport {
    width: 95%;
    margin: auto;
   margin-top:10px;
   
}
.BArrearReport img{
    width:550px;
    margin:auto;
}
.BArrearReport table{

    width:100%;
    text-align:center;

}
.BArrearReport thead th{
    background: #ffffff;
    color: #000 !important;
    text-align: center;
}
.BArrearReport .table, th {
    text-align: left;
    vertical-align: middle;
}
.BArrearReport .border-bottom{
    border-bottom:1px solid #000;
   
}
.BArrearReport .border-top{
    border-top:1px solid #000;
   
}
.BArrearReport .table {
    table-layout: fixed;
    width: 100%;  
    /*margin-bottom: 15px;*/ 
    border:0px; 
    text-align:left !important;
}
