@media print {

    .footer {
        page-break-after: always;
    }

    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #BArrearReport {
        height: auto !important;
        margin-top: 50px;
    }

    .BArrearReport {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    img {
        width: 550px;
        margin: auto;
    }

    table {
        width: 100%;
        border: 0px !important;
    }

    thead th {
        background: #ffffff;
        color: #000 !important;
        text-align: center;
    }

    .table, th {
        text-align: left;
        vertical-align: middle;
    }

    .border-bottom {
        border-bottom: 1px solid #000;
    }

    .border-top {
        border-top: 1px solid #000;
    }

    .table {
        table-layout: fixed;
        width: 100%;
        /*margin-bottom: 15px;*/
        border: 0px !important;
        text-align: left !important;
        line-height: 1.2;
        font-size: 14px;
    }

    tfoot {
        position: fixed;
        bottom: 0;
        padding-left: 200px !important;
        border: none !important;
    }

    thead {
        border: 1px solid black;
        padding: 3px;
        color: #000;
    }

    tbody {
        border: 1px solid black;
        padding: 3px;
        color: #000;
    }

    th, td {
        border: 1px solid black;
        padding: 3px;
        color: #000;
    }

    tfoot td {
        border: none;
    }


    .width-200 {
        width: 180px !important;
    }

    .margin-top-180 {
        margin-top: 180px !important;
    }

    .form-group {
        margin-bottom: 5px !important;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
    }
}
