@media print {
    .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
  label{
      font-size:18px !important;
  }
  table{
         font-size: 18px !important;
  }
   .table {
        width:40%;     
        border: none !important;
        text-align: left !important;
        font-weight: 500;
        font-size: 15px !important;
        margin-bottom: 15px;
           line-height: 2;
    }
    #BBStudyCert {
        width: 90% !important;
        margin: auto;
        margin-top: 10px;
        font-size: 16px;
        line-height: 2;
    }

        #BBStudyCert p {
            line-height: 2;
            font-size: 18px;
            text-align: justify;
            text-justify: inter-word;
        }

        #BBStudyCert #studyimg img {
            width: 120px;
            height: 150px;
        }

   
}
