@media print {
    .margin-bottom-none{
        margin-bottom:0px !important;
    }
    table {
        table-layout: fixed;
        width: 100%;
        border: none !important;
    }

    .table {
        border: none !important;
        text-align: left !important;
        font-weight: 500;
        font-size: 16px !important;
        margin-bottom: 15px;
    }

    .printSectionIdboys {
        width: 90%;
        margin: auto;
        height: auto;
        margin-top: 30%;
        font-size: 16px;
        padding-right: 15px;
    }

    .width-200 {
        width: 150px !important;
    }

    .flower-bracket {
        padding-top: 10px;
        font-size: 0.6in !important;
        text-align: center;
    }

    .flower {
        margin-bottom: 50px;
    }

    .label {
        font-size: 16px !important;
        color: #333;
        font-weight: normal;
        text-align: left;
        line-height: 1.4;
        font-weight: 500;
    }

   
}
