@media print {

  
    .table {
        width:90%;
        margin:auto;
        border: none !important;
        text-align: left !important;
        font-weight: 500;
        font-size: 16px !important;
        margin-bottom: 15px;
    }

   

  
}
