@media print {
      .border-1{
         border:2px solid #000; padding:10px;        
         padding-bottom:100px;
         padding-top:10px;
     }
    table {
        table-layout: fixed;
        width:90%;
       margin:auto; 
        border: none !important;
         font-family:'Times New Roman';
        font-style:italic;
    }

    .table {
        border: none !important;
        text-align: left !important;     
        font-size: 16px !important;
        margin-bottom: 15px;
        font-family:'Times New Roman';
        font-style:italic;
    }   

   
   
   .border-bottom {
        border-bottom: 1px solid #000 !important;
        text-align: center;
        font-family: lucida calligraphy;
    }
   .width-480{
       width:420px !important;
   }
   .margin-top-none{
        margin-top:0px !important;
   }
   .margin-buttom-none{
       margin-bottom:0px !important;
   }
}
