@media print {
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

  .BGStudyCert {
    width: 55%;
    margin: auto;
    border: none !important;
    text-align: left !important;
    font-weight: 500;
    font-size: 16px !important;
    margin-bottom: 15px;
}
}
