@media print {
    
.BPROGRESREPORT {
   
   margin-top:10px;
   
}
table{
    width:100%;
      border:0px !important; 
}
thead {
    background: #ffffff;
    color: #000 !important;
    text-align: center;
}
 .table, th {
    text-align: left;
    vertical-align: middle;
}
.border-bottom{
    border-bottom:1px solid #000;
   
}

.border-top{
    border-top:1px solid #000;
   
}
.table {
    table-layout: fixed;
    width: 100%;      
    border:0px !important; 
    text-align:left !important;
}

}
