
.BCOEStudentTc .table {
        width:90%;
        margin:auto;
        border: none !important;
        text-align: left !important;
        font-weight: 500;
        font-size: 15px !important;
        margin-bottom: 15px;
    }

.BStudentTc table {
    table-layout: fixed;
    width: 100%;
    border: none !important;
}

.BStudentTc .table {
    border: none !important;
    text-align: left !important;
    font-weight: 500;
}

.printSectionIdboys {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-weight: 500;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 16px !important;
}
 .printSectionIdgirls .table {
       border: none !important;
       width:90%;
        margin:auto;
}
    .printSectionIdboys .flower .flower-bracket {
        font-size: 0.8in !important;
        text-align: center;
    }

    .printSectionIdboys .flower {
        padding-left: 15px;
    }


        .printSectionIdboys .flower .label {
            font-size: 15px !important;
            color: #333;
            font-weight: normal;
            text-align: left;
            padding-top: 30px;
            line-height: 1.5;
        }


       
         .printSectionIdgirls .border-bottom {
        border-bottom: 1px solid #000 !important;
        text-align: center;
            font-family: lucida calligraphy;
    }