.BBStudyCert table{
     border:0px !important;
    text-align:left;
}
.BCOEStudyCert .table {
    width: 90%;
    margin: auto;
    border: none !important;
    text-align: left !important;
    font-weight: 500;
    font-size: 15px !important;
    margin-bottom: 15px;
    border:0px !important;
    text-align:left;
}

.BBStudyCert .table {
    width: 40%;  
    border: none !important;
    text-align: left !important;
    font-weight: 500;
    font-size: 15px !important;
    margin-bottom: 15px;
      border:0px !important;
    text-align:left;
      line-height: 2;
}

.BGStudyCert {
    width: 40%;
    margin: auto;
    border: none !important;
    text-align: left !important;
    font-weight: 500;
    font-size: 16px !important;
    margin-bottom: 15px;
     border:0px !important;
    text-align:left;
}

#BBStudyCert {
    width: 80% !important;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    line-height: 2;
}

    #BBStudyCert p {
        line-height: 2;
        font-size: 16px;
    }

    #BBStudyCert #studyimg img {
        width: 120px;
        height: 150px;
    }
