
 .CumulativeReportBB.table-bordered {
        width: 100%;
        font-size: 12px !important;
    }

  .CumulativeReportBB  .table {
        width: 100%;
        font-size: 12px !important;
        text-align: left !important;
    }

  .CumulativeReportBB  table {
        width: 100%;
        font-size: 12px !important;
    }
   .CumulativeReport.table-bordered {
        width: 100%;
        font-size: 12px !important;
    }

  .CumulativeReport  .table {
        width: 100%;
        font-size: 12px !important;
        text-align: left !important;
    }


  .CumulativeReport  table {
        width: 100%;
        font-size: 12px !important;
    }
  