@media print {
    .h4, .h5, .h6, h4, h5, h6 {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
           border: 0.5px solid #808080 !important;
               padding:4px;
    }
    .table-bordered {
        width: 100%;
        font-size: 10px !important;
         
    }

    .table {
        width: 100%;
        font-size: 10px !important;
        text-align: left !important;
     
    }

    table {
        width: 100%;
        font-size: 10px !important;
    }   

    .table,thead, th {
        text-align: center !important;
        vertical-align: middle;
         color: #000 !important;
          font-size: 12px !important;
    }
  a:link {
    text-decoration: none;
     
}
 a{
      color: #000 !important;
 }
    .border-bottom {
        border-bottom: 1px solid #000;
    }

    .border-top {
        border-top: 1px solid #000;
    }
}
