@media print {

    .chaiimg {
        width: 100%;
        height: 550px;
    }

    .chaitxt {
        position: relative;
    }

    .chai {
        text-align: center;
        margin-top: -285px;
        font-size: 22px;
        font-weight: 600
    }

    .year1 {
        position: relative;
        margin-top: 47px;
        margin-left: 350px;
        font-size: 16px;
        font-weight: 600;
    }

    .year11 {
        position: relative;
        margin-top: 40px;
        margin-left: 80px;
        font-size: 16px;
        font-weight: 600;
    }

    .rightname {
        position: relative;
        margin-top: -500px;
        margin-left: 315px;
        font-size: 16px;
        font-weight: 600;
    }
}
