@media print {
    body{
        margin-top:0px;
    }
     @page {
         size: landscape;
         margin:20px;
          /*size: 7in 9.25in;*/
   margin: 5mm 5mm 27mm 5mm;
     }

    .h4, .h5, .h6, h4, h5, h6 {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
      h2 {
    margin-top: 2px !important;
    margin-bottom: 0px !important;
}
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
           border: 0.5px solid #808080 !important;
               padding:2px;
    }
    .table-bordered{        
        word-wrap:break-word;
    }
    .lsttable>tr>td{
         border: none !important;
               padding:4px;
               height:20px;
    }
     body{margin:0px;}
    .table-bordered {
        width: 100%;
        font-size: 12px !important;
         table-layout:fixed;
     
         
    }
    #margin-top-98{
        margin-top:98px !important;
    }
    .table {
        width: 100%;
        font-size: 12px !important;
        text-align: left !important;
       table-layout:fixed;
     
    }

 textarea{
     margin-left:10px !important;
      margin-right:10px !important;
      width:98% !important;
      height:100px;
 }

    table {
        width: 100%;
        font-size: 12px !important;
    }   

    .table,thead, th {
        text-align: center !important;
        vertical-align: middle;
         color: #000 !important;
          font-size: 12px !important;
    }
  a:link {
    text-decoration: none;
     
}
 a{
      color: #000 !important;
 }
    .border-bottom {
        border-bottom: 1px solid #000;
    }

    .border-top {
        border-top: 1px solid #000;
    }
    .border-none{
        border:none !important;
    }
    .margin-top-30{
        margin-top:30px !important;
    }
    .margin-top-10{
        margin-top:10px !important;
    }
}
