<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Student Mentor Mapping</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal ng-pristine ng-valid" name="myForm" data-ng-submit="saveddata()" role="form" novalidate>
                <div data-ng-init="BindData()">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Academic Year :<strong style="color:red;">*</strong></label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" name="stuayear" data-ng-model="ASMAY_Id" ng-change="onchangeyear()" required>
                                            <option value="">-- Select Academic Year --</option>
                                            <option ng-repeat="dept in yearlist" value="{{dept.asmaY_Id}}" ng-selected="{{dept.Selected == true}}">
                                                {{dept.asmaY_Year}}
                                            </option>
                                        </select>
                                        <div class="error-messages" ng-if="interacted(myForm.stuayear)" ng-messages="myForm.stuayear.$error">
                                            <div ng-message="required">Select Year</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Section :<strong style="color:red;">*</strong></label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" name="bran" data-ng-model="ASMS_Id" ng-change="getemployee()" required>
                                            <option value="">-- Select Section --</option>
                                            <option ng-repeat="brnach in sectionlist" value="{{brnach.asmS_Id}}" ng-selected="{{brnach.Selected == true}}">
                                                {{brnach.asmC_SectionName}}
                                            </option>
                                        </select>
                                        <div class="error-messages" ng-if="interacted(myForm.bran)" ng-messages="myForm.bran.$error">
                                            <div ng-message="required">Select Section</div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Class :<strong style="color:red;">*</strong></label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" name="cour" data-ng-model="ASMCL_Id" ng-change="getsection()" required>
                                            <option value="">-- Select Class --</option>
                                            <option ng-repeat="course in classlist" value="{{course.asmcL_Id}}" ng-selected="{{course.Selected == true}}">
                                                {{course.asmcL_ClassName}}
                                            </option>
                                        </select>
                                        <div class="error-messages" ng-if="interacted(myForm.cour)" ng-messages="myForm.cour.$error">
                                            <div ng-message="required">Select Class</div>
                                        </div>
                                    </div>
                                </div>                                

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Employee Name :<strong style="color:red;">*</strong></label>
                                    <div class="col-sm-8">
                                        <ui-select id="sel1" name="empname" ng-model="$parent.HRME_Id" theme="bootstrap" ng-keyup="searchfilter($select,user.status);"
                                                   title="Select Staff" required>
                                            <ui-select-match ng-trim="false" placeholder="Select or search Staff in the list...">{{$select.selected.employeename}}</ui-select-match>
                                            <ui-select-choices repeat="catgry in employeedetails | filter: $select.search" value="{{catgry.hrmE_Id}}"
                                                               ng-selected="{{catgry.Selected == true}}">
                                                <div ng-bind-html="catgry.employeename | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="error-messages" ng-if="interacted(myForm.empname)" ng-messages="myForm.empname.$error">
                                            <div ng-message="required">Select Employee</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <md-button type="butoon" class="md-raised md-primary" ng-click="getstudentdata()" ng-disabled="form.$invalid">
                                <i class="fa fa-info" aria-hidden="true"></i> Get Details
                            </md-button>
                            <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form name="myForm1" novalidate>
        <div class="box box-primary" ng-show="studentdata">
            <div class="box-header with-border">
                <h3 class="box-title">Student Mentor Mapping</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4 pull-right">
                        <div class="form-group" style="margin-right:0px;">
                            <div class="input-group">
                                <input class="form-control" ng-model="search" type="text" placeholder="search here...">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <table class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th width="15">
                                    <label>
                                        <label>
                                            <input type="checkbox" value="" ng-click="toggleAll()" ng-model="all">
                                            <span class="lbl padding-8"></span>
                                        </label>

                                    </label>
                                </th>
                                <th width="15">
                                    SL NO
                                </th>
                                <th width="100">
                                    <a href="" ng-click="sort('studentname')">Student</a>
                                </th>
                                <th width="100">
                                    <a href="" ng-click="sort('admno')">Adm. No</a>
                                </th>
                                <th width="100">
                                    <a href="" ng-click="sort('regno')">RegistrationNo</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in getstudentlist | orderBy:sortKey:reverse |filter:search" current-page="currentPage">
                                <td>
                                    <label>
                                        <input type="checkbox" name="adcheckt" ng-change="optionToggled()"
                                               ng-model="user.Selected" ng-required="isOptionsRequired()">
                                        <span class="lbl padding-8"></span>
                                    </label>
                                </td>
                                <td>{{$index+1}}</td>
                                <td class="text-left padding-left-15">{{user.studentname}}</td>
                                <td class="text-left padding-left-15">{{user.admno}}</td>
                                <td class="text-left padding-left-15">{{user.regno}}</td>
                                <td hidden="hidden">{{user.amcsT_Id}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="error-messages" ng-if="interacted1(myForm1.adcheckt)" ng-messages="myForm1.adcheckt.$error">
                <div ng-message="required" style="text-align:center;font-family:'Times New Roman';font-size:medium;"><strong>Please Select Check Box &amp; Then Enter Score</strong></div>
            </div>
            <div class="text-center">
                <md-button type="button" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="savedata()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </md-button>
            </div>
        </div>
    </form>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Student Mentor Mapping Deatils</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div ui-grid="gridOptions" ui-grid-pagination class="grid text-center" id="style-4" style="height: 270px;"></div><!--ui-grid-edit-->
        </div>
    </div>

</section>

<div class="modal fade modal-medium" id="myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="BindData()"><i class="fa fa-times text-white" aria-hidden="true"></i><!--&times;--></button>
                <h4 class="modal-title text-white">Department Course Branch Semester List Mapping</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>SLNO</th>
                            <th>Student Name</th>
                            <th>Adm.No</th>
                            <th>Registration.No</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in viewrecordspopupdisplay">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="text-left padding-left-15">{{user.studentname}}</td>
                            <td class="text-left padding-left-15">{{user.admno}}</td>
                            <td class="text-left padding-left-15">{{user.regno}}</td>
                            <td class="text-center">
                                <a href="javascript:void(0)" ng-click="Deletedata(user)" data-toggle="tooltip" title="Delete"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="BindData()">Close</button>
            </div>
        </div>
    </div>
</div>