
<script>

    n = new Date();
    yyyy = n.getFullYear();
    mm = n.getMonth() + 1;
    dd = n.getDate();
    document.getElementById("date").innerHTML = dd + "." + mm + "." + yyyy;
</script>


<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-init="onLoadGetData()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Employee Gratuity</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">
                                        Group Type:<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                    </label>
                                    <input name="option[]" value="All" type="checkbox" ng-model="groupTypeselectedAll" ng-true-value="true" ng-false-value="false" ng-change="GetEmployeeBygroupTypeAll(groupTypeselectedAll)">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </div>
                                <div class="multiselect col-sm-12">
                                    <label ng-repeat="groupType in groupTypedropdown">
                                        <input type="checkbox" name="selclass" ng-model="groupType.selected" ng-true-value="true" ng-false-value="false" ng-change="GetEmployeeBygroupType(groupType)">
                                        <span class="lbl padding-8">
                                            {{groupType.hrmgT_EmployeeGroupType}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding-left-right-none">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">
                                        Department:<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                    </label>
                                    <input name="option[]" value="All" type="checkbox" ng-model="departmentselectedAll" ng-true-value="true" ng-false-value="false" ng-change="GetEmployeeByDepartmentAll(departmentselectedAll)">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </div>
                                <div class="multiselect col-sm-12">
                                    <label ng-repeat="department in departmentdropdown">
                                        <input type="checkbox" name="selclass" ng-model="department.selected" ng-true-value="true" ng-false-value="false" ng-change="GetEmployeeByDepartment(department)">
                                        <span class="lbl padding-8">
                                            {{department.hrmD_DepartmentName}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding-left-none">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">
                                        Designation:<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                    </label>
                                    <input name="option[]" value="All" type="checkbox" ng-model="designationselectedAll" ng-true-value="true" ng-false-value="false" ng-change="GetEmployeeByDesignationAll(designationselectedAll)">
                                    <span class="lbl padding-8">
                                        All
                                    </span>
                                </div>
                                <div class="multiselect col-sm-12">
                                    <label ng-repeat="designation in designationdropdown">
                                        <input type="checkbox" name="selclass" ng-model="designation.selected" ng-true-value="true" ng-false-value="false" ng-change="GetEmployeeByDesignation(designation)">
                                        <span class="lbl padding-8">
                                            {{designation.hrmdeS_DesignationName}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="text-center">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!--Month,year-->
                            <div class="form-group well">
                                <div class="text-center">

                              

                                    <label class="radio-inline">
                                        <span class="lbl padding-3">
                                            Employee :<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                        </span>
                                    </label>
                                    <label class="radio-inline">
                                        <span class="lbl padding-3">
                                            <select class="form-control" id="sel1" data-ng-model="Employee.hrmE_Id" name="hrmE_Id" required ng-change="onchangeEmployee()">
                                                <option value="">Select</option>
                                                <option ng-repeat="employee in employeedropdown" value="{{employee.hrmE_Id}}" ng-selected="{{employee.Selected===true}}">
                                                    {{employee.hrmE_EmployeeFirstName}} {{employee.hrmE_EmployeeMiddleName}} {{employee.hrmE_EmployeeLastName}}
                                                </option>
                                            </select>
                                            <span class="error-messages" ng-if="interacted(myForm.hrmE_Id)" ng-messages="myForm.hrmE_Id.$error">
                                                <span ng-message="required">Select Employee</span>
                                            </span>
                                        </span>
                                    </label>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
                <div class="text-center">
                    <md-button type="submit" class="md-raised md-primary" id="save-btn" ng-click="GenerateSalarySlip()" aria-disabled="false">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Generate
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" data-ng-click="cleardata()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </div>
        </div>
        <div class="box box-primary" ng-show="EmployeeDis">
            <!--ng-show="EmployeeDis"-->
            <div class="box-header with-border">
                <h3 class="box-title">Employee Gratuity</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
           
           

            <div id="Baldwin" class="BGPUC">
                <section class="" style="page-break-after:always;">

                    <div>
                        <h4 class="text-center">
                            F O R M – ‘I’ <br />
                            [See Sub-rule (1) of Rule 7]<br />
                            Application of gratuity by an employee
                        </h4>

                    </div>
                    <hr />
                    <table class="table" style="width:40%;">
                        <tr>
                            <td width="20" class="pull-left">To</td>
                        </tr>
                        <tr>
                            <td class="border-bottom-dotted">{{institutionDetails.mI_Name}}</td>
                        </tr>
                    </table>
                    <table class="table" style="width:40%;margin-left:0px;">
                        <tr>
                            <td class="border-bottom-dotted margin-top-50">{{CurrentInstuteAddress}}</td>
                        </tr>
                    </table>
                    <table class="table" style="width:40%;margin-left:0px;">
                        <tr>
                            <td class="border-bottom-dotted margin-top-50">{{institutionDetails.ivrmmcT_Name}} - {{institutionDetails.mI_Pincode}}.</td>
                        </tr>
                    </table>
                 
                    <table class="table">
                        <tr>
                            <td class="pull-left">
                                Sir,
                            </td>
                        </tr>
                        <tr>
                            <td>
                                I beg to apply for payment of gratuity to which I am entitled under sub-section(1) of Section 4 of Payment of Gratuity Act,
                                1972 on account of my superannuation/ retirement/ resignation after completion of not less than five years of continuous
                                service/total disablement due to accident / total disablement due to disease with effect from the {{empdetails.hrmE_DOL  | date:"dd-MM-yyyy"}}  Necessary Particulars relating to my appointment in the APNPDCL are given in the statement below :
                            </td>
                        </tr>
                    </table>
                  
                  
                    <h4 class="text-center"><u>STATEMENT</u></h4>
                    <table class="table">
                        <tr>
                            <td width="10">1.</td>
                            <td width="300">Name in full</td>
                            <td width="10">:</td>
                            <td>{{empdetails.hrmE_EmployeeFirstName}} {{empdetails.hrmE_EmployeeMiddleName}} {{empdetails.hrmE_EmployeeLastName}}</td>
                        </tr>
                        <tr>
                            <td width="10">2.</td>
                            <td width="300">Address in full</td>
                            <td width="10">:</td>
                            <td>{{empdetails.hrmE_PerStreet}} {{empdetails.hrmE_PerArea}}, {{empdetails.hrmE_PerCity}}, {{empdetails.hrmE_PerCity}} {{empdetails.hrmE_PerAdd4}}</td>
                        </tr>
                        <tr>
                            <td width="10">3.</td>
                            <td width="300">Place of working</td>
                            <td width="10">:</td>
                            <td>{{institutionDetails.mI_Name}}, {{CurrentInstuteAddress}}, {{institutionDetails.ivrmmcT_Name}} - {{institutionDetails.mI_Pincode}} </td>
                        </tr>
                        <tr>
                            <td width="10">4.</td>
                            <td width="300">Post held and name of the Office</td>
                            <td width="10">:</td>
                            <td>{{DesignationName}}</td>
                        </tr>
                        <tr>
                            <td width="10">5.</td>
                            <td width="300">Date of appointment</td>
                            <td width="10">:</td>
                            <td>{{empdetails.hrmE_DOJ | date:"dd-MM-yyyy"}}</td>
                        </tr>
                        <tr>
                            <td width="10">6.</td>
                            <td width="300">Date and cause termination of service.</td>
                            <td width="10">:</td>
                            <td>{{empdetails.hrmE_DOL | date:"dd-MM-yyyy"}}  , {{empdetails.hrmE_LeavingReason}}</td>
                        </tr>
                        <tr>
                            <td width="10">7.</td>
                            <td width="300">Total period of service</td>
                            <td width="10">:</td>
                            <td>{{totprdsrv}}&nbsp; days</td>
                        </tr>
                        <tr>
                            <td width="10">8.</td>
                            <td width="300">
                                Amount of last pay drawn<br />
                                (LPC to be enclosed)
                            </td>
                            <td width="10">:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="10">9.</td>
                            <td width="300">Amount of gratuity claimed</td>
                            <td width="10">:</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td width="10">II)</td>
                            <td width="300">I was rendered totally disabled as a result of </td>
                            <td width="10">:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="10"></td>
                            <td width="300">Payment may please be made in cash/open or crossed bank Cheque.</td>
                            <td width="10">:</td>
                            <td></td>
                        </tr>

                    </table>
             

                    <br />
                      <table>
                        <tr>
                            <td>
                                As the amount of gratuity payable is less than Rupees one thousand, I shall request you to arrange for payment of the sum to me by Postal Money Order at the address mentioned above after deducting postal money order commission there from.
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table>
                        <tr>
                            <td>
                                Place:
                            </td>
                            <td>
                                <b>{{institutionDetails.ivrmmcT_Name}}</b>
                            </td>
                            <td width="200"></td>
                            <td width="100"></td>
                            <td>Yours faithfully,</td>
                        </tr>

                        <tr>
                            <td>
                                Date:
                               
                            </td>
                            <td>
                                <label id="date" style="font-weight:bold;"></label>
                            </td>

                            <td width="200"></td>
                            <td width="100"></td>
                            <td>Signature/Thumb impression of <br />the applicant employee.</td>
                        </tr>

                        <tr>
                            <td>
                                Note: 
                            </td>

                            <td width="200"></td>
                            <td width="100"></td>
                            <td></td>
                        </tr>



                        <tr>
                            <td>
                                1.
                            </td>

                            <td width="200">Strike out words not applicable.</td>
                            <td width="100"></td>
                            <td></td>
                        </tr>


                        <tr>
                            <td>
                                2.
                            </td>

                            <td width="300">Strike out paragraph or paragraph not applicable.</td>
                            <td width="100"></td>
                            <td></td>
                        </tr>
                    </table>





                </section>
            </div>
            <div class="text-center">
               
                <md-button type="button" class="md-raised md-primary" data-ng-click="printToCart('Baldwin')" ng-disabled="print_flag">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    Print
                </md-button>

                <md-button type="button" class="md-raised md-warn" data-ng-click="cleardata()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Cancel
                </md-button>
            </div>

        </div>



    </form>
</section>