<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary" data-ng-init="GetExamDateloaddata()">
                <div class="box-header with-border">
                    <h3 class="box-title">Exam Room Date Class Subject Mapping</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <form class="form-horizontal ng-pristine ng-valid" name="myForm" method="post" role="form" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Academic Year <span style="color:red">*</span>:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="id1" ng-model="ASMAY_Id" name="academic_year" ng-change="OnChangeyear()"
                                                    required ng-disabled="searchbtn==true">
                                                <option value="">--Select Academic Year--</option>
                                                <option ng-repeat="options in yearlst" value="{{options.asmaY_Id}}" ng-selected="{{options.asmaY_Id == ASMAY_Id}}">{{options.asmaY_Year}}</option>
                                            </select>

                                            <div class="error-messages" ng-if="interacted(myForm.academic_year)" ng-messages="myForm.academic_year.$error">
                                                <div ng-message="required">Select Academic Year</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Exam Name <span style="color:red">*</span> :</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="id2" ng-model="EME_Id" name="exam" ng-change="OnChangeexam()"
                                                    required ng-disabled="searchbtn==true">
                                                <option value="">--Select Exam Name--</option>
                                                <option ng-repeat="exm in examlist" value="{{exm.emE_Id}}" ng-selected="{{exm.emE_Id == EME_Id}}">
                                                    {{exm.emE_ExamName}}
                                                </option>
                                            </select>
                                            <div class="error-messages" ng-if="interacted(myForm.exam)" ng-messages="myForm.exam.$error">
                                                <div ng-message="required">Select Exam Name</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Slot Name <span style="color:red">*</span>:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="ESAESLOT_Id" name="slt" id="id4" ng-change="OnChangeslot()"
                                                    required ng-disabled="searchbtn==true">
                                                <option value="">--Select Slot Name--</option>
                                                <option ng-repeat="sl in slotlist" value="{{sl.esaesloT_Id}}" ng-selected="{{sl.esaesloT_Id == ESAESLOT_Id}}">
                                                    {{sl.esaesloT_SlotName}}
                                                </option>
                                            </select>
                                            <div class="error-messages" ng-if="interacted(myForm.slt)" ng-messages="myForm.slt.$error">
                                                <div ng-message="required">Select Slot Name</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Exam Date <span style="color:red">*</span>:</label>
                                        <div class="col-sm-5">
                                            <md-datepicker ng-model="ESARMSCH_ExamDate" id="id6" name="tdte" md-placeholder="Exam Date"
                                                           ng-disabled="searchbtn==true" required md-max-date="maxdate" md-min-date="mindate"
                                                           ng-change="OnChangeDate()"></md-datepicker>
                                            <div class="error-messages" ng-if="interacted(myForm.tdte)" ng-messages="myForm.tdte.$error">
                                                <div ng-message="required">Select Exam Date</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Room Name :<strong class="text-red">*</strong></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="rm" ng-model="ESAROOM_Id" required ng-change="OnChangeRoom()"
                                                    ng-disabled="searchbtn==true">
                                                <option value="">--Select Room Name--</option>
                                                <option ng-repeat="dd in GetRoomList" value="{{dd.esarooM_Id}}" ng-selected="{{dd.esarooM_Id==ESAROOM_Id}}">
                                                    {{dd.esarooM_RoomName}}
                                                </option>
                                            </select>
                                            <div class="error-messages" ng-if="interacted(myForm.rm)" ng-messages="myForm.rm.$error">
                                                <div ng-message="required">Select Room Name</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="text-center">
                                        <input type="hidden" ng-model="ESAABSTU_Id" />
                                        <md-button type="button" class="md-raised md-primary" id="save-btn" ng-if="searchbtn==false" aria-disabled="false"
                                                   ng-click="GetSearchExamDateData()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            Search
                                        </md-button>
                                        <md-button type="button" class="md-raised md-warn" ng-if="searchbtn==false" data-ng-click="cleardata()">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Cancel
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <hr />

                <div ng-if="TempClassSubjectList.length>0">
                    <div class="box-header with-border">
                        <h3 class="box-title">Room Class Subject Details Mapping </h3>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal ng-pristine ng-valid" name="myForm2" method="post" role="form" novalidate>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="from-group">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td>Sl.No</td>
                                                    <td>Class Name</td>
                                                    <td>Subject Name</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="rm in TempClassSubjectList">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td class="text-center">
                                                        <select class="form-control" ng-model="rm.ASMCL_Id" name="tl_{{$index}}" required
                                                                ng-change="OnChangeClass(rm,$index)">
                                                            <option value="">--Select Class Name--</option>
                                                            <option ng-repeat="dd in GetClassList" value="{{dd.asmcL_Id}}" ng-selected="{{dd.asmcL_Id==rm.ASMCL_Id}}">
                                                                {{dd.asmcL_ClassName}}
                                                            </option>
                                                        </select>
                                                        <div class="error-messages" ng-if="interacted1(myForm2['tl_'+$index])"
                                                             ng-messages="myForm2['tl_'+$index].$error">
                                                            <div ng-message="required">Select Class Name</div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <ui-select id="sel1" name="t2_{{$index}}" ng-model="rm.ISMS_Id" required
                                                                   theme="bootstrap" ng-keyup="searchfilter($select,user.status);" title="Select Subject">
                                                            <ui-select-match ng-trim="false" placeholder="Select Or Search Subject">
                                                                {{$select.selected.ismS_SubjectName}}
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="catgry in GetSubjectList | filter: $select.search" value="{{catgry.ismS_Id}}"
                                                                               ng-selected="{{catgry.Selected == true}}">
                                                                <div ng-bind-html="catgry.ismS_SubjectName | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <div class="error-messages" ng-if="interacted1(myForm2['t2_'+$index])"
                                                             ng-messages="myForm2['t2_'+$index].$error">
                                                            <div ng-message="required">Select Subject Name</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group text-center">
                                        <md-button type="button" class="md-raised md-primary" id="save-btn" aria-disabled="false" ng-click="SaveExamDateData(myForm2)">
                                            <i class="fa fa-save" aria-hidden="true"></i>
                                            Save
                                        </md-button>
                                        <md-button type="button" class="md-raised md-warn" ng-if="searchbtn==true" data-ng-click="cleardata()">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Cancel
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary" ng-if="GetSavedDetails.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">Exam Room Date Class Subject Mapping Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" style="margin-left: -1%;" type="text" ng-model="obj.searchValue" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <table class="table table-hover table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Year</th>
                                    <th>Exam Name</th>
                                    <th>Slot</th>
                                    <th>Room</th>
                                    <th>Exam Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="user in dd =(GetSavedDetails | filter : filterValue) | orderBy :sortKey:reverse |itemsPerPage:itemsPerPage" current-page="currentPage">
                                    <td class="text-center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td class="text-left">{{ user.asmaY_Year}}</td>
                                    <td class="text-left">{{ user.emE_ExamName}}</td>
                                    <td class="text-left">{{ user.esaesloT_SlotName}}</td>
                                    <td class="text-left">{{ user.esarooM_RoomName}}</td>
                                    <td class="text-center">{{ user.esarmscH_ExamDate|date:'dd-MM-yyyy'}}</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0)" ng-click="ViewRoomDetails(user)" data-toggle="tooltip" title="View Room Details">
                                            <i class="fa fa-eye text-black" aria-hidden="true" title="View Room Details"></i>
                                        </a>
                                        |
                                        <a href="javascript:void(0)" ng-click="EditExamDateData(user)"
                                           data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil-square-o text-black" aria-hidden="true"></i>
                                        </a>
                                        |
                                        <span ng-if="user.esarmscH_ActiveFlg === true">
                                            <a href="" ng-click="ActiveDeactiveExamDate(user)"
                                               class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                <i class="fa fa-toggle-on text-green" aria-hidden="true" title="Deactive Record"></i>
                                            </a>
                                        </span>
                                        <span ng-if="user.esarmscH_ActiveFlg === false">
                                            <a href="" ng-click="ActiveDeactiveExamDate(user)"
                                               class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                <i class="fa fa-toggle-off text-red" aria-hidden="true" itle="Activate Record"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade modal-medium" id="mymodalviewroom" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"> Close</i>
                </button>
                <h4 class="modal-title text-white">View Class Subject Details</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>SLNO</th>
                            <th>Class Name</th>
                            <th>Subject Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in GetViewRoomClassSubjectDetails">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="text-left">{{ user.asmcL_ClassName}}</td>
                            <td class="text-left">{{ user.ismS_SubjectName}}</td>
                            <td class="text-center">
                                <span ng-if="user.esarmcsscH_ActiveFlg === true">
                                    <a href="" ng-click="ActiveDeactiveRoomDetails(user)"
                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                        <i class="fa fa-toggle-on text-green" aria-hidden="true" title="Deactive Record"></i>
                                    </a>
                                </span>
                                <span ng-if="user.esarmcsscH_ActiveFlg === false">
                                    <a href="" ng-click="ActiveDeactiveRoomDetails(user)"
                                       class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                        <i class="fa fa-toggle-off text-red" aria-hidden="true" itle="Activate Record"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"> Close</i>
                </button>
            </div>
        </div>
    </div>
</div>