.ProgressReport-HH03 h1, .ProgressReport-HH03 h2, .ProgressReport-HH03 .ProgressReport-HH03 h3, .ProgressReport-HH03 h4, .ProgressReport-HH03 h5, .ProgressReport-HH03 h6 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: none;
    color: #3a5999 !important;
    font-weight: 700;
}

.ProgressReport-HH03 .section01 {
}

.ProgressReport-HH03 .body-section {
}

.ProgressReport-HH03 .footer-section {
}

.ProgressReport-HH03 .Monotype {
    font-family: Monotype Corsiva, Times, Serif;
    text-transform: capitalize;
}

.ProgressReport-HH03 .letter-spacing-4 {
    letter-spacing: 4px !important;
}

.ProgressReport-HH03 h4 {
    text-transform: none !important;
}


.ProgressReport-HH03 .table {
    border: 0px !important;
    font-weight: 600;
    text-align: left !important;
    font-size: 15px;
    line-height: 1.5;
}

.ProgressReport-HH03 thead a {
    color: #fff !important;
}

.ProgressReport-HH03 thead {
    background: #0463c2;
    color: #fff !important;
    text-align: center;
}

.ProgressReport-HH03 .table > thead > tr > th, .ProgressReport-HH03 .table > tbody > tr > th,
.ProgressReport-HH03 .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #f4f4f4;
}

.ProgressReport-HH03 .table-bordered > thead > tr > th, .ProgressReport-HH03 .table-bordered > tbody > tr > th, .ProgressReport-HH03 .table-bordered > tfoot > tr > th,
.ProgressReport-HH03 .table-bordered > thead > tr > td, .ProgressReport-HH03 .table-bordered > tbody > tr > td, .ProgressReport-HH03 .table-bordered > tfoot > tr > td {
    border: 0.8px solid #cad4de;
    padding: 8px;
    vertical-align: middle;
}

.ProgressReport-HH03 .table-bordered {
    font-weight: 600;
    text-align: left !important;
    font-size: 16px;
    width: 100%;
}
/*.ProgressReport-HH03 .table-bordered  label{
        display:none !important;
    }*/
.ProgressReport-HH03 .image {
    background: url(/images/Clients/Hutchings/ProgressReports/01/0001.png)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 88em;
}


.ProgressReport-HH03 .box {
    border: 1px solid #000;
    width: 200px !important;
    border-radius: 4px;
    padding: 10px;
    margin: auto;
}

.ProgressReport-HH03 .box1 {
    border: 1px solid #000;
    width: 97% !important;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
}

.ProgressReport-HH03 h1, .ProgressReport-HH03 h2, .ProgressReport-HH03 h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ProgressReport-HH03 .t1 {
    width: 14% !important;
    margin: auto;
}

.ProgressReport-HH03 .t2 {
    width: 17% !important;
    margin: auto;
}

.body-section .t3 {
    width: 55% !important;
    margin: auto;
}

.ProgressReport-HH03 .t4 {
    width: 30%;
    line-height: 1.6;
}

.ProgressReport-HH03 .padding-top-60 {
    padding-top: 60px !important;
}

.ProgressReport-HH03 .padding-0 {
    padding: 0px !important;
}

.ProgressReport-HH03 .margin-top-5 {
    margin-top: 5px !important;
}

.ProgressReport-HH03 .margin-top-10 {
    margin-top: 10px !important;
}

.ProgressReport-HH03 .margin-top-28 {
    margin-top: 30% !important;
}

.ProgressReport-HH03 .margin-left-33 {
    margin-left: 33px !important;
}

.ProgressReport-HH03 label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 600;
    color: #000;
    font-size: 15px;
}

.ProgressReport-HH03 .grade-box {
    list-style-type: none;
    border-radius: 3px;
    border: solid 1px;
    position: relative;
    margin-top: 24px;
    padding-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
}

    .ProgressReport-HH03 .grade-box:before {
        content: url('/images/Clients/Hutchings/ProgressReports/03/04.png');
        position: absolute;
        top: -20px;
        padding-left: 45%;
    }

.ProgressReport-HH03 .border-radius {
    border: 1px solid #ccc;
    padding: 10px 0px 0px 0px;
    border-collapse: collapse;
    border-radius: 10px;
}
/*.table-curved {border-collapse: separate;}
.table-curved {border: solid #ccc 1px;border-radius: 6px;border-left:0px;}
.table-curved td, .table-curved th {border-left: 1px solid #ccc;border-top: 1px solid #ccc;}
.table-curved th {border-top: none;}
.table-curved  tr:first-child th:first-child {border-radius: 6px 0 0 0;}
.table-curved  tr:first-child th:last-child {border-radius: 0 6px 0 0;}
.table-curved tr:last-child td:first-child {border-radius: 0 0 0 6px;}
.table-curved tr:last-child td:last-child {border-radius: 0 0 10px 0;}*/
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table-curved {
    border-collapse: separate;
}

.table-curved {
    border: solid #ccc 1px;
    border-radius: 10px;
    border-left: 0px;
}

.subjectclass {
    width: 10px !important;
}
