<section class="content" data-ng-init="loaddata()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" method="post" name="myForm" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">FA Company FY Mapping</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                       
                            <div class="form-group" ng-show="!editS">
                                <label class="control-label col-sm-4">Company Name:<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="famcomP_Id" name="comp"  required>
                                        <option value="">--Select--</option>
                                        <option ng-repeat="option in companies" value="{{option.famcomP_Id}}" ng-selected="{{option.Selected===true}}">{{option.famcomP_CompanyName}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.comp)" ng-messages="myForm.comp.$error">
                                        <div ng-message="required">Select Company</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="editS">
                                <label class="control-label col-sm-4">Company Name:<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="famcomP_Id" name="comp" ng-disabled="editS" ng-required="!editS" required>
                                        <option value="">--Select--</option>
                                        <option ng-repeat="option in companies" value="{{option.famcomP_Id}}" ng-selected="{{option.Selected===true}}">{{option.famcomP_CompanyName}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.comp)" ng-messages="myForm.comp.$error">
                                        <div ng-message="required">Select Company</div>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                    <div class="col-sm-6">
                      
                            <div class="form-group" ng-show="!editS">
                                <label class="control-label col-sm-4">Finacial Year:<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="imfY_Id" name="year" required>
                                        <option value="">--Select--</option>
                                        <option ng-repeat="option in year" value="{{option.imfY_Id}}" ng-selected="{{option.Selected===true}}">{{option.imfY_FinancialYear}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.year)" ng-messages="myForm.year.$error">
                                        <div ng-message="required">Select Financial Year</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-show="editS">
                                <label class="control-label col-sm-4">Finacial Year:<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" data-ng-model="imfY_Id" name="year" ng-disabled="editS" ng-required="!editS" required>
                                        <option value="">--Select--</option>
                                        <option ng-repeat="option in year" value="{{option.imfY_Id}}" ng-selected="{{option.Selected===true}}">{{option.imfY_FinancialYear}}</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.year)" ng-messages="myForm.year.$error">
                                        <div ng-message="required">Select Financial Year</div>
                                    </div>
                                </div>
                            </div>
                            </div>
                     

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">BB Budget:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" data-ng-model="facfyM_Budget" autocomplete="off" allow-pattern="\d" step="0.01" min="0" name="bbdate" placeholder="Budget">
                                <div class="error-messages" ng-if="interacted(myForm.bbdate)" ng-messages="myForm.bbdate.$error">
                                    <div ng-message="required">Select Budget</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Reference Number:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" data-ng-model="facfyM_RefNo" autocomplete="off" allow-pattern="[0-9a-zA-Z]" name="refno" placeholder="Reference Number" required>
                                <div class="error-messages" ng-if="interacted(myForm.refno)" ng-messages="myForm.refno.$error">
                                    <div ng-message="required">Select Reference Number</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Date:</label>
                            <div class="col-sm-8">
                                <!--<md-datepicker name="fdate" md-max-date="maxDate" md-min-date="plMaxdate" onkeydown="return false" ng-model="fromdate" md-placeholder="Enter date"  required></md-datepicker>-->
                                <md-datepicker name="bbdate" data-ng-model="facfyM_BBDate" onkeydown="return false" required></md-datepicker>
                                <div class="error-messages col-sm-offset-5" ng-if="interacted1(myForm1.bbdate)" ng-messages="myForm1.bbdate.$error">
                                    <div ng-message="required">Select Date</div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Financial year close flag:</label>
                            <div class="col-sm-8">
                                <input type="checkbox" value="all" data-ng-model="facfyM_FinancialYearCloseFlg" name="year_flg">
                                <span class="lbl padding-right-30" align="center"> </span>
                            </div>
                        </div>
                    </div>

                </div>

                <hr />
                <div class="text-center">
                    <input type="hidden" name="famcomp_id" ng-model="facfyM_Id" />

                    <md-button type="submit" class="md-raised md-primary" ng-click="saveDetails()" ng-disabled="form.$invalid" id="save-btn">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" data-ng-click="clearid()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </div>
        </div>
    </form>
    <div class="box box-primary" ng-show="FYDetails.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">Company Year Mapping</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{filterValue.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <!--<div class="col-sm-4">
                    <div class="form-group" ng-if="search!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue.length}}
                            </label>
                        </label>
                    </div>
                </div>-->
                

                v
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="search" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            SL.No
                        </th>
                        <th>
                            <a href="" ng-click="sort('famcomP_CompanyName')">Company Name</a>
                        </th>
                        <th><a href="" ng-click="sort('imfY_FinancialYear')">Financial Year</a> </th>
                        <th><a href="" ng-click="sort('facfyM_RefNo')">Reference Number</a> </th>
                        <th><a href="" ng-click="sort('facfyM_BBDate')">Date</a> </th>
                        <th><a href="" ng-click="sort('facfyM_Budget')">Budget</a> </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="details in filterValue=(FYDetails | filter : search) | orderBy:sortKey:reverse|itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td style="text-align:left;">{{details.famcomP_CompanyName}}</td>
                        <td style="text-align:left;">{{details.imfY_FinancialYear}}</td>
                        <td style="text-align:left;">{{details.facfyM_RefNo}}</td>
                        <td style="text-align:left;">{{details.facfyM_BBDate | date:'dd/MM/yyyy'}}</td>
                        <td style="text-align:left;">{{details.facfyM_Budget}}</td>

                        <td hidden="hidden">{{details.facfyM_Id}}</td>



                        <td class="text-center">
                            <span ng-if="details.facfyM_ActiveFlg == true">
                                <a class="text-aqua" href="" ng-click="edit(details)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a href="" ng-click="delete(details)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    <i> Deactivate</i>
                                </a>
                            </span>
                            <span ng-if="details.facfyM_ActiveFlg == false">
                                <a href="" ng-click="delete(details)"
                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    <i> Activate </i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
</section>