<section class="content" data-ng-init="loaddata()">
    <div class="well">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Master Group" ng-click="cance()">
                    <md-content class="md-padding">
                        <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="savepages()" name="myForm" novalidate>
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Fiancial Accounting Master Group</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6 form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Group Name:<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="groupname" data-ng-model="FAMGRP_GroupName" maxlength="30" allow-pattern="(\s|[a-zA-Z])" autocomplete="off" placeholder="Group Name" required>
                                                    <div class="error-messages" ng-if="interacted(myForm.groupname)" ng-messages="myForm.groupname.$error">
                                                        <div ng-message="required">Enter Group Name</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Group Code:<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="grcode" data-ng-model="FAMGRP_GroupCode" maxlength="30" autocomplete="off" placeholder="Group Code" required>
                                                    <div class="error-messages" ng-if="interacted(myForm.grcode)" ng-messages="myForm.grcode.$error">
                                                        <div ng-message="required">Enter Group Code</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Balance/Loss :</label>
                                                <div class="col-sm-8">

                                                    <input name="bance" ng-model="FAMGRP_BSPLFlgBalance" type="checkbox" value="BS" ng-click="balance()" />
                                                    <span class="lbl padding-8">
                                                        Balance Sheet
                                                    </span>
                                                    <input name="profit" ng-model="FAMGRP_CRDRFlgProfit" type="checkbox" value="PL" ng-click="profit()" />
                                                    <span class="lbl padding-8">
                                                        Profit & Loss
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Credit / Debit :</label>
                                                <div class="col-sm-8">
                                                    <input name="profit" ng-model="FAMGRP_CRDRFlgCr" type="checkbox" value="CR" ng-click="CRclick()" />
                                                    <span class="lbl padding-8">
                                                        CRDIT
                                                    </span>
                                                    <input name="bance" ng-model="FAMGRP_CRDRFlgDr" type="checkbox" value="DR" ng-click="DRclick()" />
                                                    <span class="lbl padding-8">
                                                        DEBIT
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-horizontal">

                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Description :<span style="color:Red">*</span></label>
                                                <!--Description-->
                                                <div class="col-sm-8">
                                                    <textarea maxlength="250"  name="desc" ng-model="FAMGRP_Description" class="form-control" resize: none; rows="5" placeholder="Description" required />
                                                    <div class="error-messages" ng-if="interacted(myForm.desc)" ng-messages="myForm.desc.$error">
                                                        <div ng-message="required">Enter Description</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="">
                                        <div class="text-center">
                                            <input type="hidden" ng-model="FAMGRP_IdOne" value="{{famgrP_IdOne}}" />
                                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">

                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                Save
                                            </md-button>


                                            <md-button class="md-raised md-warn" data-ng-click="clear()">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                Cancel
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">  MASTER GROUP DETAILS</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body"> <!--ng-show="getreport.length > 0">-->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">
                                                <b> Total Grid Records :</b>
                                                <label class="badge">
                                                    {{presentCountgrid}}
                                                </label>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                                <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover table-responsive table-bordered">
                                    <thead>
                                        <tr>

                                            <th style="text-align:center">
                                                SL.NO
                                            </th>
                                            <th style="text-align:center">
                                                <a href="" ng-click="sort('famgrP_GroupName')">Group Name</a>
                                            </th>
                                            <th style="text-align:center">
                                                <a href="" ng-click="sort('famgrP_GroupCode')">Group Code</a>
                                            </th>
                                            <th style="text-align:center">
                                                <a href="" ng-click="sort('famgrP_BSPLFlg')">Balance/Loss </a>
                                            </th>
                                            <th style="text-align:center">
                                                <a href="" ng-click="sort('famgrP_CRDRFlg')">CR/DR </a>
                                            </th>
                                            <th style="text-align:center">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr dir-paginate="user in getreport |orderBy:sortKey:reverse |filter:search |itemsPerPage:itemsPerPagetwo" current-page="currentPagetwo" pagination-id="xyz">

                                            <td style="text-align:center">{{itemsPerPagetwo *(currentPagetwo-1)+$index+1}}</td>
                                            <td class="text-left">{{user.FAMGRP_GroupName}}</td>
                                            <td style="text-align:left">{{user.FAMGRP_GroupCode}}</td>
                                            <td style="text-align:left">{{user.FAMGRP_BSPLFlg}}</td>
                                            <td style="text-align:left">{{user.FAMGRP_CRDRFlg}}</td>
                                            <td class="hidden">{{user.FAMGRP_Id}}</td>
                                            <td class="hidden" style="text-align:left">{{user.FAMGRP_Description}}</td>
                                            <td class="text-center">
                                                <span ng-if="user.FAMGRP_ActiveFlg == true">
                                                    <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="" ng-click="Deletedata(user)"
                                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                        <i> Deactivate</i>
                                                    </a>
                                                </span>
                                                <span ng-if="user.FAMGRP_ActiveFlg == false">
                                                    <a href="" ng-click="Deletedata(user)"
                                                       class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                        <i> Activate </i>
                                                    </a>
                                                </span>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <dir-pagination-controls max-size="5"
                                                         direction-links="true"
                                                         boundary-links="true" pagination-id="xyz">
                                </dir-pagination-controls>

                            </div>
                        </div>

                    </md-content>

                </md-tab>
                <md-tab label="Master Details" ng-click="details()">
                    <md-content class="md-padding">
                        <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="savepagestwo()" name="myFormtwo" novalidate>
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Fiancial Accounting Master Details</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6  form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Master  Group Name:
                                                    <span style="color:red;">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="sel1" name="PosId" ng-model="FAMGRP_IdThree" ng-change="FAMGRPChange()" ng-disabled="FAMGRP_Idtwo > 0" required>
                                                        <option value="">--Select  Group Name--</option>
                                                        <option ng-repeat="chk in getgroupname" value="{{chk.FAMGRP_Id}}" ng-selected="{{chk.FAMGRP_Id == FAMGRP_IdThree}}">
                                                            {{chk.FAMGRP_GroupName}}
                                                        </option>
                                                    </select>
                                                    <div class="error-messages" ng-if="interactedtwo(myFormtwo.PosId)"
                                                         ng-messages="myFormtwo.PosId.$error">
                                                        <div ng-message="required">Select Master Name </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Group Name:<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="groupnametwo" data-ng-model="FAMGRP_GroupNametwo" maxlength="30" allow-pattern="(\s|[a-zA-Z])" autocomplete="off" placeholder="Group Name"   required>
                                                    <div class="error-messages" ng-if="interactedtwo(myFormtwo.groupnametwo)" ng-messages="myFormtwo.groupnametwo.$error">
                                                        <div ng-message="required">Enter Group Name</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Group Code:<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="codetwo" data-ng-model="FAMGRP_GroupCodetwo" maxlength="50"  autocomplete="off" placeholder="Parent Group Code"   required>
                                                    <div class="error-messages" ng-if="interactedtwo(myFormtwo.codetwo)" ng-messages="myFormtwo.codetwo.$error">
                                                        <div ng-message="required">Enter Group Code</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Postion :<span style="color:Red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="Postion" data-ng-model="FAMGRP_Position" maxlength="30" autocomplete="off" placeholder="Postion"   allow-pattern="[0-9.]"  required>
                                                    <div class="error-messages" ng-if="interactedtwo(myFormtwo.Postion)" ng-messages="myFormtwo.Postion.$error">
                                                        <div ng-message="required">Enter Postion </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    Balance/Loss:
                                                    <span style="color:red;">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="sel1" name="PosIdTT" ng-model="FAMGRP_BSPLFlgThree" required>
                                                        <option value="">--Select--</option>
                                                        <option value="Balance Sheet">
                                                            Balance Sheet

                                                        </option>
                                                        <option value="Profit & Loss">
                                                            Profit & Loss
                                                        </option>
                                                    </select>
                                                    <div class="error-messages" ng-if="interactedtwo(myFormtwo.PosIdTT)"
                                                         ng-messages="myFormtwo.PosIdTT.$error">
                                                        <div ng-message="required">Select  at least one </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                   Credit/Debit:
                                                    <span style="color:red;">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" name="PosIdCR" ng-model="FAMGRP_CRDRFlgThree" required>
                                                        <option value="">--Select--</option>
                                                        <option value="CR">
                                                            CREDIT

                                                        </option>
                                                        <option value="DR">
                                                            DEBIT
                                                        </option>
                                                    </select>
                                                    <div class="error-messages" ng-if="interactedtwo(myFormtwo.PosIdCR)"
                                                         ng-messages="myFormtwo.PosIdCR.$error">
                                                        <div ng-message="required">Select  at least one </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Description :<span style="color:Red">*</span></label>
                                                <!--Description-->
                                                <div class="col-sm-8">
                                                    <textarea maxlength="250"   name="desctwo" ng-model="FAMGRP_Descriptiontwo" class="form-control" resize: none; rows="5" placeholder="Description" required />
                                                    <div class="error-messages" ng-if="interactedtwo(myFormtwo.desctwo)" ng-messages="myFormtwo.desctwo.$error">
                                                        <div ng-message="required">Enter Description</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="">
                                        <div class="text-center">
                                            <input type="hidden"  ng-model="FAMGRP_Idtwo" value="{{famgrP_Idtwo}}" />
                                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btntwo">

                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                Save
                                            </md-button>


                                            <md-button class="md-raised md-warn" data-ng-click="cleartwo()">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                Cancel
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Fiancial Accunting Details</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" ng-show="getreporttwo.length > 0">
                                <div class="row">
                                    <div class="col-sm-4 pull-right">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                                <input class="form-control" type="text" ng-model="searchvalue" placeholder="search here...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover table-responsive table-bordered">
                                    <thead>
                                        <tr>

                                            <th style="text-align:center">
                                                SL.NO
                                            </th>
                                            <th style="text-align:center">
                                                <a href="" ng-click="sort('famgrP_GroupName')">Group Name</a>
                                            </th>
                                            <th style="text-align:center">
                                                <a href="" ng-click="sort('famgrP_GroupCode')">Group Code</a>
                                            </th>
                                            <th style="text-align:center">
                                                <a href="" ng-click="sort('famgrP_Position')">Postion </a>
                                            </th>
                                            <th style="text-align:center">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr dir-paginate="usertwo in getreporttwo |orderBy:sortKey:reverse |filter:searchvalue |itemsPerPage:itemsPerPage" current-page="currentPage" pagination-id="pqr">
                                            <td style="text-align:center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                            <td class="text-left">
                                                {{usertwo.famgrP_GroupName}}
                                            </td>
                                            <td class="text-left">
                                                {{usertwo.famgrP_GroupCode}}
                                            </td>

                                            <td class="text-left">
                                                {{usertwo.famgrP_Position}}
                                            </td>
                                            <td class="hidden">
                                                {{usertwo.famgrP_Id}}
                                            </td>
                                            <td class="hidden">
                                                {{usertwo.famgrP_ParentId}}
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="usertwo.famgrP_ActiveFlg == true">
                                                    <a class="text-aqua" href="" ng-click="editwo(usertwo)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="" ng-click="Deletedatatwo(usertwo)"
                                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                        <i> Deactivate</i>
                                                    </a>
                                                </span>
                                                <span ng-if="usertwo.famgrP_ActiveFlg == false">
                                                    <a href="" ng-click="Deletedatatwo(usertwo)"
                                                       class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                        <i> Activate </i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="5"
                                                         direction-links="true"
                                                         boundary-links="true" pagination-id="pqr">
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</section>