<section class="content">
    <div data-ng-init="loaddata();">
        <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="savepages()" name="myForm" novalidate>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Fiancial Accounting Ledger</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="col-sm-6 form-horizontal">
                            <!--<div class="form-group">
        <label class="control-label col-sm-4">
            Company name:
            <span style="color:red;">*</span>
        </label>
        <div class="col-sm-8">
            <select class="form-control" id="sel1" name="company" ng-model="FAMCOMP_Id" required>
                <option value="">--Select  Company Name--</option>
                <option ng-repeat="chk in companyname" value="{{chk.famcomP_Id}}" ng-selected="{{chk.famcomP_Id == FAMCOMP_Id}}">
                    {{chk.famcomP_CompanyName}}
                </option>
            </select>
            <div class="error-messages" ng-if="interacted(myForm.company)"
                 ng-messages="myForm.company.$error">
                <div ng-message="required">Select Company Name </div>
            </div>
        </div>

    </div>-->

                            <div class="form-group">
                                <label class="control-label col-sm-4">Company name:<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <ui-select id="sel2" name="company" ng-model="$parent.FAMCOMP_Id" ng-true-value="1" theme="bootstrap" ng-keyup="searchfilter($select,filterdata);" title="Select Company Name" required>
                                        <ui-select-match placeholder="Select or Search Company Name">
                                            {{$select.selected.famcomP_CompanyName}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="chk in companyname | propsFilter: {famcomP_CompanyName: $select.search}"
                                                           value="{{chk.famcomP_Id}}" ng-selected="{{option.Selected == true}}">
                                            <div ng-bind-html="chk.famcomP_CompanyName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-messages" ng-if="interacted(myForm.company)" ng-messages="myForm.company.$error">
                                        <div ng-message="required">Select Company Name</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    Financial Year:
                                    <span style="color:red;">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="year" ng-model="IMFY_Id" required>
                                        <option value="">--Select   Year--</option>
                                        <option ng-repeat="chk in fyear" value="{{chk.imfY_Id}}" ng-selected="{{chk.imfY_Id == IMFY_Id}}">
                                            {{chk.imfY_FinancialYear}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.year)"
                                         ng-messages="myForm.year.$error">
                                        <div ng-message="required">Select Year  </div>
                                    </div>
                                </div>

                            </div>

                            <!--<div class="form-group">
        <label class="control-label col-sm-4">
            Master  Group Name:
            <span style="color:red;">*</span>
        </label>
        <div class="col-sm-8">
            <select class="form-control" id="sel1" name="PosId" ng-model="FAMGRP_Id" ng-change="FAMGRPChange()" required>
                <option value="">--Select  Group Name--</option>
                <option ng-repeat="chk in getgroupname" value="{{chk.FAMGRP_Id}}" ng-selected="{{chk.FAMGRP_Id == FAMGRP_Id}}">
                    {{chk.FAMGRP_GroupName}}
                </option>
            </select>
            <div class="error-messages" ng-if="interacted(myForm.PosId)"
                 ng-messages="myForm.PosId.$error">
                <div ng-message="required">Select Master Name </div>
            </div>
        </div>
    </div>-->

                            <div class="form-group">
                                <label class="control-label col-sm-4">Master Group Name:<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <ui-select id="sel1" name="usrnm" ng-model="$parent.FAMGRP_Id" theme="bootstrap" ng-change="FAMGRPChange()"
                                               ng-keyup="searchfilter($select);" title="Select Group Name" ng-disabled="dis==true" required>
                                        <ui-select-match ng-trim="false" placeholder="Select or Search Master Group Name">
                                            {{$select.selected.FAMGRP_GroupName}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="user in getgroupname | filter: $select.search" value="{{user.FAMGRP_Id}}" ng-selected="{{user.Selected == true}}">
                                            <div ng-bind-html="user.FAMGRP_GroupName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-messages" ng-if="interacted(myForm.usrnm)" ng-messages="myForm.usrnm.$error">
                                        <div ng-message="required">
                                            Select Master Group
                                        </div>
                                    </div>
                                    <!--<ui-select id="sel2" name="PosId" ng-model="$parent.FAMGRP_Id" theme="bootstrap"  ng-change="FAMGRPChange()" title="Select Group Name" required>
        <ui-select-match placeholder="Select or Search Group Name">
            {{$select.selected.FAMGRP_GroupName}}
        </ui-select-match>
        <ui-select-choices repeat="chk in getgroupname | propsFilter: {FAMGRP_GroupName: $select.search}" value="{{chk.FAMGRP_Id}}" ng-selected="{{chk.Selected == true}}">
            <div ng-bind-html="chk.FAMGRP_GroupName | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <div class="error-messages" ng-if="interacted(myForm.PosId)" ng-messages="myForm.PosId.$error">
        <div ng-message="required">Select Group Name</div>
    </div>-->
                                </div>
                            </div>

                            <!--<div class="form-group">
        <label class="control-label col-sm-4">
            User  Group Name:
            <span style="color:red;">*</span>
        </label>
        <div class="col-sm-8">
            <select class="form-control" id="sel1" name="PosIdtt" ng-model="FAUGRP_Id">
                <option value="">--Select User Group --</option>
                <option ng-repeat="chk in usergroupname" value="{{chk.faugrP_Id}}" ng-selected="{{chk.faugrP_Id == FAUGRP_IdThree}}">
                    {{chk.faugrP_UserGroupName}}
                </option>
            </select>
            <div class="error-messages" ng-if="interacted(myForm.PosIdtt)"
                 ng-messages="myForm.PosIdtt.$error">
                <div ng-message="required">Select User group </div>
            </div>
        </div>
    </div>-->

                            <div class="form-group">
                                <label class="control-label col-sm-4">User Group Name:</label>
                                <div class="col-sm-8">
                                    <ui-select id="sel2" name="PosIdtt" ng-model="$parent.FAUGRP_Id" ng-true-value="1" theme="bootstrap" ng-keyup="searchfilter($select,filterdata);" title="Select Group Name">
                                        <ui-select-match placeholder="Select or Search User Group Name">
                                            {{$select.selected.faugrP_UserGroupName}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="chk in usergroupname | propsFilter: {faugrP_UserGroupName: $select.search}"
                                                           value="{{chk.faugrP_Id}}" ng-selected="{{chk.Selected == true}}">
                                            <div ng-bind-html="chk.faugrP_UserGroupName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-messages" ng-if="interacted(myForm.PosIdtt)" ng-messages="myForm.PosIdtt.$error">
                                        <div ng-message="required">Select User group</div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-4">Ledger Name:<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ledgername" data-ng-model="FAMLED_LedgerName" maxlength="40" allow-pattern="(\s|[a-zA-Z])" autocomplete="off" placeholder="Ledger Name" required>
                                    <div class="error-messages" ng-if="interacted(myForm.ledgername)" ng-messages="myForm.ledgername.$error">
                                        <div ng-message="required">Enter Ledger Name</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Alias Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="aliasname" data-ng-model="FAMLED_LedgerAliasName" maxlength="40" allow-pattern="(\s|[a-zA-Z])" autocomplete="off" placeholder="Alias Name">
                                    <div class="error-messages" ng-if="interacted(myForm.aliasname)" ng-messages="myForm.aliasname.$error">
                                        <div ng-message="required">Enter Alias Name</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Email Address :</label>

                                <div class="col-sm-8">
                                   
                                    <input class="form-control" placeholder="Email Address" name="email" id="usr" type="text" ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/"  data-ng-model="FAMLED_EmailAddress" >
                                    <div class="error-messages" ng-if="interacted(myForm.email)" ng-messages="myForm.email.$error">
                                        <div ng-message="required">Enter Email Id</div>
                                        <div ng-message="pattern">Enter Valid Email-id</div>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Bill :</label>
                                <div class="col-sm-8">

                                    <input name="bance" data-ng-model="obj.FAMLED_BillwiseFlg" type="checkbox" />
                                    <span class="lbl padding-8">
                                        Balance Sheet
                                    </span>

                                </div>
                            </div>
                 
                            <div class="form-group">
                                <div>
                                    <label class="control-label col-sm-3">Openining Balance:</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="opebalance" class="form-control active" allow-pattern="[0-9.]" maxlength="10" ng-model="FAMLEDD_OpeningBalance" placeholder="Opening Balance" ng-paste="$event.preventDefault()" autocomplete="off" required />
                                        <div class="error-messages" ng-if="interacted(myForm.opebalance)" ng-messages="myForm.opebalance.$error">
                                            <div ng-message="required">Enter Opening Balance</div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="text-center well col-sm-5" style="width:40%">
                                    <div ng-init="FAMLEDD_OBCRDRFlg='CR'">
                                        <span><b> Opening </b></span>
                                        <label class="radio-inline">
                                            <input type="radio" value="CR" name="enhc" ng-model="FAMLEDD_OBCRDRFlg">
                                            <span class="lbl padding-4"><b> CR </b></span>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="DR" name="enhc" ng-model="FAMLEDD_OBCRDRFlg">
                                            <span class="lbl padding-4"><b> DR </b></span>
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-6 form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4"> Ledger Date:<span style="color:red;">*</span></label>
                                <div class="col-sm-4">
                                    <md-datepicker ng-model="FAMLED_LedgerCreatedDate" onkeydown="return false" name="From_Date" id="date1" md-placeholder="Enter  date" required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.From_Date)" ng-messages="myForm.From_Date.$error">
                                        <div ng-message="required"> Select Date</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Ledger Type :</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ltype" data-ng-model="FAMLED_Type" maxlength="40" allow-pattern="(\s|[a-zA-Z])" autocomplete="off" placeholder="Ledger Type">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Ledger Under :</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="lunder" data-ng-model="FAMLED_Under" maxlength="40" allow-pattern="(\s|[a-zA-Z])" autocomplete="off" placeholder="Ledger Under">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Address :</label>
                                <div class="col-sm-8">
                                    <textarea maxlength="250"  name="address" ng-model="FAMLED_PostalAddress" class="form-control" resize: none; rows="5" placeholder="Address" />
                                    <div class="error-messages" ng-if="interacted(myForm.address)" ng-messages="myForm.address.$error">
                                        <div ng-message="required">Address </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Remark :</label>
                                <!--Description-->
                                <div class="col-sm-8">
                                    <textarea maxlength="250"  name="desct" ng-model="FAMLED_Remarks" class="form-control" resize: none; rows="5" placeholder="Remark" />
                                    <div class="error-messages" ng-if="interacted(myForm.desc)" ng-messages="myForm.desct.$error">
                                        <div ng-message="required">Remark</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    

                    <br />

                    <div class="">
                        <div class="text-center">
                            <input type="hidden" ng-model="FAMLED_Id" />
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">

                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </md-button>

                            <!--<md-button type="button" ng-click="printToCart('Baldwin')" class="md-raised md-primary">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                print
                            </md-button>
                            <md-button type="button" ng-click="exportToExcel()" target="_blank" class="md-raised md-primary">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                Export to Excel
                            </md-button>-->
                            <md-button class="md-raised md-warn" data-ng-click="clear()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Fiancial Accounting Ledger </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center">
                                SL.NO
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('FAMLED_LedgerName')">Ledger Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('FAMLED_LedgerAliasName')">Alias Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('FAMLED_LedgerCreatedDate')">Ledger Date</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('FAMCOMP_CompanyName')">Company Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('FAMGRP_GroupName')">Master Group Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('FAUGRP_UserGroupName')">User Group</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('IMFY_FinancialYear')"> Financial Year</a>
                            </th>
                            
                            <th style="text-align:center">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr dir-paginate="user in getreport |orderBy:sortKey:reverse |filter:search |itemsPerPage:itemsPerPage" current-page="currentPage">

                            <td style="text-align:center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>

                            <td style="text-align:left">{{user.FAMLED_LedgerName}}</td>
                            <td style="text-align:left">{{user.FAMLED_LedgerAliasName}}</td>
                            <td>{{user.FAMLED_LedgerCreatedDate |date:'dd/MM/yyyy'}}</td>
                            <td style="text-align:left">{{user.FAMCOMP_CompanyName}}</td>
                            <td style="text-align:left">{{user.FAMGRP_GroupName}}</td>                           
                            <td style="text-align:left">{{user.FAUGRP_UserGroupName}}</td>
                            <td style="text-align:left">{{user.IMFY_FinancialYear}}</td>

                            <td class="hidden">{{user.FAMLED_Id}}</td>
                            <td class="text-center">
                                <span ng-if="user.FAMLED_ActiveFlg == true">
                                    <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a href="" ng-click="Deletedata(user)"
                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                        <i> Deactivate</i>
                                    </a>
                                </span>
                                <span ng-if="user.FAMLED_ActiveFlg == false">
                                    <a href="" ng-click="Deletedata(user)"
                                       class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                        <i> Activate </i>
                                    </a>
                                </span>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>

    </div>


</section>