
<section class="content">
    <div data-ng-init="loaddata();">
        <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="savepages()" name="myForm" novalidate>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Voucher Entry</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-sm-6 col-sm-offset-3">

                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    Company name:
                                    <span style="color:red;">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="company" ng-model="FAMCOMP_Id" ng-change="ledgerChange()" required>
                                        <option value="">--Select  Company Name--</option>
                                        <option ng-repeat="chk in companyname" value="{{chk.famcomP_Id}}" ng-selected="{{chk.famcomP_Id == FAMCOMP_Id}}">
                                            {{chk.famcomP_CompanyName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.company)"
                                         ng-messages="myForm.company.$error">
                                        <div ng-message="required">Select Company Name </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    Voucher Type:
                                    <span style="color:red;">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="vouchertype" ng-model="Vochertype" ng-change="VoucherChange()" required>
                                        <option value="">--Select  Voucher--</option>
                                        <option value="Receipt Voucher">Receipt Voucher</option>
                                        <option value="Payment Voucher">Payment Voucher</option>
                                        <option value="Journal Voucher">Journal Voucher</option>
                                        <option value="Contra Voucher">Contra Voucher</option>                                       
                                       <!-- <option value="Purchase Voucher">Purchase Voucher</option>-->
                                        <option value="Purchase Return Voucher">Purchase Return Voucher</option>
                                        <!--<option value="Sales Voucher">Sales Voucher</option>-->
                                        <option value="Sales Return Voucher">Sales Return Voucher</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.vouchertype)"
                                         ng-messages="myForm.vouchertype.$error">
                                        <div ng-message="required">Select Voucher </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Voucher Date:<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <md-datepicker ng-model="FAMVOU_VoucherDate" onkeydown="return false" name="From_Date" id="date1" md-placeholder="Date" required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.From_Date)" ng-messages="myForm.From_Date.$error">
                                        <div ng-message="required"> Voucher Date</div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="form-horizontal" ng-show="gridshow">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th></th>
                                   
                                    <th><a href="" ng-click="sort('famleD_Id')">Particulars </a></th>
                                    <th><a href="" ng-click="sort('famvoU_Amount')">Debit</a></th>
                                    <th><a href="" ng-click="sort('fatvoU_CRDRFlg')">Credit</a></th>
                                   


                                    <!--<th>Action</th>-->
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="objg in transrows">
                                    <!--<td>{{objg.receiptvoucherflag}}</td>-->
                                    <td>
                                        <select class="form-control" id="sel1" name="company" ng-model="objg.receiptvoucherflag" ng-disabled="Vochertype=='Receipt Voucher' || Vochertype=='Payment Voucher'" ng-change="changedrcr(objg)" required>
                                            <option value="CR">CR</option>                                           
                                            <option value="DR">DR</option>                                           
                                        </select>

                                    </td>

                                    <td>
                                        <select class="form-control" id="sel1" name="ledger" ng-model="objg.famleD_Id">
                                            <option value="">--Select Particulars--</option>
                                            <option ng-repeat="chk in objg.ledgerdetails" value="{{chk.famleD_Id}}" ng-selected="{{chk.famleD_Id == famleD_Id}}">
                                                {{chk.famleD_LedgerName}}
                                            </option>
                                        </select>
                                        <!--<div class="error-messages" ng-if="interacted(dataform1.ledger)" ng-messages="dataform1.ledger.$error">
                                            <div ng-message="required">Particulars</div>
                                        </div>-->
                                    </td>




                                    <td>

                                        <input type="text"  class="form-control active" allow-pattern="[0-9]" maxlength="8" ng-model="objg.debitamount" placeholder="Amount" ng-disabled="objg.debitamountflg" ng-paste="$event.preventDefault()" ng-blur="debitchange()" autocomplete="off" />
                                        <div class="error-messages" ng-if="interacted(dataform1.closebalance)" ng-messages="dataform1.closebalance.$error">
                                            <div ng-message="required">Enter Amount</div>
                                        </div>
                                    </td>

                                    <td>

                                        <input type="text" name="closebalance" class="form-control active" allow-pattern="[0-9]" maxlength="8" ng-model="objg.creditAmount" placeholder="Amount"  ng-disabled="objg.creditamountflg" ng-paste="$event.preventDefault()" ng-blur="creditchange()" autocomplete="off"  />
                                        <div class="error-messages" ng-if="interacted(dataform1.closebalance)" ng-messages="dataform1.closebalance.$error">
                                            <div ng-message="required">Enter Amount</div>
                                        </div>
                                    </td>
                                   
                                </tr>
                            </tbody>

                        </table>

                    </div>
                   




                  

                    <br />

                    <div class="">
                        <div class="text-center">
                            <input type="hidden" ng-model="FAMVOU_Id" />
                            <md-button type="submit" class="md-raised md-primary"  id="save-btn">

                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </md-button>


                            <md-button class="md-raised md-warn" data-ng-click="clear()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Fiancial Voucher Details </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center">
                                SL.NO
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('famcomP_CompanyName')">Company Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('imfY_FinancialYear')">Fianacial Year</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('famvoU_VoucherType')">Voucher type</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('famvoU_VoucherNo')">Voucher Number</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('famvoU_VoucherDate')">Voucher Date</a>
                            </th>
                            <!--<th style="text-align:center">
                                <a href="" ng-click="sort('famvoU_UserVoucherType')">User Voucher type</a>
                            </th>-->
                            

                            <!--<th style="text-align:center">Action</th>-->
                        </tr>
                    </thead>

                    <tbody>
                        <tr dir-paginate="user in getreport |orderBy:sortKey:reverse |filter:search |itemsPerPage:itemsPerPage" current-page="currentPage">

                            <td style="text-align:center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>

                            <td style="text-align:left">{{user.famcomP_CompanyName}}</td>
                            <td style="text-align:left">{{user.imfY_FinancialYear}}</td>
                            <td style="text-align:left">{{user.famvoU_VoucherType}}</td>
                            <td>
                                {{user.famvoU_VoucherNo}}
                            </td>
                            <td>{{user.famvoU_VoucherDate |date:'dd/MM/yyyy'}}</td>

                            <!--<td style="text-align:left">{{user.famvoU_UserVoucherType}}</td>-->

                            <td class="hidden">{{user.famvoU_Id}}</td>
                            <!--<td class="text-center">
                                <span ng-if="user.famvoU_ActiveFlg == true">
                                    <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a href="" ng-click="Deletedata(user)"
                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                        <i> Deactivate</i>
                                    </a>
                                </span>
                                <span ng-if="user.famvoU_ActiveFlg == false">
                                    <a href="" ng-click="Deletedata(user)"
                                       class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                        <i> Activate </i>
                                    </a>
                                </span>

                            </td>-->
                        </tr>
                    </tbody>
                </table>

                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>

    </div>


</section>