html, body {
    height: 100%;
}

.dropbtn {
    background-color: #3a5999;
    color: white;
    font-size: 18px;
    border: none;
    height: 34px;
    width: 150px;
    margin-top: 16px;
    font-weight: bold;
}





.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 250px;
        font-size: 14px;
        font-weight: 600;
    }






/*======================================*/
.readbtn {
    background-color: #3c8dbc;
    color: #fafafa;
    font-size: 20px;
    border: none;
    height: 50px;
    width: 428px;
}

.read-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 428px;
    font-size: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .read-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 250px;
        font-size: 14px;
        font-weight: 600;
    }

        .read-content a:hover {
            background-color: #ddd;
        }

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0;
    text-align: center;
}

.box-body .btncol {
    display: inline-block;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    font-size: 18px;
    margin-left: 11px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px;
    border-radius: 5px;
    width: 1025px;
    background-color: #c1dde6a6;
}


.info {
    font-size: 14px;
    font-weight: 600;
}

.btnn-link:focus, .btnn-link:hover {
    color: #0c7105;
    text-decoration: underline;
    background-color: #f4f5eb;
}

.btnn-link {
    font-weight: 400;
    color: #056cec;
    border-radius: 0;
}

.table-hover tbody tr:hover td {
    /* background: #469ef7; */
    /* color: #fff; */
}
