<style>
    .btn-default {
        background-color: white;
        color: black;
        /*border-color: #0463c2;*/
    }
</style>
<section class="content">
    <form class="form-horizontal" role="form" name="myForm1" novalidate>
        <div class="box box-primary" data-ng-init="loadInitialData(user)">
            <div class="box-header with-border">
                <h3 class="box-title">Student TC Cancel</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    Academic Year:<strong style="color:red;">*</strong>
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" ng-model="ASMAY_Id" ng-change="OnChangeAcademicYear()">
                                        <option value="">Select Academic Year</option>
                                        <option ng-repeat="academic in TempYear" value="{{academic.asmaY_Id}}" ng-selected="{{academic.asmaY_Id == ASMAY_Id}}">
                                            {{academic.asmaY_Year}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    Student Name :<strong style="color:red;">*</strong>
                                </label>
                                <div class="col-sm-8">
                                    <ui-select id="sel1" name="studentname" ng-model="$parent.AMST_Id" ng-change="OnStudentNameChange()" theme="bootstrap" ng-keyup="searchfilter($select,user.status);" title="Select Student">
                                        <ui-select-match ng-trim="false" placeholder="Select Or Search Student">{{$select.selected.amsT_FirstName}}</ui-select-match>
                                        <ui-select-choices repeat="catgry in getstudenttcdetails | filter: $select.search" value="{{catgry.amsT_Id}}" ng-selected="{{catgry.Selected == true}}">
                                            <div ng-bind-html="catgry.amsT_FirstName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary" ng-if="details_flag==true">
            <div class="box-header with-border">
                <h3 class="box-title">Student Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Student Name </label>
                                <div class="col-sm-8"><label class="control-label"><b>: {{stdname}}</b></label></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Admission No.</label>
                                <div class="col-sm-8">
                                    <label class="control-label"><b>: {{Adm_No}}</b></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Registration No.</label>
                                <div class="col-sm-8"><label class="control-label"><b>: {{Reg_No}}</b></label></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Joined Details </label>
                                <div class="col-sm-8">
                                    <label class="control-label"><b>: {{joined_year}} / {{joinedclassname}}</b></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">TC No.</label>
                                <div class="col-sm-8"><label class="control-label"><b>: {{TCNo}}</b></label></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">TC Date</label>
                                <div class="col-sm-8"><label class="control-label"><b>: {{ASTC_TCDate | date:'dd/MM/yyyy'}}</b></label></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Left Details</label>
                                <div class="col-sm-8">
                                    <label class="control-label"><b>: {{left_year}} / {{class_name}} / {{section_name}}</b></label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 text-center">
                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    Student Photo :
                                </label>
                                <div class="col-sm-8">
                                    <div style="width:120px; border:1px solid #5cb7ff;">
                                        <img style="width:120px;height:120px;" class="img-responsive" src="{{Stu_Img}}" id="blah" alt="Photo Not Available">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    Remarks :<strong style="color:red;">*</strong>
                                </label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" name="rmks" id="remrks" ng-model="obj.TC_CancelReason" rows="4" required></textarea>
                                    <div class="error-messages" ng-if="interacted1(myForm1.rmks)" ng-messages="myForm1.rmks.$error">
                                        <div ng-message="required">Enter Remarks </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <md-button type="button" class="md-raised md-primary" ng-click="SaveTCCancelDetails(obj)"
                                   ng-if="userPrivileges.ivrmirP_AddFlag===true">
                            <!--ng-if="userPrivileges.ivrmirP_AddFlag===true"-->
                            Save <i class="fa fa-save" aria-hidden="true"></i>
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" ng-click="clear()">
                            <i class="fa fa-times" aria-hidden="true"></i> Clear
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="box box-primary" ng-if="getdeletedtcdetails.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">Student TC Cancel Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover table-responsive table-bordered" id="tabel1">
                        <thead>
                            <tr>
                                <th class="text-center">Sl.No.</th>
                                <th class="text-center">Student Details</th>
                                <th class="text-center">TC.No.</th>
                                <th class="text-center">TC Date</th>
                                <th class="text-center">Reason For Deletion</th>
                                <th class="text-center">Deleted Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="user in filterValue1=(getdeletedtcdetails |filter:searchValue )| orderBy:propertyName:reverse|itemsPerPage:itemsPerPage " current-page="currentPage" ng-class-odd="'odd'">
                                <td class="text-center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td class="text-left">
                                    {{user.amsT_FirstName}} : {{user.amsT_AdmNo}}
                                </td>
                                <td class="text-left">{{user.astC_TCNO}}</td>
                                <td class="text-center">{{user.astC_TCDate | date:'dd/MM/yyyy'}}</td>
                                <td class="text-left">{{user.tC_CancelReason}}</td>
                                <td class="text-center">{{user.updatedDate | date:'dd/MM/yyyy HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <!--<md-button type="button" class="md-raised md-primary" ng-disabled="excel_flag" id="excel-btn" aria-disabled="false"
                           ng-click="exportToExceld('#printSectionId1d')">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    Excel
                </md-button>-->
                <md-button type="button" class="md-raised md-primary" ng-disabled="excel_flag" id="print-btn" aria-disabled="false" ng-click="printData();">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    Print
                </md-button>
            </div>
        </div>
    </div>
</section>


<div id="printSectionId1" ng-show="table_flag">
    <div class="baldwin text-center" ng-if="imgname!=null && imgname!=''">
        <img src="{{imgname}}" class="img-responsive" alt="baldwin">
    </div>
    <center><h4>Student TC Deleted Details - {{yearname}}</h4></center>
    <br />
    <table class="table table-hover table-responsive table-bordered text-center" id="table1">
        <thead>
            <tr>
                <th width="10" class="text-center">Sl.No.</th>
                <th width="50" class="text-center">Student Details</th>
                <th width="20" class="text-center">TC.No.</th>
                <th width="20" class="text-center">TC Date</th>
                <th width="50" class="text-center">Reason For Deletion</th>
                <th width="20" class="text-center">Deleted Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user1 in getdeletedtcdetails|filter :searchValue1">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-left" style="word-wrap:break-word">
                    {{user1.amsT_FirstName}} : {{user1.amsT_AdmNo}}
                </td>
                <td class="text-left" style="word-wrap:break-word">{{user1.astC_TCNO}}</td>
                <td class="text-center">{{user1.astC_TCDate | date:'dd/MM/yyyy'}}</td>
                <td class="text-left" style="word-wrap:break-word">{{user1.tC_CancelReason}}</td>
                <td class="text-center">{{user1.updatedDate | date:'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </tbody>
    </table>
</div>


<div id="printSectionId1d" ng-show="table_flagd">
    <table>
        <tr>
            <td colspan="6" style="text-align:center">
                <label style="font-weight:bold">Student TC Deleted Details - {{yearname}}</label>
            </td>
        </tr>
    </table>
    <table id="table1s">
        <thead>
            <tr style="border:0.5px solid black">
                <th class="text-center">Sl.No.</th>
                <th class="text-center">Student Details</th>
                <th class="text-center">TC.No.</th>
                <th class="text-center">TC Date</th>
                <th class="text-center">Reason For Deletion</th>
                <th class="text-center">Deleted Date</th>
            </tr>
        </thead>
        <tbody>
            <tr style="border:0.5px solid black" ng-repeat="user1 in getdeletedtcdetails |filter :searchValue1">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-left">
                    {{user1.amsT_FirstName}} : {{user1.amsT_AdmNo}}
                </td>
                <td class="text-left">{{user1.astC_TCNO}}</td>
                <td class="text-center">{{user1.astC_TCDate | date:'dd/MM/yyyy'}}</td>
                <td class="text-center">{{user1.tC_CancelReason}}</td>
                <td class="text-center">{{user1.updatedDate | date:'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </tbody>
    </table>
</div>