<section class="content">
    <!--<form class="form-horizontal ng-pristine ng-valid" role="form" name="myform" novalidate>-->
        <video controls>
            <source src="https://html5multimedia.com/code/media/elephants-dream-medium.mp4" type="video/mp4">
        </video>
        <canvas id="canvas" width="600" height="300"></canvas>
        <button id="snap" ng-click="snap()">Snapshot</button>
        <script>
            //var video = document.querySelector('video');
            //var canvas = document.querySelector('canvas');
            //var context = canvas.getContext('2d');
            //var w, h, ratio;

            ////add loadedmetadata which will helps to identify video attributes

            //video.addEventListener('loadedmetadata', function () {
            //    ratio = video.videoWidth / video.videoHeight;
            //    w = video.videoWidth - 100;
            //    h = parseInt(w / ratio, 10);
            //    canvas.width = w;
            //    canvas.height = h;
            //}, false);

            //function snap() {
            //    debugger;
            //    context.fillRect(0, 0, w, h);
            //    context.drawImage(video, 0, 0, w, h);
            //}
        </script>
        <!--</form>-->
</section>