

/*@media print {
    @page {
        size: 7.87402in 10.70866in;
        margin-bottom: 0px !important;
        margin: auto;
    }

    body {
        margin: 45px !important;
        margin-bottom: 0px !important;
        margin-top: 230px !important;
        font-size: 16px !important;
      
        margin: auto;
    }

    .margin-bottom-none {
        margin-bottom: 0px !important;
    }

    .border-bottom-dotted {
        font-size: 15px !important;
        text-transform: capitalize !important;
    }

  .text-right{
        text-align:right !important;
    }
    table {
        table-layout: fixed;
        width: 100%;
        border: none !important;
        font-size: 15px !important;
        line-height: 2 !important;
    }

    .table > tbody > tr > td {
        padding-left: 0px !important;
        line-height: 2 !important;
    }

    .table {
        border: none !important;
        text-align: left !important;
        font-weight: 400;
        font-size: 15px !important;
        margin-bottom: 8px;
        line-height: 2 !important;
    }



    .width-200 {
        width: 150px !important;
    }

    .flower-bracket {
        padding-top: 10px;
        font-size: 0.6in !important;
        text-align: center;
    }

    .flower {
        margin-bottom: 50px;
    }

    .label {
        font-size: 15px !important;
        color: #333;
        font-weight: normal;
        text-align: left;
        line-height: 1.8;
        font-weight: 400;
    }

    .margin-top-120 {
        margin-top: 120px !important;
    }

    .margin-top-130 {
        margin-top: 130px !important;
    }

    .margin-top-205 {
        margin-top: 205px !important;
    }
}*/
/*@media print {
    @page {
        size: 7.87402in 10.70866in;
        margin-bottom: 0px !important;
        margin: auto;
    }

    body {
        margin: 45px !important;
        margin-bottom: 0px !important;
        margin-top: 230px !important;
        font-size: 16px !important;       
        margin: auto;
    }

    .margin-bottom-none {
        margin-bottom: 0px !important;
    }

    .border-bottom-dotted {
        font-size: 16px !important;
        text-transform: capitalize !important;
    }
    .border-bottom-dotted-label {
        font-size: 20px !important;
        text-transform: capitalize !important;
    }

  .text-right{
        text-align:right !important;
    }
    table {
        table-layout: fixed;
        width: 100%;
        border: none !important;
        font-size: 16px !important;
        line-height: 2 !important;
    }

    .table > tbody > tr > td {
        padding-left: 0px !important;
        line-height: 2 !important;
    }

    .table {
        border: none !important;
        text-align: left !important;
        font-weight: 400;
        font-size: 16px !important;
        margin-bottom: 8px;
        line-height: 2 !important;
    }



    .width-200 {
        width: 150px !important;
    }

    .flower-bracket {
        padding-top: 10px;
        font-size: 0.6in !important;
        text-align: center;
    }

    .flower {
        margin-bottom: 50px;
    }

    .label {
        font-size: 20px !important;
        color: #333;
        font-weight: normal;
        text-align: left;
        line-height: 1.8;
        font-weight: 400;
    }

    .margin-top-120 {
        margin-top: 120px !important;
    }

    .margin-top-130 {
        margin-top: 130px !important;
    }

    .margin-top-205 {
        margin-top: 205px !important;
    }
    .margin-top-356 {
        margin-top: 356px !important;
    }
}*/

@media print {
    @page {
        size: 7.87402in 10.70866in;
        margin-bottom: 0px !important;
        margin: auto;
    }

    body {
        margin: 45px !important;
        margin-bottom: 0px !important;
        margin-top: 230px !important;
        font-size: 15px !important;
        /*line-height:1.8;*/
        margin: auto;
    }

    .margin-bottom-none {
        margin-bottom: 0px !important;
    }

    .border-bottom-dotted {
        font-size: 15px !important;
        text-transform: capitalize !important;
    }
    .border-bottom-dotted-label {
        font-size: 20px !important;
        text-transform: capitalize !important;
    }

  .text-right{
        text-align:right !important;
    }
    table {
        table-layout: fixed;
        width: 100%;
        border: none !important;
        font-size: 15px !important;
        line-height: 2 !important;
    }

    .table > tbody > tr > td {
        padding-left: 0px !important;
        line-height: 2 !important;
    }

    .table {
        border: none !important;
        text-align: left !important;
        font-weight: 400;
        font-size: 15px !important;
        margin-bottom: 8px;
        line-height: 2 !important;
    }



    .width-200 {
        width: 150px !important;
    }

    .flower-bracket {
        padding-top: 10px;
        font-size: 0.6in !important;
        text-align: center;
    }

    .flower {
        margin-bottom: 50px;
    }

    .label {
        font-size: 20px !important;
        color: #333;
        font-weight: normal;
        text-align: left;
        line-height: 1.8;
        font-weight: 400;
    }

    .margin-top-120 {
        margin-top: 120px !important;
    }

    .margin-top-130 {
        margin-top: 130px !important;
    }

    .margin-top-205 {
        margin-top: 205px !important;
    }
    .margin-top-356 {
        margin-top: 356px !important;
    }
}

