
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
        <div class="box box-primary" data-ng-init="BindData()">
            <div class="box-header with-border">
                <h3 class="box-title">TRIP Booking Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4"> Vehicle Type<span style="color:Red">*</span></label>
                                <div class="col-sm-6">
                                    <select name="rhg" ng-model="trmvT_Id" class="form-control" required ng-change="vehicletypechange();">
                                        <option value="">--Select--</option>
                                        <option value="0">ALL</option>
                                        <option ng-repeat="vh1 in fillvahicletype" value="{{vh1.trmvT_Id}}">
                                            {{vh1.trmvT_VehicleType}}
                                    </select><div class="error-messages" ng-if="interacted(myForm.rhg)" ng-messages="myForm.rhg.$error">
                                        <div ng-message="required">Select Vehicle Type</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4"> Group Name<span style="color:Red">*</span></label>
                                <div class="col-sm-6">
                                    <select name="rhg" ng-model="trhG_Id" class="form-control" required>
                                        <option value="">--Select--</option>
                                        <option value="0">ALL</option>
                                        <option ng-repeat="vh1 in hiregrouplist" value="{{vh1.trhG_Id}}">
                                            {{vh1.trhG_HirerGroup}}
                                    </select><div class="error-messages" ng-if="interacted(myForm.rhg)" ng-messages="myForm.rhg.$error">
                                        <div ng-message="required">Select Group</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Booking From Date:<span style="color:Red">*</span></label>
                                <div class="col-sm-8 ol-sm-offset-4">
                                    <md-datepicker name="insto" ng-model="frmdate" onkeydown="return false" id="frmdate" md-max-date="maxDateFrom" md-min-date="minDateFrom" md-placeholder="Select date" ng-change="setToDate(frmdate)" ng-required="FormatType =='Format1'"></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.insto)" ng-messages="myForm.insto.$error">
                                        <div ng-message="required">Select Date</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label class="control-label col-sm-4"> Booking To Date:<span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <md-datepicker name="insto1" ng-model="todate" onkeydown="return false" id="todate" md-max-date="maxDateTo" md-min-date="minDateTo"  ng-change="OnchageToDate()" md-placeholder="Select date" ng-required="FormatType =='Format1'"></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.insto1)" ng-messages="myForm.insto1.$error">
                                        <div ng-message="required">Select Date</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="col-sm-12">
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" aria-disabled="false" ng-click="getreport(obj)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                            <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </md-button>
                            <md-button type="button" ng-click="printData()" class="md-raised md-primary" ng-disabled="griddata.length==0">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                print
                            </md-button>
                            <md-button type="button" ng-click="exportToExcel('#tabel11')" target="_blank" class="md-raised md-primary" ng-disabled="griddata.length==0">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                Export to Excel
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>

            <!--<GRID VIEW>-->
            <!--< Table>-->
            <div class="box box-primary" ng-show="griddeatails">
                <div class="box-header with-border">
                    <h3 class="box-title">TRIP Booking Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">
                                    <b> Total Grid Records :</b>
                                    <label class="badge">
                                        {{griddata.length}}
                                    </label>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" ng-if="searchValue!=''">
                                <label class="control-label">
                                    <b>Total Records Searched : </b>
                                    <label class="badge">
                                        {{filterValue1.length}}
                                    </label>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>

                        <table class="table table-hover table-responsive table-bordered text-center" border="1" id="tabel11" style="border-collapse:collapse">

                            <thead>
                                <tr>
                                    <th>
                                        SL.No.
                                    </th>
                                    <th><a href="" ng-click="sortBy('TRTOB_BookingDate')">Booking Date</a></th>
                                    <th><a href="" ng-click="sortBy('TRTOB_BookingId')">Booking Id</a></th>
                                    <th><a href="" ng-click="sortBy('TRTP_HirerName')">Hirer Name</a> </th>
                                    <th><a href="" ng-click="sortBy('TRTP_HirerContactPerson')">Contact Person</a> </th>
                                    <th><a href="" ng-click="sortBy('TRTP_HirerContactNo')">Mobile No.</a> </th>
                                    <th><a href="" ng-click="sortBy('TRTP_TripFromDate')">Trip Dates</a> </th>
                                    <th><a href="" ng-click="sortBy('TRTP_TripAddress')">Place</a> </th>
                                    <th><a href="" ng-click="sortBy('TRTP_NoOfTravellers')">No Of Seater</a> </th>
                                    <th><a href="" ng-click="sortBy('TRMD_DriverName')">Driver Name </a> </th>
                                    <th><a href="" ng-click="sortBy('TRMV_VehicleNo')">Vehicle No.</a> </th>

                                </tr>

                            </thead>

                            <tbody>
                                <tr dir-paginate="user in filterValue1=(griddata | filter : searchValue) | orderBy:propertyName:reverse |itemsPerPage:itemsPerPage" current-page="currentPage">
                                    <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                    <td>{{ user.TRTOB_BookingDate |date:'dd/MM/yyyy'}}</td>
                                    <td>{{ user.TRTOB_BookingId}}</td>
                                    <td>{{ user.TRTP_HirerName}}</td>
                                    <td>{{ user.TRTP_HirerContactPerson}}</td>
                                    <td>{{ user.TRTP_HirerContactNo}}</td>
                                    <td>{{ user.TRTP_TripFromDate |date:'dd/MM/yyyy'}} TO {{ user.TRTP_TripToDate |date:'dd/MM/yyyy'}}</td>
                                    <td>{{ user.TRTP_TripAddress}}</td>
                                    <td>{{ user.TRTP_NoOfTravellers}}</td>
                                    <td>{{ user.TRMD_DriverName}}</td>
                                    <td>{{ user.TRMV_VehicleNo}}</td>
                                </tr>
                              
                            </tbody>




                        </table>
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                    </div>


                <div id="printareaId" ng-show="tadprint">
                    <div class="baldwin text-center">
                        <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                    </div>
                    <center> <h4>TRIP BOOKING DETAILS</h4></center>
                    <br />
                    <table class="table table-hover table-responsive table-bordered text-center" id="table1">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    SL.No.
                                </th>

                                <th>Booking Date</th>
                                <th>Booking Id</th>
                                <th>Hirer Name </th>
                                <th>Contact Person </th>
                                <th>Mobile No.</th>
                                <th>Trip Dates </th>
                                <th>Place </th>
                                <th>No Of Seater </th>
                                <th>Driver Name  </th>
                                <th>Vehicle No. </th>

                            </tr>
                          
                        </thead>
                        <tbody>
                            <tr ng-repeat="rt in griddata">
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{ rt.TRTOB_BookingDate |date:'dd/MM/yyyy'}}</td>
                                <td>{{ rt.TRTOB_BookingId}}</td>
                                <td>{{ rt.TRTP_HirerName}}</td>
                                <td>{{ rt.TRTP_HirerContactPerson}}</td>
                                <td>{{ rt.TRTP_HirerContactNo}}</td>
                                <td>{{ rt.TRTP_TripFromDate |date:'dd/MM/yyyy'}} TO {{ user.TRTP_TripToDate |date:'dd/MM/yyyy'}}</td>
                                <td style="overflow-wrap:break-word">{{ rt.TRTP_TripAddress}}</td>
                                <td>{{ rt.TRTP_NoOfTravellers}}</td>
                                <td>{{ rt.TRMD_DriverName}}</td>
                                <td>{{ rt.TRMV_VehicleNo}}</td>

                            </tr>
                        
                         


                        </tbody>     
                        <tfoot>
                            <tr>
                                <td colspan="16" class="col-sm-12 text-center ">
                                    <label>
                                        Date:{{ddate|date:'dd/MM/yyyy'}} UserName: {{usrname}}  {{coptyright}}
                                    </label>
                                </td>
                            </tr>

                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
            </div>
    </form>
</section>
