
<section class="content">
    <div class="box box-primary" data-ng-init="loaddata()">
        <div class="box-header with-border">
            <h3 class="box-title">Vehicle Diesel</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <form class="form-horizontal" role="form" name="myForm" novalidate>
            <div class="box-body">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Vehicle No.: <span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" ng-model="trmV_Id" name="vhno" ng-change="onvahiclechange()" required>
                                    <option value="">Select</option> <!--ng-change="onvahiclechange()"-->
                                    <option ng-repeat="vhl in fillvahicleno" value="{{vhl.trmV_Id}}"> {{vhl.trmV_VehicleNo}} </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.vhno)" ng-messages="myForm.vhno.$error">
                                    <div ng-message="required">Please Select Vehicle No.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                  





                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Driver Name: <span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="se1l1" ng-model="trmD_Id" name="drname"  required>
                                    <option value="">Select</option>
                                    <option ng-repeat="dr in filldrivrname" value="{{dr.trmD_Id}}" ng-selected="{{dr.trmD_Id == trmD_Id}}"> {{dr.trmD_DriverName}} </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.drname)" ng-messages="myForm.drname.$error">
                                    <div ng-message="required">Please Select Driver Name.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Opening KM:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_FromKM" name="fkm" allow-pattern="(\s|[0-9])"  ng-blur="checkvalid()" required />
                                <!--allow-pattern="(\s|[0-9])"-->
                                <div class="error-messages" ng-if="interacted(myForm.fkm)" ng-messages="myForm.fkm.$error">
                                    <div ng-message="required">Please Enter Opening KM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Closing KM:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_ToKM" name="tkm" allow-pattern="(\s|[0-9])"  ng-blur="checkvalid()" required />
                                <div class="error-messages" ng-if="interacted(myForm.tkm)" ng-messages="myForm.tkm.$error">
                                    <div ng-message="required">Please Enter Closing KM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Total KM:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_TotalKM" allow-pattern="(\s|[0-9])" name="tkm1" ng-disabled="TRDC_TotalKM" required />
                                <div class="error-messages" ng-if="interacted(myForm.tkm1)" ng-messages="myForm.tkm1.$error">
                                    <div ng-message="required">Please Enter Closing KM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">No of Ltr:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_NoofLtr" name="ltr1" allow-pattern="(\s|[0-9])"  ng-blur="onliterchange()" required />
                                <div class="error-messages" ng-if="interacted(myForm.ltr1)" ng-messages="myForm.ltr1.$error">
                                    <div ng-message="required">Please Enter No of Ltr</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Total Mileage:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_TotalMileage" name="ttlmlg" allow-pattern="(\s|[0-9])" required ng-disabled="TRDC_TotalMileage"/>
                                <div class="error-messages" ng-if="interacted(myForm.ttlmlg)" ng-messages="myForm.ttlmlg.$error">
                                    <div ng-message="required">Please Enter Total Mileage</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Rate/Ltr:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_RateKm" name="rateno" allow-pattern="(\s|[0-9])" ng-blur="ratechange()" required  />
                                <div class="error-messages" ng-if="interacted(myForm.rateno)" ng-messages="myForm.rateno.$error">
                                    <div ng-message="required">Please Enter Rate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4"> Total Amount:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_TotalAmount" name="rateno" allow-pattern="(\s|[0-9])" ng-disabled="TRDC_TotalAmount" required />
                                <div class="error-messages" ng-if="interacted(myForm.rateno)" ng-messages="myForm.rateno.$error">
                                    <div ng-message="required">Please Enter Rate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4"> Emission Test Amt:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_Emission" name="emsn" allow-pattern="(\s|[0-9])" ng-change="calcgross()" required />
                                <div class="error-messages" ng-if="interacted(myForm.emsn)" ng-messages="myForm.emsn.$error">
                                    <div ng-message="required">Please Emission Test Amount</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4"> Additional Amt:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_AddtAmt" name="emsn1" allow-pattern="(\s|[0-9])"   ng-change="calcgross()" required />
                                <div class="error-messages" ng-if="interacted(myForm.emsn)" ng-messages="myForm.emsn.$error">
                                    <div ng-message="required">Please  Additional Amount</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Remarks:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <textarea class="form-control"  ng-model="TRDC_Remarks" name="rmks" ng-required="TRDC_AddtAmt>0">

                                </textarea>
                          
                                <div class="error-messages" ng-if="interacted(myForm.rmks)" ng-messages="myForm.rmks.$error">
                                    <div ng-message="required">Please Emission Test Amount</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4"> Gross Amount:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_GrossAmount" name="grs" allow-pattern="(\s|[0-9])"  ng-disabled="TRDC_GrossAmount" required />
                                <div class="error-messages" ng-if="interacted(myForm.grs)" ng-messages="myForm.grs.$error">
                                    <div ng-message="required">Please  Additional Amount</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Date :</label>
                            <md-datepicker name="doj" ng-model="TRDC_Date" onkeydown="return false"   md-placeholder="Select date" required></md-datepicker>
                            <div class="error-messages col-sm-offset-5" ng-if="interacted(myForm.doj)" ng-messages="myForm.doj.$error">
                                <div ng-message="required">Select Date </div>
                                <!--<div ng-message="valid">The entered value is not a date!</div>-->
                                <div ng-message="mindate">Date is too early!</div>
                                <div ng-message="maxdate">Date is too late!</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4"> Indent /Bill No:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="TRDC_Indent_BillNo" name="ind" ng- required />
                                <div class="error-messages" ng-if="interacted(myForm.ind)" ng-messages="myForm.ind.$error">
                                    <div ng-message="required">Please Enter Bill No</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">                    
                    <input type="hidden" ng-model="TRDC_Id" />
                    <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary" ng-click="savedata()">
                        <i class="fa fa-save" aria-hidden="true"></i> Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="clear()">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </md-button>
                </div>
            </div>
        </form>
    </div>
    <div class="box box-primary" ng-show="masterlist">
        <div class="box-header with-border">
            <h3 class="box-title">Vehicle Diesel List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{masterdistancerate.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th><a href="">SL.No.</a></th>
                        <th><a href="" ng-click="sort('trdC_Date')">Date</a></th>
                        <th><a href="" ng-click="sort('trmD_DriverName')">Driver Name</a></th>
                        <th><a href="" ng-click="sort('trmV_VehicleNo')">Vehicle No</a></th>
                        <th><a href="" ng-click="sort('trdC_FromKM')">From KM</a></th>
                        <th><a href="" ng-click="sort('trdC_ToKM')">To KM</a> </th>
                        <th><a href="" ng-click="sort('trdC_RateKm')">Rate Per KM</a> </th>
                        <th><a href="" ng-click="sort('trdC_Indent_BillNo')">Bill No</a> </th>
                        <th><a href="" ng-click="sort('trdC_Indent_BillNo')">Gross Amount</a> </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in filterValue1 = (masterdistancerate | filter : searchValue)  |orderBy:sortKey:sortReverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{user.trdC_Date | date:'dd/MM/yyyy'}}</td>
                        <td>{{user.trmD_DriverName}}</td>
                        <td>{{user.trmV_VehicleNo}}</td>
                        <td>{{user.trdC_FromKM}}</td>
                        <td>{{user.trdC_ToKM}}</td>
                        <td>{{user.trdC_RateKm}}</td>
                        <td>{{user.trdC_Indent_BillNo}}</td>
                        <td>{{user.trdC_GrossAmount}}</td>
                        <td class="text-center">
                            <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>  |
                            <a href="javascript:void(0)" ng-click="deactive(user);">  <i class="fa fa-trash-o" style="color:red"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>           
        </div>
    </div>

</section>