
<section class="content">
    <div class="box box-primary" data-ng-init="loaddata()">
        <div class="box-header with-border">
            <h3 class="box-title">Kilometer log book</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <form class="form-horizontal" role="form" name="myForm" novalidate>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Vehicle No.: <span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" ng-model="trmV_Id" name="vhno" ng-change="onvahiclechange()" required>
                                    <option value="">Select</option> <!--ng-change="onvahiclechange()"-->
                                    <option ng-repeat="vhl in fillvahicleno" value="{{vhl.trmV_Id}}"> {{vhl.trmV_VehicleNo}} </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.vhno)" ng-messages="myForm.vhno.$error">
                                    <div ng-message="required">Please Select Vehicle No.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Date :<span style="color:Red">*</span></label>
                            <md-datepicker name="doj" ng-model="TRKMLB_EntryDate" onkeydown="return false" md-placeholder="Select date" required></md-datepicker>
                            <div class="error-messages col-sm-offset-5" ng-if="interacted(myForm.doj)" ng-messages="myForm.doj.$error">
                                <div ng-message="required">Select Date </div>
                                <!--<div ng-message="valid">The entered value is not a date!</div>-->
                                <div ng-message="mindate">Date is too early!</div>
                                <div ng-message="maxdate">Date is too late!</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">From Date :<span style="color:Red">*</span></label>
                            <md-datepicker name="doj" ng-model="TRKMLB_FromDate" onkeydown="return false" md-placeholder="Select date" required></md-datepicker>
                            <div class="error-messages col-sm-offset-5" ng-if="interacted(myForm.doj)" ng-messages="myForm.doj.$error">
                                <div ng-message="required">Select Date </div>
                                <!--<div ng-message="valid">The entered value is not a date!</div>-->
                                <div ng-message="mindate">Date is too early!</div>
                                <div ng-message="maxdate">Date is too late!</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">To Date : <span style="color:Red">*</span></label>
                            <md-datepicker name="doj" ng-model="TRKMLB_ToDate" onkeydown="return false" md-placeholder="Select date" required></md-datepicker>
                            <div class="error-messages col-sm-offset-5" ng-if="interacted(myForm.doj)" ng-messages="myForm.doj.$error">
                                <div ng-message="required">Select Date </div>
                                <!--<div ng-message="valid">The entered value is not a date!</div>-->
                                <div ng-message="mindate">Date is too early!</div>
                                <div ng-message="maxdate">Date is too late!</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">From Time:<!--<span style="color:Red">*</span>--></label>
                            <div class="col-sm-8">
                                <div uib-timepicker name="tripf_time24" ng-model="TRKMLB_FromTime" show-meridian="true" hour-step="hstep" minute-step="mstep"></div>
                                <!--<div class="error-messages" ng-if="interacted(myForm.tripf_time24)" ng-messages="myForm.tripf_time24.$error">
                    <div ng-message="required">Please Select PickUp Time</div>
                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">To Time:<!--<span style="color:Red">*</span>--></label>
                            <div class="col-sm-8">
                                <div uib-timepicker name="trpt_time_to24" ng-model="TRKMLB_ToTime" min="min" show-meridian="true" hour-step="hstep" minute-step="mstep"></div>
                                <!--<div class="error-messages" ng-if="interacted(myForm.trpt_time_to24)" ng-messages="myForm.trpt_time_to24.$error">
                    <div ng-message="required">Please Enter Valid Time</div>
                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Opening KM:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" ng-model="TRDC_FromKM" name="fkm" ng-blur="checkvalid()" required />
                                <!--allow-pattern="(\s|[0-9])"-->
                                <div class="error-messages" ng-if="interacted(myForm.fkm)" ng-messages="myForm.fkm.$error">
                                    <div ng-message="required">Please Enter Opening KM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Closing KM:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" ng-model="TRDC_ToKM" name="tkm" ng-blur="checkvalid()" required />
                                <div class="error-messages" ng-if="interacted(myForm.tkm)" ng-messages="myForm.tkm.$error">
                                    <div ng-message="required">Please Enter Closing KM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Total KM:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" ng-model="TRDC_TotalKM" name="tkm1" ng-disabled="TRDC_TotalKM" required />
                                <div class="error-messages" ng-if="interacted(myForm.tkm1)" ng-messages="myForm.tkm1.$error">
                                    <div ng-message="required">Please Enter Closing KM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Remarks:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="TRKMLB_Remarks" name="rmks" required>

                                </textarea>

                                <div class="error-messages" ng-if="interacted(myForm.rmks)" ng-messages="myForm.rmks.$error">
                                    <div ng-message="required">Enter Remarks</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">                    
                    <input type="hidden" ng-model="TRKMLB_Id" />
                    <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary" ng-click="savedata()">
                        <i class="fa fa-save" aria-hidden="true"></i> Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="clear()">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </md-button>
                </div>
            </div>
        </form>
    </div>
    <div class="box box-primary" ng-show="masterlist">
        <div class="box-header with-border">
            <h3 class="box-title">Kilometer log book</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{masterdistancerate.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th><a href="">SL.No.</a></th>
                        <th><a href="" ng-click="sort('trmV_VehicleNo')">Vehicle No</a></th>
                        <th><a href="" ng-click="sort('trkmlB_EntryDate')">Date</a></th>
                        <th><a href="" ng-click="sort('trkmlB_FromDate')">From Date</a> </th>
                        <th><a href="" ng-click="sort('trkmlB_ToDate')">To Date</a> </th>
                        <th><a href="" ng-click="sort('trkmlB_OpeningReading')">From KM</a></th>
                        <th><a href="" ng-click="sort('trkmlB_ClosingReading')">To KM</a> </th>
                        <th><a href="" ng-click="sort('trkmlB_NoOfKM')">Total K.M</a> </th>
                        <th><a href="" ng-click="sort('trkmlB_Remarks')">Remarks</a> </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in filterValue1 = (masterdistancerate | filter : searchValue)  |orderBy:sortKey:sortReverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{user.trmV_VehicleNo}}</td>
                        <td>{{user.trkmlB_EntryDate |date:'dd/MM/yyyy'}}</td>
                        <td>{{user.trkmlB_FromDate  |date:'dd/MM/yyyy'}}</td>
                        <td>{{user.trkmlB_ToDate  |date:'dd/MM/yyyy'}}</td>
                        <td>{{user.trkmlB_OpeningReading}}</td>
                        <td>{{user.trkmlB_ClosingReading}}</td>
                        <td>{{user.trkmlB_NoOfKM}}</td>
                        <td>{{user.trkmlB_Remarks}}</td>

                        <td class="text-center">
                            <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>  |
                             &nbsp;
                            <span ng-if="user.trkmlB_ActiveFlag === false">
                                <a href="" ng-click="deactive(user)"
                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    <i> Activate </i>
                                </a>
                            </span>
                            <span ng-if="user.trkmlB_ActiveFlag === true">
                                <a href="" ng-click="deactive(user)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    <i> Deactivate</i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>           
        </div>
    </div>

</section>