
<section class="content">
    <div class="box box-primary" data-ng-init="BindData()">
        <div class="box-header with-border">
            <h3 class="box-title">Vehicle Service Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <form class="form-horizontal" role="form" name="myForm" novalidate>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Vehicle No:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <!--<select class="form-control" id="sel1" name="ayr123" ng-model="TRMV_Id" required>
        <option value="">--Select--</option>
        <option ng-repeat="optlst1 in vehicaldetails" value="{{optlst1.trmV_Id}}" ng-selected="{{optlst1.Selected == true}}">
            {{optlst1.trmV_VehicleNo}}
        </option>
    </select>
    <div class="error-messages" ng-if="interacted(myForm.ayr123)" ng-messages="myForm.ayr123.$error">
        <div ng-message="required">Please Select Vehical No</div>
    </div>-->

                                <ui-select id="sel1111" name="ayr123" ng-model="$parent.TRMV_Id" theme="bootstrap" ng-change="findservice()" ng-keyup="searchfilter1($select);" title="Select Vehicle No.">
                                    <!--$parent.LMB_Id--> <!--ng-change="get_bookdetails($parent.TRSE_Id)"-->
                                    <ui-select-match ng-trim="false" placeholder="Select or search Vehicle No. in the list...">{{$select.selected.trmV_VehicleNo}}</ui-select-match>
                                    <ui-select-choices repeat="option in vehicaldetails | filter: $select.search " value="{{option.trmV_Id}}" ng-selected="{{option.Selected == true}}">
                                        <div ng-bind-html="option.trmV_VehicleNo | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="error-messages" ng-if="interacted(myForm.ayr123)" ng-messages="myForm.ayr123.$error">
                                    <div ng-message="required">Please Select Vehical No</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Driver Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel11" name="dri" ng-model="TRMD_Id" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="optlst11 in driverdata" value="{{optlst11.trmD_Id}}" ng-selected="{{optlst11.Selected == true}}">
                                        {{optlst11.trmD_DriverName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.dri)" ng-messages="myForm.dri.$error">
                                    <div ng-message="required">Please Select Driver Name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Service Station Name:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="sers" ng-model="TRMSST_Id" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="optlst12 in servnamelist" value="{{optlst12.trmssT_Id}}" ng-selected="{{optlst12.Selected == true}}">
                                        {{optlst12.trmssT_ServiceStationName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.sers)" ng-messages="myForm.sers.$error">
                                    <div ng-message="required">Please Select Service Station Name</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-5"> Date:<span style="color:Red">*</span></label>
                            <div class="col-sm-7">
                                <md-datepicker id="FromDate" ng-model="TRSE_ServiceDate" onkeydown="return false" name="fdate" md-placeholder="Date"
                                               required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.fdate)" ng-messages="myForm.fdate.$error">
                                    <div ng-message="required">Please Select  Date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Problems Details:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="part" ng-model="TRSE_ProblemsListed" required> </textarea>
                                <div class="error-messages" ng-if="interacted(myForm.part)" ng-messages="myForm.part.$error">
                                    <div ng-message="required">Please Enter Problems Details</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Service Details:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="part1" ng-model="TRSE_ServiceDetails" required> </textarea>
                                <div class="error-messages" ng-if="interacted(myForm.part1)" ng-messages="myForm.part1.$error">
                                    <div ng-message="required">Please Enter Service Details</div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>

                <!--<label class="checkbox-inline" >
                    <input type="checkbox"  ng-model="additems"  name="otp" >
                    <span class="lbl padding-8"><b>ADD ITEMS</b></span>
                </label>-->
             

            </div>
                 <!--<div ng-show="additems==true">
                        <div class="box-header with-border">
                            <h3 class="box-title">Items Details</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover table-responsive table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>Sl.No</th>
                                        <th>
                                            ITEM NAME&nbsp;<span style="color:red;">*</span>
                                        </th>
                                        <th>
                                            QUANTITY&nbsp;<span style="color:red;">*</span>
                                        </th>
                                        <th>
                                           REMARKS&nbsp;<span style="color:red;">*</span>
                                        </th>
                            
                                        <th>
                                            Add More
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="vehicle in vehicles  track by $index">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="vehicle.trseD_ItemsName" name="mobile{{$index}}" ng-required="additems==true" placeholder="Enter Item Name" ng-disabled="disableDriverallottment" />
                                            <div class="error-messages" ng-if="interacted(myForm['mobile'+$index])" ng-messages="myForm['mobile'+$index].$error">
                                                <div ng-message="required"> Enter Item Name</div>
                                            </div>
                                        </td>


                                        <td>
                                            <input class="form-control" type="text" ng-model="vehicle.trseD_Qty" allow-pattern="\d" maxlength="10" name="mobile1{{$index}}" ng-required="additems==true" placeholder="Enter Quantity" ng-disabled="disableDriverallottment" />
                                            <div class="error-messages" ng-if="interacted(myForm['mobile1'+$index])" ng-messages="myForm['mobile1'+$index].$error">
                                                <div ng-message="required"> Enter Quantity</div>
                                            </div>
                                        </td>
                                        <td>
                                     
                                            <textarea class="form-control" type="text" ng-model="vehicle.trseD_Remarks" name="mobile2{{$index}}"  placeholder="Enter Remarks" ng-disabled="disableDriverallottment" >  </textarea>
                                            <div class="error-messages" ng-if="interacted(myForm['mobile2'+$index])" ng-messages="myForm['mobile2'+$index].$error">
                                                <div ng-message="required"> Enter Remarks</div>
                                            </div>
                                        </td>


                                        <td>

                                            <span ng-show="$last" class="input-group-addon">
                                          
                                                <a href="" ng-click="addNewVehicle()" style="color:#000;">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </span>
                                            <span class="input-group-addon" id="remove" ng-hide="vehicles.length ==1">
                                                <a href="" ng-click="removeVehicle($index)" style="color:#000;">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </a>
                                            </span>


                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        </div>-->
                    
              
                <hr />
                <div class="text-center">
                   
                    <input type="hidden" ng-model="TRSE_Id" />
                    <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary" ng-click="savedata()">
                        <i class="fa fa-save" aria-hidden="true"></i> Save
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" ng-click="clearid()">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </md-button>
                </div>
           
        </form>
    </div>
    <div class="box box-primary" ng-show="partlist.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">Vehicle Service Details List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{partlist.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th><a href="">SL.No.</a></th>
                        <th><a href="" ng-click="sort('trsE_ServiceRefNo')">Service No.</a></th>
                        <th><a href="" ng-click="sort('trsE_ServiceDate')">Service Date</a></th>
                        <th><a href="" ng-click="sort('trmssT_ServiceStationName')">Service Station</a></th>
                        <th><a href="" ng-click="sort('trmV_VehicleNo')">Vehicle No</a> </th>
                        <th><a href="" ng-click="sort('trmD_DriverName')">Driver Name</a></th>
                        <th><a href="" ng-click="sort('trsE_ProblemsListed')">Problems Details</a></th>
                        <th><a href="" ng-click="sort('trsE_ServiceDetails')">Service Details</a></th>
                        <th><a href="" ng-click="sort('trsE_TotalPaid')">Paid Amount</a></th>
                        <!--<th>Item List</th>-->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in filterValue1 = (partlist | filter : searchValue)  |orderBy:sortKey:sortReverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{user.trsE_ServiceRefNo }}</td>
                        <td>{{user.trsE_ServiceDate | date :  "dd/MM/yyyy"}}</td>
                        <td>{{user.trmssT_ServiceStationName }}</td>
                        <td>{{user.trmV_VehicleNo}}</td>

                        <td>{{user.trmD_DriverName}}</td>
                        <td>{{user.trsE_ProblemsListed}}</td>
                        <td>{{user.trsE_ServiceDetails}}</td>
                        <td>{{user.trsE_TotalPaid}}</td>
                        <!--<td class="text-center">
                            <span>
                                <a href="" data-toggle="modal" data-target="#myModal31" data-backdrop="static" data-ng-click="viewitems(user)">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </span>
                        </td>-->
                        <td class="text-center">
                            <span>
                                <a href="" data-toggle="modal" data-target="#myModal311" data-backdrop="static" data-ng-click="viewreq(user)">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </span> &nbsp;|&nbsp;
                            <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            &nbsp;|&nbsp;
                            <span ng-if="user.trsE_ActiveFlag == false">
                                <a href="" ng-click="deactive(user)"
                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    <i> Activate </i>
                                </a>
                            </span>
                            <span ng-if="user.trsE_ActiveFlag == true">
                                <a href="" ng-click="deactive(user)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    <i> Deactivate</i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>


</section>

<div class="modal fade" id="myModal31" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times text-white" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title text-white">Item Details For the Service No.--{{srno}}</h4>
            </div>
            <div class="modal-body" ng-show="itemlist.length>0">

                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th><a href="">SL.No.</a></th>
                            <th><a href="" ng-click="sort('trseD_ItemsName')">Items Name</a></th>
                            <th><a href="" ng-click="sort('trseD_Qty')">Quantity</a></th>
                            <th><a href="" ng-click="sort('trseD_ProblemsListed')">Problems</a></th>
                            <!--<th><a href="" ng-click="sort('trseD_ServiceDetails')">Service Details</a> </th>-->
                            <th><a href="" ng-click="sort('trseD_Remarks')">Remarks</a></th>

                            <!--<th>Action</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in itemlist">
                            <td>{{$index+1}}</td>
                            <td>{{user.trseD_ItemsName }}</td>
                            <td>{{user.trseD_Qty}}</td>
                            <td>{{user.trseD_ProblemsListed }}</td>
                            <!--<td>{{user.trseD_ServiceDetails}}</td>-->
                            <td>{{user.trseD_Remarks}}</td>


                            <!--<td class="text-center">
                        <span ng-if="user.trsE_ActiveFlag == false">
                            <a href="" ng-click="deactive(user)"
                               class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                <i> Activate </i>
                            </a>
                        </span>
                        <span ng-if="user.trsE_ActiveFlag == true">
                            <a href="" ng-click="deactive(user)"
                               class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                <i> Deactivate</i>
                            </a>
                        </span>
                    </td>-->
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-body" ng-show="itemlist.length==0">
                <label style="color:red;"><b>NO ITEMS FOUND</b></label>

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
</div>


<div class="modal fade" id="myModal311" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-times text-white" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title text-white">Requisition form</h4>
            </div>
            <div class="modal-body" id="printareaId">
                <div class="col-sm-12 text-center" style="margin-top:10px">
                    <label class="col-sm-12 text-center"><b style="font-size:17px">{{inst_name|uppercase}}-TRANSPORT,&nbsp;&nbsp;{{city|uppercase}}-{{pin}}</b></label>
                    <!--<label class="col-sm-12 text-center"><b style="font-size:14px">TRANSPORT,{{city}}-{{pin}}</b></label>-->
                    <label class="col-sm-12 text-center"><b style="font-size:14px">REQUISITION FORM</b></label>
                    <label class="col-sm-12 text-center"><b style="font-size:12px">(FOR REPAIR & MAINTENANCE )</b></label>
                </div>
                
                <table class="table table-responsive table-bordered" style="margin-top:2px">

                    <tbody>
                        <tr>
                            <td>Driver Name:</td>
                            <td>{{drname}}</td>
                            <td>SL.NO./Date:</td>
                            <td>{{srvno}}</td>
                        </tr>
                        <tr>
                            <td>Vehicle Number:</td>
                            <td>{{vhno}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td >Details:</td> 
                            <td colspan="3" style="overflow-wrap:break-word;" class="text-left">{{details}}</td>
                            

                        </tr>
                        <tr>
                    </tbody>
                </table>

                <table class="table table-responsive table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                Date, Last Done if any
                            </td>
                            <td>{{olddate |date:'dd/MM/yyyy'}}</td>
                            <td colspan="2" rowspan="2" style="height:70px;vertical-align:bottom" valign="bottom">
                                <label style="float:right;margin-right:10%">Signature of the staff</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Estimate:
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr></tr>

                        <tr>
                            <td colspan="4" style="height:70px;vertical-align:bottom" valign="bottom">
                                <label style="float:left;margin-left:10%">Signature of the Principal</label>
                                <label style="float:right;margin-right:4%">Signature of the Manager</label>

                            </td>


                        </tr>
                        <tr>
                            <td colspan="4" style="height:70px;vertical-align:bottom;" valign="bottom">
                                <label style="float:left;margin-left:10%;">Date Of Completion</label>
                                <label style="float:right;margin-right:4%">Signature of the staff</label>

                            </td>


                        </tr>
                    </tbody>
                </table>



            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="rprint();">print</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>