<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" ng-init="BindData()" novalidate>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Month End Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="Year" ng-model="ASMAY_Id" data-ng-change="onselectAcdYear(ASMAY_Id)" required>
                                    <option value="" label="Select Academic Year"> </option>
                                    <option ng-repeat="option1 in acdlist" value="{{option1.asmaY_Id}}" ng-selected="{{option1.Selected == true}}">
                                        {{option1.asmaY_Year}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.Year)" ng-messages="myForm.Year.$error">
                                <div ng-message="required">Please Select Academic Year</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Month :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel4" name="mon" ng-model="IVRM_Month_Id" required>
                                    <option value="" label="Select Month"> </option>
                                    <option ng-repeat="option4 in monthlist" value="{{option4.ivrM_Month_Id}}" ng-selected="{{option4.Selected == true}}">
                                        {{option4.ivrM_Month_Name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.mon)" ng-messages="myForm.mon.$error">
                                <div ng-message="required">Please Select Month</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Implementation Name :</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="iename" class="form-control" />
                                <div class="error-messages" ng-if="interacted(myForm.meryr)" ng-messages="myform.meryr.$error">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="">

                    <div class="">
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="onreport()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                            <md-button class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                            <md-button class="md-raised md-primary" id="print-btn" ng-click="printData()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Print
                            </md-button>
                        </div>
                    </div>


                </div>


            </div>

        </div>

        <div class="box box-primary" ng-show="main_list.length>0">
            <div class="box-header with-border">
                <h3 class="box-title">Transport Month End Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" id="table" style="overflow:scroll">
                <div class="baldwin text-center">
                    <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                </div>
                <center> <h2>Transport {{Month_Name}} Month End Report</h2></center>
                <div style="padding-bottom:50px;">
                    <div class="sect1">
                        <div class="row margin-bottom-10">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4"><b>Designation</b></label>
                                    <label class="control-label col-sm-8">
                                        : <b>Implementation Engineer</b>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4"><b>Name</b></label>
                                    <label class="control-label col-sm-8">
                                        : <b>{{iename}}</b>
                                    </label>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4"><b>Date</b></label>
                                    <label class="control-label col-sm-8">
                                        : <b>{{date_m|date:'dd/MMM/yyyy'}}</b>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4"><b>Academic Year</b></label>
                                    <label class="control-label col-sm-8">
                                        : <b>{{Year_Name}}</b>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>
                                    Sl No.
                                </th>
                                <th>
                                    ROUTE NAME
                                </th>
                                <th>
                                   STUDENT COUNT
                                </th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="exm in main_list">
                                <td>{{$index+1}}</td>
                                <td>{{exm.TRMR_RouteName}}</td>
                                <td>{{exm.stdcnt}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    TOTAL
                                </td>
                                <td>
                                    {{finaltotal}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div>
                    <h3 class="box-title">GRAPHICAL ANALYSIS OF TRANSPORT MONTH END REPORT</h3>
                    <div id="linechart" style="height: 350px; width: 100%;"></div>
                    <div id="imageContainer" ng-show="false">
                        <img id="chartImage" width="800px;" height="300px;">
                    </div>
                </div>
                <br />
                <div>
                    <div class="row">
                        <div class="col-sm-6">Implementation Engineer:_______________</div>
                        <div class="col-sm-6">Nodal Officer:_______________</div>

                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-6">End User:_______________</div>
                        <div class="col-sm-6">Seal</div>

                    </div>
                </div>
            </div>


        </div>


    </form>
</section>