@media print {
    body {
        margin: 50px;
        font-family: 'Monotype Corsiva', sans-serif;     
    }

    table {
        font-family: 'Monotype Corsiva', sans-serif;
        table-layout: fixed;
        width: 100%;
        border: 0px !important;       
    }


  .table {
        border: 0px !important;
        font-weight: 500;
        text-align: left !important;
        font-family: 'Monotype Corsiva', sans-serif;
        font-size: 18px !important;
        margin-bottom: 30px !important;
    }
  .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
}
