
@media print {
    
    @import url(http://allfont.net/allfont.css?fonts=commercial-script-bt);

    body {
        margin: 30px;
         font-family: 'Commercial Script BT', arial;
    }

    table {
        table-layout: fixed;
        width: 100%;
        margin-bottom: 15px;
        border: 0px !important;
        font-family: 'Commercial Script BT', arial;
    }

    .table {
        border: 0px !important;
        font-weight: bold;
        text-align: left !important;
        margin-bottom: 10px !important;
        line-height: 2;
        font-size: 25px;
        font-family: 'Commercial Script BT', arial;
    }


    .BMCSAPP .table, .BMCSAPP .table > tbody > tr > td, .BMCSAPP .table > tbody > tr > th, .BMCSAPP .table > tfoot > tr > td, .BMCSAPP .table > tfoot > tr > th, .BMCSAPP .table > thead > tr > td, .BMCSAPP .table > thead > tr > th {
        padding: 8px;
        text-align: left !important;
        border: 0px !important;
        font-size: 25px;
        line-height: 2;
        font-family: 'Commercial Script BT', arial;
    }

    .padding-left-right-10 {
        padding-left: 20PX !important;
        padding-right: 20px !important;
    }

    .border-bottom {
        text-transform: lowercase !important;
    }
    
    .aaa {
          font-family: 'Commercial Script BT', arial;
    }


}
