<?xml version="1.0"?>
<configuration>
  <!--<httpRuntime maxRequestLength="1048576" />-->
  <system.web>
    <httpRuntime maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="AngularJS Conditions" stopProcessing="true">
          <match url="(preloader/.*|fonts/.*|dist/.*|plugins/.*|js/.*|images/.*|css/.*|Views/.*|app/.*|node_modules/.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <!--Redirect selected traffic to index -->
        <rule name="Index Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" startupTimeLimit="3600" requestTimeout="00:30:00">
      <environmentVariables />
    </aspNetCore>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>