

.BBHSBankReceipt {
   font-size:12px !important;
   font-weight:600;
}


.BBHSBankReceipt table {
    table-layout: fixed;
    width: 100%;     
}
.BBHSBankReceipt .table {
    table-layout: fixed;
    width: 100%;   
    border:0px !important;
    text-align:left;
    margin-bottom:10px;
     font-size:12px!important;
   font-weight:600;
      vertical-align: middle;
}
.BBHSBankReceipt .table-bordered > thead > tr > th, .BBHSBankReceipt .table-bordered > tbody > tr > th, 
.BBHSBankReceipt .table-bordered > tfoot > tr > th, .BBHSBankReceipt .table-bordered > thead > tr > td, 
.BBHSBankReceipt .table-bordered > tbody > tr > td, .BBHSBankReceipt .table-bordered > tfoot > tr > td {
    border: 0.8px solid #cad4de;
    padding: 5px;
    vertical-align: middle;
    font-size:12px!important;
   font-weight:600;
   word-break:break-all !important;
}
.BBHSBankReceipt thead {
    background: #fff;
    color: #000 !important;
    text-align: center;
}
.BBHSBankReceipt .table-bordered > thead > tr > th {
     vertical-align: middle;
}