
@media print {
    @page {
        size: portrait;
       
    }
   
  
    .pagebreak{
        page-break-after:always !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 0.8px solid #cad4de;
        padding: 2px;
        vertical-align: middle;
        font-size: 8px !important;
        /*page-break-inside: avoid;*/
        text-transform: capitalize !important;
        word-wrap: break-word;
    }

    .table-bordered {
        table-layout: auto;
        width: 100%;
        font-size: 8px !important;
        /*page-break-inside: avoid;*/
    }

    .table {
        table-layout: auto;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        font-size: 8px !important;
        /*page-break-inside: avoid;*/
    }

    table {
        table-layout: auto;
        width: 100%;
        border: 0px !important;
        font-size: 8px !important;
        text-align: left !important;
        /*page-break-inside: avoid;*/
    }
}
