@media print {
    /*@page {
        margin: 10% !important;
        padding: 2% !important;
        border: 1px solid !important
    }*/
    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .border-bottom {
        border-bottom: 1px solid #6d6c6c !important;
        text-align: center;
    }


    #EMPPFScheme .table {
        border: 0px;
        text-align: left;
    }

    #EMPPFScheme thead {
        background: #fff;
        color: #000 !important;
        text-align: center;
    }

        #EMPPFScheme thead th {
            border: 1px solid #6d6c6c !important;
        }

    #EMPPFScheme table {
        width: 100%;
        border: 0px !important;
    }

    #EMPPFScheme .table-bordered td {
        border: 1px solid #6d6c6c !important;
    }

    .width-200 {
        width: 140px !important;
    }
    .width-340{
         width: 260px !important;
    }
    .width-380 {
        width: 270px !important;
    }
  .printborder {
        height: 99% !important;
        margin: 2% !important;
        border: 1px solid  !important;
    }
  
}
