

@media print {
    @page {
        margin-top: 10px;
    }

    body {
        margin-top: 0px;
    }

    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .border-bottom {
        border-bottom: 1px solid #6d6c6c !important;
        text-align: center;
    }

    #PFChallan .border {
        border: 1px solid #6d6c6c !important;
        display: inline;
    }

    #PFChallan .border-box {
        width: 14px !important;
        height: 14px !important;
        border: 1px solid #6d6c6c !important;
        float: left;
        margin-left: 1px;
    }

    .margin-right-10 {
        margin-right: 10px !important;
    }

    #PFChallan .table {
        border: 0px;
        text-align: left;
    }

        #PFChallan .table td {
        }

    #PFChallan thead {
        background: #fff;
        color: #000 !important;
        text-align: center;
    }

        #PFChallan thead th {
            border: 1px solid #6d6c6c !important;
        }

    #PFChallan table {
        width: 100%;
        border: 0px !important;
    }

    #PFChallan .table-bordered td {
        border: 1px solid #6d6c6c !important;
    }

    .border-bottom {
        border-bottom: 1px solid #000 !important;
    }

    #PFChallan .form-control {
        display: block;
        width: 100%;
        height: 30px;
        padding: 3px 12px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #000;
        background-color: #fff;
        background-image: none;
        border: 1px solid #6d6c6c;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    #PFChallan textarea.form-control {
        max-width: 100%;
        height: auto;
    }

    #PFChallan ul {
        list-style: circle;
    }

    #pad-left-50 {
        padding-left: 50px !important;
    }

    .rupee {
        width: 5.5% !important;
    }

    .blank_row {
        height: 17px;
    }

    .pagebreak {
        page-break-after: always;
    }

    .raj {
        font-size: 11px !important;
    }

    .row {
        padding: 10px 0;
    }

    table, td {
        padding: 5px 0;
    }
}
