@media print {
    #EmpPaySlip:nth-of-type(2n) {
        page-break-after: always !important;
    }

  
      body{
        margin:0px !important;
    }
    @page {
        margin-top: 50px;      
        size: a4 portrait;
    }

    #EmpPaySlip {
       margin-bottom:30px !important;
    }

  

    .table > tbody > tr > td {
        border-top: 1px solid #000 !important;
        border: 1px solid #000 !important;
        color: #000;
        text-align: left !important;
        font-size: 16px;
    }

    .table {
        /*border-top: 1px solid #000 !important;
        border: 1px solid #000 !important;*/
        width: 100%;
        table-layout: fixed;
    }

    #border-none .table {
        border: 0px !important;
        border: 0px !important;
        table-layout: fixed;
        width: 100%;
        text-align: left !important;
        font-size: 16px;
    }


    .border-none .table > tbody > tr > td {
        border-top: 0px !important;
        border: 0px !important;
        color: #000;
        text-align: left !important;
        font-size: 16px;
    }

    .border-none .table {
        border: 0px !important;
        border: 0px !important;
        table-layout: fixed;
        width: 100%;
        text-align: left !important;
        font-size: 16px;
    }
}
