<section class="content">
    <div data-ng-init="loaddata();">
        <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="savepages()" name="myForm" novalidate>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">CMS Configuration</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="col-sm-6 form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4">Interest Percent<span style="color:red">*</span> </label>
                                <div class="col-sm-8">
                                    <input class="form-control active" name="Percent" placeholder="Intrest Percent" ng-model="CMSCON_InterestPercent" type="text" ng-paste="$event.preventDefault()" allow-pattern="[0-9.]" autocomplete="off" maxlength="20" required />
                                    <div class="error-messages" ng-if="interacted(myForm.Percent)" ng-messages="myForm.Percent.$error">
                                        <div ng-message="required">Interest Percent</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-4">Number  Dependent<span style="color:red">*</span> </label>
                                <div class="col-sm-8">
                                    <input class="form-control active" name="Dependent" placeholder="Intrest Dependent" ng-model="CMSCON_MaxNoDependent" type="text" ng-paste="$event.preventDefault()" allow-pattern="[0-9.]" autocomplete="off" maxlength="10" required />
                                    <div class="error-messages" ng-if="interacted(myForm.Dependent)" ng-messages="myForm.Dependent.$error">
                                        <div ng-message="required">Number Dependent</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-4">Number  Proposal <span style="color:red">*</span></label>
                                <div class="col-sm-8">

                                    <input class="form-control active" name="Praposal" placeholder="Number Praposal" ng-model="CMSCON_NoOfProposal" type="text" ng-paste="$event.preventDefault()" allow-pattern="[0-9.]" autocomplete="off" maxlength="10" required />
                                    <div class="error-messages" ng-if="interacted(myForm.Praposal)" ng-messages="myForm.Praposal.$error">
                                        <div ng-message="required">Number Praposal</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-6 form-horizontal">
                            <div class="well">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <input type="checkbox" ng-model="CMSCON_ApplicationApplFlg"
                                               value="1" />
                                        <span class="lbl padding-8">Application Flag</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" ng-model="CMSCON_DiscountApplFlg"
                                               value="1" />
                                        <span class="lbl padding-8">Discount Flag</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" ng-model="CMSCON_BOMFlg"
                                               value="1" />
                                        <span class="lbl padding-8">BOM Flag</span>
                                    </div>
                                </div>
                            </div>
                            <div class="well">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <input type="checkbox" ng-model="CMSCON_CategorywiseFlg"
                                               value="1" />
                                        <span class="lbl padding-8">Category Flag</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" ng-model="CMSCON_CreditFlg"
                                               value="1" />
                                        <span class="lbl padding-8">Credit Flag</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" ng-model="CMSCON_IncentiveApplFlg"
                                               value="1" />
                                        <span class="lbl padding-8">Inscentive Flag</span>
                                    </div>
                                </div>
                            </div>
                            <div class="well">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <input type="checkbox" ng-model="CMSCON_TaxApplFlg"
                                               value="1" />
                                        <span class="lbl padding-8">Tax Flag</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="checkbox" ng-model="CMSCON_PayLateFeeInterestFlg"
                                               value="1" />
                                        <span class="lbl padding-8">Late Fee Interest Flag</span>
                                    </div>

                                </div>
                            </div>
                            <div class="well">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <input type="checkbox" ng-model="CMSCON_AllowNonMemberCreditTransFlg"
                                               value="1" />
                                        <span class="lbl padding-8">
                                            Non Member Flag
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="checkbox" ng-model="CMSCON_CoverChargeAmtFlg"
                                               value="1" />
                                        <span class="lbl padding-8">Cover Charge Flag</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />
                        <br />
                        <div class="">
                            <div class="text-center">
                                <input type="hidden" ng-model="CMSCON_Id" value="{{cmscoN_Id}}" />
                                <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Save
                                </md-button>
                                <md-button class="md-raised md-warn" data-ng-click="clear()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Cancel
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">CMS Configuration</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{presentCountgrid}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="search!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="overflow:auto !important">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    SL.NO
                                </th>
                                <th>
                                    Interest Percentage
                                </th>
                                <th>
                                    Dependent
                                </th>
                                <th>
                                    Number Of Proposal
                                </th>
                                <th>
                                    Application Flag
                                </th>
                                <th>
                                    Discount Flag
                                </th>
                                <th>
                                    BOM Flag
                                </th>
                                <th>
                                    Category Flag
                                </th>
                                <th>
                                    Credit Flag
                                </th>
                                <th>
                                    Incentive Flag
                                </th>
                                <th>
                                    Tax Flag
                                </th>
                                <th>
                                    Pay Late Interest Flag
                                </th>

                                <th>
                                    Allow Non Member Flag
                                </th>
                                <th>
                                    Cover Charge Amount Flag
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="user in getreport">

                                <td style="text-align:center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td>{{user.cmscoN_InterestPercent}}</td>
                                <td>{{user.cmscoN_MaxNoDependent}}</td>
                                <td>{{user.cmscoN_NoOfProposal}}</td>
                                <td>
                                    <span ng-if="user.cmscoN_ApplicationApplFlg ==true">
                                        <i class="fa fa-check  text-green"></i>

                                    </span>
                                    <span ng-if="user.cmscoN_ApplicationApplFlg ==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>
                                </td>
                                <td>

                                    <span ng-if="user.cmscoN_DiscountApplFlg==true">
                                        <i class="fa fa-check  text-green"></i>
                                    </span>
                                    <span ng-if="user.cmscoN_DiscountApplFlg==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>
                                </td>
                                <td>

                                    <span ng-if="user.cmscoN_BOMFlg==true">
                                        <i class="fa fa-check  text-green"></i>
                                    </span>
                                    <span ng-if="user.cmscoN_BOMFlg==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>
                                </td>
                                <td>

                                    <span ng-if="user.cmscoN_CategorywiseFlg==true">
                                        <i class="fa fa-check  text-green"></i>
                                    </span>
                                    <span ng-if="user.cmscoN_CategorywiseFlg==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>
                                </td>
                                <td>

                                    <span ng-if="user.cmscoN_CreditFlg==true">
                                        <i class="fa fa-check  text-green"></i>
                                    </span>
                                    <span ng-if="user.cmscoN_CreditFlg==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>
                                </td>
                                <td>

                                    <span ng-if="user.cmscoN_IncentiveApplFlg==true">
                                        <i class="fa fa-check  text-green"></i>
                                    </span>
                                    <span ng-if="user.cmscoN_IncentiveApplFlg==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>
                                </td>
                                <td>

                                    <span ng-if="user.cmscoN_TaxApplFlg==true">
                                        <i class="fa fa-check  text-green"></i>
                                    </span>
                                    <span ng-if="user.cmscoN_TaxApplFlg==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>
                                </td>
                                <td>
                                    <span ng-if="user.cmscoN_PayLateFeeInterestFlg==true">
                                        <i class="fa fa-check  text-green"></i>
                                    </span>
                                    <span ng-if="user.cmscoN_PayLateFeeInterestFlg==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>

                                </td>

                                <td>

                                    <span ng-if="user.cmscoN_AllowNonMemberCreditTransFlg==true">
                                        <i class="fa fa-check  text-green"></i>
                                    </span>
                                    <span ng-if="user.cmscoN_AllowNonMemberCreditTransFlg==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>
                                </td>
                                <td>

                                    <span ng-if="user.cmscoN_CoverChargeAmtFlg==true">
                                        <i class="fa fa-check  text-green"></i>
                                    </span>
                                    <span ng-if="user.cmscoN_CoverChargeAmtFlg==false">
                                        <i class="fa fa-times  text-red"></i>
                                    </span>
                                </td>
                                <td class="hidden">{{user.cmscoN_Id}}</td>
                                <td class="text-center">
                                    <span ng-if="user.cmscoN_ActiveFlag == true">
                                        <a class="text-aqua" href="" ng-click="edit(user)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a href="" ng-click="Deletedata(user)"
                                           class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                            <i> Deactivate</i>
                                        </a>
                                    </span>
                                    <span ng-if="user.cmscoN_ActiveFlag == false">
                                        <a href="" ng-click="Deletedata(user)"
                                           class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                            <i> Activate </i>
                                        </a>
                                    </span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    

                   


            </div>
        </div>

    


</section>