
@media print {
    
     .table {
        width:80%;   
        margin:auto;  
        border: 0px !important;
        text-align: left !important;
        font-weight: 500;
        font-size: 18px !important;
        margin-bottom: 15px;
           line-height: 2;

    }  
   .border-bottom {
        border-bottom: 1px solid #000 !important;
        text-align: left !important;
         font-size: 15px !important;
           font-weight:bold !important;
    }
   label{
        font-size: 18px !important;
   }
   .width-600{
       width:550px !important;
       margin:auto !important;
   }
}
