
@media print {
    /*@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}*/
    .text-capitalize{
        text-transform:capitalize !important;
    }
    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .table {
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        font-weight: 500;
        text-align: left !important;
        margin-bottom: 10px;
        font-size: 20px !important;
        line-height:2.4 !important;
        /* background: #95c7ef; */
    }

    table {
        border: 0px !important;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 15px;
        font-size: 20px !important;
    }
}
