
 .BBKV_SC .table {
      table-layout: fixed;
        width: 100%;
        border: 0px;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 10px;
        /* background: #95c7ef; */
    }

.BBKV_SC table {
    table-layout: fixed;
    width: 100%;  
    margin-bottom: 15px; 
}
