
<style>

    .k-icon, .k-tool-icon {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 0em !important;
        height: 0em !important;
        text-align: center;
        vertical-align: middle;
        background-image: none;
        font: 16px/1 WebComponentsIcons;
        speak: none;
        font-variant: normal;
        text-transform: none;
        text-indent: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: inherit;
    }

    .k-filter-row th, .k-grid-header th.k-header {
        overflow: hidden;
        border-style: solid;
        border-width: 0 0 1px 1px;
        /*padding: 18.5em 12.6em 0.4em 0.6em;*/
        font-weight: 400;
        white-space: normal !important;
        text-overflow: ellipsis;
        text-align: left;
    }
</style>
<!--<script>

        $(document).ready(function () {
            $("#printButton").kendoButton({
                click: function () {
                    window.print();
                }
            });
        });
</script>-->

<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-init="loaddata()" name="myForm" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Daily Fee Collection Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus" ng-click="ShowHideup()"></i></button>
                </div>
            </div>
            <div class="box-body">



                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" data-ng-model="ASMAY" name="acd_year" required>
                                    <option value="">Select</option>
                                    <option value="0">All</option>
                                    <option ng-repeat="options in yearlst" value="{{options.asmaY_Id}}" ng-selected="{{options.asmaY_Id == ASMAY}}">{{options.asmaY_Year}}</option>
                                </select>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.acd_year)" ng-messages="myForm.acd_year.$error">
                                <div ng-message="required" style="margin-left:195px;">Please Select the Academic Year</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="padding-rignt-6">
                            <div class="well" ng-init="Fmc_allorcorddorop='All'">
                                <div class="text-left">
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="Fmc_allorcorddorop" value="All" data-ng-click="onclickloaddatadate()">
                                        <span class="lbl padding-8">All</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="Fmc_allorcorddorop" value="C" data-ng-click="onclickloaddatadate()">
                                        <span class="lbl padding-8">Cash</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="Fmc_allorcorddorop" value="B" data-ng-click="onclickloaddatadate()">
                                        <span class="lbl padding-8">Cheque/DD</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="Fmc_allorcorddorop" value="O" data-ng-click="onclickloaddatadate()">
                                        <span class="lbl padding-8">Online Paid</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="Fmc_allorcorddorop" value="E" data-ng-click="onclickloaddatadate()">
                                        <span class="lbl padding-8">ECS</span>
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" ng-model="Fmc_allorcorddorop" value="S" data-ng- click="onclickloaddatadate()">
                                        <span class="lbl padding-8">Card</span>
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" ng-model="Fmc_allorcorddorop" value="R" data-ng- click="onclickloaddatadate()">
                                        <span class="lbl padding-8">RTGS</span>
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" ng-model="Fmc_allorcorddorop" value="BT" data-ng- click="onclickloaddate()">
                                        <span class="lbl padding-8">Trans&Bank</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="well">
                            <div class="form-group">
                                <label class="control-label col-sm-4">From Date:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>

                                <div class="col-sm-4 input-group text-right" style="">
                                    <md-datepicker ng-model="FMCB_fromDATE" onkeydown="return false" name="From_Date" id="date1" md-placeholder="Enter  date" ng-change="fromdatechange()" required></md-datepicker>
                                </div>
                                <div class="error-messages" ng-if="interacted(myForm.From_Date)" ng-messages="myForm.From_Date.$error">
                                    <div ng-message="required" style="margin-left:210px; ">Please Select Date</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">To Date:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>

                                <div class="col-sm-4 input-group text-right" style="">
                                    <md-datepicker ng-model="FMCB_toDATE" onkeydown="return false" name="To_Date" id="date2" md-placeholder="Enter  date" ng-change="todatechange()" required></md-datepicker>
                                </div>
                                <div class="error-messages" ng-if="interacted(myForm.To_Date)" ng-messages="myForm.To_Date.$error">
                                    <div ng-message="required" style="margin-left:210px; ">Please Select Date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center" ng-show="IsHiddenup">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="ShowReport()">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        Report
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" data-ng-click="Clearid()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                    <md-button type="button" class="md-raised md-primary" ng-click="exportToExcel()" target="_blank" ng-if="showbutton == true">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        Export to Excel
                    </md-button>

                    <md-button type="button" class="md-raised md-primary" ng-if="showbutton == true" id="print-btn" ng-click="printData();">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        Print
                    </md-button>
                </div>
            </div>
        </div>

        <div class="box-body" ng-show="termflg == true">
            
        </div>
        <div class="box-body" ng-show="stdtermflg == true">
           
        </div>
    </form>

    <div class="box box-primary" ng-show="Grid_view">
        <div class="box-header with-border">
            <h3 class="box-title">Yearly Fee Collection Report</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body" ng-show="std==true">
            <div id="gridall"></div>
        </div>
        <div class="box-body">

            <table class="table table-hover table-responsive table-bordered text-center" id="clscounttbl" ng-show="clscntinsconN">
                <thead>
                    <tr>
                        <th class="hdTH">
                            <label>
                                <input type="checkbox" value="" ng-model="daily" ng-click="toggleAllclscnt()">
                                <span class="lbl padding-8"></span>
                            </label>
                        </th>
                        <th>Sl No </th>
                        <th>Student Name</th>
                        <th>Mobile No</th>
                        <th>Class/Section Name</th>
                        <th>Receipt Date</th>
                        <th>Receipt No</th>
                        <th>Payment Mode</th>
                        <th>DD/Cheque No</th>
                        <th>Paid Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in dailycollreport | orderBy:sortKey10:sortKey10 | filter:search" ng-class-odd="'odd'">
                        <td class="text-center  hdTD">
                            <label>
                                <input type="checkbox" ng-model="user.dailycount" value="{{user.Id}}" ng-change="optionToggledclscnt(user,$index)">
                                <span class="lbl padding-8"></span>
                            </label>
                        </td>
                        <td>{{$index+1}}</td>
                        <td>{{user.StudentName }}</td>
                        <td>{{user.AMST_MobileNo}}</td>
                        <td>{{user.ASMCL_ClassName}} {{user.ASMC_SectionName }}</td>
                        <td>{{user.ReceiptDate | date:'dd/MM/yyyy' }}</td>
                        <td>{{user.FYP_Receipt_No}}</td>
                        <td>{{user.Payment_Mode}}</td>
                        <td>{{user.FYP_DD_Cheque_no}}</td>
                        <td>{{user.TotalPaidAmount}}</td>
                        <td>{{user.TotalToBePaid}}</td>
                    </tr>
                    <tr>
                        <td colspan="9" style="text-align:right"><b>CASH</b></td>
                        <td><b>{{d_total_CashAmount}}</b></td>
                        <td><b>{{d_total_CashToBePaidAmount}}</b></td>
                    </tr>
                    <tr>
                        <td colspan="9" style="text-align:right"><b>BANK</b></td>
                        <td><b>{{d_total_BankAmount}}</b></td>
                        <td><b>{{d_total_BankToBePaidAmount}}</b></td>
                    </tr>
                    <tr>
                        <td colspan="9" style="text-align:right"><b>Total</b></td>
                        <td><b>{{totalCashAndBank}}</b></td>
                        <td><b>{{balancetotalCashAndBank}}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align:center"><b>{{FMCB_fromDATE | date:'dd-MM-yyyy'}} TO {{FMCB_toDATE | date:'dd-MM-yyyy'}}(Collection Report)</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th style="text-align:center"><b>Sl.No</b></th>
                        <th style="text-align:center"><b>Name</b></th>
                        <th style="text-align:center"><b>Branch</b></th>
                        <th style="text-align:center"><b>Amount</b></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:center">1</td>
                        <td style="text-align:center">Cash</td>
                        <td style="text-align:center">Chitradurga</td>
                        <td style="text-align:center">{{d_total_CashAmount}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:center">2</td>
                        <td style="text-align:center">Bank</td>
                        <td style="text-align:center">Chitradurga</td>
                        <td style="text-align:center">{{d_total_BankAmount}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align:right"><b>Total</b></td>
                        <td><b>{{totalCashAndBank}}</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>             
            </table>

            <!--Daily Collection Report Print-->
            <div id="printdailycollectionreport" style="overflow:scroll" ng-show="tadprint">
                <!--<div class="baldwin text-center">
                    <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                </div>-->
                <br />
                <center>
                    <div>
                        <table>
                            <tbody>
                                <tr style="text-align:center;margin-left:5px">
                                    <td style="font-size:20px;" ><b>{{FMCB_fromDATE | date:'dd/MM/yyyy'}} TO {{FMCB_toDATE | date:'dd/MM/yyyy'}} Daily Collection Report</b> </td>  
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </center>
                <br />
                <table class="table table-hover table-responsive table-bordered text-center" id="tablecldaily">
                    <thead>
                        <tr>
                            <th><b>Sl No </b></th>
                            <th><b>Student Name</b></th>
                            <th><b>Mobile No</b></th>
                            <th><b>Class/Section Name</b></th>
                            <th><b>Receipt Date</b></th>
                            <th><b>Receipt No</b></th>
                            <th><b>Payment Mode</b></th>
                            <th><b>DD/Cheque No</b></th>
                            <th><b>Paid Amount</b></th>
                            <th><b>Balance</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in printdatatabledaily">
                            <td><b>{{$index+1}}</b></td>
                            <td><b>{{user.StudentName }}</b></td>
                            <td>{{user.AMST_MobileNo}}</td>
                            <td>{{user.ASMCL_ClassName}} {{user.ASMC_SectionName }}</td>
                            <td>{{user.ReceiptDate | date:'dd/MM/yyyy' }}</td>
                            <td>{{user.FYP_Receipt_No}}</td>
                            <td>{{user.Payment_Mode}}</td>
                            <td>{{user.FYP_DD_Cheque_no}}</td>
                            <td><b>{{user.TotalPaidAmount}}</b></td>
                            <td><b>{{user.TotalToBePaid}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align:right"><b>CASH </b></td>
                            <td><b>{{d_total_CashAmount_p}}</b></td>
                            <td><b>{{d_total_CashToBePaidAmount_p}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align:right"><b>BANK</b></td>
                            <td><b>{{d_total_BankAmount_p}}</b></td>
                            <td><b>{{d_total_BankToBePaidAmount_p}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align:right"><b>Total</b></td>
                            <td><b>{{totalCashAndBank_p}}</b></td>
                            <td><b>{{balancetotalCashAndBank_p}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align:center"><b>{{FMCB_fromDATE | date:'dd-MM-yyyy'}} TO {{FMCB_toDATE | date:'dd-MM-yyyy'}}(Collection Report)</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th></th>
                            <th style="text-align:center"><b>Sl.No</b></th>
                            <th style="text-align:center"><b>Name</b></th>
                            <th style="text-align:center"><b>Branch</b></th>
                            <th style="text-align:center"><b>Amount</b></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align:center">1</td>
                            <td style="text-align:center">Cash</td>
                            <td style="text-align:center">Chitradurga</td>
                            <td style="text-align:center">{{d_total_CashAmount_p}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align:center">2</td>
                            <td style="text-align:center">Bank</td>
                            <td style="text-align:center">Chitradurga</td>
                            <td style="text-align:center">{{d_total_BankAmount_p}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:right"><b>Total</b></td>
                            <td><b>{{totalCashAndBank_p}}</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination total-items="totalItems" ng-model="currentPage"
                        max-size="5" boundary-links="true"
                        items-per-page="numPerPage" class="pagination-sm">
            </pagination>
        </div>
    </div>
</section>


