<section class="content" data-ng-init="loaddata()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Fee Accounts Position Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center well">
                            <label>Select Radio Button:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="obj.rdo" name="rdo" value="individual" ng-click="changeradio()" required />
                                <span class="lbl padding-8">Individual Class</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="obj.rdo" name="rdo" value="headwise" ng-click="changeradio()" required />
                                <span class="lbl padding-8">Headwise</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="obj.rdo" name="rdo" value="All" ng-click="changeradio()" required />
                                <span class="lbl padding-8">All Class</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="obj.rdo" name="rdo" value="route" ng-click="changeradio()" required />
                                <span class="lbl padding-8">Route-Headwise</span>
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" ng-model="obj.financialyearopt" name="financialyearopt"  />
                                <span class="lbl padding-8">Financial Year Wise</span>
                            </label>
                            <div class="error-messages" ng-if="interacted(myForm.rdo)" ng-messages="myForm.rdo.$error">
                                <div ng-message="required">Please Select Radio Button </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-6">Academic Year:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="seluse" name="year" data-ng-model="obj.ASMAY_Id" required ng-change="getSelectedYear()" ng-required="obj.financialyearopt==false">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in academicyear" value="{{option.asmaY_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{option.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.year)" ng-messages="myForm.year.$error">
                                    <div ng-message="required">Please Select Academic Year</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-sm-4" ng-if="obj.financialyearopt==true">
                        <div class="form-group">
                            <label class="control-label col-sm-6">Financial Year:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="seluse" name="finyear" data-ng-model="obj.IMFY_Id" ng-required="obj.financialyearopt==true">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in financialyear" value="{{option.imfY_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{option.imfY_FinancialYear}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.finyear)" ng-messages="myForm.finyear.$error">
                                    <div ng-message="required">Please Select Financial Year</div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-sm-4" ng-show="obj.rdo=='individual'">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="seluse" data-ng-model="obj.ASMCL_Id" name="cls" ng-required="obj.rdo=='individual'">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="cls in classlist" value="{{cls.asmcL_Id}}" ng-selected="{{cls.Selected == true}}">
                                        {{cls.asmcL_ClassName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.cls)" ng-messages="myForm.cls.$error">
                                    <div ng-message="required">Please Select Class</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-show="obj.rdo=='individual'">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="seluse" data-ng-model="obj.ASMS_Id" name="sec" ng-required="obj.rdo=='individual'">
                                    <option value="">--Select-- </option>
                                    <option ng-repeat="sec in sectionlist" value="{{sec.asmS_Id}}" ng-selected="{{sec.Selected == true}}">
                                        {{sec.asmC_SectionName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.sec)" ng-messages="myForm.sec.$error">
                                    <div ng-message="required">Please Select Section</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-6">Custom Group :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="multiselect col-sm-12">
                                <label ng-repeat="cust in customgrpList">
                                    <input value="{{cust.fmgG_Id}}" data-ng-model="cust.Selected1" type="checkbox" ng-required="isOptionsRequired1()" name="customgrp" ng-change="groupByCG()" ng-init="groupByCG()">
                                    <span class="lbl padding-8">{{cust.fmg_groupname}}</span>
                                </label>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.customgrp)" ng-messages="myForm.customgrp.$error">
                                <div ng-message="required">Please Select Custom Group</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Group :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="multiselect col-sm-12">
                                <label ng-repeat="grp in groupList">
                                    <input value="{{grp.fmG_Id}}" data-ng-model="grp.Selected2" type="checkbox" ng-required="isOptionsRequired2()" name="group">
                                    <span class="lbl padding-8">{{grp.fmG_GroupName}}</span>
                                </label>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.group)" ng-messages="myForm.group.$error">
                                <div ng-message="required">Please Select Group</div>
                            </div>
                        </div>
                    </div>
                    <!--ng-if="FMC_GroupOrTermFlg=='T'"-->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Terms :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="multiselect col-sm-12">
                                <label ng-repeat="trm in termList">
                                    <input value="{{trm.FMT_Id}}" data-ng-model="trm.Selected3" type="checkbox" ng-required="isOptionsRequired3()" name="term">
                                    <span class="lbl padding-8">{{trm.fmT_Name}}</span>
                                </label>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.term)" ng-messages="myForm.term.$error">
                                <div ng-message="required">Please Select Term</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-sm-4">
                    <div class="text-center well">
                        <label class="radio-inline">
                            <input type="radio" ng-model="obj.date" name="date" value="date"  required/>
                            <span class="lbl padding-8">As On Date</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="obj.date" name="date" value="btnDate"  required/>
                            <span class="lbl padding-8">Between Date</span>
                        </label>
                        <div class="error-messages" ng-if="interacted(myForm.date)" ng-messages="myForm.date.$error">
                            <div ng-message="required">Please Select Radio Button</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" ng-show="obj.date=='date'">
                    <div class="form-group">
                        <label class="control-label col-sm-4"> Date :</label>
                        <div class="col-sm-8">
                            <md-datepicker name="dt" ng-model="obj.dt" md-placeholder="Enter date" ng-required="obj.date=='date'" onkeydown="return false"></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.dt)" ng-messages="myForm.dt.$error">
                                <div ng-message="required">Select Date</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" ng-show="obj.date=='btnDate'">
                    <div class="form-group">
                        <label class="control-label col-sm-4">From Date :</label>
                        <div class="col-sm-8">
                            <md-datepicker name="frmdate" ng-model="obj.frmdate" md-placeholder="Enter date" ng-required="obj.date=='btnDate'" onkeydown="return false"></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.frmdate)" ng-messages="myForm.frmdate.$error">
                                <div ng-message="required">Select From Date</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" ng-show="obj.date=='btnDate'">
                    <div class="form-group">
                        <label class="control-label col-sm-4">To Date :</label>
                        <div class="col-sm-8">
                            <md-datepicker name="todate" ng-change="validatetodate(todate)" ng-model="obj.todate" md-placeholder="Enter date" ng-required="obj.date=='btnDate'" onkeydown="return false"></md-datepicker>
                            <div class="error-messages" ng-if="interacted(myForm.todate)" ng-messages="myForm.todate.$error">
                                <div ng-message="required">Select To Date</div>
                            </div>
                        </div>
                    </div>
                </div>-->


                    <div class="col-sm-6">
                        <div class="text-center well">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="obj.special" name="special" value="special" />
                                <span class="lbl padding-8">Special Fees</span>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="obj.status" name="left" value="left" />
                                <span class="lbl padding-8">Left</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group" id="frmdt">
                            <label class="checkbox-inline" ng-show="obj.rdo=='individual'">
                                <input type="checkbox" ng-model="asondate" name="left" value="left" />
                                <span class="lbl padding-8" title="Based on Academic year selection financial year start date is considered and End date is considered based in section date which is given">Date</span>
                            </label>
                            <md-datepicker ng-model="asonduedate" name="asondt" id="dt11" ng-show="asondate==true"></md-datepicker>
                        </div>
                    </div>

                </div>
                <hr />
                <div class="">
                    <div class="text-center">
                        <md-button type="submit" class="md-raised md-primary" ng-click="getReport()" ng-disabled="form.$invalid" id="save-btn">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            Report
                        </md-button>
                        <md-button type="submit" class="md-raised md-primary" ng-click="ExportToExcel('#table')" ng-show="feeaccountsPosition" id="save-btn">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            Export to Excel
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" data-ng-click="Cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancel
                        </md-button>
                        <md-button type="button" class="md-raised md-primary" data-toggle="modal" data-target="#myModal3" data-backdrop="static">Display</md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary" ng-show="feeaccountsPosition">
            <div class="box-header with-border">
                <h3 class="box-title">Fee Accounts Position Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="overflow:scroll">
                <table class="table table-hover table-responsive table-bordered text-center" id="Table">
                    <thead>
                        <tr>
                            <th class="hdTH">
                                <label>
                                    <input type="checkbox" value="" ng-model="all2" ng-click="toggleAll()">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </th>
                            <th>
                                SL.NO.
                            </th>

                            <th ng-if="obj.rdo=='individual'">
                                <a href="" ng-click="sort('studentName')">Student Name</a>
                            </th>
                            <th ng-if="obj.rdo=='headwise'">
                                <a href="" ng-click="sort('feeName')">Fee Head</a>
                            </th>
                            <th ng-if="obj.rdo=='All'">
                                <a href="" ng-click="sort('className')">Class Name</a>
                            </th>
                            <th ng-if="obj.rdo=='route'">
                                <a href="" ng-click="sort('route')">Route Name</a>
                            </th>
                            <th ng-if="obj.rdo=='individual'">
                                <a href="" ng-click="sort('admNo')">Adm.No</a>
                            </th>
                            <th ng-if="Charges != true">
                                <a href="" ng-click="sort('charges')">
                                    Charges as per
                                    <span ng-if="obj.financialyearopt==true">
                                        Financial year
                                    </span>
                                    <span ng-if="obj.financialyearopt==false">
                                        Academic year
                                    </span>
                                  
                                </a>
                            </th>
                            <th ng-if="Concession != true">
                                <a href="" ng-click="sort('concession')">
                                    Concession as per
                                    <span ng-if="obj.financialyearopt==true">
                                        Financial year
                                    </span>
                                    <span ng-if="obj.financialyearopt==false">
                                        Academic year
                                    </span>
                                </a>
                            </th>
                            <th ng-if="Rebate != true">
                                <a href="" ng-click="sort('rebate')">
                                    Rebate/Scholarship as per <span ng-if="obj.financialyearopt==true">
                                        Financial year
                                    </span>
                                    <span ng-if="obj.financialyearopt==false">
                                        Academic year
                                    </span>
                                </a>
                            </th>
                            <th ng-if="Waive != true">
                                <a href="" ng-click="sort('waiveOff')">
                                    Waive Off as per<span ng-if="obj.financialyearopt==true">
                                        Financial year
                                    </span>
                                    <span ng-if="obj.financialyearopt==false">
                                        Academic year
                                    </span>
                                </a>
                            </th>
                            <th ng-if="Fine != true">
                                <a href="" ng-click="sort('fine')">Fine</a>
                            </th>
                            <th ng-if="Collection != true">
                                <a href="" ng-click="sort('collection')">
                                    Collection as per <span ng-if="obj.financialyearopt==true">
                                        Financial year
                                    </span>
                                    <span ng-if="obj.financialyearopt==false">
                                        Academic year
                                    </span>
                                </a>
                            </th>
                            <th ng-if="Balance != true && asondate==false">
                                <a href="" ng-click="sort('debitBalance')">Balance</a>
                            </th>
                            <th ng-if="Due != true  && asondate==false">
                                <a href="" ng-click="sort('lastYearDue')">Last Year Due</a>
                            </th>

                            <!--as per academic year-->

                            <th ng-if="asondate==true">
                                <a href="" ng-click="sort('PFY_EndDate_DebitBalance')">Balance/Due as per Financial End Date</a>
                            </th>
                            <th ng-if="asondate==true">
                                <a href="" ng-click="sort('CFY_PaidAmount')">Balance/Due PaidAmount as per selected Academic year</a>
                            </th>
                            <th ng-if="asondate==true">
                                <a href="" ng-click="sort('CFY_BalanceAmount')">Balance/Due Amount</a>
                            </th>
                            <th ng-if="asondate==true">
                                <a href="" ng-click="sort('totalpaid')">Total Paid Amount</a>
                            </th>
                            <th ng-if="asondate==true">
                                <a href="" ng-click="sort('ExcessAmount')">Total Excess</a>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in feeaccountsPositionReport" ng-class-odd="'odd'">

                            <td class="text-center  hdTD">
                                <label>
                                    <input type="checkbox" ng-model="user.selected" ng-click="optionToggled(user,$index)">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </td>
                            <td>{{$index+1}}</td>
                            <td ng-if="obj.rdo=='individual'">{{user.studentName}}</td>
                            <td ng-if="obj.rdo=='individual'">{{user.admNo}}</td>
                            <td ng-if="obj.rdo=='headwise'">{{user.feeName}}</td>
                            <td ng-if="obj.rdo=='All'">{{user.className}}</td>
                            <td ng-if="obj.rdo=='route'">{{user.routeName}}</td>

                            <td ng-if="Charges != true">{{user.charges}}</td>
                            <td ng-if="Concession != true">{{user.concession}}</td>
                            <td ng-if="Rebate != true">{{user.rebate}}</td>
                            <td ng-if="Waive != true">{{user.waiveOff}}</td>
                            <td ng-if="Fine != true">{{user.fine}}</td>
                            <td ng-if="Collection != true">{{user.collection}}</td>
                            <td ng-if="Balance != true && asondate==false">{{user.debitBalance}}</td>
                            <td ng-if="Due != true && asondate==false">{{user.lastYearDue}}</td>

                            <td ng-if="asondate==true">{{user.pfY_EndDate_DebitBalance}}</td>
                            <td ng-if="asondate==true">{{user.cfY_PaidAmount}}</td>
                            <td ng-if="asondate==true">{{user.cfY_BalanceAmount}}</td>
                            <td ng-if="asondate==true">{{user.collection + user.cfY_PaidAmount}}</td>
                            <td ng-if="asondate==true">{{user.excessAmount}}</td>

                        </tr>
                        <tr>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                            <th ng-show="obj.rdo=='individual'"></th>
                            <th ng-if="Charges != true">{{totalCharges}}</th>
                            <th ng-if="Concession != true">{{totalConcession}}</th>
                            <th ng-if="Rebate != true">{{totalRebate}}</th>
                            <th ng-if="Waive != true">{{totalWaiveOff}}</th>
                            <th ng-if="Fine != true">{{totalFine}}</th>
                            <th ng-if="Collection != true">{{totalCollection}}</th>
                            <th ng-if="Balance != true && asondate==false">{{totalDebitBal}}</th>
                            <th ng-if="Due != true && asondate==false">{{totalLastYrDue}}</th>

                            <th ng-if="asondate==true">{{totalPFY_EndDate_DebitBalance}}</th>
                            <th ng-if="asondate==true">{{totalCFY_PaidAmount}}</th>
                            <th ng-if="asondate==true">{{totalCFY_BalanceAmount}}</th>
                            <th ng-if="asondate==true">{{totaloverallpaidAmount}}</th>
                            <th ng-if="asondate==true">{{totalExcessAmount}}</th>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="printSectionId" ng-show="exportdiv">

                <table class="table-bordered" id="table">
                    <thead>
                        <tr>
                            <th class="text-center">SL.NO.</th>
                            <th ng-if="obj.rdo=='individual'" class="text-center">Student Name</th>
                            <th ng-if="obj.rdo=='individual'" class="text-center">Adm.No</th>
                            <th ng-if="obj.rdo=='headwise'" class="text-center">Fee Head</th>
                            <th ng-if="obj.rdo=='All'" class="text-center">Class Name</th>
                            <th ng-if="obj.rdo=='route'" class="text-center">Route Name</th>
                            <th ng-if="Charges != true" class="text-center">Charges </th>
                            <th ng-if="Concession != true" class="text-center">Concession </th>
                            <th ng-if="Rebate != true" class="text-center">Rebate/Scholarship</th>
                            <th ng-if="Waive != true" class="text-center">Waive Off</th>
                            <th ng-if="Fine != true" class="text-center">Fine</th>
                            <th ng-if="Collection != true" class="text-center">Collection</th>

                            <th ng-if="Balance != true && asondate==false" class="text-center">Balance</th>
                            <th ng-if="Due != true && asondate==false" class="text-center">Last Year Due</th>

                            <th ng-if="asondate==true" class="text-center">Balance/Due as per Financial End Date </th>
                            <th ng-if="asondate==true" class="text-center">Balance/Due PaidAmount as per selected Academic year</th>
                            <th ng-if="asondate==true" class="text-center">Balance/Due Amount</th>
                            <th ng-if="asondate==true" class="text-center">Total Paid Amount</th>
                            <th ng-if="asondate==true" class="text-center">Total Excess</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in printdatatable">
                            <td class="text-center">{{$index+1}}</td>
                            <td ng-if="obj.rdo=='individual'" class="text-left">{{user.studentName}}</td>
                            <td ng-if="obj.rdo=='individual'" class="text-center">{{ user.admNo}}</td>
                            <td ng-if="obj.rdo=='headwise'" class="text-left">{{user.feeName}}</td>
                            <td ng-if="obj.rdo=='All'" class="text-center">{{ user.className}}</td>
                            <td ng-if="obj.rdo=='route'" class="text-center">{{ user.routeName}}</td>
                            <td ng-if="Charges != true" class="text-center">{{ user.charges}}</td>
                            <td ng-if="Concession != true" class="text-center">{{ user.concession}}</td>
                            <td ng-if="Rebate != true" class="text-center">{{ user.rebate}}</td>
                            <td ng-if="Waive != true" class="text-center">{{ user.waiveOff}}</td>
                            <td ng-if="Fine != true" class="text-center">{{ user.fine}}</td>
                            <td ng-if="Collection != true" class="text-center">{{ user.collection}}</td>

                            <td ng-if="Balance != true && asondate==false" class="text-center">{{ user.debitBalance}}</td>
                            <td ng-if="Due != true && asondate==false" class="text-center">{{ user.lastYearDue}}</td>

                            <td ng-if="asondate==true" class="text-center">{{user.pfY_EndDate_DebitBalance}}</td>
                            <td ng-if="asondate==true" class="text-center">{{user.cfY_PaidAmount}}</td>
                            <td ng-if="asondate==true" class="text-center">{{user.cfY_BalanceAmount}}</td>
                            <td ng-if="asondate==true" class="text-center">{{user.collection + user.cfY_PaidAmount}}</td>
                            <td ng-if="asondate==true" class="text-center">{{user.excessAmount}}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th></th>
                            <th ng-if="obj.rdo=='individual'"></th>
                            <th ng-if="Charges != true">{{totalCharges}}</th>
                            <th ng-if="Concession != true">{{totalConcession}}</th>
                            <th ng-if="Rebate != true">{{totalRebate}}</th>
                            <th ng-if="Waive != true">{{totalWaiveOff}}</th>
                            <th ng-if="Fine != true">{{totalFine}}</th>
                            <th ng-if="Collection != true">{{totalCollection}}</th>

                            <th ng-if="Balance != true && asondate==false">{{totalDebitBal}}</th>
                            <th ng-if="Due != true && asondate==false">{{totalLastYrDue}}</th>

                            <th ng-if="asondate==true">{{totalPFY_EndDate_DebitBalance}}</th>
                            <th ng-if="asondate==true">{{totalCFY_PaidAmount}}</th>
                            <th ng-if="asondate==true">{{totalCFY_BalanceAmount}}</th>
                            <th ng-if="asondate==true">{{totaloverallpaidAmount}}</th>
                            <th ng-if="asondate==true">{{totalExcessAmount}}</th>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</section>
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close text-white" data-dismiss="modal">×</button>
                <h4 class="modal-title text-white">Details</h4>
            </div>
            <div class="modal-body">


                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="Charges">
                        <span class="lbl padding-8">Charges</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="Rebate">
                        <span class="lbl padding-8">Rebate</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="Concession">
                        <span class="lbl padding-8">Concession</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="Waive">
                        <span class="lbl padding-8">Waive Off</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="Fine">
                        <span class="lbl padding-8">Fine</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="Collection">
                        <span class="lbl padding-8">Collection</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="Balance">
                        <span class="lbl padding-8">Balance</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="Due">
                        <span class="lbl padding-8">Due</span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>