<div data-ng-init="loaddata()">
    <section class="content">
        <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-submit="savedata(studentsdata,feeheadgrid)">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Fee Concession</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 ">

                            <div class="">
                                <div class="">
                                    <div class="form-group col-sm-6" id="classacademicdrp">
                                        <label class="control-label col-sm-4">Academic Year:<span style="color:red;">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="sel1" ng-model="ASMAY_Id" ng-change="onselectacademic(yearlst)">
                                                <option value="" label="Select Academic year"> </option>
                                                <option ng-repeat="option in academiyrcnt" value="{{option.asmaY_Id}}" ng-selected="{{option.asmaY_Id == ASMAY_Id}}">
                                                    {{option.asmaY_Year}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group col-sm-6" id="classdrp">
                                        <label class="control-label col-sm-2">Category:<span style="color:red;">*</span></label>
                                        <div class=" col-sm-8">

                                            <select class="form-control" ng-model="fmcC_Id" data-ng-change="onselectedfeegroup()">
                                                <option value="" label="Select Fee Group"> </option>
                                                <option ng-repeat="class in classlist" value="{{class.fmcC_Id}}" ng-selected="{{class.fmcC_Id == fmcC_Id}}">
                                                    {{class.fmcC_ClassCategoryName}}
                                                </option>
                                            </select>
                                          
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6" id="groupdrp">
                                        <label class="control-label col-sm-4">Fee Group:<span style="color:red;">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="FMG_Id" data-ng-change="onselectedfeegroup()">
                                                <option value="" label="Select Fee Group"> </option>
                                                <option ng-repeat="fmg in feegroup" value="{{fmg.fmG_Id}}" ng-selected="{{fmg.fmG_Id == FMG_Id}}">
                                                    {{fmg.fmG_GroupName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6" id="Termdrp">
                                        <label class="control-label col-sm-2">Fee Head:<span style="color:red;">*</span></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="sel1" ng-model="FMH_Id" data-ng-change="onselectedfeehead()">
                                                <option value="" label="Select Fee Head"> </option>
                                                <option ng-repeat="fmh_id in feeterm" value="{{fmh_id.fmH_Id}}" ng-selected="{{fmh_id.fmH_Id == FMH_Id}}">
                                                    {{fmh_id.fmH_FeeName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <div class="col-sm-4"></div>
                                        <label class="radio-inline">
                                            <input type="checkbox" name="select" value="check" ng-model="checkboxval" data-ng-click="onclickterm()">
                                            <span class="lbl padding-8">Term</span>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="checkbox" name="select" value="check" ng-model="checkboxval1" data-ng-click="onclickinstallment()">
                                            <span class="lbl padding-8">Installment</span>
                                        </label>

                                    </div>
                                    <div class="form-group col-sm-6" ng-if="checkboxval==true">
                                        <label class="control-label col-sm-2" id="">Term Name<span style="color:red;">*</span> </label>


                                        <div class=" col-sm-8" style="">
                                            <select class="form-control" id="sel1" ng-model="fmT_ID" data-ng-change="studentsdata(fmT_ID)">
                                                <option value="" label="Select Term"> </option>
                                                <option ng-repeat="option in termcount" value="{{option.fmT_ID}}" ng-selected="{{option.fmT_ID == fmT_ID}}">
                                                    {{option.fmT_Name}}
                                                </option>
                                            </select>


                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6" ng-if="checkboxval1==true">
                                        <label class="control-label col-sm-2" id=""> Installment Name<span style="color:red;">*</span> </label>
                                        <div class="col-sm-8" style="">
                                            <select class="form-control" id="sel1" ng-model="ftI_Id" data-ng-change="studentsdatatwo(ftI_Id)">
                                                <option value="" label="Select Installment"> </option>
                                                <option ng-repeat="optiontwo in installmentcount" value="{{optiontwo.ftI_Id}}" ng-selected="{{optiontwo.ftI_Id == ftI_Id}}">
                                                    {{optiontwo.ftI_Name}}
                                                </option>
                                            </select>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary" ng-show="student.length > 0">
                    <div class="box-header with-border">
                        <h3 class="box-title">Student List</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="clearfix">
                            <div class="col-sm-4 pull-right">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <input class="form-control" ng-model="searchthird" type="text" placeholder="search here...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" id="style-4">
                            <table class="table table-hover table-responsive table-bordered text-center" style="">
                                <thead>
                                    <tr>
                                        <th>
                                            <a href="" ng-click="sort2('sno')">SLNO</a>
                                        </th>
                                        <th>
                                            Select
                                            <input type="checkbox" ng-model="selectedAllstu" ng-click="toggleAllstu(selectedAllstu)" />
                                            <span class="lbl padding-8"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="sort2('amsT_RegistrationNo')">Registration No</a>
                                        </th>
                                        <th><a href="" ng-click="sort2('amsT_AdmNo')">Admission No</a> </th>
                                        <th><a href="" ng-click="sort2('amsT_FirstName')">Name</a> </th>
                                        <th><a href="" ng-click="sort2('amaY_RollNo')">Roll No</a> </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in student">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <label>
                                                <input type="checkbox" name="option[]" value="1" data-ng-model="user.studchecked">
                                                <span class="lbl padding-8"></span>
                                            </label>
                                        </td>
                                        <td>{{ user.amsT_RegistrationNo}}</td>
                                        <td>{{ user.amsT_AdmNo}}</td>
                                        <td>{{ user.amsT_FirstName}} <span ng-if="user.amsT_MiddleName !== null" class="lbl padding-8">  {{ user.amsT_MiddleName}} </span> {{ user.amsT_LastName}} </td>
                                        <td>{{ user.amaY_RollNo}}</td>
                                        <td hidden="hidden">
                                            {{user.fsS_Id}}
                                        </td>
                                        <td hidden="hidden">
                                            {{user.ftI_Id}}
                                        </td>
                                        <td hidden="hidden">
                                            {{ user.amsT_Id}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <label class="control-label col-sm-4">Net Amount:<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" ng-disabled="true" ng-model="amount" class="form-control active" />
                                </div>
                                <div ng-hide="true">
                                    <label ng-model="FMC_Id"></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label col-sm-4">Concession Amount:<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" ng-disabled="" ng-model="concessionAmount" class="form-control active " />
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-offset-5">
                                <md-button type="submit" class="md-raised md-primary" ng-click="Save(ftI_Id)">
                                    <i class="fa fa-search" aria-hidden="true"></i> Save
                                </md-button>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="box box-primary" ng-show="gridview1">
                    <div class="box-header with-border">
                        <h3 class="box-title">Student List</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="clearfix">
                            <div class="col-sm-4 pull-right">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <input class="form-control" ng-model="searchthird" type="text" placeholder="search here...">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix" id="style-4">
                            <table class="table table-hover table-responsive table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>
                                            <a href="" ng-click="sort2('sno')">SLNO</a>
                                        </th>
                                        <th>
                                            <a href="" ng-click="sort2('amsT_RegistrationNo')">Registration No</a>
                                        </th>
                                        <th><a href="" ng-click="sort2('amsT_AdmNo')">Admission No</a> </th>
                                        <th><a href="" ng-click="sort2('amsT_FirstName')">Name</a> </th>
                                        <th><a href="" ng-click="sort2('amaY_RollNo')">Roll No</a> </th>
                                        <th>
                                            Select
                                            <input type="checkbox" ng-model="selectedAllstu" ng-click="toggleAllstudent(selectedAllstu)" ng-disabled="disableconcessionamountstu">
                                            <span class="lbl padding-8"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in studentsdata" >
                                        <td>{{$index+1}}</td>
                                        <td>{{ user.amsT_RegistrationNo}}</td>
                                        <td>{{ user.amsT_AdmNo}}</td>
                                        <td>{{ user.amsT_FirstName}} <span ng-if="user.amsT_MiddleName !== null" class="lbl padding-8">  {{ user.amsT_MiddleName}} </span> {{ user.amsT_LastName}} </td>
                                        <td>{{ user.amaY_RollNo}}</td>
                                        <td>
                                            <label>
                                                <input type="checkbox" name="option[]" value="1" ng-disabled="stulstdis" data-ng-model="user.studchecked"  ng-change="onstudentclick(groupcount,user.amsT_Id,selectedAllstu)">
                                                <span class="lbl padding-8"></span>
                                            </label>
                                        </td>
                                        <td hidden="hidden">{{ user.amsT_Id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       
                    </div>
                </div>

                <div class="box box-primary" ng-show="feeheadgrid.length > 0">
                    <div class="box-header with-border">
                        <h3 class="box-title">Fee Head List</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-table-responsive table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>
                                        <a href="">SLNO</a>
                                    </th>
                                    <th>
                                        <label>
                                            <input type="checkbox" ng-model="selectedAll" ng-click="toggleAll(selectedAll)" ng-disabled="disableconcessionamount">
                                            <span class="lbl padding-8"></span>
                                        </label>
                                    </th>
                                    <th><a href="" ng-click="sort1('fmH_FeeName')">Head Name</a> </th>
                                    <th><a href="" ng-click="sort1('ftI_Name')">Installment Name</a> </th>
                                    <!--<th><a href="" ng-click="sort1('fsC_ConcessionType')">Type</a> </th>-->
                                    <th><a href="" ng-click="sort1('fmA_Amount')">Amount</a> </th>
                                    <th><a href="" ng-click="sort1('fscI_ConcessionAmount')">Concession Amount/Percentage</a> </th>
                                    <th><a href="" ng-click="sort1('fsC_ConcessionReason')">Remarks</a> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in feeheadgrid track by $index |orderBy:sortKey1:reverse1 |filter:searchthird " ng-class-odd="'odd'">
                                    <td>{{$index+1}}</td>
                                    <td class="text-center">
                                        <label>
                                            <input type="hidden" ng-model="user.fmfS_Id">
                                            <input type="checkbox" value="1" name="feehdchkbx" ng-model="user.isSelected" ng-change="onclickofconcession(feeheadgrid,user)" ng-disabled="disableconcessionamount"> <!--ng-required="user.fscI_ConcessionAmount == '' ||user.fsC_ConcessionType == '' "-->
                                            <span class="lbl padding-8"></span>
                                        </label>
                                    </td>
                                    <td>{{ user.fmH_FeeName}}</td>
                                    <td>{{ user.ftI_Name}}</td>
                                   
                                    <td>{{ user.fmA_Amount}}</td>
                                    <td><input type="text" ng-model="user.fscI_ConcessionAmount" value="{{user.fscI_ConcessionAmount}}" placeholder="Enter Amount" allow-pattern="[0-9]" ng-disabled="disableconcessionamount"></td>   <!--ng-blur="concessionamount(feeheadgrid,$index)"-->
                                    <td><input type="text" ng-model="user.fsC_ConcessionReason" value="{{user.fsC_ConcessionReason}}" placeholder="Enter Remarks" allow-pattern="[a-zA-Z1-9 ]" ng-disabled="disableconcessionamount"></td>
                                    <td hidden="hidden">{{user.FMG_Id}}</td>
                                    <td hidden="hidden">{{user.FMH_ID}}</td>
                                    <td hidden="hidden">{{user.FTI_ID}}</td>
                                    <td hidden="hidden">{{ user.fsC_Id}}</td>
                                    <td hidden="hidden">{{ user.fscI_ID}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <div class="text-center" ng-show="btndiv">
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </md-button>
                            <md-button type="button" class="md-raised md-warn" data-ng-click="Clearid()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Student Fee Concession</h3>
                        <!--<h3 class="box-title"> (Total Count -  {{totcountfirst}} )</h3>-->
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        <b> Total Grid Records :</b>
                                        <label class="badge">
                                            {{totcountfirst}}
                                        </label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-if="search!=''">
                                    <label class="control-label">
                                        <b>Total Records Searched : </b>
                                        <label class="badge">
                                            {{filterValue.length}}
                                        </label>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 pull-right">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <input class="form-control" ng-model="search" type="text" placeholder="search here...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-hover table-responsive table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>
                                        <a href="" ng-click="sort('sno')">SLNO</a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="sort('studentname')">Student Name</a>
                                    </th>
                                    <th><a href="" ng-click="sort('asmcL_ClassName')">Class Name</a> </th>
                                    <th><a href="" ng-click="sort('fmG_GroupName')">Group/Term Name</a> </th>
                                    <th><a href="" ng-click="sort('fmH_FeeName')">Head Name</a> </th>
                                    <th><a href="" ng-click="sort('ftI_Name')">Installment Name</a> </th>
                                    <th><a href="" ng-click="sort('fscI_ConcessionAmount')">Concession</a> </th>
                                    <th><a href="">Action</a> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in thirdgrid">
                                    <td>{{$index+1}}</td>
                                    <td style="text-align:left;">{{user.studentname}}</td>
                                    <td style="text-align:left;">{{user.asmcL_ClassName}}</td>
                                    <td style="text-align:left;">{{user.fmG_GroupName}}</td>
                                    <td style="text-align:left;">{{user.fmH_FeeName}}</td>
                                    <td style="text-align:left;">{{user.ftI_Name}}</td>
                                    <td style="text-align:left;">{{user.fscI_ConcessionAmount}}</td>
                                    <td hidden="hidden">{{user.fsC_Id}}</td>
                                    <td hidden="hidden">{{user.fscI_ID}}</td>
                                    <td class="text-center">

                                        <a href="javascript:void(0)" ng-click="edittransaction(user.fsC_Id,user.fscI_ID)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>

                                        <a class="text-danger" href="" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                            <i class="fa fa-trash" aria-hidden="true" ng-click="DeletRecord(user.fsC_Id,user.fscI_ID)"></i>
                                        </a>

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="10"
                                                 direction-links="true"
                                                 boundary-links="true" pagination-id="page">
                        </dir-pagination-controls>
                    </div>
                </div>


            </div>




        </form>

    </section>
</div>