<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" ng-init="loaddata()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Fee HeadWise Collection Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="">
                        <div class="well text-center">
                            <label class="radio-inline">
                                <input type="radio" value="all" ng-model="allorindiorcon" ng-init="allorindiorcon ='all'" ng-click="allorconsorall()">
                                <span class="lbl padding-8">All</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="indi" ng-model="allorindiorcon" ng-click="allorconsorall()">
                                <span class="lbl padding-8">Individual</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="consolidate" ng-model="allorindiorcon" ng-click="allorconsorall()">
                                <span class="lbl padding-8">Consolidate</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Academic Year:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="accyear" data-ng-model="ASMAY_Id">
                                <option value="">Select</option>
                                <option ng-repeat="options in yearlst" value="{{options.asmaY_Id}}" ng-selected="{{option.Selected == true}}">{{options.asmaY_Year}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Fee Head:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="head" data-ng-model="FMH_Id" ng-disabled="allorindiorcon == 'consolidate'">
                                <option value="">Select</option>
                                <option ng-repeat="options in headlist" value="{{options.fmH_Id}}" ng-selected="{{option.Selected == true}}">{{options.fmH_FeeName}}</option>
                            </select>
                        </div>
                    </div>
                    <div ng-hide="allorindiorcon1">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="selsec" data-ng-model="ASMCL_Id">
                                    <option value="">Select Class</option>
                                    <option ng-repeat="options in classlist" value="{{options.asmcL_Id}}" ng-selected="{{option.Selected == true}}">{{options.asmcL_ClassName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="accsection" data-ng-model="ASMC_Id">
                                    <option value="">Select</option>
                                    <option ng-repeat="options in seclist" value="{{options. asmC_Id}}" ng-selected="{{option.Selected == true}}">{{options.asmC_SectionName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="well text-center" style="display:none">
                        <label class="radio-inline">
                            <input type="radio" name="All">
                            <span class="lbl padding-8">
                                Reg.No
                            </span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="All">
                            <span class="lbl padding-8">Adm.No</span>
                        </label>
                    </div>
                    <div class="well text-center">
                        <div ng-hide="allorindi12">
                            <label class="radio-inline">
                                <input type="radio" value="waivedoff" ng-model="woffconbal">
                                <span class="lbl padding-8">
                                    Waived Off
                                </span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="concession" ng-model="woffconbal">
                                <span class="lbl padding-8">Concession</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="balance" ng-model="woffconbal">
                                <span class="lbl padding-8">Balance</span>
                            </label>
                        </div>
                        <div ng-hide="allorindiorcons123">
                            <label class="radio-inline">
                                <input type="radio" value="waivedoff1" ng-model="woffconbal1">
                                <span class="lbl padding-8">Waived Off</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="Rebate" ng-model="woffconbal1">
                                <span class="lbl padding-8">Rebate</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="openbalance" ng-model="woffconbal1">
                                <span class="lbl padding-8">Opening Balance</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="bal" ng-model="woffconbal1">
                                <span class="lbl padding-8">Balance </span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="Excess" ng-model="woffconbal1">
                                <span class="lbl padding-8">Excess</span>
                            </label>
                        </div>


                    </div>
                    <div class="well text-center">
                        <label class="checkbox-inline">
                            <input type="radio" value="L" ng-model="activeleft">
                            <span class="lbl padding-8">Left </span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" value="S" ng-model="activeleft">
                            <span class="lbl padding-8">Active </span>
                        </label>
                        <label class="checkbox-inline" style="display:none">
                            <input type="checkbox" name="All" >
                            <span class="lbl padding-8">Route</span>
                        </label>
                    </div>

                </div>
                <div class="col-sm-6">
                    <label class="control-label col-sm-4">Group:</label>
                    <div class="multiselect" style="height:7em;margin-bottom: 2px;width: 35.2em;">
                        <label ng-repeat="role in arrlistchkgroup" value="{{role.fmG_Id}}">
                            <input ng-model="role.selected" type="checkbox">
                            <span class="lbl padding-8">
                                {{role.fmG_GroupName}}
                            </span>
                        </label>
                    </div>
                    <div class="well text-center" >
                        <label class="radio-inline">
                            <input type="radio" value="date" ng-model="detweenordates"  ng-click="dateorbetween()">
                            <span class="lbl padding-8">As On Date</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="btndates" ng-model="detweenordates" ng-init="detweenordates='btndates'" ng-click="dateorbetween()">
                            <span class="lbl padding-8">Between Date</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <div ng-hide="btweenordate1">
                            <label class="control-label col-sm-1">From:</label>
                            <!--<div class="col-sm-5">
                                <input type="date" value="fromdate" ng-disabled="allorindiorcon == 'consolidate'" ng-model="datefrom" class="form-control" />
                            </div>-->
                            <div class="col-sm-5 input-group">
                                <!--<input type="date" class="form-control" ng-model="ScheduleDate" required>-->
                                <md-datepicker name="sch_datefrom" ng-disabled="allorindiorcon == 'consolidate'" ng-model="datefrom" onkeydown="return false" placeholder="Enter date" required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.sch_datefrom)" ng-messages="myForm.sch_datefrom.$error" >
                                    <div ng-message="required">Select Date</div>
                                    <div ng-message="valid">The entered value is not a date!</div>
                                </div>
                            </div>
                            <label class="control-label col-sm-1">To:</label>
                            <!--<div class="col-sm-5">
                                <input type="date" value="todate" ng-disabled="allorindiorcon == 'consolidate'" ng-model="dateto" class="form-control" />
                            </div>-->
                            <div class="col-sm-5 input-group">
                                <!--<input type="date" class="form-control" ng-model="ScheduleDate" required>-->
                                <md-datepicker name="sch_dateto" onkeydown="return false" ng-disabled="allorindiorcon == 'consolidate'" ng-model="dateto" placeholder="Enter date" required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.sch_dateto)" ng-messages="myForm.sch_dateto.$error">
                                    <div ng-message="required">Select Date</div>
                                    <div ng-message="valid">The entered value is not a date!</div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="btweenordate">
                            <label class="control-label col-sm-1">Date:</label>
                            <!--<div class="col-sm-5">
                                <input type="date" value="dateon" ng-disabled="allorindiorcon == 'consolidate'" ng-model="ondate" class="form-control" />
                            </div>-->
                            <div class="col-sm-5 input-group">
                                <!--<input type="date" class="form-control" ng-model="ScheduleDate" required>-->
                                <md-datepicker name="sch_dateon" onkeydown="return false" ng-disabled="allorindiorcon == 'consolidate'" ng-model="ondate" placeholder="Enter date" required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.sch_dateon)" ng-messages="myForm.sch_dateon.$error">
                                    <div ng-message="required">Select Date</div>
                                    <div ng-message="valid">The entered value is not a date!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display:none">
                        <label class="control-label col-sm-4">File Type:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="sel1">
                                <option value="All">All</option>
                                <option value="Name">Name</option>
                                <option value="SNO">SNO</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" id="save-btn" style="border-radius: 3px;padding: 3px;" aria-disabled="false">
                            Export
                        </button>

                    </div>
                    <div class="form-group" style="display:none">
                        <label class="control-label col-sm-4">Record Sorting:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="sel1">
                                <option value="All">All</option>
                                <option value="Name">Name</option>
                                <option value="SNO">SNO</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>
            <div class="well text-center">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="ShowReport()">
                    <!--<i class="fa fa-floppy-o" aria-hidden="true"></i>-->
                    Report
                </button>
                <button type="button" onClick="$('#table1').tableExport({ type: 'excel', escape: 'false' });" target="_blank" class="btn btn-info">
                    Explort to Excel
                </button>
                <button type="button" class="btn btn-info" ng-click="printData();">
                    <!--<i class="fa fa-hand-paper-o" aria-hidden="true"></i>-->
                    Print
                </button>

            </div>

        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Grid View</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" ng-model="search" type="text" placeholder="search here...">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <select class="form-control" id="sel1">
                                <option>All</option>
                                <option>Name</option>
                                <option>SNO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-responsive table-bordered text-center" id="tabel" ng-show="alloriniditabel">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="order('sno')">SLNO</a></th>
                            <th><a href="" ng-click="sort('regno')">RegNo</a></th>
                            <th><a href="" ng-click="sort('name')">Name</a> </th>
                            <th><a href="" ng-click="sort('class')">Class</a> </th>
                            <th><a href="" ng-click="sort('section')">Section</a> </th>
                            <th><a href="" ng-click="sort('recno')">Receipt No</a></th>
                            <th><a href="" ng-click="sort('recdate')">Receipt Date</a></th>                           
                            <th><a href="" ng-click="sort('Amount')">Amount</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in students |orderBy:sortKey:reverse |filter:search |itemsPerPage:itemsPerPage " ng-class-odd="'odd'">
                            <td>{{$index+1}}</td>
                            <td>{{ user.regno}}</td>
                            <td>{{ user.name}}</td>
                            <td>{{ user.class}}</td>
                            <td>{{ user.section}}</td>
                            <td>{{ user.recno}}</td>
                            <td>{{ user.recdate |date:'dd.MM.yyyy'}}</td>
                            <!--<td>{{ user.borc}}</td>-->
                            <td>{{ user.Amount}}</td>

                        </tr>
                    </tbody>
                </table>


                <table class="table table-hover table-responsive table-bordered text-center" id="tabel1" ng-show="consolidate">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="order('sno')">SLNO</a></th>
                            <th><a href="" ng-click="sort('regno')">RegNo</a></th>
                            <th><a href="" ng-click="sort('name')">Student Name</a> </th>
                            <th><a href="" ng-click="sort('class')">Class</a> </th>
                            <th><a href="" ng-click="sort('section')">Section</a> </th>
                            <th><a href="" ng-click="sort('Net')">Net Amount</a></th>
                            <th><a href="" ng-click="sort('Balance')">Balance Amount</a></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in students |orderBy:sortKey:reverse |filter:search |itemsPerPage:itemsPerPage " ng-class-odd="'odd'">
                            <td>{{$index+1}}</td>
                            <td>{{ user.regno}}</td>
                            <td>{{ user.name}}</td>
                            <td>{{ user.class}}</td>
                            <td>{{ user.section}}</td>
                            <td>{{ user.Net}}</td>
                            <td>{{ user.Balance }}</td>
                        </tr>
                    </tbody>
                </table>


                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
            </div>
        </div>
    </form>
</section>