
<section class="content" data-ng-init="loaddata()">
    <form class="form-horizontal" name="myFormhead" role="form" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Fee PDC</h3>
                <div class="text-center">
                    <label>
                        Previledges :
                    </label>
                    <label>
                        <input type="Checkbox" name="savebtn" ng-model="savebtn" ng-disabled="savedisable">
                        <span class="lbl padding-8">Save</span>
                    </label>
                    <label>
                        <input type="checkbox" name="editbtn" ng-model="editbtn" ng-disabled="savedisable">
                        <span class="lbl padding-8">Edit</span>
                    </label>
                    <label>
                        <input type="checkbox" name="deletebtn" ng-model="deletebtn" ng-disabled="savedisable">
                        <span class="lbl padding-8">Delete</span>
                    </label>

                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-4" for="email">Academic Year:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" data-ng-model="ASMAY_Id" name="yer" ng-change="selectacademicyear()" required>
                                    <!--ng-disabled="ASMAY_Id"-->
                                    <option value=""> Select </option>
                                    <option ng-repeat="options in arrlist6" value="{{options.asmaY_Id}}" ng-selected="{{option.Selected == true}}">{{options.asmaY_Year}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted1(myFormhead.yer)" ng-messages="myFormhead.yer.$error">
                                    <div ng-message="required">Select Academic Year</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-4" for="email">Term Name:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" data-ng-model="FMT_Id" name="term" required>
                                    <!--ng-disabled="ASMAY_Id"-->
                                    <option value=""> Select </option>
                                    <option ng-repeat="options in termname" value="{{options.fmT_Id}}" ng-selected="{{option.Selected == true}}">{{options.fmT_Name}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted1(myFormhead.term)" ng-messages="myFormhead.term.$error">
                                    <div ng-message="required">Select Term Name</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <div class="col-sm-4"><label class="control-label ">Class:<span style="color:red;">*</span></label></div>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="selClass" ng-model="ASMCL_Id" ng-change="onselectclass()" ng-disabled="disabledata" required>
                                    <option value="" label="Select Class"> </option>

                                    <option ng-repeat="option in classlst" value="{{option.asmcL_Id}}" ng-selected="{{option.asmcL_Id == ASMCL_Idedit}}">
                                        {{option.asmcL_ClassName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted1(myFormhead.selClass)" ng-messages="myFormhead.selClass.$error">
                                    <div ng-message="required">Select Class</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-4"><label class="control-label ">Section:<span style="color:red;">*</span></label></div>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="selsection" ng-model="ASMS_Id" ng-change="onselectsection()" ng-disabled="disabledata" required>
                                    <option value="" label="Select Section"> </option>

                                    <option ng-repeat="option in sectionlst" value="{{option.asmS_Id}}" ng-selected="{{option.asmS_Id == ASMS_Idedit}}">
                                        {{option.asmC_SectionName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted1(myFormhead.selsection)" ng-messages="myFormhead.selsection.$error">
                                    <div ng-message="required">Select Section</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <div class="col-sm-4"><label class="control-label ">Student Name :<span style="color:red;">*</span></label></div>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="selstudent" ng-model="AMST_Id" ng-change="onselectstudent()" ng-disabled="disabledata" required>
                                    <option value="" label="Select Student"> </option>
                                    <option ng-repeat="option in studentlst" value="{{option.amsT_Id}}" ng-selected="{{option.amsT_Id == AMST_Idedit}}">
                                        {{filterdata=='NameRegNo'? option.amsT_FirstName+(option.amsT_MiddleName==null?"":+" "+option.amsT_MiddleName)+(option.amsT_LastName==null?"":+" "+option.amsT_LastName)+" : "+option.amsT_RegistrationNo:option.amsT_RegistrationNo+" : "+option.amsT_FirstName+(option.amsT_MiddleName==null?"":+" "+option.amsT_MiddleName)+" "+(option.amsT_LastName==null?"":+" "+option.amsT_LastName)}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted1(myFormhead.selstudent)" ng-messages="myFormhead.selstudent.$error">
                                    <div ng-message="required">Select Student Name</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-4" for="email"> Bank Name:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="fmbanK_Id" ng-model="FMBANK_Id" ng-required>

                                    <option value="">--Select--</option>
                                    <option ng-repeat="option in bankname" value="{{option.fmbanK_Id}}" ng-selected="{{option.fmbanK_Id == fmbanK_Id}}">
                                        {{option.fmbanK_BankName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.fmbanK_Id)" ng-messages="myForm.fmbanK_Id.$error">
                                    <div ng-message="required">Select Bank Name</div>
                                </div>

                            </div>




                        </div>



                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-4" for="chequeno"> Cheque No:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="FPDC_ChequeNo" placeholder="Enter Cheque No..." ng-model="FPDC_ChequeNo" class="form-control"
                                       ng-paste="$event.preventDefault()" required allow-pattern="[0-9]" />
                            </div>
                            <div class="error-messages" ng-if="interacted1(myFormhead.FPDC_ChequeNo)" ng-messages="myFormhead.FPDC_ChequeNo.$error">
                                <div ng-message="required">Enter Cheque No</div>
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-4" for="email"> Cheque Date:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <md-datepicker ng-model="FPDC_ChequeDate" onkeydown="return false" name="FPDC_ChequeDate" md-placeholder="Enter date" ng-required></md-datepicker>



                                <div class="error-messages" ng-if="interacted1(myFormhead.FPDC_ChequeDate)" ng-messages="myFormhead.FPDC_ChequeDate.$error">
                                    <div ng-message="required">Select Cheque Date</div>
                                </div>
                            </div>

                        </div>



                    </div>
                    <div class="col-sm-12">

                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-4" for="Currency"> Amount:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="Amount" data-ng-model="FCSPDC_Amount" class="form-control" ng-paste="$event.preventDefault()" allow-pattern="[0-9]" />



                                <div class="error-messages" ng-if="interacted1(myFormhead.Amount)" ng-messages="myFormhead.Amount.$error">
                                    <div ng-message="required">Enter Amount</div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-4" for="Currency"> Currency:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="Currency" data-ng-model="FPDC_Currency" class="form-control" ng-paste="$event.preventDefault()" /> <!--allow-pattern="(\s|[a-zA-Z-./])"-->




                            </div>

                        </div>


                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-4">Narration:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="4" name="FPDC_Narration" data-ng-model="FPDC_Narration" maxlength="100" allow-pattern="(\s|[a-zA-Z0-9])"></textarea>


                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="">
                        <div class="text-center">
                            <input type="hidden" name="fmH_Id" ng-model="FPDC_Id" value="{{FPDC_Id}}" />

                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" data-ng-click="saveGroupdata()" id="save-btn">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </md-button>

                            <md-button type="button" class="md-raised md-warn" data-ng-click="cance()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>





                        </div>
                    </div>
                </div>
            </div>
    </form>

    <div class="box box-primary" ng-show="gridrecord">
        <div class="box-header with-border">
            <h3 class="box-title">Fee Term Wise Rebate Settings </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{totcountfirst}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th><a href="" ng-click="sort('fmH_Id')">SLNO</a></th>
                        <th><a href="" ng-click="sort('fmH_FeeName')">Academic Year</a></th>
                        <th><a href="" ng-click="sort('fmH_FeeName')">Student Name</a></th>
                        <th><a href="" ng-click="sort('fmH_FeeName')">Class Name</a></th>
                        <th><a href="" ng-click="sort('fmH_FeeName')">Section Name</a></th>
                        <th><a href="" ng-click="sort('fmH_FeeName')">Term Name</a></th>

                        <th><a href="" ng-click="sort('fmH_SpecialFeeFlag')">Bank Name </a> </th>
                        <th><a href="" ng-click="sort('fmH_PDAFlag')">Cheque No</a> </th>
                        <th><a href="" ng-click="sort('fmH_RefundFlag')">Cheque Date</a> </th>
                        <th><a href="" ng-click="sort('fmH_RefundFlag')">Amount</a> </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in filterValue=(students  | filter : searchValue) |orderBy:sortKey:reverse  |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{ itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td style="text-align:left;">{{ user.asmaY_Year}}</td>
                        <td style="text-align:left;">{{ user.fmT_Name}}</td>
                        <td>{{ user.amsT_FirstName}}</td>
                        <td>{{ user.classname}}</td>
                        <td>{{ user.sectionname}}</td>
                        <td hidden="hidden">{{ user.fpdC_Id}}</td>
                        <td>{{ user.fmbanK_BankName}}</td>
                        <td>{{ user.fpdC_ChequeNo}}</td>


                        <td>{{ user.fpdC_ChequeDate | date:"dd-MM-yyyy"}}</td>
                        <td>{{ user.fcspdC_Amount}}</td>

                        <td class="text-center">
                            <a href="javascript:void(0)" ng-click="getorgvalue(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>



                            <a href="javascript:void(0)" ng-click="deactive(user)"
                               class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>


                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>


</section>
