
<section class="content twocoloumn" ng-init="loadDrpDwn()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" method="post" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Fee Stream Group Mapping</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="acd" ng-model="asmaY_Id1" ng-disabled="false" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="acdyear in acdYear" value="{{acdyear.asmaY_Id}}" ng-selected="{{acdyear.Selected == true}}">
                                        {{acdyear.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd)" ng-messages="myForm.acd.$error">
                                    <div ng-message="required">Please Select Academic Year</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel21" name="cat" ng-model="asmcL_Id" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="catgry in classDrpDwn" value="{{catgry.asmcL_Id}}" ng-selected="{{catgry.Selected==true}}">
                                        {{catgry.asmcL_ClassName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.cat)" ng-messages="myForm.cat.$error">
                                    <div ng-message="required">Please Select Class</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sel2" class="control-label col-sm-4">Group:<span style="color:Red">*</span></label>
                            <div class="col-sm-7">
                                <div class="multiselect col-sm-8">
                                    <label ng-repeat="cls in groupDrpDwn">
                                        <input value="{{cls.fmG_Id}}" data-ng-model="cls.Selected" type="checkbox" ng-disabled="edit_flag==true" ng-required="isOptionsRequired()" name="ccoption">
                                        <span class="lbl padding-8">{{cls.fmG_GroupName}}</span>
                                    </label>
                                </div>
                                <div class="error-messages" ng-if="interacted(myForm.ccoption)" ng-messages="myForm.ccoption.$error">
                                    <div ng-message="required">Select Group</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sel2" class="control-label col-sm-4">Stream:<span style="color:Red">*</span></label>
                            <div class="col-sm-7">
                                <div class="multiselect col-sm-8">
                                    <label ng-repeat="sec in streamDrpDwn">
                                        <input value="{{sec.pasL_ID}}" data-ng-model="sec.Selected" type="checkbox" ng-disabled="edit_flag==true" ng-required="isOptionsRequired1()" name="secoption">
                                        <span class="lbl padding-8">{{sec.pasL_Name}}</span>
                                    </label>
                                </div>
                                <div class="error-messages" ng-if="interacted(myForm.secoption)" ng-messages="myForm.secoption.$error">
                                    <div ng-message="required">Select Stream</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr />
                <div class="row">
                    <div class="text-center">
                        <input type="hidden" ng-model="fmsgM_ID" />
                        <md-button type="submit" class="md-raised md-primary" ng-click="save()" ng-disabled="form.$invalid" id="save-btn" aria-disabled="false">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" data-ng-click="clearid()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Clear
                        </md-button>
                    </div>
                </div>
    
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Fee Stream Group Mapping</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{presentCountgrid}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group searchbox">
                            <div class="input-group">
                                <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                                <span class="input-group-addon">
                                    <button class="btn" type="button"><i class="fa fa-search"></i></button><!--ng-click="searchByColumn(searchValue,columnName)"-->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            SL.No.
                        </th>
                   
                        <th>
                            <a href="" ng-click="sort('asmaY_Year')">Academic Year</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('asmcL_ClassName')">Class Name</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('fmG_GroupName')">Group Name</a>
                        </th>
                        <th>
                            <a href="" ng-click="sort('pasL_Name')">Stream Name</a>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="clscatgry in filterValue1 = (loaddetails | filter : searchValue)  |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{ clscatgry.asmaY_Year}}</td>
                        <td>{{ clscatgry.asmcL_ClassName}}</td>
                        <td>{{ clscatgry.fmG_GroupName}}</td>
                        <td>{{ clscatgry.pasL_Name}}</td>
                        <td class="text-center">
                            <a href="javascript:void(0)" ng-click="getorgvalue(clscatgry)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <span ng-if="clscatgry.fmsgM_Active === 1">
                                <a href="" ng-click="deactive(clscatgry)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    <i> Deactivate</i>
                                </a>
                            </span>
                            <span ng-if="clscatgry.fmsgM_Active === 0">
                                <a href="" ng-click="deactive(clscatgry)"
                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    <i> Activate</i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    <!--<tr ng-show="columnSort" dir-paginate="clscatgry in loaddetails |orderBy:sortKey:sortReverse |filter:search|itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                        <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                        <td>{{ clscatgry.asmaY_Year}}</td>
                        <td>{{ clscatgry.asmcL_ClassName}}</td>
                        <td>{{ clscatgry.fmG_GroupName}}</td>
                        <td>{{ clscatgry.pasL_Name}}</td>
                        <td class="text-center">
                            <a href="javascript:void(0)" ng-click="edit(clscatgry)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>


                            <span ng-if="clscatgry.is_Active === true">
                                <a href="" ng-click="deactive(clscatgry)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                    <i> Deactivate</i>
                                </a>
                            </span>
                            <span ng-if="clscatgry.is_Active === false">
                                <a href="" ng-click="deactive(clscatgry)"
                                   class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                    <i>Activate</i>
                                </a>
                            </span>
                        </td>
                    </tr>-->
                </tbody>
            </table>
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
        </form>
</section>