


<section class="content twocoloumn">
    <div data-ng-init="loaddata()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Waived Off</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-submit="savedata(headlst)" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Academic Year: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <select class="form-control" name="selAcademic" id="sel1" data-ng-model="cfg.ASMAY_Id" ng-change="onselectyear()" ng-disabled="asmayiddisable" required>
                                        <option value="" label="Select Academic Year"> </option>
                                        <option ng-repeat="option in yearlst" value="{{option.asmaY_Id}}" ng-selected="{{option.asmaY_Id == cfg.ASMAY_Id}}">
                                            {{option.asmaY_Year}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.selAcademic)" ng-messages="myForm.selAcademic.$error">
                                        <div ng-message="required">Select Academic Year</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Class: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <select class="form-control" id="selus2e" data-ng-model="clsdrp" name="stu_Class" ng-change="onselectyear()" required ng-disabled="asmayiddisable">
                                        <option value="" label="Select class"> </option>
                                        <option ng-repeat="option11 in classlst" value="{{option11.asmcL_Id}}" ng-selected="{{option11.Selected == true}}">
                                            {{option11.asmcL_ClassName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.stu_Class)" ng-messages="myForm.stu_Class.$error">
                                        <div ng-message="required">Please Select Class</div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Section: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <select class="form-control" id="seluse1" data-ng-model="sectiondrp" name="stu_Section" ng-change="onselectyear()" required ng-disabled="asmayiddisable">
                                        <option value="" label="Select section"> </option>
                                        <option ng-repeat="option1 in sectionlst" value="{{option1.asmS_Id}}" ng-selected="{{option1.Selected == true}}">
                                            {{option1.asmC_SectionName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.stu_Section)" ng-messages="myForm.stu_Section.$error">
                                        <div ng-message="required">Please Select Section</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">&nbsp;</label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <div class="well">
                                        <label class="control-label" ng-init="filterdata='NameRegNo'">
                                            <input type="radio" name="Nameregno" value="NameRegNo" ng-model="filterdata">
                                            <span class="lbl padding-8">Name:Reg.No</span>
                                        </label>
                                        <label class="control-label">
                                            <input type="radio" name="Nameregno" value="RegNoName" ng-model="filterdata">
                                            <span class="lbl padding-8">Reg.No:Name</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Student Name: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <select class="form-control" id="sel1" name="selstudent" ng-model="AMST_Id" ng-change="onselectstudent()" ng-disabled="asmayiddisable" required>
                                        <option value="" label="Select Student"> </option>
                                        <option ng-repeat="option in studentlst" value="{{option.amsT_Id}}" ng-selected="{{option.amsT_Id == AMST_Id}}">
                                            {{filterdata=='NameRegNo'? option.amsT_FirstName+(option.amsT_MiddleName==null?"":+" "+option.amsT_MiddleName)+(option.amsT_LastName==null?"":+" "+option.amsT_LastName)+" : "+option.amsT_RegistrationNo:option.amsT_RegistrationNo+" : "+option.amsT_FirstName+(option.amsT_MiddleName==null?"":+" "+option.amsT_MiddleName)+" "+(option.amsT_LastName==null?"":+" "+option.amsT_LastName)}}


                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.selstudent)" ng-messages="myForm.selstudent.$error">
                                        <div ng-message="required">Select Student Name</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Remarks : <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">

                                    <textarea class="form-control active" value="" id="reservation" name="waiveoffrema" type="text" data-ng-model="fswO_WaivedOffRemarks" required></textarea>

                                    <div class="error-messages" ng-if="interacted(myForm.waiveoffrema)" ng-messages="myForm.waiveoffrema.$error">
                                        <div ng-message="required">Enter Remarks</div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-4"> <label class="control-label"> Waived Off Date:<span style="color:red;">*</span></label></div>
                                <div class="col-sm-8 input-group">
                                    <md-datepicker name="todate" ng-model="FSWO_Date" md-placeholder="Enter Date" onkeydown="return false" required=""></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.todate)" ng-messages="myForm.todate.$error">
                                        <div ng-message="required">Please fill out this field </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <!--<input type="checkbox" name="filter" value="FineWaiveOFf" data-ng-model="finewav" data-ng-click="onselectfine()" ng-disabled="disablefinewaivedoff">
                                <span class="lbl padding-8">Fine WaiveOff</span>-->
                                </div>
                                <div class="col-sm-8">
                                    <div class="well">
                                        <label class="radio-inline col-sm-6">
                                            <input type="radio" name="" value="Refunable" data-ng-model="filterdata1" data-ng-click="onselectstudent()" ng-disabled="fswO_Id>0">
                                            <span class="lbl padding-8">Refundable</span>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="filter" value="NonRefunable" data-ng-model="filterdata1" data-ng-click="onselectstudent()" ng-disabled="fswO_Id>0">
                                            <span class="lbl padding-8">Non Refundable</span>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="sel2" class="control-label col-sm-4">Group List: <span style="color:Red">*</span></label>
                                <div class="col-sm-6">
                                    <div class="multiselect col-sm-4" style="height:7em;">
                                        <label data-ng-model="FMG_GroupNameFnew" ng-repeat="roleGF in grouplst">
                                            <input type="checkbox" ng-model="roleGF.selected" value="{{roleGF.FMG_Id}}" data-ng-change="optionToggledGF()" name="roleGF" ng-disabled="asmayiddisable" />
                                            <span class="lbl padding-8">{{roleGF.fmG_GroupName}}</span>
                                        </label>
                                    </div>
                                    <!--<div class="error-messages" ng-if="interacted(myForm.roleGF)" ng-messages="myForm.roleGF.$error">
                                    <div ng-message="required">Please Select atleast one Group</div>
                                </div>-->
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-4">
                                    <input type="checkbox" name="filter" value="FineWaiveOFf" data-ng-model="finewav" data-ng-click="onselectfine()" ng-disabled="disablefinewaivedoff">
                                    <span class="lbl padding-8">Fine WaiveOff</span>
                                </div>

                                <div class="col-sm-6">
                                    <input type="checkbox" name="filter" value="completeFineWaiveOFf" data-ng-model="completefinewav" data-ng-click="completeonselectfine(completefinewav)" ng-disabled="completedisablefinewaivedoff" ng-show="finewav==true">
                                    <span class="lbl padding-8">Complete Fine WaiveOff</span>

                                    <div class="from-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="custom-file-input file-blue">
                                                    <input type="file" data-ng-model="intB_FilePath" accept="image/*, application/pdf,application/msword, application/vnd.ms-excel" name="docfile" onchange="angular.element(this).scope().uploadFile(this)" /> <!--ng-required="finewav==true || completefinewav==true"-->
                                                </label> 
                                            </div>

                                            <div class="error-messages" ng-if="interacted(myForm.docfile)" ng-messages="myForm.docfile.$error">
                                                <div ng-message="required">Kindly select file </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="control-label col-sm-6" style="padding: 14px;">
                                                <b>{{file_detail}}</b>
                                            </div>
                                            <div>
                                                <div class="col-sm-6" ng-if="file_detail">
                                                    <span class="col-sm-3">
                                                        <button type="button" class="close" style="color:red;opacity:2;padding: 14px;">
                                                            <b>
                                                                <i class="fa fa-times" aria-hidden="true" ng-click="remove_file()"></i>
                                                            </b>
                                                        </button>
                                                    </span>
                                                    <span ng-if="filetype=='image/jpeg'" class="col-sm-6" style="padding: 13px;">
                                                        <a style="color:red;display:inline; font-weight: bolder;" data-toggle="modal" data-target="#myModal" data-ng-click="showmodaldetails()"> view</a>
                                                    </span>
                                                    <span ng-if="filetype=='application/pdf'" class="col-sm-6" style="padding:13px">
                                                        <a style="color:red;display:inline; font-weight: bolder;" href="{{filepath}}" target="pdf-frame" type="application/x-google-chrome-pdf" full-frame="">Pdf</a>
                                                    </span>
                                                    <!--<span ng-if="filetype=='application/msword'" class="col-sm-6" style="padding:13px">
                                                        <a style="color:red;display:inline; font-weight: bolder;" href="{{filepath}}" target="pdf-frame" type="application/x-google-chrome-pdf" full-frame="">Doc</a>
                                                    </span>-->
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </div>



                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="gridview1">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Fee Heads</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-responsive table-bordered text-center">
                                    <thead>
                                        <tr>
                                            <th>SLNO</th>
                                            <th>
                                                <label>
                                                    <input type="checkbox" ng-model="selectedAll" ng-click="toggleAll(selectedAll)">
                                                    <span class="lbl padding-8"></span>
                                                </label>
                                            </th>
                                            <th>Fee Name</th>
                                            <th>Installment</th>
                                            <th>Balance</th>
                                            <th ng-show="finewav==false">Paid Amount</th>
                                            <th>Waived Off Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in headlst">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <input type="checkbox" value="" name="chsel" data-ng-model="user.studchecked" ng-disabled="asmayiddisable">
                                                <span class="lbl"></span>
                                                <span hidden="hidden">{{ user.fmH_Id}}{{ user.multiplegroup}}{{ user.ftI_ID}}{{ user.fmG_Id}}{{ user.fmA_Id}}</span>
                                            </td>
                                            <td>{{ user.fmH_FeeName}}</td>
                                            <td>{{ user.ftI_Name}}</td>
                                            <td>{{ user.tobepaid}}</td>

                                            <td ng-show="finewav==false">{{ user.fsS_PaidAmount}}</td>

                                            <td style="width:20%"><input class="form-control active" value="" id="reservation" name="nameAmt" type="text" data-ng-model="user.fswO_WaivedOffAmount" allow-pattern="(\s|[0-9])" maxlength="5" ng-disabled="disablefinecompete"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="text-center">
                        <input type="hidden" name="fmH_Id" ng-model="fswO_Id" value="{{fswO_Id}}" />
                        <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary">
                            <i class="fa fa-save" aria-hidden="true"></i> Save
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" ng-click="cance()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </md-button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width:50%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <img id="preview" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="box box-primary" ng-show="thirdgrid.length>0">
            <div class="box-header with-border">
                <h3 class="box-title">WAIVED OFF</h3>
                <!--<h3 class="box-title"> (Total Count -  {{totcountfirst}} )</h3>-->
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{totcountfirst}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="totcountsearch!=0">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{totcountsearch}}
                                </label>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email"> Search For:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" ng-model="search123" ng-change="onselectsearch()" name="search_for" required>
                                    <option value="">--Select Field--</option>
                                    <option value="0">Student Name</option>
                                    <option value="1">Fee Name</option>
                                    <option value="2">Installment</option>
                                    <option value="3">Amount</option>
                                    <option value="4">Date</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5" ng-show="search_flag">
                        <div class="form-group" ng-show="txt">
                            <label class="control-label col-sm-4" for="email"> Search Text:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="search_text" ng-model="searchtxt" maxlength="30" />
                            </div>

                        </div>
                        <div class="form-group" ng-show="numbr">
                            <label class="control-label col-sm-4" for="email">Search Amount:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="search_text" ng-model="searchnumbr" maxlength="20" allow-pattern="[0-9]" />
                            </div>

                        </div>
                        <div class="form-group" ng-show="dat">
                            <label class="control-label col-sm-4" for="email"> Search Date:</label>
                            <div class="col-sm-8 input-group" style="">
                                <md-datepicker ng-model="searchdat" onkeydown="return false" name="search_date" id="date123" md-placeholder="Enter  date" required></md-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-show="search_flag">
                        <div class="">
                            <button type="button" class="btn btn-primary" name="btn_search" ng-click="ShowSearch_Report()">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Search
                            </button>
                            <button type="button" class="btn btn-warning" data-ng-click="clearsearch()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
                <br />
                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="order('sno')">SLNO</a>
                            </th>
                            <th><a href="" ng-click="sort('amsT_FirstName')">Student Name </a></th>
                            <th><a href="" ng-click="sort('fmH_FeeName')">Fee Name</a> </th>
                            <th><a href="" ng-click="sort('ftI_Name')">Installment</a> </th>
                            <th><a href="" ng-click="sort('fswO_WaivedOffAmount')">Amount</a> </th>
                            <th><a href="" ng-click="sort('fswO_Date')">Date</a> </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in thirdgrid |orderBy:sortKey:reverse |filter:search |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'" pagination-id="page">
                            <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                            <td  style="text-align:left;"> {{ user.amsT_FirstName}} <span ng-if="user.amsT_MiddleName !== null" class="lbl padding-8">  {{ user.amsT_MiddleName}} </span> <span ng-if="user.amsT_LastName !== null" class="lbl padding-8">{{ user.amsT_LastName}}</span><!--{{ user.amsT_FirstName + ' ' + user.amsT_MiddleName + ' ' + user.amsT_LastName}}--></td>
                            <td  style="text-align:left;">{{ user.fmH_FeeName}}</td>
                            <td  style="text-align:left;">{{ user.ftI_Name}}</td>
                            <td  style="text-align:right;">{{ user.fswO_WaivedOffAmount}}</td>
                            <td  style="text-align:left;">{{ user.fswO_Date| date:'dd-MM-yyyy'}}</td>
                            <td hidden="hidden">{{ user. fswO_Id}}</td>
                            <td class="text-center">
                                <a href="javascript:void(0)" ng-click="editdata(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" ng-click="DeletRecord(user)"
                                   class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5" pagination-id="page"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</section>
