<section class="content twocoloumn" data-ng-init="loaddata()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="ShowReportdata(arrlistchkG, arrlistchkH)" name="myForm" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Gender Wise Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">


                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="well">
                            <div class="text-center" ng-init="type='GroupWise'">
                                <label class="radio-inline">
                                    <input name="optradio" type="radio" data-ng-model="type" value="GroupWise" data-ng-click="onclickloaddata()" required>
                                    <span class="lbl padding-8">GroupWise</span>
                                </label>
                                <label class="radio-inline">
                                    <input name="optradio" type="radio" data-ng-model="type" value="HeadWise" data-ng-click="onclickloaddata()" required>
                                    <span class="lbl padding-8">HeadWise</span>
                                </label>
                                <label class="radio-inline">
                                    <input name="optradio" type="radio" data-ng-model="type" value="TermWise" data-ng-click="onclickloaddata()" required>
                                    <span class="lbl padding-8">TermWise</span>
                                </label>
                                <label class="radio-inline">
                                    <input name="optradio" type="radio" data-ng-model="type" value="ClassWise" data-ng-click="onclickloaddata()" required>
                                    <span class="lbl padding-8">ClassWise</span>
                                </label>
                                <label class="radio-inline">
                                    <input name="optradio" type="radio" data-ng-model="type" value="ClassCategoryWise" data-ng-click="onclickloaddata()" required>
                                    <span class="lbl padding-8">Class-Category Wise</span>
                                </label>

                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.optradio)" ng-messages="myForm.optradio.$error">
                                <div ng-message="required">Select any one of the radio button</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                Academic Year :<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" data-ng-model="asmaY_Id" name="acd_year" required>
                                    <option value="">Select Year</option>
                                    <option ng-repeat="options in arrlist6" value="{{options.asmaY_Id}}" ng-selected="{{options.asmaY_Id == asmaY_Id}}">
                                    {{options.asmaY_Year}}</option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd_year)" ng-messages="myForm.acd_year.$error">
                                    <div ng-message="required">Please Select Academic Year</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-12">

                                <label class="control-label">
                                    <label class="checkbox-inline">

                                        <span class="lbl padding-8">Custom Group</span>
                                    </label>
                                    <strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong>
                                </label>
                                <div class="multiselect">
                                    <label ng-repeat="role in custom" ng-model="fmgG_Id" value="{{role.fmgG_Id}}" ng-click="get_groups()">
                                        <input type="checkbox" data-ng-model="role.fmgG_Id_chk" name="fee_ct" >
                                        <span class="lbl padding-8">
                                            {{role.fmg_groupname}}
                                        </span>
                                    </label>
                                </div>
                                <div class="error-messages" ng-if="interacted(myForm.fee_ct)" ng-messages="myForm.fee_ct.$error">
                                    <div ng-message="required">Select Atleast one Checkbox</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-6">Fee Group:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="multiselect col-sm-6">
                                <label ng-repeat="role in group" ng-model="fmG_Id" value="{{role.fmG_Id}}" ng-click="binddatagrp3(group)">
                                    <input type="checkbox" data-ng-model="role.fmG_Id_chk" name="fee_gp" >
                                    <span class="lbl padding-8">
                                        {{role.fmG_GroupName}}
                                    </span>
                                </label>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.fee_gp1)" ng-messages="myForm.fee_gp1.$error">
                                <div ng-message="required">Select Atleast one Checkbox</div>
                            </div>
                            <input type="checkbox" name="All" ng-model="group_check" ng-true-value="1" ng-false-value="0" data-ng-click="load_group_check()" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-6">Fee Term:<strong style="color:red;display:inline; font-weight: bolder; margin-left: 7px;">*</strong></label>
                            <div class="multiselect col-sm-6">
                                <label ng-repeat="role in term" ng-model="fmT_Id" value="{{role.fmT_Id}}" ng-click="binddatagrp3(term)">
                                    <input type="checkbox" data-ng-model="role.fmT_Id_chk" name="fmtid">
                                    <span class="lbl padding-8">
                                        {{role.fmT_Name}}
                                    </span>
                                </label>
                            </div>
                            <div class="error-messages" ng-if="interacted(myForm.fmtid)" ng-messages="myForm.fmtid.$error">
                                <div ng-message="required">Select Atleast one Checkbox</div>
                            </div>
                           </div>
                    </div>
                </div>
                <!--end row-->

                <hr />

                <div class="text-center">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="showreport(asmaY_Id, asmcL_Id, asmC_Id, amst_Id, termlst,due_date)">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        Report
                    </md-button>
                    <md-button type="button" class="md-raised md-warn" data-ng-click="Clearid()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                    <md-button type="button" class="md-raised md-primary" ng-click="printToCart('printSectionId')" ng-show="Feearrear.length>0">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        Print
                    </md-button>
                </div>

            </div>

            <div class="box box-primary" ng-if="grpwisedata" >
                <div class="box-header with-border">
                    <h3 class="box-title">GenderWise Paid Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">



                    <div id="headrpt" ng-if="headwiseshow">
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Term Name</th>
                                        <th>Head Name</th>
                                        <th>Girls </th>
                                        <th>Boys </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="grp in headwisereport">
                                        <td>{{$index+1}}</td>
                                        <td>{{grp.FMT_Name}}</td>
                                        <td>{{grp.FMH_FeeName}}</td>
                                        <td>{{grp.FemaleCount}}</td>
                                        <td>{{grp.MaleCount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div id="grprpt" ng-if="groupwiseshow">
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Term Name</th>
                                        <th>Group Name</th>
                                        <th>Girls </th>
                                        <th>Boys </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="grp in groupwisereport">
                                        <td>{{$index+1}}</td>
                                        <td>{{grp.FMT_Name}}</td>
                                        <td>{{grp.FMG_GroupName}}</td>
                                        <td>{{grp.FemaleCount}}</td>
                                        <td>{{grp.MaleCount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div id="termrpt" ng-if="termwiseshow">
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Term Name</th>
                                        <th>Girls </th>
                                        <th>Boys </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="grp in termwisereport">
                                        <td>{{$index+1}}</td>
                                        <td>{{grp.FMT_Name}}</td>
                                        <td>{{grp.FemaleCount}}</td>
                                        <td>{{grp.MaleCount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="clsrpt" ng-if="classwiseshow">
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Term Name</th>
                                        <th>Class Name</th>
                                        <th>Girls</th>
                                        <th>Boys</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="grp in classwisereport">
                                        <td>{{$index+1}}</td>
                                        <td>{{grp.FMT_Name}}</td>
                                        <td>{{grp.ASMCL_ClassName}}</td>
                                        <td>{{grp.FemaleCount}}</td>
                                        <td>{{grp.MaleCount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="clscatrpt" ng-if="classcategoryshow">
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Term Name</th>
                                        <th>Class Category</th>
                                        <th>Girls </th>
                                        <th>Boys </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="grp in classcategorywisereport">
                                        <td>{{$index+1}}</td>
                                        <td>{{grp.FMT_Name}}</td>
                                        <td>{{grp.AMC_Name}}</td>
                                        <td>{{grp.FemaleCount}}</td>
                                        <td>{{grp.MaleCount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>


            </div>
    </form>
</section>