<link href="/css/print/Fees/MonthEndReport.css" rel="stylesheet" />
<section class="content" data-ng-init="loaddata()">
    <form class="form-horizontal ng-pristine ng-valid" role="form" data-ng-submit="ShowReportdata()" name="myForm" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Fee Month End Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="row">

                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="seluse" data-ng-model="academicyr" ng-change="get_years()" name="acd_year" required>
                                    <option value="" label="Select Year"> </option>
                                    <option ng-repeat="option in acayyearbind" value="{{option.asmaY_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{option.asmaY_Year}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.acd_year)" ng-messages="myForm.acd_year.$error">
                                    <div ng-message="required">Please Select the Academic Year</div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-sm-4">Month :<strong style="color:red;">*</strong></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="seluse" data-ng-model="monthmodel" name="mermon" required>
                                    <option value="">Select Month</option>
                                    <option ng-repeat="mon in month_name" value="{{mon.ivrM_Month_Id}}"
                                            ng-selected="{{mon.Selected == true}}">
                                        {{mon.ivrM_Month_Name}}
                                    </option>

                                </select>
                                <div class="error-messages" ng-if="interacted(myform.mermon)" ng-messages="myform.mermon.$error">
                                    <div ng-message="required">Select Month</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Year :<strong style="color:red;">*</strong></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="seluse" name="meryr" data-ng-model="yearmodel" required>
                                    <option value="">Select Year</option>
                                    <option ng-repeat="option in years" value="{{option.asmaY_Year}}"
                                            ng-selected="{{option.Selected == true}}">
                                        {{option.asmaY_Year}}
                                    </option>
                                </select>

                                <div class="error-messages" ng-if="interacted(myform.meryr)" ng-messages="myform.meryr.$error">
                                    <div ng-message="required">Select Year</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">IE Name:</label>
                            <div class="col-sm-8">
                                <input type="text" name="name" data-ng-model="IEname" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        <input type="checkbox" name="dfsd" ng-model="usercheck" ng-true-value="1" ng-false-value="0" /><span class="lbl padding-12">User Entry</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        <input type="checkbox" name="dfsd1" ng-model="usercheck1" ng-true-value="1" ng-false-value="0" /><span class="lbl padding-16">Settlement Report</span>
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" id="save-btn">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                            <md-button type="button" ng-click="Clear_Details();" target="_blank" class="md-raised md-warn">
                                <i class="fa fa-times" aria-hidden="true"></i> Clear
                            </md-button>
                            <md-button type="button" ng-show="report" class="md-raised md-primary" id="excel-btn" ng-click="exportToExcel()">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                Export to Excel
                            </md-button>

                            <md-button type="button" ng-show="report" class="md-raised md-primary" id="pdf-btn" ng-click="exportToPDF()">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                Export to PDF
                            </md-button>

                            <md-button type="button" class="md-raised md-primary" id="print-btn" ng-show="report" ng-click="printData();">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                Print
                            </md-button>

                        </div>

                    </div>

                    <hr />

                </div>
            </div>
            <div class="box box-primary" ng-show="report">

                <div class="box-header with-border">
                    <h3 class="box-title">FEE MONTH END</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">

                    <div class="MonthEndReport" id="tablegrp">
                        <div class="baldwin text-center">
                            <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                            <!--<img src="images/Boldwin Boys.png" class="img-responsive" />-->
                        </div>
                        <br />
                        <!--<h3 class="text-center">FEE MONTH END</h3>-->
                        <table class="table text-center">
                            <tr ng-if="grouptype=='T'">
                                <td class="text-center">
                                    TRANSPORT FEES {{month | uppercase}} MONTH REPORT
                                </td>
                            </tr>
                            <tr ng-if="grouptype!='T'">
                                <td class="text-center">
                                    SCHOOL FEES {{month | uppercase}} MONTH REPORT
                                </td>
                            </tr>

                        </table>
                        <table class="table table-bordered">
                            <tr>
                                <td>Name : </td>
                                <td>{{name}}</td>
                                <td>Date : </td>
                                <td>{{today | date}}</td>
                            </tr>
                            <tr>
                                <td>Designation : </td>
                                <td>{{designation}}</td>
                                <td>Academic Year : </td>
                                <td>{{acdyr}}</td>
                            </tr>
                        <!--</table>-->

                        <!--<table class="table table-bordered">-->

                            <tr>
                                <td>Total SMS : </td>
                                <td>{{smscnt}}</td>
                                <td>Total Email : </td>
                                <td>{{emailcnt}}</td>
                            </tr>
                        </table>
                        <br />

                        <div class="">
                            <table class="table-bordered">
                                <thead>
                                    <tr>
                                        <th>SL.NO</th>
                                        <th>Name</th>
                                        <th>Count</th>
                                        <!--<th>SMS</th>
                                        <th>Email</th>-->
                                        <th>Kiosk</th>
                                        <th>Portal and Dashboard</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Fee Collection By Cash</td>
                                        <td>{{fcbbcD}}</td>
                                        <!--<td>0</td>
                                        <td>0</td>-->
                                        <td>0</td>
                                        <td>0</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Fee Collection By Bank</td>
                                        <td>{{fcbcc}}</td>
                                        <!--<td>0</td>
                                        <td>0</td>-->
                                        <td>0</td>
                                        <td>0</td>

                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Fee Collection By Online</td>
                                        <td>{{fcboc}}</td>
                                        <!--<td>0</td>
                                        <td>0</td>-->
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Fee Collection By RTGS</td>
                                        <td>{{fcbEc}}</td>
                                        <!--<td>0</td>
                                        <td>0</td>-->
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Fee Collection By Card</td>
                                        <td>{{frbcc}}</td>
                                        <!--<td>0</td>
                                        <td>0</td>-->
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Fee Collection By ECS</td>
                                        <td>{{frbbecs}}</td>
                                        <!--<td>0</td>
                                        <td>0</td>-->
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Fee Refund by Cash</td>
                                        <td>{{frrefd}}</td>
                                        <!--<td>0</td>
                                        <td>0</td>-->
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>

                                    <tr>
                                        <td>8</td>
                                        <td>Fee Refund By Bank</td>
                                        <td>{{frrefdb}}</td>
                                        <!--<td>0</td>
                                        <td>0</td>-->
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Fee Defaulters</td>
                                        <td>{{frdef}}</td>
                                        <!--<td>{{smscnt}}</td>
                                        <td>{{emailcnt}}</td>-->
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div id="imageContainer" ng-show="img_graph">
                            <img id="chartImage" width="800px" height="300px">
                        </div>
                        <br />
                        <br />
                        <br />
                        <div>
                            <div class="row">

                                <div class="col-sm-6">Implementation Engineer:_______________</div>
                                <div class="col-sm-6">Nodal Officer:_______________</div>

                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-sm-6">End User:_______________</div>
                                <div class="col-sm-6">Seal</div>

                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="col-sm-12" ng-show="showGrafh">
                        <div class="box box-danger">

                            <div class="box-body">
                                <div id="rangeBarChat" style="height: 350px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </form>
</section>
