.BGHSAPP {
    width: 98%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}
.modal-lg {
    width: 70%;
}

    .BGHSAPP h1, .BGHSAPP h2, .BGHSAPP h3, .BGHSAPP h4, .BGHSAPP h5, .BGHSAPP h6,
    .BGHSAPP .h1, .BGHSAPP .h2, .BGHSAPP .h3, .BGHSAPP .h4, .BGHSAPP .h5, .BGHSAPP .h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        color: #3a5999 !important;
        font-weight: 700;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .BGHSAPP .table {
        width: 100%;
        border: 0px;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 10px;
        /* background: #95c7ef; */
    }

        .BGHSAPP .table > tbody > tr > td, .BGHSAPP .table > tbody > tr > th, .BGHSAPP .table > tfoot > tr > td, .BGHSAPP .table > tfoot > tr > th, .BGHSAPP .table > thead > tr > td, .BGHSAPP .table > thead > tr > th {
            padding: 8px;
            line-height: 1.0;
            /* vertical-align: top; */
            border: 0px;
            font-size: 1rem;
            font-weight: 500;
        }

    .BGHSAPP .box {
        margin: auto;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 0px;
    }

    .BGHSAPP .DOB-BOX {
        border: 1px solid #000;
        width: 20px;
        height: 20px;
        padding: 3px;
        padding-left: 6PX;
    }

    .BGHSAPP .img-style {
        /*width: 200px;
        height: 150px;*/
        border: 1px solid #ddd;
        margin: auto;
    }

    .BGHSAPP .img-box {
        margin-top: 67px;
    }

    .BGHSAPP .d {
        width: 49px;
        margin: auto;
        text-align: center;
    }

    .BGHSAPP .m {
        width: 44px;
        margin: auto;
        text-align: center;
    }

    .BGHSAPP .y {
        width: 75px;
        margin: auto;
        text-align: center;
    }
/*p::first-letter {
  font-weight: bold;
  color: blue;
  font:small-caps;
  
}*/
