
@media print {

    .ACalenderR {
        border: 1px solid #000000;
        padding: 1%;
        box-sizing: border-box;
    }

    body {
        margin: 0px !important;
    }

    @page {
        margin: 10mm 10mm 10mm 10mm;
    }

    .margin-top-20 {
        margin-top: 20px !important;
    }

    .table {
        table-layout: auto;
        width: 100%;
    }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 4px;
            line-height: 1;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
}
