.VIKASATCREPORT .table {
          width:80%;   
        margin:auto;  
        border: 0px !important;
        text-align: left !important;
        font-weight: 500;
        font-size: 15px !important;
        margin-bottom: 15px;
           line-height: 2;
       
    }
  
   .VIKASATCREPORT .border-bottom {
        border-bottom: 1px solid #000 !important;
        text-align: left !important;
        font-weight:bold !important;
    }
