
/*@media print {

    @page {        
        margin-top: 15px;
        margin-bottom: 70px;
    }

    body {
        margin: 0px;
    }

    .vikasahallticket {
        width: 100%;
        margin-bottom: 20px !important;
        margin-left: auto;
        font-size: 15px !important;
    }

    table {
        width: 100%;
        table-layout: fixed;
        font-size: 20px !important;
    }



    .table-bordered {
        table-layout: fixed;
        width: 100%;
        padding: 2px;
    }

    .table {
        table-layout: fixed;
        width: 100%;
        font-size: 15px !important;
        padding: 2px;
    }

    .profile-pic {
        border: 1px solid #000;
        width: 120px;
        height: 150px;
        float: right;
    }

    .table-bordered > tbody > tr > td {
        vertical-align: top;
        padding: 5px;
    }

    .img-responsive {
        width: 100% !important;
        margin: auto !important;
    }
    .img-responsivebbv {
        width: 70% !important;
        margin: auto !important;
    }
    .img-responsive1 {
        width: 50% !important;
        margin: auto !important;
    }

    .label {
        font-size: 20px !important;
        border: 0.8px solid black !important;
        padding: 2px !important;
    }

    .fontbbkv {
        font-size: 14px !important;
    }

    .profile-picbbkv {
        border: 1px solid #000;
        width: 100px;
        height: 100px;
        float: right;
    }
}*/

/*@media print {

    @page {
        margin-top: 15px;
        margin-bottom: 70px;
    }

    body {
        margin: 0px;
    }

    .vikasahallticket {
        width: 100%;
        margin-bottom: 20px !important;
        margin-left: auto;
        font-size: 15px !important;
    }

    table {
        width: 100%;
        table-layout: fixed;
        font-size: 20px !important;
    }

    .table {
        border: 0px !important;
        border-top: 0px !important;
    }

    .table-bordered {
        table-layout: fixed;
        width: 100%;
        padding: 2px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 4px;
        line-height: 1.42857143;
        vertical-align: top;
    }

    .table {
        table-layout: fixed;
        width: 100%;
        font-size: 15px !important;
        padding: 2px;
        border: 0px;
    }

    .profile-pic {
        border: 1px solid #000;
        width: 120px;
        height: 150px;
        float: right;
    }

    .table-bordered > tbody > tr > td {
        vertical-align: top;
        padding: 5px;
    }

    .img-responsive {
        width: 100% !important;
        margin: auto !important;
    }

    .img-responsivebbv {
        width: 70% !important;
        margin: auto !important;
    }

    .img-responsive1 {
        width: 50% !important;
        margin: auto !important;
    }

    .label {
        font-size: 20px !important;
        border: 0.8px solid black !important;
        padding: 10px !important;
        font-weight: bolder;
    }

    .fontbbkv {
        font-size: 14px !important;
    }

    .profile-picbbkv {
        border: 1px solid #000;
        width: 100px;
        height: 100px;
        float: right;
    }
}*/

@media print {

    @page {
        size: auto; /* auto is the initial value */
        /* this affects the margin in the printer settings */
        margin: 0;
    }

    body {
        /* this affects the margin on the content before sending to printer */
         /*margin: 5mm 5mm 5mm 5mm;*/
    }

    .vikasahallticket:nth-child(2n) {
        page-break-after: always !important;
    }
    .vikasahallticket {
        width: 100%;
        /*margin-top: 20px !important;
        margin-bottom: 20px !important;*/
        margin-left: auto;
        font-size: 15px !important;
    }


    .stjamesyear:nth-child(2n) {
        page-break-after: always !important;
    }

    .stjamesyear {
        width: 100%;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        margin-left: auto;
        font-size: 15px !important;
    }



    .table-bordered {
        table-layout: auto;
        width: 100%;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 4px;
        line-height: 0.8;
        vertical-align: top;
        font-size: 15px !important;
    }

    .table {
        table-layout: auto;
        width: 100%;
        font-size: 15px !important;
        padding: 2px;
        border: 0px !important;
        border-top: 0px !important;
    }

    .profile-pic {
        border: 1px solid #000;
        width: 100px !important;
        height: auto;
        float: right;
    }

    .table-bordered > tbody > tr > td {
        vertical-align: top;
        padding: 4px;
    }

    .img-responsive {
        width: 100% !important;
        margin: auto !important;
    }

    .img-responsivebbv {
        width: 70% !important;
        margin: auto !important;
    }

    .img-responsive1 {
        width: 50% !important;
        margin: auto !important;
    }

    .label {
        font-size: 20px !important;
        border: 0.8px solid black !important;
        padding: 10px !important;
        font-weight: bolder;
    }
    .vikasalabel {
        font-size: 10px !important;
        border: 0.8px solid black !important;
        padding: 2px 3px !important;       
    }


    .fontbbkv {
        font-size: 14px !important;
    }

    .profile-picbbkv {
        border: 1px solid #000;
        width: 100px;
        height: 100px;
        float: right;
    }

    .profile-picbbkvnew {
        border: 1px solid #000;
        width: 70px;
        height: 70px;
        float: right;
    }
}
