<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" ng-init="BindData()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Feedback Master Options</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Feedback Options :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="FMOP_FeedbackOptions" allow-pattern="(\s|[a-zA-Z])" maxlength="50" required name="typename" />
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.typename)" ng-messages="myForm.typename.$error">
                                <div ng-message="required">Enter The Feedback Option </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Option Value :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="FMOP_OptionsValue" allow-pattern="\d" maxlength="2" required name="typenamee" />
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.typenamee)" ng-messages="myForm.typenamee.$error">
                                <div ng-message="required">Enter The Feedback Option Value </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Options Remarks:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="FMOP_FeedbackORemarks" allow-pattern="(\s|[a-zA-Z])" maxlength="100" name="typeremarks" required />
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.typeremarks)" ng-messages="myForm.typeremarks.$error">
                                <div ng-message="required">Enter Feedback Option Remarks</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="onreport(obj)">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </md-button>
                            <md-button ng-hide="gridOptions.data.length>0" type="submit" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                            <md-button type="button" class="md-raised md-primary" data-toggle="modal" ng-show="catreport" data-target="#myModal">
                                <i class="fa fa-sort" aria-hidden="true"></i>Set order
                            </md-button>
                            <input type="hidden" ng-model="FMOP_Id" />
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </form>
    <div class="box box-primary" ng-show="catreport">
        <div class="box-header with-border">
            <h3 class="box-title">Feedback Master Options Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body" style="margin-top:9px;">
            <div class="col-sm-4 pull-right">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" ng-model="searchValue1" type="text" placeholder="search here...">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <table class="table table-hover table-responsive table-bordered" id="tabel1datweise" ng-show="catreport">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="sort('$index+1')">SL.No.</a></th>
                            <th><a href="" ng-click="sort('fmoP_FeedbackOptions')">Feedback Option </a></th>
                            <th><a href="" ng-click="sort('fmoP_OptionsValue')">Feedback Option Value</a></th>
                            <th><a href="" ng-click="sort('fmoP_FeedbackORemarks')">Feedback Option Remarks</a></th>
                            <th><a href="" ng-click="sort('fmoP_FOOrder')">Order</a></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user1 in filterValue2 = (getdetails | filter : searchValue1)| orderBy:sortKey:reverse|itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                            <td class="text-center">{{ itemsPerPage*(currentPage-1)+$index+1}}</td>
                            <td class="text-left">{{ user1.fmoP_FeedbackOptions}}</td>
                            <td class="text-center">{{ user1.fmoP_OptionsValue}}</td>
                            <td class="text-left">{{ user1.fmoP_FeedbackORemarks}}</td>
                            <td class="text-center">{{user1.fmoP_FOOrder}}</td>
                            <td class="text-center">
                                <a class="text-aqua" href="" ng-click="editdata(user1)" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>

                                &nbsp;
                                <span ng-if="user1.fmoP_ActiveFlag === false">
                                    <a href="" ng-click="deactiveY(user1)"
                                       class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                        <i> Activate </i>
                                    </a>
                                </span>
                                <span ng-if="user1.fmoP_ActiveFlag === true">
                                    <a href="" ng-click="deactiveY(user1)"
                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                        <i> Deactivate</i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true" on-page-change="pageChanged(newPageNumber)">
            </dir-pagination-controls>
        </div>

    </div>

</section>
<div class="modal fade modal-medium" id="myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="BindData()" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i><!--&times;--></button>
                <h4 class="modal-title text-white">Feedback Master Option  </h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>
                                SLNO
                            </th>
                            <th>
                                Feedback Option
                            </th>
                            <th>
                                Option Value
                            </th>
                            <th>
                                Option Remarks
                            </th>
                            <th>
                                Feedback Order
                            </th>
                        </tr>
                    </thead>
                    <tbody ui-sortable="sortableOptions" ng-model="grouptypeListOrder">
                        <tr ng-repeat="user in grouptypeListOrder">
                            <td class="handle text-center">{{$index+1}}</td>
                            <td class="handle text-left">{{ user.fmoP_FeedbackOptions}}</td>
                            <td class="handle text-center">{{ user.fmoP_OptionsValue}}</td>
                            <td class="handle text-left">{{ user.fmoP_FeedbackORemarks}}</td>
                            <td class="handle text-center">{{ user.fmoP_FOOrder}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="getOrder(grouptypeListOrder);">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="BindData()">Close</button>
            </div>
        </div>

    </div>
</div>