<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" ng-init="BindData()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Feedback Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center well">
                            <label class="radio-inline">
                                Feed Back Type
                            </label>
                            <label class="radio-inline">
                                <input name="optradio" ng-model="FMTY_StakeHolderFlag" value="Student" type="radio" ng-change="onchangeradio()" required>
                                <span class="lbl padding-8">Student</span>
                            </label>
                            <label class="radio-inline">
                                <input name="optradio" ng-model="FMTY_StakeHolderFlag" value="Parents" type="radio" ng-change="onchangeradio()" required>
                                <span class="lbl padding-8">Parents</span>
                            </label>
                            <!--<label class="radio-inline">
                                <input name="optradio" ng-model="FMTY_StakeHolderFlag" value="Alumini" type="radio" ng-change="onchangeradio()" required>
                                <span class="lbl padding-8">Alumini</span>
                            </label>-->
                            <label class="radio-inline">
                                <input name="optradio" ng-model="FMTY_StakeHolderFlag" value="Staff" type="radio" ng-change="onchangeradio()" required>
                                <span class="lbl padding-8">Staff</span>
                            </label>
                            <div class="error-messages" ng-if="interacted(myForm.optradio)" ng-messages="myForm.optradio.$error">
                                <div ng-message="required">Select Type</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel1" name="stuclass" data-ng-model="ASMAY_Id" required>
                                    <option value="">--Select Year--</option>
                                    <option ng-repeat="class in yearlist" value="{{class.asmaY_Id}}" ng-selected="{{class.Selected == true}}">
                                        {{class.asmaY_Year}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.stuclass)" ng-messages="myForm.stuclass.$error">
                                <div ng-message="required">Select Year</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Feedback Type:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sel12" name="feedbCK" data-ng-model="FMTY_Id" required>
                                    <option value="">--Select Year--</option>
                                    <option ng-repeat="class in feedbacktype" value="{{class.fmtY_Id}}" ng-selected="{{class.Selected == true}}">
                                        {{class.fmtY_FeedbackTypeName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.feedbCK)" ng-messages="myForm.feedbCK.$error">
                                <div ng-message="required">Select Feedback Type</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="onreport(obj)">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                Tabular Report
                            </md-button>
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="onreport1(obj)">
                                <i class="fa fa-bar-chart " aria-hidden="true"></i>
                                Graphical Report
                            </md-button>
                            <md-button ng-hide="gridOptions.data.length>0" type="submit" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                            <md-button type="button" class="md-raised md-primary" ng-show="table" ng-click="PrintChart()">
                                <!--id="exportButton"-->
                                <i class="fa fa-print" aria-hidden="true"></i>Print
                            </md-button>
                            <md-button type="button" class="md-raised md-primary" ng-show="graphs" id="exportButton">
                                <i class="fa fa-print" aria-hidden="true"></i>Print
                            </md-button>
                            <input type="hidden" ng-model="FMTY_Id" />
                        </div>

                    </div>
                </div>
                <hr />
            </div>
        </div>
    </form>

    <div class="box" ng-show="graphs">
        <div class="box-body">
            <div class="row" id="chartsContainer">
                <div class="col-sm-12" ng-repeat="t in temp123">
                    <div style="margin-bottom:10%; padding:1%;padding-bottom: 3%;border:1px solid #333;">
                        <h3 class="text-center"> {{t.header}}</h3>
                        <div id="chartsContainer{{t.n}}" style="height: 350px; width: 80%;margin:auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box" ng-show="table">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Feedback Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="printSectionId1">
                    <div class="baldwin text-center">
                        <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-6">
                            <h3>{{yearname}} </h3>
                        </div>
                        <div class="col-sm-6">
                            <h3>{{reportname}} </h3>
                        </div>
                        <!--<h3>{{reportname}} </h3>-->
                    </div>
                    <br />
                    <div ng-repeat="report in temp123">
                        <div class="row">
                            <h3 class="text-center margin-top-5">{{report.header}}</h3>
                        </div>
                        <div class="margin-top-10">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">SL.NO.</th>
                                        <th class="text-center">Feedback Option</th>
                                        <th class="text-center">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in report.optiondetails">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td class="text-left padding-left-15">{{user.optionname}}</td>
                                        <td class="text-center">{{user.optionscore}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

