.smartcard .table {
    table-layout: auto;
    width: 100%;
    border: 0px;
    border-top: 0px;
    text-align: left;
}

    .smartcard .table td {
        word-break: break-all;
    }

    .smartcard .table > thead > tr > th,
    .smartcard .table > tbody > tr > th,
    .smartcard.table > tfoot > tr > th,
    .smartcard .table > thead > tr > td,
    .smartcard .table > tbody > tr > td,
    .smartcard .table > tfoot > tr > td {
        border-top: 0px !important;
        padding: 4px !important;
        line-height: 1.42857143 !important;
        vertical-align: middle !important;
    }

.min-height-17 {
    min-height: 17.4rem !important;
}
/*parent smart card*/
.min-height-194 {
    min-height: 194px !important;
}

.min-height-200 {
    min-height: 200px !important;
}

.min-height-261 {
    min-height: 261px !important;
}

.min-height-296 {
    min-height: 296px !important;
}
/*student smart card*/
.min-height-445 {
    min-height: 423px !important;
}

.min-height-250 {
    min-height: 250px !important;
}

.min-height-244 {
    min-height: 242px !important;
}
.min-height-135 {
    min-height: 135px !important;
}

.min-height-169 {
    min-height: 169px !important;
}

.min-height-366 {
    min-height: 366px !important;
}
