
@media print {
    @page {
        size: landscape;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: 0px !important;
        padding: 4px !important;
        line-height: 1.42857143 !important;
        vertical-align: middle !important;
    }

    .table {
        table-layout: auto;
        width: 100%;
        border: 0px !important;
        border-top: 0px !important;
        text-align: left;
        font-size: 14px;
    }

    .img-responsive, img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .min-height-17 {
        min-height: 15.4rem !important;
    }

    .padding-right-5 {
        padding-right: 5px !important;
    }
    /*parent smart card*/
    .min-height-194 {
        min-height: 194px !important;
    }

    .min-height-200 {
        min-height: 200px !important;
    }

    .min-height-261 {
        min-height: 255px !important;
    }

    .min-height-296 {
        min-height: 300px !important;
    }
    /*student smart card*/
    .min-height-250 {
        min-height: 250px !important;
    }

    .min-height-445 {
        min-height: 433px !important;
    }

    .min-height-244 {
        min-height: 223px !important;
    }

    .min-height-135 {
        min-height: 135px !important;
    }

    .min-height-169 {
        min-height: 169px !important;
    }

    .min-height-366 {
        min-height: 378px !important;
    }
}
