.VIKASAProgressCardReport .table {
    width: 100%;
    margin: auto;
    border: 0px !important;
    text-align: left !important;
    font-weight: 500;
    font-size: 12px !important;
    margin-bottom: 10px;
    line-height: 2;
}

    .VIKASAProgressCardReport .table > tbody > tr > td {
        border-top: 0px !important;
    }

.VIKASAProgressCardReport .table-bordered {
    width: 100%;
    table-layout: fixed;
}

.padding-left-108 {
    padding-left: 108px !important;
}

.padding-left-61 {
    padding-left: 61px !important;
}

.padding-left-250 {
    padding-left: 180px !important;
}

.VIKASAProgressCardReport .border {
    border: 1px solid #000;
    border-radius: 27px;
    padding: 10px;
}

.VIKASAProgressCardReport .watermark {
    width: 100%;
    height: auto;
    background: url('/images/clients/vikasa/images/vikasa water11.png') no-repeat center 45%;
    background-size: 40%;
}

.VIKASAProgressCardReport.thead {
    background: #fafafa !important;
    color: black !important;
    text-align: center !important;
}

.VIKASAProgressCardReport .border {
    border: 1px solid black;
    padding: 1%;
    border-radius: 20px !important;
    padding-top: 30px;
}


.VIKASAProgressCardReport.bordernew {
    border: 1px solid black;
    padding: 1%;
    border-radius: 30px !important;
    padding-top: 11px;
}

.VIKASAProgressCardReport.tdcolor {
    background: #0463c2;
    color: #fff !important;
}
