
@media print {
    @page {
        margin: 20px;
    }

    body {
        font-family: 'Times New Roman', Times, serif;
        margin: 0px;
    }

    .table-bordered {
        table-layout: auto;
        width: 100%;
        font-size: 12px;
    }

        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
            border: 0.8px solid #cad4de;
            padding: 5px;
            vertical-align: middle;
        }
        .table-bordered thead {
            background: #0463c2 !important;
            color: #fff !important;
            text-align: center !important;
        }
    .table {
        table-layout: auto;
        width: 100%;
        border: 0px !important;
        font-size: 12px;
        text-align: left !important;
        border-radius: 20px;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .my-footer {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
    }

    .border {
        border: 1px solid black;
        padding: 1%;
        border-radius: 30px !important;
        padding-top: 20px;
    }

    .watermark {
        width: 100%;
        height: auto;
        background: url('/images/clients/vikasa/images/The Vikasa International1.png') no-repeat center 45%;
        background-size: 40%;
    }

    .padding-left-250 {
        padding-left: 180px !important;
    }
    .padding-center-250 {
        padding-left: 250px !important;
    }
    .margin-bottom-none{
        margin-bottom :0px!important;
    }
   
}
