
<section class="content">
    <div class="box box-primary" data-ng-init="BindData()">
        <div class="box-header with-border">
            <h3 class="box-title">Master Break Time Settings</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="ShowHide1()" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <form class="form-horizontal" role="form" name="myForm" novalidate>
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="asdas" name="ayr" ng-model="asmaY_Id" ng-change="get_category()" ng-disabled="asmaY_Id_flag" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="optlst1 in academic" value="{{optlst1.asmaY_Id}}" ng-selected="{{option.Selected == true}}">
                                        {{optlst1.asmaY_Year}}
                                    </option>
                                </select>                           
                                <div class="error-messages" ng-if="interacted(myForm.ayr)" ng-messages="myForm.ayr.$error">
                                    <div ng-message="required">Please Select Academic Year</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class :</label>
                            <div class="multiselect col-sm-8">
                                <label ng-repeat="option in arrlist2" value="{{option.asmcL_Id}}" >
                                    <input name="option[]" value="1" ng-model="option.selected" type="checkbox" ng-disabled="asmaY_Id_flag">
                                    <span class="lbl padding-8">
                                        {{option.asmcL_ClassName}}
                                    </span>
                                </label>
                               
                            </div>
                         
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Break Name :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="banme" class="form-control active" data-ng-model="TTMB_BreakName" id="reservation1" ng-paste="$event.preventDefault()" allow-pattern="(\s|[a-zA-Z])" ng-minlength="3" required>
                                <div class="error-messages" ng-if="interacted(myForm.banme)" ng-messages="myForm.banme.$error">
                                    <div ng-message="required">Enter the Break Name</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" style="padding-top: 7%;">Start Time :<span style="color:Red">*</span></label>
                            <div class="col-sm-8" allow-pattern="(\s|[0-9])">
                                <div uib-timepicker name="StartTime" ng-model="TTMB_BreakStartTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" ng-disabled="timedis" min="min" show-meridian="true"  required></div>
                                <div class="error-messages" ng-if="interacted(myForm.StartTime)" ng-messages="myForm.StartTime.$error">
                                    <div ng-message="required">Select Start Time</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Before Period :</label>
                            <div class="multiselect col-sm-8">
                                <label ng-disabled="true" ng-repeat="optionb in arrbefor" value="{{optionb.TTPeriodnameB}}">
                                    <input name="option[]" value="1" ng-model="optionb.arrbefor" type="checkbox" ng-checked="true" ng-disabled="true">
                                    <span class="lbl padding-8">
                                        {{optionb.TTPeriodnameB}}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Category :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="selv1v" name="cat" ng-model="ttmC_Id" ng-change="get_class()" ng-disabled="asmaY_Id_flag" required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="optlst in categorylst" value="{{optlst.ttmC_Id}}" ng-selected="{{optlst.Selected == true}}">
                                        {{optlst.ttmC_CategoryName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.cat)" ng-messages="myForm.cat.$error">
                                    <div ng-message="required">Please Select Category</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Day :<span style="color:Red">*</span></label>
                            <div class="multiselect col-sm-8">
                                <label ng-repeat="option1 in arrlist3" value="{{option1.ttmD_Id}}" required>
                                    <input name="option1[]" value="1" ng-model="option1.selected" type="checkbox"  ng-disabled="asmaY_Id_flag">
                                    <span class="lbl padding-8">{{option1.ttmD_DayName}}  </span>
                                </label>

                              
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">After Period :<span style="color:Red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" name="Afterper" class="form-control active" ng-change="get_periods(arrlist2)" data-ng-model="TTMB_AfterPeriod" ng-paste="$event.preventDefault()" maxlength="5" allow-pattern="\d" required>
                                <div class="error-messages" ng-if="interacted(myForm.Afterper)" ng-messages="myForm.Afterper.$error">
                                    <div ng-message="required">Enter the After Period </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" style="padding-top: 7%;">End Time :<span style="color:Red">*</span></label>
                            <div class="col-sm-8" allow-pattern="(\s|[0-9])">
                                <div uib-timepicker name="endtime" ng-model="TTMB_BreakEndTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" ng-disabled="timedis" min="min" show-meridian="true" required></div>
                                <div class="error-messages" ng-if="interacted(myForm.endtime)" ng-messages="myForm.endtime.$error">
                                    <div ng-message="required">Select End Time</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">After Period :</label>
                            <div class="multiselect col-sm-8">
                                <label data-ng-model="PASR_Id" ng-disabled="true" ng-repeat="option in arraftefoper" value="{{option.TTPeriodnameA}}">
                                    <input name="option[]" value="1" ng-model="option.arraftefoper" type="checkbox" ng-checked="true" ng-disabled="true">
                                    <span class="lbl padding-8">
                                        {{option.TTPeriodnameA}}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <input type="hidden" ng-model="countrrrrr" />
                    <input type="hidden" ng-model="TTMB_Id" />
                    <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary"  ng-click="saveddata()">
                        <i class="fa fa-save" aria-hidden="true"></i> Save
                    </md-button>

                    <md-button type="button" class="md-raised md-warn" ng-click="clearid()">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </md-button>
                </div>
            </div>
        </form>
    </div>
    <div class="box box-primary">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Break Time Grid View</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div ui-grid="gridOptions" ui-grid-pagination class="grid text-center" id="style-4" style="height: 270px;"></div>
            </div>
        </div>
    </div>

</section>