<style>
    .modal-footer {
        border-top-color: #0063c4 !important;
        background: #0063c4 !important;
        color: #fff !important;
        padding: 8px !important;
    }
</style>
<section class="content">

    <div data-ng-init="loaddata()">

        <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Medical Record</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row col-sm-12 form-horizontal">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4">
                                    Staff Name:
                                    <span style="color:red">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <!--<ui-select id="sel1" name="empname" ng-model="hrmE_Id" ng-true-value="1" theme="bootstrap" ng-keyup="searchfilter($select,filterdata);" title="Select Employee" ng-disabled="disabledata" ng-required="!disabledata" ng-change="leavedetails(hrmE_Id)">
                                        <ui-select-match placeholder="Select or search Employee in the list...">
                                            {{$select.selected.hrmE_EmployeeFirstName}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="option in get_emp | propsFilter: {hrmE_EmployeeFirstName: $select.search}"
                                                           value="{{option.hrmE_Id}}" ng-selected="{{option.Selected == true}}">
                                            <div ng-bind-html="option.hrmE_EmployeeFirstName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>-->
                                    <ui-select id="sel1" name="itemnm" ng-model="$parent.hrmE_Id" theme="bootstrap" ng-keyup="searchfilter($select);" title="Select Employee" required>
                                        <ui-select-match ng-trim="false" placeholder="Select or search Emp in the list...">{{$select.selected.hrmE_EmployeeFirstName}}</ui-select-match>
                                        <ui-select-choices repeat="option in get_emp | filter: $select.search " value="{{option.hrmE_Id}}" ng-selected="{{option.Selected == true}}">
                                            <div ng-bind-html="option.hrmE_EmployeeFirstName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sel2" class="control-label col-sm-4">Name: <span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" placeholder="Enter name" class="form-control" ng-model="HREMR_TestName" name="name" required />
                                    <div class="error-messages" ng-if="interacted(myForm.name)" ng-messages="myForm.name.$error">
                                        <div ng-message="required">Enter Name</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Test Date: <span style="color:Red">*</span> </label>
                                <div class="col-sm-8">
                                    <md-datepicker ng-model="HREMR_TestDate" name="start_date" md-placeholder="Enter date"  required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.start_date)" ng-messages="myForm.start_date.$error">
                                        <div ng-message="required">Select Date</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sel2" class="control-label col-sm-4">Remarks: </label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" placeholder="Enter Remarks" type="text" data-ng-model="HREMR_Remarks" name="remarks" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-sm-6">
                            <table class="table table-hover table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>SL NO</th>
                                        <th>Upload File</th>
                                        <th>File Name</th>
                                        <th>View</th>
                                        <th>Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="other in documentListOtherDetails track by $index">
                                        <td>{{$index+1}}</td>

                                        <td>
                                            <div class="col-sm-12" style="padding-bottom: 5px;">
                                                <div class="form-group text-center">
                                                    <label class="custom-file-input file-bluenew" style="width:100%;margin:auto;margin-bottom: 13%;">
                                                        <input type="file" name="doc1" accept="video/mp4,audio/*,video/x-ms-wmv,image/*, application/pdf, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.wordprocessingml.document" data-ng-model="documentListOtherDetails[$index].INTBFL_FilePath" onchange="angular.element(this).scope().selectFileforUploadzdOtherDetail(this, angular.element(this).scope().other)">
                                                    </label>
                                                    <div class="error-messages" ng-if="interacted13(myForm13.doc1)" ng-messages="myForm13.doc1.$error">
                                                        <div ng-message="required">Upload the file</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="other.cc" disabled />
                                        </td>
                                        <td>
                                            <a ng-show="other.INTBFL_FilePath  !=null && other.INTBFL_FilePath !=''" style="color:red;display:inline; font-weight: bolder;" data-ng-click="previewimg_new(other.INTBFL_FilePath)"> view</a>
                                        </td>
                                        <td>
                                            <span class="input-group-addon" ng-hide="documentListOtherDetails.length > 30">
                                                <a href="" ng-show="$last" ng-click="addNewDocumentOtherDetail()" style="color:#000;">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </span>
                                            <span class="input-group-addon" id="remove" ng-hide="documentListOtherDetails.length ==1">
                                                <a href="" ng-click="removeNewDocumentOtherDetail($index,other)" style="color:#000;">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-button type="button" class="md-raised md-primary" ng-click="AddtoCart()" id="save-btn">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    Add To Cart
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-if="pdfDetails.length > 0">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        Sl No
                                    </th>
                                    <th>
                                        Staff Name
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Remark
                                    </th>
                                    <th>
                                        FileCount
                                    </th>
                                    <th>
                                        Remove
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dd in  pdfDetails">
                                    <td>
                                        {{$index+1}}
                                    </td>

                                    <td>
                                        {{dd.hrmE_EmployeeFirstName}}
                                    </td>
                                    <td>
                                        {{dd.HREMR_TestName}}
                                    </td>
                                    <td>
                                        {{dd.HREMR_TestDate  | date:"dd-MM-yyyy"}}
                                        <md-datepicker ng-model="dd.HREMR_TestDatetwo" md-placeholder="Enter date" ng-hide="true"></md-datepicker>
                                    </td>
                                    <td>
                                        {{dd.HREMR_Remarks}}
                                    </td>
                                    <td>
                                        <i class="fa fa-eye">  {{dd.FileCount}} </i>
                                    </td>
                                    <td class="text-center">
                                        
                                        <a href="javascript:void(0)" ng-click="Deletedata(dd)" data-toggle="tooltip" title="Delete"
                                           ><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12" ng-if="pdfDetails.length > 0">
                        <div class="text-center">
                            <div class="">
                                <div class="text-center">
                                    <input type="hidden" ng-model="HREMR_Id" value="{{hremR_Id}}" />
                                    <md-button type="button" class="md-raised md-primary" ng-click="savedata()" id="save-btn">
                                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                                        Save
                                    </md-button>
                                    <md-button type="button" class="md-raised md-warn" ng-click="clear_Id()">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        Cancel
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="" ng-show="appliedgrid.length > 0">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Medical Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{appliedgrid.length}}
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group" ng-if="search!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue.length}}
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover table-responsive text-center">
                        <thead>
                            <tr>
                                <th>
                                    Sl No
                                </th>
                                <th>
                                    Staff Name
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Remark
                                </th>
                                <th>
                                    FileCount
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="dd in filterValue1=(appliedgrid |filter:search) |orderBy:sortKey:sortReverse  |itemsPerPage:itemsPerPage" current-page="currentPage">
                                <td class="text-center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                <td>
                                    {{dd.EmployeeName}}
                                </td>
                                <th>
                                    {{dd.HREMR_TestName}}
                                </th>
                                <th>
                                    {{dd.HREMR_TestDate  | date:"dd-MM-yyyy"}}

                                </th>
                                <th>
                                    {{dd.HREMR_Remarks}}
                                </th>
                                <td>
                                    <!--<i class="fa fa-eye">  {{dd.CountofRecords}} </i>-->
                                    <!--<span ng-show="dd.FileCount==0">
                                        ---
                                    </span>-->
                                    <span ng-show="dd.CountofRecords>0">
                                        <a href="javascript:void(0)" class="text-primary" data-placement="bottom" title="All View" data-toggle="modal" ng-click="viewData(dd)">
                                            <i class="fa fa-eye">  {{dd.CountofRecords}} </i>
                                        </a>
                                    </span>
                                </td>
                                <td>
                                    <!--<a href="javascript:void(0)" ng-click="Editrecord(newuser1)" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i></a>-->
                                    <span ng-if="dd.HREMR_ActiveFlag===false">
                                        <a href="" ng-click="deactivate(dd)"
                                           class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                            Activate
                                        </a>
                                    </span>
                                    <span ng-if="dd.HREMR_ActiveFlag===true">
                                        <a href="" ng-click="deactivate(dd)"
                                           class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                            Deactivate
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="10"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myModalCoverview" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:55%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i></button>
                <h4 class="modal-title text-white">Employee Medical Record Details </h4>
            </div>
            <div class="modal-body">
               
                <div class="box-body">

                    <table class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>SL NO</th>
                                <th>Upload File</th>
                                <th>File Name</th>
                                <th>View</th>
                                <th>Download</th>
                                <th>Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="other in attachementlist track by $index">
                                <td>{{$index+1}}</td>

                                <td>
                                    <div class="col-sm-12" style="padding-bottom: 5px;">
                                        <div class="form-group text-center">
                                            <label class="custom-file-input file-bluenew" style="width:100%;margin:auto;margin-bottom: 13%;">
                                                <input type="file" name="doc1" accept="video/mp4,audio/*,video/x-ms-wmv,image/*, application/pdf, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.wordprocessingml.document" data-ng-model="documentListOtherDetails[$index].INTBFL_FilePath" onchange="angular.element(this).scope().selectFileforUploadzdOtherDetail(this, angular.element(this).scope().other)">
                                            </label>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="other.cc" disabled />
                                </td>
                                <td>
                                    <a ng-show="other.INTBFL_FilePath  !=null && other.INTBFL_FilePath !=''" style="color:red;display:inline; font-weight: bolder;" data-ng-click="previewimg_new(other.INTBFL_FilePath)"> view</a>
                                </td>
                                <td>
                                    <a ng-show="other.HREMRF_Attachment!='HyperLink' &&  option.cc !='' && other.INTBFL_FilePath  !=null && other.INTBFL_FilePath !=''"  href="{{other.FilePath}}">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </a>
                                    
                                </td>
                                <td>
                                    <span class="input-group-addon" ng-hide="attachementlist.length > 30">
                                        <a href="" ng-show="$last" ng-click="addNewDocumentOtherDetaildocumentss()" style="color:#000;">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                    <span class="input-group-addon" id="remove" ng-hide="attachementlist.length ==1">
                                        <a href="" ng-click="removeNewDocumentOtherDetailss($index,other)" style="color:#000;">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12" ng-if="attachementlist.length > 0">
                        <div class="text-center">
                            <div class="">
                                <div class="text-center">
                                    <input type="hidden" ng-model="HREMR_Idtwo" value="{{HREMR_Idtwo}}" />
                                    <md-button type="button" class="md-raised md-primary" ng-click="savedatatwo(HREMR_Idtwo)" id="save-btn">
                                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                                        Update
                                    </md-button>
                                    <!--<md-button type="button" class="md-raised md-warn close"  data-dismiss="modal">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        Cancel
                                    </md-button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!--My Moadal Coverview-->


<!--==================== Image Preview Model ===========================-->
<div id="myimagePreview" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:55%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i></button>
                <h3>{{filenames}}</h3>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="box-body">
                        <img id="preview" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====================PDF view========-->
<div id="showpdf" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="qqqq">
            <div class="modal-content">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <div id="pdfIdzz">
                </div>
            </div>
        </form>
    </div>
</div>

