<script src='https://meet.jit.si/external_api.js'></script>
<script>
    function loadvalues(hostid) {
        debugger;
        var json_data = hostid.getAttribute("data-filterListId");
        var obj = JSON.parse(json_data);
        debugger;
        var hostname = obj.student;
        var hostnameemp = obj.name;
        var roomName = obj.lmslmeeT_MeetingId;
        if (hostname != '' && roomName != '') {
            const domain = 'meet.jit.si';
            const options = {
                roomName: roomName,
                parentNode: document.querySelector('#meet'),
                configOverwrite: {
                    startWithAudioMuted: true,
                    constraints: {
                        video: {
                            height: {
                                ideal: 720,
                                max: 720,
                                min: 240
                            }
                        }
                    },
                    desktopSharingChromeDisabled: false,
                    liveStreamingEnabled: true,
                    enableWelcomePage: false,
                    enableCalendarIntegration: false,
                    gatherStats: true,
                    enableDisplayNameInStats: true,
                    disableInviteFunctions: false,
                    fileRecordingsEnabled: false,
                    fileRecordingsServiceEnabled: false,
                    enableDisplayNameInStats: false,
                    enableEmailInStats: true,
                    enableNoAudioDetection: true,
                    enableNoisyMicDetection: true,
                    useNicks: false,
                    enableClosePage: true,
                    //enableUserRolesBasedOnToken: true,
                    //enableFeaturesBasedOnToken: true,
                    lockRoomGuestEnabled: true,
                    gatherStats: true,
                    //localRecording: {
                    //    enabled: true,
                    //    format: 'flac'
                    //},
                    remoteVideoMenu: {
                        disableKick: true
                    },
                    disableRemoteMute: true,
                    desktopSharingChromeSources: ['window', 'tab'],
                    prejoinPageEnabled: false,
                    requireDisplayName: true,

                },
                interfaceConfigOverwrite: {
                    //SHOW_JITSI_WATERMARK: true,
                    //JITSI_WATERMARK_LINK: '',
                    //SHOW_WATERMARK_FOR_GUESTS: false,
                    //DEFAULT_BACKGROUND: 'rgb(109, 128, 169)',
                    DEFAULT_LOCAL_DISPLAY_NAME: hostname,
                    DEFAULT_REMOTE_DISPLAY_NAME: hostnameemp,
                    DISPLAY_WELCOME_PAGE_CONTENT: false,
                    GENERATE_ROOMNAMES_ON_WELCOME_PAGE: false,
                    TOOLBAR_BUTTONS: [
                        'microphone', 'camera', 'closedcaptions', 'desktop', 'fullscreen',
                        'fodeviceselection', 'profile', 'chat', 'etherpad', 'settings', 'raisehand',
                        'videoquality', 'filmstrip', 'shortcuts',
                        'tileview'
                    ],
                    DISABLE_FOCUS_INDICATOR: true,
                    DISABLE_DOMINANT_SPEAKER_INDICATOR: false,
                    VIDEO_QUALITY_LABEL_DISABLED: false,
                    RECENT_LIST_ENABLED: false,
                    DISABLE_JOIN_LEAVE_NOTIFICATIONS: true,
                    CLOSE_PAGE_GUEST_HINT: true,
                    //APP_NAME: 'Vaps LMS',
                    //NATIVE_APP_NAME: 'Vaps LMS',
                    //PROVIDER_NAME: 'Vaps',
                    //desktopSharingChromeExtId: null,
                    OPTIMAL_BROWSERS: ['chrome', 'chromium', 'firefox', 'nwjs', 'electron', 'safari'],
                    //DISABLE_VIDEO_BACKGROUND: true,
                    //SHOW_PROMOTIONAL_CLOSE_PAGE: false,
                    //CLOSE_PAGE_GUEST_HINT: false,
                    DISABLE_TRANSCRIPTION_SUBTITLES: false,
                    SUPPORT_URL: 'https://vapstech.com/',
                    SHOW_CHROME_EXTENSION_BANNER: false,
                    SETTINGS_SECTIONS: ['devices', 'language', 'profile'],
                    MOBILE_APP_PROMO: false,
                }
            };
            const api = new JitsiMeetExternalAPI(domain, options);

        }





    }
</script>

<section class="content">
    <!--id="idForJS" data-ng-controller="StudentMeetingProfileController"-->
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-init="onLoadGetData()" novalidate>
        <!--<div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Meeting Profile Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-sm-12 well">
                <div class="col-sm-4">
                    <div class="form-group text-center">
                        <div>
                            <img style="width:48%;height:150px;border:groove;" src="{{hrmE_Photo}}" id="blah{{$index +1}}">
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="row" style="padding:4px;">
                        <label class="control-label col-sm-3"> <b>NAME :</b></label>
                        <label class="control-label col-sm-3"> {{amst_FirstName}}</label>
                        <label class="control-label col-sm-3"> <b>ADMISSION No. :</b></label>
                        <label class="control-label col-sm-3"> {{amst_AdmNo}}</label>
                    </div>

                    <div class="row" style="padding:4px;">
                        <label class="control-label col-sm-3"> <b>DOB :</b></label>
                        <label class="control-label col-sm-3"> {{HRME_DOB |date:'dd/MM/yyyy'}}</label>
                        <label class="control-label col-sm-3"> <b>GENDER :</b></label>
                        <label class="control-label col-sm-3"> {{gender}}</label>
                    </div>
                    <div class="row" style="padding:4px;">
                        <label class="control-label col-sm-3"> <b>CLASS :</b></label>
                        <label class="control-label col-sm-3"> {{classname}}</label>
                        <label class="control-label col-sm-3"> <b>SECTION :</b></label>
                        <label class="control-label col-sm-3"> {{sectionname}}</label>
                    </div>
                </div>
            </div>


        </div>
    </div>-->

        <div class="box box-primary" ng-show="ttt">
            <div class="box-header with-border">
                <div class="box-header with-border">
                    <div class="col-sm-5 pull-left">
                        <label class="control-label col-sm-5" style="font-size: large;font-weight: 500;">Scheduled Date :</label>
                        <md-datepicker ng-model="LMSLMEET_PlannedDate" onkeydown="return false" name="From_Date" md-max-date="maxDatemf" id="date1" md-placeholder="Enter  date" ng-change="ondatechange()" required></md-datepicker>
                    </div>
                    <div class="col-sm-1" style="margin-left:10%">
                        <button type="button" style="background-color:#2669bc;border-radius:20px;" ng-click="clearallsettings()" class="btn btn-info" title="Reset Settings"><i class="fa fa-refresh" aria-hidden="true">&nbsp;&nbsp;Refresh</i></button>
                    </div>
                    <div class="col-sm-4 pull-right" style="margin-top: 10px;" ng-if="vcflag=='BBB'">
                        <a href="javascript:void(0)" class="text-primary ng-pristine ng-valid ng-touched" data-placement="bottom" data-toggle="modal" title="Recordings" data-ng-model="planner" data-target="#myModalView" aria-invalid="false" style="font-weight: bold;">
                            <i class="fa fa-eye fa-1x" aria-hidden="true" style="font-weight: bold;font-size:large;">  Previous Class Recording</i>
                        </a>
                    </div>
                </div>
            </div>
           
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-sm-6" ng-show="joinmeetinglist.length>0" style="padding-left:20px">
                    <div class="row">
                        <h4 class="box-title"> UPCOMING MEETINGS</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pull-left">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="well" style="border-radius:10px;border-top:3px solid #666cb9 !important;font-family:serif" dir-paginate="mm in filterValue3 = (joinmeetinglist | filter : searchValue)  |itemsPerPage:itemsPerPage1" current-page="currentPage1" ng-class-odd="'odd'">
                            <div class="row">
                                <label class="control-label col-sm-12"> MEETING ID :<span style="color:red;margin-left:12px"><b>{{mm.lmslmeeT_MeetingId}}</b></span></label>
                                <label class="control-label col-sm-12">
                                    <!--<span><b>CLASS:</b></span><span style="color:#5959b1;font-size:16px;font-weight:bold"> {{mm.asmcL_ClassName}}</span>
                            <span><b> - SECTION:</b></span><span style="color:#5959b1;font-size:16px;font-weight:bold"> {{mm.asmC_SectionName}}</span>-->
                                    <span><b>SUBJECT:</b></span><span style="color:#5959b1;font-size:16px;font-weight:bold"> {{mm.ISMS_SubjectName}}</span>
                                </label>
                                <label class="control-label col-sm-12"> TOPIC :<span style="color:forestgreen;font-size:14px;margin-left:12px"><b>{{ mm.lmslmeeT_MeetingTopic}}</b></span></label>
                                <label class="control-label col-sm-12"> SCHEDULED BY :<span style="color:firebrick;font-size:14px;margin-left:12px"><b>{{ mm.EmpName}}</b></span></label>
                                <label class="control-label col-sm-12"> SCHEDULED DATE/TIME :<span style="font-size:16px;margin-left:12px"><b>{{ mm.lmslmeeT_PlannedDate | date:'dd-MM-yyyy'}} -- &nbsp;( {{mm.lmslmeeT_PlannedStartTime}} To {{mm.lmslmeeT_PlannedEndTime}} )</b></span></label>
                                <label class="control-label col-sm-12" ng-if="mm.lmslmeeT_MeetingDate!=null && mm.lmslmeeT_MeetingDate!=''"> STARTED DATE /TIME :<span style="font-size:16px;margin-left:12px"><b>{{ mm.lmslmeeT_MeetingDate |date:'dd-MM-yyyy'}} -- &nbsp;( {{mm.lmslmeeT_StartedTime}} )</b></span></label>
                                <div class="col-sm-12" ng-show="mm.lmslmeeT_MeetingDate==null">
                                    <button type="button" class="btn btn-info" style="float:right">NOT STARTED</button>
                                </div>
                                <div class="col-sm-12" ng-show="mm.lmslmeeT_MeetingDate !=null && (mm.lmslmeeT_EndTime !=null || mm.lmslmeeT_EndTime !='')">
                                    <button type="button" class="btn btn-success" style="float:right;padding: 5px 30px !important;font-weight:bold" ng-click="joinmeeting(mm)" data-filterListId="{{mm}}" onclick="loadvalues(this)" ng-if="vcflag=='JITSI'">
                                        <span ng-if="mm.join=='N'">JOIN</span>
                                        <span ng-if="mm.join=='Y'">RE-JOIN</span>
                                    </button>
                                    <button type="button" class="btn btn-success" style="float:right;padding: 5px 30px !important;font-weight:bold" ng-click="joinmeeting(mm)" data-filterListId="{{mm}}" ng-if="vcflag=='BBB' || vcflag=='Teams' || vcflag=='TEAMS'">
                                        <span ng-if="mm.join=='N'">JOIN</span>
                                        <span ng-if="mm.join=='Y'">RE-JOIN</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                    <!--<div class="well" ng-repeat="mm in meetinglist">-->

                </div>
            </div>
        </div>
        <div class="col-sm-12" style="padding:5px" ng-show="meetingst">
            <label class="col-sm-8">
                <b>MEETING TOPIC:</b>  <span style="color:red;font-size:20px;font-weight:bold">{{topic}}</span>
            </label>
            <button type="button" style="background-color:#2669bc;border-radius:20px;" ng-click="clearallsettings()" class="btn btn-info" title="Reset Settings"><i class="fa fa-refresh" aria-hidden="true">&nbsp;&nbsp;Refresh</i></button>
            <button type="button" class="btn btn-warning" style="float:right" ng-click="stopstreeming(meetid);" value="{{meetid}}">
                END MEETING
            </button>
        </div>
        <input hidden type="text" name="hostname" value={{hostname}} ng-model="hostname" id="hostname" />
        <input hidden type="text" name="roomName" value={{roomName}} ng-model="roomName" id="roomName" />
        <!--<button onclick="loadvalues()"></button>-->
        <!--<div class="text-center">
        <h3>Vaps Video Conference Meeting</h3>
        <md-button type="button" class="md-raised md-primary" ng-click="checkmultiple()" onclick="loadvalues()" ng-disabled="startbutton==false">
            <i class="fa fa-window" aria-hidden="true"></i>
            Start Metting
        </md-button>
        <md-button type="button" class="md-raised md-primary" ng-click="stopmeeting()" ng-disabled="startbutton==true">
            <i class="fa fa-close" aria-hidden="true"></i>
            Stop Metting
        </md-button>
    </div>-->
        <div id="meet" style="height:500px;width:100%;">
        </div>
        <br />
        <div id="myModalView" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width:90%;" overflow:auto;">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i></button>
                        <h4 class="modal-title text-white col-sm-10">Recordings</h4>

                        <!--<h4 class="modal-title text-white">{{planDate | date:'dd/MM/yyyy'}} </h4>-->
                    </div>
                    <div class="row">
                        <div class="col-sm-4 pull-right" style="margin-right: 5%; margin-top: 5px;">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-responsive table-bordered clearfix" ng-if="recordedmeetinglist.length>0">
                            <thead>
                                <tr>
                                    <th width="4%">SL NO</th>
                                    <!--<th width="20%"><a href="" ng-click="sort('invmI_Id')">Topic</a></th>-->
                                    <!--<th width="25%"><a href="" ng-click="sort('invmI_Id')">Compulsory Flag</a></th>-->
                                    <th width="20%"><a href="" ng-click="sort('LMSLMEET_MeetingTopic')">Topic</a></th>
                                    <th width="20%"><a href="" ng-click="sort('LMSLMEET_MeetingId')">Meeting ID</a></th>
                                    <!--<th><a href="" ng-click="sort('ASMCL_ClassName')">Class</a></th>
                                    <th><a href="" ng-click="sort('ASMC_SectionName')">Section</a></th>-->
                                    <th><a href="" ng-click="sort('ISMS_IVRSSubjectName')">Subject</a></th>
                                    <th><a href="" ng-click="sort('LMSLMEET_MeetingDate')">Date-Time</a></th>
                                    <th width="10%"><a href="">View Recording</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="obja in recordedmeetinglist |orderBy:sortKey:reverse |filter:search |itemsPerPage:itemsPerPage2" current-page="currentPage2" pagination-id="page2">
                                    <td class="text-center">{{itemsPerPage2 *(currentPage2-1)+$index+1}}</td>
                                    <td class="text-left">
                                        <label class="control-label">{{obja.LMSLMEET_MeetingTopic}}</label>
                                    </td>
                                    <td class="text-center">
                                        <label class="control-label">{{obja.LMSLMEET_MeetingId}}</label>
                                    </td>
                                    <!--<td class="text-center">
                                        <label class="control-label"><b>{{obja.ASMCL_ClassName}}</b></label>
                                    </td>
                                    <td class="text-center">
                                        <label class="control-label"><b>{{obja.ASMC_SectionName}}</b></label>
                                    </td>-->
                                    <td class="text-left">
                                        <label class="control-label">{{obja.ISMS_IVRSSubjectName}}</label>
                                    </td>
                                    <td class="text-left">
                                        <span style="font-size:14px;">
                                            {{obja.LMSLMEET_MeetingDate}} / ({{obja.LMSLMEET_StartedTime}} To {{obja.LMSLMEET_EndTime}})
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <span ng-if="obja.LMSLMEET_RecordId!=null && obja.LMSLMEET_RecordId!=''"><a href="{{obja.LMSLMEET_RecordId}}" target="_blank"><i class="fa fa-download" aria-hidden="true">Play</i></a></span>
                                        <!--<label class="control-label"><b>{{obja.lmslmeeT_RecordId}}</b></label>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="5" pagination-id="page2"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </form>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <img id="preview" class="img-responsive" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button class="btn" ng-click="zoomin()"><i class="fa fa-plus text-black"></i></button>
                        <button class="btn" ng-click="zoomout()"><i class="fa fa-minus text-black"></i></button>

                    </div>
                    <md-button type="button" class="md-raised md-warn" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Close
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</section>