<!--<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" ng-init="BindData()" novalidate>
        <div class="box box-primary" ng-app="MyModule">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Oral Test RESCHEDULE
                    <a href="">
                        <md-tooltip md-direction="right">
                            This functionality helps the admin to update the student’s oral test marks on basis of schedule name & oral test conducted by the staff/teacher
                        </md-tooltip><i class="fa fa-question-circle-o text-orange"></i>
                    </a>
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" style="background-color:#2669bc;border-radius:20px;" ng-click="clearallsettings()" class="btn btn-info" title="Reset Settings"><i class="fa fa-refresh" aria-hidden="true">&nbsp;&nbsp;Reset</i></button>
                    <button type="button" class="btn btn-box-tool" ng-click="ShowHide()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body" ng-show="IsHidden">
                <div class="row">
                    <div class="col-sm-5">
                        <input type="hidden" ng-model="PAOTS_Id" />
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                Previous Schedule : <strong style="color:red;">*</strong>
                                <a href="">
                                    <md-tooltip md-direction="right">
                                        Name of the slot{i.e no of students attended test}
                                    </md-tooltip><i class="fa fa-question-circle-o text-orange"></i>
                                </a>
                            </label>
                            <div class="col-sm-8">
                                <!--<input class="form-control" name="sch_name" id="usr" ng-model="ScheduleName" type="text" maxlength="50" required>
                                <div class="error-messages" ng-if="interacted(myForm.sch_name)" ng-messages="myForm.sch_name.$error">
                                    <div ng-message="required">Enter Schedule Name</div>
                                </div>-->
                                <select class="form-control" id="idsch" name="sched" data-ng-model="schedulid" ng-change="schedulechange(schedulid)" required>
                                    <option value="">Select</option>
                                    <option ng-repeat="options in newuser" value="{{options.paotS_Id}}"  ng-selected="{{options.Selected == false}}">
                                    {{options.paotS_ScheduleName}}</option>
                                </select>
                         
                                <div class="error-messages" ng-if="interacted(myForm.sched)" ng-messages="myForm.sched.$error">
                                    <div ng-message="required">Please Select Schedule </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                Re-Schedule Name : <strong style="color:red;">*</strong>
                                <a href="">
                                    <md-tooltip md-direction="right">
                                        Name of the slot{i.e no of students attended test}
                                    </md-tooltip><i class="fa fa-question-circle-o text-orange"></i>
                                </a>
                            </label>
                            <div class="col-sm-8">
                                <input class="form-control" name="sch_name" id="usr" ng-model="ScheduleName" type="text" maxlength="50" required>
                                <div class="error-messages" ng-if="interacted(myForm.sch_name)" ng-messages="myForm.sch_name.$error">
                                    <div ng-message="required">Enter Re-Schedule Name</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Schedule Date:<strong style="color:red;">*</strong></label>
                            <div class="col-sm-8 input-group">
                                <md-datepicker name="sch_date" onkeydown="return false" ng-model="ScheduleDate" md-placeholder="Schedule Date" md-min-date="minDate" required></md-datepicker>
                                <div class="error-messages" ng-if="interacted(myForm.sch_date)" ng-messages="myForm.sch_date.$error">
                                    <div ng-message="required">Select Date</div>
                                    <div ng-message="valid">The entered value is not a date!</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Remarks:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="sch_rem" id="usr" type="text" ng-model="ScheduleRemark" maxlength="100" allow-pattern="(\s|[a-zA-Z])" >
                                <div class="error-messages" ng-if="interacted(myForm.sch_rem)" ng-messages="myForm.sch_rem.$error">
                                    <div ng-message="required">Enter Remarks</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                Supervisor : <!--<strong style="color:red;">*</strong>-->
                                <a href="">
                                    <md-tooltip md-direction="right">
                                        Name of the invigilator  handled the test
                                    </md-tooltip><i class="fa fa-question-circle-o text-orange"></i>
                                </a>
                            </label>
                            <div class="col-sm-8">
                                <input class="form-control" name="super" id="usr" type="text" ng-model="Supervisor" ng-paste="$event.preventDefault()" maxlength="100" allow-pattern="(\s|[a-zA-Z])">
                                <!--<div class="error-messages" ng-if="interacted(myForm.super)" ng-messages="myForm.super.$error">
                                    <div ng-message="required">Enter Supervisor Name </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                Skill/Knowledge : <!--<strong style="color:red;">*</strong>-->
                                <a href="">
                                    <md-tooltip md-direction="right">
                                        Skill/Knowledge implies “General Knowledge, Communication & Grasping power”
                                    </md-tooltip><i class="fa fa-question-circle-o text-orange"></i>
                                </a>
                            </label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="2" ng-model="Skill" maxlength="40" ng-paste="$event.preventDefault()" placeholder="Enter Skills/Knowledge" name="skil" allow-pattern="(\s|[a-zA-Z0-9])"></textarea>
                                <!--  <input class="form-control" name="skil" id="usr" type="text" ng-model="Skill" maxlength="100" allow-pattern="(\s|[a-zA-Z])" required>-->
                                <!--<div class="error-messages" ng-if="interacted(myForm.skil)" ng-messages="myForm.skil.$error">
                                    <div ng-message="required">Enter Skills/Knowledge</div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div ng-init="hrs='12hr'">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="12hur" value="12hr" ng-disabled="NoOfStud!= null" data-ng-model="hrs">
                                <span class="lbl padding-8">12 Hours</span>
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="24Hur" value="24hr" ng-disabled="NoOfStud!= null" data-ng-model="hrs">
                                <span class="lbl padding-8">24 Hours</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-6" style="padding-top: 7%;">Schedule Time From: <strong style="color:red;">*</strong></label>
                            <div class="col-sm-4 input-group">
                                <div ng-show="hrs=='12hr'">
                                    <div uib-timepicker name="sch_time" ng-model="ScheduleTime_12" ng-change="validateTomintime_12(ScheduleTime_12)" ng-disabled="NoOfStud!= null" show-meridian="true" ng-required="hrs=='12hr'"></div>
                                    <!--<input type="time" placeholder="00:00:00" class="form-control" name="sch_time" ng-model="ScheduleTime" required>-->
                                    <div class="error-messages" ng-if="interacted(myForm.sch_time)" ng-messages="myForm.sch_time.$error">
                                        <div ng-message="required">Select Schedule Time From</div>
                                    </div>
                                </div>
                                <div ng-show="hrs=='24hr'">
                                    <div uib-timepicker name="sch_time24" ng-model="ScheduleTime_24" ng-change="validateTomintime_24(ScheduleTime_24)" ng-disabled="NoOfStud!= null" show-meridian="false" ng-required="hrs=='24hr'"></div>
                                    <!--<input type="time" placeholder="00:00:00" class="form-control" name="sch_time" ng-model="ScheduleTime" required>-->
                                    <div class="error-messages" ng-if="interacted(myForm.sch_time24)" ng-messages="myForm.sch_time24.$error">
                                        <div ng-message="required">Select Schedule Time From</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6" style="padding-top: 7%;">Schedule Time To: <strong style="color:red;">*</strong></label>
                            <div class="col-sm-4 input-group">
                                <div ng-show="hrs=='12hr'">
                                    <div uib-timepicker name="sch_time_to" ng-model="ScheduleTimeTo_12" min="min" ng-change="validatefromtime_12()" ng-disabled="NoOfStud!= null" show-meridian="true" ng-required="hrs=='12hr'"></div>
                                    <!--<input type="time" placeholder="00:00:00" class="form-control" name="sch_time" ng-model="ScheduleTime" required>-->
                                    <div class="error-messages" ng-if="interacted(myForm.sch_time_to)" ng-messages="myForm.sch_time_to.$error">
                                        <div ng-message="required">Select Schedule Time To</div>
                                    </div>
                                </div>
                                <div ng-show="hrs=='24hr'">
                                    <div uib-timepicker name="sch_time_to24" ng-model="ScheduleTimeTo_24" min="min" ng-change="validatefromtime_24()" ng-disabled="NoOfStud!= null" show-meridian="false" ng-required="hrs=='24hr'"></div>
                                    <!--<input type="time" placeholder="00:00:00" class="form-control" name="sch_time" ng-model="ScheduleTime" required>-->
                                    <div class="error-messages" ng-if="interacted(myForm.sch_time_to24)" ng-messages="myForm.sch_time_to24.$error">
                                        <div ng-message="required">Select Schedule Time To</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" ng-show="false">
                            <label>
                                <input type="checkbox" name="Hour" ng-disabled="NoOfStud!= null" data-ng-model="PAOTS_TPFlag" ng-init="PAOTS_TPFlag=false">
                                <span class="lbl padding-12">Schedule Time In Hours</span>
                            </label>
                        </div>
                        <div class="form-group" style="font-weight:600">
                            <label>
                                <input type="checkbox" name="vidc" ng-change="videoconferencecheck()" data-ng-model="vidc" ng-init="vidc=false">
                                <span class="lbl padding-12" style="font-size: large;"> <i class="fa fa-file-video-o" aria-hidden="true"> Video conferencing</i> </span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="autostudent" ng-disabled="NoOfStud!= null" data-ng-model="autostudent" ng-init="autostudent=true">
                                <span class="lbl padding-12"> Auto Select Students</span>
                            </label>
                        </div>
                        <div class="form-group" ng-show="!PAOTS_TPFlag">
                            <label class="control-label col-sm-6">Individual student interaction time: <strong style="color:red;">*</strong></label>
                            <div class="col-sm-4 input-group">
                                <input class="form-control" name="Min" id="usr" type="text" ng-model="NoOfMin" ng-change="noofmins(NoOfMin)" ng-disabled="NoOfStud != null && PAOTS_TPFlag == false" allow-pattern="[0-9]" maxlength="2" ng-required="!PAOTS_TPFlag">
                                <div class="error-messages" ng-if="interacted(myForm.Min)" ng-messages="myForm.Min.$error">
                                    <div ng-message="required">Enter Minutes</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="PAOTS_TPFlag">
                            <label class="control-label col-sm-6">Hour: <strong style="color:red;">*</strong></label>
                            <div class="col-sm-4 input-group">
                                <input class="form-control" name="Hr" id="usr" type="text" ng-model="NoOfHr" ng-change="noofhrs(NoOfHr)" ng-disabled="NoOfStud != null && PAOTS_TPFlag == true" allow-pattern="[0-9]" maxlength="2" ng-required="PAOTS_TPFlag">
                                <div class="error-messages" ng-if="interacted(myForm.Hr)" ng-messages="myForm.Hr.$error">
                                    <div ng-message="required">Enter Hours</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6">No. Of Students: <strong style="color:red;">*</strong></label>
                            <div class="col-sm-4 input-group">
                                <input class="form-control" name="nofstud" id="usr" type="text" ng-blur="validate_time_noofstudent(NoOfStud,NoOfMin,NoOfHr)" ng-model="NoOfStud" ng-change="testnoofstu(NoOfStud,NoOfMin,NoOfHr)" ng-disabled="NoOfMin== null" allow-pattern="[0-9]" maxlength="3" required>
                                <div class="error-messages" ng-if="interacted(myForm.nofstud)" ng-messages="myForm.nofstud.$error">
                                    <div ng-message="required">Enter No. Of Students</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">


                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-3">

                    <div class="form-group">
                        <label class="control-label col-sm-6" style="padding-top: 7%;">Lunch Time From: <strong style="color:red;">*</strong></label>

                        <div class="col-sm-5 input-group">
                            <div uib-timepicker name="lch_time" ng-model="LunchTime" ng-change="" show-meridian="false" required></div>

                            <div class="error-messages" ng-if="interacted(myForm.lch_time)" ng-messages="myForm.lch_time.$error">
                                <div ng-message="required">Select Lunch Time From</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label col-sm-6" style="padding-top: 7%;">Lunch Time To: <strong style="color:red;">*</strong></label>

                        <div class="col-sm-5 input-group">
                            <div uib-timepicker name="lch_time_to" ng-model="LunchTimeTo" min="min" ng-change="" show-meridian="false" required></div>

                            <div class="error-messages" ng-if="interacted(myForm.lch_time_to)" ng-messages="myForm.lch_time_to.$error">
                                <div ng-message="required">Select Lunch Time To</div>
                            </div>
                        </div>
                    </div>

                </div>-->
            </div>
        </div>
        <!-------------- Biding from student tables------------------->
        <div class="box box-primary" ng-show="screport">
            <div class="box-header with-border">
                <h3 class="box-title">SCHEDULED STUDENT LIST</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{presentCountgrid}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="hdTH">
                                <label>
                                    <input type="checkbox" value="" ng-click="toggleAll();" ng-model="all">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </th>
                            <th><a href="" ng-click="order('sno')">SL.NO</a></th>
                            <th><a href="" ng-click="order('name')">Name</a> </th>
                            <th> <a href="" ng-click="order('regno')">RegNo</a></th>
                            <th> <a href="" ng-click="order('gender')">Gender</a></th>
                            <th><a href="" ng-click="order('ScheduleDate')">Previous Date</a> </th>
                            <th><a href="" ng-click="order('ScheduleTime')">Previous Time </a> </th>                            
                            <th ng-if="vidc==true">Vc Meeting</th>
                            <!--<th><a href="" ng-click="order('PAOTS_Remarks')">Remarks</a> </th>-->

                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr dir-paginate="user in students | orderBy:sortKey:reverse | filter:filterValue |itemsPerPage:itemsPerPage1" pagination-id="paginate1" current-page="currentPage1" ng-class-odd="'odd'">-->
                        <tr dir-paginate="user in filterValue1=(students  | filter:filterValue) | orderBy:sortKey:reverse |itemsPerPage:itemsPerPage1" pagination-id="paginate1" current-page="currentPage1" ng-class-odd="'odd'">
                            <td class="text-center hdTD">
                                <label>
                                    <input type="checkbox" id="check-{{user.pasR_Id}}" ng-model="user.checked" ng-click="TempSelectStudent(user); showcart()" data-placement="bottom" data-toggle="tooltip" title="Add Cart" ng-disabled="user.makedisable==true">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </td>
                            <td>{{itemsPerPage1 *(currentPage1-1)+$index+1}}</td>
                            <td style="text-align:left">{{ user.name}}</td>
                            <td>{{ user.regno}}</td>
                            <td>{{ user.gender}}</td>
                            <td>{{ user.ScheduleDate |date:'dd-MM-yyyy'}}</td>
                            <td>{{ user.ScheduleTime | date:'h:mm a'}} - {{ user.ScheduleTimeTo | date:'h:mm a'}}</td>
                           
                            <td class="text-center" ng-if="vidc==true">
                                <input type="checkbox" id="check-{{user.pasR_Id}}" ng-model="user.vcmeeting" data-placement="bottom" data-toggle="tooltip" title="Video Conference">
                                <span class="lbl padding-8"></span>
                            </td>
                            <!--<td>{{ user.PAOTS_Remarks}}</td>-->
                            <td hidden="hidden">{{ user.pasR_Id}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5" pagination-id="paginate1" direction-links="true" boundary-links="true"></dir-pagination-controls>
                <hr />
                
            </div>
            <div id="printSectionId" ng-show="print_data" style="overflow:scroll">
                <div class="">
                    <div class="baldwin text-center">
                        <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                    </div>
                </div>
                <center> <h4><u> SCHEDULE REPORT </u></h4></center>
                <table class="table-bordered" id="table">
                    <thead>
                        <tr>
                            <th>SL.No</th>
                            <th>Name</th>
                            <th>RegNo</th>
                            <th>Gender</th>
                            <th>Schedule Date</th>
                            <th>From </th>
                            <th>To </th>

                            <th>Remarks</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in printdatatable | orderBy:sortKey:reverse">
                            <td style="text-align:center;overflow-wrap:break-word;">{{$index+1}}</td>
                            <td>{{ user.name}}</td>
                            <td style="text-align:left;overflow-wrap:break-word;">{{ user.regno}}</td>
                            <td>{{ user.gender}}</td>
                            <td style="text-align:left;overflow-wrap:break-word;">{{ user.ScheduleDate |date:'dd.MM.yyyy'}}</td>
                            <td>{{ user.ScheduleTime | date:'hh:mm:ss'}}</td>
                            <td>{{ user.ScheduleTimeTo | date:'hh:mm:ss'}}</td>

                            <td style="text-align:left;overflow-wrap:break-word;">{{ user.PAOTS_Remarks}}</td>
                        </tr>
                    </tbody>
                    <tfoot class="margin-top-10">
                        <tr>
                            <td colspan="16" class="col-sm-12 text-center margin-top-2">
                                <label>
                                    Date:{{ddate|date:'dd/MM/yyyy'}} UserName: {{usrname}} {{coptyright}}
                                </label>

                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>

            <div id="tableexcell" ng-show="print_data_excell" class="table-bordered text-center" style="overflow:scroll">

                <!--<center> <h4><u> SCHEDULE REPORT </u></h4></center>-->
                <table style="border-bottom:solid;border-right:solid;border-left:solid" id="tableex">
                    <thead>
                        <tr>
                            <th style="text-align:center;border:solid;">Sl No.</th>
                            <th style="text-align:center;border:solid;">Student Name</th>
                            <th style="text-align:center;border:solid;">Application Form No.</th>
                            <th style="text-align:center;border:solid;">Gender</th>
                            <th style="text-align:center;border:solid;">Date </th>

                            <th style="text-align:center;border:solid;">Start Time </th>
                            <th style="text-align:center;border:solid;">End Time </th>
                            <!--<th>Date Schedule</th>-->
                            <th style="text-align:center;border:solid;">Remarks</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in printdatatable | orderBy:sortKey:reverse">
                            <td style="text-align:center;">{{$index+1}}</td>
                            <td style="text-align:left;">{{ user.name}}</td>
                            <td style="text-align:center;">{{ user.regno}}</td>
                            <td style="text-align:center;">{{ user.gender}}</td>
                            <td style="text-align:center;">{{ user.ScheduleDate |date:'dd.MM.yyyy'}}</td>
                            <td style="text-align:center;">{{ user.ScheduleTime | date:'hh:mm:ss'}}</td>
                            <td style="text-align:center;">{{ user.ScheduleTimeTo | date:'hh:mm:ss'}}</td>
                            <!--<td>{{ user.entrydate |date:'dd.MM.yyyy'}}</td>-->
                            <td style="text-align:center;">{{ user.PAOTS_Remarks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--------------End ---------------->
        <!------- -----Selected Temp Student To Cart---------------->
        <div class="box box-primary" ng-show="myVar1">
            <div class="box-header with-border">
                <h3 class="box-title pull-left">Selected Student To Cart</h3>
                <div class="pull-left" style="padding-left: 10%;">
                    <!--<button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click="ShowHide2()" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>-->
                    <label>
                        <input type="checkbox" name="vidc" ng-change="videoconferencecheck()" data-ng-model="vidc" ng-init="vidc=false">
                        <span class="lbl padding-12" style="font-size: large;"> <i class="fa fa-file-video-o" aria-hidden="true"> Video conferencing</i> </span>
                    </label>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" ng-show="IsHidden2">
                <div class="">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{presentCountgrid2}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" ng-model="search1" type="text" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="">
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" ng-model="search1" type="text" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>
                <table>
                    <tr>  <td> <b> <label class="control-label " style="font-size:medium;font-weight:600;color:black;">Total Grid Records:<span class="badge">{{presentCountgrid2}}</span>&nbsp;&nbsp;&nbsp;</label></b>

                        </td>
                    </tr>
                </table>-->

                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="order('sno')">SL.NO</a></th>
                            <th><a href="" ng-click="order('name')">Name</a> </th>
                            <th> <a href="" ng-click="order('regno')">RegNo</a></th>
                            <th> <a href="" ng-click="order('gender')">Gender</a></th>
                            <th><a href="" ng-click="order('ScheduleDate')">Previous Date</a> </th>
                            <th><a href="" ng-click="order('ScheduleTime')">Previous Time </a> </th>
                            <th ng-if="vidc==true">VC Meeting</th>
                            <!--  <th> <a href="" ng-click="order('entrydate')">Date Schedule</a></th>-->
                            <!--<th><a href="" ng-click="order('PAOTS_Remarks')">Remarks</a> </th>-->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="SelectedStudent1 in filter2=( secondTableData |filter:search1 ) |orderBy:sortKey1:reverse1 | itemsPerPage: itemsPerPage2" pagination-id="page2" current-page="currentPage2" ng-class-odd="'odd'">
                            <!-- filter: {checked:true}-->
                            <td>{{itemsPerPage1 *(currentPage1-1)+$index+1}}</td>
                            <td style="text-align:left">{{ SelectedStudent1.name}}</td>
                            <td>{{ SelectedStudent1.regno}}</td>
                            <td>{{ SelectedStudent1.gender}}</td>
                            <td>{{ SelectedStudent1.ScheduleDate |date:'dd-MM-yyyy'}}</td>
                            <td>{{ SelectedStudent1.ScheduleTime | date:'h:mm a'}} - {{ SelectedStudent1.ScheduleTimeTo | date:'h:mm a'}}</td>
                            <!-- <td>{{ user.entrydate |date:'dd-MM-yyyy'}}</td>-->
                            <!--<td>{{ SelectedStudent1.PAOTS_Remarks}}</td>-->
                            <td ng-if="vidc==true" style="text-align: left;">
                                <span ng-if="SelectedStudent1.vcmeeting==true">
                                    Yes
                                </span>
                                <span ng-if="SelectedStudent1.vcmeeting==false">
                                    No
                                </span>
                            </td>
                            <td class="text-center">
                                <a class="text-aqua" href="" ng-click="TempdeleteStudent(SelectedStudent1,itemsPerPage1 *(currentPage1-1)+$index)" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td hidden="hidden">{{ SelectedStudent1.pasR_Id}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls pagination-id="page2" max-size="8"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
                <hr />
                <div class="text-center">
                    <span ng-show="userPrivileges.ivrmirP_AddFlag===true">
                        <md-button type="submit" class="md-raised md-primary" ng-click="saveWrittenTestScheduledata(SelectedStudentInCart)" ng-disabled="form.$invalid" id="save-btn">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            Save
                        </md-button>
                    </span>
                    <md-button type="submit" class="md-raised md-warn" ng-click="cancel(newuser)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </md-button>
                </div>
            </div>
        </div>
        <!--------------End ---------------->
        <!------- -----edited Selected Student from database-------------->
        <div class="box box-primary" ng-show="myVar">
            <div class="box-header with-border">
                <h3 class="box-title">Selected Student</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" ng-click="ShowHide3()" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" ng-show="IsHidden3">
                <table>
                    <tr>
                        <td>
                            <b> <label class="control-label " style="font-size:medium;font-weight:600;color:black;">Total Grid Records:<span class="badge">{{presentCountgrid3}}</span>&nbsp;&nbsp;&nbsp;</label></b>
                        </td>

                    </tr>
                </table>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>
                                SL.NO
                            </th>
                            <th>
                                <a href="" ng-click="order2('pasR_FirstName')">First Name</a>
                            </th>
                            <th><a href="" ng-click="order2('pasR_MiddleName')">Middle Name</a> </th>
                            <th><a href="" ng-click="order2('pasR_LastName')">Last Name</a> </th>
                            <th><a href="" ng-click="order2('pasR_RegistrationNo')">Registration No</a> </th>
                            <th><a href="" ng-click="order2('pasR_Sex')">Gender</a> </th>
                            <th><a href="" ng-click="order2('pasR_MobileNo')">Mobile Number</a> </th>
                            <th><a href="" ng-click="order2('pasR_emailId')">Email No</a> </th>
                            <th>Action</th>
                            <th hidden="hidden"></th>
                            <th hidden="hidden"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="SelectedStudent in SelectedStudent |orderBy:sortKey2:reverse2 |filter:search2 | itemsPerPage: itemsPerPage3" pagination-id="page3" current-page="currentPage3" ng-class-odd="'odd'">
                            <td>{{itemsPerPage3 *(currentPage3-1)+$index+1}}</td>
                            <td>{{ SelectedStudent.pasR_FirstName}}</td>
                            <td>{{ SelectedStudent.pasR_MiddleName}}</td>
                            <td>{{ SelectedStudent.pasR_LastName}}</td>
                            <td>{{ SelectedStudent.pasR_RegistrationNo}}</td>
                            <td>{{ SelectedStudent.pasR_Sex}}</td>
                            <td>{{ SelectedStudent.pasR_MobileNo}}</td>
                            <td>{{ SelectedStudent.pasR_emailId}}</td>
                            <td class="text-center">
                                <a class="text-aqua" href="" ng-click="DeleteWrittenTestScheduleStudentdata(SelectedStudent)" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td hidden="hidden">{{ SelectedStudent.pasR_Id}}</td>
                            <td hidden="hidden">{{PAOTS_Id}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls pagination-id="page3" max-size="8"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>

        </div>
        <!--------------End ---------------->
        <!--------save & clear button -->
        <!--------------End ---------------->
        <!------- masert written test schedule record from database-------->
        
        <!--------------End ---------------->
    </form>
</section>