<style>
    .img-style {
        width: 110px;
        height: 100px;
        border: 1px solid #ddd;
        float: right;
    }

    .office-use-box {
        width: 400px;
        margin: auto;
        border: 1px solid #000;
        padding: 10px;
    }

    .inlineTable1 {
        display: inline-block;
        float: left;
        width: 30% !important;
        padding-top: 15px !important;
    }

    .inlineTable .border-bottom {
        width: 160px;
    }

    .inlineTable2 {
        display: inline-block;
        float: left;
        width: 48% !important;
        padding-top: 10px !important;
    }

    .inlineTable3 {
        display: inline-block;
        float: right;
        width: 21% !important;
    }
</style>
<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Written\Apptitude Test Marks</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" ng-init="BindData()" novalidate>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-model="EntryDate" style="font-weight:bold;font-size: 12px;"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-show="myValue">Schedule Name: <span style="color:Red">*</span></label>
                            <div class="col-sm-6" ng-show="myValue">
                                <select class="form-control" id="sel1" name="schname" data-ng-model="pawtS_Id" ng-change="onSelectGetStudent(ScheduleName,pawtS_Id)" required>
                                    <option value="" label="Select Schedule Name">Select Schedule Name</option>
                                    <option ng-repeat="ScName in ScheduleName" ng-model="PAWTS_Id" value="{{ScName.pawtS_Id}}" ng-selected="{{ScName.Selected == true}}">
                                        {{ScName.pawtS_ScheduleName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.schname)" ng-messages="myForm.schname.$error">
                                    <div ng-message="required">Please Select Schedule Name</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Subject: <span style="color:Red">*</span></label>
                            <div class="col-sm-6">
                                <select class="form-control" name="subject" ng-disabled="hidesub" id="sel1" ng-change="onSelectsubject(SubjectName,ismS_Id)" data-ng-model="ismS_Id" required>
                                    <option value="">Select Subject Name</option>
                                    <option value="Select ALL"> Select ALL</option>
                                    <option ng-repeat="SubName in SubjectName" ng-model="PAMS_SubjectName" value="{{SubName.ismS_Id}}" ng-selected="{{SubName.Selected == true}}">
                                        {{SubName.ismS_SubjectName}}
                                    </option>
                                </select>
                                <div class="error-messages" ng-if="interacted(myForm.subject)" ng-messages="myForm.subject.$error">
                                    <div ng-message="required">Please Select Subject</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-sm-6">
                        <div class="form-group" ng-hide="pawtS_Id == null || pawtS_Id == ''">
                            <label for="sel2" class="control-label col-sm-8">
                                Select All Students :
                                <label>
                                    <input type="checkbox" value="" ng-click="toggleAll();" ng-model="all">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </label>
                            </div>
                        </div>-->
                    <div class="col-sm-6">

                        <div class="form-group" ng-hide="pawtS_Id == null || pawtS_Id == ''">
                            <label for="sel2" class="control-label col-sm-4">
                                Student: <span style="color:Red">*</span>
                                <br />
                                <label for="sel2" class="control-label" ng-hide="pawtS_Id == null || pawtS_Id == ''">
                                    Select All Students :
                                    <label>
                                        <input type="checkbox" value="" ng-click="toggleAll();" ng-model="all">
                                        <span class="lbl padding-8"></span>
                                    </label>
                                </label>
                            </label>
                            <div class="col-sm-8">

                                <input class="col-sm-9" ng-model="searchchkbx" type="text" placeholder="search here..." style="margin-left: 5%;">
                                <div class="col-sm-6 margin-top-10">
                                    <div class="multiselect col-sm-10" style="width:247px;padding:2px;border: #b1a7a7 solid 0.5px;">

                                        <label data-ng-model="PASR_Id" ng-repeat="StuName in StudentName|filter:searchchkbx" value="{{StuName.pasR_Id}}">
                                            <input type="checkbox" ng-model="StuName.checked" ng-change="optionToggled()" name="Studentoption" ng-required="isOptionsRequired();">
                                            <span class="lbl padding-8">{{StuName.name}}</span>
                                        </label>

                                    </div>
                                    <div class="error-messages" ng-if="interacted(myForm.Studentoption)" ng-messages="myForm.Studentoption.$error">
                                        <div ng-message="required">Please Select Students</div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <span>
                        <md-button type="button" class="md-raised md-primary" ng-click="BindGrid(StudentName)" ng-disabled="hidesub" id="search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancel
                        </md-button>
                    </span>
                </div>
            </form>

        </div>
    </div>
    <div class="box box-primary" ng-show="hidestudents">
        <div class="box-header with-border">
            <h3 class="box-title">Student List</h3>
            <!--<md-button type="submit" class="md-raised md-warn" ng-click="printSchedulelist();">
                SubjectWise Report
            </md-button>-->
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="ShowHide1()" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm1" novalidate>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="order('Sl.No')">Sl.No</a>
                            </th>
                            <th style="width: 15%;">
                                <a href="" ng-click="order('pasR_FirstName')">Student Name</a>
                            </th>
                            <th>
                                <a href="" ng-click="order('regno')">Registration No</a>
                            </th>
                            <th>
                                <a href="" ng-click="order('classname')">Class</a>
                            </th>
                            <th ng-repeat="SelectedSubName in wirettenTestStudentMarks" ng-if="SelectedSubName.flagsubject == 'Common'">{{SelectedSubName.ismS_SubjectName+ " (" + SelectedSubName.ismS_Max_Marks +")"}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="StuName in studentlist |orderBy:sortKey:reverse1 |itemsPerPage:itemsPerPage1"  current-page="currentPage1" pagination-id="page1">
                            <td>{{itemsPerPage1 *(currentPage1-1)+$index+1}}</td>

                            <td class="text-left" style="text-align:left">
                                <a href="javascript:void(0)" class="text-primary" data-placement="bottom" data-toggle="modal" title="Print Application Form" data-ng-model="receiptdetails" data-target="#myModal1" data-ng-click="showprintdata(StuName.pasr_id)">

                                    {{StuName.pasR_FirstName + " " }}<span ng-if="StuName.pasR_MiddleName !== null">
                                        {{ StuName.pasR_MiddleName }}
                                    </span>{{StuName.pasR_LastName}}

                                </a>
                            </td>
                            <td>{{ StuName.pasR_RegistrationNo}}</td>
                            <td>{{ StuName.classname}}</td>
                            <td ng-repeat="obtMarkss in wirettenTestStudentMarks" ng-if="obtMarkss.pasR_Id == StuName.pasr_id" ng-form="validatemarks">
                                <input type="number" name="oralmarks" allow-pattern="\d" class="form-control" data-ng-model="obtMarkss.obtMarks" max="{{obtMarkss.ismS_Max_Marks}}" min="0" id="id{{StuName.pasr_id}}" value="{{obtMarkss.obtMarks}}" required>     <!--obtMarkss.pasR_Id-->
                                <div class="error-messages" ng-if="interacted1(validatemarks.oralmarks)" ng-messages="validatemarks.oralmarks.$error">
                                    <div ng-message="max">marks should be less than Max marks!</div>
                                    <div ng-message="required">Please Enter marks</div>
                                </div>
                            </td>
                            <td hidden="hidden">{{StuName.pasr_id}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="50" pagination-id="page1"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
                <hr />
                <div class="text-center">
                    <!--<span ng-show="userPrivileges.ivrmirP_AddFlag===true">-->
                    <span>
                        <md-button type="submit" class="md-raised md-primary" ng-click="saveWrittenTestMarksEntrydata(wirettenTestStudentMarks)" ng-disabled="form.$invalid" id="save-btn">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            Save
                        </md-button>
                    </span>
                </div>
            </form>
        </div>

    </div>

    <div id="myModal1" class="modal fade feetransaction" role="dialog" data-backdrop="static">
        <div id="test">

        </div>
    </div>

    <div id="print_data_srkvs" ng-show="print_data_srkvs" style="overflow:scroll">
        <div class="">
            <div class="baldwin text-center">
                <img src="{{imgname}}" class="img-responsive" alt="baldwin">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 pull-left">
                <h4>Academic Year:2019-2020</h4>
            </div>
            <div class="col-sm-5 pull-left">
                <h4>Session: {{schedulename}}</h4>
            </div>
            <div class="col-sm-3 pull-left">
                <h4>Subject: {{subjectname}}</h4>
            </div>
        </div>
        <hr />
        <!--<center> <h4><u> SCHEDULE REPORT </u></h4></center>-->
        <h2 class="text-center">SUBJECT WISE REPORT</h2><br />
        <table class="table-bordered" id="table" style="    width: 100%;">
            <thead>
                <tr>
                    <th style="width:10px">SL.No</th>
                    <th>Prospectus No</th>
                    <th>Student Name</th>
                    <th>Age</th>
                    <th>Palce</th>
                    <th>Marks</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="StuName in studentprintlist | orderBy:sortKey:reverse">
                    <td style="text-align:center;overflow-wrap:break-word;">{{$index+1}}</td>
                    <td style="text-align:left;overflow-wrap:break-word;">{{StuName.pasR_RegistrationNo}}</td>
                    <td>
                        {{StuName.pasR_FirstName + " " }}<span ng-if="StuName.pasR_MiddleName !== null">
                            {{ StuName.pasR_MiddleName }}
                        </span>{{StuName.pasR_LastName}}
                    </td>

                    <td>{{ StuName.pasR_Age}}</td>
                    <td>{{ StuName.pasR_ConCity}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <!--<tfoot class="margin-top-10">
            <tr>
                <td class="col-sm-12 text-center margin-top-2">
                    <label>
                        Date:{{ddate|date:'dd/MM/yyyy'}} UserName: {{usrname}} {{coptyright}}
                    </label>

                </td>
            </tr>

        </tfoot>-->
        </table>
    </div>




</section>