
<section class="content twocoloumn">
    <div data-ng-init="loaddata()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Event Held</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-submit="savedata(headlst)" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Program Name: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <select class="form-control" name="selAcademic" id="sel1" data-ng-model="pryR_Id" required>
                                        <option value="" label="Select Program Name"> </option>
                                        <option ng-repeat="option in programlist" value="{{option.pryR_Id}}">
                                            {{option.pryR_ProgramName}}
                                        </option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.selAcademic)" ng-messages="myForm.selAcademic.$error">
                                        <div ng-message="required">Select Program Name</div>
                                    </div>
                                </div>
                            </div>

                         

                            <div class="form-group">
                                <label class="control-label col-sm-4">Start Time: <span style="color:Red">*</span></label>
                                <div class="col-sm-8">
                                    <div uib-timepicker name="StartTime" ng-model="srtime" ng-change="changed()" hour-step="hstep" minute-step="mstep" ng-disabled="timedis" show-meridian="ismeridian" required></div>
                                    <div class="error-messages" ng-if="interacted(myForm.StartTime)" ng-messages="myForm.StartTime.$error">
                                        <div ng-message="required">Please Select StartTime</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Activity Description :</label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <textarea class="form-control active" value="" id="reservation" name="waiveoffrema" type="text" data-ng-model="pgdecpt"></textarea>
                                </div>
                            </div>


                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Activity Held: <span style="color:Red">*</span></label>
                                <div class="col-sm-8" style="padding-left:24px">
                                    <input type="text" ng-model="pgname"  name="stu_Class" required class="form-control" />

                                    <div class="error-messages" ng-if="interacted(myForm.stu_Class)" ng-messages="myForm.stu_Class.$error">
                                        <div ng-message="required">Enter Activities Name Held</div>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Event Duration(in Mins): <span style="color:Red">*</span></label>
                                    <div class="col-sm-8" style="padding-left:24px">
                                        <input type="text" ng-model="duration"  name="evtdur" required class="form-control" maxlength="3" ng-minlength="1" allow-pattern="[0-9]" />
                                        <div class="error-messages" ng-if="interacted(myForm.evtdur)" ng-messages="myForm.evtdur.$error">
                                            <div ng-message="required">Enter Total Duration</div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                        </div>
                    </div>
                    <hr />
                    <div class="text-center">
                        <input type="hidden" ng-model="PRYRA_Id" value="{{PRYRA_Id}}" />
                        <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary">
                            <i class="fa fa-save" aria-hidden="true"></i> Save
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </md-button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Event Held Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{totcountfirst}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="sort('PRYRA_Id')">SLNO</a></th>
                            <th><a href="" ng-click="sort('programname')">Program Name</a></th>
                            <th><a href="" ng-click="sort('eventname')">Activity Name</a> </th>
                            <th><a href="" ng-click="sort('start_time')">Start Time</a> </th>
                            <th><a href="" ng-click="sort('end_time')">Duration</a> </th>
                            <th><a href="" ng-click="sort('description')">Event Description</a> </th>
                            <th style="display:none;"><a href="" ng-click="sort('fmH_ActiveFlag')">Active/InActive</a> </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in filterValue=(fillyear  | filter : searchValue) |orderBy:sortKey:reverse  |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                            <td>{{ itemsPerPage *(currentPage-1)+$index+1}}</td>
                            <td>{{ user.programname}}</td>
                            <td>{{ user.eventname}}</td>
                            <td>{{ user.start_time}}</td>
                            <td>{{ user.end_time}}</td>
                            <td>{{ user.description}}</td>
                            <td class="text-center">
                                <a href="javascript:void(0)" ng-click="getorgvalue(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>

                                <span ng-if="user.pryrA_ActiveFlag ===false ">
                                    <a href="" ng-click="deactive(user)"
                                       class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                        Activate
                                    </a>
                                </span>
                                <span ng-if="user.pryrA_ActiveFlag === true ">
                                    <a href="" ng-click="deactive(user)"
                                       class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                        Deactivate
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</section>