<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
        <div data-ng-init="Binddata()">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Conference Details Report</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" style="text-align:center">Program Type:<span style="color:red">*</span> </label>
                                    <div class="multiselect col-sm-8">
                                        <input class="form-control" ng-model="searchchkbxtype" type="text" placeholder="search here...">
                                        <label>
                                            <input type="checkbox" name="type" value="1" ng-model="userchecktype" data-ng-click="all_checktype()" />
                                            <span class="lbl padding-8">All</span>
                                        </label>
                                        <label data-ng-model="PRMTY_Id" ng-repeat="type in typelist|filter:filterchkbxtype" value="{{type.prmtY_Id}}">
                                            <input type="checkbox" name="type1" value="1" data-ng-model="type.select1" ng-click="togchkbxtype()" ng-required="isOptionsRequiredtype()" />
                                            <span class="lbl padding-8">{{type.prmtY_ProgramType}}</span>
                                        </label>
                                    </div>
                                    <div class="error-messages" ng-if="interacted(myForm.type1)" ng-messages="myForm.type1.$error">
                                        <div ng-message="required" style="color:red">Select Type</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" style="text-align:center">Program Level:<span style="color:red">*</span> </label>
                                    <div class="multiselect col-sm-8">
                                        <input class="form-control" ng-model="searchchkbxlevel" type="text" placeholder="search here...">
                                        <label>
                                            <input type="checkbox" name="level" data-ng-model="userchecklevel" value="1" data-ng-click="all_checklevel()" />
                                            <span class="lbl padding-8">All</span>
                                        </label>
                                        <label data-ng-model="PRMTLE_Id" ng-repeat="level in levellist|filter:filterchkbxlevel" value="{{type.prmtlE_Id}}">
                                            <input type="checkbox" name="level" value="1" data-ng-model="level.select3" ng-click="togchkbxlevel()" ng-required="isOptionsRequiredlevel()" />
                                            <span class="lbl padding-8">{{level.prmtlE_ProgramLevel}}</span>
                                        </label>
                                    </div>
                                    <div class="error-messages" ng-if="interacted(myForm.level)" ng-messages="myForm.level.$error">
                                        <div ng-message="required" style="color:red">Select Program Level</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" >Department:<span style="color:red">*</span> </label>
                                    <div class="multiselect col-sm-8">
                                        <input class="form-control" ng-model="searchchkbxdept" type="text" placeholder="search here...">
                                        <label>
                                            <input type="checkbox" name="type" value="1" ng-model="usercheckdept" data-ng-click="all_checkdept()" />
                                            <span class="lbl padding-8">All</span>
                                        </label>
                                        <label data-ng-model="HRMD_Id" ng-repeat="dept in departmentlist|filter:filterchkbxdept" value="{{dept.hrmD_Id}}">
                                            <input type="checkbox" name="dept" value="1" data-ng-model="dept.select" ng-click="togchkbxdept()" ng-required="isOptionsRequireddept()" />
                                            <span class="lbl padding-8">{{dept.hrmD_DepartmentName}}</span>
                                        </label>
                                    </div>
                                    <div class="error-messages" ng-if="interacted(myForm.dept)" ng-messages="myForm.dept.$error">
                                        <div ng-message="required" style="color:red">Select Department</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"> Date:<strong style="color:red;">*</strong></label>
                                    <div class="col-sm-8 input-group">
                                        <div class="form-group">
                                            <md-datepicker name="sch_date" onkeypress="return false" data-ng-model="PRYR_StartDate" placeholder="Enter date" required></md-datepicker>
                                            <div class="error-messages" ng-if="interacted(myForm.sch_date)" ng-messages="myForm.sch_date.$error">
                                                <div ng-message="required">Select Date</div>
                                            </div>
                                            <md-datepicker name="sch_date1" onkeypress="return false" data-ng-model="PRYR_EndDate" placeholder="Enter date" required></md-datepicker>
                                            <div class="error-messages" ng-if="interacted(myForm.sch_date1)" ng-messages="myForm.sch_date1.$error">
                                                <div ng-message="required">Select Date</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <hr />
                    <div class="">
                        <div class="text-center">

                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="showdetails()" id="save-btn">
                                <i class="fa fa-list-alt " aria-hidden="true"></i>
                                Report
                            </md-button>
                            <md-button type="submit" class="md-raised md-warn" ng-click="Clearid()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Cancel
                            </md-button>
                            <md-button type="button" class="md-raised md-primary" id="save-btn" ng-click="printData()" ng-show="reportlist.length>0">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Print
                            </md-button>
                            <md-button type="submit" class="md-raised md-primary" ng-click="exportToExcel('#printareaId1')" ng-show="reportlist.length>0">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel
                            </md-button>
                        </div>

                    </div>
                </div>
            </div>
        </div>





        <div class="box box-primary" ng-show="reportlist.length>0">
            <div class="box-header with-border">
                <h3 class="box-title">Conference Details Report </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th style="text-align:center">
                                SL. No.
                            </th>
                            <td>
                                <a href="" ng-click="sort('ASMAY_Year')">Year</a>
                            </td>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRYR_ProgramName')">Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRMTY_ProgramType')">Type</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRMTLE_ProgramLevel')"> Program Level Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('HRMD_DepartmentName')"> Department</a>
                            </th>
                           
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRYR_TotalParticipants')"> Total Participation</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRYR_Faculty')">Faculty</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRYR_IntParticipants')">International</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRYR_ResearchScholars')">Research Scholers</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRYR_OurCollStudents')">College Students</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRYR_NatParticipants')">National Participation</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('PRYR_LecturesNo')">Lectures</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="newuser1 in reportlist">
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{newuser1.ASMAY_Year}}</td>
                            <td>{{newuser1.PRYR_ProgramName}}</td>
                            <td>{{newuser1.PRMTY_ProgramType}}</td>
                            <td>{{newuser1.PRMTLE_ProgramLevel}}</td>
                            <td>{{newuser1.HRMD_DepartmentName}}</td>
                           
                            <td>{{newuser1.PRYR_TotalParticipants}}</td>
                            <td>{{newuser1.PRYR_Faculty}}</td>
                            <td>{{newuser1.PRYR_IntParticipants}}</td>
                            <td>{{newuser1.PRYR_ResearchScholars}}</td>
                            <td>{{newuser1.PRYR_OurCollStudents}}</td>
                            <td>{{newuser1.PRYR_NatParticipants}}</td>
                            <td>{{newuser1.PRYR_LecturesNo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </form>
    <div class="box box-primary" ng-show="false">
        <div class="box-body" id="printareaId1">
            <div class="row">
                <div class="col-sm-12">
                    <table>
                        <tr>
                            <td style=" text-align :left; font-size:20px;text-align:center" colspan="6">
                                <b>CONFERENCE DETAILS REPORT</b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
            <table class="table table-bordered table-responsive" id="printareaId">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            SL. No.
                        </th>
                        <td>
                            Year
                        </td>
                        <th style="text-align:center">
                          Name
                        </th>
                        <th style="text-align:center">
                          Type
                        </th>
                        <th style="text-align:center">
                             Program Level Name
                        </th>
                        <th style="text-align:center">
                           Department
                        </th>
                      
                        <th style="text-align:center">
                           Total Participation
                        </th>
                        <th style="text-align:center">
                           Faculty
                        </th>
                        <th style="text-align:center">
                            International
                        </th>
                        <th style="text-align:center">
                            Research Scholers
                        </th>
                        <th style="text-align:center">
                            College Students
                        </th>
                        <th style="text-align:center">
                            National Participation
                        </th>
                        <th style="text-align:center">
                            Lectures
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="newuser1 in reportlist">
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{newuser1.ASMAY_Year}}</td>
                        <td>{{newuser1.PRYR_ProgramName}}</td>
                        <td>{{newuser1.PRMTY_ProgramType}}</td>
                        <td>{{newuser1.PRMTLE_ProgramLevel}}</td>
                        <td>{{newuser1.HRMD_DepartmentName}}</td>
                      
                        <td>{{newuser1.PRYR_TotalParticipants}}</td>
                        <td>{{newuser1.PRYR_Faculty}}</td>
                        <td>{{newuser1.PRYR_IntParticipants}}</td>
                        <td>{{newuser1.PRYR_ResearchScholars}}</td>
                        <td>{{newuser1.PRYR_OurCollStudents}}</td>
                        <td>{{newuser1.PRYR_NatParticipants}}</td>
                        <td>{{newuser1.PRYR_LecturesNo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

   



</section>