.BCOESAPP {
    width: 90%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

    .BCOESAPP h1, .BCOESAPP h2, .BCOESAPP h3, .BCOESAPP h4, .BCOESAPP h5, .BCOESAPP h6,
    .BCOESAPP .h1, .BCOESAPP .h2, .BCOESAPP .h3, .BCOESAPP .h4, .BCOESAPP .h5, .BCOESAPP .h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        color: #3a5999 !important;
        font-weight: 700;
        margin-top: 2px;
    margin-bottom: 2px;
    }

    .BCOESAPP .table {
        width: 100%;
        border: 0px;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 10px;
        /* background: #95c7ef; */
    }

        .BCOESAPP .table > tbody > tr > td, .BCOESAPP .table > tbody > tr > th, .BCOESAPP .table > tfoot > tr > td, .BCOESAPP .table > tfoot > tr > th, .BCOESAPP .table > thead > tr > td, .BCOESAPP .table > thead > tr > th {
            padding: 8px;
            line-height: 0.89;
            vertical-align: top;
            border: 0px;
            font-size: 15px;
        }

    .BCOESAPP .box {
        margin: auto;
        padding: 10px;
        border: 1px solid #000;
        border-radius:0px;
    }
    .BCOESAPP .DOB-BOX {
        border: 1px solid #000;
        width: 22px;
        height: 22px;
        padding: 3px;
        padding-left: 6PX;
      
    }

     .BCOESAPP .DOB-BOXdate {
        
        width: 22px;
      
        padding: 3px;
        padding-left: 6PX;
      
    }

    .BCOESAPP .img-style {
        width: 200px;
        height: 150px;
        border: 1px solid #ddd;
            margin: auto;
     
    }

   /*p::first-letter {
  font-weight: bold;
  color: blue;
  font:small-caps;
  
}*/
