
@media print {
    #BGHSAPP {
        width: 100%;
        margin: auto;
         font-size:14px !important;
    }
    @page {
        size: a4 portrait;
    }
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        color: #3a5999 !important;
        font-weight: 700;
        margin-top: 2px !important;
    margin-bottom: 2px !important;
     padding-bottom:2px !important;
      padding-bottom:2px !important;
    }
    .header p{
        margin-top:0px !important;
        padding-top:0px !important;
         font-size:14px !important;
    }
    table {
        width: 100%;
        border: 0px !important;
         font-size:14px !important;
    }

    .table {
        width: 100%;
        border: 0px !important;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 5px;
         font-size:14px !important;
        /* background: #95c7ef; */
    }
     
    .BGHSAPP .table, .BGHSAPP .table > tbody > tr > td, .BGHSAPP .table > tbody > tr > th, .BGHSAPP .table > tfoot > tr > td, .BGHSAPP .table > tfoot > tr > th, .BGHSAPP .table > thead > tr > td, .BGHSAPP .table > thead > tr > th {
        padding: 8px;
        text-align: left !important;
        border: 0px !important;
        font-size:14px !important;
    }

    .border-bottom-dotted {
        border-bottom: 1px dotted #000 !important;
        text-align: left !important;
    }
    .box {
        margin: auto;
        padding: 10px;
        border: 1px solid #000;
    }
    .DOB-BOX {
        border: 1px solid #000;
        width: 25px;
        height: 22px;
        padding: 5px;
        padding-top:3px;
        padding-bottom:3px;
        padding-left: 6PX;
           margin: auto;
    }
    .img-style {
        width: 110px;
        height: 110px;
        border: 1px solid #ddd;
           margin: auto;
    }
}
