.BArrearReport table {
    font-size: 12px !important;
    table-layout: fixed;
    width: 100%;
    text-align: left !important;
}

.BArrearReport .table {
    font-size: 12px !important;
    table-layout: fixed;
    width: 100%;
    border: 0px !important;
    text-align: left !important;
}
.BArrearReport .margin-right-10 {
    margin-right: 0px !important;
}
.BArrearReport .table-bordered > thead > tr > th, .BArrearReport.table-bordered > tbody > tr > th,
.BArrearReport .table-bordered > tfoot > tr > th, .BArrearReport .table-bordered > thead > tr > td,
.BArrearReport .table-bordered > tbody > tr > td, .BArrearReport .table-bordered > tfoot > tr > td {
    border: 0.4px solid #000000 !important; 
    font-size: 12px !important;
    padding: 4px !important;
}

.BArrearReport .table-bordered {
    border-bottom: 0px !important;
    table-layout: fixed;
    width: 100%;
     font-size: 12px !important;
}

.BArrearReport img {
    width: 550px;
    margin: auto;
}
