@media print {

    table {
        font-size: 14px !important;
        table-layout: fixed;
        width: 100%;
        text-align: left !important;
    }

    .table {
        font-size: 13px !important;
        table-layout: fixed;
        width: 100%;
        border: 0px !important;
        text-align: left !important;
        /*line-height:1.4;*/
        line-height: 1;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 0.8px solid black;
        font-size: 14px !important;
        padding: 4px !important;
    }

    .table-bordered {
        border-bottom: 0.8px solid black!important;
        table-layout: fixed;
        width: 100%;
        line-height: 1.4;
    }

    img {
        width: 550px;
        margin: auto;
    }

    .margin-right-10 {
        margin-right: 3px !important;
    }
}
