@media print {
    @page {
        size: A4 landscape;
        margin: 0mm;
    }
    /*body{
        margin-top:50mm !important;
    }*/
    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 1px !important;
        margin-bottom: 1px !important;
    }

    .BBKVChallan {
        max-height: 30% !important;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 4px;
        line-height: 1.2;
        vertical-align: top;
        border-top: 0px !important;
        border: 0px !important;
        font-weight: 600;
        font-size: 10px;
        text-align: left !important;
    }

    .table {
        table-layout: fixed;
        width: 100%;
    }


    .table-bordered {
        table-layout: fixed;
        width: 100%;
        font-weight: 600;
        font-size: 10px;
        text-align: left !important;
        margin-bottom: 5px;
    }

    .outline {
        outline: 1px #000 solid;
        margin-right: 5px !important;
    }

    .border-bottom-dotted {
        border-bottom: 1px dotted #000 !important;
        text-align: center;
        font-size: 10px;
    }
}
