.BBKVChallan {
    width: 95%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

    .BBKVChallan .table > tbody > tr > td,
    .BBKVChallan .table > tbody > tr > th,
    .BBKVChallan .table > tfoot > tr > td,
    .BBKVChallan .table > tfoot > tr > th,
    .BBKVChallan .table > thead > tr > td,
    .BBKVChallan .table > thead > tr > th {
        padding: 8px;
        line-height: .8;
        vertical-align: top;
    }

    .BBKVChallan .table {
        width: 100%;
        border: 0px;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 10px;
        font-size: 12px;
        /* background: #95c7ef; */
    }

    .BBKVChallan .table-bordered {
        width: 100%;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 10px;
        font-size: 12px;
    }

.outline {
    outline: 1px #000 solid;
    margin-right: 5px !important;
}
