 .BBHSBUSSFORM .header_image{
         width: 65%;
    margin: auto;
 }
.BBHSBUSSFORM .box {
        padding: 5px;
        border: 1px solid #000;
        width: 50%;
        margin: auto;
    }
  .BBHSBUSSFORM .table {
        width: 100%;
        table-layout: fixed;
        text-align: left;
    }
    .BBHSBUSSFORM .table-bordered {
        width: 100%;
        table-layout: fixed;
        text-align: left;
    }
    .BBHSBUSSFORM .border-none {
        border: none !important;
    }
    .BBHSBUSSFORM .border-top {
        border-top: 1px solid #000 !important;
    }
  
  .BBHSBUSSFORM  .img-box{
      width:150px; float:left;margin-right:5px;
    }
 .BBHSBUSSFORM .img-border{
      width:150px;height:auto;
  }
  