
.MaldaBankReceipt h4 {
    padding: 0px !important;
    margin: 0px !important;
}
.MaldaBankReceipt .box h4 {
    padding: 5px !important;
   
}
.MaldaBankReceipt .border-bottom {
    border-bottom: 1px solid #000 !important;
    text-align: left !important;
}

.MaldaBankReceipt .table {
    table-layout: fixed;
    width: 100%;
    border: 0px !important;
    text-align: left !important;    
}
.MaldaBankReceipt .table>tbody>tr>td{
    padding: 4px !important;
}
.MaldaBankReceipt .table-bordered {
    table-layout: fixed;
    width: 100%;
    text-align: left !important;
      margin-top:10px !important;
}
.MaldaBankReceipt thead {
    background: #ffffff;
    color: #0c0c0c !important;
    text-align: center;
}
.MaldaBankReceipt .table-bordered > thead > tr > th, 
.MaldaBankReceipt .table-bordered > tbody > tr > th, 
.MaldaBankReceipt .table-bordered > tfoot > tr > th, 
.MaldaBankReceipt .table-bordered > thead > tr > td, 
.MaldaBankReceipt .table-bordered > tbody > tr > td, 
.MaldaBankReceipt .table-bordered > tfoot > tr > td {
    border: 0.8px solid #000000;
    padding: 5px;
    vertical-align: middle;
}
.MaldaBankReceipt .border-top{
    border-top:1px solid #000 !important;
}