.CunductCertificateMalda {
    width: 90%;
    margin: auto;
    font-family: Times,serif;
    font-style: italic;
}

    .CunductCertificateMalda h1, .CunductCertificateMalda h2, .CunductCertificateMalda h3, .CunductCertificateMalda h4, .CunductCertificateMalda h5, .CunductCertificateMalda h6,
    .CunductCertificateMalda .h1, .CunductCertificateMalda .h2, .CunductCertificateMalda .h3, .CunductCertificateMalda .h4, .CunductCertificateMalda .h5, .CunductCertificateMalda .h6 {
        font-weight: 700;
        font-family: Times,serif;
        color: rgb(0,0,0);
        font-style: italic;
        text-decoration: none;
    }

    .CunductCertificateMalda .table {
        width: 100%;
        border: 0px;
        font-size: 16px;
        font-weight: 400;
        text-align: left !important;
        margin-bottom: 10px;
        font-family: Times,serif;
        font-style: italic;
    }

    .CunductCertificateMalda table {
        table-layout: fixed;
        width: 100%;
        margin-bottom: 15px;
        font-family: Times,serif;
        font-style: italic;
    }

    .CunductCertificateMalda .table > tbody > tr > td, .CunductCertificateMalda .table > tbody > tr > th, .CunductCertificateMalda .table > tfoot > tr > td, .CunductCertificateMalda .table > tfoot > tr > th, .CunductCertificateMalda .table > thead > tr > td,
    .CunductCertificateMalda .table > thead > tr > th {
        padding: 8px;
        line-height: 1.0;
        vertical-align: bottom !important;
        border: 0px;
        font-size: 16px;
        font-family: Times,serif;
        font-style: italic;
    }
