

.MaldaStudentTc table {
    table-layout: fixed;
    width: 100%;
    border: none !important;
}

.MaldaStudentTc .table {
    border: none !important;
    text-align: left !important;
    font-weight: 500;
}


.MaldaprintSectionIdgirls .table {
    border: none !important;
    width: 90%;
    margin: auto;
    font-family: Times,serif;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
}

.MaldaprintSectionIdgirls .border-bottom {
    border-bottom: 1px solid #000 !important;
    text-align: center;
    font-family: Times,serif;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
}

.margin-top-70 {
    margin-top: 70px !important;
}
