@media print {

    table {
        table-layout: fixed;
        width: 90%;
        margin: auto;
        border: none !important;
    }

    .table {
        border: none !important;
        text-align: left !important;
        font-size: 16px !important;
        margin-bottom: 15px;
        font-family: Times,serif;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: italic;
        text-decoration: none;
    }

    .Maldaapp .table, .Maldaapp .table > tbody > tr > td, .Maldaapp .table > tbody > tr > th, .Malda .table > tfoot > tr > td, .Maldaapp .table > tfoot > tr > th, .Maldaapp .table > thead > tr > td, .Maldaapp .table > thead > tr > th {
        padding: 8px;
        text-align: left !important;
        border: 0px !important;
        font-size: 16px;
        font-family: Times,serif;
        font-style: italic;
    }



    .border-bottom {
        border-bottom: 1px solid #000 !important;
        text-align: center;
        font-family: Times,serif;
        font-style: italic;
        font-weight: 500;
    }

    .width-480 {
        width: 420px !important;
    }

    .width-360 {
        width: 360px !important;
    }

    .margin-top-none {
        margin-top: 0px !important;
    }

    .margin-buttom-none {
        margin-bottom: 0px !important;
    }

    .margin-top-70 {
        margin-top: 70px !important;
    }
}
