@media print {
    @page {
        size: landscape;
    }

    img {
        width: 80%;
        margin: auto;
    }
    .min-height{
          min-height: 100% !important;
    }
    .table {
        table-layout: fixed;
        padding: 8px;
        width: 95%;
        margin: auto;
        border: 0px !important;
        text-align: center !important;
        line-height: 1.4;
        font-size: 13px !important;
    }

    .table-bordered {
        table-layout: fixed;
        width: 95%;
        margin: auto;
        font-weight: 600;
        text-align: left !important;
        font-size: 13px !important;
    }

        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 0.8px solid #cad4de;
            padding: 5px;
            vertical-align: middle;
            line-height: 1.2;
        }
   

}
