
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-init="loaddata();" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Alumni Donation Print <label>


                    </label>

                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">

                        <div class="form-group">
                            <label class="control-label col-sm-3">B/W Dates: <span style="color:Red">*</span></label>
                            <div class="col-sm-4">
                                <div class="">
                                    <md-datepicker id="FromDate" ng-model="fromdate" onkeydown="return false" name="fdate" md-placeholder="From Date" required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.fdate)" ng-messages="myForm.fdate.$error">
                                        <div ng-message="required">Select the from date</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="">
                                    <md-datepicker id="ToDate" name="tdate" ng-model="todate" onkeydown="return false" md-placeholder="To Date"
                                                   md-min-date="fromdate" required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.tdate)" ng-messages="myForm.tdate.$error">
                                        <div ng-message="required">Select the To date</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span style="color:red;">{{errMessage}}</span>

                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <hr />
                <div class="">
                    <div class="text-center">
                        <span>
                            <md-button type="submit" class="md-raised md-primary" id="save-btn" ng-click="showreport()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                        </span>
                        <md-button type="submit" class="md-raised md-warn" data-ng-click="Clearid();">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancel
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary" ng-show="donationlist.length>0 || donationlist.length!=null">
            <div class="box-header with-border">
                <h3 class="box-title">Alumni Donation Print</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{donationlist.length}}
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group" ng-if="search!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" type="text" ng-model="search" placeholder="search here...">
                            </div>
                        </div>
                    </div>

                </div>

                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <!--<th class="hdTH">
                                <label>
                                    <input type="checkbox" value="" ng-click="toggleAll();" ng-model="all">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </th>-->
                            <th>Select </th>
                            <th>SL.NO</th>
                            <th ng-hide="flag=='Alumni'">Alumni</th>
                            <th ng-hide="flag=='Alumni'">Batch</th>
                            <th>Donation Date</th>
                            <th>Donation To</th>
                            <th>Amount</th>
                            <th ng-hide="flag=='Alumni'">Mobile</th>
                            <th ng-hide="flag=='Alumni'">Email Id</th>
                            <th ng-hide="flag=='Alumni'">Pan No</th>
                            <th>Receipt No</th>
                            <th>Print Receipt</th>
                           






                        </tr>
                    </thead>
                    <tbody>

                        <tr dir-paginate="user in filterValue1=(donationlist  | filter:search) | orderBy:sortKey:reverse |itemsPerPage:itemsPerPage1" current-page="currentPage1" pagination-id="paginate1">

                            <td class="text-center hdTD">
                                <label>
                                    <input type="checkbox" ng-model="user.selected" ng-change="optionToggled(user)">

                                    <span class="lbl padding-8"></span>
                                </label>
                            </td>
                            <td>{{itemsPerPage1 *(currentPage1-1)+$index+1}}</td>
                           
                            <td ng-hide="flag=='Alumni'">{{ user.ALDON_DonorName}}</td>
                            <td ng-hide="flag=='Alumni'">{{ user.LeftBatch}}</td>
                            <td>{{ user.ALDON_Date |date:'dd-MM-yyyy'}}</td>
                            <td>{{ user.ALMDON_DonationName}}</td>
                            <td>{{ user.ALDON_Amount}}</td>
                            <td ng-hide="flag=='Alumni'">{{ user.ALMST_MobileNo}}</td>
                            <td ng-hide="flag=='Alumni'">{{ user.ALMST_emailId}}</td>
                            <td ng-hide="flag=='Alumni'">{{ user.ALDON_DonarPANNo}}</td>
                            <td>{{ user.ALDON_ReceiptNo}}</td>
                            <td>
                                <span >
                                    <a ng-show="user.selected" href="javascript:void(0)" class="text-primary" data-placement="bottom" title=" Print Receipt" data-toggle="modal" data-ng-model="itemOption" ng-click="PrintReceipt(user)">
                                        Print Receipt
                                    </a>
                                </span>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="5" pagination-id="paginate1" direction-links="true" boundary-links="true"></dir-pagination-controls>
                <hr />
             
            </div>
          
                <div class="box box-primary" ng-show="false"  id="printSectionId">
                    <div class="box-body">


                        <section>
                            <table style="width:100%">

                                <tr>
                                    <td style="text-align:center;">
                                        <img src="https://bdcampusstrg.blob.core.windows.net/files/17/HomeworkUpload/8987387d-109a-4663-b11e-a69774d283c1.jpg">

                                    </td>
                                </tr>
                            </table>
                            <br>


                           
                            <br>
                            <table style="width:100%">
                                <tr>
                                    <td style="text-align:left;">TRUST REG NO:PRO-718/10A/VOL BIJ16</td>
                                    <td style="text-align:right;">PAN NO:&nbsp;{{panmi}}</td>
                                </tr>
                            </table>
                            <br />
                            <table style="width:100%">
                                <tr>
                                    <td style="text-align:center;"><b>RECEIPT</b></td>
                                </tr>
                            </table>
                            <br />
                            <table style="width:100%">
                                <tr>
                                    <td style="text-align:left;">Receipt No:&nbsp;{{ReceiptNo}} </td>
                                    <td style="text-align:right;">Date:&nbsp;{{todatedate|date:'dd-MM-yyyy'}}</td>
                                </tr>
                            </table>


                            <br>
                            <table style="width:100%">
                                <tr>
                                    <td style="text-align:center;">
                                        Received with thanks from Mr &nbsp;{{ALDON_DonorName}} &nbsp; a sum of Rs &nbsp;{{ALDON_Amount}} /- &nbsp;
                                        (Rupees &nbsp; {{wordamount}}) &nbsp; by Online Ref No &nbsp; {{paymentid}} &nbsp; towards Donation to &nbsp;{{Donationname}}.
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <table style="width:90%">
                                <tr>
                                    <td style="text-align:left;">
                                        PAN NO: &nbsp; {{ALMST_StudentPANCard}} <br />
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <br>
                            <table style="width:90%">
                                <tr>
                                    <td style="text-align:right;">Authorized Signature</td>
                                </tr>
                            </table>

                        </section>
                    </div>
                </div>
        


           
        </div>

    </form>
</section>