
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-init="loaddata();" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Alumni Registration and Payment Report <label>


                    </label>

                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-8 col-lg-offset-2">
                        <div class="well">
                            <div class="text-center" ng-init="alumniregister='AlumniDetails'">
                                <label class="radio-inline">
                                    <input type="radio" value="AlumniDetails" name="AlumniDetails" ng-model="alumniregister" ng-change="alumnichanges()">
                                    <span class="lbl padding-8">Alumni Register Details </span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="AlumniPayment" name="AlumniPayment" ng-model="alumniregister" ng-change="alumnichanges()">
                                    <span class="lbl padding-8"> Alumni Register Payment </span>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">

                        <div class="form-group">
                            <label class="control-label col-sm-3">B/W Dates: <span style="color:Red">*</span></label>
                            <div class="col-sm-4">
                                <div class="">
                                    <md-datepicker id="FromDate" md-max-date="ndate" ng-model="fromdate" onkeydown="return false" name="fdate" md-placeholder="From Date" required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.fdate)" ng-messages="myForm.fdate.$error">
                                        <div ng-message="required">Select the from date</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="">
                                    <md-datepicker id="ToDate" name="tdate" ng-model="todate" onkeydown="return false" md-placeholder="To Date"
                                                   md-min-date="fromdate"  md-max-date="ndate" required></md-datepicker>
                                    <div class="error-messages" ng-if="interacted(myForm.tdate)" ng-messages="myForm.tdate.$error">
                                        <div ng-message="required">Select the To date</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span style="color:red;">{{errMessage}}</span>

                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <hr />
                <div class="">
                    <div class="text-center">
                        <span>
                            <md-button type="submit" class="md-raised md-primary" id="save-btn" ng-click="showreport()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Report
                            </md-button>
                        </span>
                        <md-button type="submit" class="md-raised md-warn" data-ng-click="Clearid();">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancel
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary" ng-show="aludetails">
            <div class="box-header with-border">
                <h3 class="box-title">Alumni Registration Details Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{alumnidetails.length}}
                                </label>
                            </label>
                        </div>
                    </div>

                </div>

                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>

                            <th>SL.NO</th>
                            <th>Alumni Name </th>
                            <th>Email Id</th>
                            <th>Mobile NO</th>
                            <th>Batch</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr dir-paginate="user in filterValue1=(alumnidetails  | filter:filterValue) | orderBy:sortKey:reverse |itemsPerPage:itemsPerPage" current-page="currentPage" pagination-id="paginate1">


                            <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                            <td>{{ user.ALSREG_MemberName}}</td>
                            <td>{{ user.ALSREG_EmailId}}</td>
                            <td>{{ user.ALSREG_MobileNo}}</td>
                            <td>{{ user.ASMAY_Year}}</td>


                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="10" pagination-id="paginate1" direction-links="true" boundary-links="true"></dir-pagination-controls>
                <hr />
                <div class="">
                    <div class="text-center">
                        <md-button type="submit" class="md-raised md-primary" ng-click="exportToExcel('#tableex')" target="_blank">
                            Export to Excel
                        </md-button>
                        <md-button type="submit" class="md-raised md-warn" ng-click="printData();">
                            Print
                        </md-button>


                    </div>
                </div>
            </div>
            <div id="printSectionId" ng-show="false" style="overflow:scroll">
                <div class="">
                    <div class="baldwin text-center">
                        <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                    </div>
                </div>
                <center> <h4><u> Alumni Registration Details Report </u></h4></center>
                <table class="table table-hover table-responsive table-bordered text-center" id="table">
                    <thead>
                        <tr>
                            <th>SL.NO</th>
                            <th>Alumni Name </th>
                            <th>Email Id</th>
                            <th>Mobile NO</th>
                            <th>Batch</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alumnidetails | orderBy:sortKey:reverse">
                            <td>{{$index+1}}</td>

                            <td>{{ user.ALSREG_MemberName}}</td>
                            <td>{{ user.ALSREG_EmailId}}</td>
                            <td>{{ user.ALSREG_MobileNo}}</td>
                            <td>{{ user.ASMAY_Year}}</td>

                        </tr>
                    </tbody>
                    <tfoot class="margin-top-10">
                        <tr>
                            <td colspan="16" class="col-sm-12 text-center margin-top-2">
                                <label>
                                    Date:{{ddate|date:'dd/MM/yyyy'}} UserName: {{usrname}} {{coptyright}}
                                </label>

                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>


            <div   ng-show="false" class="table-bordered text-center" style="overflow:scroll">


                <table class="table table-hover table-responsive table-bordered text-center" id="tableex">
                    <thead>
                        <tr style="border:0.5px solid black">
                            <th>SL.NO</th>
                            <th>Alumni Name </th>
                            <th>Email Id</th>
                            <th>Mobile NO</th>
                            <th>Batch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alumnidetails | orderBy:sortKey:reverse">
                            <td>{{$index+1}}</td>

                            <td>{{ user.ALSREG_MemberName}}</td>
                            <td>{{ user.ALSREG_EmailId}}</td>
                            <td>{{ user.ALSREG_MobileNo}}</td>
                            <td>{{ user.ASMAY_Year}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box box-primary" ng-show="alupayment">
            <div class="box-header with-border">
                <h3 class="box-title">Alumni Registration Payment Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{alupayment.length}}
                                </label>
                            </label>
                        </div>
                    </div>

                </div>

                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>

                            <th>SL.NO</th>
                            <th>Alumni Name </th>
                            <th>Email Id</th>
                            <th>Mobile NO</th>
                            <th>Batch</th>
                            <th>Payment date</th>
                            <th>Amount</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr dir-paginate="user in filterValue1=(alumnipayment  | filter:filterValue) | orderBy:sortKey:reverse |itemsPerPage:itemsPerPage1" current-page="currentPage1" pagination-id="paginate12">


                            <td>{{itemsPerPage1 *(currentPage1-1)+$index+1}}</td>
                            <td>{{ user.ALSREG_MemberName}}</td>
                            <td>{{ user.ALSREG_EmailId}}</td>
                            <td>{{ user.ALSREG_MobileNo}}</td>
                            <td>{{ user.ASMAY_Year}}</td>
                            <td>{{ user.FYP_Date|date:'dd-MM-yyyy'}}</td>
                            <td>{{ user.FYP_Tot_Amount}}</td>


                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls max-size="10" pagination-id="paginate12" direction-links="true" boundary-links="true"></dir-pagination-controls>
                <hr />
                <div class="">
                    <div class="text-center">
                        <md-button type="submit" class="md-raised md-primary" ng-click="exportToExcel1('#tableex1')" target="_blank">
                            Export to Excel
                        </md-button>
                        <md-button type="submit" class="md-raised md-warn" ng-click="printData1();">
                            Print
                        </md-button>


                    </div>
                </div>
            </div>
            <div id="printSectionId1"  ng-show="false" style="overflow:scroll">
                <div class="">
                    <div class="baldwin text-center">
                        <img src="{{imgname}}" class="img-responsive" alt="baldwin">
                    </div>
                </div>
                <center> <h4><u> Alumni Registration Payment Report </u></h4></center>
                <table class="table table-hover table-responsive table-bordered text-center" id="table">
                    <thead>
                        <tr>
                            <th>SL.NO</th>
                            <th>Alumni Name </th>
                            <th>Email Id</th>
                            <th>Mobile NO</th>
                            <th>Batch</th>
                            <th>Payment date</th>
                            <th>Amount</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in alumnipayment | orderBy:sortKey:reverse">
                            <td>{{$index+1}}</td>
                            <td>{{ user.ALSREG_MemberName}}</td>
                            <td>{{ user.ALSREG_EmailId}}</td>
                            <td>{{ user.ALSREG_MobileNo}}</td>
                            <td>{{ user.ASMAY_Year}}</td>
                            <td>{{ user.FYP_Date|date:'dd-MM-yyyy'}}</td>
                            <td>{{ user.FYP_Tot_Amount}}</td>
                        </tr>
                    </tbody>
                    <tfoot class="margin-top-10">
                        <tr>
                            <td colspan="16" class="col-sm-12 text-center margin-top-2">
                                <label>
                                    Date:{{ddate|date:'dd/MM/yyyy'}} UserName: {{usrname}} {{coptyright}}
                                </label>

                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>


            <div  ng-show="false" class="table-bordered text-center" style="overflow:scroll">


                <table class="table table-hover table-responsive table-bordered text-center" id="tableex1">
                    <thead>
                        <tr style="border:0.5px solid black">
                            <th>SL.NO</th>
                            <th>Alumni Name </th>
                            <th>Email Id</th>
                            <th>Mobile NO</th>
                            <th>Batch</th>
                            <th>Payment date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border:0.5px solid black" ng-repeat="user in alumnipayment | orderBy:sortKey:reverse">
                    
                            <td>{{$index+1}}</td>
                            <td>{{ user.ALSREG_MemberName}}</td>
                            <td>{{ user.ALSREG_EmailId}}</td>
                            <td>{{ user.ALSREG_MobileNo}}</td>
                            <td>{{ user.ASMAY_Year}}</td>
                            <td>{{ user.FYP_Date|date:'dd-MM-yyyy'}}</td>
                            <td>{{ user.FYP_Tot_Amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</section>