<script src="js/kendographs.js"></script>
<div data-ng-init="loaddata()">

    <section class="content">
        <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" novalidate>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Fee Defaulter</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">

                    <div class="row">

                        <div class="col-sm-12 col-sm-offset-4 ">
						<div class="col-sm-4 " style="align-content:center;">
                            <div class="form-group">
                                <label class="control-label col-sm-5">Academic Year:<span style="color:red;">*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="sel1" ng-model="asmaY_Id" name="acd_year" required>

                                        <option value="">Select Year</option>
                                        <option value="2017-2018">2017-2018</option>
                                        <option value="2018-2019">2018-2019</option>
                                        <option value="2019-2020">2019-2020</option>
                                        <option value="2020-2021">2020-2021</option>
                                        <option value="2021-2022" ng-selected="true">2021-2022</option>
                                    </select>
                                    <div class="error-messages" ng-if="interacted(myForm.acd_year)" ng-messages="myForm.acd_year.$error">
                                        <div ng-message="required">Please Enter the Academic Year</div>
                                    </div>
                                </div>

                            </div>
                        </div>
						</div>

                    </div>


                    <hr />
                    <div class="text-center">
                        <md-button type="button" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn" ng-click="ShowReport()">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                            Report
                        </md-button>

                        <md-button type="button" class="md-raised md-warn" id="clear-btn" ng-click="Cancel()">Clear</md-button>
                        <md-button type="button" class="md-raised md-primary" ng-click="exportToExcel()" target="_blank" ng-if="showbutton == true">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Export to Excel
                        </md-button>

                        <md-button type="button" class="md-raised md-primary" ng-if="showbutton == true" id="print-btn" ng-click="printData();">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            Print
                        </md-button>
                        <!--<md-button type="button" class="md-raised md-primary" data-toggle="modal" data-target="#myModal3" data-backdrop="static">Display</md-button>-->
                    </div>
                </div>
            </div>

                    <div class="box box-primary" ng-show="showmodel">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fee Defaulter</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">

                            <div class="row" ng-show="yearmodel">


                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Academic Year</th>
                                            <th> Class</th>
                                            <th>Section</th>
                                            <th>Total Strength</th>
                                            <th>Total Paid Count</th>

                                            <th>Before Due Date Count</th>
                                            <th>After Due Date Count</th>
											<th>Pending</th>

                                        </tr>
                                    </thead>
                                    <tbody>




                                        <tr>
                                            <td rowspan="16">{{asmaY_Iddd}}</td>
                                            <td rowspan="4 "> I </td>
                                            <td>A</td>
                                            <td>50</td>
                                            <td>40</td>
                                            <td>25</td>
                                            <td>15</td>
											 <td>10</td>
                                        </tr>
                                        <tr>


                                            <td>B</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>6</td>
                                            <td>14</td>
											<td>0</td>
                                        </tr>
                                        <tr>



                                            <td>C</td>
                                            <td> 30</td>
                                            <td>15 </td>
                                            <td>13</td>

                                            <td>2</td>
											<td>15</td>

                                        </tr>
                                        <tr>


                                            <td> D</td>
                                            <td>48</td>
                                            <td>48</td>

                                            <td>48</td>
                                            <td>0</td>
											<td>0</td>
                                        </tr>



                                        <tr>




                                            <td rowspan="4 ">II</td>
                                            <td>A</td>
                                            <td>28</td>
                                            <td>28</td>
                                            <td>18</td>
                                            <td>10</td>
											<td>0</td>
                                        </tr>
                                        <tr>



                                            <td>B</td>
                                            <td>47</td>
                                            <td>40</td>
                                            <td>25</td>
                                            <td>15</td>
											<td>7</td>
                                        </tr>
                                        <tr>




                                            <td>C</td>
                                            <td> 20</td>
                                            <td>20 </td>
                                            <td>6</td>

                                            <td>14</td>
											<td>0</td>

                                        </tr>
                                        <tr>


                                            <td> D</td>
                                            <td>50</td>
                                            <td>15</td>

                                            <td>13</td>
                                            <td>2</td>
											<td>35</td>
                                        </tr>

                                        <tr>




                                            <td rowspan="4 ">III</td>
                                            <td>A</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>0</td>
											<td>0</td>
                                        </tr>
                                        <tr>




                                            <td>B</td>
                                            <td>30</td>
                                            <td>28</td>
                                            <td>18</td>
                                            <td>10</td>
											<td>2</td>
                                        </tr>
                                        <tr>





                                            <td>C</td>
                                            <td> 48</td>
                                            <td>40 </td>
                                            <td>25</td>

                                            <td>15</td>
											<td>8</td>

                                        </tr>
                                        <tr>

                                            <td> D</td>
                                            <td>28</td>
                                            <td>20</td>

                                            <td>6</td>
                                            <td>14</td>
											<td>8</td>
											
                                        </tr>

                                        <tr>





                                            <td rowspan="4 ">IV</td>
                                            <td>A</td>
                                            <td>47</td>
                                            <td>15</td>
                                            <td>13</td>
                                            <td>2</td>
											<td>32</td>
                                        </tr>
                                        <tr>



                                            <td>B</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>0</td>
											<td>0</td>
                                        </tr>
                                        <tr>







                                            <td>C</td>
                                            <td> 50</td>
                                            <td>28 </td>
                                            <td>18</td>

                                            <td>10</td>
											<td>22</td>

                                        </tr>
                                        <tr>

                                            <td> D</td>
                                            <td>40</td>
                                            <td>40</td>

                                            <td>25</td>
                                            <td>15</td>
											<td>0</td>
                                        </tr>




                                    </tbody>
                                </table>
                            </div>



                            <div class="demo-section k-content wide" ng-show="yearmodel">
                                <div id="area" style="height:600px;"></div>
                            </div>

                            <div class="demo-section k-content wide" ng-show="yearmodel">
                                <div id="chart1" style="height:600px;"></div>
                            </div>


                        </div>
                    </div>




        





        </form>




    </section>
</div>