
@media print {

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 0.5px solid #808080 !important;
        padding: 5px;
        vertical-align: middle;
        font-weight: 600;
        font-size: 14px;
        /*color: #3e4095;*/
    }

   label {
        font-weight: 600;
        font-size: 14px;
        /*color: #3e4095;*/
    }

   .table-bordered {
        table-layout: auto;
        width: 100%;
        margin: auto;
    }

   .table {
        table-layout: auto;
        width: 100%;
        margin: auto;
        border: 0px !important;
    }

    .table-bordered .table > tbody > tr > td,
    .table-bordered .table > tbody > tr > th,
    .table-bordered .table > tfoot > tr > td,
    .table-bordered .table > tfoot > tr > th,
    .table-bordered .table > thead > tr > td,
    .table-bordered .table > thead > tr > th {
        padding: 0px !important;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 0px solid #ddd;
        text-align: left;
        vertical-align: middle;
        /*color: #3e4095;*/
    }

    .float-right {
        float: right !important;
    }
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .gender-box {
        border: 1px solid #3e4095;
        width: 10px;
        height: 10px;
        display: inline-block;
    }
}
