
#VivekanandaTC .table-bordered > thead > tr > th,
#VivekanandaTC .table-bordered > tbody > tr > th,
#VivekanandaTC .table-bordered > tfoot > tr > th,
#VivekanandaTC .table-bordered > thead > tr > td,
#VivekanandaTC .table-bordered > tbody > tr > td,
#VivekanandaTC .table-bordered > tfoot > tr > td {
    border: 0.5px solid #3e4095;
    padding: 5px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
    color: #3e4095;
}
#VivekanandaTC label {
    font-weight: 600;
    font-size: 14px;
    color: #3e4095;
}
#VivekanandaTC .table-bordered {
    table-layout: auto;
    width: 100%;
    margin: auto;
}
#VivekanandaTC .table {
    table-layout: auto;
    width: 100%;
    margin: auto;
    border:0px !important;
}
#VivekanandaTC .table-bordered .table > tbody > tr > td,
#VivekanandaTC .table-bordered .table > tbody > tr > th,
#VivekanandaTC .table-bordered .table > tfoot > tr > td,
#VivekanandaTC .table-bordered .table > tfoot > tr > th,
#VivekanandaTC .table-bordered .table > thead > tr > td,
#VivekanandaTC .table-bordered .table > thead > tr > th {
    padding: 0px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
    text-align: left;
    vertical-align: middle;
}
.float-right{
    float:right !important;
}

#VivekanandaTC .gender-box {
    border: 1px solid #3e4095;
    width: 10px;
    height: 10px;
    display: inline-block;
}