
<section class="content">
    <form class="form-horizontal" role="form" name="myForm" novalidate>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Flash News</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="box-body">
                    <form class="form-horizontal" role="form" name="myForm" novalidate>
                        <div class="form-group">
                            <!--<label class="control-label col-sm-6"><b></b><span style="color:Red">*</span></label>-->
                            <div class="col-sm-12">
                                <textarea name="curpass" placeholder="Enter Flash News.....!!" style="height:100px" ng-model="curpwd" class="form-control" id="usr"></textarea>
                                <div class="error-messages" ng-if="interacted(myForm.curpass)" ng-messages="myForm.curpass.$error">
                                    <div ng-message="required">Enter Flash News </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="control-label col-sm-6">Enter new password :<span style="color:Red">*</span></label>
                            <div class="col-sm-6">
                                <input type="password" name="newpass" ng-model="newpwd" class="form-control" id="usr1" required>
                                <div class="error-messages" ng-if="interacted(myForm.newpass)" ng-messages="myForm.newpass.$error">
                                    <div ng-message="required">Enter new password</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6">Confirm password:<span style="color:Red">*</span></label>
                            <div class="col-sm-6">
                                <input type="password" name="renewpass" ng-model="cnfpwd" class="form-control" id="usr2" required>
                                <div class="error-messages" ng-if="interacted(myForm.renewpass)" ng-messages="myForm.renewpass.$error">
                                    <div ng-message="required">Re-enter new password</div>
                                </div>
                            </div>
                        </div>-->
                        <hr />
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" ng-click="SubmitForm()">
                                <i class="fa  fa-exchange"></i> Save
                            </md-button>
                            <md-button type="submit" class="md-raised md-warn" ng-click="cleardata()">
                                <i class="fa fa-share-square-o"></i> Cancel
                            </md-button>
                        </div>
                    </form>
                </div><!--end box body-->
            </div>
        </div>
        </form>
</section>