
<section class="content homepage" ng-init="fetchhomepage()">
    <div>
        <div class="module">
            <div class="row">

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/exit.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Pre Admission</p>
                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
        <div class="bg" ng-click="clickonmodules()">
            <a class="thumbnail pic">
                <img class="img-responsive" src="images/icons/administrator.png" alt="">
            </a>
            <div class="caption  text-center">
                <p>Administration</p>
            </div>
        </div>
    </div>-->
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/admission.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Admission</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/fees.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>fees</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/exam.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>exam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/accounts.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>accounts</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/paycare.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>paycare</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/inventory.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>inventory</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/library.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>library</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/alumini.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>alumni</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/birthday.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>birthday</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/tranasport.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>transport</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/conveyance.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>conveyance</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/sports.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>sports</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/coe.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>coe</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/scholarship.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>scholarship</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/kiosk.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>kiosk</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="images/icons/tools.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>tools</p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/accounts.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Accounts</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/administrator.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Administrator</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/ASSET.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Asset</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/FRONTOFFICE.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Front Office</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/HEALTH.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Health Management</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/HOSTEL.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Hostel Management</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/LESSON PLAN.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Lesson Planner</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/LMS.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>LMS</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/PDA.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>PDA</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/PURCHASE.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Purchase</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/TIMETABLE.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>TimeTable</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/VISITOR.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Visitor Management</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-xs-6 thumb nopadding">
                    <div class="bg" ng-click="clickonmodules()">
                        <a class="thumbnail pic">
                            <img class="img-responsive" src="https://vapsinhouse.blob.core.windows.net/files/ICONS/YEARLY PROGRAM.png" alt="">
                        </a>
                        <div class="caption text-center">
                            <p>Yearly Program</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
