<section class="content">
    <form class="form-horizontal" role="form" name="myForm" novalidate>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Whatsapp</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="box-body" name="myForm1">
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            Type:<strong style="color:red;">*</strong>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" name="Dropdown" data-ng-model="type" id="whatsapp11" style="height:30px" required>
                                <option value="">--Select--</option>
                                <option value="Board">WelcomeBoard</option>
                                <option value="Birthday">Birthday</option>
                                <option value="Attendance">Attendance</option>
                                <option value="FeeDue">Fee Due</option>
                                <option value="FeeTransaction">Fee Transaction</option>
                                <option value="LoginCredentials">Login Credentials</option>
                            </select>

                            <div class="error-messages" ng-if="interacted(myForm.Dropdown)" ng-messages="myForm.Dropdown.$error">
                                <div ng-message="required">Please Select</div>
                            </div>
                        </div>
                    </div>



                    <!--phone number-->
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            Mobile Number:<strong style="color:red;">*</strong>
                        </label>
                        <div class="col-md-8">
                            <input class="form-control active" name="mbl" ng-model="MobileNumber" id="MobileNumber" type="text" placeholder="Enter MobileNumber" style="height:30px"
                                   maxlength="10" minlength="10" ng-pattern="/^[6-9]{1,1}[0-9]{9,9}?$/" allow-pattern="\d" required>

                            <div class="error-messages" ng-if="interacted(myForm.mbl)" ng-messages="myForm.mbl.$error">
                                <div ng-message="required">Enter Valid Mobile Number</div>
                                <div ng-message="pattern">Enter Valid Mobile Number</div>
                                <!--<div ng-message="required">Enter Mobile Number</div>-->
                                <div ng-message="minlength">Mobile number must contain 10 digits</div>
                                <div ng-message="maxlength">Mobile number must contain 10 digits</div>
                            </div>
                        </div>
                    </div>

                    <!--Birtday-->
                    <div ng-if="type == 'Birthday'">
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'Birthday'">
                                Name:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'Birthday'">
                                <input class="form-control active" ng-model="obj.BirthdayName" id="BirthdayName" type="text" name="birthday1" placeholder="Name" style="height:30px" minlength="3" allow-pattern="(\s|[a-zA-Z])" required>

                                <div class="error-messages" ng-if="interacted(myForm.birthday1)" ng-messages="myForm.birthday1.$error">
                                    <div ng-message="required">Enter Name</div>
                                    <div ng-message="pattern">Enter alphabets</div>
                                    <div ng-message="minlength">Enter minimum 3 letters</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'Birthday'">
                                InstituteName:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'Birthday'">
                                <input class="form-control active" ng-model="obj.InstituteNameB" id="InstituteNameB" name="birthday2" placeholder="InstituteName" allow-pattern="(\s|[a-zA-Z])" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.birthday2)" ng-messages="myForm.birthday2.$error">
                                    <div ng-message="required">Enter InstituteName</div>
                                    <div ng-message="pattern">Enter alphabets</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Login credentials-->

                    <div ng-if="type == 'LoginCredentials'">

                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'LoginCredentials'">
                                UserName:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'LoginCredentials'">
                                <input class="form-control active" ng-model="obj.LoginCredentials1" name="LoginCredentials1" id="UserName" allow-pattern="(\s|[a-zA-Z0-9])" placeholder="UserName" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.LoginCredentials1)" ng-messages="myForm.LoginCredentials1.$error">
                                    <div ng-message="required">Enter Username</div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'LoginCredentials'">
                                Password:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'LoginCredentials'">
                                <input class="form-control active" ng-model="obj.LoginCredentials2" name="LoginCredentials2" allow-pattern="(\s|[a-zA-Z0-9]|-|,|:|.|#|@|&)" id="Password" placeholder="Password" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.LoginCredentials2)" ng-messages="myForm.LoginCredentials2.$error">
                                    <div ng-message="required">Enter Password</div>
                                    <div ng-message="pattern">Accept only - , : . # @ &  </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'LoginCredentials'">
                                Link:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'LoginCredentials'">
                                <input class="form-control active" ng-model="obj.LoginCredentials3" name="LoginCredentials3" id="Link" placeholder="Link" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.LoginCredentials3)" ng-messages="myForm.LoginCredentials3.$error">
                                    <div ng-message="required">Enter Link</div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'LoginCredentials'">
                                InstituteName:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'LoginCredentials'">
                                <input class="form-control active" ng-model="obj.LoginCredentials4" name="LoginCredentials4" id="InstitutenameL" allow-pattern="(\s|[a-zA-Z])" placeholder="Institutename" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.LoginCredentials4)" ng-messages="myForm.LoginCredentials4.$error">
                                    <div ng-message="required">Enter InstituteName</div>
                                    <div ng-message="pattern">Enter alphabets</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--FeeTransaction-->
                    <div ng-if="type == 'FeeTransaction'">
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'FeeTransaction'">
                                Amount Received:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'FeeTransaction'">
                                <input class="form-control active" ng-model="obj.FeeTransaction1" name="FeeTransaction1" id="AmoutReceived" allow-pattern="(\s|[0-9])" placeholder="AmoutReceived" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.FeeTransaction1)" ng-messages="myForm.FeeTransaction1.$error">
                                    <div ng-message="required">Enter Amount</div>
                                    <div ng-message="pattern">Enter only Numbers</div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'FeeTransaction'">
                                Receipt No:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'FeeTransaction'">
                                <input class="form-control active" ng-model="obj.FeeTransaction2" name="FeeTransaction2" id="ReceiptNo" allow-pattern="(\s|[0-9])" placeholder="ReceiptNo" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.FeeTransaction2)" ng-messages="myForm.FeeTransaction2.$error">
                                    <div ng-message="required">Enter Receipt Number</div>
                                    <div ng-message="pattern">Enter only Numbers</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'FeeTransaction'">
                                Towards:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'FeeTransaction'">
                                <input class="form-control active" ng-model="obj.FeeTransaction3" name="FeeTransaction3" id="Towards" placeholder="Towards" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.FeeTransaction3)" ng-messages="myForm.FeeTransaction3.$error">
                                    <div ng-message="required">Enter Towars</div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'FeeTransaction'">
                                Admission No:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'FeeTransaction'">
                                <input class="form-control active" ng-model="obj.FeeTransaction4" name="FeeTransaction4" id="AdmissionNumber" allow-pattern="(\s|[0-9])" placeholder="AdmissionNumber" type="text" style="height:30px" required>


                                <div class="error-messages" ng-if="interacted(myForm.FeeTransaction4)" ng-messages="myForm.FeeTransaction4.$error">
                                    <div ng-message="required">Enter AdmissionNumber</div>
                                    <div ng-message="pattern">Enter only Numbers</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'FeeTransaction'">
                                Institute Name:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'FeeTransaction'">
                                <input class="form-control active" ng-model="obj.FeeTransaction5" name="FeeTransaction5" id="InstitutenameF" placeholder="Institutename" allow-pattern="(\s|[a-zA-Z])" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.FeeTransaction5)" ng-messages="myForm.FeeTransaction5.$error">
                                    <div ng-message="required">Enter InstituteName</div>
                                    <div ng-message="pattern">Enter alphabets</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--FeeDueYEar-->

                    <div class="form-group">
                        <label class="control-label col-sm-4" ng-if="type == 'FeeDue'">
                            Due Year:<strong style="color:red;">*</strong>
                        </label>
                        <div class="col-md-8" ng-if="type == 'FeeDue'">
                            <input class="form-control active" ng-model="obj.FeeDue" id="FeeDueYear" placeholder="FeeDueYear" minlength="4" and maxlength="4" name="FeeDueYear" allow-pattern="(\s|[0-9])" type="text" style="height:30px" required>


                            <div class="error-messages" ng-if="interacted(myForm.FeeDueYear)" ng-messages="myForm.FeeDueYear.$error">
                                <div ng-message="required">Enter FeeDue Year</div>
                                <div ng-message="pattern">Enter Numbers only</div>
                                <div ng-message="minlength">Enter min 4 numbers</div>
                                <div ng-message="maxlength">Enter max 4 numbers</div>
                            </div>
                        </div>
                    </div>
                    <!--Attendance-->



                    <div ng-if="type == 'Attendance'">
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'Attendance'">
                                Ward:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'Attendance'">

                                <input class="form-control active" ng-model="obj.Attendance1" name="Attendance1" allow-pattern="(\s|[a-zA-Z0-9])" id="Ward" placeholder="Ward" type="text" style="height:30px" required>


                                <div class="error-messages" ng-if="interacted(myForm.Attendance1)" ng-messages="myForm.Attendance1.$error">
                                    <div ng-message="required">Enter Ward</div>
                                    <div ng-message="pattern">Enter Alphanumeric</div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'Attendance'">
                                Name:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'Attendance'">

                                <input class="form-control active" ng-model="obj.Attendance2" name="Attendance2" id="Name" allow-pattern="(\s|[a-zA-Z])" minlength="5" placeholder="Name" type="text" style="height:30px" required>


                                <div class="error-messages" ng-if="interacted(myForm.Attendance2)" ng-messages="myForm.Attendance2.$error">
                                    <div ng-message="required">Enter Name</div>
                                    <div ng-message="pattern">Enter alphabets</div>
                                    <div ng-message="minlength">minimum length required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'Attendance'">
                                Reason:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'Attendance'">

                                <input class="form-control active" ng-model="obj.Attendance3" allow-pattern="(\s|[a-zA-Z])" name="Attendance3" id="reason" placeholder="reason" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.Attendance3)" ng-messages="myForm.Attendance3.$error">
                                    <div ng-message="required">Enter Reason</div>
                                    <div ng-message="pattern">Enter alphabets</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'Attendance'">
                                Coming date:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'Attendance'">

                                <input class="form-control active" ng-model="obj.Attendance4" name="Attendance4" id="comingdate" placeholder="comingdate" type="text" minlength="10" maxlength="10" allow-pattern="(\s|[0-9]|-)" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.Attendance4)" ng-messages="myForm.Attendance4.$error">
                                    <div ng-message="required">Enter Date</div>
                                    <div ng-message="pattern">Enter Date format</div>
                                    <div ng-message="minlength">format dd-mm-yyyy</div>
                                    <div ng-message="maxlength">format dd-mm-yyyy</div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ng-if="type == 'Attendance'">
                                Institute Name:<strong style="color:red;">*</strong>
                            </label>
                            <div class="col-md-8" ng-if="type == 'Attendance'">

                                <input class="form-control active" ng-model="obj.Attendance5" name="Attendance5" allow-pattern="(\s|[a-zA-Z])" id="InstitutenameA" placeholder="Institutename" type="text" style="height:30px" required>

                                <div class="error-messages" ng-if="interacted(myForm.Attendance5)" ng-messages="myForm.Attendance5.$error">
                                    <div ng-message="required">Enter InstituteName</div>
                                    <div ng-message="pattern">Enter alphabets Only</div>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="text-center">
                        <md-button type="submit" ng-click="savemsg1()" class="md-raised md-primary">
                            Submit
                        </md-button>
                        <md-button type="submit" class="md-raised md-warn" ng-click="cleardata()">
                            <i class="fa fa-share-square-o"></i> Cancel
                        </md-button>
                    </div>

                    <hr />
                  
                        <div class="col-sm-8 text-center">
                            <div class="col-sm-8 ">
                                <label class="custom-file-input file-blue1" style="width:100%;margin:auto;">
                                    <input type="file" name="impfile" class="btn btn-success" value="Import" ng-model="imp.file" accept=".xlsx" onchange="angular.element(this).scope().selectFileforUploadzd(this, angular.element(this).scope().vm.gridOptions)" style="padding-top: 1px;padding-bottom: 2px;" fileread="" opts="vm.gridOptions" />
                                </label>
                            </div>
                            <br />
                            <br />
                        </div>
                  
                        <table class="table table-hover table-responsive table-bordered text-center">
                            <thead>
                                <tr ng-repeat="item in vm.gridOptions.data  | limitTo:1">
                                    <th>
                                        <a href="" ng-click="order('sno')">SLNO</a>
                                    </th>

                                    <th ng-repeat="key in item | keys">
                                        <a href="" ng-click="order(key)">{{key}}</a>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.gridOptions.data |orderBy:sortKey:reverse">
                                    <td>{{ $index + 1}}</td>
                                    <td ng-repeat="key in item | keys " ng-init="value = item[key]">{{value}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <pagination total-items="totalItems" ng-model="currentPage"
                                    max-size="5" boundary-links="true"
                                    items-per-page="numPerPage" class="pagination-sm">
                        </pagination>


                        <!--end box body-->

                    </div>
                </div>
        </div>
    </form>
</section>