<link href="./css/Portals/PortalsStyles.css" rel="stylesheet" />

<section class="content" ng-init="changeradio()">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Notification</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="radio text-center well">
                    

                    <label>
                        <input type="radio" value="Student" data-ng-model="radioval" ng-click="changeradio(radioval)">
                        <span class="lbl padding-8">STUDENT</span>
                    </label>

                    <label>
                        <input type="radio" value="Staff" data-ng-model="radioval" ng-click="changeradio(radioval)">
                        <span class="lbl padding-8">STAFF</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    

    <form class="form-horizontal" role="form" name="myForm1" novalidate>
        <div class="box box-primary" ng-show="radioval=='Student'">
            <div class="box-header with-border">
                <h3 class="box-title">Student</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Academic Year:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sm" name="year" ng-model="ASMAY_Id" ng-change="onSelectyear(ASMAY_Id)" required>
                                    <option value="">Select</option>
                                    <option ng-repeat="year in fillacademiyear" value="{{year.asmaY_Id}}" ng-selected="ASMAY_Id == year.asmaY_Id">
                                        {{year.asmaY_Year}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-5 error-messages" ng-if="interacted1(myForm1.year)" ng-messages="myForm1.year.$error">
                                <div ng-message="required">Select Academic Year</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Class:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sm" name="cls" ng-model="ASMCL_Id" ng-change="onSelectclass(ASMCL_Id)" required>
                                    <option value="" label="">--Select Class--<!--: <span style="color:red;">*</span>--></option>
                                    <option ng-repeat="class in classlist" value="{{class.asmcL_Id}}" ng-selected="ASMCL_Id == class.asmcL_Id">
                                        {{class.asmcL_ClassName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-5 error-messages" ng-if="interacted1(myForm1.cls)" ng-messages="myForm1.cls.$error">
                                <div ng-message="required">Select Class</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Section:<span style="color:red;">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sm" name="section" ng-model="asmS_Id" ng-change="GetStudentDetails(asmS_Id)" required>
                                    <option value="" label="">--Select Section--</option>
                                    <option ng-repeat="section in sectionlist" value="{{section.asmS_Id}}" ng-selected="asmS_Id == section.asmS_Id">
                                        {{section.asmC_SectionName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-sm-offset-5 error-messages" ng-if="interacted1(myForm1.section)" ng-messages="myForm1.section.$error">
                                <div ng-message="required">Select Section</div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
     
           <div class="box box-primary" ng-show="radioval=='Student'">
            <div class="box-header with-border">
                <h3 class="box-title">Student List</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">
                            <b> Total Grid Records :</b>
                            <label class="badge">
                                {{studentList.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-if="searchValue!=''">
                        <label class="control-label">
                            <b>Total Records Searched : </b>
                            <label class="badge">
                                {{filterValue1.length}}
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="hdTH">
                                <label>
                                    <input type="checkbox" value="" ng-model="all" ng-click="toggleAll()">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </th>
                            <!--<th>
                  SL.NO.
                </th>-->
                            <th>
                                STUDENT NAME
                            </th>
                            <th>ADM.NO</th>
                            <th>MOBILE NO.</th>
                            <th>EMAIL ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in filterValue1 = (studentList | filter : searchValue) |orderBy:sortKey:reverse  |itemsPerPage:itemsPerPage" current-page="currentPage">
                            <td class="text-center  hdTD">
                                <label>
                                    <input type="checkbox" data-ng-model="user.selected" ng-change="selected(user)">
                                    <span class="lbl padding-8"></span>
                                </label>
                            </td>
                            <!--<td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>-->
                            <td>{{user.studentName}}</td>
                            <td>{{user.amsT_AdmNo}}</td>
                            <td>{{user.amsT_MobileNo}}</td>
                            <td>{{user.amsT_emailId}}</td>

                        </tr>
                    </tbody>
                </table>
                <br />
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
       
         <div class="box box-primary" ng-show="radioval=='Student'">
             <div class="box-body">

                 <div class="col-sm-10">
                     <div class="form-group">
                         <label class="control-label col-sm-4"> Message :<span style="color:red;">*</span></label>
                         <div class="col-sm-8">
                             <textarea name="stdmsg" class="form-control" ng-model="stdmsg" placeholder="Please Write Your Message Here"></textarea>
                             <div class="error-messages" ng-if="interacted(myForm1.stdmsg)" ng-messages="myForm1.stdmsg.$error">
                                 <div ng-message="required">Please Enter Message</div>
                             </div>
                         </div>
                     </div>
                 </div>




                 <div class="text-center" ng-show="count > 0">
                     <input type="hidden" ng-model="EME_ID" value="{{emE_ID}}" />
                     <md-button type="button" ng-click="SendMSG(stdmsg)" ng-disabled="(stdmsg == null) ||(stdmsg == '')" class="md-raised md-primary" id="submit">
                         SEND NOTIFICATION
                     </md-button>
                     <button type="button" class="btn btn-warning" ng-click="cancel1()" ng-disabled="form.$invalid">
                         CANCEL
                     </button>
                 </div>
             </div>
        </div>
    </form>

    <form class="form-horizontal" role="form" name="myForm2" novalidate ng-show="radioval=='Staff'">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Staff </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row" ng-show="radioval=='Staff'">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="chkdept" ng-model="deptcheck" data-ng-click="all_checkdep()">
                                        <span class="lbl padding-8">Department <strong style="color:red;">*</strong></span>
                                    </label>
                                    <div class="multiselect col-sm-8">
                                        <label data-ng-model="Emp_DepartmentName" ng-repeat="option in departmentdropdown">
                                            <input type="checkbox" ng-model="option.selected" value="{{option.hrmD_Id}}" ng-click="get_designation()" name="option1" ng-required="isOptionsRequired1();">
                                            <span class="lbl padding-8">{{option.hrmD_DepartmentName}}</span>
                                        </label>
                                    </div>
                                    <div class="error-messages" ng-if="interacted(myForm.option1)" ng-messages="myForm.option1.$error">
                                        <div ng-message="required">Please Select Atleast One Department</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="chkdesg" ng-model="desgcheck" data-ng-click="all_checkdesg()" >
                                        <span class="lbl padding-8">Designation <strong style="color:red;">*</strong></span>
                                    </label>
                                    <div class="multiselect col-sm-8">
                                        <label data-ng-model="Emp_DesignationName" ng-repeat="option in Designation_types">
                                            <input type="checkbox" ng-model="option.selected" value="{{option.hrmdeS_Id}}" ng-click="get_employee()" name="option2" ng-required="isOptionsRequired2();">
                                            <span class="lbl padding-8">{{option.hrmdeS_DesignationName}}</span>
                                        </label>
                                    </div>
                                    <div class="error-messages" ng-if="interacted(myForm.option2)" ng-messages="myForm.option2.$error">
                                        <div ng-message="required">Please Select Atleast One Designation</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="control-label col-sm-2"> Message :<span style="color:red;">*</span></label>
                                <div class="col-sm-10">
                                    <textarea name="stfmsg" class="form-control" ng-model="stfmsg" placeholder="Please Write Your Message Here"></textarea>
                                    <div class="error-messages" ng-if="interacted2(myForm2.stfmsg)" ng-messages="myForm2.stfmsg.$error">
                                        <div ng-message="required">Please Enter Message</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>-->
                </div>
            </div>
        </div>

        <div class="=row" ng-show="radioval=='Staff'">
            <div class="box box-primary" ng-show="stf">
                <div class="box-header with-border">
                    <h3 class="box-title">Staff List</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{employeelst.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="stfsearchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue11.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="form-control" ng-model="stfsearchValue" type="text" placeholder="search here...">
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-responsive table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="hdTH">
                                    <label>
                                        <input type="checkbox" value="" ng-model="Stflist" ng-click="toggleAll1()">
                                        <span class="lbl padding-8"></span>
                                    </label>
                                </th>

                                <th>
                                    EMPLOYEE NAME
                                </th>
                                <th>
                                    EMPLOYEE CODE
                                </th>
                                <th>
                                    MOBLIE NO.
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="employee in  filterValue11 = (employeelst | filter : stfsearchValue) |orderBy:sortKey1:reverse1  |itemsPerPage:itemsPerPage" current-page="currentPage">
                                <td class="text-center  hdTD">
                                    <label>
                                        <input type="checkbox" ng-model="employee.selected" value="{{employee.hrmE_Id}}" ng-change="optionToggled(employee)">
                                        <span class="lbl padding-8"></span>
                                    </label>
                                </td>
                                <td>{{employee.hrmE_EmployeeFirstName}} {{employee.hrmE_EmployeeMiddleName}} {{employee.hrmE_EmployeeLastName}}</td>

                                <td> {{employee.hrmE_EmployeeCode}}</td>
                                <td> {{employee.hrmE_MobileNo}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>



                </div>
            </div>
        </div>
        <div class="box box-primary">          
            <!-- /.box-header -->
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label col-sm-2"> Message :<span style="color:red;">*</span></label>
                            <div class="col-sm-10">
                                <textarea name="stfmsg" class="form-control" ng-model="stfmsg" placeholder="Please Write Your Message Here"></textarea>
                                <div class="error-messages" ng-if="interacted2(myForm2.stfmsg)" ng-messages="myForm2.stfmsg.$error">
                                    <div ng-message="required">Please Enter Message</div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="text-center">
                  

                    <md-button type="button" ng-click="SendStaffData(stfmsg)" ng-disabled="(stfmsg == null) ||(stfmsg == '')" class="md-raised md-primary" id="submit">
                        SEND NOTIFICATION
                    </md-button>


                    <button type="button" class="btn btn-warning" ng-click="cancel2()" ng-disabled="form.$invalid">
                        CANCEL
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>