
<section class="content">
    <form class="form-horizontal ng-pristine ng-valid" role="form" name="myForm" data-ng-init="onLoadGetData()" novalidate>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">SALARY DETAILS</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="chkdept1" ng-model="groupTypeselectedAll" data-ng-click="all_checkgrptype()">
                                        <span class="lbl padding-8">Group Type <strong style="color:red;">*</strong></span>
                                    </label>

                                    <div class="multiselect col-sm-8">
                                        <label ng-repeat="groupType in groupTypedropdown">

                                            <input type="checkbox" name="selclass" ng-model="groupType.selected" ng-true-value="true" ng-false-value="false" ng-change="get_department()">
                                            <span class="lbl padding-8">
                                                {{groupType.hrmgT_EmployeeGroupType}}
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="chkdept" ng-model="deptcheck" data-ng-click="all_checkdep()">
                                        <span class="lbl padding-8">Department <strong style="color:red;">*</strong></span>
                                    </label>
                                    <div class="multiselect col-sm-8">
                                        <label data-ng-model="Emp_DepartmentName" ng-repeat="option in departmentdropdown">
                                            <input type="checkbox" ng-model="option.selected" value="{{option.hrmD_Id}}" ng-click="get_designation()" name="option1" ng-required="isOptionsRequired1();">
                                            <span class="lbl padding-8">{{option.hrmD_DepartmentName}}</span>
                                        </label>
                                    </div>
                                    <div class="error-messages" ng-if="interacted(myForm.option1)" ng-messages="myForm.option1.$error">
                                        <div ng-message="required">Please Select Atleast One Department</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="chkdesg" ng-model="desgcheck" data-ng-click="all_checkdesg()">
                                        <span class="lbl padding-8">Designation <strong style="color:red;">*</strong></span>
                                    </label>
                                    <div class="multiselect col-sm-8">
                                        <label data-ng-model="Emp_DesignationName" ng-repeat="option in Designation_types">
                                            <input type="checkbox" ng-model="option.selected" value="{{option.hrmdeS_Id}}" ng-click="get_employee()" name="option2" ng-required="isOptionsRequired2();">
                                            <span class="lbl padding-8">{{option.hrmdeS_DesignationName}}</span>
                                        </label>
                                    </div>
                                    <div class="error-messages" ng-if="interacted(myForm.option2)" ng-messages="myForm.option2.$error">
                                        <div ng-message="required">Please Select Atleast One Designation</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-2 ">  </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="col-sm-8 col-sm-offset-2">
                        <!--Month,year-->
                        <div class="form-group well">
                            <div class="text-center">
                                <label class="radio-inline">
                                    <span class="lbl padding-3">
                                        Year :<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                    </span>
                                </label>
                                <label class="radio-inline">
                                    <span class="lbl padding-3">
                                        <select class="form-control" id="sel1" data-ng-model="Employee.hreS_Year" name="hreS_Year" required>
                                            <!--ng-change="GetEmployeeList(Employee.hreS_Month,Employee.hreS_Year)"-->
                                            <option value="">Select</option>
                                            <option ng-repeat="leaveyear in leaveyeardropdown" value="{{leaveyear.hrmlY_LeaveYear}}" ng-selected="{{leaveyear.Selected===true}}">
                                                {{leaveyear.hrmlY_LeaveYear}}
                                            </option>
                                        </select>
                                        <span class="error-messages" ng-if="interacted(myForm.hreS_Year)" ng-messages="myForm.hreS_Year.$error">
                                            <span ng-message="required">Select Year</span>
                                        </span>
                                    </span>
                                </label>
                                <label class="radio-inline">
                                    <span class="lbl padding-3">
                                        Month :<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                    </span>
                                </label>
                                <label class="radio-inline">
                                    <span class="lbl padding-3">
                                        <select class="form-control" id="sel1" data-ng-model="Employee.hreS_Month" name="hreS_Month" required>
                                            <!--ng-change="GetEmployeeList(Employee.hreS_Month,Employee.hreS_Year)"-->
                                            <option value="">Select</option>
                                            <option ng-repeat="month in monthdropdown" value="{{month.ivrM_Month_Name}}" ng-selected="{{month.Selected===true}}">
                                                {{month.ivrM_Month_Name}}
                                            </option>
                                        </select>
                                        <span class="error-messages" ng-if="interacted(myForm.hreS_Month)" ng-messages="myForm.hreS_Month.$error">
                                            <span ng-message="required">Select Month</span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">

                <div class="text-center" ng-init="type=2">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group well">


                            <label class="radio-inline">
                                <input type="radio" ng-model="type" ng-value="2" name="all" ng-change="getDataByType(type);">
                                <span class="lbl padding-8">Individual</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="type" ng-value="1" name="all" ng-change="getDataByType(type);">
                                <span class="lbl padding-8">All</span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12" ng-show="type==2">
                <div class="text-center">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group well">


                            <div class="text-center">

                                <label class="col-sm-3">
                                    Employee :<strong style="color:red;display:inline; font-weight: bolder;">*</strong>
                                </label>

                                <div class="col-sm-8">
                                    <!--<span class="lbl padding-3">
                                    <select class="form-control" id="sel1" data-ng-model="Employee.hrmE_Id" name="hrmE_Id" required>
                                        <option value="">Select</option>
                                        <option ng-repeat="employee in employeelst" value="{{employee.hrmE_Id}}" ng-selected="{{employee.Selected===true}}">
                                            {{employee.hrmE_EmployeeFirstName}} {{employee.hrmE_EmployeeMiddleName}} {{employee.hrmE_EmployeeLastName}}
                                        </option>
                                    </select>
                                    <span class="error-messages" ng-if="interacted(myForm.hrmE_Id)" ng-messages="myForm.hrmE_Id.$error">
                                        <span ng-message="required">Select Employee</span>
                                    </span>
                                </span>-->
                                    <div class="col-sm-8">
                                        <ui-select id="sel1" name="studentname" ng-model="$parent.Employee1" theme="bootstrap"
                                                   title="Select Employee" style="width:300px">
                                            <!--ng-change="searchfilter($parent.hrmE_Id)"-->
                                            <ui-select-match ng-trim="false" placeholder="search Employee...">{{$select.selected.hrmE_EmployeeFirstName}} {{$select.selected.hrmE_EmployeeMiddleName}} {{$select.selected.hrmE_EmployeeLastName}}</ui-select-match>

                                            <ui-select-choices repeat="option in employeelst | filter: $select.search " value="{{option.hrmE_Id}}" ng-selected="{{option.Selected == true}}">
                                                <div ng-bind-html="(option.hrmE_EmployeeFirstName) +' '+(option.hrmE_EmployeeMiddleName) +' '+(option.hrmE_EmployeeLastName) | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="error-messages" ng-if="interacted(myForm.studentname)" ng-messages="myForm.studentname.$error">
                                        <div ng-message="required">Please Select Employee Name</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                    </div>
                </div>
            </div>
            <div class="text-center">
                <md-button type="submit" class="md-raised md-primary" id="save-btn" ng-click="GenerateSalarySlip()">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Get Details
                </md-button>
                <md-button type="button" class="md-raised md-warn" data-ng-click="cleardata()" ng-disabled="form.$invalid">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Cancel
                </md-button>
            </div>
        </div>

        <div class="box box-primary" ng-show="EmployeeDis">
            <div class="box-header with-border">
                <h3 class="box-title">Employee Salary Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-hover table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <th>EARNING</th>
                            <th>DEDUCTION</th>
                            <th>NET SALARY</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat='item in totals track by $index' style='font-weight: bold;text-align:center;'>{{item}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box box-primary" ng-show="newgrd">
            <div class="box-header with-border">
                <h3 class="box-title">Employee Salary Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div ng-repeat="rt in employeeSalaryslipDetails">
                    <table class="table table-hover table-responsive table-bordered text-center" style="margin-top:10px">
                        <thead>
                            <tr>
                                <th colspan="3">EMPLOYEE NAME : {{rt.name}}</th>

                            </tr>
                            <tr>
                                <th>EARNING</th>
                                <th>DEDUCTION</th>
                                <th>NET SALARY</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{rt.Earning}}</td>
                                <td>{{rt.Deduction}}</td>
                                <td>{{rt.NetAmt}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             
            </div>
        </div>
    </form>
</section>