.RVRegistrationReceipt {
    width: 61%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}


    .RVRegistrationReceipt .table {
        width: 100%;
        border: 0px;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 10px;
        /* background: #95c7ef; */
    }

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
 .box1{
       border:1px solid #000;
       padding:5px;
   }
