
@media print {
    /*@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}*/
    .h4, .h5, .h6, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}
    .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
    #RVRegistrationReceipt {       
        margin: auto;
        font-family: 'Source Sans Pro', sans-serif;      
        font-size: 15px !important;
    }

    table {    
        border: 0px !important;
        font-size: 14px !important;
    }
    .box1  .table{
        width:100% !important;
    }
    .table {
        width:92%;
        text-align:justify;
         margin: auto;
        border: 0px !important;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 10px;
        font-size: 15px !important;
        line-height:1.4;
    }
   .box1{
       border:1px solid #000;
       padding:5px;
   }
    .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
    -webkit-box-shadow: 0 0px 5px rgba(0,0,0,.2);
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
}
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
