/*email format global styles*/

/*email format styles for Baldwin*/
.EmailFormat-BB .table {
    table-layout: fixed;
    width: 100%;
    margin:auto;
    border: 0px !important;
    text-align: left !important;    
}
.EmailFormat-BB{
    width:80%;
    margin:auto;
}