.BBHSAPP {
    width: 98%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}
.modal-lg {
    width: 70%;
}

    .BBHSAPP h1, .BBHSAPP h2, .BBHSAPP h3, .BBHSAPP h4, .BBHSAPP h5, .BBHSAPP h6,
    .BBHSAPP .h1, .BBHSAPP .h2, .BBHSAPP .h3, .BBHSAPP .h4, .BBHSAPP .h5, .BBHSAPP .h6 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        color: #3a5999 !important;
        font-weight: 700;
        margin-top: 2px;
        margin-bottom: 2px;
    }

.BBHSAPP .table {
    width: 100%;
    border: 0px;
    font-weight: 600;
    text-align: left !important;
    margin-bottom: 10px;
    font-size: 12px !important;
}

        .BBHSAPP .table > tbody > tr > td, .BBHSAPP .table > tbody > tr > th, .BBHSAPP .table > tfoot > tr > td, .BBHSAPP .table > tfoot > tr > th, .BBHSAPP .table > thead > tr > td, .BBHSAPP .table > thead > tr > th {
            padding: 8px;
            line-height: 1.0;
            /* vertical-align: top; */
            border: 0px;
            font-size: 12px !important;
            font-weight: 500;
        }

    .BBHSAPP .box {
        margin: auto;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 0px;
    }

    .BBHSAPP .DOB-BOX {
        border: 1px solid #000;
        width: 20px;
        height: 20px;
        padding: 3px;
        padding-left: 6PX;
    }

.BBHSAPP .img-style {
    width: 3.5cm;
    height: 4.5cm;
    border: 1px solid #ddd;
    margin: auto;
    box-sizing: border-box;
}

    .BBHSAPP .img-box {
        margin-top: 67px;
    }

    .BBHSAPP .d {
        width: 49px;
        margin: auto;
        text-align: center;
    }

    .BBHSAPP .m {
        width: 44px;
        margin: auto;
        text-align: center;
    }

    .BBHSAPP .y {
        width: 75px;
        margin: auto;
        text-align: center;
    }
/*p::first-letter {
  font-weight: bold;
  color: blue;
  font:small-caps;
  
}*/
