.hutchings {
    width: 90%;
    margin: auto;  
 
}

.hutchings .border-bottom {
    border-bottom: 1px solid #000 !important;
    text-align: left;
}
.hutchings .bonafide{
    width:70%;
     margin: auto;  
}
.hutchings h1, .hutchings h2, .hutchings h3, .hutchings h4, .hutchings h5, .hutchings h6,
 .hutchings .h1, .hutchings .h2, .hutchings .h3, .hutchings .h4, .hutchings .h5, .hutchings .h6 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: none ;
    color: #3a5999 !important;
    font-weight: 700;
}
.hutchings table {
    table-layout: fixed;
    width: 100%;  
    margin-bottom: 15px; 
 
}
.hutchings .table {
    border: 0px;
    font-weight: 600;
    text-align: left !important;
    margin-bottom: 0px;
    /* background: #95c7ef; */
}
.hutchings .table>tbody>tr>td, .hutchings .table>tbody>tr>th, .hutchings .table>tfoot>tr>td, .hutchings .table>tfoot>tr>th, .hutchings .table>thead>tr>td, .hutchings .table>thead>tr>th {
    padding: 8px;
    line-height: 1.0;
    vertical-align: top;
    border: 0px;
    /*text-align: left !important;*/
    font-size: 15px;
}
.inlineTable .border-bottom-2 {
    width: 250px;
}
.border-bottom-2 {
    border-bottom: 1px solid #000 !important;
    text-align: left !important;
}

.hutchings .img-style{
    width:100px;
    height:100px;
    border:1px solid #ddd;
        float: right;
}
.img1-style {
    width: 80px;
    height: 100px;   
}
.hutchings .office-use-box {
    width: 800px;
    margin: auto;
    border: 1px solid #000;
    padding: 10px;
    font-size: 15px;
}
