<link href="css/LMS/site.css" rel="stylesheet" />
<link href="css/LMS/StyleSheet.css" rel="stylesheet" />
<link href="css/LMS/LMS.css" rel="stylesheet" />

<style>
    .divheight {
        height: 65px !important;
    }

    .divfootermargintop-10 {
        margin-top: 10px !important;
    }

    .word-wrap {
        word-wrap: break-word !important;
        text-decoration: underline;
    }

    .word-wrap-subject {
        word-wrap: break-word !important;
    }

    h3.accordion {
        margin: 0;
    }

    .accordion a {
        padding: 10px;
        background: #ddd;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        display: block;
        margin-bottom: 1px;
    }

    .accordion-content {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 1px 0;
    }

    .imgheightwidth {
        height: 30px;
        width: 30px;
    }

    .imgpfgdownload {
        width: 30px;
        height: 30px;
    }

    .subjectlistcolor {
        background: #f5f0ea;
        border-radius: 5px;
        /* color: #1D4793; */
        padding: 15px;
        display: block;
        font-family: 'Poppins', sans-serif
    }

    .subjectlistfont {
        color: #1D4793;
        font-size: 16px;
        font-weight: bold;
    }

    .subjectlistrightarrow {
        float: right;
        position: absolute;
        right: 29px;
        top: 5%;
        font-size: 30px;
    }
</style>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">LMS (Learning management system)</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus" ng-click="showSubDiv();"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal ng-pristine ng-valid" name="myForm" role="form" novalidate>
                <div data-ng-init="BindData()">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Class :<strong style="color:red;">*</strong></label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" name="stuayear" data-ng-model="ASMCL_Id" required ng-change="onchangeclass()">
                                            <option value="">-- Select Class --</option>
                                            <option ng-repeat="year in masterclass" value="{{year.asmcL_Id}}" ng-selected="{{year.asmcL_Id == ASMCL_Id}}">
                                                {{year.asmcL_ClassName}}
                                            </option>
                                        </select>
                                        <div class="error-messages" ng-if="interacted(myForm.stuayear)" ng-messages="myForm.stuayear.$error">
                                            <div ng-message="required">Select Class </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box box-primary" ng-if="getsubjectdetails.length>0">
        <div class="box-header with-border">
            <h3 class="box-title"> Subject List  <i class="fa fa-angle-double-right" style="font-size:19px" aria-hidden="true"></i>  {{classname}}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary" ng-hide="btnshow" ng-click="showSubjectdiv()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Bact To Subjects
                </button>
                <!--<md-button type="button" class="btn " id="divcollapse" ng-click="showSubjectdiv()">
                    Show Subjects
                </md-button>-->
            </div>
        </div>
        <div class="box-body" id="divsubjects">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4 col-xs-6" ng-repeat="subj in getsubjectdetails">
                        <div class="divheight">
                            <div class="subjectlistcolor">
                                <div class="text-body word-wrap-subject subjectlistfont" ng-click="gettopics(subj)">
                                    {{subj.ismS_SubjectName}}
                                </div>
                                <a class="small-box-footer subjectlistrightarrow" ng-click="gettopics(subj)">
                                    <i class="fa fa-angle-right" title="Get Details"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-primary" ng-if="mainunitdetails.length>0">
        <div class="box-header with-border">
            <h3 class="box-title">Topic List For " {{subjectname}} "</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body">
            <div class="panel-group accordion1">
                <div class="panel panel-default" ng-repeat="subj in mainunitdetails">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent=".accordion1" href=".{{subj.LPMU_Id}}1">
                                <img class="imgheightwidth" src="images/Naac/Unit.png" />  <b> {{subj.LPMU_UnitName}}</b>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse {{subj.LPMU_Id}}1">
                        <div class="panel-body">
                            <div class="panel-group accordion2">
                                <div class="panel panel-default" ng-repeat="main in subj.maintopicdetailslist">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent=".accordion2" href=".{{main.LPMMT_Id}}2">
                                                <img class="imgheightwidth" src="images/Naac/MainTopic.png" /> <b>{{main.LPMMT_TopicName}} </b>
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse {{main.LPMMT_Id}}2">
                                        <div class="panel-body">
                                            <div class="panel-group">
                                                <div class="panel panel-default" ng-repeat="topic in main.topicdetailslist">
                                                    <div class="panel-collapse collapse in">
                                                        <div class="panel-body" data-toggle="modal" data-target="#popup11" data-backdrop="static"
                                                             ng-click="getdocuments(topic)">
                                                            <b> {{$index+1}}. {{topic.LPMT_TopicName}} </b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="popup11" class="modal fade modal-medium" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="BindData()"><i class="fa fa-times text-white" aria-hidden="true"></i><!--&times;--></button>
                <h4 class="modal-title text-white">View Uploaded Files</h4>
            </div>
            <div class="modal-body">
                <div class="box-body margin-top-10">
                    <table class="table table-responsive table-bordered clearfix" style="width:100%;">
                        <thead>
                            <tr>
                                <th>SL.NO</th>
                                <th>File Name</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="documents in uploaddocfiles">
                                <td class="text-center">{{ $index + 1 }}</td>
                                <td class="text-left">{{documents.lpmtR_FileName}}</td>
                                <td class="text-center">
                                    <span ng-if="documents.lpmtR_Resources !=null && documents.lpmtR_Resources !=''">
                                        <a ng-if="documents.filetype=='jpg' || documents.filetype=='png' || documents.filetype=='svg'||                                                 documents.filetype=='jpeg' || documents.filetype=='gif'"
                                           style="color:red;display:inline; font-weight: bolder;"
                                           data-ng-click="showmothersign(documents.lpmtR_Resources,documents.lpmtR_FileName)">
                                            <img class="imgpfgdownload" src="/images/Naac/pictures.png" title="Image" />
                                        </a>
                                        <a ng-if="documents.filetype=='mp4' || documents.filetype=='mp4'"
                                           style="color:red;display:inline; font-weight: bolder;" data-toggle="modal" data-target="#popup15"
                                           ng-click="showGuardianPhotonew(documents)">
                                            <img class="imgpfgdownload" src="/images/Naac/play-button.png" title="Video" />
                                        </a>
                                        <a ng-if="documents.filetype=='pdf'" style="color:blue;display:inline;"
                                           ng-click="onview(documents.lpmtR_Resources,documents.lpmtR_FileName)">
                                            <img class="imgpfgdownload" src="/images/Naac/pdf.png" title="View Pdf" />
                                        </a>
                                        <a ng-if="documents.filetype=='doc'|| documents.filetype=='docx'" style="color:blue;display:inline;"
                                           href="{{documents.document_Pathnew}}" target="_blank">
                                            <!--ng-click="downloaddirectimage(documents.lpmtR_Resources,documents.lpmtR_FileName)-->
                                            <img class="imgpfgdownload" src="/images/Naac/filedoc.png" title="View Document" />
                                        </a>
                                        <a ng-if="documents.filetype=='ppt'|| documents.filetype=='pptx'" style="color:blue;display:inline;"
                                           href="{{documents.document_Pathnew}}" target="_blank">
                                            <!--ng-click="downloaddirectimage(documents.lpmtR_Resources,documents.lpmtR_FileName)-->
                                            <img class="imgpfgdownload" src="/images/Naac/ppt.png" title="View Document" />
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="myModalimg" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <img id="preview" class="img-responsive" />
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" ng-click="download()" data-dismiss="modal">Download</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade modal-small" id="popup15" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-white" aria-hidden="true"></i></button>
        </div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div ng-repeat="vi1 in view_videos" style="padding-bottom:20px">
                    <video width="320" height="240" controls="controls" controlsList="nodownload" oncontextmenu="return false;">
                        <source ng-src="{{vi1.coeeV_Videos | trustUrl}}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="pauseOrPlay()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="showpdf" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div id="pdfviewdd">

            </div>
            <!--<embed ng-src="{{content}}" style="width: 100%;" height="1000" />-->
            <div class="modal-body" oncontextmenu="return false"></div>
        </div>
    </div>
</div>