

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Master Topic Unit Mapping</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal ng-pristine ng-valid" name="myForm" data-ng-submit="saveddata()" role="form" novalidate>

                <div data-ng-init="BindData()">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Unit Name:<span style="color:red;">*</span></label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sel1" name="stuayear" data-ng-model="LPMU_Id" ng-change="gettopicnames()" required>
                                            <option value="">-- Select Unit --</option>
                                            <option ng-repeat="acedmicYear in getunitdetails" value="{{acedmicYear.lpmU_Id}}" ng-selected="{{acedmicYear.Selected == true}}">
                                                {{acedmicYear.lpmU_UnitName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-4 error-messages" ng-if="interacted(myForm.stuayear)" ng-messages="myForm.stuayear.$error">
                                        <div ng-message="required">Select Unit Name</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4">Topic Name:<strong style="color:red;">*</strong></label>
                                    <div class="multiselect col-sm-8">
                                        <input class="form-control" ng-model="search" type="text" placeholder="search here...">
                                        <label ng-repeat="className in gettopicdetails | filter:search">
                                            <input type="checkbox" ng-model="className.Selected" name="loc"
                                                   ng-required="isOptionsRequired()">
                                            <span class="lbl padding-8"> {{className.lpmT_TopicName}}  </span>
                                        </label>
                                    </div>
                                    <div class="col-sm-8 error-messages pull-right" ng-if="interacted(myForm.loc)" ng-messages="myForm.loc.$error">
                                        <div ng-message="required">Select Atleast One Location</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <input type="hidden" ng-model="LPMT_Id" value="{{LPMT_Id}}" />
                            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">
                                <i class="fa fa-save" aria-hidden="true"></i> Save
                            </md-button>
                            <md-button type="button" class="md-raised md-warn" ng-click="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Master Topic Unit Mapping</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>

            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div ui-grid="gridOptions" ui-grid-pagination class="grid text-center" id="style-4" style="height: 270px;"></div>
        </div>
    </div>

</section>