.InvDashBoard .inner {
    min-height: 90px;
    box-shadow: 0px 12px 20px 5px rgba(0,0,0,0.2);
}
.InvDashBoard .iconinner {
    min-height: 90px;
}

.InvDashBoard .inner h4 {
    word-break: break-all;
    width: 255px;
}

