@media print {

    @page {
        margin-top: 5px !important;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    .padding-50 {
        padding: 50px !important;
    }

    thead {
        text-align: center !important;
    }


    .footer-section {
        width: 100%;
        margin: auto;
    }

    .Monotype {
        font-family: Times New Roman, Times New Roman;
        text-transform: capitalize;
    }

    h4 {
        text-transform: none !important;
    }

    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .letter-spacing-4 {
        letter-spacing: 4px !important;
    }

    .padding-0 {
        padding: 0px !important;
    }

    table {
        width: 100%;
        table-layout: fixed;
        text-align: left !important;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .table {
        table-layout: fixed;
        border: 0px !important;
        font-weight: 500;
        text-align: left !important;
        font-size: 14px;
        padding: 5px !important;
        width: 100%;
        line-height: 1.5;
    }

    .dummy th {
        text-align: center !important;
    }

    .dummy1 td {
        text-align: center !important;
    }

    .dummy2 th {
        text-align: left !important;
        width: auto !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 0.1px solid #000 !important;
        padding: 3px;
        vertical-align: middle;
    }

    .table-curved tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
    }

    .table-curved tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }

    .table-curved {
        border-collapse: collapse;
    }

    .table-curved {
        border: 0.1px solid #000 !important;
        border-radius: 10px;
        border-left: 0px;
    }

    .table-bordered {
        width: 100%;
        padding-left: 10px;
    }

    .image {
        background-size: cover;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        height: 62em !important;
    }

    h1, h2, h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        color: #3a5999 !important;
    }

    .t1 {
        width: 15%;
        margin: auto;
    }

    .t2 {
        width: 17%;
        margin: auto;
    }

    .padding-0 {
        padding: 0px !important;
    }

    .padding-top-60 {
        padding-top: 60px !important;
    }

    .padding-top-5 {
        padding-top: 5px !important;
    }

    .padding-left-30 {
        padding-left: 30% !important;
    }

    .padding-left-60 {
        padding-left: 60% !important;
    }

    .margin-10 {
        margin: 10px !important;
    }

    .margin-top-5 {
        margin-top: 5px !important;
    }

    .margin-top-10 {
        margin-top: 10px !important;
    }

    .margin-top-28 {
        margin-top: 31% !important;
    }

    .margin-top-80 {
        margin-top: 80px !important;
    }

    .margin-top-130 {
        margin-top: 140px !important;
    }

    .margin-top-30p {
        margin-top: 30% !important;
    }

    .margin-left-33 {
        margin-left: 33px !important;
    }

    .box {
        border: 1px solid #000;
        width: 150px !important;
        margin: auto;
        border-radius: 4px;
        padding: 10px;
    }

    .box1 {
        border: 1px solid #000;
        width: 32% !important;
        border-radius: 15px;
        margin: auto;
        margin-top: 8px;
        padding: 8px;
    }

    .box2 {
        border: 1px solid #000;
        width: 90% !important;
        border-radius: 15px;
        margin: auto;
        margin-top: 10px;
        padding: 25px;
    }

    .border-radius {
        border: 1px solid #000;
        padding: 10px 0px 0px 0px;
        border-collapse: collapse;
        border-radius: 10px;
    }

    .pull-right {
        float: right !important;
    }

    .pull-left {
        float: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-left {
        text-align: left !important;
    }

    .text-center {
        text-align: center !important;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 0px;
        font-weight: 600;
        color: #000;
        font-size: 15px;
    }

    .grade-box {
        list-style-type: none;
        border-radius: 3px;
        border: solid 1px;
        position: relative;
        margin-top: 24px;
        padding-bottom: 5px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

        .grade-box:before {
            position: absolute;
            top: -20px;
            padding-left: 45%;
        }

    .subjectclass {
        width: 10% !important;
    }

    .ilu .table th {
        width: 130px !important;
    }

    .ProgressReport-bbkvnew:nth-child(2n) {
        page-break-after: always !important;
    }

    .width-260 {
        width: 260px !important;
    }

    .width-500 {
        width: 500px !important;
    }

    .width-50 {
        width: 50px !important;
    }

    .width-110 {
        width: 110px !important;
    }
}
