.ProgressReport-bbkvnew h1, .ProgressReport-bbkvnew h2, .ProgressReport-bbkvnew .ProgressReport-bbkvnew h3, .ProgressReport-bbkvnew h4, .ProgressReport-bbkvnew h5, .ProgressReport-bbkvnew h6 {
    font-family: 'Times New Roman', 'Times New Roman';
    text-transform: none;
    color: #3a5999 !important;
    font-weight: 700;
}

.ProgressReport-bbkvnew .section01 {
}

.ProgressReport-bbkvnew .body-section {
}

.ProgressReport-bbkvnew .footer-section {
}

.ProgressReport-bbkvnew .Monotype {
    font-family: 'Times New Roman', 'Times New Roman';
    text-transform: capitalize;
}

.ProgressReport-bbkvnew .letter-spacing-4 {
    letter-spacing: 4px !important;
}

.ProgressReport-bbkvnew h4 {
    text-transform: none !important;
}


.ProgressReport-bbkvnew .table {
    border: 0px !important;
    font-weight: 600;
    text-align: left !important;
    font-size: 15px;
    line-height: 1.5;
}

.ProgressReport-bbkvnew thead a {
    color: #fff !important;
}

.ProgressReport-bbkvnew thead {
    background: #0463c2;
    color: #fff !important;
    text-align: center;
}

.ProgressReport-bbkvnew .table > thead > tr > th, .ProgressReport-bbkvnew .table > tbody > tr > th,
.ProgressReport-bbkvnew .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #f4f4f4;
}

.ProgressReport-bbkvnew .table-bordered > thead > tr > th, .ProgressReport-bbkvnew .table-bordered > tbody > tr > th, .ProgressReport-bbkvnew .table-bordered > tfoot > tr > th,
.ProgressReport-bbkvnew .table-bordered > thead > tr > td, .ProgressReport-bbkvnew .table-bordered > tbody > tr > td, .ProgressReport-bbkvnew .table-bordered > tfoot > tr > td {
    border: 0.8px solid #cad4de;
    padding: 8px;
    vertical-align: middle;
}

.ProgressReport-bbkvnew .table-bordered {
    font-weight: 600;
    text-align: left !important;
    font-size: 16px;
    width: 100%;
}

.ProgressReport-bbkvnew .image {   
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 88em;
}


.ProgressReport-bbkvnew .box {
    border: 1px solid #000;
    width: 200px !important;
    border-radius: 4px;
    padding: 10px;
    margin: auto;
}

.ProgressReport-bbkvnew .box1 {
    border: 1px solid #000;
    width: 32% !important;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
}

.ProgressReport-bbkvnew .box2 {
    border: 1px solid #000;
    width: 95% !important;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
}

.ProgressReport-bbkvnew h1, .ProgressReport-bbkvnew h2, .ProgressReport-bbkvnew h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ProgressReport-bbkvnew .t1 {
    width: 14% !important;
    margin: auto;
}

.ProgressReport-bbkvnew .t2 {
    width: 17% !important;
    margin: auto;
}

.body-section .t3 {
    width: 55% !important;
    margin: auto;
}

.ProgressReport-bbkvnew .t4 {
    width: 30%;
    line-height: 0.1px;
}

.ProgressReport-bbkvnew .padding-top-60 {
    padding-top: 60px !important;
}

.ProgressReport-bbkvnew .padding-0 {
    padding: 0px !important;
}

.ProgressReport-bbkvnew .margin-top-5 {
    margin-top: 5px !important;
}

.ProgressReport-bbkvnew .margin-top-10 {
    margin-top: 10px !important;
}

.ProgressReport-bbkvnew .margin-top-28 {
    margin-top: 30% !important;
}

.ProgressReport-bbkvnew .margin-left-33 {
    margin-left: 33px !important;
}

.ProgressReport-bbkvnew label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 600;
    color: #000;
    font-size: 15px;
}

.ProgressReport-bbkvnew .grade-box {
    list-style-type: none;
    border-radius: 3px;
    border: solid 1px;
    position: relative;
    margin-top: 24px;
    padding-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
}

    .ProgressReport-bbkvnew .grade-box:before {
        position: absolute;
        top: -20px;
        padding-left: 45%;
    }

.ProgressReport-bbkvnew .border-radius {
    border: 1px solid #ccc;
    padding: 10px 0px 0px 0px;
    border-collapse: collapse;
    border-radius: 10px;
}

.table-curved tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table-curved {
    border-collapse: separate;
}

.table-curved {
    border: solid #ccc 1px;
    border-radius: 10px;
    border-left: 0px;
}

.subjectclass {
    width: 10px !important;
}
