<style>
    /*.alert {
        position: relative;
         top: 50px;
        left: 25%;
        width: 50%;
        z-index: 999999;
    }*/
    /*.alert {
        position: relative;
        top: 35px;
        left: -7%;
        width: 99%;
        z-index: 999891;
    }*/
    .alert {
        padding-bottom: 5px;
        position: initial;
        top: 0px;
        left: 0%;
        width: 80%;
        z-index: 999891;
        padding-top: 2px;
        margin: 10px;
    }

    .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
        background-color: rgb(63, 81, 181) !important;
    }
</style>
<section class="content">
    <div data-ng-init="academicDet()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Academic Year Master</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="ShowHide()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body" ng-show="IsHidden">
                <form class="form-horizontal" role="form" data-ng-submit="saveorgdata()" method="post" name="myForm" novalidate>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Academic From Year:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control active" id="1" data-ng-model="ASMAY_from_Year" name="fyear" ng-blur="count1()" allow-pattern="\d" minlength="4" maxlength="4" ng-change='setfromdate(ASMAY_from_Year)' ng-disabled="asmaY_Id > 0" required>
                                        <div class="error-messages" ng-if="interacted(myForm.fyear)" ng-messages="myForm.fyear.$error">
                                            <div ng-message="required">Enter Field Academic From Year</div>
                                            <div ng-message="pattern">Academic From Year must contain 4 digits</div>
                                            <div ng-message="minlength">Academic From Year must contain 4 digits</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Academic To Year:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control active" id="2" data-ng-model="ASMAY_to_Year" name="toyear" allow-pattern="\d" minlength="4" maxlength="4" ng-blur="todatevalidation(ASMAY_to_Year)" ng-disabled="asmaY_Id > 0" required>
                                        <div class="error-messages" ng-if="interacted(myForm.toyear)" ng-messages="myForm.toyear.$error">
                                            <div ng-message="required">Enter Field Academic To Year</div>
                                            <div ng-message="pattern">Academic To Year must contain 4 digits</div>
                                            <div ng-message="minlength">Academic To Year must contain 4 digits</div>
                                        </div>
                                        <p style="color:red;">
                                            {{yrerr}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Academic Year Order:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control active" id="3" allow-pattern="\d" data-ng-model="ASMAY_Order" name="ordr" minlength="1" maxlength="5" required>
                                        <div class="error-messages" ng-if="interacted(myForm.ordr)" ng-messages="myForm.ordr.$error">
                                            <div ng-message="required">Enter the Academic Year Order</div>
                                            <div ng-message="pattern">Only numbers  Starting from 1 is allowed</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Academic Year Code:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control active" id="4" allow-pattern="([a-zA-Z0-9]|-)" data-ng-model="ASMAY_AcademicYearCode" name="ordr4" required>
                                        <div class="error-messages" ng-if="interacted(myForm.ordr4)" ng-messages="myForm.ordr4.$error">
                                            <div ng-message="required">Enter the Academic Year Code</div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Start Date:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="frmdate" id="5" ng-change="validatetodate(ASMAY_From_Date)" ng-model="ASMAY_From_Date" md-placeholder="Enter date" required="" md-min-date="minDatef" md-max-date="maxDatef" onkeydown="return false"></md-datepicker><!--ng-disabled="selacdfryr"-->
                                        <div class="error-messages" ng-if="interacted(myForm.frmdate)" ng-messages="myForm.frmdate.$error">
                                            <div ng-message="required"> Select Start Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">End Date:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="todate" ng-model="ASMAY_To_Date" md-placeholder="Enter date" id="6"
                                                       ng-change='checkErr(ASMAY_From_Date,ASMAY_To_Date)' md-min-date="minDatet"
                                                       md-max-date="maxDatet" required="" onkeydown="return false"></md-datepicker><!--ng-disabled="selacdtoyr"-->
                                        <div class="error-messages" ng-if="interacted(myForm.todate)" ng-messages="myForm.todate.$error">
                                            <div ng-message="required"> Select End Date </div>
                                        </div>
                                    </div>
                                </div>
                                <span style="color:red;">{{errMessage}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Pre Admission Start Date:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="prfrmdate" ng-change="validatetodatepre(ASMAY_PreAdm_F_Date)" id="7" ng-disabled="prestdt" ng-model="ASMAY_PreAdm_F_Date" md-placeholder="Enter date" required="" md-min-date="minDatefP" md-max-date="maxDatefP" onkeydown="return false"></md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.prfrmdate)" ng-messages="myForm.prfrmdate.$error">
                                            <div ng-message="required"> Select PreAdmission Start Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Pre Admission End Date:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="pretodate" ng-model="ASMAY_PreAdm_T_Date" id="8" md-placeholder="Enter date" ng-change="checkErr1(ASMAY_PreAdm_F_Date,ASMAY_PreAdm_T_Date)" md-min-date="minDatetP" md-max-date="maxDatetP" required="" onkeydown="return false"></md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.pretodate)" ng-messages="myForm.pretodate.$error">
                                            <div ng-message="required"> Select PreAdmission End Date </div>
                                        </div>
                                    </div>
                                </div>
                                <span style="color:red;">{{errMessage1}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">Pre Admission Start Time:<span style="color:red;">*</span></label>
                                    <div class="col-sm-6">
                                        <div  allow-pattern="(\s|[0-9])" ng-paste="$event.preventDefault()">
                                            <div uib-timepicker name="sch_time24" ng-model="ScheduleTime_24" id="9" min="min" show-meridian="true" required></div>
                                            <!--<input type="time" placeholder="00:00:00" class="form-control" name="sch_time" ng-model="ScheduleTime" required>-->
                                            <div class="error-messages" ng-if="interacted(myForm.sch_time24)" ng-messages="myForm.sch_time24.$error">
                                                <div ng-message="required">Select Time From</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">Pre Admission End Time:<span style="color:red;">*</span></label>
                                    <div class="col-sm-6" allow-pattern="(\s|[0-9])" ng-paste="$event.preventDefault()">
                                        <div uib-timepicker name="sch_time_to24" ng-model="ScheduleTimeTo_24" id="10" min="min" show-meridian="true" required></div>
                                        <!--<input type="time" placeholder="00:00:00" class="form-control" name="sch_time" ng-model="ScheduleTime" required>-->
                                        <div class="error-messages" ng-if="interacted(myForm.sch_time_to24)" ng-messages="myForm.sch_time_to24.$error">
                                            <div ng-message="required">Select Time To</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Pre Admission Age Cut off Date:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="cutdate" ng-model="ASMAY_Cut_Of_Date" id="11" md-placeholder="Enter date" ng-disabled="prestdt" md-min-date="minDatetPC" md-max-date="maxDatetPC" required="" onkeydown="return false"></md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.cutdate)" ng-messages="myForm.cutdate.$error">
                                            <div ng-message="required"> Select Pre Admission Cut off Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Reference Date: </label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="frefmdate" ng-model="ASMAY_ReferenceDate" id="12" md-placeholder="Enter date" onkeydown="return false">
                                        </md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.frefmdate)" ng-messages="myForm.frefmdate.$error">
                                            <div ng-message="required"> Select Refernce Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Transport Start Date:</label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="tfrmdate" id="13" ng-change="validatetransportstartdate(ASMAY_TransportSDate)" 
                                                       ng-model="ASMAY_TransportSDate"
                                                       md-placeholder="Enter date" onkeydown="return false">
                                        </md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.tfrmdate)" ng-messages="myForm.tfrmdate.$error">
                                            <div ng-message="required"> Select Transport Start Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Transport End Date: </label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="tenddate" id="14" ng-change='validatetransportenddate(ASMAY_TransportSDate,ASMAY_TransportEDate)'
                                                       ng-model="ASMAY_TransportEDate" md-placeholder="Enter date" onkeydown="return false">
                                        </md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.tenddate)" ng-messages="myForm.tenddate.$error">
                                            <div ng-message="required"> Select Transport End Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Financial Year Start Date:</label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="ffrmdate" ng-model="ASMAY_RegularFeeFDate" md-placeholder="Enter date" id="15"
                                                       onkeydown="return false" ng-change="checkstartfinacial()" md-min-date="finacialstartdate"
                                                       md-max-date="finacialenddate">
                                        </md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.ffrmdate)" ng-messages="myForm.ffrmdate.$error">
                                            <div ng-message="required"> Select Financial Year Start Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Financial Year End Date: </label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="fenddate" ng-model="ASMAY_RegularFeeTDate" md-placeholder="Enter date" id="16"
                                                       onkeydown="return false" ng-change="checkendfinacial()" md-min-date="finacialstartdate1"
                                                       md-max-date="finacialenddate1" >
                                        </md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.fenddate)" ng-messages="myForm.fenddate.$error">
                                            <div ng-message="required"> Select Financial Year End Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Advance Date: </label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="afrmdate" ng-model="ASMAY_AdvanceFeeDate" md-placeholder="Enter date"
                                                       onkeydown="return false" id="17">
                                        </md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.afrmdate)" ng-messages="myForm.afrmdate.$error">
                                            <div ng-message="required"> Select Advance Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Arrear Date: </label>
                                    <div class="col-sm-7">
                                        <md-datepicker name="arrenddate" ng-model="ASMAY_ArrearFeeDate"
                                                       id="18" md-placeholder="Enter date" onkeydown="return false">
                                        </md-datepicker>
                                        <div class="error-messages" ng-if="interacted(myForm.arrenddate)" ng-messages="myForm.arrenddate.$error">
                                            <div ng-message="required"> Select Arrear Fee Date </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Institution:<span style="color:red;">*</span></label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="19" data-ng-model="MI_Id" name="inst" required>
                                            <option value="">--Select--</option>
                                            <option ng-repeat="option in institutionList" value="{{option.mI_Id}}" ng-selected="{{option.mI_Id===MI_Id}}">{{option.mI_Name}}</option>
                                        </select>
                                        <div class="error-messages" ng-if="interacted(myForm.inst)" ng-messages="myForm.inst.$error">
                                            <div ng-message="required">Select the Institution</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-center well">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="20" data-ng-model="ASMAY_NewAdmissionFlg">
                                        <span class="lbl padding-8">New Admission Flag</span>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="21" data-ng-model="ASMAY_ReggularFlg">
                                        <span class="lbl padding-8">Regular Flag </span>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="22" data-ng-model="ASMAY_NewFlg">
                                        <span class="lbl padding-8">New Flag </span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="text-center">
                        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" id="save-btn">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <!--SavedateValidation-->
                            Save
                        </md-button>
                        <md-button type="submit" class="md-raised md-warn" data-ng-click="clearid()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Clear
                        </md-button>
                        <md-button type="button" class="md-raised md-primary" data-toggle="modal" data-ng-click="getyearorder()" data-target="#myModalreadmit">
                            <i class="fa fa-sort" aria-hidden="true"></i>
                            Set Order
                        </md-button>
                        <md-button type="button" class="md-raised md-primary" data-toggle="modal" data-ng-click="viewdetails()" data-target="#myModalreadmitviewmyModalreadmitview">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            View Details
                        </md-button>
                    </div>
                </form>
            </div>
        </div>


        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Academic Years</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="ShowHide1()" data-widget="collapse" data-placement="bottom" data-toggle="tooltip" title="collapsible"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" ng-show="IsHidden1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b> Total Grid Records :</b>
                                <label class="badge">
                                    {{presentCountgrid}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-if="searchValue!=''">
                            <label class="control-label">
                                <b>Total Records Searched : </b>
                                <label class="badge">
                                    {{filterValue1.length}}
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <div class="form-group searchbox">
                            <div class="input-group">
                                <input class="form-control" ng-model="searchValue" type="text" placeholder="search here...">
                                <!--<span class="input-group-addon">-->
                                <!--<button type="button"><i class="fa fa-search" ng-click="searchByColumn(searchProspectus,searchColumn)"></i></button>-->
                                <!--<button type="submit" class="btn" ng-click="searchByColumn(searchProspectus,searchColumn)"><i class="fa fa-search"></i></button>-->
                                <!--</span>-->
                                <!--<select class="form-control" id="sel1" ng-model="searchColumn">
                                    <option value="" ng-selected="true">All</option>
                                    <option value="1">Academic Year</option>
                                    <option value="2">From Date</option>
                                    <option value="3">To Date</option>
                                    <option value="4">CutOff Date</option>-->
                                <!--<option value="5">Institute Name</option>-->
                                <!--</select>-->
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center">
                                <a href="">SLNO</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('mI_Name')">Institute Name</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('asmaY_Year')">Academic year</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('asmaY_From_Date')">From Date</a>
                            </th>
                            <th style="text-align:center">
                                <a href="" ng-click="sort('asmaY_To_Date')">To Date</a>
                            </th>
                            <th style="text-align:center"><a href="" ng-click="sort('asmaY_Cut_Of_Date')">CutOff Date</a></th>
                            <th style="text-align:center"><a href="" ng-click="sort('asmaY_Order')">Year order</a></th>
                            <th style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="user in filterValue1 = (students | filter : filterValue) |orderBy:sortKey:sortReverse |itemsPerPage:itemsPerPage" current-page="currentPage" ng-class-odd="'odd'">
                            <td style="text-align:center">{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                            <td>{{user.mI_Name}}</td>
                            <td>{{user.asmaY_Year}}</td>
                            <td>{{user.asmaY_From_Date| date:'dd/MM/yyyy'}}</td>
                            <td>{{user.asmaY_To_Date| date:'dd/MM/yyyy'}}</td>
                            <td>{{user.asmaY_Cut_Of_Date | date:'dd/MM/yyyy'}}</td>
                            <td>{{ user.asmaY_Order}}</td>
                            <td hidden="hidden">{{user.asmaY_Id}}</td>
                            <td class="text-center">
                                <div style="width:200px;margin:auto;display:inline">
                                    <div style="width:105px;float:left;text-align:left;">
                                        <a href="" ng-click="edit(user)" class="text-primary" data-placement="bottom" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>

                                        <!--<a href="" ng-click="delete(user)"
                                           class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Delete">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>-->
                                        <span ng-if="user.is_Active === true">
                                            <a href="" ng-click="deactive(user)"
                                               class="text-danger" data-placement="bottom" data-toggle="tooltip" title="Deactivate">
                                                Deactivate
                                            </a>
                                        </span>
                                        <span ng-if="user.is_Active === false">
                                            <a href="" ng-click="deactive(user)"
                                               class="text-green" data-placement="bottom" data-toggle="tooltip" title="Activate">
                                                Activate
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--<pagination total-items="totalItems" ng-model="currentPage"
                            max-size="5" boundary-links="true"
                            items-per-page="numPerPage" class="pagination-sm">
                </pagination>-->
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>

    </div>

    <div id="myModalreadmit" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-white">Academic Year Order</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="bg"></div>
                            <div class="row">
                                <div class="multiselect col-sm-6" style="height:auto">
                                    <!--<ul id="single" ng-sortable="configA">
                                        <li class="alert alert-info nomargin" style="cursor:pointer"
                                            ng-repeat="item in newuser2">{{item.asmaY_Year}}</li>
                                    </ul>-->
                                    <ul id="single" ui-sortable="sortableOptions" ng-model="newuser2">
                                        <li class="alert alert-info nomargin" style="cursor:pointer"
                                            ng-repeat="item in newuser2">{{item.asmaY_Year}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="text-center">
                        <md-button type="button" class="btn btn-default" data-ng-click="save()" data-dismiss="modal">Save</md-button>
                        <md-button type="button" class="btn btn-default" data-dismiss="modal">Close</md-button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="myModalreadmitview" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-white">Academic Year List</h4>
                </div>
                <div class="modal-body">
                    <div id="printSectionId">
                        <div class="row">
                            <div class="col-sm-12">                                                              
                                <table style="width:100%">
                                    <tr ng-if="nologo=true">
                                        <td colspan="4" class="baldwin text-center">
                                            <img src="{{imgname}}" class="img-responsive" alt="baldwin">                                          
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <center><h4>Academic Year List Report</h4></center>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <table class="table table-hover table-responsive table-bordered" id="table5">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">
                                               SLNO
                                            </th>
                                            <th style="text-align:center">
                                               Academic year
                                            </th>
                                            <th style="text-align:center">
                                                From Date
                                            </th>
                                            <th style="text-align:center">
                                                To Date
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in yearlist">
                                            <td style="text-align:center">{{$index+1}}</td>
                                            <td>{{user.asmaY_Year}}</td>
                                            <td>{{user.asmaY_From_Date| date:'dd/MM/yyyy'}}</td>
                                            <td>{{user.asmaY_To_Date| date:'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="text-center">
                        <md-button type="button" class="md-raised md-primary" id="print-btn" aria-disabled="false" ng-click="printData();">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            Print
                        </md-button>
                        <md-button type="button" class="md-raised md-primary" id="print-excel" aria-disabled="false" ng-click="exportToExcel('#printSectionId');">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Excel
                        </md-button>
                        <md-button type="button" class="md-raised md-warn" aria-disabled="false"  data-dismiss="modal">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Close
                        </md-button>                       
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
