

<section class="content">
    <form class="form-horizontal" role="form" name="frmmodule" ng-init="BindData()">

        <div class="row" ng-app="MyModule">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">General Setting Wizard</h3>

                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4" id="container"></div>
                        </div>
                        <span>&nbsp;</span>
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="word-wrap:break-word;"> General Setting Wizard - Initial Settings which has to be completed before proceding to institution level form settings.(This will changed Later) </p>
                            </div>
                        </div>
                        <hr />
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" id="save-btn" ng-click="start()">
                                Getting Start
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </md-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</section>




