
@media print {
    /*@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}*/
    #BBKVTC {
        width: 100%;
        margin: auto;
        font-size: 14px !important;
        line-height:0.8!important;
    }

    table {
        width: 100%;
        border: 0px !important;
        font-size: 14px !important;
    }

    .table {
        width: 100%;
        border: 0px !important;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 5px;
        font-size: 14px !important;
    }

    .tc img {
        width: 90%;
        margin: auto;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
