
@media print {
    /*@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}*/
    #BBKVTC {
        width: 100%;
        margin: auto;
        font-size: 14px !important;
    }

    table {
        width: 100%;
        border: 0px !important;
        font-size: 14px !important;
    }

    .table {
        width: 100%;
        border: 0px !important;
        font-weight: 600;
        text-align: left !important;
        margin-bottom: 5px;
        font-size: 14px !important;
    }

    .tc img {
        width: 50%;
        margin: auto;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
     .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
        border: 0.4px solid #000000 ;
      font-size:11px !important; 
      padding:9px !important;
       /*padding-bottom:0.4px !important;
       /*line-height: 1.4 !important;*/  
    }

     .prince{
         border-left:none !important;
          border-left-color:white;
     }
      .office{

          border-right:none !important;
          border-right-color:white;
     }

      
}
