@media print {
    @page {
        size: A4;
    }
    .box {
       /* border: 1px solid #000;*/
        margin: 2px;
        padding: 5px;
        padding-left: 10px;
    }

    .user-image > img {
        width: 100px;
        height: 100px;
        border: 1px solid #0463c2;
    }

    .box-body {
        min-height: 50px !important;
        line-height: 1;
        font-weight: 500;
        font-size: 12px;
    }

    .checkbox-inline {
        display: none;
    }

    .border-left {
        border-left: 1px solid #000;
        position: relative;
    }

    .border-right {
        border-right: 1px solid #000;
        position: relative;
    }

    .border-bottom {
        border-bottom: 1px solid #000;
        position: relative;
    }

    .logo img {
        width: 60%;
        margin: auto;
        height: auto;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
    }

    .StudentBook2 .footer {
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
}
