.StudentBook2 .logo img{
    display:none;
}

.StudentBook2 .margin-top-150 {
    margin-top: 0px !important;
}

.StudentBook2 .user-image > img {
    width: 120px;
    height: 120px;
    border: 1px solid #0463c2;
}

.StudentBook2 .box-body {
    min-height: 420px !important;
    line-height: 1.8;
    font-weight: 600;
}
.box-header .border-bottom{
    border:0px !important;
}
   .StudentBook2 .footer {
       display:none;
    }