<?xml version="1.0"?>
<configuration>
  
  <system.webServer>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    
    
  <rewrite>
      <rules>
        <rule name="AngularJS Conditions" stopProcessing="true">
          <match url="(preloader/.*|fonts/.*|dist/.*|plugins/.*|js/.*|images/.*|css/.*|Views/.*|app/.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <!--Redirect selected traffic to index -->
        
      <rule name="Index Rule" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/api/" negate="true" />
        </conditions>
       <action type="Rewrite" url="/index.html" />
      </rule>

      </rules>
    </rewrite>
  
  
  </system.webServer>
</configuration>